<!--
 * @Author: Supermark
 * @Date: 2022-01-11 11:51:13
 * @Description: 运营活动首页
-->
<template>
  <div class="activity">
    <van-sticky :offset-top="0" class="head">
      <div class="dj-common-nav-header">
          <div class="left" @click="goBack">
            <i class="common-go-back"></i>
          </div>
          <div class="nav-title">活动</div>
          <div class="activity-rule" v-if="!maintainInfo.maintain_status" @click="operateRules">
            <i class="common-activity-rule"></i>
          </div>
      </div>
    </van-sticky>
    <template v-if="loading < 2">
      <list-load class="loading"/>
    </template>
    <template v-else>
      <template v-if="!maintainInfo.maintain_status && activityEntrance">
          <div class="activity-content">
            <div class="activity-head-bg"></div>
            <div class="open-text">距离下次盲盒更新还有</div>
            <div class="count-down">
              <div>{{countDownObj.h}}</div>
              <div style="margin-right: 8px;">小时</div>
              <div>{{countDownObj.m}}</div>
              <div style="margin-right: 8px;">分钟</div>
              <div>{{countDownObj.s}}</div>
              <div>秒</div>
            </div>
            <div class="blind-boxs">
              <div class="each-box">
                <div class="gem-box">
                  <div class="silver" @click="chooseBox(1,treasureNum[1])"></div>
                  <!-- <div class="silver-gray"></div> -->
                  <!-- <div class="blind-shadow"></div> -->
                  <div class="silver-floor"></div>
                </div>
                <div class="box-top">
                  <div :class="{'high-light': highLight == 1}">白银</div>
                  <div class="residue">剩余：<span>{{treasureNum[1]}}</span>个</div>
                </div>
                <div class="open-box">
                  <div>我的奖券</div>
                  <div class="ticket">{{currentTotal}}</div>
                </div>
              </div>
              <div class="each-box">
                <div class="gem-box">
                  <div class="gold" @click="chooseBox(2,treasureNum[2])"></div>
                  <!-- <div class="gold-gray"></div> -->
                  <!-- <div class="blind-shadow"></div> -->
                  <div class="gold-floor"></div>
                  <div v-if="0" class="gold-floor-gray"></div>
                </div>
                <div class="box-top">
                  <div :class="{'high-light': highLight == 2}">黄金</div>
                  <div class="residue">剩余：<span>{{treasureNum[2]}}</span>个</div>
                </div>
                <div class="open-box" :class="{'open-center': canOpenBox && !isShowFive}">
                  <div v-if="!isShowFive" @click="operateCenter(priceNum)">
                    <div>拆盒一次</div>
                    <div class="ticket" v-if="priceNum > 0">奖券x{{priceNum}}</div>
                  </div>
                  <div v-else class="five-down">
                    <div class="five-time">{{fiveCount}}</div>
                    <div class="five-text">秒冷却倒计时</div>
                  </div>
                </div>
              </div>
              <div class="each-box">
                <div class="gem-box">
                  <div class="diamond" @click="chooseBox(3,treasureNum[3])"></div>
                  <!-- <div class="diamond-gray"></div> -->
                  <!-- <div class="blind-shadow"></div> -->
                  <div class="diamond-floor"></div>
                </div>
                <div class="box-top">
                  <div :class="{'high-light': highLight == 3}">钻石</div>
                  <div class="residue">剩余：<span>{{treasureNum[3]}}</span>个</div>
                </div>
                <div class="floor-btn" @click="showHistory(1)">
                  <span>历史记录</span>
                </div>
              </div>
            </div>
          </div>
          <activeTask @showBoxType="showBoxType"></activeTask>
          <activityRules v-if="isShowRules" @operateRules="operateRules"></activityRules>
          <popup v-if="isShowpopup" :popupType="popupType" :popupNum="popupNum" @closePopup="closePopup"></popup>
          <activityHistory v-if="isShowHistory" :historyList="historyList" :historyTotal="historyTotal" :historyPage="historyPage" @showHistory="showHistory" @closeHistory="closeHistory"></activityHistory>
      </template>
      <template v-else>
        <activity-maintain :data="maintainInfo" />
      </template>
    </template>
  </div>
</template>
<script>
import { mapGetters, mapState } from 'vuex';
import * as userApi from "@/api/user.js";
import activityRules from "./activityRules";
import activeTask from "./activeTask";
import popup from "./popup";
import activityHistory from "./activityHistory";
import activityMaintain from "./activityMaintain";
import listLoad from "@/views/common/listLoad"
import cryptoJS from '@/views/common/mixins/crypto.js'
export default {
  name: 'activity',
  mixins:[cryptoJS],
  data() {
    return {
      isShowRules: false,   // 是否显示规则页
      isShowpopup: false,   // 是否显示开宝箱弹窗
      popupNum: 0,          // 奖金/奖券数
      treasureNum: {},      // 宝箱的剩余数量
      highLight: 2,         // 默认宝箱黄金高亮
      priceNum: 0,          // 开箱需要消耗的奖券数
      priceCount: [],       // 三种宝箱需要消耗的奖券集合
      countDownObj:{        // 宝箱倒计时对象
        h:'00',
        m:'00',
        s:'00'
      },
      popupType: 0,         // 打开宝箱显示的弹窗类型
      interval: null,       // 倒计时
      historyList: [],      // 盲盒领取记录数据
      historyPage: 1,       // 历史记录的总页数
      historyTotal: 0,      // 历史记录总数
      isShowHistory: false, // 是否显示历史记录
      currentBoxCount: 0,   // 当前选中的宝箱剩余数量
      loading: 0,           // 是否加载中
      isShowFive: false,    // 是否显示5秒倒计时
      fiveCount: 5          // 5秒倒计时
    }
  },
  components: {
    activityRules,
    activeTask,
    popup,
    activityHistory,
    listLoad,
    activityMaintain
  },
  computed:{
    ...mapState({
      userInfo: state => state.user.userInfo,
    }),
    ...mapGetters([
        'currentTotal', // 我的奖券总数
        'maintainInfo', // 活动维护页信息
        'activityEntrance', // 商户活动开关状态
      ]),
    canOpenBox(){
      return this.currentBoxCount > 0 && this.currentTotal >= this.priceNum
    }
  },
  created(){
    this.getActivityCount();
    this.getActivityStatus(0);
    // 定时轮询获取活动状态
    if (this.activityStatusInterval) {
      clearInterval(this.activityStatusInterval)
    }
    this.activityStatusInterval = setInterval(() => {
      this.getEntranceStatus()
    },5000);
  },
  mounted() {
    // 切换页签---调用盲盒个数和盲盒更新倒计时接口
    // document.addEventListener('visibilitychange',this.tabChange);
  },
  methods: {
    // 获取活动入口状态
    getEntranceStatus(){
      return this.$store.dispatch("fetchActivityState", {'merchant':this.userInfo.merchant_id});
    },
    goBack() {
      this.$router.go(-1);
    },

    // 操作规则页
    operateRules() {
      this.isShowRules = !this.isShowRules
    },

    // 获取会员下次盲盒更新时间，我的奖券数，三种宝箱需要消耗的奖券
    getActivityStatus(val) {
      userApi.requestActivityStatus().then((res) => {
        if(res.data.status == "true"){
          // 保存倒计时时间
          let time = res.data.data.cooldown
          this.countDownTime(time) // 开始倒计时
          // 我的奖券总数
          let bonusAmount = res.data.data.bonus_amount
          // 将当前奖券总数存在vuex里面
          this.$store.commit("SET_CURRENT_TOTAL", bonusAmount);
          // 三种宝箱需要消耗的奖券
          this.priceCount =  res.data.data.price
          // 默认高亮黄金宝箱
          if(val == 0){
            this.chooseBox(2,this.treasureNum[2])
          }
        }
      }).catch(err => {
        console.error(err)
      })
    },

    // 切换页签--更新盲盒倒计时，三种宝箱需要消耗的奖券，我的奖券数
    // tabChange(){
    //   const visibilityState =  document.visibilityState;
    //   if(visibilityState == "visible"){
    //     this.getActivityStatus(1)
    //   }
    // },

    // 宝箱倒计时
    countDownTime(time) {
      clearInterval(this.interval)
      this.interval = setInterval(() => {
        if(time <= 0){
          clearInterval(this.interval)
          time = 0
          this.setShowTime(time)
          this.getActivityStatus(2) // 倒计时为0的时候 更新: 盲盒更新时间，三种宝箱需要消耗的奖券，我的奖券数
          this.getActivityCount() // 获取宝箱数量
        }else{
          time -= 1
          this.setShowTime(time)
        }
      },1000)
    },

    // 格式化倒计时
    setShowTime(time) {
      this.countDownObj.h = parseInt(time / 3600 % 24).toString().padStart(2,0)
      this.countDownObj.m = parseInt(time / 60 % 60).toString().padStart(2,0)
      this.countDownObj.s = parseInt(time % 60).toString().padStart(2,0)
      this.loading +=1
    },

    // 获取宝箱数量
    getActivityCount() {
      userApi.requestActivityCount().then((res) => {
        if(res.data.status == "true"){
          this.treasureNum = res.data.data
          // highLight当前的宝箱类型 1:白银 2:黄金 3:钻石
          this.currentBoxCount = this.treasureNum[this.highLight] // 记录当前选中的宝箱剩余数量
        }
        this.loading +=1
      }).catch(err => {
        console.error(err)
      })
    },

    // 打开宝箱---参数priceNum:当前宝箱需要消耗的奖券数 currentBoxCount:当前选中的宝箱剩余数 currentTotal:我的奖券总数
    operateCenter(priceNum)  {
      if(this.currentBoxCount > 0 && this.currentTotal >= priceNum){ // 符合这个条件宝箱才可点击开启
        userApi.requestActivityClaimBox({box_type: this.highLight}).then(res => {
          if(res.data.status == 'true') {
            let award = res.data.data.award
            if(award){
              this.popupType = 1  // 显示当前类型1弹窗--'恭喜你获得奖金xx元！'
              this.popupNum = award  // 当前金额数量
              this.isShowpopup = true

              this.getActivityCount() // 宝箱开启成功后,调用接口更新宝箱数量
              let currentTotal = this.currentTotal - priceNum
              this.$store.commit("SET_CURRENT_TOTAL", currentTotal);
              this.isShowFive = true
              this.fiveCount = 5
              clearInterval(this.setTime)
              this.setTime = setInterval(() => {
                if(this.fiveCount == 0) {
                  this.isShowFive = false
                  clearInterval(this.setTime)
                }
                this.fiveCount -= 1
              },1000)
            }
          }else{
            let openStatus = res.data.data.status
            if( openStatus == 400){
              this.popupType = 2  // 显示当前类型2弹窗--'真可惜没抢到，等等下一轮吧！'
              this.isShowpopup = true
              this.getActivityCount() // 调用接口更新宝箱数量
            }else if (openStatus == 403) {
              this.popupType = 8  // 显示当前类型8弹窗--'网络卡顿,请稍后再试！'
              this.isShowpopup = true
              this.getActivityCount() 
            }
          }
        })
      }
    },

    // 宝箱历史记录 
    showHistory(page) {
      let pramas = {
        page: page || 1,
        page_size: 10
      }
      userApi.requestActivityBoxRecords(pramas).then((res) => {
        if(res.data.status == "true"){
          this.historyList = res.data.data.data; // 历史记录
          this.historyList.forEach(el => {
            if(el.award){
              el.award = el.award / 100
            }
          });
          this.historyTotal = res.data.data.total; // 历史总数
          this.historyPage = Math.ceil(res.data.data.total/10) // 当前总页数
          this.isShowHistory = true
        }
      }).catch(err => {
        console.error(err)
      })
    },

    // 点击选择宝箱类型
    chooseBox(val,count) {
      // 当前的宝箱类型 val 1:白银 2:黄金 3:钻石
      this.highLight = val
      // 设置当前宝箱需要消耗的奖券数
      this.priceNum = this.priceCount[val-1].price
      // 记录当前选中的宝箱总数
      this.currentBoxCount = count
    },

    // 点击领取显示弹窗类型
    showBoxType(obj){
      this.popupType = obj.type  // 显示当前类型4弹窗--'恭喜你获得奖券xx张！'
      this.popupNum = obj.num    // 当前奖券数量
      this.isShowpopup = true
    },

    // 点击确定关闭开箱弹窗
    closePopup() {
      this.isShowpopup = false
    },

    // 点击历史弹窗关闭按钮关闭历史弹窗 
    closeHistory() {
      this.isShowHistory = false
    }
  },
  // 组件销毁时清除定时器
  beforeDestroy() {
    // 切换调用盲盒个数和盲盒更新倒计时接口
    // window.removeEventListener('visibilitychange', this.tabChange);
    this.activityStatusInterval && clearInterval(this.activityStatusInterval);
    clearInterval(this.interval)
  },
}
</script>
<style lang="less">
.activity {
  overflow: auto;
  background: #272C32;
  .loading{
    margin-top: 50px;
  }
  .head {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 140;
  }
  .nav-title {
    font-size: 18px;
  }
  .activity-rule {
    position: absolute;
    height: 49px;
    width: 49px;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      width: 24px;
      height: 24px;
    }
  }
  .activity-head-bg {
    width: 100%;
    height: 262px;
    background-image: url("~@/assets/images/activity/activity-banner.jpg");
    background-size: cover;
  }
  .open-text {
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #ffffff;
    opacity: 0.6;
  }
  .count-down {
    display: flex;
    justify-content: center;
    width: 260px;
    height: 30px;
    line-height: 29px;
    text-align: center;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 16px;
    div:nth-child(2n+1){
      width: 30px;
      font-size: 16px;
      color: #E7BB02;
      font-weight: 500;
      background: rgba(0,0,0,0.40);
      border: 0.5px solid rgba(255,255,255,0.32);
      border-radius: 4px;
    }
    div:nth-child(2n){
      font-size: 12px;
      color: #ffffff;
      margin-left: 4px;
    }
  }
  .activity-content {
    margin-top: 49px;
  }
  .blind-boxs {
    width: 360px;
    margin: 0 auto;
    display: flex;
    .each-box {
      flex: 1;
    }
    .gem-box{
      position: relative; 
    }
    .box-top {
      text-align: center;
      margin-top: 107px;
      .residue {
        opacity: 0.6;
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0;
        font-weight: 400;
        margin: 4px 0 12px 0;
      }
      .high-light {
        color: #E7BB02;
      }
    }
    .floor-btn {
      width: 100px;
      height: 40px;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-size: 14px;
      color: #FFFFFF;
      font-weight: 400;
      background-image: linear-gradient(180deg, rgba(216,216,216,0.26) 6%, rgba(250,249,249,0.10) 34%, rgba(250,249,249,0.02) 47%, rgba(234,234,234,0.12) 100%), linear-gradient(1deg, rgba(34,34,34,0.20) 4%, rgba(19,20,18,0.50) 50%, rgba(37,37,37,0.20) 97%);
      border: 1px solid rgba(255,255,255,0.30);
      border-radius: 4px;
    }
    .open-box {
      width: 100px;
      height: 40px;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-weight: 500;
      background-image: linear-gradient(180deg, rgba(216,216,216,0.26) 6%, rgba(250,249,249,0.10) 34%, rgba(250,249,249,0.02) 47%, rgba(234,234,234,0.12) 100%), linear-gradient(1deg, rgba(34,34,34,0.20) 4%, rgba(19,20,18,0.50) 50%, rgba(37,37,37,0.20) 97%);
      border: 1px solid rgba(255,255,255,0.30);
      border-radius: 4px;
      .ticket{
        opacity: 0.6;
        font-size: 12px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        font-weight: 400;
      }
      .five-down{
        display: flex;
        justify-content: center;
        align-items: center;
        .five-time{
          min-width: 15px;
          font-size: 16px;
          text-align: center;
        }
        .five-text{
          font-size: 12px;
        }
      }
    }
    .open-center{
      font-size: 14px;
      font-weight: 500;
      background-image: linear-gradient(180deg, #61C5FF 8%, #0271BD 55%, #027ED0 100%);
      box-shadow: 0 2px 0 0 #0073C1, 0 3px 0 0 rgba(0,0,0,0.20);
      border-radius: 4px;
    }
    .blind-shadow{
      position: absolute;
      top: 50px;
      width: 82px;
      height: 20px;
      background-image: url("~@/assets/images/activity/shadow.png"); // 投影
      background-size: cover;
      z-index: 28;
    }
    .silver-floor{
      position: absolute;
      top: 55px;
      left: 10px;
      width: 100px;
      height: 44px;
      background-image: url("~@/assets/images/activity/silver-floor.png"); // 白银底盘
      background-size: cover;
      z-index: 26;
    }
    .gold-floor{
      position: absolute;
      top: 55px;
      left: 10px;
      width: 100px;
      height: 44px;;
      background-image: url("~@/assets/images/activity/gold-floor.png"); // 黄金底盘
      background-size: cover;
      z-index: 26;
    }
    .gold-floor-gray{
      position: absolute;
      top: 55px;
      left: -9px;
      width: 100px;
      height: 44px;
      background-image: url("~@/assets/images/activity/tacitly-floor.png"); // 默认底盘
      background-size: cover;
      z-index: 26;
    }
    .diamond-floor{
      position: absolute;
      top: 55px;
      left: 10px;
      width: 100px;
      height: 44px;
      background-image: url("~@/assets/images/activity/diamond-floor.png"); // 钻石底盘
      background-size: cover;
      z-index: 26;
    }
  }
  .silver {
    position: absolute;
    left: 50%;
    margin-left: -41px;
    width: 82px;
    height: 80px;
    background-image: url("~@/assets/images/activity/activity-silver.png");
    background-size: cover;
    z-index: 30;
  }
  .gold {
    position: absolute;
    left: 50%;
    margin-left: -41px;
    width: 82px;
    height: 80px;
    background-image: url("~@/assets/images/activity/activity-gold.png");
    background-size: cover;
    z-index: 30;
  }
  .diamond {
    position: absolute;
    left: 50%;
    margin-left: -41px;
    width: 82px;
    height: 80px;
    background-image: url("~@/assets/images/activity/activity-diamond.png");
    background-size: cover;
    z-index: 30;
  }
  .silver-gray {
    position: absolute;
    width: 82px;
    height: 80px;
    background-image: url("~@/assets/images/activity/silver-gray.png");
    background-size: cover;
    z-index: 30;
  }
  .gold-gray {
    position: absolute;
    width: 82px;
    height: 80px;
    background-image: url("~@/assets/images/activity/gold-gray.png");
    background-size: cover;
    z-index: 30;
  }
  .diamond-gray {
    position: absolute;
    width: 82px;
    height: 80px;
    background-image: url("~@/assets/images/activity/diamond-gray.png");
    background-size: cover;
    z-index: 30;
  }
}
</style>