<!--
 * @Author: Supermark
 * @Date: 2022-01-20 17:51:54
 * @Description: 宝箱领取历史记录
-->
<template>
  <div class="fullpopup">
    <div class="par-box">
      <div class="head-text">
        <div>盲盒抽取记录</div>
        <div class="close-popup" @click="closeHistory">
          <i class="common-rule-close"></i>
        </div>
      </div>
      <div v-if="historyTotal > 0" class="content-max">
        <div class="content-fat">
          <div class="head-title">
            <div class="each-box">盲盒</div>
            <div class="each-box border-two">领取时间</div>
            <div class="each-box">金额<span class="money">（元）</span></div>
          </div>
          <template v-for="(item,index) in historyList">
            <div class="mid-text" :key='index'>
              <div class="each-box">{{showType(item.box_type)}}</div>
              <div class="each-box border-two">
                <div>{{ timetrans(item.create_time/1000).y }}</div>
                <div>
                  {{ timetrans(item.create_time/1000).d }}:{{ timetrans(item.create_time/1000).s }}
                </div>
              </div>
              <div class="each-box award">{{item.award}}</div>
            </div>
          </template> 
        </div>
      </div>
      <div v-else class="no-task">
        <div class="no-fat">
          <div class="no-task-bg"></div>
          <div class="no-task-text" style="margin-bottom:86px;">暂无盲盒抽取记录~</div>
        </div>
      </div>
      <van-pagination
        v-if="historyTotal > 0"
        v-model="currentPage"
        :total-items="125"
        :show-page-size="3"
        :page-count='historyPage'
        force-ellipses
        @change="changePage"
      />
    </div>
  </div>
</template>
<script>
import { timetrans } from "@/assets/scripts/utils";
export default {
  name: 'activityHistory',
  props:{
    // 当前历史数据
    historyList: {
        type: Array,
        default: []
    },
    // 可翻页总数
    historyPage: {
        type: Number,
        default: 1,
    },
    // 历史记录总条数
    historyTotal: {
        type: Number,
        default: 0,
    },
  },
  data() {
    return {
      currentPage: 1, // 当前页
    };
  },
  methods: {
    timetrans, // 时间转换方法
    // 盲盒名称转换
    showType(boxType){
      if(boxType == 1){
        return '白银'
      }else if(boxType == 2){
        return '黄金'
      }else if(boxType == 3){
        return '钻石'
      }
    },
    // 点击翻页
    changePage(val) {
      this.currentPage = val
      this.$emit('showHistory',val)
    },
    // 关闭弹窗
    closeHistory(){
      this.$emit('closeHistory')
    }
  },
}
</script>
<style lang="less">
.fullpopup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 145;
  .van-pagination {
    height: 50px;
    background-color: #54585d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 8px 8px;
    .van-pagination__item{
      padding: 0 5px;
      background-color: #54585d;
      min-width: 32px;
    }
    .van-pagination__item{
      color: #FFFFFF;
    }
    .van-pagination__item:after{
      border-width: 0 0 0 0;
    }
    .van-hairline {
      width: 32px;
      height: 32px;
      border: 0.5px solid rgba(255,255,255,0.32);
      border-radius: 4px;
      margin: 0 5px;
    }
    .van-pagination__item--active{
      width: 32px;
      height: 32px;
      background-image: linear-gradient(180deg, #61C5FF 8%, #0271BD 55%, #027ED0 100%);
      border-radius: 4px;
    }
    .van-pagination__prev {
      background: rgba(255,255,255,0.20);
      max-width: 55px !important;
    }
    .van-pagination__next{
      background: rgba(255,255,255,0.20);
      max-width: 55px !important;
    }
  }
  .par-box {
    width: 343px;
    border-radius: 8px;
    overflow: hidden;
    .head-text {
      position: relative;
      line-height: 40px;
      text-align: center;
      background-color: rgb(61, 62, 65);
      .close-popup {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 8px;
        top: 4px;
        i {
          width: 16px;
          height: 16px;
        }
      }
    }
    .content-max {
      overflow: hidden;
      background-color: rgb(39, 41, 43);
      .content-fat {
        background-color: rgb(39, 41, 43);
        border: 0.5px solid rgba(255,255,255,0.32);
        margin: 12px 12px;
        .head-title {
          // width: 316px;
          display: flex;
          font-size: 12px;
          color: #FFFFFF;
          text-align: center;
          margin: 0 auto;
          background-color: rgb(61, 62, 65);
          .each-box{
            height: 40px;
            line-height: 40px;
            flex: 1;
            .money {
              opacity: 0.6;
            }
          }
          .border-two {
            border-left: 1px solid rgba(255,255,255,0.20);
            border-right: 1px solid rgba(255,255,255,0.20);
          }
        }
        .mid-text {
          display: flex;
          align-items: center;
          text-align: center;
          min-height: 50px;
          border-top: 1px solid rgba(255,255,255,0.20);
          font-size: 12px;
          color: #FFFFFF;
          .each-box{
            // display: flex;
            flex: 1;
          }
          .border-two {
            height: 49px;
            border-left: 1px solid rgba(255,255,255,0.20);
            border-right: 1px solid rgba(255,255,255,0.20);
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
          }
          .award {
            font-size: 16px;
            color: #E7BB02;
            font-weight: 700;
          }
        }
      }
    }
    .no-task {
      width: 343px;
      background-color: rgb(68, 72, 78);
      text-align: center;
      .no-fat {
        overflow: hidden;
        .no-task-bg {
          width: 260px;
          height: 180px;
          margin: 0 auto;
          margin-top: 46px;
          margin-bottom: 8px;
          background-image: url("~@/assets/images/activity/activity-nothing.png"); // 无任务背景图
          background-size: cover;
        }
        .no-task-text {
          font-size: 14px;
          color: #FFFFFF;
          margin-bottom: 86px;
        }
      }
    }
  }
}
</style>