<!--
 * @Author: Supermark
 * @Date: 2022-01-11 14:09:21
 * @Description: 活动规则页
-->
<template>
<div class="fullscreen">
  <div class="activity-rules">
    <div class="rule-title">
      <div class="rule-header">活动规则</div>
      <div class="rule-close" @click="closeRules">
        <i class="common-rule-close"></i>
      </div>
    </div>
    <div class="active-object">
      <div class="flex">
        <span class="text">活动对象：</span>
        <span class="text-right">本场馆全体会员</span>
      </div>
      <div class="flex">
        <span class="text">活动时间：</span>
        <span class="text-right">长期有效</span>
      </div>
      <div class="flex">
        <span class="text">活动内容：</span>
        <span class="text-right">达成指定任务可获得一定数量的奖券，集齐足够奖券即可抽取对应等级的盲盒，每个盲盒100%中奖，盲盒奖金随机发放</span>
      </div>
    </div>
    <div class="flex-box">
      <div v-for="(itemBox,i) in blindBox" :key="i" class="flex-one">
        <div v-for="(item,index) in itemBox" :key="index" class="flex-two">
          <div :class="{'size-color': index != 0}">
            {{item}}
          </div>
        </div>
      </div>
    </div>
    <div class="info">
      <div class="content">
        
        <div class="heder-content">
          <div class="hede-rule">活动规则：</div>
          1、每日任务/成长任务
        </div>
        <div class="flex content-color">
          <div>a、</div>
          <div>会员达成指定任务即可获得对应数量的奖券，奖券仅可用于盲盒抽奖；</div>
        </div>
        <div class="flex content-color">
          <div>b、</div>
          <div>每日在本场馆产生一笔有效注单，即视为投注1天；<br><span class="content-red">英雄召唤不列入有效投注计算;</span></div>
        </div>
        <div class="flex content-color">
          <div>c、</div>
          <div>每日任务数据每五分钟更新一次，成长任务数据每小时更新一次，统计周期过后数据将自动清零重新计算，请会员于周期结束前30分钟完成任务并领取奖券，避免因数据延迟领取失败；</div>
        </div>
        <div class="flex content-color">
          <div>d、</div>
          <div>仅计算投注≥50元的有效注单，且所有注单皆以结算时间为准，任何不高于1.5水位、同一赛事中同时投注对等盘口，以及串关注单、复合玩法注单，皆不予计算。</div>
        </div>
        <div class="flex content-color content-red">
          <div>e、</div>
          <div>第一滴血+摧毁首座水晶、首先获得五杀+摧毁首座防御塔，此类赛事定义为复合玩法</div>
        </div>
        <div class="flex content-color">
          <div>f、</div>
          <div>每天00:00-00:10为数据统计时段，可能因网络原因导致任务奖励无法正常领取，请避开此时段即可。</div>
        </div>
        <div class="heder-content">2、盲盒活动</div>

        <div class="flex content-color">
          <div>a、</div>
          <div>会员可根据完成任务获得的奖券数量，抽取三种不同等级盲盒，每种盲盒皆为100%中奖；</div>
        </div>
        <div class="flex content-color">
          <div>b、</div>
          <div>盲盒在每天12:00开抢，每120分钟补充一次，一天补充4次，先抽先得；</div>
        </div>
        <div class="flex content-color">
          <div>c、</div>
          <div>盲盒奖励实时派发，仅需在本场馆完成1倍流水即可出款。</div>
        </div>
        <div class="heder-content">3、每位有效会员、每个手机号、每个电子邮箱、每张银行卡、每个IP地址、每台电脑使用者，在活动期间仅可享受1次优惠，如会员使用一切不正当投注、套利等违规行为，我们将保留无限期审核扣回彩金及所产生利润的权利；</div>
        <div class="heder-content">4、为避免文字理解差异，本场馆保留本活动最终解释权。</div>
      </div>
    </div>
  </div>
</div >
</template>
<script>
const blindBox = [
    [
      '钻石盲盒',
      '888',
      '588',
      '188',
      '88',
    ],
    [
      '黄金盲盒',
      '288',
      '128',
      '68',
      '28',
    ],
    [
      '白银盲盒',
      '58',
      '38',
      '18',
      '8',
    ],
];
export default {
  name: 'activityRules',
  data() {
    return {
      blindBox,
    };
  },
  methods: {
    closeRules() {
      this.$emit('operateRules')
    }
  },
}
</script>
<style lang="less">
.fullscreen {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 150;
  .activity-rules {
    width: 343px;
    height: 84%;
    background-color: rgb(50, 52, 52);
    border-radius: 8px;
    overflow: auto;
    .rule-title {
      position: fixed;
      width: 343px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(71, 68, 67);
      border-radius: 8px 8px 0 0;
      .rule-header {
        font-size: 14px;
        line-height: 40px;
        color: #ffffff;
        font-weight: 500;
      }
      .rule-close {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 10px;
        i {
          width: 16px;
          height: 16px;
        }
      }
    }
    .active-object {
      margin-top: 40px;
      padding: 12px 12px;
      .text{
        color:rgb(137, 137, 139);
        font-size: 12px;
      }
      .text-right{
        color:rgb(242, 242, 241);
        font-size: 12px;
      }
      div:last-child {
        span:last-child{
          flex: 1;
        }
      }
    }
    .flex-box{
      display: flex;
      justify-content: center;
      font-size: 12px;
      color: #FFFFFF;
      font-weight: 400;
      .flex-one{
        width: 106px;
        border-right: 1px solid rgb(96, 95, 92);
      }
      .flex-two{
        line-height: 40px;
        text-align: center;
        border-bottom: 1px solid rgb(96, 95, 92);
      }
      .flex-one:first-child{
        border-left: 1px solid rgb(96, 95, 92);
      }
      .flex-two:first-child{
        border-top: 1px solid rgb(96, 95, 92);
      }
      .size-color{
        color: #E7BB02;
        font-weight: 700;
      }
    }
    .info{
      padding: 0 12px;
      font-size: 12px;
      margin-bottom: 16px;
      .heder-content{
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
        margin: 16px 0 8px 0;
      }
      .hede-rule{
        // padding-left: 20px;
        color: rgb(253, 253, 253);
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 4px;
      }
      .content-color{
        line-height: 20px;
        color: rgb(153, 155, 156)
      }
      .content-red{
        line-height: 20px;
        color: rgb(217, 71, 52)
      }
    }
  }
}
</style>