<template>
    <div class="maintain-container"
         :style="`background: url(${ tyOssData.ty_img_domain + data.h5_maintain_url}) center top / cover;`">
        <div class="maintain-title">{{ data.title }}</div>
        <div class="maintain-des" v-if="data.content">
            <div class="des" v-for="item in data.content.split('/')">{{ item }} </div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
    props: {
        data: {
            type: Object,
            default: () => {}
        }
    },
    computed: {
        ...mapGetters(["tyOssData"]),
    }
};
</script>
<style lang="less">
.maintain-container {
    width: 100vw;
    min-height: 100%;
    background: url("~@/assets/images/activity/maintain-bg.jpg") no-repeat;
    //background-position: center top;
    //background-size: cover;
    .maintain-title{
        padding: 46vh 10px 0;
        font-size: 20px;
        color: #FFFFFF;
        letter-spacing: 0;
        text-align: center;
        font-weight: 400;
    }
    .maintain-des{
        margin: 24px auto 15px;
        width: 90%;
        height: 40vh;
        overflow-y: auto;
        text-align: center;
        .des{
            margin-top: 2px;
            opacity: 0.5;
            font-family: PingFangSC-Regular;
            font-size: 16px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            font-weight: 400;
        }
    }
}
</style>
