<!--
 * @Author: Supermark
 * @Date: 2022-01-14 13:59:50
 * @Description: 每日任务+成长任务+奖券领奖记录
-->
<template>
  <div class="activeTask">
    <van-tabs active="0" @click="getTaskList">
      <!-- 每日任务 -->
      <van-tab title="每日任务" name="0">
        <template v-if="loading">
          <div class="is-loading">
            <van-loading type="spinner"/>
          </div>
        </template>
        <template v-else>
          <div class="flex head-box" v-if="!isShowNoTask">
            <span class="each-box">奖券</span>
            <span class="each-box">任务内容</span>
            <span class="each-box">状态</span>
          </div>
          <template v-for="item in taskList">
            <div class="flex task-info" :key="item.id" v-if="!isShowNoTask">
              <div class="each-box flex-ticket">
                <div class="ticket"></div>
                <div class="ticket-count">x{{item.ticket_num}}</div>
              </div>
              <div class="each-box task-name">{{item.task_name}}</div>
              <div class="each-box receive-fat">
                <div class="receive" :class="{'unfinished': item.bonus_type < 3}" @click="getOne(item.bonus_id,item.bonus_type)">{{ showTicketStatus(item.bonus_type) }}</div>
              </div>
            </div>
          </template>
          <div class="no-task" v-if="isShowNoTask">
            <div>
              <div class="no-task-bg"></div>
              <div class="no-task-text" style="margin-bottom:86px;">当前没有可领取的任务~</div>
            </div>
          </div>
          <div class="floor-btn" v-if="!isShowNoTask">
            <div>* 每五分钟更新一次<br />* 英雄召唤不列入有效投注计算</div>
            <div @click="getAll" :class="{'unfinished': allGet}">一键领取</div>
          </div>
        </template>
      </van-tab>
      <!-- 成长任务 -->
      <van-tab title="成长任务" name="1">
        <template v-if="loading">
          <div class="is-loading">
            <van-loading type="spinner"/>
          </div>
        </template>
        <template v-else>
          <div class="flex growth-task" v-if="!isShowNoTask">
            <div class="each-box">
              <div class="flex">
                <div>{{statistic.monthly_bet_days}}</div>
                <div>天</div>
              </div>
              <div class="text">本月累计投注天数</div>
            </div>
            <div class="each-box">
              <div class="flex">
                <div>{{statistic.weekly_bet_amount}}</div>
                <div>元</div>
              </div>
              <div class="text">本周累计有效投注额</div>
            </div>
            <div class="each-box">
              <div class="flex">
                <div>{{statistic.monthly_bet_amount}}</div>
                <div>元</div>
              </div>
              <div class="text">本月累计有效投注额</div>
            </div>
          </div>
          <div class="flex head-box" v-if="!isShowNoTask">
            <span class="each-box">奖券</span>
            <span class="each-box">任务内容</span>
            <span class="each-box">状态</span>
          </div>
          <template v-for="item in taskList">
            <div class="flex task-info" :key="item.id" v-if="!isShowNoTask">
              <div class="each-box flex-ticket">
                <div class="ticket"></div>
                <div class="ticket-count">x{{item.ticket_num}}</div>
              </div>
              <div class="each-box task-name">{{item.task_name}}</div>
              <div class="each-box receive-fat">
                <div class="receive" :class="{'unfinished': item.bonus_type != 3}" @click="getOne(item.bonus_id,item.bonus_type,item.ticket_num)">{{ showTicketStatus(item.bonus_type) }}</div>
              </div>
            </div>
          </template>
          <div class="no-task" v-if="isShowNoTask">
            <div>
              <div class="no-task-bg"></div>
              <div class="no-task-text" style="margin-bottom:86px;">当前没有可领取的任务~</div>
            </div>
          </div>
          <div class="floor-btn" v-if="!isShowNoTask">
            <div>* 每小时更新一次<br />* 英雄召唤不列入有效投注计算</div>
            <div @click="getAll" :class="{'unfinished': allGet}">一键领取</div>
          </div>
        </template>
      </van-tab>
    </van-tabs>

    <!-- 奖券领奖记录 -->
    <div class="get-history">奖券领奖记录</div>
    <van-tabs active="0" @click="ticketHistory">
      <!-- 每日任务 -->
      <van-tab title="每日任务" name="0">
        <div class="flex head-box" v-if="total > 0">
          <span class="each-box">奖券</span>
          <span class="each-box">任务内容</span>
          <span class="each-box">领取时间</span>
        </div>
        <template v-for="(item,index) in ticketHistoryList">
          <div class="flex task-info" :key="index" v-if="total > 0">
            <div class="each-box flex-ticket">
              <div class="ticket"></div>
              <div class="ticket-count">x{{item.ticket_num}}</div>
            </div>
            <div class="each-box task-name">{{item.task_name}}</div>
            <div class="each-box">
              <div>{{ timetrans(item.receive_time/1000).y }}</div>
              <div>
                {{ timetrans(item.receive_time/1000).d }}:{{ timetrans(item.receive_time/1000).s }}
              </div>
            </div>
          </div>
        </template>
        <div class="no-task" v-if="total <= 0">
          <div>
            <div class="no-task-bg"></div>
            <div class="no-task-text" style="margin-bottom:86px;">无领取记录~</div>
          </div>
        </div>
      </van-tab>
      <!-- 成长任务 -->
      <van-tab title="成长任务" name="1">
        <div class="flex head-box" v-if="total > 0">
          <span class="each-box">奖券</span>
          <span class="each-box">任务内容</span>
          <span class="each-box">领取时间</span>
        </div>
        <template v-for="(item,index) in ticketHistoryList">
          <div class="flex task-info" :key="index" v-if="total > 0">
            <div class="each-box flex-ticket">
              <div class="ticket"></div>
              <div class="ticket-count">x{{item.ticket_num}}</div>
            </div>
            <div class="each-box task-name">{{item.task_name}}</div>
            <div class="each-box">
              <div>{{ timetrans(item.receive_time/1000).y }}</div>
              <div>
                {{ timetrans(item.receive_time/1000).d }}:{{ timetrans(item.receive_time/1000).s }}
              </div>
            </div>
          </div>
        </template>
        <div class="no-task" v-if="total <= 0">
          <div>
            <div class="no-task-bg"></div>
            <div class="no-task-text" style="margin-bottom:86px;">无领取记录~</div>
          </div>
        </div>
      </van-tab>
      <van-pagination
        v-if="total>0"
        v-model="currentPage"
        :total-items="125"
        :show-page-size="3"
        :page-count='pageCount'
        force-ellipses
        @change="changePage"
      />
    </van-tabs>
  </div>
</template>
<script>
import { mapGetters } from 'vuex';
import { timetrans } from "@/assets/scripts/utils";
import * as userApi from "@/api/user.js";
import popup from "./popup";
export default {
  name: 'activeTask',
  data() {
    return {
      total: 0, // 是否显示翻页组件
      currentPage: 1, // 翻页默认参数
      ticketStatus: 3, // 奖励状态：1：已领取 2：未完成 3：领取
      taskList: [],  // 任务列表
      pageCount: 1,  // 总翻页数
      ticketHistoryList: [], // 奖券历史记录数据
      historyType: 0, // 奖券历史记录类型 0 每日任务 1 成长任务
      statistic: {
        monthly_bet_days: 0, // 月投注天数
        weekly_bet_amount: 0, // 周投注额
        monthly_bet_amount: 0, // 月投注额
      },
      isShowNoTask: false, // 是否显示无任务
      currentTaskType: 0, // 当前任务类型
      allGet: false,     // 一键领取是否高亮
      loading: false,    // 是否加载中
    }
  },
  components: {
    popup // 领奖弹窗组件
  },
  computed:{
    ...mapGetters([
      'currentTotal' // 我的奖券总数
    ])
  },
  created() {
    this.getTaskList(0)
    this.ticketHistory(0)
  },
  methods: {
    timetrans,
    // 获取每日任务/成长任务--列表数据
    getTaskList(val) {
      // val: 0-每日任务  1-成长任务
      this.loading = true
      this.currentTaskType = val
      userApi.requestActivityQuest({task_type: String(val)}).then(res => {
        if(res.data.status != "true") return
        this.taskList = res.data.data
        this.taskList.length > 0 ? this.isShowNoTask = false : this.isShowNoTask = true // 判断是否无任务

        let allGetArr = [];
        this.taskList.forEach(item => {
          if(item.bonus_type == 3){
            allGetArr.push(item)
          }
        })
        this.allGet = allGetArr.length < 2
        this.loading = false
      }).catch(err => {
        console.error(err)
      });
      // 成长任务里面的会员头部统计
      if(val == 1){
        this.getActivityStatistic()
      }
    },
    // 成长任务表格
    getActivityStatistic() {
      userApi.requestActivityStatistic().then(res => {
        if(res.data.status == 'true'){
          this.statistic.monthly_bet_days = res.data.data.monthly_bet_days
          this.statistic.weekly_bet_amount = res.data.data.weekly_bet_amount
          this.statistic.monthly_bet_amount = res.data.data.monthly_bet_amount
        }
      }).catch(err => {
        console.error(err)
      });
    },
    // 奖励状态：1：已领取 2：未完成 3：领取
    showTicketStatus(bounsType) {
      if(bounsType == 1){
        return '已领取'
      }else if(bounsType == 2){
        return '未完成'
      }else if(bounsType == 3){
        return '领取'
      }else if(bounsType == 4){
        return '已下架'
      }
    },
    // 单个领取  参数---bonus_id:当前任务ID  bonus_type:当前任务类型
    getOne(bonus_id,bonus_type) {
      if (bonus_type != 3) return
      let params = {
        bonus_ids: bonus_id,
        task_type: this.currentTaskType
      }
      userApi.requestActivityClaimBonus(params).then(res => {
        if (res.data.status == 'true') {
          // 成功领取
          if(res.data.data.status == 'success'){
            this.taskList.forEach(item => {
              if(item.bonus_id == bonus_id){
                item.bonus_type = 1
              }
            })
            let amount = res.data.data.amount
            this.showBox(4,amount)
            // 我的奖券总数 + 单个领取的奖券总数--存在vuex里方便开宝箱的时候去消耗奖券总数
            let currentTotal = this.currentTotal + amount
            this.$store.commit("SET_CURRENT_TOTAL", currentTotal);
          }
        }else if(res.data.status == 'false'){ 
          // 当前任务已下架
          if(res.data.data.status == 'task invalid'){
            let amount = res.data.data.amount
            this.showBox(3,amount)
            this.taskList.forEach(item => {
              if(item.bonus_id == bonus_id){
                item.bonus_type = 4
              }
            })
          }
        }
      })
    },
    // 一键领取
    getAll() {
      let arr = []
      this.taskList.forEach(item => {
        if(item.bonus_type == 3){
          arr.push(item.bonus_id)
        }
      })
      let params = {
        bonus_ids: arr.join(','),
        task_type: this.currentTaskType
      }
      if(arr.length < 2) return
      userApi.requestActivityClaimBonus(params).then(res => {
        if(res.data.status != 'true') return
        this.taskList.forEach(item => {
          if(item.bonus_type == 3){
            item.bonus_type = 1
          }
        })
        let amount = res.data.data.amount
        this.showBox(4,amount)
        let currentTotal = this.currentTotal + amount
        this.$store.commit("SET_CURRENT_TOTAL", currentTotal);
      })
    },
    // 点击领取/一键领取后显示弹窗的类型
    showBox(type,num){
      this.$emit('showBoxType',{type:type,num:num})
    },
    // 奖券领取记录
    ticketHistory(val) {
      this.historyType = val // 设置当前选中的记录类型
      let params = {
        task_type: val | this.historyType,
        page: this.currentPage,
        page_size: 10
      }
      userApi.requestActivityBonusRecords(params).then(res => {
        if(res.data.status != 'true') return
        this.ticketHistoryList = res.data.data.data
        this.pageCount = Math.ceil(res.data.data.total/10)
        this.total = res.data.data.total
      })
    },
    changePage(val) {
      this.currentPage = val
      this.ticketHistory(this.historyType)
    }
  },
}
</script>
<style lang="less">
.activeTask{
  width: 343px;
  margin: 0 auto;
  margin-top: 24px;
  overflow: auto;
  margin-bottom: 40px;
  .is-loading {
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .van-tabs__wrap {
    height: 40px;
    background-color: rgb(84, 88, 93);
    margin: 0 auto;
    border-radius: 8px 8px 0 0;
    .van-tabs__nav {
      width: 144px;
      margin: 0 auto;
      background-color: rgb(84, 88, 93);
      .van-tab {
        opacity: 0.6;
        font-size: 14px;
        color: #FFFFFF;
        font-weight: 400;
      }
      .van-tab--active{
        font-size: 14px;
        color: #FFFFFF !important;
        font-weight: 500;
        opacity: 1;
      }
      .van-tabs__line {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 40px;
        height: 2px;
        background-color:  #1FA2FF;
      }
    }
    .van-tabs__nav--line{
      padding-bottom: 0;
    }
  }
  .van-tabs__content {
    background-color: rgb(68, 71, 77);
    border-radius: 0 0 8px 8px;
    .van-tab__pane{
      overflow: hidden;
    }
  }
  .each-box {
    flex: 1;
    text-align: center;
  }
  .floor-btn {
    padding: 0 27px 0 16px;
    background-color: rgb(84, 88, 93);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 8px 8px;
    height: 50px;
    div:first-child{
      font-size: 12px;
      color: #FF4B34;
    }
    div:last-child{
      width: 60px;
      line-height: 32px;
      font-size: 12px;
      color: #FFFFFF;
      border-radius: 4px;
      text-align: center;
      background-image: linear-gradient(180deg, #61C5FF 8%, #0271BD 55%, #027ED0 100%);
    }
    .unfinished {
      border: 0.5px solid rgba(255,255,255,0.32) !important;
      background: rgba(255,255,255,0.20) !important;
    }
  }
  .get-history {
    text-align: center;
    margin: 32px 0 12px 0 ;
  }
  .growth-task {
    border: 0.5px solid rgba(255,255,255,0.32);
    margin: 8px 12px;
    .each-box:nth-child(2) {
      border-left: 0.5px solid rgba(255,255,255,0.32);
      border-right: 0.5px solid rgba(255,255,255,0.32);
    }
    .each-box {
      padding: 12px 0;
      .flex{
        justify-content: center;
        align-items: flex-end;
        align-items: center;
        div:first-child{
          font-size: 14px;
          color: #E7BB02;
          font-weight: 700;
        }
        div:last-child{
          font-size: 14px;
          color: #FFFFFF;
          padding-left: 2px;
          padding-bottom: 2%;
        }
      }
      .text{
        width: 90px;
        margin: 0 auto;
        opacity: 0.6;
        font-size: 12px;
        color: #FFFFFF;
        padding-top: 1px;
      }
    }
  }
  .head-box {
    height: 40px;
    align-items: center;
    font-size: 12px;
    color: #FFFFFF;
    border-top: 1px solid rgb(85, 89, 94);
  }
  .no-task {
    width: 343px;
    background-color: rgb(68, 72, 78);
    text-align: center;
    .no-task-bg {
      margin: 0 auto;
      width: 260px;
      height: 180px;
      margin-top: 46px;
      margin-bottom: 8px;
      background-image: url("~@/assets/images/activity/activity-nothing.png"); // 无任务背景图
      background-size: cover;
    }
    .no-task-text {
      font-size: 14px;
      color: #FFFFFF;
      margin-bottom: 86px;
    }
  }
  .task-info {
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-top: 1px solid rgb(85, 89, 94);
    .flex-ticket {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .task-name {
      margin: 9px 0 9px 0;
    }
    .ticket {
      width: 37px;
      height: 32px;
      background-image: url("~@/assets/images/activity/activity-ticket.png"); // 奖券背景图
      background-size: cover;
      margin-left: 10px;
    }
    .ticket-count {
      color: #FFFFFF;
      margin-left: 4px;
      min-width: 27px;
      text-align: left;
    }
    .receive-fat {
      display: flex;
      justify-content: center;
      .receive{
        width: 60px;
        height: 32px;
        line-height: 32px;
        font-size: 12px;
        color: #FFFFFF;
        border-radius: 4px;
        background-image: linear-gradient(180deg, #61C5FF 8%, #0271BD 55%, #027ED0 100%);
      }
      .unfinished {
        border: 0.5px solid rgba(255,255,255,0.32);
        background: rgba(255,255,255,0.20);
      }
    }
  }
  .van-pagination {
    height: 50px;
    background-color: #54585d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 8px 8px;
    .van-pagination__item{
      padding: 0 5px;
      background-color: #54585d;
      min-width: 32px;
    }
    .van-pagination__item{
      color: #FFFFFF;
    }
    .van-pagination__item:after{
      border-width: 0 0 0 0;
    }
    .van-hairline {
      width: 32px;
      height: 32px;
      border: 0.5px solid rgba(255,255,255,0.32);
      border-radius: 4px;
      margin: 0 5px;
    }
    .van-pagination__item--active{
      width: 32px;
      height: 32px;
      background-image: linear-gradient(180deg, #61C5FF 8%, #0271BD 55%, #027ED0 100%);
      border-radius: 4px;
    }
    .van-pagination__prev {
      background: rgba(255,255,255,0.20);
      max-width: 55px !important;
    }
    .van-pagination__next{
      background: rgba(255,255,255,0.20);
      max-width: 55px !important;
    }
  }
}
</style>