<!--
 * @Author: Supermark
 * @Date: 2022-01-17 12:35:22
 * @Description: 活动弹窗
-->
<template>
  <div class="fullpopup">
    <div class="popup-shadow">
      <div class="close-popup" @click="closePopup">
        <i class="common-rule-close"></i>
      </div>
      <div class="popup-bg" :class="['popup-bg' + popupType, {'popup-maintain':popupType == 5}]"></div>
      <div class="popup-info">{{textArr[popupType-1]}}</div>
      <div class="confirm" @click="closePopup">确定</div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'popup',
  props: ["popupType","popupNum"],
  data() {
    return {
      textArr: [
        '恭喜你获得奖金' + this.popupNum + '元！',
        '真可惜没抢到，等等下一轮吧！',
        '该任务已下架，手慢了！',
        '恭喜你获得奖券' + this.popupNum + '张',
        '目前活动已进入维护阶段，请您在维护时间后再登录平台进行操作，感谢！',
        '盲盒冷却中！',
        '当前奖券数量不足！',
        '网络卡顿,请稍后再试！',
      ]
    };
  },

  methods: {
    closePopup() {
      if(this.popupType == 5){ // 活动维护进入点击确定返回到首页
        this.$router.push(`/home`); 
      }else{ // 成功开启宝箱弹窗后点击确定关闭弹窗
        this.$emit('closePopup')
      }
    }
  },
}
</script>
<style lang="less">
.fullpopup {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 145;
    .popup-shadow{
      width: 343px;
      background: rgb(51, 55, 58);
      border-radius: 8px;
      text-align: center;
      position: relative;
      .close-popup {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 8px;
        top: 8px;
        i {
          width: 16px;
          height: 16px;
        }
      }
      .popup-bg{
        width: 295px;
        height: 154px;
        margin: 0 auto;
        margin-top: 16px;
      }
      .popup-maintain {
        width: 260px;
        height: 180px;
        margin: 0 auto;
      }
      .popup-bg1{
        background-image: url("~@/assets/images/activity/activity-win.png");
        background-size: cover;
      }
      .popup-bg2{
        background-image: url("~@/assets/images/activity/activity-sold.png");
        background-size: cover;
      }
      .popup-bg3{
        background-image: url("~@/assets/images/activity/activity-sold.png");
        background-size: cover;
      }
      .popup-bg4{
        background-image: url("~@/assets/images/activity/activity-lottery.png");
        background-size: cover;
      }
      .popup-bg5{
        background-image: url("~@/assets/images/activity/activity-maintain.png");
        background-size: cover;
      }
      .popup-bg6{
        background-image: url("~@/assets/images/activity/activity-sold.png");
        background-size: cover;
      }
      .popup-bg7{
        background-image: url("~@/assets/images/activity/activity-sold.png");
        background-size: cover;
      }
      .popup-bg8{
        background-image: url("~@/assets/images/activity/activity-sold.png");
        background-size: cover;
      }
      .popup-info {
        font-size: 14px;
        color: #FFFFFF;
        max-width: 310px;
        margin: 0 auto;
        margin-top: 12px;
        margin-bottom: 12px;
      }
      .confirm {
        width: 120px;
        line-height: 40px;
        background-image: linear-gradient(180deg, #61C5FF 8%, #0271BD 55%, #027ED0 100%);
        border-radius: 4px;
        margin: 0 auto;
        font-size: 16px;
        color: #FFFFFF;
        margin-bottom: 17px;
      }
    }
}
</style>