<template>
    <div class="loading">
        <van-loading size="24px" vertical type="spinner">{{$t('yxzh.components.loading')}}...</van-loading>
    </div>
</template>

<script>
export default {
    name: 'LoadingComponent',
    data() {
        return {}
    },
}
</script>
<style lang="scss" scoped="scoped">
.loading {
    width: 100%;
    padding: 20%;
}
</style>
