<template>
  <div class="fd-select-box" @click="changeShow" v-click-outside="closeDialog">
    <span class="text">{{
      scoped.selected && scoped.selected.name ? scoped.selected.name : ""
    }}</span>
    <span :class="['fd-arrow', { 'fd-down': scoped.showFlag }]"></span>
    <ul class="fd-select-list" v-show="scoped.showFlag">
      <li
        style="text-align: left;padding:0 10px"
        v-for="(item, index) in list"
        :key="index + 'select'"
        @click.stop="changeValue(item)"
        :class="{
          active: scoped.selected && item.code === scoped.selected.code,
        }"
      >
        {{ item.name }}
      </li>
    </ul>
  </div>
</template>

<script>
import derections from "@/assets/scripts/directions";
export default {
  name: "fdSselect",
  model: {
    prop: "selected",
    event: "changeValue",
  },
  props: {
    list: {
      type: Array,
      required: true,
    },
    selected: Object,
  },
  data() {
    return {
      scoped: {
        // 是否展示下面的列表
        showFlag: false,
        // 当前选中的
        selected: this.selected,
      },
    };
  },
  directives: { clickOutside: derections.clickOutside },
  methods: {
    // 值改变后传给父组件，因为组件定义了model，所以父组件相当于执行了绑定的model值=emit出去的值
    changeValue(item) {
      this.scoped.selected = item;
      this.scoped.showFlag = false;
      this.$emit("changeValue", this.scoped.selected);
    },
    // 改变下拉选项的显隐
    changeShow() {
      this.scoped.showFlag = !this.scoped.showFlag;
    },
    closeDialog() {
      this.scoped.showFlag = false;
    },
  },
};
</script>

<style scoped lang="less">
.fd-select-box {
  position: relative;
  min-width: 60px;
  padding-right: 40px;
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  border: 1px solid rgba(151, 151, 151, 0.3);
  border-radius: 8px;
  font-weight: 700;
  color: #fff;
  font-size: 12px;
  text-align: left;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: bottom;
  .text {
    line-height: 30px;
  }
  .fd-arrow {
    position: absolute;
    top: 6px;
    right: 12px;
    transition: all 200ms;
    background: url("~@/assets/images/common/select-arrow-down.png");
    background-size: 100% 100%;
    width: 16px;
    height: 16px;
    &.fd-down {
      transform: rotate(180deg);
    }
  }
  .fd-select-list {
    position: absolute;
    width: 100%;
    max-height: 200px;
    overflow: auto;
    list-style: none;
    top: 34px;
    left: 0;
    background: #333844;
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 8px;
    z-index: 9;
    li {
      line-height: 30px;
      cursor: pointer;
      color: rgba(255, 255, 255, 0.6);
      text-align: center;
      &.active {
        background: #464a57;
        color: #fff;
      }
    }
  }
}
</style>
