<template>
    <div
        class="text-content"
        ref="textContent"
        @click="onFocused"
        :class="{ focus: isFocus, notfocusStyle: notfocusStyle }"
    >
        <div class="placeholder" v-if="isPlaceHolder">
            <slot name="placeholder" v-if="!placeholder"></slot>
            <div v-if="placeholder">{{ placeholder }}</div>
        </div>
        <span class="content_span" :class="{ isSelected: isSelected }">{{ `${(value && value !== 'null') ? value : ''}` }}</span>
        <span v-show="value" class="suffix" v-if="!isFocus">{{ `${suffix}` }}</span>
    </div>
</template>
<script>
export default {
    name: 'commonInput',
    props: {
        value: {
            default: () => '',
        },
        notfocusStyle: {
            default: () => false,
        },
        type: {
            type: String,
            default: () => 'text',
        },
        placeholder: {
            type: String,
            default: () => '',
        },
        selectText: {
            type: Boolean,
            default: () => false,
        },
        container: {
            // 在这个范围内搜索键盘
            type: String,
            default: null,
        },
        suffix: {
            type: String,
            default: '',
        },
    },
    created() {
        this.$watch('value', (v, o) => {
            if (this.isSelected && this.selectText) {
                this.isSelected = false
                const value = String(v)
                const isDelete = o.length > v.length
                if (isDelete) {
                    // this.$emit('input', '')
                    this.$emit('updateKeybordValue', '')
                } else {
                    // this.$emit('input', value.substr(value.length - 1, 1))
                    this.$emit('updateKeybordValue', value.substr(value.length - 1, 1))
                }
            }
            // 当值发生变动光标要锁定到右侧
            this.$nextTick(() => {
                if (!v) {
                    this.$refs.textContent.scrollLeft = 0
                } else {
                    if (this.$refs.textContent.scrollWidth - this.$refs.textContent.clientWidth > 0) {
                        this.$refs.textContent.scrollLeft =
                            this.$refs.textContent.scrollWidth - this.$refs.textContent.clientWidth
                    }
                }
            })
        })
    },
    computed: {
        isPlaceHolder() {
            return !this.isFocus && !this.value
        },
    },
    data() {
        return {
            isFocus: false,
            isSelected: false,
        }
    },

    methods: {
        onFocused() {
            this.isFocus = true
            this.$emit('isOnfocus')
            this.$nextTick(() => {
                if (this.selectText && !!this.value) {
                    this.isSelected = true
                }
            })
        },

        onBlur(e) {
            let keyboard = document.querySelector('.mk-number-keyboard')
            if (this.container) {
                keyboard = document.querySelector(`${this.container} .mk-number-keyboard`)
            }

            const blurAcion = () => {
                this.isFocus = false
                this.$emit('isOnBlur')
            }
            if (!e) {
                blurAcion()
            } else {
                const isNoContains =
                    (this.$refs.textContent ? !this.$refs.textContent.contains(e.target) : true) &&
                    (keyboard ? !keyboard.contains(e.target) : true)
                if (isNoContains) {
                    blurAcion()
                }
            }
        },
    },
    mounted() {
        window.addEventListener('click', this.onBlur, true)
    },
    destroyed() {
        window.removeEventListener('click', this.onBlur)
    },
}
</script>
<style lang="scss" scoped>
.text-content {
    display: flex;
    overflow-y: auto;
    align-items: center;
    .suffix {
        font-size: 9px;
    }
    &::-webkit-scrollbar {
        /*滚动条整体样式*/
        height: 0.5px;
    }

    & .placeholder {
        display: block;
        color: grey;
        font-size: 12px;
        display: inline-block;
        padding:5px;
    }
    .content_span {
        display: inline-block;
        padding:5px;
    }
    &.focus {
        .isSelected {
            background-color: #6593f5;
            color: #fff;
        }
        border: solid 1px #6593f5 !important;
        .content_span {
            position: relative;
            &::after {
                content: '';
                display: inline-block;
                width: 1px;
                height: 16px;
                animation: blink 1s infinite steps(1, start);
                position: absolute;
                top: 9px;
            }
        }

        @keyframes blink {
            0% {
                background-color: #f7f8fc;
            }
            50% {
                background-color: #cacaca;
            }
            100% {
                background-color: #f7f8fc;
            }
        }
    }
}
</style>
