<template>
    <div class="limit-range-bet">
        <div class="play-name-wrapper">
            <div class="play-names" v-html="playNames"></div>
            <div class="tip">{{$t('yxzh.limit.bufuhe')}}</div>
        </div>
        <div>
            {{
                $t('yxzh.limit.qujianwei', [data.doubleBetRange &&
                    (data.doubleBetRange.doublePlayBetMin + '~' +
                    data.doubleBetRange.doublePlayBetMax)])
            }}
            <span class="click-arae" data-role="modalClose" @click="jumpLinkClick">{{$t('yxzh.limit.youshangjiao')}}</span>
            {{$t('yxzh.limit.xiugai')}}
        </div>
    </div>
</template>

<script>
export default {
    name: 'limitBetRange',
    props: {
        data: {
            type: Object,
            default: () => ({}),
        },
    },

    computed: {
        playNames() {
            console.log( 'this.data.betData.list',this.data.betData.list )
            return this.data.betData.list
                .map(item => `${item.playLocationName}-${item.playItemName}`)
                .join(',')
        },

        tipText() {
            const type = (this.data && this.data.type) || ''
            let text = ''
            switch (type) {
                case 1:
                    text = this.$t('yxzh.limit.yishanchu')
                    break
                case 2:
                    text = this.$t('yxzh.limit.yibiaoji')
                    break
                case 3: 
                    text = this.$t('yxzh.limit.yishanchu')
                    break
            }

            return text
        },
    },
    methods: {
        jumpLinkClick() {
            this.$emit('clickOnSetting')
            this.$emit('close')
            const type = (this.data && this.data.type) || ''
            if(Number(type) !== 3) {
                this.$router.push({ name: 'setting' }, () => {})
            }
        },
    },
}
</script>

<style lang="less">
.limit-range-bet {
    padding: 10px;
    color: #ffffff;
    line-height: 1.75;
    letter-spacing: normal;
    font-size: 12px;
    .click-arae {
        color: #ffffff;
        cursor: pointer;
    }
    .play-name-wrapper {
        display: flex;
        align-items: center;
        line-height: 1.75;

        & > .play-names {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 50%;
        }
    }
}
</style>
