<template>
    <div class="market" id="market">
        <div class="market-blank"></div>
        <marketHeader
            v-if="matchs"
            :AndroidOS="AndroidOS"
            :matchs="matchs"
            :smallHeader="smallHeader"
            :lockVideo ="lockVideo"
            @closeLockVideo="lockVideo=false"
            @lock="lockSwitch"
            :fromName ="fromName"
        />


        <!-- ,{'sticky-top' : lockVideo }, {'fixed': smallHeader||lockVideo},
        {'host-top': showHostTips && matchs.is_live == 2 && matchs.category == 5 && matchs.status == 5} -->
                <!-- <div class="line"></div> -->
        <!-- , {'fixed': smallHeader || lockVideo} -->
        <div :class="['mkt-nav', lockVideo ? 'lock-nav':'sticky-nav' ]">
            <div class="host-tips-box"  v-if="showHostTips && matchs && matchs.is_live == 2 && matchs.category == 5 && matchs.status == 5">
                <div :class="['host-tips',{'lock-tips' : lockVideo },{'fixed': smallHeader||lockVideo},]" 
                >
                    <van-notice-bar background="#000" scrollable >
                        {{i18n.tips}}
                        <template v-slot:right-icon>
                            <i class="icon common-close-not-border" @click="changeShowHostTips"></i>
                        </template>
        
                    </van-notice-bar>
                </div>
            </div>
            <div class="ant-nav" v-if="rightNav.length > 1 && matchs.ant_match_id != 0">
                <span :class="{ 'active': activeRightNav == item.key }" v-for="item in rightNav" :key="item.key" @click="changeRightNav(item.key)">
                    {{ item.val }}
                </span>
                <i class="ant-description common-question" @click="descriptionShow1=true"></i> 

            </div>
            <div class="station-box"  v-if="(playVideo || canStation) && activeRightNav == 0">
                <div class="station-order-content">
                    <div class="video-lock" v-if="playVideo"  @click="lockSwitch">
                        <i :class="lockVideo ? 'common-video-lock' : 'common-video-unlock'"></i>
                        {{ lockVideo ? i18n.lock : i18n.unlock}}
                    </div>
                    <div class="station-order" v-if="canStation">
                        <div class="station-switch"><i :class="stationOpen?'common-switch-open':'common-switch-close'" @click="stationSwitch"></i>{{i18n.station}}</div> 
                        <div class="description common-question" @click="descriptionShow=true"></div> 
                    </div>
                </div>
            </div>
            <div class="line"></div>
        </div>
        
        <template v-if="activeRightNav == 0">
            <template v-if="!marketLoading">
                <!-- 盘口列表 scrollspy-->
                <van-tabs 
                    v-if="marketRound.length > 0 && marketRoundFinish"
                    class="maket-tabs dj-tabs"
                    v-model="activeMenu" 
                    :offset-top="offsetTop()" 
                    @click="onTabClick"
                    :duration="getDuration()"
                    ref="vantTabs"
                    scrollspy
                    sticky>
                    <van-tab
                        v-for="ele in marketRound"
                        class="market-list cross-makert" 
                        :key="ele.key">
                        <template #title>
                            <span class="round-name">  {{ ele.value }} </span>
                        </template>
                        <!-- 盘口第几局 -->
                        <div  :class="['market-line', { 'round-active': activeMenu == ele.key }]"  v-show="!(stationOpen && marketRound.length == 1)">
                            <b class="words">  {{ ele.value }} </b>
                        </div>
                        <div class="anchor-info" v-if="showHost(matchs.category)">
                            <div class="anchor-head" v-if="getHostTimer(ele.key)||(picList(ele.key)&&picList(ele.key).length > 0)">
                                <div class="head-center" v-if="getHostTimer(ele.key)">
                                    {{ getHostTimer(ele.key) }}
                                </div>
                                <div class="head-right" @click="handlerPic(ele.key)"  v-if="picList(ele.key).length > 0">
                                    {{i18n.result}}
                                    <i :class="['icon', 'market-recommend', { 'active': showPic[ele.key] } ]"></i>
                                </div>
                            </div>
                            <van-swipe class="end-game-swipe" indicator-color="white" v-if="showPic[ele.key] && picList(ele.key) && picList(ele.key).length > 0">
                                <van-swipe-item v-for="(image, index) in chunkFn(picList(ele.key))" :key="index" class="end-game-list">
                                    <div class="end-game-item" 
                                        @click="bigPictureFn(picList(ele.key))"
                                        v-for="(img, index) in image"
                                        :key="index"
                                        >
                                        <img :src="`${UPLOAD_URL + img.images}`" class="end-game-image" alt=""/>
                                        <div class="end-game-text ellipsis-4">{{img.remark}}</div>
                                    </div>
                                    <div class="no-data-recommend-item" v-if="image.length!=2">
                                        <span class="icon no-data-recommend"></span>
                                        <span class="words"> {{i18n.noresult}} </span>
                                    </div>
                                </van-swipe-item>
                            </van-swipe>
                        </div>
                        
                        <!-- 盘口列表 -->
                        <div v-if="!stationOpen" class="groups">
                        
                        <!-- 胜负平的盘口特殊处理，当visible为0时也显示： option_type = 6为胜负平的盘口 -->
                            <listItem 
                                v-show="market && (market.visible || market.option_type === 6) && matchs.visible"
                                v-for="market in ele.listShow"
                                :market="market" 
                                :matchs="matchs"
                                :key="market.market_id" 
                            />
                            <div class="more-mkt-btn" v-show="isShowMktBtn(ele)" @click="handlerMkt(ele.key)"> 
                                <i :class="[{ 'rote': showMkt[ele.key]}, 'common-arrow-down' ]"></i>
                                {{ showMkt[ele.key] ? i18n.shouqi : i18n.zhankai }}
                                <b> {{i18n.jiesuan}} </b> 
                                {{i18n.market}}
                            </div>
                        <!-- 胜负平的盘口特殊处理，当visible为0时也显示： option_type = 6为胜负平的盘口 -->
                            <listItem 
                                v-show="market && (market.visible || market.option_type === 6) && matchs.visible"
                                v-for="market in ele.listHide"
                                :class="{'hide-item': isShowMktBtn(ele) && !showMkt[ele.key]}"
                                :market="market" 
                                :matchs="matchs"
                                :key="market.market_id" 
                            />
                        </div>

                        <!-- 串关列表 -->
                        <template v-else>


                            <div 
                                class="groups" 
                                v-if="group.listShow.length"
                                v-for="group in ele.groups" 
                                :key="group.tag">

                                <!-- 胜负平的盘口特殊处理，当visible为0时也显示： option_type = 6为胜负平的盘口 -->
                                <listItem
                                    v-show="market && (market.visible || market.option_type === 6) && matchs.visible"
                                    v-for="(market, n) in group.listShow"
                                    :class="{ 'last-item': n == group.list.length - 1 }" 
                                    :market="market" 
                                    :matchs="matchs"
                                    :key="market.market_id" 
                                />
                                <p class="groups-tips" v-show="!Number(group.tag)"> {{  i18n.huchuan }} </p>    
                                <p class="groups-tips" v-show="Number(group.tag)">  {{  i18n.same }} </p>
                            </div>
                            <!-- 全部已经结算 关盘的盘口 -->
                            <div class="groups" v-if="ele.listHide.length">
                                <div class="more-mkt-btn" @click="handlerStaMkt(ele.key)"> 
                                    <i :class="[{ 'rote': showMktStation[ele.key]}, 'common-arrow-down' ]"></i>
                                    {{ showMktStation[ele.key] ? `${i18n.shouqi}` : `${i18n.zhankai}` }}  
                                    <b>  {{ i18n.jiesuan }} </b> 
                                    {{ i18n.market }}  
                                </div>
                                <listItem 
                                    v-show="markets && (markets.visible || markets.option_type === 6) && matchs.visible"
                                    v-for="(markets, n) in ele.listHide"
                                    :class="{ 'last-item': n == ele.listHide.length - 1, 'hide-item': !showMktStation[ele.key] }" 
                                    :market="markets" 
                                    :matchs="matchs"
                                    :key="markets.market_id" 
                                />
                            </div>
 
                        </template>
                    </van-tab>
                </van-tabs>
                
                <!-- 无盘口信息 -->


                <div class="market-nodata-host" v-else>
                    <div class="host-data" v-if="showHostMatch">
                        <div class="data-nav">
                            <p>{{ i18n.eventEnded }}</p>
                            <p>{{ i18n.eventsRecommended }}</p>
                        </div>
                       
                        <recommend :visible="true" />
                    </div>
                        
                    <common-not-data
                        v-else
                        class="not-account-data"
                        :title="i18n.zanwu"
                        :subTitle="i18n.zanwutishi"
                        backgroundImg="not-data-match"
                        paddingTop="30px">
                    </common-not-data>
                </div>


            </template>
            <list-load class="market-loading" v-else/>
            <van-popup v-model="descriptionShow" class="description-pop" get-container=".app"  >
                <div :class="['description-model',{'marginTop': lockVideo && AndroidOS}]">
                    <div class="pop-title">
                        <span>{{i18n.shuoming}}</span>
                        <i @click="descriptionShow=false" class="common-close-not-border"></i>
                    </div>
                    <div class="pop-content">
                        <p v-for="(des,i) in description" :key="i">
                            {{des.key}}.{{des.value}}
                        </p>
                        <br/>
                        <p> *{{ i18n.chuanguanzuhe }} </p>
                        <br/>
                        <div class="close-description" @click="descriptionShow=false">{{i18n.iknow}}</div>
                    </div>
                </div>
            </van-popup> 

            <big-picture :images="bigPictureImages" v-if="bigPictureShow" :bigPictureShow="bigPictureShow" @close="bigPictureShow=false"></big-picture>
            <!-- <div class="play-type" ref="playType" v-if="!showHostMatch && !stationOpen && matchs && showPlayListGame.includes(String(matchs.game_id)) && (hasPlayList1 || hasPlayList2 || hasPlayList3 || hasPlayList4)">
                <div class="type-btn-1" @click="showPlayType = !showPlayType">
                    {{ i18nItem.type }}
                </div>
                <div class="type-icon"  @click="showPlayType = !showPlayType">
                    <i :class="['icon' , showPlayType ? 'common-arrow-right' : 'common-arrow-left']"></i>
                </div>
                <div class="type-list" v-show="showPlayType">
                    <div 
                        @click="changePlayType(item.val,item.name)"
                        :class="['item', { 'active': item.val == activePlay }]"
                        v-show="showPlayItem(item.val)"
                        v-for="item in playList" :key="item.val">
                        {{ item.name }}
                    </div>
                </div>
            </div> -->
        </template>
        <component
            v-else    
            :is="componentId"
            >
        </component>

        <van-popup v-model="descriptionShow1" class="description-pop" get-container=".app"  >
            <div :class="['description-model',{'marginTop': lockVideo && AndroidOS}]">
                <div class="pop-title">
                    <span>{{i18nA.RuleDescription}}</span>
                    <i @click="descriptionShow1=false" class="common-close-not-border"></i>
                </div>
                <div class="pop-content">
                    <p>
                        {{ i18nA.DescriptionDataDisplayRules }}
                    </p>
                    <div class="rule-content-remark">{{$t('antDataSource.DescriptionDataDisplayRulesRemark')}}</div>
                    <div class="close-description" @click="descriptionShow1=false">{{i18n.iknow}}</div>
                </div>
            </div>
        </van-popup> 

    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import lodash from "lodash";

import mixAddCart from "@/views/common/mixins/mixAddCart.js";
import mixMatchStatus from "@/views/common/mixins/mixMatchStatus.js";
import mixBetStatus from "@/views/common/mixins/mixBetStatus.js";
import commonNotData from "@/views/common/commonNotData";
import { groupingData,timetrans, getAntDataGameId} from '@/assets/scripts/utils'
import listLoad from "@/views/common/listLoad"
import recommend from "../recommend"

import bigPicture from "../bigPicture"
import listItem from "../listItem"
import marketHeader from "../market-header"
import foresight from "../foresight";
import data from "../data"
import schedule from "../schedule"
import { requestBifenTabDataStatus } from "@/api/data.js";


// 拆分局内串关数据分成开盘盘口，和待结算已结算盘口
function solMktGroups (list) {
    list.forEach( ele => {
        ele["listHide"] = ele.list.filter( e => e.status != 6 );
        ele["listShow"] = ele.list.filter( e => e.status == 6 );
    })
    return list
};

export default {
    mixins: [ mixAddCart, mixMatchStatus, mixBetStatus],
    components:{ commonNotData, marketHeader, listItem, listLoad, bigPicture, recommend },
    data(){
        const {device, os, browser} = this.Browser
        const MA = device === 'Mobile' && os === 'Android'
        const browsers = ['UC', 'Quark', 'Safari']
        const AndroidOS = os === 'Android'
        return{
            UPLOAD_URL,
            activeMenu: 0,
            smallHeader: false,
            noCoverBtn: MA && browsers.includes(browser),
            descriptionShow: false,
            description: this.$t('marketPage.stationtips'),
            marketLoading: true,

            // 只有四个游戏有玩法标签
            playGameArr:[
                "257154660915053", // 英雄联盟
                "257289795134339", // DOTA2
                "257561197207055", // 王者荣耀
                "257578064923863", // CSGO
            ],
            lockVideo: false,//锁定视频
            AndroidOS,
            bigPictureShow: false,
            descriptionShow1: false,
            bigPictureImages: [],
            // 主播盘口是否显示图片
            showPic:{
                1: true,
                2: true,
                3: true,
                4: true,
                5: true,
                6: true,
                7: true,
                8: true,
                9: true,
                10: true,
                11: true,
            },
            // 正常盘口控制待结算已结算盘口显示隐藏
            showMkt:{
                0: false,
                1: false,
                2: false,
                3: false,
                4: false,
                5: false,
                6: false,
                7: false,
                8: false,
                9: false,
                10: false,
                11: false,
                100: false,
            },

            // 局内串关控制待结算已结算盘口显示隐藏
            showMktStation:{
                0: false,
                1: false,
                2: false,
                3: false,
                4: false,
                5: false,
                6: false,
                7: false,
                8: false,
                9: false,
                10: false,
                11: false,
                100: false,
            },
            marketRoundFinish: false,
            fromName: '', // 详情页入口页面
            i18n: this.$t('marketPage.index'),
            i18nItem:  this.$t('homePage.listItem'),
            i18nA: this.$t("antDataSource"),
            showPlayType: false, // 是否显示玩法分类
            playList:[ // 玩法分类
                { val: 0, name: this.$t("homePage.listItem.common") },
                { val: 1, name: this.$t("homePage.listItem.trend") },
                { val: 2, name: this.$t("homePage.listItem.special") },
                // { val: 3, name: this.$t("homePage.listItem.mix") },
                { val: 4, name: this.$t("homePage.listItem.hoPTarlay") },
            ],
            
            showPlayListGame: [
                "257154660915053", // 英雄联盟
                "257289795134339", // DOTA2
                "257561197207055", // 王者荣耀
                "257578064923863", // CSGO
                // "257697372071315", // 篮球
                // "21363218739142692", // 激斗峡谷
            ],
            activeRightNav: 0, // 激活的菜单
            win_rate:{ // 奔驰胜率
                t1:"",
                t2:""
            } ,
            isShowForesightTab: false, // 前瞻tab显隐状态
            isShowDatatTab: false, // 数据tab显隐状态
            isShowScheduleTab: false, // 实时tab显隐状态
            beforeShowModal: false,
        }
    },

    watch:{
        $route(v){
            const { id } = v.params;
            this.getMarketList(id)
        },
        marketRound(v,ov){ 
            let newValue = v.map(item => {
                return {
                    key: item.key,
                }
            });  
            let oldValue=ov.map(item => {
                return {
                    key: item.key,
                }
            })
            if(JSON.stringify(oldValue) !== JSON.stringify(newValue)){
                this.marketRoundFinish = false; 
            }
            this.$nextTick(() => {  
                this.marketRoundFinish = true; 
            });

            
            if( this.beforeShowModal ){
                return
            }
            if( v.length == 0 && (this.marketList.length || this.matchs.visible == 0 ) && this.showHostMatch ){
                this.beforeShowModal = true;
                this.$sysModal({
                    message: this.i18n.endMatchHome,
                    link: '/home',
                    cancel: true,
                    center: true,
                    overlay: true,
                });
            }


        },
        "matchs.is_open_match"(v, ov) {
            if(!v){
                this.$store.commit("SET_GAME_ID", 0);
                // 清楚数据
                this.$router.push("/home");
            }
        },

        matchs(n) {
            // 获取数据tab是否有数据
            this.getDataTabStatus()
            if (!this.dataTabStatusTimer) {
                this.dataTabStatusTimer = setInterval(() => this.getDataTabStatus(), 60000)
            }
        },

        rightNav(n, o) {
            // 动态导航，如果删掉是导航栏第一个tab，则激活第二个tab
            if( n.length && n.length < o.length ){
                const delCurNav = n.find( ele => ele.key == this.activeRightNav );
                if( !delCurNav ){
                    this.activeRightNav = n[0].key;
                }
            }
        }

    },

    created(){
        let matchID =this.$route.params.id;
        this.$store.commit("SET_MATCH_ID", matchID);
        this.getDataTabStatus()
        this.getMarketList(matchID)
        // 体育下发赛事单独请求视频源
        this.$bus.$on("foresightData", data => {
            this.win_rate.t1 = data.t1.win_rate*100;
            this.win_rate.t2 = data.t2.win_rate*100;
        });

        // 切换浏览器标签 通知更新赛事盘口列表
        this.$bus.$on("locationChange", () => {
            this.getMarketList(matchID, true)
        });

    },

    mounted() {
        document.querySelector("#market").addEventListener('scroll', (e) => {
            const $height = document.querySelector('.market-header').clientHeight;
            if(e.target.scrollTop >= $height){
                this.smallHeader = true;
            }else{
                this.smallHeader = false;
            }
        }, false)
        document.addEventListener("touchstart", (e) => {
            let playType = this.$refs.playType;
            if ( playType && playType.contains && !(playType.contains(e.target))) {
               this.showPlayType = false;
            }
        },true);

        // 是否进入全屏状态
        // function checkIsFullScreen(){
        //     var isFullScreen = document.fullscreen || document.mozFullScreen || document.webkitIsFullScreen;
        //     return isFullScreen == undefined ? false : isFullScreen;
        // }

        document.addEventListener('fullscreenchange', () => {
            this.$refs.vantTabs.resize(); // 重绘tabs
        }, true);


    },

    computed:{
        ...mapGetters([
            "matchs", 
            "marketList", 
            "betItemId", 
            "stationOpen" ,
            "stationList", 
            "betCart", 
            "playVideo", 
            "anchorInfo", 
            "showHostTips", 
            "activePlay", 
            "gameList",
            "mqMarket", 
            "mqOdds" 
        ]),
        

        // 是否又热门玩法        
        hasPlayList1(){
            let arr = this.marketList.filter( ele => ele.detail_type == 1);
            return arr.length > 0
        },

        // 是否又特殊玩法        
        hasPlayList2(){
            let arr = this.marketList.filter( ele => ele.detail_type == 2);
            return arr.length > 0
        },

        // 是否又复合玩法       
        hasPlayList3(){
            let arr = this.marketList.filter( ele => ele.detail_type == 3);
            return arr.length > 0
        },

        // 是否又复热门局内串关     
        hasPlayList4(){
            let arr = this.marketList.filter( ele => ele.detail_type == 4);
            return arr.length > 0
        },

        // 组装数据第几局 [];
        marketRound(){
            if( this.marketList.length > 0 ){ 
                let newArr = lodash.cloneDeep(this.roundList);
                let marketList = lodash.cloneDeep(this.marketList);
                // const isMTS = ['258337013509741','257733146228414'].includes(this.matchs.game_id);
                //筛选合法盘口status = 6: 盘口开盘, status = 9:已经结算, status = 7:已关盘, status = 8:待结算, status = 10:赛果驳回;
                const showArr = [6, 9, 7, 8, 10]; 


                // detail_type 详情页玩法分类 0-普通玩法,1-热门玩法,2-特别玩法,3-复合玩法
                if( this.activePlay  ){ // 复合玩法
                    marketList = marketList.filter( ele => ele.detail_type == this.activePlay );
                }

                if(this.stationOpen){
                    // 全场, 上半场不可以形成串关
                    newArr = newArr.filter( ele =>  ![ 0, 100 ].includes(ele.key) );
                    // 局内串关筛选出盘口能串关的数据
                    marketList = marketList.filter( ele => ele.is_pass_off == 2 );
                }




                // 局内串关，过滤掉全局盘口 && this.playGameArr.includes(this.matchs.game_id)
                if(this.stationOpen){
                    marketList = marketList.filter( ele => ele.option_type != 12 && ele.option_type != 23  ); // 复合玩法不参与局内串关
                    // 盘口排序
                    marketList.sort((a, b) => {
                        const splitNameA = Number(a.odds[0].name.split(">")[1]);
                        const splitNameB = Number(b.odds[0].name.split(">")[1]);
                        const splitTypeA = Number(a.odds[0].name.split("+")[1]) || -Number(a.odds[0].name.split("-")[1]);
                        const splitTypeB = Number(b.odds[0].name.split("+")[1]) || -Number(b.odds[0].name.split("-")[1]);
                        let statusSort = a.status - b.status;
                        // 已结算位于本局最后，所有stauts:6, 7, 8, 10, 9
                        if(a.status == 9 && b.status == 10){
                            statusSort = 1;
                        }
                        if(a.status == 10 && b.status == 9){
                            statusSort = -1;
                        }
                        return a.round - b.round || statusSort || a.tag_code - b.tag_code || a.sort_code - b.sort_code|| Number(a.odd_type_id) - Number(b.odd_type_id) || splitNameA - splitNameB || splitTypeA - splitTypeB;
                    });
                }else{
                    // 盘口排序
                    marketList.sort((a, b) => {
                        const splitNameA = Number(a.odds[0].name.split(">")[1]);
                        const splitNameB = Number(b.odds[0].name.split(">")[1]);
                        const splitTypeA = Number(a.odds[0].name.split("+")[1]) || -Number(a.odds[0].name.split("-")[1]);
                        const splitTypeB = Number(b.odds[0].name.split("+")[1]) || -Number(b.odds[0].name.split("-")[1]);
                        let optionTypeSort = 0
                        // 复合玩法位于本局最后
                        if(a.option_type == 12 && b.option_type != 12){
                            optionTypeSort = 1;
                        }
                        if(a.option_type != 12 && b.option_type == 12){
                            optionTypeSort = -1;
                        }
                        let statusSort = a.status - b.status;
                        // 已结算位于本局最后，所有stauts:6, 7, 8, 10, 9
                        if(a.status == 9 && b.status == 10){
                            statusSort = 1;
                        }
                        if(a.status == 10 && b.status == 9){
                            statusSort = -1;
                        }
                        return a.round - b.round || statusSort || optionTypeSort || a.comp_sub_num - b.comp_sub_num || a.sort_code - b.sort_code || Number(a.odd_type_id) - Number(b.odd_type_id) || splitNameA - splitNameB || splitTypeA - splitTypeB;
                    })
                }

                newArr.forEach( item => {
                    // 胜负平的盘口特殊处理，当visible为0时也显示： option_type = 6为胜负平的盘口
                    const list = marketList.filter( ele =>
                        ele.round == item.key && ele.visible != 0
                    );
                    const groupSplice = groupingData(list, 'tag');
                    const isOpen = list.some( ele => ele.status == 6 );

                    this.$set( item, "list", list );
                    this.$set( item, "listShow", list.filter( e => e.status == 6 ) ); // 正常盘口
                    this.$set( item, "listHide", list.filter( e => e.status != 6 ) ); // 待结算已结算盘口
                    this.$set( item, "groups", solMktGroups(groupSplice) );
                    this.$set( item, 'isOpen', isOpen ? 0 : 1 );
                });

                let arr = newArr.filter( ele => ele.list.length > 0 );
                //局数排序
                arr.sort((a,b) => {
                    return a.isOpen - b.isOpen
                })
                console.log(arr)
                return arr
            }else{
                return []
            }
        },
        stationID(){
            let arr = [];
            for( let key in this.stationList ){
                arr = [
                    ...arr,
                    ...this.stationList[key].list
                ]
            };
            return arr.map( ele => ele.item_id );
        },
        
        // 是否可以局内串关
        canStation({ matchs }){
            return matchs && matchs.is_pass_off==2 && matchs.visible==1 && matchs.status ==5
        },


        rightNav({ bifenBtnStatus, matchs, isShowForesightTab, isShowDatatTab, isShowScheduleTab }) {
            const nav = [{val: this.$t('antDataSource.Bet'), key: "0"}];
            if( this.matchs ){
                if (bifenBtnStatus.analyse_status && matchs && matchs.prospective_analysis_lock && isShowForesightTab ) {
                    nav.push({ val: this.$t('antDataSource.Prescient'), key: "1" })
                }
                if (bifenBtnStatus.real_time_status && matchs && matchs.real_time_data_lock && matchs.is_live == 2 && isShowDatatTab) {
                    nav.push({ val: this.$t('antDataSource.Data'), key: "2" })
                }
                if( bifenBtnStatus.live_status && matchs.live_lock && matchs.is_live == 2 && isShowScheduleTab){
                    nav.push({ val: this.$t('antDataSource.Scene'), key: "3" })
                }
            }
            return nav
        },

        // 当前渲染    
        componentId() {
            const path = this.activeRightNav;
            switch(path){
                case '1':
                    return foresight;
                case '2':
                    return data;
                case '3':
                    return schedule;       
            }
        },

        // 当前是否有盘口 是否显示热门推荐赛事
        showHostMatch(){
            const { status, visible } = this.matchs;
            if( status > 5 ){
                return true
            }
            if( status == 5 ){
                // 赛事隐藏无盘口状态
                if( visible == 0 ){
                    // 所有盘口都关盘-7 待结算-8 已结算-9 赛果驳回-10 待取消-11 已取消-12
                    const allClose = this.marketList.length && this.marketList.every( ele => ele.status >= 7 );
                    return allClose
                }else{
                    // 所有盘口都关盘
                    const allClose = this.marketList.length && this.marketList.every( ele => ele.status == 7 );
                    return allClose
                }
            }
            return false            
        }

    },

    methods:{
        timetrans,

        ...mapActions(["fetchMarketList", "fetchAnchorInfo",]),

        // 获取数据源各tab类型是否有数据
        getDataTabStatus() {
            if (this.matchs && this.matchs.id) {
                requestBifenTabDataStatus({
                    id: this.matchs.id,
                    stage_id: '1', // 第几局（默认1）
                    game_id: getAntDataGameId(this.matchs.game_id),
                    team_ids: this.matchs.home_team + ',' + this.matchs.away_team
                }).then((res) => {
                    if (res.data.status === "true") {
                        const _data = res.data.data
                        // 此页签重新显示后,无需再次隐藏页签
                        if (!this.isShowForesightTab) {
                            this.isShowForesightTab = _data.micro_analysis || _data.complete_analysis || _data.analysis_fight
                        }
                        if (!this.isShowDatatTab) {
                            this.isShowDatatTab = _data.match_data
                        }
                        if (!this.isShowScheduleTab) {
                            this.isShowScheduleTab = _data.match_event
                        }
                        if (this.isShowForesightTab && this.isShowDatatTab && this.isShowScheduleTab && this.dataTabStatusTimer && this.dataTabStatusTimer) {
                            clearInterval(this.dataTabStatusTimer)
                        }
                    }
                }).catch((err) => {
                    console.error(err);
                });
            }
        },

        // 获取赛事盘口详情
        getMarketList(matchID, type){
            if( !type ){
                this.marketLoading = true;
            }
            this.fetchMarketList({
                match_id: matchID
            }).then( res => {
                this.marketLoading = false;
                if(this.matchs.category == 5){
                    this.getAnchorInfo(matchID)
                }
            })
        },

        // 背景图片
        h5sec(){
            const img = global.GameImages[this.matchs.game_id];
            return UPLOAD_URL + (img ? img.h5_sec : "")
        },
        getDuration() {
            const len = this.matchs.count || 0
            if (len <= 30) return 0.3
            if (len <= 50) return 0.2
            if (len <= 70) return 0.1
            if (len > 70) return 0.05
        },
        onTabClick: lodash.throttle(function(computedName) {
            if(this.matchs.status === 7){
                // 赛果局数切换
                // this.$store.commit("SET_TRACK", { tab: 26, page: 3 });
            }else{
                // 赛事局数切换
                // this.$store.commit("SET_TRACK", { tab: 19, page: 2 });
            }
            this.activeMenu = computedName
            // this.tmp && clearTimeout(this.tmp)
            // this.tmp = setTimeout(() => {
            //     if (computedName !== this.activeMenu) {
            //         this.activeMenu = computedName
            //     }
            // }, 380)
        }, 300),
        
        //切换局内
        stationSwitch:lodash.throttle(function() {
            // 局内串关开关点击次数统计
            // this.$store.commit("SET_TRACK", { tab: 20, page: 2 });
            this.$store.commit("SET_STATION_DELL");
            this.$store.commit("SET_STATION_STATUS", !this.stationOpen);
            // 获取游戏类型
            const gameTpye = this.gameList.filter(item => item.id == this.matchs.game_id)[0].name
            if (this.stationOpen){
                if(Object.keys(this.stationList).length>0){
                    this.$store.commit("SET_BETCART_TYPE", "stationOrder" )
                }
                this.$toast({
                    message: this.i18n.openStation,
                    duration: 2000,
                    customClass: 'bet-status-tips',
                });

                setTimeout(()=>{
                    // 2s之后手动关闭
                    this.$toast.clear()
                }, 2000)
            }else{
                if( this.betCart.length > 0 ){
                    this.$store.commit("SET_BETCART_TYPE", "betOrder" )
                }
            }
        }, 300),

        //切换视频锁定
        lockSwitch:lodash.throttle(function() {
            this.lockVideo = !this.lockVideo;
            document.querySelector('.market').scrollTop = 0;
        }, 300),

        offsetTop(){
            const isHost = this.matchs.category == 5 && this.showHostTips && this.matchs.is_live == 2 && this.matchs.category == 5 && this.matchs.status == 5; 
            const isAnt = this.rightNav.length > 1 && this.matchs.ant_match_id != 0;
            const antNum = isAnt ? 9.6 : 0;
            if(this.lockVideo){
                if(isHost){
                    return `${76.53334 + 9.6 + antNum}vw`;
                }else{
                    return `${76.53334 + antNum}vw`;
                }
            }else{
                if(isHost){
                    return (this.playVideo || this.canStation) ? `${20.53334 + 9.6 + antNum}vw` : `${13.06667 + 9.6 + antNum}vw`;
                }else{
                    return (this.playVideo || this.canStation) ? `${20.53334 + antNum}vw` : `${13.06667 + antNum}vw`;
                }
            }
        },

        //主播盘信息
        getAnchorInfo(matchID){
            this.fetchAnchorInfo({ids: matchID})
        },

        getAnchorDetail(key){
            const obj = this.anchorInfo.find( ele => ele.round == key );
            return obj || {};
        },

        // 主播盘每局时间
        getHostTimer(key){
            const timeNum = Number(this.getAnchorDetail(key).start_time);
            if(timeNum){
                const time = timetrans(timeNum)
                return time.y + time.d
            }else{
                return ""
            }
        },

        chunkFn(val){
            return lodash.chunk(val,2)
        },

        picList(key){
            const anchorInfo = lodash.cloneDeep(this.anchorInfo);
            let pic = (anchorInfo.find( ele => ele.round == key ) || {}).images;
            (pic || []).sort( (a, b) => {
                return a.sort_code - b.sort_code
            })
            return pic
        },

        bigPictureFn(obj){
            this.trackPic();
            this.bigPictureImages = obj
            this.bigPictureShow = true
        },

         // 图片显示隐藏
        handlerPic(key){
            this.trackPic();
            this.showPic[key] = !this.showPic[key];
        },

        trackPic(){
            if(this.matchs.status === 7){
                // 赛果赛果照片的点击次数统计
                // this.$store.commit("SET_TRACK", { tab: 27, page: 3 });   
            }else{
                // 赛事赛果照片的点击次数统计
                // this.$store.commit("SET_TRACK", { tab: 21, page: 2 });
            }
        },

        // 待结算/已结算 显示隐藏
        handlerMkt(key){
            this.showMkt[key] = !this.showMkt[key];
        },

        handlerStaMkt(key){
            const isShow =  this.showMktStation[key]
            this.$set(this.showMktStation, key, !isShow )
        },

        // 判断是否显示查看待结算已结算按钮
        isShowMktBtn(ele){
            const { listShow, listHide } = ele;
            return listShow.length > 0 && listHide.length > 0;
        },

        changeShowHostTips(){
            this.$store.commit("SET_SHOW_HOSTTIPS", !this.showHostTips)
        },

        changePlayType(type,name){
            this.$store.commit("SET_ACTIVE_PLAY", type)
        },

        // 是否显示玩法分类项
        showPlayItem(val){
            if( val == 1 ){
                return this.hasPlayList1
            }
            if( val == 2 ){
                return this.hasPlayList2
            }
            if( val == 3 ){
                return this.hasPlayList3
            }
            if( val == 4 ){
                return this.hasPlayList4
            }
            return true
        },
        changeRightNav(key){
            this.activeRightNav = key
        },
    },

    beforeDestroy() {
        this.$bus.$off('locationChange');
        this.dataTabStatusTimer && clearInterval(this.dataTabStatusTimer)
        this.$store.commit("SET_MATCH_ID", 0);
        this.$store.commit("SET_MARKES_LIST",[])
        this.$store.commit("SET_STATION_STATUS", false);
        this.$store.commit("SET_VIDEO_PLAY", false);
        this.$store.commit("SET_ANCHOR_INFO", []);
        this.$store.commit("SET_MATCH_GAME_ID", 0);
        this.$store.commit("SET_ACTIVE_PLAY", 0)
        this.$bus.$off('foresightData')
    },
    beforeRouteEnter(to, from, next) {
        next((vm) => {
            vm.fromName = from.name;
        });
    },

}
</script>

<style lang="less" >
   
    .market{
        overflow-y: scroll;
        // padding-top: 49px;
        display: flex;
        flex-direction: column;
        height: 100%;
        // 向下/向上快速滑动页面的时候，页面会出现空白，等滑动结束后内容显示
        backface-visibility: hidden;
        // transform: translate3d(0,0,0);
        .schedule, .data-foresight, .wrap-data{
            backdrop-filter: blur(50px);
            position: relative;
        }
        .market-blank{
            width: 100%;
            padding-top: 49px;
        }
        .market-header-box{
            height: 210px;
            flex: 0 0 210px;
        }
        .fixed{
            position: fixed;
        } 
        .market-loading{
            margin-top: 30px;
        }
        .play-type{
            width: 36px;
            height: 105px;
            position: absolute;
            top: 50%;
            right: 8px;
            background: #03426e;
            border: 1px solid rgba(31,162,255,0.40);
            border-radius: 4px;
            cursor: pointer;
            .type-btn-1{
                width: 34px;
                height: 83px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 0px 10px 0px;
                color: #ffffff;
                font-size: 14px;
                word-break: break-all;
                text-align: center;
            }
            .type-icon{
                width: 34px;
                height: 20px;
                background: rgba(0, 0, 0, 0.3);
                border-radius: 0 0 3px 3px;
                display: flex;
                align-items: center;
                justify-content: center;
                .icon{
                    width: 18px;
                    height: 18px;
                }
            }
            .type-list{
                width: 100px;
                height: auto;
                position: absolute;
                top: 50%;
                left: -108px;
                background: #3c3c3c;
                border: 1px solid rgba(255,255,255,0.10);
                border-radius: 4px;
                transform: translateY(-50%);
                .item{
                    width: 100px;
                    height: 40px;
                    font-size: 14px;
                    color: rgba(255,255,255,.6);
                    text-align: center;
                    line-height: 40px;
                    font-weight: 400;
                    cursor: pointer;
                    &.active{
                        background: rgba(255,255,255,0.1);
                        color: #FFFFFF;
                        font-weight: 500;
                    }
                }
            }
        }

        .line{
            width: 100%;
            padding: 0.5px 0;
            background: rgba(255,255,255,0.10);
            backdrop-filter: blur(40px); 
            @supports not (backdrop-filter: blur()){
                background: #1E2329;
            }
        }
        .host-tips-box{
            height: 36px;
            flex: 0 0 36px;
        }
        .host-tips{
            top: 49px;
            left: 0;
            right: 0;
            z-index: 99;
            height: 36px;
            flex: 0 0 36px;
            &.lock-tips{
                top: 210px;
            }
            &.lock-tips.fixed{
                top: 259px;
            }
            .van-notice-bar{
                height: 36px;
                font-size: 12px;
                color: #FF4B34;
                .icon{
                    margin-left: 8px;
                    display: block;
                    width: 16px;
                    height: 16px;
                }
            }
        }
        .mkt-nav{
            position: sticky;
            left: 0;
            z-index: 99;
            &.sticky-nav{
                top: 49px;
            }
            &.lock-nav{
                top: 259px;
            }
        }
        .station-box{
            height: 28px;
            z-index: 100;
        }
        .ant-nav{
            z-index: 88;
            height: 36px;
            width: 100%;
            background: rgba(255,255,255,0.10);
            backdrop-filter: blur(5px); 
            @supports not (backdrop-filter: blur()){
                background: #1E2329;
            }
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 28px;
            position: relative;
            .ant-description{
                position: absolute;
                width: 20px;
                height: 20px;
                right: 8px;
                top: 50%;
                transform: translateY(-50%);
            }
            span{
                width: 98px;
                height: 36px;
                text-align: center;
                // line-height: 36px;
                color: rgba( 255, 255, 255, 0.6);
                font-size: 14px;
                display: flex;
                align-items: center;
                justify-content: center;
                &.active{
                    color: #0095FF;
                    position: relative;
                    opacity: 1;
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 56px;
                        height: 2px;
                        background-image: linear-gradient(135deg, #1DDAFF 0%, #0095FF 100%);
                    }
                }
            }
        }

        .station-order-content{
            height: 28px;
            width: 100%;
            background: rgba(255,255,255,0.10);
            backdrop-filter: blur(5px); 
            @supports not (backdrop-filter: blur()){
                background: #1E2329;
            }
            top: 49px;
            left: 0;
            right: 0;
            &.sticky-top{
                top: 210px;
            }
            &.host-top{
                top: 85px;
            }
            &.host-top.sticky-top{
                top: 246px;
            }
            &.sticky-top.fixed.host-top{
                top: 295px;
            }
            &.fixed.sticky-top{
                top: 259px;
            }
            .video-lock{
                height: 28px;
                line-height: 28px;
                font-size: 12px;
                color: #FFFFFF;
                font-weight: 400;
                float: left;
                display: flex;
                align-items: center;
                i{
                    display: inline-block; 
                    width: 24px;
                    height: 23px;
                    margin-left: 8px;
                }
            }
            .station-order{
                float: right;
                display: flex;
                align-items: center;
                .station-switch{
                    height: 28px;
                    line-height: 28px;
                    font-size: 12px;
                    color: rgba(255,255,255,0.5);
                    font-weight: 400;
                    display: flex;
                    i{
                        display: inline-block; 
                        width: 28px;
                        height: 28px;
                        margin-right: 4px;
                    }
                }
                .description{
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                    font-size: 10px;
                    color: #FFFFFF;
                    font-weight: 400;
                    margin-left: 4px;
                    margin-right: 8px;
                }
            }
        }
        .maket-tabs{
            flex: 1;
            z-index: 0;
            &.hide-title{
                .van-sticky{
                    display: none;
                }
            }
        }
        .header{
            width: 100%;
            height: auto;
            background: rgba(255,255,255,0.10);
            backdrop-filter: blur(40px);
            padding-top: 49px;
        }
        .market-list{
            position: relative;
            margin-bottom: 12px;
            padding: 4px 0 12px 0;
            border-radius: 8px;
            background: rgba(0, 0, 0, 0.2);
            border: 1px solid rgba(255,255,255,0.1);
              
            .anchor-info{
                .anchor-head{
                    height: 33px;
                    overflow: hidden;
                    position: relative;
                    .head-center{
                        text-align: center;
                        opacity: 0.6;
                        font-size: 12px;
                        color: #FFFFFF;
                        text-align: center;
                        font-weight: 400;
                        line-height: 33px;
                    }
                    .head-right{
                        font-size: 12px;
                        color: rgba(255,255,255,0.5);
                        text-align: right;
                        float: right;
                        font-weight: 400;
                        height: 33px;
                        line-height: 33px;
                        display: flex;
                        align-items: center;
                        position: absolute;
                        right: 11px;
                        top: 0;
                        i{
                            display: inline-block;
                            width: 16px;
                            height: 16px;
                            &.active{
                                transform: rotate(180deg);
                            }
                        }
                        
                    }
                }
                .end-game-swipe {
                    width: 100%;
                    color: #fff;
                    font-size: 20px;
                    text-align: center;
                    height: 105px;
                    .end-game-list{
                        width: 100%;
                        height: 93px;
                        display: flex;
                        justify-content: space-between;
                        padding: 0 11px;
                        .end-game-item{
                            border-radius: 4px;
                            height: 93px; 
                            position: relative;
                            background-color: hsla(0,0%,100%,.04);
                            .end-game-image{
                                width: 165px;
                                height: 93px; 
                                border-radius: 4px;
                                object-fit: contain;
                            }
                            .end-game-text{
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                right: 0;
                                background: rgba(0, 0, 0, 0.5);
                                font-size: 12px;
                                color: rgba(255, 255, 255, 0.8);
                                font-weight: 400;
                                border-bottom-left-radius: 4px;
                                border-bottom-right-radius: 4px;
                            }
                            
                        } 
                        .no-data-recommend-item{
                            width: 165px;
                            border-radius: 4px;
                            height: 93px; 
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            background-color: rgba( 255, 255, 255, 0.04);
                            .icon{
                                display: inline-block;
                                width: 100%;
                                height: 36px;
                                background-position: center;
                                background-size: 36px 36px;
                                background-repeat: no-repeat;
                            }
                            .words{
                                opacity: 0.6;
                                font-size: 12px;
                                color: #FFFFFF;
                                letter-spacing: 0;
                                text-align: center;
                                font-weight: 400;
                            }
                        } 
                    }
                    .van-swipe__indicator--active {
                        width: 20px !important;
                        height: 4px;
                    }
                    .van-swipe__indicator{
                        width: 6px;
                        height: 4px;
                        border-radius: 2px;
                    }
                    .van-swipe__indicators{
                        bottom: 0;
                    }
                }
            }
            
            &.cross-makert{
                background: rgba(0, 0, 0, 0);
                border: 1px solid rgba(255, 255, 255, 0);
                 padding: 4px 0 0 0;
                 margin-bottom: 0;
                .market-line{
                    margin-bottom: 8px;
                    padding: 0;
                    &.round-active .words{
                        color: #1fa2ff;
                    }
                }
            }
            // &:last-of-type {
            //     margin-bottom: 100px;
            // }
            .market-line{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 20px;
                &.round-active .words{
                    color: #1fa2ff;
                }
                &::before{
                    content: "";
                    flex: 1;
                    height: 1px;
                    background: rgba(255,255,255,0.06);
                }
                &::after{
                    content: "";
                    flex: 1;
                    height: 1px;
                    background: rgba(255,255,255,0.06);
                }
                .words{
                    width: 76px;
                    font-size: 14px;
                    color: rgba(255,255,255,0.6);
                    text-align: center;
                }
            }

            .groups{
                background: rgba(0,0,0,0.20);
                border-radius: 8px;
                border: 1px solid rgba(255,255,255,0.1);
                margin-bottom: 8px;
                padding-top: 8px;
                .list-item{
                    &:not(:last-child){
                        margin-bottom: 12px;
                    }
                    &.last-item{
                        margin-bottom: 0;
                    }
                }
                .groups-tips{
                    height: 34px;
                    font-size: 12px;
                    color: #ECC903;
                    text-align: center;
                    line-height: 34px;
                }
            }
            .list-item{
                &:not(:last-child){
                    margin-bottom: 20px;
                }
                &.list-visible {
                    display: none;
                }
            }

            .market-name{
                padding: 0 11px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                min-height: 16px;
                .words{
                    font-size: 12px;
                    color: rgba(255,255,255,1);
                    padding-left: 8px;
                    position: relative;
                    flex: 1;
                    &::after{
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        width: 2px;
                        height: 10px;
                        background: #E7BB02;
                        border-radius: 5px;
                        transform: translateY(-50%);
                    }
                }
                .collection{
                    width: 24px;
                    height: 24px;
                }
                .to-be-settled {
                    font-family: PingFangSC-Regular;
                    font-size: 12px;
                    color: #00FF3B;
                    font-weight: 400;
                    width: 68px;
                    padding-left: 12px;
                    text-align: right;
                }
            }

            .item-info{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .item-odds{
                    font-size: 14px;
                    margin-top: 0;
                }
                &.col3 {
                  .info-left,.info-right,.info-middle {
                    width: 111px;
                    .BetItem-box {
                      width: auto !important;
                    }
                  }
                }
                &.col1{
                    display: flex;
                    flex-direction: column;
                    .info-left{
                        width: 100% !important;
                        .BetItem-box {
                            width: auto !important;
                            .item-name{
                                white-space:normal;
                                max-width: 280px;
                            }
                        }
                    }
                }
                .BetItem-box.middle{
                    width: 111px;
                    height: 40px;
                    display: flex;
                    justify-content: space-between;
                    align-content: center;
                    flex-direction: row;
                    margin-top: 8px;

                    &:nth-child(1){
                        border-radius: 0 4px 4px 0;
                        border: none;
                        &:after{
                            border: none;
                            width: 100%;
                            height: 100%;
                            background-image: url("~@/assets/images/market/odds-right-default.png");
                            background-size: 100% 100%;
                            transform: scale(1);
                            border-radius: 0;
                        }
                    }

                    &:nth-child(3){
                        border-radius: 4px 0 0 4px;
                        border: none;
                        &:after{
                            border: none;
                            width: 100%;
                            height: 100%;
                            background-image: url("~@/assets/images/market/odds-left-default.png");
                            background-size: 100% 100%;
                            transform: scale(1);
                            border-radius: 0;
                        }
                    }

                    &.box-active{
                        &:nth-child(1)::after{
                            background-image: url("~@/assets/images/market/odds-right-true.png");
                            background-position: right top;
                        }               
                        &:nth-child(3)::after{
                            background-image: url("~@/assets/images/market/odds-left-true.png");
                            background-position: left top;
                        }
                    }

                    .item-name {
                        width: 100%;
                        font-size: 12px;
                        color: rgba(255,255,255,0.6);
                        text-align: left;
                        word-break: break-all;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                    .bubbles-box{
                        transform: scale(101/528, 48/152);
                    }
                }
                .info-left,.info-right{
                    width: 171px;
                    .BetItem-box{
                        display: flex;
                        justify-content: space-between;
                        align-content: center;
                        margin-top: 4px;
                        &:nth-child(n-2){
                            margin-top: 8px;
                        }
                        &.left,&.right{
                            width: 171px;
                            height: 40px;
                        }
                        &.left{
                            flex-direction: row;
                            border-radius: 0 4px 4px 0;
                            border: none;
                            &:after{
                                border: none;
                                width: 100%;
                                height: 100%;
                                background-image: url("~@/assets/images/market/odds-right-default.png");
                                background-size: 100% 100%;
                                transform: scale(1);
                                border-radius: 0;
                            }
                        }
                        &.right{
                            flex-direction: row-reverse;
                            border-radius: 4px 0 0 4px;
                            border: none;
                            &:after{
                                border: none;
                                width: 100%;
                                height: 100%;
                                background-image: url("~@/assets/images/market/odds-left-default.png");
                                background-size: 100% 100%;
                                transform: scale(1);
                                border-radius: 0;
                            }
                            .item-name{
                                text-align: right;
                            }
                        }
                        &.box-active{
                            &.left::after{
                                background-image: url("~@/assets/images/market/odds-right-true.png");
                            }               
                            &.right::after{
                                background-image: url("~@/assets/images/market/odds-left-true.png");
                            }
                        }
                        .item-name {
                            max-width: 100px;
                            font-size: 12px;
                            color: rgba(255,255,255,0.6);
                            // word-break: break-word;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            .item-name-box{
                                font-size: 12px;
                                color: rgba(255,255,255,0.6);
                                width: 100%;
                                word-break: break-all;
                                display: block;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                        .bubbles-box{
                            transform: scale(151/528, 48/152);
                        }
                    }
                }

            }
            .sell-out-match{
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                .sellout-box{
                    width: 171px;
                    height: 40px;
                    // background: rgba(0,0,0,0.10);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 12px;
                    margin-top: 8px;
                    position: relative;
                    
                    &.left{
                        flex-direction: row;
                        .sellout-winner{
                            margin-right: -8px;
                        }
                        &:after{
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-image: url("~@/assets/images/market/odds-right-false.png");
                            background-size: 100% 100%;
                        }
                    }
                    &.right{
                        flex-direction: row-reverse;
                        .sellout-name{
                            text-align: right;
                        }
                        .sellout-winner{
                            margin-left: -8px;
                        }
                        &:after{
                            content: "";
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-image: url("~@/assets/images/market/odds-left-false.png");
                            background-size: 100% 100%;
                        }
                    }
                    .sellout-name {
                        max-width: 90px;
                        font-size: 12px;
                        color: rgba(255,255,255,0.6);

                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        overflow:hidden;
                        /*! autoprefixer: off */
                        -webkit-box-orient: vertical;

                    }
                    .sellout-winner{
                        width: 32px;
                        height: 32px;
                        margin-top: -7px;
                        i{
                            width: 100%;
                            height: 100%;
                            display: block;
                        }
                    }
                }
            }

            .hide-item{
                display: none;
            }
            .more-mkt-btn{
                width: 100%;
                color: rgba(255,255,255,.6);
                font-weight: 400;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                font-size: 12px;
                margin-bottom: 8px;
                b{
                    color: #00FF3B;
                    margin: 0 4px;
                }      
                i{
                    width: 16px;
                    height: 16px;
                    margin-right: 4px;
                    transition: all 0.3s;
                    &.rote{
                        transform: rotate(180deg);
                    }
                }
            }
        } 
        

    }
    .description-pop{
        position: absolute;
        top: 0;
        left:0;
        bottom: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.6);
        z-index: 181;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate3d(0,0,0);
        .marginTop{
            margin-top: 250px;
        }
        .description-model{
            width: 327px;
            height: auto;
            background: #2B2F35;
            border-radius: 8px;
            .pop-title{
                height: 40px;
                line-height: 40px;
                background: rgba(255,255,255,0.1);
                font-size: 14px;
                font-weight: 500;
                display: flex;
                justify-content: space-between;
                padding-left: 16px;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                i{
                    display: inline-block;
                    width: 40px;
                    height: 40px;
                    background-size: 16px 16px;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
            .pop-content{
                padding: 16px;
                font-size: 14px;
                line-height: 20px;
                color: rgba(255,255,255,0.8);
                font-weight: 400;
                .rule-content-remark {
                    font-size: 14px;
                    color: rgba(255,75,52,0.8);
                    font-weight: 400;
                    margin: 8px 0 24px;
                }
            }
            .close-description{
                width: 295px;
                height: 36px;
                line-height: 36px;
                background-image: linear-gradient(180deg, #61C5FF 8%, #0271BD 55%, #027ED0 100%);
                border-radius: 4px; 
                font-size: 16px;
                color: #FFFFFF;
                text-align: center;
                font-weight: 400;
            }
        }
    }
    .market-nodata-host{
        height: 100%;
        overflow: auto;
        .data-nav{
            text-align: center;
            margin: 12px 0 8px 0;
            font-size: 12px;
            color: #F0F0F0;
            text-align: center;
            font-weight: 400;
        }
        .recommend{
            position: relative;
            top: 0;
            .recommend-list{
                padding: 0 12px;
            }
        }
    }
</style>