<template>
    <div class="normal-item" >
        <!-- 胜负平的盘口特殊处理，当visible为0时也显示： option_type = 6为胜负平的盘口 -->
        <template v-if="source.status == 6">
            <div class="option_type_list" v-if="source.list">
                <listItem  v-for="item in source.list" :key="item.id" :market="item" :matchs="matchs" />
            </div>

            <listItem v-else :market="source" :matchs="matchs" />
        </template>

        <!-- <template v-else-if="source.status == 888">
            <div class="more-mkt-btn" v-show="isShowMktBtn(marketRoundNew)" @click="handlerMkt()"> 
                <i :class="[{ 'rote': showMkt}, 'common-arrow-down' ]"></i>
                {{ showMkt ? i18n.shouqi : i18n.zhankai }}
                <b> {{i18n.jiesuan}} </b> 
                {{i18n.market}}
            </div>
        </template> -->
        
        <template v-else>
            <!-- 胜负平的盘口特殊处理，当visible为0时也显示： option_type = 6为胜负平的盘口 -->
            <div class="option_type_list" v-if="source.list">
                <listItem  v-for="item in source.list" :key="item.id" :market="item" :matchs="matchs" />
            </div>

            <listItem v-else :market="source" :matchs="matchs" />
        </template>

    </div>
</template>
  
<script>
import listItem from "../listItem"
export default {
    name: 'page-mode-item',
    components:{ listItem },
    props: {
        source: {
            type: Object,
            default () {
                return {}
            }
        },
        marketRoundNew:{
            type: Object,
            default () {
                return {}
            }
        },
        matchs:{
            type: Object,
            default () {
                return {}
            }
        },
    },

    data(){
        return {
            showMkt: false,
            i18n: this.$t('marketPage.index'),
        }
    },

    methods: {
        // 判断是否显示查看待结算已结算按钮
        isShowMktBtn(ele){
            const { listShow, listHide } = ele;
            return listShow.length > 0 && listHide.length > 0;
        },

        // 待结算/已结算 显示隐藏
        handlerMkt(){
            this.showMkt = !this.showMkt
        },

    },
}
</script>
  
<style lang="less">

</style>