<template>
    <div class="round-market market-list" id="market">
        <div class="market-blank" v-show="!smallHeader"></div>
        <marketHeader
            v-if="matchs"
            :AndroidOS="AndroidOS"
            :matchs="matchs"
            :smallHeader="smallHeader"
            :lockVideo ="lockVideo"
            @closeLockVideo="setLock"
            :fromName ="fromName"
            @lock="lockSwitch"
        />

        <div :class="['mkt-nav',  lockVideo ? 'lock-nav':'sticky-nav', { 'mkt-nav-fixed': smallHeader } ]">
            <div class="host-tips-box"  v-if="showHostTips && matchs && matchs.is_live == 2 && matchs.category == 5 && matchs.status == 5">
                <div :class="['host-tips',{'lock-tips' : lockVideo },{'fixed': smallHeader||lockVideo},]" 
                >
                    <van-notice-bar background="#000" scrollable >
                        {{i18n.tips}}
                        <template v-slot:right-icon>
                            <i class="icon common-close-not-border" @click="changeShowHostTips"></i>
                        </template>
        
                    </van-notice-bar>
                </div>
            </div>
            <div class="ant-nav" v-if="rightNav.length > 1 && matchs.ant_match_id != 0">
                <span :class="{ 'active': activeRightNav == item.key }" v-for="item in rightNav" :key="item.key" @click="changeRightNav(item.key)">
                    {{ item.val }}
                </span>
                <i class="ant-description common-question" @click="descriptionShow1=true"></i> 

            </div>
            <div class="station-box"  v-if="(playVideo || canStation) && activeRightNav == 0">
                <div class="station-order-content">
                    <div class="video-lock" v-if="playVideo"  @click="lockSwitch">
                        <i :class="lockVideo ? 'common-video-lock' : 'common-video-unlock'"></i>
                        {{ lockVideo ? i18n.lock : i18n.unlock}}
                    </div>
                    <div class="station-order" v-if="canStation">
                        <div class="station-switch"><i :class="stationOpen?'common-switch-open':'common-switch-close'" @click="stationSwitch"></i>{{i18n.station}}</div> 
                        <div class="description common-question" @click="descriptionShow=true"></div> 
                    </div>
                </div>
            </div>
            <van-tabs 
                class="dj-tabs round-tabs"
                v-show="activeRightNav == 0"
                v-model="activeMenu"
                :offset-top="offsetTop()" 
                @click="onTabClick"
                v-if="matchs.visible == 1"
            >
                <van-tab
                    v-for="ele in roundListNew"
                    :name="ele.key"
                    :key="ele.key"
                >
                    <template #title>
                        <span class="round-name">  {{ ele.value }} </span>
                    </template>
                </van-tab>
            </van-tabs>
            <div class="line"></div>

            <!-- 盘口第几局 -->
            <div  
                :class="['market-option', { 'round-active': activeMenu == marketRoundNew.key }]"  v-show="activeRightNav == 0">
                <b class="words">  {{ marketRoundNew.value }} </b>
                <div class="btn-content">
                    <span 
                        :class="['btn', { 'active': activePlayTab == tab.id }]"
                        v-show="showFuhe(matchs.game_id, tab.id)"
                        v-for="tab in playtab"
                        @click="changeType(tab.id)"
                        :key="tab.id"
                    >
                        {{ tab.val }}
                    </span>
                </div>
            </div>
        </div>
        


        <template v-if="activeRightNav == 0">

            <template v-if="!marketLoading">
                
                <template v-if="marketRoundNew.list.length && matchs.visible == 1">

                            
                            <div class="anchor-info" v-if="showHost(matchs.category)">
                                <div class="anchor-head" v-if="getHostTimer(marketRoundNew.key)||(picList(marketRoundNew.key)&&picList(marketRoundNew.key).length > 0)">
                                    <div class="head-center" v-if="getHostTimer(marketRoundNew.key)">
                                        {{ getHostTimer(marketRoundNew.key) }}
                                    </div>
                                    <div class="head-right" @click="handlerPic(marketRoundNew.key)"  v-if="picList(marketRoundNew.key).length > 0">
                                        {{i18n.result}}
                                        <i :class="['icon', 'market-recommend', { 'active': showPic[marketRoundNew.key] } ]"></i>
                                    </div>
                                </div>
                                <van-swipe class="end-game-swipe" indicator-color="white" v-if="showPic[marketRoundNew.key] && picList(marketRoundNew.key) && picList(marketRoundNew.key).length > 0">
                                    <van-swipe-item v-for="(image, index) in chunkFn(picList(marketRoundNew.key))" :key="index" class="end-game-list">
                                        <div class="end-game-item" 
                                            @click="bigPictureFn(picList(marketRoundNew.key))"
                                            v-for="(img, index) in image"
                                            :key="index"
                                            >
                                            <img :src="`${UPLOAD_URL + img.images}`" class="end-game-image" alt=""/>
                                            <div class="end-game-text ellipsis-4">{{img.remark}}</div>
                                        </div>
                                        <div class="no-data-recommend-item" v-if="image.length!=2">
                                            <span class="icon no-data-recommend"></span>
                                            <span class="words"> {{i18n.noresult}} </span>
                                        </div>
                                    </van-swipe-item>
                                </van-swipe>
                            </div>
                            
                            <!-- 盘口列表 -->
                            <template v-if="!stationOpen">
                                <virtual-list class="list-page scroll-touch" ref="vsl1"
                                    :data-key="'id'"
                                    :data-sources="marketSources"
                                    :data-component="normalItem"
                                    :keeps="20"
                                    :item-class="'list-item-page'"
                                    :page-mode="false"
                                    @scroll="scrollvirtual"
                                    :extra-props="{
                                        marketRoundNew,
                                        matchs
                                    }"
                                >
                                   
                                </virtual-list>
                            </template>

                            <!-- 串关列表 -->
                            <template v-else>

                                <virtual-list class="list-page scroll-touch" ref="vsl2"
                                    :data-key="'id'"
                                    :data-sources="marketSourceStation"
                                    :data-component="stationItem"
                                    :keeps="20"
                                    :item-class="'list-item-page'"
                                    :page-mode="false"
                                    @scroll="scrollvirtual"
                                    :extra-props="{
                                        marketRoundNew,
                                        matchs
                                    }"
                                />
                               

                            </template>
             
                </template>
                
                <!-- 无盘口信息 -->
    
                <div class="market-nodata-host" v-else>
                    <div class="host-data" v-if="showHostMatchAnt">
                        <div class="data-nav">
                            <p>{{ i18n.eventEnded }}</p>
                            <p>{{ i18n.eventsRecommended }}</p>
                        </div>
                       
                        <recommend :visible="true" />
                    </div>
                        
                    <common-not-data
                        v-else
                        class="not-account-data"
                        :title="i18n.zanwu"
                        :subTitle="i18n.zanwutishi"
                        backgroundImg="not-data-match"
                        paddingTop="30px">
                    </common-not-data>
                </div>
                <div :class="['load-more', { 'has-cart': showCart }]">
                    <div 
                        class="more-bg" 
                        @click="onTabClick(nextRound.key)">
                        {{ nextRound.name }}
                    </div>
                </div>

            </template>
            <list-load class="market-loading" v-else/>
            <van-popup v-model="descriptionShow" class="description-pop" get-container=".app"  >
                <div :class="['description-model',{'marginTop': lockVideo && AndroidOS}]">
                    <div class="pop-title">
                        <span>{{i18n.shuoming}}</span>
                        <i @click="descriptionShow=false" class="common-close-not-border"></i>
                    </div>
                    <div class="pop-content">
                        <p v-for="(des,i) in description" :key="i">
                            {{des.key}}.{{des.value}}
                        </p>
                        <br/>
                        <p> *{{ i18n.chuanguanzuhe }} </p>
                        <br/>
                        <div class="close-description" @click="descriptionShow=false">{{i18n.iknow}}</div>
                    </div>
                </div>
            </van-popup> 

            <big-picture :images="bigPictureImages" v-if="bigPictureShow" :bigPictureShow="bigPictureShow" @close="bigPictureShow=false"></big-picture>
            
            
            <!-- <div class="play-type" ref="playType" v-if="!showHostMatchAnt && !stationOpen && matchs && showPlayListGame.includes(String(matchs.game_id)) && (hasPlayList1 || hasPlayList2 || hasPlayList3 || hasPlayList4)">
                <div class="type-btn-1" @click="showPlayType = !showPlayType">
                    {{ i18nItem.type }}
                </div>
                <div class="type-icon"  @click="showPlayType = !showPlayType">
                    <i :class="['icon' , showPlayType ? 'common-arrow-right' : 'common-arrow-left']"></i>
                </div>
                <div class="type-list" v-show="showPlayType">
                    <div 
                        @click="changePlayType(item.val,item.name)"
                        :class="['item', { 'active': item.val == activePlay }]"
                        v-show="showPlayItem(item.val)"
                        v-for="item in playList" :key="item.val">
                        {{ item.name }}
                    </div>
                </div>
            </div> -->
        </template>
        <component
            v-else    
            :is="componentId"
            >
        </component>

        <van-popup v-model="descriptionShow1" class="description-pop" get-container=".app"  >
            <div :class="['description-model',{'marginTop': lockVideo && AndroidOS}]">
                <div class="pop-title">
                    <span>{{i18nA.RuleDescription}}</span>
                    <i @click="descriptionShow1=false" class="common-close-not-border"></i>
                </div>
                <div class="pop-content">
                    <p>
                        {{ i18nA.DescriptionDataDisplayRules }}
                    </p>
                    <div class="rule-content-remark">{{$t('antDataSource.DescriptionDataDisplayRulesRemark')}}</div>
                    <div class="close-description" @click="descriptionShow1=false">{{i18n.iknow}}</div>
                </div>
            </div>
        </van-popup> 

    </div>
</template>

<script>

import lodash from "lodash";
import marketJs from "./market.js";
import { groupingData, formatOptionType } from '@/assets/scripts/utils'
import VirtualList from 'vue-virtual-scroll-list';
import normalItem from "./normalItem.vue"
import stationItem from "./stationItem.vue"
import recommend from "../recommend"

// 拆分局内串关数据分成开盘盘口，和待结算已结算盘口
function solMktGroups (list) {
    list.forEach( ele => {
        ele["listHide"] = ele.list.filter( e => e.status != 6 );
        ele["listShow"] = ele.list.filter( e => e.status == 6 );
    })
    return list
};

export default {
    mixins:[marketJs],
    components:{
        VirtualList,
        recommend
    },
    data(){
        return {
            normalItem: normalItem,
            stationItem: stationItem,
            beforeShowModal: false,

            playtab:[
                { id: 0, val: this.$t('marketPage.index').All },
                { id: 12, val: this.$t('marketPage.index').Mix },
                { id: 2, val: this.$t('marketPage.index').Handicap },
                { id: 3, val: this.$t('marketPage.index').TotalGoals },
            ],

            activePlayTab: 0,

        }
    },
    watch:{
        // 检测比赛开始时间
        'matchs.visible':{
            handler(v, ov){
                if( this.beforeShowModal ){
                    return
                }
                if(v == 0){
                    this.beforeShowModal = true;
                    this.$sysModal({
                        message: this.i18n.endMatchHome,
                        link: '/home',
                        cancel: true,
                        center: true,
                        overlay: true,
                    });
                }
            },
            deep: true,
        },
    },
    computed:{
        showCart(){
            return this.betCart.length || Object.keys(this.stationList).length
        },
        roundListNew(){
            const { visible, category } = this.matchs;
            if( visible == 0 ){
                return []
            };
            if( category == 4 ){
                return this.basketball;
            }
            if( category == 6 ){
                return this.football
            }
            let bo = this.matchs ? Number(this.matchs.bo || 0) : 0 ;
            bo === 0 && (bo = 9) // BO0的赛制默认显示9局。与BO9显示一样
            const round = this.round.filter(ele => {
                // 添加排序规则，当前局之前除了全局全部排在后面
                if( this.matchs.is_live == 2 && this.matchs.status == 5 ){
                    const curRound = Number(this.matchTimer[this.matchs.id].round)
                    ele['sordEnd'] =  ele.key < curRound && ele.key != 0 ? -1 : 1;
                }else{
                    ele['sordEnd'] = 0;
                }
                // 隐藏全局： 主播盘和局内串关
                if( category == 5 || this.stationOpen ){ 
                    return ele.key <= bo && ele.key != 0 // 主播盘无全局
                }else{
                    return ele.key <= bo
                }
            });
            // 局数排序，当前局之前得都排序到最后；
            round.sort( (a,b) => {
                return b.sordEnd - a.sordEnd;
            });
            return round
        },
        // 盘口按局加载
        marketRoundNew(){
            if( this.marketList.length > 0 ){ 
                let obj = {
                    ...this.roundListNew.find( ele => ele.key == this.activeMenu),
                    list:[],
                    listShow:[],
                    listHide:[],
                    groups:[]
                };
                let marketList = lodash.cloneDeep(this.marketList);
            
                // 详情页玩法分类 detail_type  0-普通玩法,1-热门玩法,2-特别玩法,3-复合玩法
                if( this.activePlay  ){ 
                    marketList = marketList.filter( 
                        ele => ele.detail_type == this.activePlay 
                    );
                }
                       
                if( this.activePlayTab ){
                    marketList = marketList.filter( 
                        ele => {
                            // 大小：3、15、20  （3个）   让分：2、14、19（3个） 复合：9、12（2个，普通和热门的区别）
                            if( this.activePlayTab == 12 ){
                                return ele.option_type == 9 || ele.option_type == 12 || ele.option_type == 23
                            }
                            if( this.activePlayTab == 2 ){
                                return ele.option_type == 2 || ele.option_type == 14 || ele.option_type == 19 
                            }
                            if( this.activePlayTab == 3 ){
                                return ele.option_type == 3 || ele.option_type == 15 || ele.option_type == 20 
                            }
                        }
                    );
                }

                // 局内串关，过滤掉全局盘口 
                if(this.stationOpen){
                    marketList = marketList.filter( ele => 
                        ele.is_pass_off == 2            // 可以行成串关得盘口
                        && ele.option_type != 12        // 普通复合玩法不可以形成串关
                        && ele.option_type != 23        // 局内复合玩法不可以形成串关
                        && ele.round != 0               // 全场不可以形成串关
                        && ele.round != 100             // 全场不可以形成串关
                    ); // 复合玩法不参与局内串关
                   
                    // 盘口排序
                    marketList.sort((a, b) => {
                        const splitNameA = Number(a.odds[0].name.split(">")[1]);
                        const splitNameB = Number(b.odds[0].name.split(">")[1]);
                        const splitTypeA = Number(a.odds[0].name.split("+")[1]) || -Number(a.odds[0].name.split("-")[1]);
                        const splitTypeB = Number(b.odds[0].name.split("+")[1]) || -Number(b.odds[0].name.split("-")[1]);
                        let statusSort = a.status - b.status;
                        // 已结算位于本局最后，所有stauts:6, 7, 8, 10, 9
                        if(a.status == 9 && b.status == 10){
                            statusSort = 1;
                        }
                        if(a.status == 10 && b.status == 9){
                            statusSort = -1;
                        }
                        return (
                            a.round - b.round 
                            || statusSort 
                            || a.tag_code - b.tag_code 
                            || a.sort_code - b.sort_code
                            || Number(a.odd_type_id) - Number(b.odd_type_id) 
                            || splitNameA - splitNameB 
                            || splitTypeA - splitTypeB
                        );
                    });
                }else{
                    // 盘口排序
                    marketList.sort((a, b) => {
                        const splitNameA = Number(a.odds[0].name.split(">")[1]);
                        const splitNameB = Number(b.odds[0].name.split(">")[1]);
                        const splitTypeA = Number(a.odds[0].name.split("+")[1]) || -Number(a.odds[0].name.split("-")[1]);
                        const splitTypeB = Number(b.odds[0].name.split("+")[1]) || -Number(b.odds[0].name.split("-")[1]);
                        let optionTypeSort = 0
                        // 复合玩法位于本局最后
                        if(a.option_type == 12 && b.option_type != 12){
                            optionTypeSort = 1;
                        }
                        if(a.option_type != 12 && b.option_type == 12){
                            optionTypeSort = -1;
                        }
                        let statusSort = a.status - b.status;
                        // 已结算位于本局最后，所有stauts:6, 7, 8, 10, 9
                        if(a.status == 9 && b.status == 10){
                            statusSort = 1;
                        }
                        if(a.status == 10 && b.status == 9){
                            statusSort = -1;
                        }
                        return (
                            a.round - b.round 
                            || statusSort 
                            || optionTypeSort 
                            || a.comp_sub_num - b.comp_sub_num 
                            || a.sort_code - b.sort_code 
                            || Number(a.odd_type_id) - Number(b.odd_type_id) 
                            || splitNameA - splitNameB 
                            || splitTypeA - splitTypeB
                        );
                    })
                }


                const groupSplice = groupingData(marketList, 'tag');
                obj.list = marketList;
                obj.listShow = marketList.filter( e => e.status == 6 );
                obj.listHide = marketList.filter( e => e.status != 6 );
                obj.groups = solMktGroups(groupSplice);
                obj.listShow = formatOptionType(obj.listShow)
                obj.listHide = formatOptionType(obj.listHide)
                return obj
            }else{
                return {
                    list:[]
                }
            }
        },
        nextRound(){
            const curRound = this.activeMenu;
            const obj = {
                key:0,
                name: ""
            };
            const round = this.roundListNew;
            if( round.length == 0 ){
                return obj
            }
            if( round[round.length-1].key == curRound ){ // 最后一局
                obj.key = round[0].key;
            }else{
                const $index = round.findIndex( ele => ele.key ==  curRound)
                obj.key = round[$index + 1].key;
            }
            if( this.matchs.category == 4 || this.matchs.category == 6 ){
                obj.name =  this.i18n[`toNext${obj.key}`]
            }else{
                obj.name =  this.i18n[`nextRound${obj.key}`]
            }
            // obj.name =  this.i18n[`nextRound${obj.key}`]
            return obj;
        },

        // 虚拟列表数据组装
        marketSources(){
            let arr = [];
            const obj = this.marketRoundNew;

            arr = [
                ...obj.listShow,
                { id:"more-mkt-btn", status: "888" },
                ...obj.listHide
            ]
            return arr
        },

        marketSourceStation(){
            let arr = [];
            const obj = this.marketRoundNew;

            obj.groups.forEach( ele => {
                if( ele.listShow.length != 0 ){
                    ele.listShow = formatOptionType(ele.listShow)
                    arr = [
                        ...arr,
                        ...ele.listShow,
                        { id: "groups-tips", status: "999", tag: ele.tag }
                    ]
                }
            })
            
            obj.listHide = formatOptionType(obj.listHide)

            arr = [
                ...arr,
                { id:"more-mkt-btn", status: "888" },
                ...obj.listHide
            ]
            return arr
        },
        // 当前是否有盘口 是否显示热门推荐赛事
        showHostMatchAnt(){
            const { status, visible } = this.matchs;
            if( status > 5 || visible == 0 ){
                return true
            };
            return false            
        },

    },
    created() {
        this.getMarketList(this.activeMenu);
        this.$bus.$on("updateMktList", () => {
            console.log("MQTT通知成功组件按局加载")
            this.getMarketList(this.activeMenu, true);
        });
        // 切换浏览器标签 通知更新赛事盘口列表
        this.$bus.$on("locationChange", () => {
            this.getMarketList(this.activeMenu, true);
        });

    },
    mounted() {
        document.addEventListener("touchstart", (e) => {
            let playType = this.$refs.playType;
            if ( playType && playType.contains && !(playType.contains(e.target))) {
               this.showPlayType = false;
            }
        },true);

       

    },
    methods: {
        // 获取赛事盘口详情
        getMarketList(stage_id, type){
      
            const matchID = this.$route.params.id;
            if( !type ){
                this.$store.commit("SET_MARKES_LIST", []);
                this.marketLoading = true;
            }
            this.$store.dispatch("fetchMarketList", {
                match_id: matchID,
                stage_id: stage_id, 
            }).then( res => {
                this.marketLoading = false;
            });
        },
        onTabClick: lodash.throttle(function(computedName) {
            this.activePlayTab = 0;
            this.$store.commit("SET_ACTIVE_PLAY", 0);
            this.activeMenu = computedName;
            this.getMarketList(this.activeMenu);
        }, 300),
        //切换局内
        stationSwitch:lodash.throttle(function() {
            // 局内串关开关点击次数统计
            // this.$store.commit("SET_TRACK", { tab: 20, page: 2 });
            this.$store.commit("SET_STATION_DELL");
            this.$store.commit("SET_STATION_STATUS", !this.stationOpen);
            // 获取游戏类型
            const gameTpye = this.gameList.filter(item => item.id == this.matchs.game_id)[0].name
            if (this.stationOpen){
                if(Object.keys(this.stationList).length>0){
                    this.$store.commit("SET_BETCART_TYPE", "stationOrder" )
                }
                this.$toast({
                    message: this.i18n.openStation,
                    duration: 2000,
                    customClass: 'bet-status-tips',
                });

                setTimeout(()=>{
                    // 2s之后手动关闭
                    this.$toast.clear()
                }, 2000)
            }else{
                if( this.betCart.length > 0 ){
                    this.$store.commit("SET_BETCART_TYPE", "betOrder" )
                }
            }
    
            if( this.activeMenu == 0 ){ // 全局切换到当前局
                const liveTimeObj = this.matchTimer[this.matchs.id];
                // 非滚球，无matchTimer 赛事时间，开启局内串关，直接显示第一局；
                if( liveTimeObj ){
                    this.activeMenu = String(liveTimeObj.round)
                }else{
                    this.activeMenu = "1";
                }
                this.getMarketList(this.activeMenu);
            }
        }, 300),

        // 滚动虚拟列表
        scrollvirtual(e, range){
            var scrollTop = e.target.scrollTop;
            // const $height = document.querySelector('.market-header').clientHeight;
            if(scrollTop > 20 && !this.lockVideo){
                this.smallHeader = true; 
            }else{
                this.smallHeader = false;
            }
        },

        changeType(id){
            // vsl1
            this.activePlayTab = id;
            this.$store.commit("SET_ACTIVE_PLAY", 0)
        },

        changePlayType(type,name){
            this.activePlayTab = 0;
            this.$store.commit("SET_ACTIVE_PLAY", type)
        },


    },
    beforeDestroy(){
        this.$bus.$off('locationChange');
        this.$bus.$off('updateMktList');
    },
    
}
</script>

<style lang="less" >
@import url("~@/assets/less/market.less");
</style>