<template>
    <div :class="['counter', className,{'longHour': String(time.hour).length > 2}]">
        <div class="transition" :class="counterClass">
            <span class="text-hold hour time-0" v-if="!hideHour" text="00">
                <span class="text">{{ time.hour }}</span>
                <span class="colon" v-if="!isHeader">:</span>
            </span>
            <span class="text-hold minute time-1" text="00">
                <span class="text">{{ time.minute }}</span>
                <span class="colon" v-if="!isHeader">:</span>
            </span>
            <span class="text-hold second time-2" text="00">
                <span class="text">{{ time.second }}</span>
            </span>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'
import { register, unregister } from '@/views/lottery/scripts/globalCounter'
export default {
    name: 'counter',
    props: {
        id: {
            require: true,
        },
        isHeader: {
            default: () => false,
            type: Boolean,
        },
        hideHour: {
            default: () => false,
            type: Boolean,
        },
        className: {
            default: () => '',
            type: [String, Array],
        },
    },
    computed: {
        ...mapState({
            lotteryCounterMap: state => state.lottery.lotteryCounterMap,
        }),
        counterClass() {
            if (parseInt(this.time.second) <= 5 && parseInt(this.time.minute) == 0) {
                return `normal-counter-1 warning`
            }
            return `normal-counter-1`
        },
        ...mapState({
            lotteryCounterMap: state => state.lottery.lotteryCounterMap,
        }),
        seconds() {
            return this.lotteryCounterMap[this.id] || {}
        },
        remain() {
            return this.seconds.remain || 0
        },
        time() {
            let tempRemain = this.remain
            let second = tempRemain % 60
            let minute = parseInt(tempRemain / 60) % 60
            let hour = parseInt(tempRemain / (60 * 60)) % 24
            let day = parseInt(tempRemain / (60 * 60 * 24))

            return {
                second: this.fengpaning ? '--' : this.formatTime(second),
                minute: this.fengpaning ? '--' : this.formatTime(minute),
                hour: this.fengpaning ? '--' : this.formatTime(hour + day * 24),
            }
        },
        fengpaning() {
            return (this.lotteryCounterMap[this.id] || {}).fengpaning
        },
    },

    mounted() {
        if(this.id){
            register(this.id, this)
        }
    },

    destroyed() {
        unregister(this.id, this)
    },

    methods: {
        formatTime(t, i) {
            t = t < 0 ? 0 : t
            var _t = t < 10 ? '0' + t : t
            return _t
        },
    },

    watch: {
        id: {
            handler(v) {
                if (v) {
                    register(this.id, this)
                }
            },
            immediate: true,
        },
        time: {
            handler(newV) {
                let second = Number(newV.second)
                if (newV.hour == '00' && newV.minute == '00' && newV.hour == '00' && second <= 5) {
                    this.$emit('upDate', newV)
                }
            },
            deep: true,
        },
    },
}
</script>

<style scoped lang="scss">
.counter {
    font-family: 'LcdD';

    .warn-counter-1 {
        color: #ff4444 !important;
    }
    .normal-counter-1 {
        color: black;
    }
    .transition {
        transition: all 0.3s;
    }
    .text-hold {
        position: relative;
    }
    .text {
        position: relative;
        z-index: 5;
    }
    //自定义类名字
    &.sicbo-counter {
        .warning {
            &.normal-counter-1 {
                span {
                    color: #1afffb !important;
                }
            }
        }
        .normal-counter-1 {
            font-size: px2rem(67/3);
            line-height: px2rem(77/3);
            color: #ceb685 !important;
            font-size: 0;
        }
    }
    &.baijiale-counter {
        font-family: "YournameD7GeneralNarrow";
        .warning {
            &.normal-counter-1 {
                span {
                    color: #1afffb !important;
                }
            }
        }
        .normal-counter-1 {
            text-align: center;
            font-size: bjpx(48/3) !important;
            letter-spacing: 0;
            color: #ffffff !important;
            font-size: 0;
        }
    }
}
</style>
