<template>
    <div class="pk10-simple-counter">
        <div class="transition">
            <span class="minute simple-counter__num">
                <span class="wrap">
                    <img :src="require(`src/assets/images/tese-pk10/header/countdown/${String(time.minute)[0]}.png`)" alt>
                </span>
                <span class="wrap">
                    <img :src="require(`src/assets/images/tese-pk10/header/countdown/${String(time.minute)[1]}.png`)" alt>
                </span>
            </span>
            <span class="simple-counter__colon" :style="{backgroundImage: `url(${require(`src/assets/images/tese-pk10/header/countdown/maohao.png`)})`}"></span>
            <span class="second simple-counter__num">
                <span class="wrap">
                    <img :src="require(`src/assets/images/tese-pk10/header/countdown/${String(time.second)[0]}.png`)" alt>
                </span>
                <span class="wrap">
                    <img :src="require(`src/assets/images/tese-pk10/header/countdown/${String(time.second)[1]}.png`)" alt>
                </span>
            </span>

        </div>
    </div>
</template>

<script>
export default {
    name: 'SimpleCounter',
    props: {
        // 剩余时间
        remainTime: {
            type   : Number,
            default: 0,
        },
    },

    data() {
        // prettier-ignore
        return {
            remain: 0,   // 计时器剩余时间
            time  : {
                hour  : 0,   // 小时
                minute: 0,   // 分钟
                second: 0    // 秒
            },
            warn    : false,
            interval: 0,
        }
    },

    created: function() {
		this.clearTime();
        this.initSeconds();
    },

    methods: {
        initSeconds() {
            this.remain = this.remainTime;
            this.getTime();
            this.setCountInterval();
        },

        clearTime() {
            this.time.second = 0
            this.time.minute = 0;
            this.time.hour = 0;
        },

        formatTime(t, i) {
            t = t < 0 ? 0 : t;
            var _t =  t < 10 ? ('0' + t) : t;
            return _t;
        },

        getTime() {
            let remain = this.remain;
            let second = remain % 60;
            let minute = parseInt(remain / 60) % 60;
            let hour = parseInt(remain / (60 * 60)) % 24;
            let day = parseInt(remain / (60 * 60 * 24));

            this.time = {
                second: this.formatTime(second),
                minute: this.formatTime(minute),
                hour: this.formatTime(hour + day*24),
            }
        },

        countDown() {
            this.remain--;

            // 倒计时结束
            if (this.remain <= 0) {
                // 避免每隔1s触发一次next事件
                clearInterval(this.interval)
                this.$emit('end')
            }

            if (this.remain < 0) {
                this.remain = 0;
            }

            if (this.remain <= 10 && this.remain != 0) {
                this.warn = true
            } else {
                this.warn = false
            }

            this.getTime();
        },

        setCountInterval() {
            clearInterval(this.interval);

            this.interval = setInterval(() => {
                this.countDown();
            }, 1000);
        },
    },

    watch: {
        remainTime(v) {
            this.initSeconds();
        },
    },
}
</script>

<style scoped lang="scss">
.pk10-simple-counter {
    font-size: 18px;
    text-align: justify;
    white-space: nowrap;
    font-size: px2rem(17);
    color: #A4AFC9;
    background-image: url(~src/assets/images/tese-pk10/header/countdown/time-bg.png);
    background-size: 130% 130%;
    background-position: center;
    background-repeat: no-repeat;
    min-width: px2rem(536/3);
    height: px2rem(158/3);

    .transition {
        transition: all 0.3s;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .simple-counter__num {
        display: flex;
        .wrap {
            width: px2rem(114/3);
            height: px2rem(158/3);
            display: flex;
            justify-content: center;
            img {
                width: auto;
                height: px2rem(158/3);
            }
        }
    }

    .simple-counter__colon {
        margin: 0 10px;
        transform: translate(-2px, -1px);
        width: px2rem(96/6);
        height: px2rem(180/6);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    span {
        color: #A4AFC9;
    }
}
</style>
