<template>
    <div class="simple-counter">
        <div class="transition">
            <!-- <span class="hour simple-counter__num">{{ time.hour }}</span><span class="simple-counter__colon">
                :
            </span> -->
            <span class="minute simple-counter__num">{{ time.minute }}</span><span class="simple-counter__colon">
                :
            </span><span class="second simple-counter__num">
                {{ time.second }}
            </span>
        </div>
    </div>
</template>

<script>
export default {
    name: 'SimpleCounter',
    props: {
        // 剩余时间
        remainTime: {
            type   : Number,
            default: 0,
        },
    },

    data() {
        // prettier-ignore
        return {
            remain: 0,   // 计时器剩余时间
            time  : {
                hour  : 0,   // 小时
                minute: 0,   // 分钟
                second: 0    // 秒
            },
            warn    : false,
            interval: 0,
        }
    },

    created: function() {
		this.clearTime();
        this.initSeconds();
    },

    methods: {
        initSeconds() {
            this.remain = this.remainTime;
            this.getTime();
            this.setCountInterval();
        },

        clearTime() {
            this.time.second = 0
            this.time.minute = 0;
            this.time.hour = 0;
        },

        formatTime(t, i) {
            t = t < 0 ? 0 : t;
            var _t =  t < 10 ? ('0' + t) : t;
            return _t;
        },

        getTime() {
            let remain = this.remain;
            let second = remain % 60;
            let minute = parseInt(remain / 60) % 60;
            let hour = parseInt(remain / (60 * 60)) % 24;
            let day = parseInt(remain / (60 * 60 * 24));

            this.time = {
                second: this.formatTime(second),
                minute: this.formatTime(minute),
                hour: this.formatTime(hour + day*24),
            }
        },

        countDown() {
            this.remain--;

            // 倒计时结束
            if (this.remain <= 0) {
                // 避免每隔1s触发一次next事件
                clearInterval(this.interval)
                this.$emit('end')
            }

            if (this.remain < 0) {
                this.remain = 0;
            }

            if (this.remain <= 10 && this.remain != 0) {
                this.warn = true
            } else {
                this.warn = false
            }

            this.getTime();
        },

        setCountInterval() {
            clearInterval(this.interval);

            this.interval = setInterval(() => {
                this.countDown();
            }, 1000);
        },
    },

    watch: {
        remainTime(v) {
            this.initSeconds();
        },
    },
}
</script>

<style scoped lang="scss">
.simple-counter {
    font-size: 18px;
    text-align: justify;
    // color: #ffbb00;
    white-space: nowrap;
    background: linear-gradient(180deg, #d0a465 10%, #ffde7f 60%, #fff7a3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: px2rem(17);

    .transition {
        transition: all 0.3s;
    }

    .simple-counter__num {
        display: inline-block;
    }

    .simple-counter__colon {
        display: inline-block;
    }

    span {
        background: linear-gradient(180deg, #d0a465 10%, #ffde7f 60%, #fff7a3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
</style>
