<template>
    <div :class="['system-modal-overlay', { 'overlay': overlay }]" v-show="visible">
        <div id="systemModal" :class="['system-modal', { 'modal-center': center }]" >
            <div class="modal-main">
                <div class="modal">
                    <div class="modal-top">
                        <div class="close" @click="closeModal">
                            <i class="common-close"></i>
                        </div>
                        <div class="title" v-show="title">
                            {{ title || i18n.notice }}
                        </div>
                    </div>
                    <div class="modal-content" v-html="message">
                    </div>
                    <div class="modal-btn" v-show="cancel">
                        <a :href="link ? link : 'javascript:;'" class="confirm" @click="closeModal">
                            {{ i18n.yes }}
                        </a>
                        <div class="cancel" @click="closeModal"> {{ i18n.no }} </div>
                    </div>
                    <a  v-show="!cancel" :href="link ? link : 'javascript:void(0);'" @click="closeModal" class="only-confirm">
                        {{ btnName || i18n.confirm }}
                    </a>
                </div>
            </div>
        </div>
    </div>

</template>
<script>
import i18n from "@/assets/i18n/index.js"
export default {
    data () {
        return {
            title: '',
            visible: false,
            message: '',
            btnName: '',
            link: '',
            i18n: i18n.t('common.systemModel'),
            cancel: true,
            center: true,
            overlay: true
        }
    },

    methods:{
        closeModal(){
            this.visible = false;
        }
    }
}
</script>
<style lang="less" scoped>
@keyframes fadeIn {
	from {
		opacity: 0;
		margin-top: -50px;
	}
	to {
		opacity: 1;
		margin-top: 0;
	}
}
.system-modal-overlay,.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 99999;
}
.system-modal{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0.6);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    animation: fadeIn 0.3s ease-in both;
    &.modal-center{
        top: 50%;
        transform: translate(-50%, -50%);;
    }
    .modal-main{
        width: auto;
        height: auto;
        background-color: rgba(0,0,0,0.6);
        border-radius: 8px;
    }
    .modal{
        width: 343px;
        min-height: 164px;
        border-radius: 8px;
        padding: 24px 16px;
        background-color:#3b3a3a;
    }
    .modal-top{
  
        .title{
            font-size: 16px;
            color: #FFFFFF;
            text-align: center;
        }
        .close{
            width: 100%;
            height: 16px;
            i{
                float: right;
                width: 16px;
                height: 16px;
            }
        }
    }
    .modal-content{
        margin: 12px auto 16px;
        font-size: 14px;
        color: rgba(255,255,255,0.6);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .modal-btn{
        display: flex;
        align-content: center;
        justify-content: center;
        .confirm{
            width: 80px;
            height: 40px;
            background-image: linear-gradient(180deg, #61C5FF 8%, #0271BD 55%, #027ED0 100%);
            border-radius: 4px;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 16px;
            cursor: pointer;
            text-decoration: none;
            margin: 0 16px;
        }
        .cancel{
            width: 80px;
            height: 40px;
            color: #FFFFFF;
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgba(255,255,255,0.30);
            border: 0.5px solid rgba(255,255,255,0.25);
            box-shadow: inset 0 0 4px 0 rgba(255,255,255,0.14);
            border-radius: 4px;
            margin: 0 16px;
            cursor: pointer;
        }
    }


    .only-confirm{
        display: block;
        margin: 0 auto;
        width: 80px;
        height: 40px;
        background-image: linear-gradient(180deg, #61C5FF 8%, #0271BD 55%, #027ED0 100%);
        border-radius: 4px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        cursor: pointer;
        text-decoration: none;
    }
}
</style>