<template>
    <div class="counter">
        <span class="process-wrap-lol">
            <span class="process-entity" :class="{transition: remain !== seconds.total}" :style="{width: pwidth + '%'}">
                <span class="light-entity"></span>
            </span>
        </span>
        <span class="remain">{{remain}}S</span>
    </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import { register, unregister } from '@/views/lottery/scripts/globalCounter'
export default {
    name: 'counter',
    props: {
        id: {
            require: true,
        },
    },
    data(){
        return{
            timer:null,
        }
    },
    computed: {
        ...mapState({
            lotteryCounterMap: state => state.lottery.lotteryCounterMap,
            currentLastOpenIssue: state => state.lottery.currentLastOpenIssue,
        }),
        ...mapGetters([
            "lastIssue",
        ]),
        seconds() {
            return this.lotteryCounterMap[this.id] || {}
        },
        remain() {
            return this.seconds.remain || 0
        },
        fengpaning() {
            return (this.lotteryCounterMap[this.id] || {}).fengpaning
        },
        pwidth() {
            var percent = 0;
            if (this.seconds.total > 0) {
                percent = (this.seconds.total - this.seconds.remain) / this.seconds.total * 100;
                percent = percent < 0 ? 0 : percent;
                percent = percent > 100 ? 100 : percent;
                percent = 100 - percent;
            }
            return parseInt(percent);
        }
    },

    mounted() {
        if(this.id){
            register(this.id, this)
        }
    },

    destroyed() {
        unregister(this.id, this)
    },

    methods: {
        formatTime(t, i) {
            t = t < 0 ? 0 : t
            var _t = t < 10 ? '0' + t : t
            return _t
        },
    },

    watch: {
        id: {
            handler(v) {
                if (v) {
                    register(this.id, this)
                }
            },
            immediate: true,
        },
        remain: {
            handler(v) {
                if (v == 3) {
                    this.$emit('upDate', v)
                }
                // if (v <= 1){
                //     if(this.timer)return;
                //     this.timer = setTimeout(()=>{
                //         this.$store.dispatch("getCurrentOpenNumHistory");
                //         this.timer = null;
                //     },4000)
                // }
            },
            deep:true,
        },
    },
}
</script>

<style scoped lang="less">
.counter {
    .process-wrap-lol {
        height: 6px;
        width: 100%;
        left: 14px;
        position: absolute;
        border-radius: 6px;
        background: url(~@/assets/images/tese-lol/time_bg_2.png);
        background-size: 150% 100%;
    }
    .remain{
        position: absolute;
        right: -38px;
        top: -3px;
        font-family: FZXBSK--GBK1-0;
        font-size: 12px;
        color: #FFFFFF;
        font-weight: 400;
    }
    .process-entity {
        height: 100%;
        position: absolute;
        width: 0%;
        left: 0;
        background-image: linear-gradient(270deg, #96FFFF 0%, #6DFFFF 5%, #0A73A8 91%);
        box-shadow: inset 0 0 3px 1px rgba(255,255,255,0.50);
        transition: width 1s linear;
        border-radius: 6px;
    }
    .light-entity {
        width: 6px;
        height: 5px;
        right: -1px;
        top: -1px;
        filter: drop-shadow(0 0 1px white);
        border-radius: 2px;
        display: inline-block;
        position: absolute;
        background: radial-gradient(rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%)
    }
}
</style>
