<template>
    <div class="help-page">
        <header>
            <span @click="$emit('hiddenHelp')">
                <i class="icon-back"></i>
            </span>
            <span>{{ i18n.helpText }}</span>
            <span></span>
        </header>
        <van-collapse v-model="activeNames" accordion class="help-body">
            <van-collapse-item :title="i18n.gameIntro" name="1">
                <h4>{{ i18n.text1 }}</h4>
                <p>{{ i18n.text2 }}</p>
                <p>{{ i18n.text3 }}</p>
            </van-collapse-item>
            <van-collapse-item :title="i18n.howToPlay" name="2" class="pd_0">
                <img :src="require(`@/assets/images/tese-lol/help/${lang}/zenmewan.png`)" alt>
            </van-collapse-item>
            <van-collapse-item :title="i18n.betType" name="3" class="pd_0">
                <img :src="require(`@/assets/images/tese-lol/help/${lang}/touzhuleixing.png`)" alt>
            </van-collapse-item>
            <van-collapse-item :title="i18n.bet" name="4" class="pd_0">
                <img :src="require(`@/assets/images/tese-lol/help/${lang}/xiazhu.png`)" alt>
            </van-collapse-item>
            <van-collapse-item :title="i18n.chase" name="5" class="pd_0">
                <img :src="require(`@/assets/images/tese-lol/help/${lang}/zhuihao.png`)" alt>
            </van-collapse-item>
            <van-collapse-item :title="i18n.hero" name="6" class="pd_0">
                <img :src="require(`@/assets/images/tese-lol/help/${lang}/yingxiong.png`)" alt>
            </van-collapse-item>
            <van-collapse-item :title="i18n.limitIntro" name="7">
                <h4>{{i18n.limit1}}</h4>
                <p>{{i18n.limit11}}</p>
                <h4>{{i18n.limit2}}</h4>
                <p>{{i18n.limit22}}</p>
                <p>{{i18n.example}}</p>
                <p>{{i18n.example1}}</p>
                <p>{{i18n.example2}}</p>
                <p>{{ $t('yxzh.help.example3', [parseFloat((Number(ticketInfo.dzMaxPrize) / 10000).toFixed(6))]) }}</p>
            </van-collapse-item>
        </van-collapse>
    </div>
</template>

<script>
import {
    mapState,
} from 'vuex'
export default {
    name: 'HelpPage',
    props: ['showHelp'],
    components: {
    },
    data() {
        return {
          activeNames: '1',
          i18n: this.$t('yxzh.help'),
        }
    },

    computed: {
        ...mapState({
            ticketId: state => state.lottery.ticketId,
            ticketInfo: state => state.lottery.ticketInfo,
            lang: state => state.setting.lang,
        }),
    },
    
    watch: {
        showHelp(v) {
            if (v) {
                this.activeNames = '1'
            }
        }
    }

}
</script>

<style lang="less">
.help-page {
    // height: 100%;
    min-height: 100%;
    width: 100%;
    position: relative;
    color: #fff;
    background-image: url(~@/assets/images/tese-lol/lol-bg.png);
    font-size: 14px;
    background-size: cover;
    header {
        display: flex;
        height: 52px;
        line-height: 52px;
        >span {
            flex: 1;
            height: 100%;
            &:nth-of-type(1) {
                flex: none;
                width: 44px;
                text-align: center;
            }
            &:nth-of-type(2) {
                text-align: center;
                font-size: 16px;
                color: #F3ECD3;
            }
            &:nth-of-type(3) {
                flex: none;
                width: 44px;
                text-align: left;
            }
            .icon-back {
                display: inline-block;
                width: 12px;
                height: 16px;
                background-image: url('~@/assets/images/tese-lol/tb/return.png');
                background-size: 100%;
                background-repeat: no-repeat;
            }
        }
    }
    .help-body {
        border-top: 0;
        >img {
            width: 100%;
            height: auto;
        }
        .van-cell:after {
            border-bottom: 0;
        }
        .van-collapse-item--border:after {
            border-top: 0;
        }
        .van-cell--clickable {
            font-size: 14px;
            color: #EFDEAB;
            margin-bottom: 8px;
            background-image: linear-gradient(180deg, rgba(11,37,51,0.30) 4%, rgba(25,77,107,0.32) 100%);
            background-color: initial;
            
        }
        .van-collapse-item__content {
            background: none;
            img {
                max-width: 100%;
            }
            h4 {
                color: #fff;
                margin-bottom: 10px;
            }
            p {
                margin-bottom: 10px;
                font-size: 12px;
                color: rgba(255,255,255,0.60);
            }
        }
        .pd_0 {
            .van-collapse-item__content {
                padding: 0;
            }
        }
        &.van-hairline--top-bottom:after, &.van-hairline-unset--top-bottom:after {
            border-width: 0;
        }
    }
    .van-cell__right-icon::before {
        background-image: linear-gradient(90deg, #FEFACB 0%, #B79E6A 100%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 900;
    }
}
</style>
