<template>
    <div class="history-page-lol">
        <header class="his-header">
            <span @click="$emit('hiddenHistory')">
                <i class="icon-dropdown"></i>
            </span>
            <span>{{ i18n2.openResult }}</span>
            <span>
                <span @click="showModal = true">
                    <i class="icon-search"></i>
                </span>
                <span @click="changeActive(0)"  v-if="false">
                    <i class="icon-refresh"></i>
                </span>
            </span>
        </header>
        <div class="time-tab">
            <span
                v-for="(item, index) in tabList"
                :key="index"
                :class="[
                    active == index ? 'active' : ''
                ]"
                @click="changeActive(index)"
            >{{ item }}</span>
        </div>
        <div class="lol-table">
            <div class="lol-table-header">
                <span class="column juhao">{{ i18n2.no }}</span>
                <span class="column time">{{ i18n2.time }}</span>
                <span class="column result">{{ i18n2.result }}</span>
            </div>
            <div class="lol-table-body">
                <mk-pull-refresh 
                    class="record-list" 
                    v-model="refreshing" 
                    @refresh="onRefresh" 
                    ref="recordList"
                    style="min-height: 100%;"    
                >
                    <mk-list
                        v-model="loading"
                        :finished="finished"
                        :finished-text="i18n.nomore"
                        :offset="20"
                        @load="onLoad"
                        :immediate-check="false"
                        :loading-text="$t('common.listLoad')"
                        >
                        <div
                            class="table-tr"
                            @click="goDetail(item)"
                            v-for="(item, idx) of list"
                            :key="idx"
                        >
                            <div class="column juhao">{{ getPlanNo(item.issue) }}</div>
                            <div class="column time">{{ getZoneTime(item.saleStartTime).split(' ')[1] }}</div>
                            <div class="column result">
                                <img class="hero-icon" :src="require(`@/assets/images/tese-lol/tb/heros/head/${getLotteryInfo(item.code).hero}.png`)" alt>
                                <img class="sex" :src="require(`@/assets/images/tese-lol/tb/icon_${getLotteryInfo(item.code).sex}.png`)" alt>
                                <img class="range" :src="require(`@/assets/images/tese-lol/tb/${getLotteryInfo(item.code).range}.png`)" alt>
                                <img class="position" :src="require(`@/assets/images/tese-lol/tb/${getLotteryInfo(item.code).position}.png`)" alt>
                                <span :class="[
                                    'num',
                                    getLotteryInfo(item.code).sex && getLotteryInfo(item.code).sex == 'male' ? 'male' : 'female'   
                                ]">{{ item.code.split(' ')[0] | zhanliFilter }}</span>
                            </div>
                        </div>
                        <template #finished>
                            <div class="no-data" v-if="(!list || list.length === 0) && !loading">
                                <div class="icon"></div>
                                <div class="tip">{{ i18n.norecords }}</div>
                            </div>
                        </template>
                    </mk-list>
                </mk-pull-refresh>
            </div>
        </div>
        <!-- 搜索 -->
        <VanPopup
            class="lol-search-modal"
            position="right"
            v-model="showModal"
        >
            <header>
                <span @click="showModal = false">
                    <i class="icon-back"></i>
                </span>
                    <!-- @search="onSearch" -->
                <Search
                    class="search"
                    v-model="value"
                    :placeholder="i18n2.placeholder"
                    background="transparent"
                    @clear="clearSearch"
                    @input="validateSearch"
                />
            </header>
            <div class="list-wrapper">
                <mk-list
                    v-model="loadingSearch"
                    :finished="finishedSearch"
                    :finished-text="i18n.nomore"
                    :offset="20"
                    @load="onLoadSearch"
                    >
                    <ul>
                        <li @click="searchHook(i)" v-for="(i, index) in searchList" :key="i">
                            <van-icon name="search" />
                            <span v-html="searchFilter[index]"></span>
                            <van-icon name="arrow" />
                        </li>
                    </ul>
                    <template #finished>
                        <div class="no-data" v-if="(!searchList || searchList.length === 0) && !loadingSearch">
                            <div class="icon"></div>
                            <div class="tip">{{ i18n.norecordslolsearch }}</div>
                        </div>
                    </template>
                </mk-list>
            </div>
        </VanPopup>
        <VanPopup
            class="lol-reportDetails-modal"
            position="right"
            v-model="showDetails"
        >
            <ReportDetails :title="i18n2.openDetail" @hiddenDetails="showDetails = false" :dataDetails="dataDetails" />
        </VanPopup>
    </div>
</template>

<script>
import {
    mapState,
    mapActions,
    mapGetters,
} from 'vuex'
import { List, PullRefresh, Search  } from 'vant'
import orderStatus from '@/views/lottery/configure/mixin/orderStatus'
import * as LotteryApi from '@/api/teselol'
import { lolMap1, lolMap2 } from '@/views/lottery/util/lottery';
import { debounce, uniqBy } from 'lodash';
import moment from 'moment'
import { DjPlanTime } from '@/views/lottery/util/lottery'
import ReportDetails from '../PlayBetting/ReportDetails.vue'
export default {
    name: 'HistoryPage',
    mixins: [orderStatus],
    props: ['showHistory'],
    components: {
        mkList: List,
        mkPullRefresh:PullRefresh,
        Search,
        ReportDetails,
    },
    data() {
        return {
            i18n2: this.$t('yxzh.history'),
            active: 0,
            tabList: [this.$t('yxzh.history.times[0]'), this.$t('yxzh.history.times[1]'), this.$t('yxzh.history.times[2]')],
            refreshing: false,
            loading: false,
            finished: false,
            list: [],
            searchData: {
                pageNum: 1,     // 查询页码
                pageSize: 50,   // 每页数量
                startDate: getNDateT(0),    // 开始时间 精确到分秒
                endDate: getNDateT(-1),     // 结束时间 精确到分秒
                ticketId: '',   // 彩种ID
            },
            showModal: false,
            i18n: this.$t('yxzh'),
            value: '',
            searchList: [],
            showDetails: false,
            dataDetails: null,

            refreshingSearch: false,
            loadingSearch: false,
            finishedSearch: false,
            planNoG: null,
            searchFilter: [],
        }
    },

    computed: {
        ...mapState({
            ticketId: state => state.lottery.ticketId,
            currentOpenNumHistory: state => state.lottery.currentOpenNumHistory,
        }),
        ...mapGetters(['currentIssue'])
    },

    watch: {
        showHistory(v) {
            if (v) {
                this.clearData();
                this.onLoad({direction: false});
            }
        },
        currentOpenNumHistory(v) {
            if (this.active == 0) {
                this.onRefresh();
            }
        },
        showModal(v) {
            if(!v) {
                this.searchFilter = []
                this.searchList = []
                this.value = []
            }
        }
    },

    created() {
        this.ticketName = this.name
    },

    mounted() {
        this.clearData();
        this.onLoad({direction: false});
    },

    methods: {
        ...mapActions(['fetchOrderList']),
        getZoneTime,
        getPlanNo(planNo) {
            return planNo.slice(2).replace('-', '');
        },
        getLotteryInfo(data) {
            let [ ball, sex ] = data.split(' ');
            let range = ball.slice(0,2);
            // 英雄
            const heroId = Number(range + sex);

            // 性别
            const sexId = {
                '1': 'male',
                '2': 'female'
            }[sex] || 'male';

            // 定位
            const rangeId = {
                0: 'melee-icon2',
                1: 'remote-icon2'
            }[lolMap2[Number(range)]] || 'melee';

            // 战斗力范围
            const positionId = {
                0: 'tank',
                1: 'warrior',
                2: 'assassin',
                3: 'mage',
                4: 'support',
                5: 'archer',
            }[lolMap1[Number(range)]] || 'tank';

            return {
                hero: heroId,
                sex: sexId,
                range: rangeId,
                position: positionId,
            }
        },
        changeActive(v) {
            this.clearData()
            this.active = v;
            this.onRefresh();
            const times = {
                0: [0, -1],
                1: [1, 0],
                2: [2, 1],
            }[v];
            this.searchData.startDate = getNDateT(times[0]);
            this.searchData.endDate = getNDateT(times[1]);
        },
        clearData() {
            this.searchData.pageNum = 1;
            this.searchData.pageSize = 50;
            this.list = [];
        },
        // 刷新
        onRefresh() {
            // this.clearData();
            this.finished = false;
            this.loading = true;
            this.onLoad({direction: true});
        },
        // 加载
        onLoad(param = {}) {
            console.log('package on load: ', param)
            if (this._interval) {
                clearTimeout(this._interval);
                this._interval = null;
            }

            this._interval = setTimeout(() => {
                const {direction, planNo} = param
                if (this.refreshing) {
                    this.refreshing = false;
                }
                console.log('package data:', {direction, planNo}, this.packageData({direction, planNo}));
                LotteryApi.getHisOpenCodesDj(this.packageData({direction, planNo})).then(result => {
                    let res = result.data.data;
                    if (res) {
                        res = res.filter(v => {
                            let time = new DjPlanTime({plan: v.issue}).time
                            return time < moment(this.searchData.endDate) && time > moment(this.searchData.startDate)
                        })
                        if(res.length === 0) {
                            this.finished = true
                            return
                        }
                        if(direction) {
                            this.list.unshift(...res);
                            this.list = uniqBy(this.list, 'issue');
                        } else {
                            this.list = this.list.concat(res);
                        }
                        // if (this.list.length >= res.total) {
                        //     this.finished = true;
                        // }
                    }
                    this.loading = false;
                }).catch(e => {
                    this.loading = false;
                })
           }, 1000)
        },
        onLoadSearch() {
            if(!this.planNoG){
                this.loadingSearch = false;
                return
            }
            let arr = Array(30).fill(0).map(() => {
                let obj = this.planNoG.next()
                if(obj.done) {
                    this.finishedSearch = true
                } else {
                    return obj.value
                }
            })
            let fArr = arr.filter(v => !!v)
            this.searchList = this.searchList.concat(fArr)
            this.searchFilter = this.searchFilter.concat(fArr.map(v => v.substring(2).replace('-', '').replaceAll(new RegExp(`(${this.value})`,'g'), '<span class="searched">$1</span>')))
            this.loadingSearch = false;
        },
        searchHook(endPlanNo) {
            this.list = []
            let bt = [[0, -1],[1,0],[2,1]]
            let t = new DjPlanTime({plan: endPlanNo}).time
            let index = [[0, -1],[1,0],[2,1]].map(v => [getNDateT(v[0]), getNDateT(v[1])]).findIndex(v => t > moment(v[0]) && t < moment(v[1]))
            this.active = index
            this.showModal = false
            this.searchData.startDate = getNDateT(bt[index][0]);
            this.searchData.endDate = getNDateT(bt[index][1]);
            this.onLoad({planNo: endPlanNo})
        },
        // 请求参数
        packageData({direction, planNo}) {
            const data = {
                num: this.searchData.pageSize,
                ticketId: this.ticketId,
            }
            if(this.list.length > 0) {
                if(direction) {
                    let t = new DjPlanTime({plan: this.currentIssue})
                    let t2 = new DjPlanTime({plan: this.list[0].issue}).add(50)
                    if(t2.time > t.time) {
                        data.endPlanNo = t.plan
                    } else {
                        data.endPlanNo = t2.plan
                    }
                } else {
                    data.endPlanNo = new DjPlanTime({plan: this.list[this.list.length - 1].issue}).substract(1).plan
                }
            } else {
                data.endPlanNo = new DjPlanTime({time: new Date(this.searchData.endDate.replace(/-/g, "/"))}).plan
            }
            if (planNo) {
                data.endPlanNo = planNo
            }
            return data
        },
        goDetail(item) {
            this.dataDetails = {
                ticketResult: item.code,
                ticketPlanNo: item.issue,
                saleStartTime: item.saleStartTime
            }
            this.showDetails = true
        },
        planNoGenerator: function* (v) {
            let d = new Date()
            let s1arr = [moment(d), moment(d).add({day: -1}), moment(d).add({day: -2})].map(v => v.format('YYYYMMDD')).filter((v, i) => i == this.active)
            let s2Len = (d.getHours()*180 + d.getMinutes() * 3 + Math.floor(d.getSeconds() / 20))
            let bs
            for(let i = 0; i < s1arr.length; i++) {
                for(let j = (this.active === 0 ? s2Len : 4320); j > 0; j--) {
                    bs = s1arr[i] + '-' + j.toString().padStart(4,'0')
                    if(bs.replace('-', '').substr(2).includes(v)) {
                        yield bs
                    }
                }
            }
            return null
        },
        onSearch: function(v) {
            if(v.length < 2) {
                return
            }
            this.finishedSearch = false
            this.searchList = []
            this.searchFilter = []
            this.$nextTick(() => {
                this.planNoG = this.planNoGenerator(v)
                this.onLoadSearch()
            })
        },
        clearSearch() {
            this.searchFilter = []
            this.searchList = []
        },
        validateSearch: debounce(function(v) {
            this.value = this.value.replaceAll(/[^\d|\-]/g, '')
            this.onSearch(v)
        }, 300)
    },
    
    filters: {
        zhanliFilter(v = '02000') {
            let t = String(Number(v)).split('')
            t.splice(t.length - 3, 0 , ',')
            return t.join('')
        }
    },
}
</script>

<style lang="less">
.history-page-lol {
    height: 548px;
    background: url(~@/assets/images/tese-lol/bg-popup.png) no-repeat;
    background-size: cover;
    font-size: 14px;
    color: #8A93A2;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        z-index: 9;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-image: url(~@/assets/images/tese-lol/tb/line.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: none;
    }
    &::after {
        content: '';
        position: absolute;
        z-index: 9;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-image: url(~@/assets/images/tese-lol/tb/line.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .his-header {
        display: flex;
        height: 52px;
        line-height: 52px;
        background: rgba(0,0,0,0.13);
        >span {
            flex: 1;
            height: 100%;
            background-repeat: no-repeat;
            &:nth-of-type(1) {
                flex: none;
                width: 38px;
                text-align: right;
                margin-right: 30px;
            }
            &:nth-of-type(2) {
                text-align: center;
                font-family: PingFangSC-Medium;
                font-size: 14px;
                color: #FFFFFF;
            }
            &:nth-of-type(3) {
                flex: none;
                text-align: left;
                width: 38px;
                >span {
                    margin-right: 10px;
                    line-height: 60px;
                }
            }
            i {
                display: inline-block;
                background-size: 100%;
                background-repeat: no-repeat;
            }
            .icon-dropdown {
                background-image: url('~@/assets/images/tese-lol/tb/dropdown.png');
                width: 14px;
                height: 8px;
            }
            .icon-search {
                background-image: url('~@/assets/images/tese-lol/tb/search.png');
                width: 14px;
                height: 14px;
            }
            .icon-refresh {
                background-image: url('~@/assets/images/tese-lol/tb/refresh.png');
                width: 17px;
                height: 17px;
            }
        }
    }
    .time-tab {
        height: 42px;
        padding: 5px 0px;
        display: flex;
        justify-content: center;
        background: rgba(108,108,108,0.06);
        >span {
            text-align: center;
            flex: none;
            min-width: 86px;
            height: 32px;
            line-height: 32px;
            position: relative;
            font-size: 14px;
            color: rgba(255,255,255,0.60);
            margin: 0 10px;

            &:last-child {
                &::after {
                    display: none;
                }
            }

            &:after {
                content: "";
                display: block;
                width: 1px;
                height: 12px;
                background: rgba(255,255,255,0.20);
                border-radius: 0.5px;
                position: absolute;
                right: -10px;
                top: 50%;
                margin-top: -6px;
            }

            &:nth-of-type(1) {
                border-right: 0;
                border-top-left-radius: 6px;
                border-bottom-left-radius: 6px;
            }
            &:nth-of-type(2) {
                
            }
            &:nth-of-type(3) {
                border-left: 0;
                border-top-right-radius: 6px;
                border-bottom-right-radius: 6px;
            }
            &.active {
                color: #EFDEAB;
            }
        }
    }
    .lol-table {
        height: 436px;
        .lol-table-header {
            background: rgba(0,0,0,0.22);
            height: 30px;
            line-height: 30px;
            font-size: 12px;
            color: rgba(255,255,255,0.60);
            display: flex;
            .column {
                flex: 1;
            }
        }
        .lol-table-body {
            height: 406px;
            font-size: 12px;
            color: #FFFFFF;
            overflow: hidden;
            .record-list {
                height: 406px;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
            }
            .table-tr {
                height: 44px;
                line-height: 44px;
                border-bottom: 1px solid #586678;
                display: flex;
                .column {
                    flex: 1;
                }
                .result {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    img {
                        flex: none;
                    }
                    .hero-icon {
                        width: 18px;
                        height: 18px;
                    }
                    .sex {
                        width: 13px;
                        height: 13px;
                    }
                    .range {
                        width: 15px;
                        height: 15px;
                    }
                    .position {
                        width: 15px;
                        height: 15px;
                    }
                    .num {
                        font-size: 13px;
                        color: #FFF;
                        &.male {
                            color: #39A8D5;
                        }
                        &.female {
                            color: #EA4E4A;
                        }
                    }
                }
            }
        }
        .lol-table-header,
        .lol-table-body .table-tr {
            .juhao {
                flex: 1.1;
                padding-left: 15px;
            }
            .time {
                flex: 0.8;
                color: rgba(255,255,255,0.60);
            }
            .result {
                flex: 1.6;
                padding-right: 15px;
            }
        }
    }
    .lol-search-modal {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 99;
        background-image: url(~@/assets/images/tese-lol/lol-bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        display: flex;
        flex-direction: column;
        header {
            display: flex;
            align-items: center;
            height: 52px;
            min-height: 52px;
            >span {
                flex: none;
                width: 42px;
                text-align: center;
                line-height: 56px;
                margin-right: 0;
            }
            .search-box {
                flex: 1;
                height: 28px;
                line-height: 28px;
            }
            .icon-back {
                display: inline-block;
                width: 12px;
                height: 16px;
                background-image: url('~@/assets/images/tese-lol/tb/return.png');
                background-size: 100%;
                background-repeat: no-repeat;
            }
        }
        .list-wrapper {
            overflow-y: auto;
        }
        .van-search {
            // height: 28px;
            width: 318px;
            padding: 0;
        }
        .van-field__body {
            flex: 2;
        }
        .searched {
            color: red;
        }
        ul {
            li{
                display: flex;
                height: 40px;
                border-bottom: 1px solid #586678;
                align-content: space-between;
                justify-content: center;
                line-height: 40px;
                .van-icon {
                    width: 15px;
                    margin: 12.5px 15px;
                }
                span {
                    flex: 1;
                    font-size: 12px;
                }
            }
        }
    }
}
.lol-reportDetails-modal{
    width: 100% !important;
    height: 100% !important;
}
</style>
