<template>
    <div class="card-area">
        <!-- <transition name="fade" mode="out-in"> -->
        <div v-show="!waiting" :class="`hero hero-img hero-${herosId}-img`"></div>
        <!-- </transition> -->
        <div class="card-mask"></div>
        <p class="waiting gradient-text" v-show="waiting && isshowopen">
            <van-circle
                v-model="currentRate"
                layer-color="transparent"
                start-position="left"
                :color="gradientColor"
                :rate="rate"
                :clockwise="false"
                :stroke-width="20"
                text="宽度定制"
                />
            <span class="watingOpenText" v-html="$t('yxzh.history.watingOpen')"></span>
        </p>
        <div class="top mk-header">
            <div class="left-data">
                <span class="return" @click="$router.replace({ name: 'home' })">
                    <img :src="require('@/assets/images/tese-lol/tb/return.png')"/>
                </span>
                <div class="plan">
                    <span class="planid">{{$t('homePage.sportsEndGame.qi', {no :[getCurrentIssue]})}}</span>
                </div>
            </div>
            <div class="right-operate">
                <span class="history" @click="showHistory = true">
                    <img :src="require('@/assets/images/tese-lol/tb/jb.png')"/>
                </span>
                <span class="help" @click="showHelp = true">
                    <img :src="require('@/assets/images/tese-lol/tb/help.png')"/>
                </span>
                <span class="setting" @click="$emit('update:showSetting', true)">
                    <img :src="require('@/assets/images/tese-lol/tb/setting.png')"/>
                </span>
            </div>
        </div>
        <div class="lol-timer">
            <img class="lol-timer-img" :src="require('@/assets/images/tese-lol/time_bg_1.png')" alt="">
            <counter @countDownEnd="onNextIssue" @upDate="upDate" class="counter" :id="ticketId"></counter>
        </div>
        <div class="middle" v-show="!waiting">
            <div>
                <h2 class="gradient-text">{{$t(`teseLol.heros.${herosId}.nickName`)}}</h2>
                <p class="gradient-text">
                    {{$t(`teseLol.heros.${herosId}.name`)}}
                </p>
            </div>
            <span class="statistic">
                <img :src="require(`@/assets/images/tese-lol/tb/${yjImgStr}.png`)"/>
            </span>
        </div>
        <div class="btm" v-show="!waiting">
            <div class="line"></div>
            <img class="icon_sex" :src="require(`@/assets/images/tese-lol/tb/${lastNumberArray[1] == 1 ? 'icon_male' : 'icon_female'}.png`)"/>
            <!-- <img v-for="i in 5" :key="i" :src="require(`@/assets/images/tese-lol/tb/heros/skills/${herosId}/${i}.png`)"/> -->
            <img :src="require(`@/assets/images/tese-lol/tb/${zyImgStr}.png`)"/>
            <span class="zhanli">{{lastNumberArray[0] | zhanliFilter}}</span>
        </div>

        <VanPopup
            class="lol-history-modal"
            position="bottom"
            v-model="showHistory"
        >
            <History @hiddenHistory="showHistory = false" :showHistory="showHistory" />
        </VanPopup>

        <VanPopup
            class="lol-help-modal"
            position="right"
            v-model="showHelp"
        >
            <Help @hiddenHelp="showHelp = false" :showHelp="showHelp" />
        </VanPopup>

        <VanPopup
            class="lol-setting-modal"
            position="bottom"
            :value="showSetting"
            @input="$emit('update:showSetting', $event)"
        >
            <Setting v-if="showSetting" @hiddenSetting="$emit('update:showSetting', false)" />
        </VanPopup>
    </div>
</template>

<script>
import History from './history.vue'
import Help from './help.vue'
import Setting from './setting.vue'
import Counter from './counter.vue'
import {mapState, mapGetters} from 'vuex'
import { lolMap1, lolMap2 } from '@/views/lottery/util/lottery'
import AudioMixins from '../AudioMixins.js'
import Audios from '@/assets/scripts/Audios'

export default {
    name: 'CardArea',
    components: {
        History,
        Help,
        Setting,
        Counter,
    },
    mixins: [AudioMixins],
    props: ['showSetting'],
    data() {
        return {
            showHistory: false,
            showHelp: false,
            waiting: false,
            currentRate: 10,
            opentimer:null,
            rate:83,
            gradientColor:{
                '0%': '#125F95',
                '50%': '#62F0F5',
                '100%': '#0A73A8',
            }
        }
    },

    computed: {
        ...mapState({
            ticketId: state => state.lottery.ticketId,
            lolMusic: state => state.setting.countDownBeep,
            isshowopen: state => state.lottery.isshowopen,
        }),
        ...mapGetters([
            'lastNumberArray',
            'lastIssue',
            'currentIssue',
            'ticketType',
            'groupCode',
            'seriesCode',
            'playCode',
            'currentSale',
        ]),
        herosId() {
            return this.lastNumberArray[0] ? `${Number(this.lastNumberArray[0].slice(0,2))}${this.lastNumberArray[1]}` : '21'
        },
        zyImgStr() {
            let t2 = this.lastNumberArray[0] || ''
            let t = Number(t2.slice(0,2))
            switch(lolMap1[t]) {
                case 0:
                    return 'tank'
                case 1:
                    return 'warrior'
                case 2:
                    return 'assassin'
                case 3:
                    return 'mage'
                case 4:
                    return 'support'
                case 4:
                    return 'tank'
                case 5:
                    return 'archer'
                default:
                    return 'archer'
            }
        },
        yjImgStr() {
            let t2 = this.lastNumberArray[0] || ''
            let t = Number(t2.slice(0,2))
            switch(lolMap2[t]) {
                case 0:
                    return 'melee-icon'
                case 1:
                    return 'remote-icon'
                default:
                    return 'melee-icon'
            }
        },
        getCurrentIssue() {
            if (this.currentIssue) {
                return this.currentIssue.substring(2)
            } else {
                return '-'
            }
        },
    },
    watch: {
        lastIssue(val) {
            if (this.lolMusic) {
                Audios.play(`lol-${this.herosId}`, {volume: 1.0})
                Audios.play(`lol-jt`, {volume: 1.0})
            }
            this.waiting = false
        },
        waiting(){
            if(this.waiting){
                this.rate = 83;
                this.opentimer = setInterval(()=>{
                    this.rate --
                },38)
            }else{
                clearInterval(this.opentimer);
                this.opentimer = null;
            }
        },
        showSetting(){
            this.$forceUpdate()
        }
    },

    filters: {
        zhanliFilter(v = '02000') {
            let t = String(Number(v)).split('')
            t.splice(t.length - 3, 0 , ',')
            return t.join('')
        }
    },

    methods: {
        onNextIssue(ticketId) {
            // 非当前菜种，不做任何处理
            if (ticketId != this.ticketId) {
                return
            }
            this.waiting = true
        },
        upDate() {
            if (this.lolMusic) {
                Audios.play(`lol-wait-open`, {volume: 1.0})
                Audios.play(`lol-jt`, {volume: 1.0})
            }
        },
    }

}
</script>

<style lang="less">
.card-area {
    position: relative;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    .card-mask {
        background-image: linear-gradient(to right, rgba(22,27,45,0.7), transparent 50%), linear-gradient(to bottom, rgba(22,27,45), transparent 60px);
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .left-data {
        display: flex;
        align-content: center;
        align-items: center;
        .return {
            width: 30px;
            height: 30px;
            display: inline-block;
            img{
                width: 15px;
                height: 15px;
                position: relative;
                top: 7px;
            }
        }
        .plan {
            width: 128px;
            word-break: keep-all;
            height: 22px;
            position: relative;
            background-repeat: no-repeat;
            background-position: 3px 3px;
            background-size: 16px 16px;
            display: inline-block;
        }
        .planid {
            font-family: PingFangSC-Regular;
            font-size: 11px;
            color: white;
            letter-spacing: 0;
        }
        .counter {
            top: 16px;
            left: 16px;
            position: absolute;
            width: 90px;
        }
    }
    .right-operate {
        display: flex;
        align-content: center;
        align-items: center;
        >span {
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-left: 18px;
            >img {
                height: 15px;
            }
        }
    }
    .lol-help-modal {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 99;
        background-image: url(~@/assets/images/tese-lol/lol-bg.png);
    }
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 44px;
        width: 92%;
        margin: 0 auto;
        z-index: 1;
        &.mk-header {
            background: unset;
            background-image: unset;
        }
    }
    .lol-timer{
        width: 118px;
        height: 6px;
        position: absolute;
        margin-left: 4%;
        top: 50px;
        display: flex;
        align-content: center;
        align-items: center;
        .lol-timer-img{
            width: 18px;
            position: relative;
            left: 0px;
            top: 2px;
            z-index: 99;
        }
        

    }
    .middle {
        z-index: 1;
        margin-left: 4%;
        display: flex;
        align-items: center;
        align-content: center;
        position: absolute;
        bottom: 40px;
        .gradient-text{
            background-image: linear-gradient(to bottom, #ffffff, #bbbbbb);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-family: PingFangSC-Semibold;
            font-size: 12px;
            color: #FFFCED;
            font-weight: 600;
            
        }
        p {
            font-size: 24px !important;
        }
        .statistic {
            display: inline-block;
            position: relative;
            img {
                width: 36px;
                height: 44px;
            }
            .zhanli {
                font-size: 12px;
                top: -2px;
                position: relative;
                left: 88px;
                font-weight: 600;
                width: 44px;
                text-align: center;
                display: inline-block;
            }
        }
    }
    .btm {
        z-index: 1;
        margin-left: 4%;
        bottom: 10px;
        display: flex;
        align-content: center;
        align-items: center;
        position: absolute;
        .icon_sex{
            width: 12px;
            margin-right: 15px;
        }
        img {
            margin: 3.5px;
            width: 14px;
        }
        .zhanli{
            margin-left: 15px;
        }
        .line{
            position: absolute;
            left: 0;
            width: 110px;
            height: 1px;
            background: rgba(151,151,151,0.25);;
            display: inline-block;
            top: -4px;
        }
    }
    
    .hero {
        position: absolute;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: crisp-edges;
        width: 100%;
        // height: auto;
        height: 100%;
    }
    .waiting {
        position: absolute;
        width: 100%;
        height: 100%;
        line-height: 18px;
        text-align: center;
        margin-top: 50px;
        font-size: 18px;
        font-weight: 800;
        color: #BFA967;
        z-index: 999;
        &.gradient-text {
            background-image: url('~@/assets/images/tese-lol/waiting_bg.png');
            background-size: 170px;
            background-repeat: no-repeat;
            background-position: 50% 12px;
            span{
                position: relative;
                top: 105px;
                line-height: 1;
            }
        }
        .van-circle{
            position: absolute;
            left: 50%;
            margin-left: -72px;
            transform: translateX(-50%);
            width: 145px;
            height: 144px;
            top: 26px;
            transform: rotate(150deg);
        }
        .watingOpenText{
            width: 150px;
        }
    }
    
    .fade-enter-active, .fade-leave-active {
        transition: opacity .5s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
    }
    @keyframes heroRun {
        0% {
            opacity: 1;
            transform: translate(0, 0px);
        }
        5% {
            opacity: 1;
            transform: translate(0, 1px);
        }
        10% {
            transform: translate(0, 2px);
        }
        15% {
            transform: translate(0, 3px);
        }
        20% {
            transform: translate(0, 4px);
        }
        25% {
            transform: translate(0, 5px);
        }
        30% {
            transform: translate(0, 6px);
        }
        35% {
            transform: translate(0, 7px);
        }
        40% {
            transform: translate(0, 8px);
        }
        45% {
            transform: translate(0, 9px);
        }
        50% {
            transform: translate(0,10px);
        }
        55% {
            transform: translate(0, 9px);
        }
        60% {
            transform: translate(0,8px);
        }
        65% {
            transform: translate(0, 7px);
        }
        70% {
            transform: translate(0,6px);
        }
        75% {
            transform: translate(0, 5px);
        }
        80% {
            transform: translate(0,4px);
        }
        85% {
            transform: translate(0, 3px);
        }
        90% {
            transform: translate(0,2px);
        }
        95% {
            transform: translate(0, 1px);
        }
        100% {
            transform: translate(0, 0px);
        }
    }
    .hero-img {
        width: 100%;
        height: 100%;
        background-image: url('~@/assets/images/tese-lol/tb/heros/21.png');
        background-size: 100% 100%;
        background-repeat: no-repeat;
        animation: heroRun 20s linear 0s infinite;
        
        top: 12px;
        &.hero-21-img {
            background-image: url('~@/assets/images/tese-lol/tb/heros/21.png');
        }
        &.hero-22-img {
            background-image: url('~@/assets/images/tese-lol/tb/heros/22.png');
        }
        &.hero-31-img {
            background-image: url('~@/assets/images/tese-lol/tb/heros/31.png');
        }
        &.hero-32-img {
            background-image: url('~@/assets/images/tese-lol/tb/heros/32.png');
        }
        &.hero-41-img {
            background-image: url('~@/assets/images/tese-lol/tb/heros/41.png');
        }
        &.hero-42-img {
            background-image: url('~@/assets/images/tese-lol/tb/heros/42.png');
        }
        &.hero-51-img {
            background-image: url('~@/assets/images/tese-lol/tb/heros/51.png');
        }
        &.hero-52-img {
            background-image: url('~@/assets/images/tese-lol/tb/heros/52.png');
        }
        &.hero-61-img {
            background-image: url('~@/assets/images/tese-lol/tb/heros/61.png');
        }
        &.hero-62-img {
            background-image: url('~@/assets/images/tese-lol/tb/heros/62.png');
        }
        &.hero-71-img {
            background-image: url('~@/assets/images/tese-lol/tb/heros/71.png');
        }
        &.hero-72-img {
            background-image: url('~@/assets/images/tese-lol/tb/heros/72.png');
        }
        &.hero-81-img {
            background-image: url('~@/assets/images/tese-lol/tb/heros/81.png');
        }
        &.hero-82-img {
            background-image: url('~@/assets/images/tese-lol/tb/heros/82.png');
        }
        &.hero-91-img {
            background-image: url('~@/assets/images/tese-lol/tb/heros/91.png');
        }
        &.hero-92-img {
            background-image: url('~@/assets/images/tese-lol/tb/heros/92.png');
        }
        &.hero-101-img {
            background-image: url('~@/assets/images/tese-lol/tb/heros/101.png');
        }
        &.hero-102-img {
            background-image: url('~@/assets/images/tese-lol/tb/heros/102.png');
        }
        &.hero-111-img {
            background-image: url('~@/assets/images/tese-lol/tb/heros/111.png');
        }
        &.hero-112-img {
            background-image: url('~@/assets/images/tese-lol/tb/heros/112.png');
        }
        &.hero-121-img {
            background-image: url('~@/assets/images/tese-lol/tb/heros/121.png');
        }
        &.hero-122-img {
            background-image: url('~@/assets/images/tese-lol/tb/heros/122.png');
        }
        &.hero-131-img {
            background-image: url('~@/assets/images/tese-lol/tb/heros/131.png');
        }
        &.hero-132-img {
            background-image: url('~@/assets/images/tese-lol/tb/heros/132.png');
        }
    }
    @media (min-width: 414px) {
        .hero-img  {
            top: 1vh;
        }
    }
}
</style>
