<template>
    <div class="set-page">
        <header>
            <span @click="$emit('hiddenSetting')">
                <span><img src="@/assets/images/tese-lol/icon_xia.png" alt=""></span>
            </span>
            <span>{{ $t('yxzh.setting.set') }}</span>
            <span @click="$emit('hiddenSetting')"></span>
        </header>
        <section>
            <template v-if="featureLimitStatus">
                <label>{{ $t('yxzh.setting.betArea') }}</label>
                <ul>
                    <li 
                        v-for="item in featureBetRangeList" 
                        :key="item.configId"
                        :class="[
                            item.configId == currentSettingItem.configId ? 'active' : '',
                            getDisabledStatus(item) ? 'btn-disabled' : '',
                        ]"
                        @click="changeFeatureBetRange(item)"
                    >{{ getBetRangeStr(item) }}</li>
                </ul>
                        <div class="lock-timer-div" v-if="featureDelayed && featureDelayedTime">
                            <span class="lock-timer">
                                <b class="lock-collect-o"></b>
                                <span>
                                    {{ $t('yxzh.setting.upLimit') }}
                                    <i>{{ featureDelayedTime }}</i>
                                </span>
                            </span>
                </div>
            </template>
            <div class="functions-inner">
                <div class="bg">
                    <div v-if="!isIos">
                        <img src="~@/assets/images/tese-lol/icon-voice.png" alt="">
                        <label>{{ $t('yxzh.setting.voiceSwitch') }}</label>
                        <van-switch v-model="lolMusic" class="lol-van-switch"></van-switch>
                    </div>
                    <div>
                        <img class="zhongjiang" src="~@/assets/images/tese-lol/icon_zhongjiang.png" alt="">
                        <label>{{ $t('yxzh.setting.winVoice') }}</label>
                        <van-switch v-model="winModal" class="lol-van-switch"></van-switch>
                    </div>
                    <div>
                        <img src="~@/assets/images/tese-lol/icon-confirm.png" alt="">
                        <label>{{ $t('yxzh.setting.betNowModalSwitch') }}</label>
                        <van-switch v-model="lolBetConfirm" class="lol-van-switch"></van-switch>
                    </div>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
import { mapState } from 'vuex'
import * as LotteryApi from '@/api/teselol'

export default {
    name: 'SetPage',
    props:["showSetting"],
    data() {
        return {
            isIos: false,
            i18n: this.$t('yxzh'),
            lolMusic: this.$store.state.setting.countDownBeep,
            lolBetConfirm: this.$store.state.setting.doubleBetConfirm,
            winModal: this.$store.state.setting.winModal,
        }
    },
    watch: {
        lolMusic (val) {
            this.setUserConfig({countDownBeep:val});
        },
        lolBetConfirm(val) {
            this.setUserConfig({doubleBetConfirm:val});
        },
        winModal(val){
            this.setUserConfig({winModal:val});
        }
    },

    computed: {
        ...mapState({
            ticketId: state => state.lottery.ticketId,
            featureBetRangeList: state => state.setting.featureBetRangeList,
            featureLimitStatus: state => state.setting.featureLimitStatus,
            featureDelayed: state => state.setting.featureDelayed,
            featureDelayedTime: state => state.setting.featureDelayedTime,
        }),
        currentSettingItem() {
            let t = this.featureBetRangeList.filter(item => item.current)[0]
            if (t) {
                return t
            } else {
                return this.featureBetRangeList[0]
            }
        },
    },

    mounted() {
        this.$nextTick(() => {
            this.isIos = document.querySelector('#root')?.classList.contains('ios')
        })
    },

    methods: {
        getBetRangeStr(item) {
            return `${item.doublePlayBetMin}-${item.doublePlayBetMax}`
        },
        getDisabledStatus(item) {
            if (!this.featureDelayed) {
                return false
            }
            if (item.configId > this.currentSettingItem.configId) {
                return true
            }
            return false
        },
        changeFeatureBetRange(item) {
            if (this.featureDelayed && this.featureDelayedTime && item.configId > this.currentSettingItem.configId) {
                this.$toast({
                    message: this.i18n.buyushangtiao,
                    duration: 2000,
                })
                return
            }
            let _this = this
            this.currentConfig = item
            if (!item.current) {
                _this.saveFeatureBetRange().then(res => {
                    if (res.code != 0) {
                        _this.$toast({
                            message: res.msg,
                            duration: 2000,
                        })
                    } else {
                        _this.$store.dispatch('fetchUserConfig')
                    }
                })
            }
        },
        setUserConfig(params){
           return LotteryApi.setUserConfig(params).then(res=>{
            const { code, msg } = res.data;
            if(code === 200 || code === 0 ){
                this.$store.dispatch("fetchUserConfig");
            }else{
                this.$toast({
                    message: msg,
                    duration: 2000,
                })
                return { code, msg }
            }
           })
        },
        saveFeatureBetRange() {
            // AudioClickChip()
            if (!(this.currentConfig && this.currentConfig.configId)) {
                console.warn('[App] 保存投注区间 参数错误')
                return
            }

            return LotteryApi.setUserConfig({
                nextFeatureConfigId: this.currentConfig.configId,
            }).then(res => {
                const { code, msg } = res.data

                if (code === 200 || code === 0) {
                    this.$toast({
                        message: this.$t('yxzh.message5') + this.getBetRangeStr(this.currentConfig),
                        duration: 2000,
                    })
                    return { code, msg }
                } else {
                    this.$toast({
                        message: msg,
                        duration: 2000,
                    })
                    return { code, msg }
                }
            })
        },
    }

}
</script>

<style lang="less">

.tese-lol {
    .van-toast {
        background: rgba(0,0,0,0.71);
        border: 1px solid rgba(255,255,255,0.14);
        border-radius: 0px;
    }
}

.set-page {
    height: 375px;
    font-size: 14px;
    color: #fff;
    background: url(~@/assets/images/tese-lol/bg-popup.png) no-repeat;
    background-size: cover;

    header {
        display: flex;
        height: 52px;
        line-height: 52px;
        background: rgba(0,0,0,0.13);
        >span {
            flex: 1;
            height: 100%;

            &:nth-of-type(1) {
                flex: none;
                width: 44px;
                padding-left: 14px;
                img {
                    width: 12px;
                }
                .icon-dropdown {
                    display: inline-block;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    background-image: url('~@/assets/images/tese-lol/tb/dropdown.png');
                    width: 14px;
                    height: 8px;
                }
            }
            &:nth-of-type(2) {
                text-align: center;
                font-size: 16px;
                color: #fff;
            }
            &:nth-of-type(3) {
                flex: none;
                width: 44px;
                text-align: left;
                background-image: linear-gradient(to bottom, #FEFACB, #B79E6A);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
    section {
        padding: 0 14px;
        ul {
            display: flex;
            flex-wrap: wrap;
            width: 335px;
            margin-top: 14px;
            
            li {
                flex: none;
                flex-wrap: wrap;
                min-width: 80px;
                padding: 0 10px;
                height: 30px;
                line-height: 30px;
                margin: 0 17.5px 10px 0;
                text-align: center;
                font-family: FZXBSK--GBK1-0;
                font-size: 12px;
                color: rgba(255,255,255,0.60);
                white-space: nowrap;
                background: rgba(255,255,255,0.04);
                border: 1px solid rgba(255,255,255,0.2);
                &.active {
                    background-image: linear-gradient(180deg, rgba(0,149,255,0.16) 2%, rgba(0,149,255,0.30) 100%);
                    border: 1px solid rgba(0,149,255,1);
                    // border: ;
                }
                &:nth-of-type(3n) {
                    margin-right: 0;
                }
                &.btn-disabled {
                    color: rgba(255,255,255,0.20);
                }
            }
        }
        .set-page section .van-switch--on {
            width: 45px;
            height: 28px;
            .van-switch__node {
                width: 23px;
                height: 23px;
                display: none;
            }
        }
        .lol-van-switch  {
            width: 45px;
            height: 22.8px;
            background: url(~@/assets/images/tese-lol/switch-off.png) no-repeat;
            background-size: cover;
            .van-switch__node {
                display: none;
            }
            &.van-switch--on {
                background-image: url(~@/assets/images/tese-lol/switch-on.png);
            }   
        }
    }

    .functions-inner {
        margin-top: 9px;
        .bg {
            background: rgba(0,0,0,0.15);
            padding: 8px 24px;
            > div {
                display: flex;
                justify-content: flex-start;
                height: 50px;
                align-items: center;
                position: relative;
                .lol-van-switch {
                    margin-left: auto;
                }
                img {
                    width: 21px;
                    .zhongjiang{
                        position: relative;
                        left: -1px;
                    }
                }
                label {
                    margin-left: 13px;
                }

                &:after {
                    content: "";
                    display: block;
                    height: 1px;
                    width: 266px;
                    background: rgba(165,174,180,0.18);
                    position: absolute;
                    bottom: 0px;
                    left: 50%;
                    transform: translateX(-50%);
                }

                &:last-child:after {
                    display: none;
                }
            }
        }

        
    }

    .lock-timer-div {
        height: 30px;
        line-height: 30px;
        width: 100%;
    }
    .lock-timer {
        width: calc(100% - 20px);
        left: 10px;
        span {
            font-family: PingFangSC;
            font-size: 14px;
            color: #8a93a2;
            i {
                color: #e45e5e;
            }
        }
        span:before {
            display: inline-block;
            width: 10px;
            height: 12px;
            content: ' ';
            margin-right: 10px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-image: url('~@/assets/images/home/lock.png');
        }
    }
}
</style>
