<template>
    <div class="dj-guide" v-if="show">
        <div class="footer-btn">
            <div class="close-btn" @click="close">{{ i18n.close }}</div>
            <div class="home-btn" @click="goHome">{{ i18n.goHome }}</div>
        </div>
        <div class="current-step step1" v-if="step === 1">
            <div class="info">
                <img class="img-tips" :src="require(`@/assets/images/guide/tips1.png`)" >
                <div class="tips">{{ i18n.tips1 }}</div>
                <div class="btn next-btn" @click="next">{{ i18n.next }}</div>
            </div>
            <template v-if="ImgType">
                <img class="img-full img-bg" :src="require(`@/assets/images/guide/bg1.jpg`)"/>
                <img class="img-full img-mask" :src="require(`@/assets/images/guide/mask1.png`)"/>
            </template>
            <template v-else>
                <img class="img-full img-bg" :src="require(`@/assets/images/guide/bg1.png`)"/>
            </template>
        </div>
        <div class="current-step step2" v-if="step === 2">
            <div class="info">
                <div class="guide-line"></div>
                <div class="tips">{{ i18n.tips2 }}</div>
                <div class="info-btns">
                    <div class="btn pre-btn" @click="previous">
                        <div class="btn-bg">{{ i18n.previous}}</div>
                    </div>
                    <div class="btn next-btn" @click="next">{{ i18n.next }}</div>
                </div>
            </div>
            <template v-if="ImgType">
                <img class="img-full img-bg" :src="require(`@/assets/images/guide/bg1.jpg`)"/>
                <img class="img-full img-mask" :src="require(`@/assets/images/guide/mask2.png`)"/>
            </template>
            <template v-else>
                <img class="img-full img-bg" :src="require(`@/assets/images/guide/step2.png`)"/>
            </template>
        </div>
       <div class="current-step step3" v-if="step === 3">
            <div class="info">
                <div class="guide-line"></div>
                <div class="tips">{{ i18n.tips3 }}</div>
                <div class="info-btns">
                    <div class="btn pre-btn" @click="previous">
                        <div class="btn-bg">{{ i18n.previous}}</div>
                    </div>
                    <div class="btn next-btn" @click="next">{{ i18n.next }}</div>
                </div>
            </div>
            <template v-if="ImgType">
                <img class="img-full img-bg" :src="require(`@/assets/images/guide/bg2.jpg`)"/>
                <img class="img-full img-mask" :src="require(`@/assets/images/guide/mask3.png`)"/>
            </template>
            <template v-else>
                <img class="img-full img-bg" :src="require(`@/assets/images/guide/step3.png`)"/>
            </template>
        </div>
        <div class="current-step step4" v-if="step === 4">
            <div class="info">
                <div :class="{'guide-line':true, 'with-head': withHead}"></div>
                <div class="tips">{{ i18n.tips4 }}</div>
                <div class="info-btns">
                    <div class="btn pre-btn" @click="previous">
                        <div class="btn-bg">{{ i18n.previous}}</div>
                    </div>
                    <div class="btn next-btn" @click="next">{{ i18n.ikonw }}</div>
                </div>
            </div>
            <template v-if="ImgType">
                <img class="img-full img-bg" :src="require(`@/assets/images/guide/bg3.png`)"/>
            </template>
            <template v-else>
                <img class="img-full img-bg" :src="require(`@/assets/images/guide/step4.png`)"/>
            </template>
        </div>
        <div class="current-step step5" v-if="step === 5">
            <div class="info">
                <img class="img-tips" :src="require(`@/assets/images/guide/tips2.png`)" >
                <div class="tips">{{ i18n.tips5 }}</div>
                <div class="btn next-btn" @click="next">{{ i18n.continue }}</div>
            </div>
            <template v-if="ImgType">
                <img class="img-full img-bg" :src="require(`@/assets/images/guide/bg1.jpg`)"/>
                <img class="img-full img-mask" :src="require(`@/assets/images/guide/mask1.png`)"/>
            </template>
            <template v-else>
                <img class="img-full img-bg" :src="require(`@/assets/images/guide/bg1.png`)"/>
            </template>
        </div>
        <div class="current-step step6" v-if="step === 6">
            <div class="info">
                <div class="guide-line"></div>
                <div class="tips" v-html="i18n.tips6"></div>
                <div class="info-btns">
                    <div class="btn pre-btn" @click="previous">
                        <div class="btn-bg">{{ i18n.previous}}</div>
                    </div>
                    <div class="btn next-btn" @click="next">{{ i18n.next }}</div>
                </div>
            </div>
            <template v-if="ImgType">
                <img class="img-full img-bg" :src="require(`@/assets/images/guide/bg1.jpg`)"/>
                <img class="img-full img-mask" :src="require(`@/assets/images/guide/mask4.png`)"/>
            </template>
            <template v-else>
                <img class="img-full img-bg" :src="require(`@/assets/images/guide/step6.png`)"/>
            </template>
        </div>
        <div class="current-step step7" v-if="step === 7">
            <div class="info">
                <div :class="{'guide-line':true, 'with-head': withHead}"></div>
                <div class="tips" v-html="i18n.tips7"></div>
                <div class="info-btns">
                    <div class="btn pre-btn" @click="previous">
                        <div class="btn-bg">{{ i18n.previous}}</div>
                    </div>
                    <div class="btn next-btn" @click="next">{{ i18n.next }}</div>
                </div>
            </div>
            <template v-if="ImgType">
                <img class="img-full img-bg" :src="require(`@/assets/images/guide/bg1.jpg`)"/>
                <img class="img-full img-mask" :src="require(`@/assets/images/guide/mask5.png`)"/>
            </template>
            <template v-else>
                <img class="img-full img-bg" :src="require(`@/assets/images/guide/step7.png`)"/>
            </template>
        </div>
        <div class="current-step step8" v-if="step === 8">
            <div class="info">
                <div class="guide-line"></div>
                <div class="tips" v-html="i18n.tips8"></div>
                <div class="info-btns">
                    <div class="btn pre-btn" @click="previous">
                        <div class="btn-bg">{{ i18n.previous}}</div>
                    </div>
                    <div class="btn next-btn" @click="next">{{ i18n.ikonw}}</div>
                </div>
            </div>
            <template v-if="ImgType">
                <img class="img-full img-bg" :src="require(`@/assets/images/guide/bg4.jpg`)"/>
                <img class="img-full img-mask" :src="require(`@/assets/images/guide/mask6.png`)"/>
            </template>
            <template v-else>
                <img class="img-full img-bg" :src="require(`@/assets/images/guide/step8.png`)"/>
            </template>
        </div>
        <div class="current-step step9" v-if="step === 9">
            <div class="info">
                <div class="guide-line"></div>
                <div class="tips" v-html="i18n.tips9"></div>
                <div class="btn next-btn" @click="next">{{ i18n.next }}</div>
            </div>
            <template v-if="ImgType">
                <img class="img-full img-bg" :src="require(`@/assets/images/guide/bg1.jpg`)"/>
                <img class="img-full img-mask" :src="require(`@/assets/images/guide/mask7.png`)"/>
            </template>
            <template v-else>
                <img class="img-full img-bg" :src="require(`@/assets/images/guide/step9.png`)"/>
            </template>
        </div>
        <div class="current-step step8" v-if="step === 10">
            <div class="info">
                <div class="guide-line"></div>
                <div class="tips" v-html="i18n.tips10"></div>
                <div class="info-btns">
                    <div class="btn pre-btn" @click="previous">
                        <div class="btn-bg">{{ i18n.previous}}</div>
                    </div>
                    <div class="btn next-btn" @click="next">{{ i18n.next }}</div>
                </div>
            </div>
            <template v-if="ImgType">
                <img class="img-full img-bg" :src="require(`@/assets/images/guide/bg4.jpg`)"/>
                <img class="img-full img-mask" :src="require(`@/assets/images/guide/mask6.png`)"/>
            </template>
            <template v-else>
                <img class="img-full img-bg" :src="require(`@/assets/images/guide/step8.png`)"/>
            </template>
        </div>
        <div class="current-step step11" v-if="step === 11">
            <div class="info">
                <div class="tips">{{i18n.tips11}}</div>
                <div class="info-btns">
                    <div class="btn pre-btn" @click="previous">
                        <div class="btn-bg">{{ i18n.previous}}</div>
                    </div>
                    <div class="btn next-btn" @click="next">{{ i18n.next }}</div>
                </div>
                <div class="guide-line"></div>
            </div>
            <template v-if="ImgType">
                <img class="img-full img-bg" :src="require(`@/assets/images/guide/bg5.jpg`)"/>
            </template>
            <template v-else>
                <img class="img-full img-bg" :src="require(`@/assets/images/guide/step11.png`)"/>
            </template>
        </div>
        <div class="current-step step12" v-if="step === 12">
            <div class="info">
                <div :class="{'guide-line':true, 'with-head': withHead}"></div>
                <div class="tips">{{i18n.tips12}}</div>
                <div class="info-btns">
                    <div class="btn pre-btn" @click="previous">
                        <div class="btn-bg">{{ i18n.previous}}</div>
                    </div>
                    <div class="btn next-btn" @click="close">{{ i18n.ikonw}}</div>
                </div>
            </div>
            <template v-if="ImgType">
                <img class="img-full img-bg" :src="require(`@/assets/images/guide/bg6.png`)"/>
            </template>
            <template v-else>
                <img class="img-full img-bg" :src="require(`@/assets/images/guide/step12.png`)"/>
            </template>
        </div>
    </div>
</template>
<script>
import * as userApi from "@/api/user.js";
export default {
    name: "guide",
    props:['withHead', 'beginStep', 'endStep'],
    data() {
        return {
            show: false,
            step: 1,
            i18n: this.$t('guide'),
        };
    },
    computed: {
        ImgType () {
            let languageType = localStorage.getItem('language') || 'cn';
            if(languageType == 'cn' || languageType == 'zh') {
                return true
            } else {
                return false
            }
        }
    },
    mounted() {
        if(!this.withHead){
            this.getGuideStatus();
        }
    },
    methods: {
        getGuideStatus(){
            const version = '2021.9.15';
            userApi
                .requestUserver({
                    device_type: 2,
                    version,
                })
                .then((res) => {
                    const {status, data} = res.data;
                    if (status == "true" && data.h5 != version) {
                        this.step = 1;
                        this.show = true;
                    }
                });
            
        },
        previous(){
            this.step--;
            if(this.beginStep && this.step < this.beginStep){
                this.close()
            }
        },
        next(){
            this.step++;
            if(this.endStep && this.step > this.endStep){
                this.close()
            }
        },
        close(){
            this.show = false;
            this.$emit('closeGuide');
        },
        goHome(){
            this.$router.push({
                name: 'home',
            })
        //     this.$router.push(`/home`, params: {
        //     id: id
        //   });
        },
        showGuide() {
            this.step = this.beginStep;
            this.show = true;
        }
    },
};
</script>
<style lang="less" scoped>
.dj-guide{
    background-color: #000;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 300;
    .current-step{
        .info{
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            z-index: 3;
        }
        .tips{
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            font-weight: 400;
            margin-top: 8px;
            padding: 0 16px;
            line-height: 1;
            span{
                color: #E7BB02;
            }
        }
        .info-btns{
            display: flex;
            justify-content: center;
            .next-btn{
                margin-left: 16px;
            }
        }
        .btn{
            font-size: 16px;
            color: #FFFFFF;
            text-align: center;
            font-weight: 400;
            width: 120px;
            height: 36px;
            line-height: 36px;
            border-radius: 4px;
            margin-top: 6px;
            &.pre-btn{
                background-image: linear-gradient(180deg, #333333 6%, #272727 33%, #101010 53%, #020202 97%);
                box-shadow: inset 0 0 4px 0 rgba(255,255,255,0.14);
                .btn-bg{
                    background: rgba(255,255,255,0.30);
                    border-radius: 4px;
                }
            }
            &.next-btn{
                background-image: linear-gradient(180deg, #61C5FF 8%, #0271BD 55%, #027ED0 100%);
            }
        }
        .img-full{
            position: absolute;
            width: 100%;
            top: 0;
            left:0;
            z-index: 2;
        }
        .guide-line{
            opacity: 0.6;
            border: 1px dashed #FFFFFF;
            width: 1.5px;
        }
        &.step1{
            .info{
                top: 50%;
                transform: translateY(-50%);
                .img-tips{
                    width: 260px;
                }
                .btn{
                    width: 163px;
                }
            }
        }
        &.step2{
            .info{
                top: 295px;
                .guide-line{
                    height: 87px;
                }
            }
        }
        &.step3{
            .info{
                top: 325px;
                .guide-line{
                    height: 87px;
                }
            }
        }
        &.step4{
            .info{
                top: 410px;
                .tips{
                    margin-top: 2px;
                    line-height: 1;
                }
                .guide-line{
                    height: 1px;
                    &.with-head{
                        height: 1px;
                    }
                }
            }
        }
        &.step5{
            .info{
                top: 33.3%;
                .img-tips{
                    width: 260px;
                }
                .btn{
                    width: 163px;
                }
            }
        }
        &.step6{
            .info{
                top: 98px;
                .guide-line{
                    height: 260px;
                }
            }
        }
        &.step7{
            .info{
                top: 440px;
                .guide-line{
                    height: 1px;
                    &.with-head{
                        height: 1px;
                    }
                }
                .tips{
                    margin-top: 0;
                }
            }
        }
        &.step8{
            .info{
                top: 158px;
                .guide-line{
                    height: 159px;
                    &::after{
                        content: '';
                        width: 65px;
                        border: 1px dashed #FFFFFF;
                        position: absolute;
                    }
                }
            }
        }
        &.step9{
            .info{
                top: 284px;
                .guide-line{
                    height: 40px;
                }
                .btn{
                    width: 163px;
                }
            }
        }
        &.step10{
            .info{
                top: 163px;
                .guide-line{
                    height: 279px;
                    &::after{
                        content: '';
                        width: 86px;
                        border: 1px dashed #FFFFFF;
                        position: absolute;
                    }
                }
            }
        }
        &.step11{
            .info{
                top: 63px;
                .tips{
                    margin-top: 0;
                }
                .guide-line{
                    height: 18px;
                    margin-top: 16px;
                }
            }
        }
        &.step12{
            .info{
                top: 406px;
                .guide-line{
                    height: 8px;
                    &.with-head{
                        height: 8px;
                    }
                }
            }
        }
    }
    .footer-btn{
        position: fixed;
        top: 24px;
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 10;
        .close-btn{
            font-size: 16px;
            color: #0095FF;
            text-align: center;
            line-height: 17px;
            font-weight: 400;
        }
        .home-btn{
            font-size: 16px;
            color: rgba(255,255,255,0.60);
            text-align: center;
            line-height: 17px;
            font-weight: 400;
            margin-left: 8px;
        }
    }
}
    
</style>
