<template>
    <div class="dj-guide" v-if="show">
        <div class="footer-btn">
            <div class="close-btn" @click="close">{{ i18n.close }}</div>
            <div class="home-btn" @click="goHome">{{ i18n.goHome }}</div>
        </div>
        <template v-for="(item,index) in guideData">
            <div :class="['content', `step${step}`]" v-if="index+1 == step" :key="index">
                <template v-if="[11, 17, 18, 19, 20].includes(step)">
                    <div class="tips" v-html="i18n[`tips${index+1}`]"></div>
                    <div class="info-btns">
                        <div class="btn pre-btn" @click="previous">
                            <div class="btn-bg">{{ i18n.previous}}</div>
                        </div>
                        <div class="btn next-btn" @click="next">{{ i18n.next }}</div>
                    </div>
                    <div :class="['guide-line']" v-show="item" :style="{'height': `${item}px`}"></div>
                </template>
                <img v-if="![15, 21].includes(step)" :src="require(`@/assets/images/guide/fullImage/tips${index}-${ImgType}.png`)" class="image" alt="">
                <template v-if="![11, 17, 18, 19, 20].includes(step)">
                    <div :class="['guide-line',{'horizontal-line': [8,10].includes(step)}]" v-show="item" :style="{'height': `${item}px`}"></div>
                    <div class="tips" v-html="i18n[`tips${index+1}`]"></div>
                    <div class="info-btns">
                        <div class="btn single-btn" v-if="[1,5,9,13].includes(step)" @click="next">{{step == 5? i18n.continue : i18n.next}}</div>
                        <template v-else>
                            <div class="btn pre-btn" @click="previous">
                                <div class="btn-bg">{{ i18n.previous}}</div>
                            </div>
                            <div class="btn next-btn" @click="next">{{ [4,8,12,21].includes(step)? i18n.ikonw : i18n.next }}</div>
                        </template>
                    </div>
                </template>
            </div>
        </template>
    </div>
</template>
<script>
import * as userApi from "@/api/user.js";
export default {
    name: "guide",
    props:['withHead', 'beginStep', 'endStep'],
    data() {
        return {
            show: false,
            step: 1,
            i18n: this.$t('guide'),
            guideData: [0, 6, 6, 6, 0, 60, 6, 60, 6, 50, 0, 6,    0, 100, 0, 120, 30, 30, 30, 160, 0]
        };
    },
    computed: {
        ImgType () {
            let languageType = localStorage.getItem('language') || 'cn';
            return languageType == 'cn' || languageType == 'zh' ? 'zh' : 'en'
        }
    },
    mounted() {
        /*if(!this.withHead){
            this.getGuideStatus();
        }*/
    },
    methods: {
        /*getGuideStatus(){
            const version = '2021.9.15';
            userApi
                .requestUserver({
                    device_type: 2,
                    version,
                })
                .then((res) => {
                    const {status, data} = res.data;
                    if (status == "true" && data.h5 != version) {
                        this.step = 1;
                        this.show = true;
                    }
                });
            
        },*/
        previous(){
            this.step--;
            if(this.beginStep && this.step < this.beginStep){
                this.close()
            }
        },
        next(){
            this.step++;
            if(this.endStep && this.step > this.endStep){
                this.close()
            }
        },
        close(){
            this.show = false;
            this.$emit('closeGuide');
        },
        goHome(){
            this.$router.push({
                name: 'home',
            })
        //     this.$router.push(`/home`, params: {
        //     id: id
        //   });
        },
        showGuide() {
            this.step = this.beginStep;
            this.show = true;
        }
    },
};
</script>
<style lang="less" scoped>
.dj-guide{
    background-color: #000;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 300;
    .footer-btn{
        position: fixed;
        top: 24px;
        width: 100%;
        display: flex;
        justify-content: center;
        z-index: 10;
        .close-btn{
            font-size: 16px;
            color: #0095FF;
            text-align: center;
            line-height: 17px;
            font-weight: 400;
        }
        .home-btn{
            font-size: 16px;
            color: rgba(255,255,255,0.60);
            text-align: center;
            line-height: 17px;
            font-weight: 400;
            margin-left: 8px;
        }
    }
    .content{
        position: absolute;
        top: 50%;
        left: 12px;
        right: 12px;
        transform: translate(0,-50%);
        .image{
            width: 100%;
            object-fit: contain;
        }
        .guide-line{
            width: 2px;
            margin: 2px auto 0;
            border: 1px dashed rgba(255,255,255,.6);
            position: relative;
            &.horizontal-line:after {
                content: "";
                width: 60px;
                border: 1px dashed rgba(255,255,255,.6);
                position: absolute;
                top: -20px;
            }
            &.horizontal-line:before {
                content: "";
                height: 10px;
                border: 1px dashed hsla(0,0%,100%,.6);
                position: absolute;
                top: -15px;
                left: -1px;
            }
        }
        .tips{
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            font-weight: 400;
            margin-top: 2px;
            line-height: 20px;
            padding: 0 24px;
            span{
                color: #E7BB02;
            }
        }
        .info-btns{
            display: flex;
            justify-content: center;
            margin-top: 6px;
            .btn{
                font-size: 16px;
                color: #FFFFFF;
                text-align: center;
                font-weight: 400;
                width: 120px;
                height: 36px;
                line-height: 36px;
                border-radius: 4px;
                &.pre-btn{
                    background-image: linear-gradient(180deg, #333333 6%, #272727 33%, #101010 53%, #020202 97%);
                    box-shadow: inset 0 0 4px 0 rgba(255,255,255,0.14);
                    .btn-bg{
                        background: rgba(255,255,255,0.30);
                        border-radius: 4px;
                    }
                }
                &.next-btn{
                    margin-left: 16px;
                    background-image: linear-gradient(180deg, #61C5FF 8%, #0271BD 55%, #027ED0 100%);
                }
            }
            .single-btn{
                width: 163px;
                background-image: linear-gradient(180deg, #61C5FF 8%, #0271BD 55%, #027ED0 100%);
            }
        }
    }
    .step11{
        top: 50px;
        transform: none;
    }
    .step13{
        text-align: center;
        img {
            width: 66% !important;
        }
    }
    .step14{
        top: 10%;
        transform: none;
    }
    .step16{
        top: 48px;
        transform: none;
    }
    .step20{
        top: auto;
        bottom: 0;
        transform: none;
    }
}
    
</style>
