<!-- 
    事件： 击杀主宅 ~@/assets/images/data/nashors_kill.png
-->

<template>
    <div :class="['drakes_kill', item.show_side == 1 ? 'side_left': 'side_right']">
        <div class="destroy">
            <TeamImage 
                :url="item.destroy.logo"
                :noCdn="true" 
            />
        </div>
        <div class="icon"></div>
        <div class="destroyed">
            <img  src="" alt="">
        </div> 
    </div>
</template>
<script>
export default{
    props:["item"],
}
</script>
<style lang="less" scoped>
.drakes_kill{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0 6px;
}
.icon{
    width: 24px;
    height: 24px;
    background-image: url("~@/assets/images/data/data-vs.png"); 
    background-size: cover;
}
.destroy{
    width: 24px;
    height: 24px;
    border-radius: 24px;
    border: 2px solid #ff7171;
    overflow: hidden;
    img{
        width: 24px;
        height: 24px;
    }
}

.destroyed{
    width: 24px;
    height: 24px;
    border-radius: 24px;
    border: 2px solid #ff7171;
    overflow: hidden;
    img{
        width: 24px;
        height: 24px;
    }
}

.side_right .destroy{
    border: 2px solid #ff7171;
}

.side_right .destroyed{
    border: 2px solid #6f8bff;
}
</style>