<!-- 
    事件： 击杀小龙
-->

<template>
    <div :class="['drakes_kill', item.show_side == 1 ? 'side_left': 'side_right']">
        <div class="destroy">
            <TeamImage 
                :url="item.destroy.logo"
                :noCdn="true" 
            />
        </div>
        <div class="icon"></div>
        <div class="destroyed" :data-key="item.destroyed.name.trim()">
            <img v-if=" item.destroyed.name.trim() == 'Mountain Drake'" src="~@/assets/images/data/mountain_drake_kills.png" alt="">
            <img v-else-if=" item.destroyed.name.trim() == 'Infernal Drake'" src="~@/assets/images/data/infernal_drake_kills.png" alt="">
            <img v-else-if=" item.destroyed.name.trim() == 'Ocean Drake'" src="~@/assets/images/data/ocean_drake_kills.png" alt="">
            <img v-else-if=" item.destroyed.name.trim() == 'Cloud Drake'" src="~@/assets/images/data/cloud_drake_kills.png" alt="">
            <img v-else  src="~@/assets/images/data/elder_drake_kills.png" alt="">
        </div> 
    </div>
</template>
<script>
export default{
    props:["item"],
}
</script>
<style lang="less" scoped>
.drakes_kill{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0 6px;
}
.icon{
    width: 24px;
    height: 24px;
    background-image: url("~@/assets/images/data/data-vs.png"); 
    background-size: cover;
}
.destroy{
    width: 24px;
    height: 24px;
    border-radius: 24px;
    border: 2px solid #ff7171;
    overflow: hidden;
    img{
        width: 24px;
        height: 24px;
    }
}
.destroyed{
    width: 24px;
    height: 24px;
    border-radius: 24px;
    border: 2px solid #ff7171;
    overflow: hidden;
    img{
        width: 20px;
        height: 20px;
    }
}

.side_right .destroy{
    border: 2px solid #ff7171;
}

.side_right .destroyed{
    border: 2px solid #6f8bff;
}
</style>