<template>
    <div class="schedule">
        <div class="schedule-tab">
            <div class="item-sub" v-for="(item,index) in tab" :key="index" >
                <span  
                :class="['tab-item',{'active': tabIndex==index} ]"
                @click="changeTab(index)"
                >{{item}}</span>
            </div>
        </div>

        <div class="schedul-box">
            <div class="schedule-header">
                <div class="header-left">
                    <span class="team-logo">
                        <TeamImage 
                            :url="global.TeamImages[matchs.home_team]" 
                        />
                    </span>
                    <span class="team-name ellipsis"> {{ matchs.home_name }} </span>
                </div>
                <div class="header-center" @click="itemListShow = true">
                
                    <span class="center-text">{{ typeText }}</span>
                    <span class="center-icon"></span>
                

                    <div class="center-box" v-show="itemListShow">
                        <span 
                            :class="['box-item',{ 'item-active': type == item.val }]"
                            v-for="item in typeList"
                            @click.stop="changeType(item.val)"
                            :key="item.val"
                        >
                            {{ item.label }}
                        </span>
                    </div>
                </div>
                <div class="header-right">
                    <span class="team-name ellipsis"> {{ matchs.away_name }} </span>
                    <span class="team-logo">
                        <TeamImage 
                            :url="global.TeamImages[matchs.away_team]" 
                        />
                    </span>
                </div>
            </div>



            <template v-if="list.length != 0">
                <div class="schedule-start">
                    <span class="left-icon"></span>
                    <span class="words">{{$t('antDataSource.MatchStart')}}</span> 
                    <span class="right-icon"></span>
                </div>

                <div class="schedule-time">
                    <span class="words">00:00</span>
                </div>

                <div class="events" v-for="(item, i) in list" :key="i">
                    <div class="schedule-line">
                        <!-- <span class="line-c"></span>
                        <span class="line-l"></span>
                        <span class="line-c"></span> -->
                    </div>

                    <div class="schedule-time">
                        <span class="words DIN">{{ transTimeM(item.time) }}</span>
                        <div :class="['time-things', item.show_side == 1 ? 'left' : 'right']">
                            <component
                                :item="item"
                                :is="componentId(item.type)">
                            </component>
                        </div>
                    </div>
                </div>
            </template>
            <common-not-data
                v-else   
                class="not-account-data"
                :title="$t('antDataSource.NoData')"
                :showLive= "false"
                backgroundImg="not-data-schedule"
                paddingTop="90px">
            </common-not-data>
        </div>
    </div>
</template>
<script>
import { requestBifenAntEvents } from "@/api/data.js";
import { mapGetters } from "vuex";
import commonNotData from "@/views/common/commonNotData";
import playerKill from "./player_kill"; // 击杀组件
import towerKill  from "./tower_kill"; // 推塔
import nashorsKill from "./nashors_kill" // 击杀先锋
import drakesKill from "./drakes_kill" // 击杀猪仔  大龙
import drakeKill from "./drake_kill" // 击杀小龙

export default {
    components:{
        commonNotData
    },
    data(){
        return{
            tabIndex: 0,
            global,
            itemListShow: false,
            stage_id: 1,
            eventsList:{
                events: [],
                teams: {}
            },
            type: "1",

            typeList:[
                { val: "1", label: this.$t('antDataSource.All') },
                { val: "2", label: this.$t('antDataSource.KillHero') },
                { val: "3", label: this.$t('antDataSource.DestroyTowerCrystal') },
                { val: "4", label: this.$t('antDataSource.KillMonsters') },
            ],

            "257154660915053": {
                "drake_kill": "小龙击杀",
                "player_kill": "队员击杀",
                "rift_herald_kill": "击杀先锋",
            }, // 英雄联盟


            "257289795134339": {
                "drake_kill": "小龙击杀",
                "player_kill": "队员击杀",
                "rift_herald_kill": "击杀先锋"
            }, // DOTA2


            "257561197207055": {
                "tower_kill":"推塔",
                "player_kill":"击杀英雄",
                "drakes_kill":"击杀主宰",
                "nashors_kill":"击杀先锋",
            }, // 王者荣耀


            "257578064923863": {
                "join": "加入比赛",
                "quit": "离开比赛",
                "round_start": "回合开始",
                "round-win": "回合胜利",
                "suicide": "自杀",
                "bomb": "放置炸弹",
                "kill": "击杀",
                "disarm_bomb": "炸弹拆除"
            }, // CSGO

        }
    },
    computed:{
        ...mapGetters([
            "matchID",
            "matchTimer",
            "matchs",
            "images"
        ]),
        tab(){
            let arr = []
            let localLangId = localStorage.getItem('language') || 'cn'
            let changeNum = localLangId == 'cn' || localLangId == 'zh'? ['一','二','三','四','五','六','七','八','九']:['1','2','3','4','5','6','7','8','9']
            for(var i = 0; i < this.matchs.bo; i++){
                arr.push(this.$t('antDataSource.RoundNo', { no: changeNum[i] }))
            }
            return arr
        },
        teams1(){
            const obj = this.eventsList.teams;
            if( Object.values(obj)[0] ){
                return Object.values(obj)[0]
            }else{
                return false;
            }
        },
        teams2(){
            const obj = this.eventsList.teams;
            if( Object.values(obj)[1] ){
                return Object.values(obj)[1]
            }else{
                return false;
            }
        },

        list(){
            const type = this.type;
            const list = this.eventsList.events;
            switch(type){
                case "1":
                    return list;
                case "2":
                    return list.filter( ele => ele.type == 'player_kill' );
                case "3":
                    return list.filter( ele => ele.type == 'tower_kill' );
                case "4":
                    return list.filter( ele => ele.type == 'drake_kill' || ele.type == 'rift_herald_kill' || ele.type == 'nashors_kill' || ele.type == 'drakes_kill' );                                                            
                default:
                    return list    
            }
        },

        typeText(){
            const res = this.typeList.find( ele => ele.val == this.type );
            return res.label
        },

        // 订阅的频道
        topic(){
            let stage_id = this.tabIndex + 1
            return `/match/ant/event/${this.matchID}/${stage_id}}`
        }
    },
    watch:{
        topic(v,ov){
            this.doSubscribe();
        },
        matchTimer:{
            handler(newVal, oldVal){
                if( this.matchs.status == 5 ){
                    this.tabIndex = newVal[this.matchs.id].round - 1;
                }
            },
            deep:true,
            immediate: true
        }
    },
    created() {
        this.init();
        this.doSubscribe();
        
        // 监听订阅
        const me = this;
        mqtt_client.on("message", function(topic, payload) {
            if( topic == me.topic ){
                const resData = JSON.parse(payload.toString()).events;
                if( Object.keys(resData).length ){
                    me.eventsList.events = [
                        ...me.eventsList.events,
                        JSON.parse(payload.toString()).events,
                    ];
                }
            }
        })

        // // 测试5s 发送消息
        // setInterval( () => {
        //     const res = {
        //         "time": 1234,
        //         "type": "player_kill",
        //         "show_side": 2,
        //         "destroy": {
        //             "side": 2,
        //             "name": "七海 灯子",
        //             "logo": "https://img.antscore.io/dota2/role/b9040baea11bdcdd280af167b8e32239.png",
        //             "o_type": ""
        //         },
        //         "destroyed": {
        //             "side": 1,
        //             "name": "Ws`",
        //             "logo": "https://img.antscore.io/dota2/role/37aca913414b40932ad5287e847987f5.png",
        //             "o_type": ""
        //         }
        //      }
        //      mqtt_client.publish(this.topic, JSON.stringify(res))
        // }, 5000)
    },
    methods: {
        changeTab(index){
            this.tabIndex = index
            this.init()
        },
        init(){
            // lol： 43214321
            // dota2 ： 123456789  1234512345
            // wanz: 12312311
            let stage_id = this.tabIndex + 1
            requestBifenAntEvents({
                match_id: this.matchID,
                stage_id: stage_id
            }).then( res => {
                if( res.data.status == "true" ){
                    // 首杀
                    let first_kill = 0;
                    for( let key in  res.data.data.events ){
                        if( res.data.data.events[key].type == "player_kill" ){
                            first_kill++;
                            if( first_kill == 1 ){
                                res.data.data.events[key]['first_kill'] = true;
                                break;
                            }
                        }
                    }
                    // 队伍第五次击杀 
                    let five_kill1 = 0;
                    let five_kill2 = 0;
                    for( let key in  res.data.data.events ){
                        const { type, show_side } = res.data.data.events[key]
                        if( type == "player_kill" && show_side == 1){
                            five_kill1++;
                        }
                        if( type == "player_kill" && show_side == 2){
                            five_kill2++;
                        }
                        console.log( five_kill1, five_kill2 )
                        if(  five_kill1 == 5 || five_kill2 == 5 ){
                            res.data.data.events[key]['five_kill'] = true;
                            break;
                        }
                    }

                    // 队伍第十次击杀
                    let ten_kill1 = 0;
                    let ten_kill2 = 0;
                    for( let key in  res.data.data.events ){
                        const { type, show_side } = res.data.data.events[key]
                        if( type == "player_kill" && show_side == 1){
                            ten_kill1++;
                        }
                        if( type == "player_kill" && show_side == 2){
                            ten_kill2++;
                        }
                        if(  ten_kill1 == 10 || ten_kill2 == 10 ){
                            res.data.data.events[key]['ten_kill'] = true;
                            break;
                        }
                    }

                    for( let key in  res.data.data.events ){
                        if( res.data.data.events[key].type == "tower_kill" ){
                            res.data.data.events[key]['first_tower'] = true;
                            break;
                        }
                    }

                    this.eventsList = res.data.data;
                }
            })
        },

        // 秒转化为分钟
        transTimeM(m){
            const a = Math.floor(m/60)
            const b = Math.floor(m%60)
            return (a < 10 ? '0' + a : a) + ":" + (b < 10 ? '0' + b : b);
        },

        componentId(path){
            switch(path){
                case 'player_kill':
                    return playerKill;
                case 'barracks_kill':    
                case 'tower_kill':
                    return towerKill
                case 'nashors_kill':
                case 'rift_herald_kill':
                case 'inhibitor_kill':         
                    return nashorsKill    
                case 'drakes_kill':
                case 'baron_nashor_kill':
                    return drakesKill  
                case 'drake_kill':
                    return drakeKill 
                default:
                    return;       
            }
        },

        changeType(val){
            this.type = val;
            this.itemListShow = false;
        },
        // 订阅mqtt更新
        doSubscribe(){
            mqtt_client.subscribe(this.topic, (msg) => {
                console.log('msg:', msg)
            })
        },
        doUnSubscribe(){
            mqtt_client.unsubscribe(this.topic)
        }
    },
    // 销毁组件注销订阅
    destroyed() {
        this.doUnSubscribe();
    },
}
</script>
<style lang="less">
.schedule{
    // flex: 1;
    // overflow: hidden;
    padding: 8px 0 0;
    // min-height: 700px;
    // padding-bottom: ;
    .schedul-box{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.20);
        border-radius: 8px 8px 0px 0px;
        overflow: auto;
        border: 1px solid rgba(255,255,255,0.2);
        padding: 10px 10px 450px;
    }
    .select-item{
        width: 160px;
        .el-input__inner{
            border: none;
            background: transparent;
            text-align: center;
        }
    }
    .schedule-tab{
        height: 43px;
        display: flex;
        background: #2b2a2d;
        font-size: 12px;
        position: sticky;
        top: 36px;
        z-index: 99;
        overflow-x: auto;
        .item-sub{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            .tab-item{
                width: 84px;
                height: 27px;
                line-height: 27px;
                text-align: center;
                color: rgba(255,255,255,0.6);
                border: 1px solid transparent;
                &.active{
                    color: #fff;
                    background: rgba(0,149,255,0.30);
                    border-color: rgba(0,149,255,1);
                    border-radius: 8px;
                }
            }
        }
    }
    .schedule-header{
        display: flex;
        align-items: center;
        justify-content: center;
       
        .team-logo{
            width: 25px;
            height: 25px;
            border-radius: 25px;
        }
        .team-name{
            font-size: 12px;
            color: rgba(255,255,255,0.8);
            text-align: right;
            font-weight: 500;
            overflow: hidden;
            word-break: break-all;
            // width: 70px;
            flex: 1;
        }
    }
    .header-left, .header-right{
        display: flex;
        align-items: center;
        width: 80px;
    }
    .header-right{
        justify-content: flex-end;
        .team-name{
            text-align: left;
        }
    }
    .header-center{
        width: 158px;
        height: 30px;
        border: 1px solid rgba(151,151,151,0.3);
        border-radius: 4px;
        position: relative;
        text-align: center;
        line-height: 26px;
        z-index: 99;
        margin: 0 8px;
        .center-icon{
            position: absolute;
            top: 50%;
            right: 9px;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            background-image: url("~@/assets/images/data/data-arrow.png");
            background-size: cover;
        }
        .center-text{
            font-size: 12px;
            color: rgba(255,255,255,0.7);
        }
        .center-box{
            position: absolute;
            left: 0;
            top: 32px;
            width: 158px;
            height: 120px;
            background: #333844;
            border: 1px solid rgba(255,255,255,0.1);
            border-radius: 8px;
            backdrop-filter: blur(20px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .box-item{
                flex: 1;
                width: 100%;
                line-height: 30px;
                font-size: 14px;
                color: rgba(255,255,255,0.60);
            }
            .item-active{
                background: rgba(255,255,255,0.10);
            }
        }
    }
    .schedule-start{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 6px;
        .words{
            font-size: 12px;
            color: #00FF3B;
            text-align: center;
            font-weight: 500;
            margin: 0 8.6px;
        }
        .right-icon, .left-icon{
            width: 44px;
            height: 16px;
        }
        .left-icon{
            background: url("~@/assets/images/common/start-game-left.png");
            background-size: cover;
        }
        .right-icon{
            background: url("~@/assets/images/common/start-game-right.png");
            background-size: cover;
        }
    }
    .schedule-time{
        position: relative;
        width: 40px;
        margin: 1px auto;
        text-align: center;
        .words{
            font-size: 12px;
            color: rgba(255,255,255,0.60);
            text-align: center;
            font-weight: 500;
        }
        .time-things{
            width: 100px;
            height: 30px;
            background: rgba(216,216,216,0.05);
            border: 1px solid rgba(255,255,255,0.05);
            border-radius: 30px;
            &.right{
                position: absolute;
                right: -108px;
                top: 50%;
                transform: translateY(-50%);
            }
            &.left{
                position: absolute;
                left: -108px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }

    .schedule-line{
        margin: 0 auto;
        width: 2px;
        height: 40px;
        background-image: url("~@/assets/images/data/data-line.png");
        background-size: cover;
    }
}
</style>