<!-- 
    事件： 击杀 
-->
<template>
    <div :class="['player_kill', item.show_side == 1 ? 'side_left': 'side_right']">
        <div class="destroy">
            <TeamImage 
                :url="item.destroy.logo"
                :noCdn="true" 
            />
        </div>
        <div class="icon"></div>
        <div class="destroyed">
            <TeamImage 
                :url="item.destroyed.logo"
                :noCdn="true" 
            />
        </div>
        <img class="first" v-show="item.first_kill" src="~@/assets/images/data/first_blood.png" alt="" />
        <img class="first" v-show="item.five_kill" src="~@/assets/images/data/five_blood.png" alt="" />
        <img class="first" v-show="item.ten_kill" src="~@/assets/images/data/ten_blood.png" alt="" />
    </div>
</template>
<script>
export default{
    props:["item"],

}
</script>
<style lang="less" scoped>
.player_kill{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:  0 6px;
    position: relative;
}
.icon{
    width: 24px;
    height: 24px;
    background-image: url("~@/assets/images/data/data-vs.png"); 
    background-size: cover;
}
.destroy{
    width: 24px;
    height: 24px;
    border-radius: 24px;
    border: 2px solid #ff7171;
    overflow: hidden;
    img{
        width: 24px;
        height: 24px;
    }
}

.first{
    position: absolute;
    top: 32px;
    left: 4px;
    width: 24px;
    height: 24px;
}
.destroyed{
    width: 24px;
    height: 24px;
    border-radius: 24px;
    border: 2px solid #ff7171;
    overflow: hidden;
    img{
        width: 20px;
        height: 20px;
    }
}

.side_right .destroy{
    border: 2px solid #ff7171;
}

.side_right .destroyed{
    border: 2px solid #6f8bff;
}
</style>