<template>
    <Popup
        :class="['pop-modal', height]"
        :position="position"
        :overlay="true"
        :close-on-click-overlay="false"
        @click-overlay="onLeftClick"
        @click="onLeftClick"
        v-model="show"
    >
        <div class="tipmodal-wrap" @click.stop.prevent>
            <div class="pop-header">
                <div class="left" @click="onLeftClick">
                    <slot name="left">
                        <i v-show="showLeft" class="modal-fold"></i>
                        <!-- <i class="iconfont mk-fold"></i> -->
                    </slot>
                </div>
                <div class="center" v-html="title"></div>
                <div class="right" @click="onRightClick">
                    <slot name="right">{{ rightText }}</slot>
                </div>
            </div>

            <div class="pop-body">
                <slot></slot>
                <component
                    @click="hide"
                    :is="content"
                    @close="hide"
                    @setRightClick="setRightClickCallback"
                    @setLeftClick="setLeftClickCallback"
                    @clearPlateData="onRightClick"
                        :data="$options.propsData"
                    @checkedCallBack="checkedCallBack"
                    v-bind="$options.propsData.contentOpts"
                    @onConfirm="onConfirm"
                ></component>
            </div>
        </div>
    </Popup>
</template>

<script>
import { Popup } from 'vant'

export default {
    name: 'PopModal',
    props: {
        show: {
            type: Boolean,
        },
        showLeft: {
            type: Boolean,
            default: () => true,
        },
        title: {
            type: String,
        },
        content: {
            type: Object,
        },
        contentOpts: {
            type: Object,
        },
        rightText: {
            type: String,
        },
        position: {
            type: String,
            default: 'bottom',
        },
        height: {
            type: String, // 高度是否自动
            default: '',
        },
        checkedCallBack: {
            type: Function, // 高度是否自动
            default: ()=>function(){},
        },
        onHeadRightClick: Function,
    },
    components: {
        Popup,
    },

    methods: {
        onLeftClick() {
            // 如果有回调回调控制关闭 没有回调 默认关闭
            if (this.onSubComponentLeftClick) {
                this.onSubComponentLeftClick(this)
            } else {
                this.hide()
            }
        },
        onRightClick(isNotPop) {
            this.onHeadRightClick && this.onHeadRightClick(isNotPop)
            this.onSubComponentRightClick && this.onSubComponentRightClick(isNotPop)
        },
        setRightClickCallback(callback) {
            this.onSubComponentRightClick = callback
        },
        setLeftClickCallback(callback) {
            this.onSubComponentLeftClick = callback
        },
        hide() {
            this.show = false
        },
        onConfirm(...args) {
            this.$options.propsData.contentOpts
            && this.$options.propsData.contentOpts.onConfirm
            && this.$options.propsData.contentOpts.onConfirm(...args)
        },
    },

    watch: {
        show(v) {
            if (!v) {
                if (this.contentOpts && this.contentOpts.closeModalEvent) {
                    this.contentOpts.closeModalEvent()
                }
            }
        }
    }
}
</script>

<style lang="less">


.commonBg(@width ,@height ,@repeat, @size ,@url) {
    width: @width;
    height:@height;
    background-repeat: @repeat;
    background-size:contain;
    background-image:url("#{@url}");
}

@popModalHeaderHeight: 40px;

.pop-modal {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // height: calc(100% - #{$lotteryBetHeaderHeight});
    background-color: transparent;
    height: 100%;

    &.auto {
        height: auto;
    }
    .van-tabs--line .van-tabs__wrap {
        height: 42px;
    }

    .tipmodal-wrap {
        overflow: hidden;
        border-radius: 8px 8px 0 0;
        background-color: #fff;
    }

    .pop-header {
        min-height: @popModalHeaderHeight;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #E5E5E5;
        font-family: PingFangSC;
        color: #666666;
        font-size: 19.1px;
        .left {
            position: absolute;
            padding-left: 16px;
            .modal-fold {
                display: inline-block;
                .commonBg(14px, 8px, no-repeat, 100% 100%, './image/down.png');
            }
        }

        .left,
        .right {
            width: 50px;
        }

        .center {
            flex: 1;
            text-align: center;
        }
    }

    .pop-body {
        // flex: 1;
        // max-height: calc(100% - #{$popModalHeaderHeight});

        // display: flex;
        // overflow-y: auto;
        // // flex-direction: column;

        // > * {
        //     flex: 1;
        // }
    }
}
</style>
