/***
 *  早盘中赛事
 *  1. 早盘默认比分0：0
 *  2. 直播按钮置灰
 * 
 * 
*/
<template>
    <div class="match-cart match-early" @click="goMarket(match, false)">
        <div class="cart-name">{{ match.tournament_name }}</div>
        <div class="cart-bo">
            <div class="logo-bo">
                <span :class="['logo', 'game-logo-sprite' , logoCls(match.game_id)]">  </span>
                <span class="bo" v-show="!hideBo(match.category) && match.bo != 0" >BO{{ match.rel_bo }}</span>
                <span class="bo" v-show="match.category == 5">{{ i18n.zhubosaishi }}</span>
                <span class="bo" v-show="match.category == 6">{{ i18n.zuqiusaishi }}</span>
            </div>
            <span 
                v-if="!isHideVideo"
                :class="['live-icon', { 'has-live': hasLive }]"></span>
        </div>
        <div class="cart-info">
            <div class="info-left">
                <TeamImage class="team-logo" :url="global.TeamImages[match.home_team]" />
                <div class="team-name"> {{ match.home_name }} </div>
            </div>
            <div class="info-center info-time">
                <b class="day DIN"> {{ timetrans(match.start_time).d }} </b> 
                <b class="year DIN"> {{ timetrans(match.start_time).y }} </b>
            </div>
            <div class="info-right">
                <TeamImage class="team-logo" :url="global.TeamImages[match.away_team]" />
                <div class="team-name"> {{ match.away_name }} </div>
            </div>
        </div>
    </div>
</template>
<script>

import { mapGetters } from "vuex";
import { timetrans } from "@/assets/scripts/utils";
export default {
    props:["match", "goMarket", "hideBo"],
    data(){
        return{
            global,
            i18n: this.$t("asiad"),
            isHideVideo: localStorage.getItem('hideVideo') === 'true',
        }
    },
    computed:{
        ...mapGetters([
            "images",
            "mqMatch"
        ]),
        hasLive({ match, mqMatch }){
            return mqMatch[match.id].video_type != 5  && ( mqMatch[match.id].admin_video_url || mqMatch[match.id].user_video_url );
        }
    },
    methods:{
        timetrans
    }
}
</script>
<style lang="less" scoped>


.live-icon{
    width: 20px;
    height: 14px;
    &.has-live{
        background-image: url("~@/assets/images/asiad/live-icon-gary.png");
        background-size: cover;
    }
}
</style>