/***
 * 已结束赛事
 * 1. 结束比赛无直播按钮，直接显示已结束文字
 * 2. 卡片置灰 
 * 
 * 
*/
<template>
    <div class="match-cart match-end" @click="goMarket(match, false)">
        <div class="cart-name">{{ match.tournament_name }}</div>
        <div class="cart-bo">
            <div class="logo-bo">
                <span :class="['logo', 'game-logo-sprite' , logoCls(match.game_id)]">  </span>
                <span class="bo" v-show="!hideBo(match.category) && match.bo != 0"  >BO{{ match.rel_bo }}</span>
                <span class="bo" v-show="match.category == 5">{{ i18n.zhubosaishi }}</span>
                <span class="bo" v-show="match.category == 6">{{ i18n.zuqiusaishi }}</span>
            </div>
            <span class="bo" v-if="match.status == 7 || match.status == 6"> 
                {{ HMi18n.yijieshu }} 
            </span>
            <span class="bo" v-if="match.status == 9"> 
                {{ HMi18n.yiquxiao }} 
            </span>
        </div>
        <div class="cart-info">
            <div class="info-left">
                <TeamImage class="team-logo" :url="global.TeamImages[match.home_team]" />
                <div class="team-name">{{ match.home_name }}</div>
            </div>
            <div class="info-center">
                <span class="home-score DIN">{{ match.home_score }}</span>
                <span class="line"></span>
                <span class="away-score DIN">{{ match.away_score }}</span>
            </div>
            <div class="info-right">
                <TeamImage class="team-logo" :url="global.TeamImages[match.away_team]" />
                <div class="team-name">{{ match.away_name }}</div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from "vuex";

export default {
    props:["match", "goMarket", "hideBo"],
    data(){
        return{
            global,
            HMi18n: this.$t('homePage.endGame'),
            i18n: this.$t("asiad"),
        }
    },
    computed:{
        ...mapGetters([
            "images"
        ]),
    }
}
</script>
<style lang="less" scoped>
.match-end{
    filter: grayscale(100%);
}
.live-icon{
    width: 20px;
    height: 14px;
    background-image: url("~@/assets/images/asiad/live-icon.png");
    background-size: cover;
}
</style>