<template>
    <div class="asiad-game">
        <template v-if="isMatchStartTime">
            <div class="asiad-title">
                <span class="words1">{{ i18n.hotEvents }}</span>
                <span class="words2">{{ i18n.enjoyGames }}</span>
            </div>

            <div class="asiad-cart">

                <swiper class="swiper" ref="asiadCarousel" :options="swiperOption">
                    <swiper-slide v-for="match in asianRecommendlist"  :key="match.id">
                        <!-- 已结束比赛  已关盘-6 已结算-7 待取消-8 比赛取消-9 -->
                        <endMatch 
                            :hideBo="hideBo"
                            :goMarket="goMarket" 
                            v-if="match.status > 5" 
                            :match="match" 
                            :key="match.id" />
                        <!-- 开盘比赛   已关盘-5 -->
                        <template v-else>  
                            <LiveMatch 
                                :hideBo="hideBo"
                                :goMarket="goMarket" 
                                v-if="match.is_live == 2" 
                                :match="match" 
                                :key="match.id" />
                            <earlyMatch 
                                :hideBo="hideBo"
                                :goMarket="goMarket" 
                                v-if="match.is_live == 1" 
                                :match="match" 
                                :key="match.id" />
                        </template>
                    </swiper-slide>
                </swiper>

            </div>

            <div class="asiad-video">
                <div class="video-content" v-show="!isHideVideo && video_url">
                    <iframe 
                        :src="video_url" 
                        allow="encrypted-media; fullscreen"
                        frameborder='0' 
                        scrolling="no"  
                        width="100%"
                        height="100%"
                        allowfullscreen="true"
                        mozallowfullscreen="true"
                        msallowfullscreen="true"
                        oallowfullscreen="true"
                        webkitallowfullscreen="true">
                    </iframe>
                </div>
                <div class="video-content" v-show="!isHideVideo && !video_url">
                    <video id="videoPlayeropen" class="video-js vjs-default-skin" 
                        x5-playsinline="true"
                        playsinline 
                        webkit-playsinline 
                        poster=""
                        autoplay 
                        controls 
                        preload="auto" 
                        loop 
                        muted="muted" 
                        x-webkit-airplay="true" 
                        x5-video-player-fullscreen="true" 
                        x5-video-player-type="h5" >
                        <source :src="videoM3u8" type="application/x-mpegURL" />
                    </video>

                </div>
                <div class="video-btn" @click="video_url ?  goMarket(curMatch.match, false) : gohome()">
                    <span class="words">{{ i18n.goDetails }}</span>
                </div>
            </div>
        </template>
        <template v-else>
            <div class="asiad-title" >
                <span class="words1">{{ i18n.AdvertisingVideo }}</span>
                <span class="words2">{{ i18n.WatchFun }}</span>
            </div>


            <div class="asiad-video">
                <div class="video-content" v-if="!isHideVideo">
                    <video id="videoPlayer" class="video-js vjs-default-skin" 
                        x5-playsinline="true"
                        playsinline 
                        webkit-playsinline 
                        poster=""
                        autoplay 
                        controls 
                        preload="auto" 
                        loop 
                        muted="muted" 
                        x-webkit-airplay="true" 
                        x5-video-player-fullscreen="true" 
                        x5-video-player-type="h5" >
                        <source :src="videoM3u8" type="application/x-mpegURL" />
                    </video>
                </div>
                <div class="video-btn btn1" @click="gohome">
                    <span class="words">{{ i18n.EnterEvents }}</span>
                </div>
            </div>
        </template>

        
    </div>
</template>
<script>

import earlyMatch from "./earlyMatch.vue";
import LiveMatch from "./LiveMatch.vue";
import endMatch from "./endMatch.vue"
import { mapGetters } from "vuex";
import { swiper, swiperSlide } from 'vue-awesome-swiper'
import 'swiper/dist/css/swiper.css'
import videojs from "video.js";
import "video.js/dist/video-js.css";
import mixBetStatus from "@/views/common/mixins/mixBetStatus.js";


export default {
    mixins:[ mixBetStatus ],
    components:{
        earlyMatch,
        LiveMatch,
        endMatch,
        swiper,
        swiperSlide
    },
    data(){
        return {
            initialIndex: 0,
            swiperOption: {
                slidesPerView: 'auto',
                // spaceBetween: 10,
            },
            i18n: this.$t("asiad"),
            videoM3u8: isDevMode ? "/static/video/video.m3u8" : `${APP_CDN_URL}/h5/static/video/video.m3u8`,
            isHideVideo: localStorage.getItem('hideVideo') === 'true',
        }
    },
    computed:{
        ...mapGetters([
            "asianRecommend",
            "mqMatch",
        ]),
        // 是否赛事开始时间 1693133284475 1695517200000 1695484800000
        isMatchStartTime(){
            const startTime  = 1695484800000;
            const nowTime = new Date().getTime();
            return nowTime >= startTime
        },


        // 组合数据
        asianRecommendlist({ mqMatch, asianRecommend }){
            let arr = [];
            asianRecommend.forEach(ele => {
                if( mqMatch[ele.id] && mqMatch[ele.id].visible == 1 && mqMatch[ele.id].category != 2  ){
                    arr = [
                        ...arr,
                        {
                            ...ele,
                            ...mqMatch[ele.id]
                        }
                    ]
                }
            });
            return arr;
        },

        // 当前第一展示赛事
        curMatch({ asianRecommendlist }){
            const obj = {
                match: {}, // 当前赛事信息
                carouselIndex: 0, // 当前赛事在轮播滚动得下标
            }
            for (let i = 0; i < asianRecommendlist.length; i++) {
                // 开盘中排序第一得赛事
                if( asianRecommendlist[i].status == 5 ){
                    obj.match = asianRecommendlist[i];      // 得到当前赛事
                    obj.carouselIndex = i; // 向上取整得到轮播下标
                    break;
                }
            };
            return obj
        },

        // 当前第一展示赛事
        curMatch({ asianRecommendlist, mqMatch }){
            const obj = {
                match: {}, // 当前赛事信息
                carouselIndex: 0, // 当前赛事在轮播滚动得下标
                video_url: "", // 视频播放地址
            }
            let breakindex = false; // 计算当前滚动位置
            for (let i = 0; i < asianRecommendlist.length; i++) {
                const matchObj = mqMatch[ asianRecommendlist[i].id] || {}
                if( matchObj.status == 5 && !breakindex ){
                    breakindex = true;
                    obj.carouselIndex = i; // 得到轮播下标
                }
                if( 
                    matchObj.video_type != 5 
                    && matchObj.is_live == 2 
                    && matchObj.status == 5 
                ){
                    if( matchObj.video_type == 2){
                        obj.video_url = matchObj.admin_video_url
                    }else{
                        obj.video_url = matchObj.user_video_url
                    }
                }
                if( obj.video_url ){
                    obj.match = asianRecommendlist[i];      // 得到当前赛事
                    obj.carouselIndex = i; // 得到轮播下标
                    break;
                }
            };
            return obj
        },

        video_url({ curMatch }){
            return curMatch.video_url
        }

    },

    watch:{
        video_url(v, ov){
            // 直播切换到有视频阶段
            if(v && !ov){
                this.dpB && this.dpB.pause();//暂停
            }
            // 直播切换到无视频阶段
            if(!v && ov){
                if( this.dpB ){
                    this.dpB.currentTime(0);//复位
                    this.dpB.play();
                }else{
                    this.$nextTick(() => {
                        this.dpB = videojs("videoPlayeropen", {
                            autoplay: false, // 设置自动播放
                            muted: true, // 设置了它为true，才可实现自动播放,同时视频也被静音（Chrome66及以上版本，禁止音视频的自动播放）
                            preload: "auto", // 预加载
                            controls: true, // 显示播放的控件
                        })
                    });
                }
            }
        }
    },

    created(){
        this.isMatchStartTime && this.$store.dispatch("fetchAsianGamesRecommend").then( () => {
            const { match, carouselIndex } = this.curMatch;
            // 当前有开盘赛事
            this.$nextTick( () => {
                this.$refs.asiadCarousel.swiper.slideTo(carouselIndex); // 滚动到当前下标
            })
            // 无直播视频直接显示默认视频
            if( !this.video_url ){
                this.$nextTick(() => {
                    this.dpB = videojs("videoPlayeropen", {
                        autoplay: false, // 设置自动播放
                        muted: true, // 设置了它为true，才可实现自动播放,同时视频也被静音（Chrome66及以上版本，禁止音视频的自动播放）
                        preload: "auto", // 预加载
                        controls: true, // 显示播放的控件
                    })
                });
            }
        });

        // 开赛前直接显示默认视频
        if( !this.isMatchStartTime ){
            this.$nextTick(() => {
                this.dpA = videojs("videoPlayer", {
                    autoplay: false, // 设置自动播放
                    muted: true, // 设置了它为true，才可实现自动播放,同时视频也被静音（Chrome66及以上版本，禁止音视频的自动播放）
                    preload: "auto", // 预加载
                    controls: true, // 显示播放的控件
                })
            });
        }

    },
    methods:{
        changeCarousel(i){
            this.initialIndex = i;
        },
        goMarket(match){
            this.$router.push(`/markets/${match.id}`);
        },
        gohome(){
            this.$router.push("/home")
        }
    },
    destroyed(){
        if (this.dpA) {
            this.dpA.dispose(); // dispose()会直接删除Dom元素
        }
        if (this.dpB) {
            this.dpB.dispose(); // dispose()会直接删除Dom元素
        }
    }
}
</script>
<style lang="less">
.asiad-game{
    width: 100%;

  
    .asiad-cart{
        width: 100%;
        // padding: 0 10px;
        height: 126px;
        margin: 0 auto 22px;
        position: relative;
    }

    .asiad-title{
        width: 100%;
        height: 38px;
        padding: 0 10px;
        margin: 18px 0;
        background-image: url("~@/assets/images/asiad/yy-title.png");
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .words1{
            font-size: 18px;
            background-image: linear-gradient(90deg, #258AF6, #00BBFE 50%, #017DF7);
            background-clip: text;
            -webkit-background-clip: text;    
            color: transparent;       
        }
        .words2{
            color:#F9F9F9 ;
            font-size: 12px;
            zoom: 0.7;
        }
    }


    .asiad-video{
        width: 355px;
        height: 225px;
        margin: 0 auto;
        background-image: url("~@/assets/images/asiad/video-bg.png");
        background-size: cover;
        overflow: hidden;
        .words{
            zoom: 0.73;
        }
    }

    .video-content{
        width: 329px;
        height: 164px;
        margin: 11px auto 0;
        background-color: #000;
        border-radius: 4px;
        overflow: hidden;
        .video-js{
            width: 100%;
            height: 100%;
            z-index: 0;
        }
    }

    .video-btn{
        width: 144px;
        height: 35px;
        background-image: url("~@/assets/images/asiad/video-btn.png");
        background-size: cover;
        margin: 4px auto 0;
        color: #F2F5FA;
        font-size: 12px;
        text-align: center;
        line-height: 35px;
        cursor: pointer;
        &.btn1{
            width: 160px;
            height: 38px;
            line-height: 38px;
        }
    }

    .cart-carousel{
        width: 1200px;
        height: 118px;
    }

    .el-carousel__item{
        display: flex;
    }
    .swiper-slide{
        width: 264px;
        height: 126px;
        margin-left: 10px;
    }
    .match-cart{
        width: 264px;
        height: 126px;
        background-image: url("~@/assets/images/asiad/match-cart1.png");
        background-size: cover;
        cursor: pointer;
        overflow: hidden;
       
        .cart-name{
            width: 100%;
            height: 24px;
            font-size: 12px;
            color: #F2F5FA;
            text-align: center;
            line-height: 24px;
        }
        .cart-bo{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 224px;
            margin: 0 auto 8px;
            .logo-bo{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .logo{
                width: 20px;
                height: 20px;
                margin-right: 4px;
            }
            .bo{
                font-size: 12px;
                color: #F2F5FA;
            }
        }
        .cart-info{
            width: 224px;
            height: 62px;
            margin: 0 auto;
            // background: pink;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .info-left, .info-right{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
            }
            .team-logo{
                width: 34px;
                height: 34px;
            }
            .team-name{
                width: 63px;
                height: 34px;
                color: #F2F5FA;
                overflow: hidden;
                font-size: 12px;
                text-align: center;
                overflow:hidden;
                   
                line-height: 17px;
                word-break: break-all;
                text-overflow: ellipsis;
                display: -webkit-box;
                /*! autoprefixer: off */
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2; /* 这里是超出几行省略 */
                overflow: hidden;
                zoom:0.83;
            }
            .info-center{
                width: 88px;
                height: 34px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 32px;
                &.info-time{
                    flex-direction: column;
                    .day{
                        font-size: 14px;
                        color: #ffffff;
                        vertical-align: middle;
                    }
                    .year{
                        font-size: 12px;
                        color: rgba(255, 255, 255, 0.6);
                    }
                }
                &.yellow{
                    color: #E7BB02;
                    font-size: 12px;
                }
                .home-score, .away-score{
                    font-size: 20px;
                    color: #FFF;
                }
                .line{
                    width: 6px;
                    height: 2px;
                    background: #d9d9d9;
                    margin-top: 2px;
                    margin: 2px 4px 0;
                }
            }

            
        }
    }

}
</style>