/***
 * 滚球中赛事
 *  1. 直播按钮蓝色
 *  2. 实时更新比分
 * 
 * 
*/
<template>
    <div class="match-cart match-live" @click="goMarket(match, false)">
        <div class="cart-name">{{ match.tournament_name }}</div>
        <div class="cart-bo">
            <div class="logo-bo">
                <span :class="['logo', 'game-logo-sprite' , logoCls(match.game_id)]">  </span>
                <span class="bo" v-show="!hideBo(match.category) && match.bo != 0" >BO{{ match.rel_bo }}</span>
                <span class="bo" v-show="match.category == 5">{{ i18n.zhubosaishi }}</span>
                <span class="bo" v-show="match.category == 6">{{ i18n.zuqiusaishi }}</span>
            </div>
            <span 
                v-if="!isHideVideo"
                :class="['live-icon', { 'has-live': hasLive }]"></span>
        </div>
        <div class="cart-info">
            <div class="info-left">
                <TeamImage class="team-logo" :url="global.TeamImages[match.home_team]" />
                <div class="team-name">{{ match.home_name }}</div>
            </div>

            <div class="info-center yellow" v-if="showBIfen(mqMatch[match.id])">
                {{ i18nMh.bifenpanding }}
            </div>

            <div class="info-center" v-else>
                <span class="home-score DIN">{{ mqMatch[match.id].home_score }}</span>
                <span class="line"></span>
                <span class="away-score DIN">{{ mqMatch[match.id].away_score }}</span>
            </div>

            <div class="info-right">
                <TeamImage class="team-logo" :url="global.TeamImages[match.away_team]" />
                <div class="team-name">{{ match.away_name }}</div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from "vuex";
import mixMatchStatus from "@/views/common/mixins/mixMatchStatus.js";
export default {
    props:["match", "goMarket", "hideBo"],
    mixins:[ mixMatchStatus ],
    data(){
        return{
            global,
            i18n: this.$t("asiad"),
            i18nMh: this.$t('marketPage.marketHeader'),
            isHideVideo: localStorage.getItem('hideVideo') === 'true',
        }
    },
    computed:{
        ...mapGetters([
            "images",
            "mqMatch",
            "matchTimer"
        ]),
        hasLive({ match, mqMatch }){
            return mqMatch[match.id].video_type != 5  && ( mqMatch[match.id].admin_video_url || mqMatch[match.id].user_video_url );
        }
    }
}
</script>
<style lang="less" scoped>

.live-icon{
    width: 20px;
    height: 14px;

    &.has-live{
        background-image: url("~@/assets/images/asiad/live-icon.png");
        background-size: cover;
    }
}
</style>