<template>
    <div class="asiad">
      <!--返回按钮-->
      <img class="left-data"
           src="~@/assets/images/common/common-go-back.png"
           @click="$router.replace({ name: 'home' })"
      />
      <!--背景图-->
      <div class="topBackground" :class="{notZH: !['cn', 'zh'].includes(language)}"></div>
       <!--视频区域-->
      <hotGame />
      <!--公共底部页面-->
      <publicBottomPage/>
    </div>
</template>
<script>
import hotGame from "./hotGame";
import publicBottomPage from "./publicBottomPage";
export default {
  components: {  hotGame, publicBottomPage },
  data() {
    return{
      teamPicture: 0,
      language: localStorage.getItem('language') || 'cn',
    }
  },
}
</script>
<style lang="less" scoped>
.asiad{
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 66;
  overflow-y: auto;
  overflow-x: hidden;
  .left-data{
    width: 20px;
    height: 20px;
    position: absolute;
    left: 8px;
    top: 10px;
  }
  .topBackground{
    width: 100%;
    height: 300px;
    background-image: url("~@/assets/images/asiad/banner.jpg");
    //background-size: cover;
    background-size: 100% 100%;
    &.notZH{
      background-image: url("~@/assets/images/asiad/banner-en.jpg");
      //background-size: cover;
      background-size: 100% 100%;
    }
  }
}
</style>
