<template>
  <div class="publicBottomPage">
    <publicTitle :publicIndex=1 :title="i18n.GameIntroduction" :descriptions="i18n.MultipleGames" :showImg="true" @toGame="toGame"/>
    <!--轮播图-->
    <div class="carousel-background">
      <van-swipe
          :autoplay="30000"
          ref="asiadCarousel"
          @change="onChangeSwiper"
      >
        <van-swipe-item v-for="(image, index) in carousel_pictures" :key="index">
          <img v-lazy="image" />
        </van-swipe-item>
      </van-swipe>
      <img class="carousel-left" src="@/assets/images/asiad/carousel-left.png" alt="" @click="toDirectional('prev')">
      <img class="carousel-right" src="@/assets/images/asiad/carousel-right.png" alt="" @click="toDirectional('next')">
    </div>
    <!--轮播图说明-->
    <div class="carousel-instruction">
      <template v-if="swiperShowIndex==0">{{i18n.CarouselDescription1}}</template>
      <template v-if="swiperShowIndex==1">{{i18n.CarouselDescription2}}</template>
      <template v-if="swiperShowIndex==2">{{i18n.CarouselDescription3}}</template>
      <template v-if="swiperShowIndex==3">{{i18n.CarouselDescription4}}</template>
      <template v-if="swiperShowIndex==4">{{i18n.CarouselDescription5}}</template>
      <template v-if="swiperShowIndex==5">{{i18n.CarouselDescription6}}</template>
      <template v-if="swiperShowIndex==6">{{i18n.CarouselDescription7}}</template>
    </div>

    <publicTitle :title="i18n.AsianGamesIntroduction" :descriptions="i18n.AsianGamesIntroTheFirstWave" :showImg="false"/>
    <div class="match-cart">
      <div class="match-title" :class="{notZH: !['cn', 'zh'].includes(language)}">
        {{i18n.Introduction19thHangzhouAsianGames}}
      </div>
      <div class="match-descriptions">
        {{ i18n.IntroductionHangzhouAsianGames1 }}
        {{ i18n.IntroductionHangzhouAsianGames2 }}
        {{ i18n.IntroductionHangzhouAsianGames3 }}
      </div>
    </div>
    <template>
      <publicTitle :publicIndex=3 :title="i18n.Teams" :descriptions="i18n.GatheringTheBestToShare" :showImg="true" @toCompetingTeam="toCompetingTeam"/>
      <!-- 参赛队伍数量, 轮播展示 -->
      <van-swipe
          ref="asiadCarousel1"
          @change="onChangeSwiper1"
      >
        <van-swipe-item v-for="(image, index) in competingTeamIndex" :key="index">
          <div class="competing-team">
            <div class="team-logo-frame" v-for="(item,i) in imgList1[teamIndex].slice(teamPicture*6,(+teamPicture + 1) *6)" :key="i">
              <img :src="item.img" alt="" >
              <span>{{item.content}}</span>
            </div>
          </div>
        </van-swipe-item>
      </van-swipe>
    </template>
    <div class="footer" v-if="false">
      <p>COPYRIGHT © 2022 – 2023 PONYMUAH. ALL RIGHTS RESERVED.</p>
      <p>{{ i18n.PMGameCompanyAllRightsReserved }}</p>
    </div>
  </div>
</template>

<script>
import publicTitle from "./publicBottomPage/publicTitle";
// LOL项目：
// China/Malaysia/India/Saudi Arabia/Japan/Korea/Hong Kong/Macau/Chinese Taipei/Vietnam/Thailand/Singapore/Philippines
// /Myanmar/Kazakhstan/Kyrgyzstan/Sri Lanka/Bahrain/Jordan/Kuwait/Oman/Palestine/Qatar/United Arab Emirates
// DOTA2项目：
// China/Malaysia/Kazakhstan/Jordan/Nepal/India/HongKong/Laos/Indonesia/Myanmar/Thailand/Philippines/Iran/Kyrgyzstan/Turkmenistan/Uzbekistan/SaudiArabia/Oman
// KOG项目：
// China/Malaysia/Nepal/Kazakhstan/HongKong/Macau/ChineseTaipei/Vietnam/Laos/Thailand/Myanmar/Singapore/Philippines/Kyrgyzstan/Uzbekistan/SriLanka/Jordan
// FIFA项目:
//     China/Korea/HongKong/Macau/Indonesia/Malaysia/Singapore/Thailand/Vietnam/Bahrain/
// Jordan/SaudiArabia/Oman/Turkmenistan/Kyrgyzstan/Uzbekistan/Kazakhstan/Bangladesh/India/Nepal/SriLanka
// 街霸项目：
// Japan/ChineseTaipei/HongKong/Korea/Singapore/Malaysia/India/Vietnam
export default {
  name: "publicBottomPage",
  components: {  publicTitle },
  data() {
    return{
      i18n: this.$t("asiad"),
      //参赛队伍
      imgList1:[
          [
            {img: require(`@/assets/images/asiad/team/China.png`), content: this.$t("asiad").China},
            {img: require(`@/assets/images/asiad/team/Malaysia.png`), content:this.$t("asiad").Malaysia},
            {img: require(`@/assets/images/asiad/team/India.png`), content:this.$t("asiad").India},
            {img: require(`@/assets/images/asiad/team/SaudiArabia.png`), content: this.$t("asiad").SaudiArabia},
            {img: require(`@/assets/images/asiad/team/Japan.png`), content: this.$t("asiad").Japan},
            {img: require(`@/assets/images/asiad/team/Korea.png`), content: this.$t("asiad").Korea},
            {img: require(`@/assets/images/asiad/team/HongKong.png`), content: this.$t("asiad").HongKong},
            {img: require(`@/assets/images/asiad/team/Macau.png`), content: this.$t("asiad").Macau},
            {img: require(`@/assets/images/asiad/team/ChineseTaipei.png`), content: this.$t("asiad").ChineseTaipei},
            {img: require(`@/assets/images/asiad/team/Vietnam.png`), content:this.$t("asiad").Vietnam},
            {img: require(`@/assets/images/asiad/team/Thailand.png`), content:this.$t("asiad").Thailand},
            {img: require(`@/assets/images/asiad/team/Singapore.png`), content:this.$t("asiad").Singapore},
            {img: require(`@/assets/images/asiad/team/Philippines.png`), content:this.$t("asiad").Philippines},
            {img: require(`@/assets/images/asiad/team/Myanmar.png`), content:this.$t("asiad").Myanmar},
            {img: require(`@/assets/images/asiad/team/Kazakhstan.png`), content:this.$t("asiad").Kazakhstan},
            {img: require(`@/assets/images/asiad/team/Kyrgyzstan.png`), content:this.$t("asiad").Kyrgyzstan},
            {img: require(`@/assets/images/asiad/team/SriLanka.png`), content:this.$t("asiad").SriLanka},
            {img: require(`@/assets/images/asiad/team/Bahrain.png`), content:this.$t("asiad").Bahrain},
            {img: require(`@/assets/images/asiad/team/Jordan.png`), content:this.$t("asiad").Jordan},
            {img: require(`@/assets/images/asiad/team/Kuwait.png`), content:this.$t("asiad").Kuwait},
            {img: require(`@/assets/images/asiad/team/Oman.png`), content:this.$t("asiad").Oman},
            {img: require(`@/assets/images/asiad/team/Palestine.png`), content:this.$t("asiad").Palestine},
            {img: require(`@/assets/images/asiad/team/Qatar.png`), content:this.$t("asiad").Qatar},
            {img: require(`@/assets/images/asiad/team/UnitedArabEmirates.png`), content:this.$t("asiad").UnitedArabEmirates},
          ],
          [
            {img: require(`@/assets/images/asiad/team/China.png`), content:this.$t("asiad").China},
            {img: require(`@/assets/images/asiad/team/Malaysia.png`), content:this.$t("asiad").Malaysia},
            {img: require(`@/assets/images/asiad/team/Kazakhstan.png`), content:this.$t("asiad").Kazakhstan},
            {img: require(`@/assets/images/asiad/team/Jordan.png`), content:this.$t("asiad").Jordan},
            {img: require(`@/assets/images/asiad/team/Nepal.png`), content:this.$t("asiad").Nepal},
            {img: require(`@/assets/images/asiad/team/India.png`), content:this.$t("asiad").India},
            {img: require(`@/assets/images/asiad/team/HongKong.png`), content:this.$t("asiad").HongKong},
            {img: require(`@/assets/images/asiad/team/Laos.png`), content:this.$t("asiad").Laos},
            {img: require(`@/assets/images/asiad/team/Indonesia.png`), content:this.$t("asiad").Indonesia},
            {img: require(`@/assets/images/asiad/team/Myanmar.png`), content:this.$t("asiad").Myanmar},
            {img: require(`@/assets/images/asiad/team/Thailand.png`), content:this.$t("asiad").Thailand},
            {img: require(`@/assets/images/asiad/team/Philippines.png`), content:this.$t("asiad").Philippines},
            {img: require(`@/assets/images/asiad/team/Iran.png`), content:this.$t("asiad").Iran},
            {img: require(`@/assets/images/asiad/team/Kyrgyzstan.png`), content:this.$t("asiad").Kyrgyzstan},
            {img: require(`@/assets/images/asiad/team/Turkmenistan.png`), content:this.$t("asiad").Turkmenistan},
            {img: require(`@/assets/images/asiad/team/Uzbekistan.png`), content:this.$t("asiad").Uzbekistan},
            {img: require(`@/assets/images/asiad/team/SaudiArabia.png`), content:this.$t("asiad").SaudiArabia},
            {img: require(`@/assets/images/asiad/team/Oman.png`), content:this.$t("asiad").Oman},
          ],
          [
            {img: require(`@/assets/images/asiad/team/China.png`), content:this.$t("asiad").China},
            {img: require(`@/assets/images/asiad/team/Malaysia.png`), content:this.$t("asiad").Malaysia},
            {img: require(`@/assets/images/asiad/team/Nepal.png`), content:this.$t("asiad").Nepal},
            {img: require(`@/assets/images/asiad/team/Kazakhstan.png`), content:this.$t("asiad").Kazakhstan},
            {img: require(`@/assets/images/asiad/team/HongKong.png`), content:this.$t("asiad").HongKong},
            {img: require(`@/assets/images/asiad/team/Macau.png`), content:this.$t("asiad").Macau},
            {img: require(`@/assets/images/asiad/team/ChineseTaipei.png`), content:this.$t("asiad").ChineseTaipei},
            {img: require(`@/assets/images/asiad/team/Vietnam.png`), content:this.$t("asiad").Vietnam},
            {img: require(`@/assets/images/asiad/team/Laos.png`), content:this.$t("asiad").Laos},
            {img: require(`@/assets/images/asiad/team/Thailand.png`), content:this.$t("asiad").Thailand},
            {img: require(`@/assets/images/asiad/team/Myanmar.png`), content:this.$t("asiad").Myanmar},
            {img: require(`@/assets/images/asiad/team/Singapore.png`), content:this.$t("asiad").Singapore},
            {img: require(`@/assets/images/asiad/team/Philippines.png`), content:this.$t("asiad").Philippines},
            {img: require(`@/assets/images/asiad/team/Kyrgyzstan.png`), content:this.$t("asiad").Kyrgyzstan},
            {img: require(`@/assets/images/asiad/team/Uzbekistan.png`), content:this.$t("asiad").Uzbekistan},
            {img: require(`@/assets/images/asiad/team/SriLanka.png`), content:this.$t("asiad").SriLanka},
            {img: require(`@/assets/images/asiad/team/Jordan.png`), content:this.$t("asiad").Jordan},
          ],
          [
            {img: require(`@/assets/images/asiad/logo1.png`), content:'TBD'},
            {img: require(`@/assets/images/asiad/logo2.png`), content:'TBD'},
            {img: require(`@/assets/images/asiad/logo1.png`), content:'TBD'},
            {img: require(`@/assets/images/asiad/logo2.png`), content:'TBD'},
            {img: require(`@/assets/images/asiad/logo1.png`), content:'TBD'},
            {img: require(`@/assets/images/asiad/logo2.png`), content:'TBD'}
          ],
          [
            {img: require(`@/assets/images/asiad/team/China.png`), content:this.$t("asiad").China},
            {img: require(`@/assets/images/asiad/team/Korea.png`), content:this.$t("asiad").Korea},
            {img: require(`@/assets/images/asiad/team/HongKong.png`), content:this.$t("asiad").HongKong},
            {img: require(`@/assets/images/asiad/team/Macau.png`), content:this.$t("asiad").Macau},
            {img: require(`@/assets/images/asiad/team/Indonesia.png`), content:this.$t("asiad").Indonesia},
            {img: require(`@/assets/images/asiad/team/Malaysia.png`), content:this.$t("asiad").Malaysia},
            {img: require(`@/assets/images/asiad/team/Singapore.png`), content:this.$t("asiad").Singapore},
            {img: require(`@/assets/images/asiad/team/Thailand.png`), content:this.$t("asiad").Thailand},
            {img: require(`@/assets/images/asiad/team/Vietnam.png`), content:this.$t("asiad").Vietnam},
            {img: require(`@/assets/images/asiad/team/Bahrain.png`), content:this.$t("asiad").Bahrain},
            {img: require(`@/assets/images/asiad/team/Jordan.png`), content:this.$t("asiad").Jordan},
            {img: require(`@/assets/images/asiad/team/SaudiArabia.png`), content:this.$t("asiad").SaudiArabia},
            {img: require(`@/assets/images/asiad/team/Oman.png`), content:this.$t("asiad").Oman},
            {img: require(`@/assets/images/asiad/team/Turkmenistan.png`), content:this.$t("asiad").Turkmenistan},
            {img: require(`@/assets/images/asiad/team/Kyrgyzstan.png`), content:this.$t("asiad").Kyrgyzstan},
            {img: require(`@/assets/images/asiad/team/Uzbekistan.png`), content:this.$t("asiad").Uzbekistan},
            {img: require(`@/assets/images/asiad/team/Kazakhstan.png`), content:this.$t("asiad").Kazakhstan},
            {img: require(`@/assets/images/asiad/team/Bangladesh.png`), content:this.$t("asiad").Bangladesh},
            {img: require(`@/assets/images/asiad/team/India.png`), content:this.$t("asiad").India},
            {img: require(`@/assets/images/asiad/team/Nepal.png`), content:this.$t("asiad").Nepal},
            {img: require(`@/assets/images/asiad/team/SriLanka.png`), content:this.$t("asiad").SriLanka},
          ],
          [
            {img: require(`@/assets/images/asiad/team/Japan.png`), content:this.$t("asiad").Japan},
            {img: require(`@/assets/images/asiad/team/ChineseTaipei.png`), content:this.$t("asiad").ChineseTaipei},
            {img: require(`@/assets/images/asiad/team/HongKong.png`), content:this.$t("asiad").HongKong},
            {img: require(`@/assets/images/asiad/team/Korea.png`), content:this.$t("asiad").Korea},
            {img: require(`@/assets/images/asiad/team/Singapore.png`), content:this.$t("asiad").Singapore},
            {img: require(`@/assets/images/asiad/team/Malaysia.png`), content:this.$t("asiad").Malaysia},
            {img: require(`@/assets/images/asiad/team/India.png`), content:this.$t("asiad").India},
            {img: require(`@/assets/images/asiad/team/Vietnam.png`), content:this.$t("asiad").Vietnam},
          ],
          [
            {img: require(`@/assets/images/asiad/logo1.png`), content:'TBD'},
            {img: require(`@/assets/images/asiad/logo2.png`), content:'TBD'},
            {img: require(`@/assets/images/asiad/logo1.png`), content:'TBD'},
            {img: require(`@/assets/images/asiad/logo2.png`), content:'TBD'},
            {img: require(`@/assets/images/asiad/logo1.png`), content:'TBD'},
            {img: require(`@/assets/images/asiad/logo2.png`), content:'TBD'}
          ],
      ],
      //
      // 轮播图片
      carousel_pictures: [
        require(`@/assets/images/asiad/carousel1.png`),
        require(`@/assets/images/asiad/carousel2.png`),
        require(`@/assets/images/asiad/carousel3.png`),
        require(`@/assets/images/asiad/carousel4.png`),
        require(`@/assets/images/asiad/carousel5.png`),
        require(`@/assets/images/asiad/carousel6.png`),
        require(`@/assets/images/asiad/carousel7.png`),
      ],
      swiperShowIndex: 0,
      competingTeamIndex: 1,
      teamIndex: 0,
      teamPicture: 0,
      language: localStorage.getItem('language') || 'cn',
    }
  },
  mounted() {
    this.toCompetingTeam(0)
  },
  methods: {
    onChangeSwiper(index) {
      this.swiperShowIndex = index;
    },
    onChangeSwiper1(index) {
      this.teamPicture = index;
    },
    toDirectional(next_step){
      if(next_step == 'next'){
        this.$refs.asiadCarousel.next()
      }else{
        this.$refs.asiadCarousel.prev()
      }
    },
    // 跳转到对应的 游戏说明和游戏队伍页面
    toGame(index){
      console.log(index);
      this.swiperShowIndex = index;
      this.$refs.asiadCarousel.swipeTo(index); // 滚动到当前下标
    },
    // 跳转到对应的 游戏说明和游戏队伍页面
    toCompetingTeam(index){
      console.log(index);
      this.teamPicture = 0;
      this.teamIndex = index
      this.competingTeamIndex = Math.ceil(this.imgList1[index].length / 6)
    }
  },
}
</script>

<style lang="less" scoped>
.publicBottomPage{
  margin-top: 20px;
  .carousel-background{
    margin: 26px 0 48px 0;
    width: 100%;
    height: 222px;
    background-image: url("~@/assets/images/asiad/carousel-background.png");
    //background-size: cover;
    background-size: 100% 100%;
    position: relative;
    .van-swipe{
      height: 264px;
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      top: -23px;
      width: 100%;
      .van-swipe__track{
        img{
          display: block;
          margin: 0 auto;
          height: 266px;
        }
      }
    }
    .carousel-left{
      width: 28px;
      height: 28px;
      position: absolute;
      left:5px;
      top: 50%;
      transform: translate(0,-50%);
    }
    .carousel-right{
      width: 28px;
      height: 28px;
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translate(0,-50%);
    }
  }
  .carousel-instruction{
    width: 353px;
    min-height: 200px;
    max-height: 400px;
    overflow-y: auto;
    margin: 0 auto 25px;
    background-image: url("~@/assets/images/asiad/game-description.png");
    background-size: 100% 100%;
    position: relative;
    padding: 10px 27px 17px 28px;
    color: #E1E1E3;
    text-align: justify;
    font-family: PingFang SC;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 200% */
  }
  .match-cart{
    width: 353px;
    height: 285px;
    margin: 16px auto 20px;
    background-image: url("~@/assets/images/asiad/match-cart.png");
    background-size: 100% 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 27px 23px 30px;
    .match-title{
      position: absolute;
      left: 50%;
      top: 5px;
      transform: translate(-50%);
      color: #F2F5FA;
      text-align: center;
      font-family: PingFang SC;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 12px; /* 100% */
      &.notZH{
        top: 0;
      }
    }
    .match-descriptions{
      color: #E1E1E3;
      text-align: justify;
      font-family: PingFang SC;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 200% */
      overflow-y: scroll;
    }
  }
  .competing-team{
    width: 355px;
    display: flex;
    flex-wrap: wrap;
    margin: 16px auto 24px;
    .team-logo-frame{
      width: 114px;
      height: 130px;
      background-image: url("~@/assets/images/asiad/team-logo-frame.png");
      background-size: 100% 100%;
      position: relative;
      margin-right: 6px;
      margin-bottom: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &:nth-child(3n){
        margin-right:unset;
      }
      >img{
        width: 36px;
        height: 36px;
        margin-bottom: 10px;
      }
      >span{
        color: #F2F5FA;
        text-align: center;
        font-family: PingFang SC;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 12px; /* 100% */
      }
    }
  }
  .footer{
    border-top: 1px #26272B solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //padding: 8px 14px 17px;
    padding: 8px 0;
    p{
      color: #78828E;
      text-align: center;
      font-family: DINPro;
      font-size: 11px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 166.667% */
    }
  }
}
</style>