<template>
    <div class="order">
        <van-sticky :offset-top="0" >
            <div class="header-title" ref="orderHeader">
                <span v-if="mode === 1" @click="$emit('closeRecord')" class="back common-close"></span>
                <span v-else @click="goBack" class="back common-go-back"></span>
                <span
                    :class="['title', { 'active': item.key == settlementActive }]"
                    @click="changeSettlementStatus(item.key)"
                    v-for="item in settlementMenu"
                    :key="item.key">
                    {{ item.value }}
                </span>
            </div>
        </van-sticky>
        <div class="date"  @click="showSelectDateModel">
            {{showDate ? showDate : $t('history.index.date')}}
            <i class="common-calendar"></i>
        </div>
        <datetime-picker
            :date="selectDate"
            :dateShow="dateShow"
            :isSelectMonth="isSelectMonth"
            @confirm="confirmTime"
            @changeSelectMonth="changeSelectMonth"
            @cancel="cancelFn"
        >
        </datetime-picker>
        <unsettlement v-if="settlementActive==1" :offsetHeight="offsetHeight" :filterDate="filterDate"></unsettlement>
        <settled v-if="settlementActive==2" :offsetHeight="offsetHeight" :filterDate="filterDate"></settled>

        <div class="dialog" v-if="orderWrap">
            <div class="content" v-if="Object.keys(resultData).length">
                <div class="title">
                    <div class="game-logo">
                        <span :class="['logo', 'game-logo-sprite' , logoCls(resultData.game_id) ]" > </span>
                    </div>
                    <span class="bo" v-if="resultData.bo">BO{{resultData.bo}}</span>
                    <span class="label2" v-if="resultData.round_no">{{$t('virtualSports.video.batchNo', { no: resultData.round_no })}}</span>
                    <span class="game-name">{{resultData.tournament_name || resultData.tournament_short_name}}</span>
                    <div @click="orderWrap = false" class="close"></div>
                </div>

                <div class="scroll-wrap">
                    <div class="both" v-if="resultData.category != 2">
                        <div class="team-logo">
                            <team-image :url="global.TeamImages[resultData.team_id.split(',')[0]]" class="logo" />
                            <div>{{resultData.match_team[0]}}</div>
                        </div>
                        <div class="info">
                            <div class="scroe-wrap">
                                <span class="score">{{resultData.score[0]}}</span>
                                <span class="statu"></span>
                                <span class="score">{{resultData.score[1]}}</span>
                            </div>
                            <div class="stage">{{resultData.end_time}}</div>
                        </div>
                        <div class="team-logo">
                            <team-image :url="global.TeamImages[resultData.team_id.split(',')[1]]" class="logo" />
                            <div>{{resultData.match_team[1]}}</div>
                        </div>
                    </div>
                    <div class="handicap-wrap" v-for="(item,index) in resultData.handicap" :key="index">
                        <div class="type" v-if="isShowTitle(index, resultData.handicap)">
                        {{item.round}}
                        </div>
                        <div class="details">
                            <div class="subtitle ellipsis">{{getTeams(resultData, item.name)}}</div>
                            <div class="handicap">
                                <!-- option_type = 6为胜负平的盘口 -->
                                <template v-if="item.option_type == 6">
                                    <div class="team home option_type">
                                        <span class="team-name ellipsis">{{item.odds[0].name}}</span>
                                        <div v-if="item.status == 7" class="icon">
                                            <span class="common-suspended"></span>
                                        </div>
                                        <div v-else class="statu-bg" :class="statusBg(item.odds[0].is_winner)"></div>
                                    </div>
                                    <div class="team tie option_type">
                                        <span class="team-name ellipsis">{{item.odds[1].name}}</span>
                                        <div v-if="item.status == 7" class="icon">
                                            <span class="common-suspended"></span>
                                        </div>
                                        <div v-else class="statu-bg" :class="statusBg(item.odds[1].is_winner)"></div>
                                    </div>
                                    <div class="team away option_type">
                                        <div v-if="item.status == 7" class="icon">
                                            <span class="common-suspended"></span>
                                        </div>
                                        <div v-else class="statu-bg" :class="statusBg(item.odds[2].is_winner)"></div>
                                        <span class="team-name ellipsis">{{item.odds[2].name}}</span>
                                    </div>
                                </template>
                                <template v-else>
                                    <div class="team" :class="i&1?'away':'home'"  v-for="(odds,i) in item.odds" :key="odds.id">
                                        <template v-if="i&1">
                                            <div v-if="item.status == 7" class="icon">
                                                <span class="common-suspended"></span>
                                            </div>
                                            <div v-else class="statu-bg" :class="statusBg(odds.is_winner)"></div>
                                            <span class="team-name ellipsis">{{odds.name}}</span>
                                        </template>
                                        <template v-else>
                                            <span class="team-name ellipsis">{{odds.name}}</span>
                                            <div v-if="item.status == 7" class="icon">
                                                <span class="common-suspended"></span>
                                            </div>
                                            <div v-else class="statu-bg" :class="statusBg(odds.is_winner)"></div>
                                        </template>
                                    </div>
                                </template>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div v-else class="tips">
                <div class="title">
                    <span>{{$t('historyOrder.orderItem.tip')}}</span>
                    <div @click="closeTips" class="close"></div>
                </div>
                <div class="confirm" @click="closeTips">{{$t('common.systemModel.confirm')}}</div>
            </div>
        </div>
    </div>
</template>
<script>
import i18n from "@/assets/i18n/index.js"
const settlementMenu = [
    { key: 1, value: i18n.t('historyOrder.index.weijiesuan') },
    { key: 2, value: i18n.t('historyOrder.index.yijiesuan') }
];
import { timetrans,getNDate } from "@/assets/scripts/utils";
import { Sub } from "@/assets/scripts/precision";
import { mapGetters } from 'vuex';
import settled from "@/views/user/historyOrder/settled";
import unsettlement from "@/views/user/historyOrder/unsettlement";
import datetimePicker from "@/views/user/datetimePicker";
// import { requestMatchState, getMatchResult } from '@/api/game.js'
import mixMatchStatus from "@/views/common/mixins/mixMatchStatus.js";
import mixBetStatus from "@/views/common/mixins/mixBetStatus.js";

export default {
    name: 'historyOrder',
    components: { settled ,unsettlement, datetimePicker},
    mixins:[ mixBetStatus, mixMatchStatus ],
    props: {
        mode: {
            type: Number,
            default: 0 // 0=单独页面，1=页面弹出框
        }
    },
    data() {
        return {
            settlementActive: 1,
            settlementMenu,
            offsetHeight: 0,
            show: false,
            dateShow: false,
            isSelectMonth: false,
            showDate: `${getNDate(29)} ${this.$t('historyOrder.index.zhi')} ${getNDate(0)}`,
            selectDate: [getNDate(29),getNDate(0)],//已选择的日期
            filterDate: [],//筛选日期
            resultData: {},
            orderWrap: false,
            global,
            timer: null
        };
    },
    computed:{
        ...mapGetters(["images", "matchTeams"]),
    },
    mounted(){
        this.offsetHeight = this.$refs.orderHeader.offsetHeight;
        // const $height = document.documentElement.clientHeight - 
        //                 document.querySelector(".order-nav-tabs .van-tabs__wrap").offsetHeight -
        //                 this.$refs.orderHeader.offsetHeight;
        // document.querySelector(".order-nav-tabs .van-tabs__content").style.height = $height + "px"; 
        this.$root.$on("viewOrder", ( data ) => { 
            this.resultData = data
            this.orderWrap = true
            console.log(this.resultData);
            if( !Object.keys(data).length ){
                this.timer = setTimeout(() => {
                    this.orderWrap = false
                }, 2000);
            }
        })         
    },
    methods: {
        timetrans,
        Sub,
        statusBg(is_winner){
            let bg = ['market-failure', 'market-win', 'market-win-half', 'market-failure-half', 'market-water']
            return bg[is_winner]
        },
        closeTips(){
            this.timer = null
            this.orderWrap = false
        },
        goBack() {
            this.$router.go(-1);
        },

        //结算状态切换
        changeSettlementStatus(status){
            // 历史注单入口及历史注单详情页的点击次数统计
            // this.$store.commit("SET_TRACK", { tab: 30, page: 4 });
            this.settlementActive=status;
        },

            //确定时间
        confirmTime(date){
            // 历史注单入口及历史注单详情页的点击次数统计
            // this.$store.commit("SET_TRACK", { tab: 30, page: 4 });
            this.dateShow=false
            this.selectDate=date;
            if(date.length==1){
                this.showDate=`${date[0]}`;
                let nowMonth=this.timetrans(new Date()/1000).y.substr(0,7);
                let nowDate=this.timetrans(new Date()/1000).y.substr(8,9);
                let day='';
                if(nowMonth==date[0]){
                    day=nowDate
                }else{
                    day=new Date(date[0].substr(0,4), date[0].substr(5,7), 0).getDate()
                }
                this.filterDate=[`${date[0]}-01 00:00:00`,`${date[0]}-${day} 23:59:59`]       
            }else if(date.length==2){
               this.showDate=`${date[0]} ${this.$t('historyOrder.index.zhi')} ${date[1]}`;
                this.filterDate=[`${date[0]} 00:00:00`,`${date[1]} 23:59:59`]
            }else{
                this.showDate='';
                this.filterDate=['','']
            }
            // this.changeType();
        },
        cancelFn(){
            this.dateShow=false;
        },
        changeSelectMonth(data){
            this.isSelectMonth=data;
        },
        showSelectDateModel(){ 
            this.dateShow=true;
        },
        // 赛果局数名称判断是否展示
        isShowTitle(index, handicap){
            return (index == 0) || (index > 0 && handicap[index].round != handicap[index - 1].round)
        }
    }
};
</script>
<style lang="less">
.order { 
    background: #272C32;
    height: 100%;
    width: 100%;
    overflow: hidden;
    .van-overlay{
        // background: rgba(0, 0, 0, 0.6);
        top: 87px;
    }
    .header-title{
        width: 100%;
        height: 50px;
        padding: 0 16px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1E2329;
        .back{
            width: 24px;
            height: 24px;
            position: absolute;
            left: 16px;
            top: 50%;
            transform: translateY(-50%);
        }
        .title{
            font-size: 16px;
            color: rgba(240, 240, 240, 0.56);
            margin: 0 24px;
            &.active{
                color:#f0f0f0;
            }
        }
    }
    .date{
        position: absolute;
        z-index:99;
        line-height: 38px;
        right:16px;
        color: rgba(255, 255, 255, 0.6);
        display: flex;
        font-size: 12px;
        align-content: center;
        i{
            display: inline-block;
            width: 16px;
            height: 38px;
            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-position: center;
            margin-left: 6px;
        }
    }

    .order-container {
        display: flex;
        flex-direction: column;
        height: calc(100% - 50px);
    }

    .order-nav-dropdown {
        height: 38px;
        background: #3A424A;
        flex-shrink: 0;
       // width: 43.73333vw;

        .van-dropdown-menu__bar {
            background: transparent;
            box-shadow: none;
            height: 38px;

            .van-dropdown-menu__item {
                justify-content: flex-start;
                padding-left: 16px;
            }

            .van-dropdown-menu__title {
                color: #ffffff;
                font-size: 14px;
            }
        }

        .van-popup {
            background: transparent;
        }
    }

    .order-nav-tabs {
        height: 38px;
        background: #3A424A;
        .van-tabs__wrap {
           height: 38px;
           width: 164px;
           padding: 0 12px;
            .van-tabs__nav {
                background-color: transparent;
                // margin-left: 36px;
                // margin-right: 36px;
            }
            &::after {
                border: 0px solid #0a0c16;
            }
            .van-tab {
                position: relative;
                .van-tab__text {
                    font-size: 14px;
                    color: #fff;
                }
                &.van-tab--active {
                    .van-tab__text {
                        color: #0095ff;
                        font-weight: 600;
                    }
                }
            }
            .van-tabs__line {
                // width: 28px !important;
                height: 2px;
                background-image: linear-gradient(129deg, #1FDBFF 0%, #4CAFF5 99%, #4CAFF5 100%);
                background-color: transparent;
                border-radius: 0;
                border-bottom: 2px solid #4caff5;
                bottom: 16px;
            }
        }
    }

    .order-nav-content {

        background: #2B2F35;
        padding: 8px;

        .order-nav-btn {
            display: inline-block;
            background: #3e4148;
            color: rgba(255,255,255,0.6);
            font-size: 12px;
            width: 28%;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-radius: 5px;
            margin: 4px calc(16% / 6);

            border: 1px solid rgba(197,176,176,20%);
            &.active{
                background: rgba(0,149,255,0.30);
                border: 1px solid #0095FF;
                color:#FFFFFF;
            }
        }
    }

    .order-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        overflow: hidden;
        // height: calc(100vh - 88px);
        // overflow-y: auto;
        .order-list {
            height: 100%;
            overflow-y: auto;
            padding: 16px;
            .item {
                background: rgba(255, 255, 255, 0.02);
                margin-bottom: 12px;
                position: relative;
                padding: 0 12px;
                border-radius: 8px;
                border: rgba(255, 255, 255, 0.1) 1px solid;
            }
            .item-detail {
                padding-bottom: 11.5px;
                border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
                .composite-reason{
                    font-size: 14px;
                    color: #FF4B34;
                }
                .title-row {
                    display: flex;
                    justify-content: space-between;
                    font-size: 14px;
                    height: auto;
                    color: #f0f0f0;
                    .is_live{
                        margin-top: 12px;
                        font-size: 12px;
                        color: rgba(240, 240, 240, 0.6);
                    }
                    .game-title {
                        display: flex;
                        width: 230px;
                        .order-game-logo {
                            // width: 16px;
                            height: 16px;
                            margin: 10.5px 5px 10.5px 0px;
                            position: relative;
                            .logo{
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 120px;
                                height: 120px;
                                transform-origin: 0 0;
                                transform: scale(16/120);
                                padding: 0;
                            }
                        }
                        .order-game-info{
                            line-height: 20px;
                            padding: 10.5px 0 10.5px 16px;
                            font-weight: 600;
                            word-break: break-all;
                        }
                    }
                    .name {
                        font-size: 12px;
                        height: 17px;
                        line-height: 17px;
                        color: rgba(240, 240, 240, 0.6);
                        // width: 64px;
                        text-align: right;
                        margin-top: 12px;
                    }
                }
                .content-box {
                    background: rgba(255, 255, 255, 0.06);
                    border-radius: 4px;
                    border-radius: 4px;
                    color: rgba(255, 255, 255, 0.6);
                    padding: 0px 12px 8px 12px;
                    .detail-odd-row {
                        position: relative;
                        display: flex;
                        font-size: 12px;
                        line-height: 24.2px;
                        padding-top: 8px;
                        span:nth-child(1) {
                            flex: 1;
                        }
                        .odd {
                            font-size: 14px;
                            color: #0095ff;
                        }
                        .order-state{
                            margin-left: 8px;
                            text-align: center;
                            font-size: 14px;
                        }
                    }
                    .detail-row {
                        position: relative;
                        display: flex;
                        font-size: 12px;
                        line-height: 25.1px;

                        span:nth-child(1) {
                            flex: 1;
                            padding-right: 15px;
                        }
                        span:nth-child(2) {
                            color: #F0F0F0;
                        }
                        .order-state{
                            margin-left: 8px;
                            text-align: center;
                            font-size: 14px;
                            color: #D1E0FF;
                        }
                        .predicted{
                            color: #E7BB02 ;
                        }
                    }

                    .order-win {
                        width: 24px;
                        height: 24px;
                        background-image: linear-gradient(180deg, #F50000 0%, #FF5353 100%);
                        border: 1px solid rgba(255,255,255,0.27);
                        border-radius: 1px;
                        color: #FFE6C0;
                    }
                    
                    .order-failure {
                        width: 24px;
                        height: 24px;
                        background-image: linear-gradient(180deg, #4E6084 0%, #6E7FA3 100%);
                        border: 1px solid rgba(255,255,255,0.27);
                        border-radius: 1px;
                        color: #D1E0FF;
                    }
                    
                    .order-half-win {
                        width: 36px;
                        height: 24px;
                        background-image: linear-gradient(180deg, #F50000 0%, #FF5353 100%);
                        border: 1px solid rgba(255,255,255,0.27);
                        border-radius: 1px;
                        color: #FFE6C0;
                    }
                    .order-half-loss{
                        width: 36px;
                        height: 24px;
                        background-image: linear-gradient(180deg, #4E6084 0%, #6E7FA3 100%);
                        border: 1px solid rgba(255,255,255,0.27);
                        border-radius: 1px;
                        color: #D1E0FF;
                    }
                    .order-water{
                        width: 36px;
                        height: 24px;
                        background-image: linear-gradient(180deg, #5B5B5B 0%, #6D6D6D 99%);
                        border: 1px solid rgba(255,255,255,0.27);
                        border-radius: 1px;
                        color: #FFFFFF;
                    }
                    .order-refund{
                        width: 74px;
                        height: 24px;
                        background-image: linear-gradient(180deg, #8D8D8D 0%, #9D9D9D 99%);
                        border: 1px solid rgba(255,255,255,0.27);
                        border-radius: 1px;
                        color: #FFFFFF;
                    }
                    .order-cancel{
                        width: 60px;
                        height: 24px;
                        background-image: linear-gradient(180deg, #8D8D8D 0%, #9D9D9D 99%);
                        border: 1px solid rgba(255,255,255,0.27);
                        border-radius: 1px;
                        color: #FFFFFF;
                    }
                    .detail-remark {
                        color: #ff4b34;
                        .words{
                            color: #ff4b34 !important;
                        }
                    }
                    .play-item{
                        .detail-remark{
                            display: flex;
                            font-size: 12px;
                            padding-top: 4px;
                            padding-bottom: 8px;
                            justify-content: space-between;
                        }
                    }
                }
            }

            .item-order {
                padding: 12px 0;
                .order-row {
                    display: flex;
                    font-size: 12px;
                    height: 21px;
                    line-height: 21px;
                    // margin-bottom: 8px;
                    color: rgba(240, 240, 240, 0.6);
                    position: relative;
                    .bet_amount {
                        font-size: 14px;
                        padding-left: 8px;
                        color: #f0f0f0;
                    }
                    .white-color {
                        color: #f0f0f0;
                        font-size: 16px;
                    }
                    .yellow-color {
                        font-size: 16px;
                        color: #e7bb02;
                    }
                    .type {
                        color: #fff;
                        font-weight: 600;
                        font-size: 14px;
                        flex: 1;
                        .odds{
                            font-weight: 0;
                            margin-left: 24px;
                            color: #0095FF;
                        }
                    }
                    .name {
                        padding-right: 8px;
                    }
                    span:nth-child(1) {
                        flex: 1;
                    }
                    .order-refund {
                        color: #fff;
                        font-size: 16px;
                    }
                    .copy{
                        display: inline-block;
                        margin-left: 4px;
                        //width: 40px;
                        height: 18px;
                        background-color: rgba(255,255,255,0.1);
                        border-radius: 18px;
                       
                        color: #fff;
                        line-height: 18px;
                        text-align: center;
                        i{
                            display: inline-block;
                            font-size: 12px;
                            transform: scale(0.83);
                        }
                    }
                    .view-wrap{
                        display: flex;
                        align-items: center;
                        line-height: 1;
                        .view-order{
                            color: #0095FF;
                        }
                        .arrow{
                            width: 16px;
                            height: 16px;
                            background: url("~@/assets/images/user/arrow.png") no-repeat center / cover;
                        }
                    }
                }
            }

            .bet-status {
                &.bet-status {
                    width: auto;
                    height: 24px;
                    border-radius: 2px;
                    text-align: center;
                    line-height: 22px;
                    padding: 0 4px;
                    font-size: 14px;
                }
                &.yellow {
                    border: 1px solid #e7bb02;
                    background: rgba(231, 187, 2, 0.1);
                    color: #e7bb02;
                }
                &.gray {
                    color: #ffffff;
                    background: rgba(255, 255, 255, 0.1);
                    border: 1px solid #ffffff;
                }
                &.red {
                    border: 1px solid #ff4b34;
                    background: rgba(255, 75, 52, 0.1);
                    color: #ff4b34;
                }
                &.blue {
                    border: 1px solid #0095ff;
                    background: rgba(0, 149, 255, 0.1);
                    color: #0095ff;
                }
            }
        }
    }

    .total{
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: rgba(255,255,255,0.60);
        line-height: 22px;
        font-weight: 400;
        padding-left: 24px;
        padding-top: 14px;
        padding-right: 24px;
        .yellow-color {
            font-size: 14px;
            color: #e7bb02;
        }
    }
    .dialog{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        // pointer-events: none;
        background: rgba(0,0,0,.6);
        z-index: 100;
        .content{
            width: 343px;
            max-height: 510px;
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 8px;
            font-size: 12px;
            background: #272C32;
            .title{
                width: 100%;
                height: 20px;
                margin-top: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                .game-logo{
                    width: 20px;
                    height: 20px;
                    position: relative;
                    .logo{
                        margin-right: 4px;
                        position: absolute;
                        top: 2px;
                        left: 2px;
                        width: 120px;
                        height: 120px;
                        transform-origin: 0 0;
                        transform: scale(16/120);
                        padding: 0;
                    }
                }
                .game-name {
                    width: 200px;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                .bo{
                    margin: 0 4px;
                }
                .close{
                    position: absolute;
                    right: 12px;
                    width: 16px;
                    height: 16px;
                    background: url("~@/assets/images/user/order-colse.png") no-repeat center / cover;
                }
            }
            .scroll-wrap{
                flex: 1;
                overflow-y: scroll;
            }
            .both{
                display: flex;
                justify-content: center;
                padding: 24px 16px;
                .team-logo{
                    width: 96px;
                    text-align: center;
                    .logo{
                        width: 48px;
                        height: 48px;
                    }
                }
                .info{
                    flex: 1;
                    text-align: center;
                    align-items: center;
                    .scroe-wrap{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .score{
                            font-size: 24px;
                        }
                        .statu{
                            margin: 0 8px;
                            width: 24px;
                            height: 24px;
                            background: url("~@/assets/images/user/corssbar.png") no-repeat center / cover;
                            margin-top: 4px;
                        }
                    }
                    .stage{
                        color: #E7BB02;
                    }
                }
            }
            .type{
                text-align: center;
                height: 40px;
                line-height: 40px;
                color: #0095FF;
                font-size: 14px;
                background-image: linear-gradient(135deg, #31343c 0%, #564f60 100%);
                position: relative;
                &::after{
                    content: '';
                    width: 56px;
                    height: 2px;
                    background-image: linear-gradient(135deg, #1DDAFF 0%, #0095FF 100%);
                    position: absolute;
                    left: 50%;
                    bottom: 0px;
                    transform: translate(-50%, 0);
                }
            }
            .details{
                background-image: linear-gradient(135deg, #181c23 0%, #4b465a 100%);
                .subtitle{
                    height: 30px;
                    line-height: 30px;
                    padding-left: 20px;
                    position: relative;
                    &::after{
                        content: '';
                        width: 2px;
                        height: 10px;
                        background: #E7BB02;
                        border-radius: 5px;
                        position: absolute;
                        left: 12px;
                        top: 12px;
                    }
                }
                .handicap{
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    width: 100%;
                    margin-bottom: 8px;
                    .team{
                        display: flex;
                        justify-content: space-between;
                        width: 164px;
                        height: 40px;
                        line-height: 40px;
                        margin-bottom: 10px;
                        padding: 0 12px;
                        background: rgba(0,0,0,0.06);
                        border: 0.5px solid rgba(255,255,255,0.10);
                        border-radius: 4px;
                        min-width: 1px;
                        &.home{
                            margin-right: 15px;
                        }
                        &.tie{
                            margin-right: 15px;
                        }
                        &.away{
                            text-align: right;
                        }
                        &.option_type{
                            flex: 1;
                            width: auto;
                        }
                        .team-name{
                            flex: 1;
                        }
                        .icon{
                            height: 100%;
                            display: flex;
                            align-items: center;
                            span{
                                width: 16px;
                                height: 16px;
                            }
                        }
                        .statu-bg{
                            width: 32px;
                            height: 32px;
                            // background-size: contain;
                            // background-repeat: no-repeat;
                        }
                    }
                }
            }
        }
        .tips{
            width: 327px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            padding: 16px;
            background: #2B2F35;
            border: 1px solid rgba(255,255,255,0.20);
            border-radius: 8px;
            .title{
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 14px;
                margin-bottom: 24px;
                .close{
                    width: 16px;
                    height: 16px;
                    background: url("~@/assets/images/user/order-colse.png") no-repeat center / cover;
                }
            }
            .confirm{
                width: 100%;
                height: 36px;
                line-height: 36px;
                background-image: linear-gradient(180deg, #61C5FF 8%, #0271BD 55%, #027ED0 100%);
                border-radius: 4px;
                text-align: center;
            }
        }
    }
}
</style>
