<template>
    <div>
        <div class="item" v-for="(item, index) in orderList" :key="index">
            <div class="bet-order" v-if="item.order_type!=3">
                <div
                    class="item-detail"
                    v-for="(detail, i) in item.detail"
                    :key="i"
                >
                    <div class="title-row">
                        <span class="game-title">
                            <span class="order-game-logo">
                                <span :class="['logo', 'game-logo-sprite' , logoCls(detail.game_id) ]" > </span>
                            </span>
                            <span class="order-game-info">
                                {{ transTeams(detail.market_name, detail, true) }}&nbsp;
                                {{ transTeams(detail.odd_name, detail) }}
                            </span>
                        </span>
                        <span class="name" v-if="detail.game_id!='1001'">
                            {{ getLiveRound (detail.round, detail.match_type) }}
                            {{ detail.is_live == 2 ? i18n.live : i18n.early }}
                        </span>
                        <span class="name" v-else>
                            {{ detail.round_no }}
                            {{ detail.batch_no }}
                        </span>
                    </div>
                    <div class="content-box">
                        <div class="detail-odd-row ellipsis">
                            <span class="odd-name">{{ i18n.odds }}</span>
                            <span class="odd DIN">@{{ Math.formatAmount(detail.odd,3) }}</span>
                            <span :class="['order-state',getStateIcon(item.parley_type,detail.status, item.order_type).class]">
                                {{getStateIcon(item.parley_type,detail.status, item.order_type).text}}
                            </span>
                        </div>
                        <div class="detail-row ellipsis" v-show="detail.match_type != 2">
                            <span>{{ i18n.team }}</span>
                            <span class="ellipsis">
                                {{ getTeamName(detail) }}
                            </span>
                        </div>
                        <div class="detail-row ellipsis">
                            <span>{{ i18n.match }}</span>
                            <!-- <span class="ellipsis">
                                {{ tournamentName[detail.tournament_id]}}
                            </span> -->
                            <span class="ellipsis">
                                {{ detail.tour_name }}
                            </span>
                        </div>
                        <!-- <div class="detail-row  detail-remark ellipsis">
                            {{ detail.remark }}
                        </div> -->
                        <div class="detail-row">
                            <span class="predicted" v-if="detail.is_predicted">{{ $t("homePage.listItem.briefYuji") }}</span>
                            <span v-else>{{ detail.match_type === 2 ? i18n.closeTime : i18n.starttime }}</span>
                            <span>
                                {{ timetrans(detail.match_start_time || 0).y }}
                                {{ timetrans(detail.match_start_time || 0).d }}:{{ timetrans(detail.match_start_time || 0).s }}
                            </span>
                        </div>
                        <div class="detail-row detail-remark" v-show="getShowCancelReason(detail.reason)">
                            <span> {{ i18n.remark }} </span>
                            <span class="words"> {{ getCancelReason(detail.reason) }} </span>
                        </div>
                        <!-- 复合玩法取消注单备注 -->
                        <div
                            class="composite-reason"
                            v-for="(rDetail, i) in item.childDetail"
                            :key="i"
                        >
                            <div v-show="getShowCancelReason(rDetail.reason)"> {{ rDetail.market_name }} &nbsp;{{ i18n.Cancel }}-{{ getCancelReason(rDetail.reason) }} </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="station-order" v-else>
                    <div
                    class="item-detail"
                >
                    <div class="title-row">
                        <span class="game-title">
                            <span class="order-game-logo">
                                <span :class="['logo', 'game-logo-sprite' , logoCls(item.game_id) ]" > </span>
                            </span>
                            <!-- <span class="order-game-info">
                                {{ tournamentName[item.tournament_id] }}
                            </span> -->
                            <span class="order-game-info">
                                {{ item.tour_name }}
                            </span>
                        </span>
                        <span class="name">
                            {{ getLiveRound(item.round, item.match_type)  }} {{ item.is_live == 2 ? i18n.live : i18n.early }}
                        </span>
                        
                    </div>
                    <div class="content-box">
                        
                        <div class="detail-odd-row ellipsis"  v-show="item.match_type != 2">
                            <span>{{i18n.team}}</span>
                            <span class="ellipsis">
                                {{ getTeamName(item) }}
                            </span>
                        </div>
                        <div class="play-item" v-for="(detail, i) in item.detail" :key="i">
                            <div class="detail-row ellipsis">
                                <span class="odd-name">{{i18n.paly}}</span>
                                <span class="ellipsis">
                                    {{ transTeams(detail.market_name, detail, true) }}
                                    {{ transTeams(detail.odd_name, detail) }}
                                    
                                </span>
                                <span :class="['order-state',getStateIcon(item.parley_type,detail.status, item.order_type).class]">
                                    {{getStateIcon(item.parley_type,detail.status, item.order_type).text}}
                                </span>
                            </div>
                            <div class="detail-remark" v-show="getShowCancelReason(detail.reason)">
                                <span> {{i18n.remark}} </span>
                                <span class="words"> {{ getCancelReason(detail.reason) }} </span>
                            </div>
                        </div>
                        
                        <div class="detail-row">
                            <span class="predicted" v-if="item.is_predicted">{{ $t("homePage.listItem.briefYuji") }}</span>
                            <span v-else>{{i18n.starttime}}</span>
                            <span>
                                {{ timetrans(item.match_start_time || 0).y }}
                                {{ timetrans(item.match_start_time || 0).d }}:{{ timetrans(item.match_start_time || 0).s }}
                            </span>
                        </div>
                        

                    </div>
                </div>
            </div>
            <div class="item-order">
                <div class="order-row">
                    <div style="flex:1;">
                        <span class="type" v-show="item.order_type==1">
                            {{i18n.single}}
                        </span>
                        <span class="type" v-show="item.order_type==2">
                            <b>{{item.parley_type}}{{i18n.cross}}</b> 
                            <b class="odds DIN">@{{Math.formatAmount(item.odd,3)}}</b>
                        </span>
                        <span class="type" v-show="item.order_type==3">
                            <b>{{item.parley_type}}{{i18n.station}}</b> 
                            <b class="odds DIN">@{{Math.formatAmount(item.odd,3)}}</b>
                        </span>
                    </div>
                    <img class="confirmed-Loading" v-if="item.bet_status == 1" src="@/assets/images/common/loading_to_be_confirmed.png" alt="">
                    <span
                        :class="[
                            'bet-status',
                            getStateClass(item.bet_status),
                        ]"
                        >{{ getState(item.bet_status) }}</span
                    >
                </div>
                <div class="order-row">
                    <span>
                        {{i18n.order}}&nbsp;&nbsp;{{ item.id }} 
                        <b class="copy" @click="copyText(item.id)"> <i> {{i18n.copy}} </i>  </b>
                    </span>
                </div>
                <div class="order-row">
                    {{i18n.bettime}}&nbsp;&nbsp;
                    <span>
                        {{ timetrans(item.bet_time/1000).y }}
                        {{ timetrans(item.bet_time/1000).d }}:{{ timetrans(item.bet_time/1000).s }}
                    </span>
                    <!-- 单注 5-赢 6-输 8-赢半 9-输半 -->
                    <!-- 257733146228414 NBA2K 258337013509741 FIFA 1001虚拟足球-->
                    <div 
                    class="view-wrap" 
                    @click="viewOrder(item)" 
                    v-if="settlementActive != 1 && [5,6,8,9].includes(item.bet_status) && item.order_type != 2 && validDate(item.settle_time) && !['257733146228414','258337013509741'].includes(item.game_id)">
                        <span class="view-order">{{i18n.view}}</span>
                        <span class="arrow"></span>
                    </div>
                </div>
                <div class="order-row">
                    <span
                        >{{i18n.bet_amount}}<span class="bet_amount DIN">{{
                            Math.formatAmount(item.bet_amount) 
                        }}</span></span
                    >
                    <span
                        v-if="item.bet_status == 1 || item.bet_status == 3"
                    >
                        {{i18n.theoryPrize}}&nbsp;
                        <span class="yellow-color DIN">
                            {{
                                Math.formatAmount(
                                    Number(item.theory_prize)
                                )
                            }}
                        </span>
                    </span>
                    <span
                        v-else-if="item.bet_status == 5 || item.bet_status == 8 || item.bet_status == 9 || item.bet_status == 10"
                    >
                        {{i18n.winAmount}}
                        <span class="white-color DIN">
                            {{
                                Math.formatAmount(item.win_amount)
                            }}
                        </span>
                    </span>
                    <span
                        v-else-if="item.bet_status == 6"
                    >
                        {{i18n.winAmount}}
                        <span class="white-color DIN">
                            0.00
                        </span>
                    </span>
                    <span
                        v-else
                    >
                        {{i18n.winAmount}}
                        <span class="white-color DIN">
                            {{
                                Math.formatAmount(item.bet_amount)
                            }}
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { timetrans, oddStrTrans } from "@/assets/scripts/utils";
import { Sub } from "@/assets/scripts/precision";
import mixMatchStatus from "@/views/common/mixins/mixMatchStatus.js";
import mixBetStatus from "@/views/common/mixins/mixBetStatus.js";
import { mapGetters } from 'vuex';
import copy from "@/views/common/mixins/copy.js";
import { requestMatchState, getMatchResult } from '@/api/game.js'
import lodash from "lodash";

export default {
    mixins: [ mixMatchStatus, copy, mixBetStatus ],
    data() {
        return {
            betState: this.$t('historyOrder.betState'),
            cancellations: this.$t('historyOrder.cancellations'),
            merchantCancellations:[ 203, 204, 205, 206],//商户撤单理由
            TYCancellations:[ 
                57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, //TY注单撤销原因
                112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, //TY盘口取消原因
            ],//TY撤单理由
            i18n: this.$t('historyOrder.orderItem'),
        };
    },
    computed:{
        ...mapGetters(["images", "matchTeams"])
    },
    props:['orderList','tournamentName',"settlementActive"],
    methods: {
        timetrans,
        Sub,
        //是否在7天之内
        validDate(starttime){
            const date = new Date()
            return (date.getTime()/1000 - starttime) /24/60/60 < 7
        },
        async viewOrder(data){
            data.allHandicap = data.detail.concat(data.childDetail)
            let result = {}  
            // 赛事类型, 1:普通赛事, 2:虚拟体育
            const type = data.game_id === '1001' ? 2 : 1;
            let MatchState = await requestMatchState( {ids: data.match_id.trim(), type} )
            if( lodash.get(MatchState, 'data.data.length') && lodash.get(MatchState, 'data.data[0].visible')){
                let matchList = MatchState.data.data[0]
                let ids = ""
                data.allHandicap.forEach( item => {
                    ids += `${item.market_id},`
                })
                ids = ids.substring(ids.length-1, 0)
                let getResult = await getMatchResult({
                        match_id: data.match_id,
                        mkt_ids: ids,
                        type,
                    })
                if( lodash.get(getResult, 'data.data.length') ){
                    //只展示已关盘、已结算的盘口
                    let matchResult = getResult.data.data.filter( item => [7, 9].includes(item.status))
                    matchResult.forEach( item => {
                        let arr = []
                        for (let i in item.odds) {
                            if(item.option_type == 6 && item.odds[i].en_name == 'Draw'){
                                item.odds[i].name = this.$t('homePage.endGame.ping')
                            } else {
                                item.odds[i].name = this.getTeams(matchList, item.odds[i])
                            }
                            arr.push(item.odds[i])
                        }
                        // 虚拟足球 胜平负排序处理
                        if(data.game_id === '1001'){
                            const drawIndex = arr.findIndex(odd => odd.en_name == 'Draw');
                            if(drawIndex === 2){
                                let temp = arr[1];
                                arr[1] = arr[2];
                                arr[2] = temp;
                            }
                        }
                        item.odds = arr
                        item.round = this.getLiveRound(item.round, matchList.category)

                        // 特殊处理：复合玩法替换字符串
                        if( item.option_type == 23 ){
                           
                           const marketName = item.name.split('$');
                           const marketValue = item.market_value.split(',');
                           let str = "";
                           if( marketName.length > 1 ){
                               marketValue.forEach( (ele, i) => {
                                   str += marketName[i]+ele;
                               });
                               item.name = str + marketName[marketName.length - 1];
                           }
                       }

                    })
                    let teams = this.i18nTransGameNameKey(data,'team_','s') || data.team_names
                    matchList.match_team = teams.split(",")
                    matchList.score = matchList.score? matchList.score.split(":") : ''
                    matchList.end_time = matchList.end_time? this.timetrans(matchList.end_time).full : this.i18n.processing
                    result = {
                        ...matchList,
                        handicap: matchResult
                    }
                }
            }
            this.$root.$emit("viewOrder",result)
        },
        getCancelReason(val){
            return this.cancellations[val]
        },
       
        getState(value) {
            const betstate = this.betState.find((ele) => ele.key == value);
            return betstate ? betstate.value : "--";
        },
        getTeamName(item) {
            const teams =  this.i18nTransGameNameKey(item,'team_','s') || item.team_names;
            if (teams) {
                return teams.replace(",", " - VS - ");
            } else {
                return "--VS--";
            }
        },
        // 队伍替换
        transTeams(str, item, showJiZhun) {
            const teams =  this.i18nTransGameNameKey(item,'team_','s') || item.team_names;
            // FIFA 历史订单
            // 历史订单不需要分各种游戏和滚球，score_benchmark字段有就展示
            // if (item.score_benchmark && item.game_id === "258337013509741" && showJiZhun) {
            //   const jizhun = item.score_benchmark.replace(':','-');
            //   str = str + "[" + jizhun + "]";
            // }
            str = oddStrTrans(str);
            if(item.match_type == 2){
                const teams = this.matchTeams && (this.matchTeams[item.match_id || item.match_id] || []);
                if( teams ){
                    const str1 = str.split("@T");
                    if( str1.length > 1 ){
                        const strIdx = Number(str1[1].substr(0,1));
                        const team = teams[strIdx - 1] || {};
                        return str.replace(`@T${strIdx}`,this.i18nTransGameNameKey(team,'team_'))
                    }else{
                        return str
                    }
                }else{
                    return str
                }
            }else{
                if (teams) {
                    const team = teams.split(",");
                    return str.replace(/@T1/g,team[0]).replace(/@T2/g,team[1])
                } else {
                    return str;
                }
            }
        },
        getStateClass(value) {
            // （待确认：黄色1 ）
            // （ 待结算：黄色 3）
            // （ 其他：灰色 ）
            if (value == 1 || value == 3) {
                return "yellow";
            } else {
                return "gray";
            }
        },

        //注单详情中奖状态
        // 串注注单详情状态 1-待结算 2-已取消 3-已中奖 4-未中奖 5 已撤消（产品要求2，5都展示为已取消）
        // order_type 4 -复合玩法
        // 单注 5-赢 6-输 8-赢半 9-输半 10-走水
        getStateIcon(parley_type, value, order_type) {
            if (parley_type == 1 || order_type == 4){
                if (value == 5) {
                    return  { class: 'order-win', text: this.i18n.lotteryState.win };
                } else if (value == 6) {
                    return  { class: 'order-failure', text: this.i18n.lotteryState.failure };
                } else if (value == 8) {
                    return  { class: 'order-half-win', text: this.i18n.lotteryState.halfWin };
                } else if (value == 9) {
                    return  { class: 'order-half-loss', text: this.i18n.lotteryState.halfLoss };
                } else if (value == 10) {
                    return  { class: 'order-water', text: this.i18n.lotteryState.water };
                } else if (value == 2 || value == 4 || value == 7) {
                    return  { class: 'order-refund', text: this.i18n.lotteryState.refund };
                }
            }else{
                if (value == 3) {
                    return  { class: 'order-win', text: this.i18n.lotteryState.win };
                } else if (value == 4) {
                    return  { class: 'order-failure', text: this.i18n.lotteryState.failure };
                } else if (value == 2 || value == 5) {
                    return  { class: 'order-cancel', text: this.i18n.lotteryState.cancel };
                } else if (value == 6) {
                    return  { class: 'order-half-win', text: this.i18n.lotteryState.halfWin };
                } else if (value == 7) {
                    return  { class: 'order-half-loss', text: this.i18n.lotteryState.halfLoss };
                } else if (value == 8) {
                    return  { class: 'order-water', text: this.i18n.lotteryState.water };
                }
            }
            return {}
        },

        //商户后台撤单，撤单理由不需要显示在客户端
        getShowCancelReason(val){
            if(val){
                return !this.merchantCancellations.includes(val) && !this.TYCancellations.includes(val)
            }
            return false
        },
    }
};
</script>