<template>
    <div class="order-container">
        <van-dropdown-menu  class="order-nav-dropdown">
            <van-dropdown-item ref="vanDropDownMenu" :title="typeActiveName">
                <div class="order-nav-content">
                    <div :class="['order-nav-btn', {'active': bet.label == typeActiveName }]"
                         @click="typeSelected(bet)"
                         v-for="bet in typeMenu"
                         :key="`${bet.type}_${bet.value}`">{{ bet.label }}</div>
                </div>
            </van-dropdown-item>
        </van-dropdown-menu>
        <div
            class="order-content"
        >
            <div class="total" v-show="orderList.length>0">
                {{i18n.total}}{{i18n.betCount}} {{ bet_total.bet_count }}，
                {{i18n.betAmountTotal}}<b class="DIN">{{ Math.formatAmount(bet_total.bet_amount_total) }}，</b>
                <span >
                        {{settlementActive === 1 ? i18n.theoryPrizeTotal : i18n.winAmount}}
                        <b class="DIN yellow-color" >
                            {{settlementActive===1 ? Math.formatAmount(bet_total.theory_prize_total) : Math.formatAmount(bet_total.win_amount_total)}}
                        </b>
                    </span>
            </div>
            <div class="order-list">
                <common-not-data
                    :title="i18n.zanwu"
                    :subTitle="i18n.zanwutishi"
                    backgroundImg="not-data-order"
                    paddingTop="69px"
                    v-if="orderList.length==0"
                ></common-not-data>

                <van-list
                    v-else
                    v-model="loading"
                    :finished="finished"
                    :finished-text="i18n.null"
                    @load="onLoad"
                    loading-text="loading..."
                >
                    <order-item :orderList="orderList" :tournamentName="tournamentName" :settlementActive="settlementActive"></order-item>
                </van-list>
            </div>
        </div>
    </div>
</template>
<script>
import i18n from "@/assets/i18n/index.js"
const typeMenu = [
    { type: 'type', value: "", label: i18n.t('historyOrder.typeMenu.all') },
    { type: 'type', value: "1", label:i18n.t('historyOrder.typeMenu.single') },
    { type: 'type', value: "2", label:i18n.t('historyOrder.typeMenu.cross') },
    { type: 'match_type', value: "2", label: i18n.t('historyOrder.typeMenu.guanjun') },
    { type: 'type', value: "4", label: i18n.t('historyOrder.typeMenu.fuhe')},
    { type: 'type', value: "3", label: i18n.t('historyOrder.typeMenu.junei') },
    { type: 'match_type', value: "7", label: i18n.t('historyOrder.typeMenu.zuqiu') },
];

import { timetrans,getNDate } from "@/assets/scripts/utils";
import { Sub } from "@/assets/scripts/precision";
import * as gameApi from "@/api/game.js";
import mixMatchStatus from "@/views/common/mixins/mixMatchStatus.js";
import commonNotData from "@/views/common/commonNotData";
import { mapGetters } from 'vuex';
import orderItem from "@/views/user/historyOrder/orderItem";
import lodash from "lodash";
export default {
    mixins: [ mixMatchStatus ],
    components: { commonNotData,orderItem },
    data() {
        return {
            settlementActive: 1,
            typeMenu,
            typeActive: typeMenu[0],
            typeActiveName: typeMenu[0]['label'],
            orderList: [],
            loading: false,
            finished: false,
            filter: {
                page: 1,
                page_size: 20,
            },
            tournamentName:{},//联赛名称
            bet_total: {},
            i18n: this.$t('historyOrder.list'),
            defaultDate: [`${getNDate(29)} 00:00:00`,`${getNDate(0)} 23:59:59`],
        };
    },
    computed:{
        ...mapGetters(["images", "matchTeams"])
    },
    props: ['offsetHeight','filterDate'],
    watch:{
        filterDate(v){
            this.changeType();
        }
    },
    created(){
        this.getOrder();
        this.orderInterval = setInterval(() =>{
            this.getOrder();
        }, 5000);
    },
    methods: {
        timetrans,
        Sub,

        onLoad() {
             // 加载状态结束
            this.loading = false;
            // 数据全部加载完成
            this.filter.page_size += 20;
            this.getOrder();
        },
        typeSelected(type) {
            this.typeActiveName = type.label;
            this.typeActive = type;
            this.$refs.vanDropDownMenu.toggle();
            this.changeType();
        },
        //状态切换
        changeType: lodash.debounce(function(){
            // 历史注单入口及历史注单详情页的点击次数统计
            // this.$store.commit("SET_TRACK", { tab: 30, page: 4 });
            this.filter.page_size = 20;
            this.orderList = [];
            this.loading=true;
            this.getOrder();
        },500),
         // 查询投注记录
        getOrder() {

            this.loading=true;
            let filter={...this.filter};
            let filterDate = this.filterDate.length > 0 ? this.filterDate  : this.defaultDate;
            filter.begin_time = filterDate[0];
            filter.end_time = filterDate[1];

            // type 投注类型 1-普通注单 2-普通串关注单 3-局内串关注单, 4-复合玩法注单
            // match_type  赛事类型 正常-1 冠军-2 大逃杀-3 篮球-4 主播盘-5 足球-6
            // 查询冠军盘的时候，type不要传值，查询注单类型的时候match_type也不要传值
            let requestData = {
                ...filter,
                status: this.settlementActive,
            }

            
            let typeKey = 'type';
            if(this.typeActive.type === 'match_type') {
                typeKey = 'match_type';
            }
            requestData[typeKey] = this.typeActive.value;
            gameApi
                .requestOrder(requestData)
                .then( async (res) => {
                    this.finished = true;
                    this.loading=false;
                    if (res.data.status == "true") {
                        let data=res.data.data.bet || [];
                        this.bet_total=res.data.data.bet_total;
                        if(data && data.length==0){
                            return
                        }
                        let detail = res.data.data.detail;
                        data=this.betOrderChange(data,detail);

                        // 根据赛事ID查询 战队
                        let macthIds = [];
                        data.forEach( ele => {
                            if( ele.match_type == 2  ){
                                macthIds.push(ele.match_id)
                            }
                        });
                        
                        macthIds = [...new Set(macthIds)] // 数组去重
                        if( macthIds.length > 0 ){
                            const teams = await gameApi.requestGameTeam({ ids: macthIds.join(",")});
                            this.$store.commit( "SET_MATCH_TEAMS",  teams.data.data || {})
                        }
                        this.orderList = data;
                         // 根据ID 查询联赛
                        // let tournamentId = [];
                        // data.forEach( ele => 
                        //     ele.detail.forEach( item => 
                        //         tournamentId.push(item.tournament_id) 
                        //     )
                        // );
                        // this.orderList = data;
                        // if( tournamentId.length == 0 ){ return };
                        // tournamentId = [...new Set(tournamentId)] // 数组去重
                        // gameApi.requestTournamentName({
                        //     ids: tournamentId.map(ele => ele).join(",")
                        // }).then((json)=>{
                        //    this.tournamentName=Object.assign({...this.tournamentName},{...json.data.data})
                        // })
                        if(data.length == this.filter.page_size){
                            this.finished = false 
                        }
                    }
                });
        },
        //注单数据转换
        betOrderChange(data,detail){
            data = data || [];
            data = data.map((ele)=>{
                return{
                    ...ele,
                    detail:[{
                        ...ele,
                        status:ele.bet_status
                    }],
                    childDetail:[]
                }
            })
            //串注注单
            if(detail){
                for( let key in detail ){   
                    for( let i in data ){
                        if(data[i].id==key && data[i].order_type == 4){
                            data[i].childDetail = detail[key];
                        }else if(data[i].id==key){
                            data[i].detail= detail[key]
                        }
                    };
                };
            }
            return data
        },
    },
    destroyed(){
        this.orderInterval && clearInterval(this.orderInterval);
    } 
};
</script>
