<template>
    <div class="schedule-csgo">
        <div class="schedule-tab">
            <div class="item-sub" v-for="(item,index) in tab" :key="index" >
                <span  
                :class="['tab-item',{'active': tabIndex==index} ]"
                @click="changeTab(index)"
                >{{item}}</span>
            </div>
        </div>

        <div class="schedul-box">
            <div class="schedule-header">
                <div class="header-left">
                    <span class="team-logo">
                        <TeamImage 
                            :url="global.TeamImages[matchs.home_team]" 
                        />
                    </span>
                    <span class="team-name ellipsis"> {{ matchs.home_name }} </span>
                </div>
                <div class="header-center" @click="itemListShow = true">
                    <div class="schedule-start">
                        <span class="left-icon"></span>
                        <span class="words">{{ $t('antDataSource.Gamelogs') }}</span> 
                        <span class="right-icon"></span>
                    </div>
                </div>
                <div class="header-right">
                    <span class="team-name ellipsis"> {{ matchs.away_name }} </span>
                    <span class="team-logo">
                        <TeamImage 
                            :url="global.TeamImages[matchs.away_team]" 
                        />
                    </span>
                </div>
            </div>



            <template v-if="eventsList.length != 0">
               

           

                <div class="events" v-for="(item, i) in eventsList" :key="i">
                

                    <div class="schedule-time">
                       
                        <div :class="['time-things', item.event_data.assist_side == 0 ? 'left' : 'right']">

                            <!-- 加入比赛 -->
                            <div 
                                class="things-item" 
                                v-if="item.event_type == 'join'"
                            >
                                <div class="player-name">{{ item.event_data.player_name }}</div>
                                <div class="things-name">{{ $t('antDataSource.Enter') }}</div>
                            </div>

                            <!-- 离开比赛 -->
                            <div 
                                class="things-item" 
                                v-if="item.event_type == 'quit'"
                            >
                                <div class="player-name">{{ item.event_data.player_name }}</div>
                                <div class="things-name">{{ $t('antDataSource.Exit') }}</div>
                            </div>


                            <!-- 回合开始 -->
                            <div 
                                class="things-item" 
                                v-if="item.event_type == 'round_start'"
                            >
                                <div class="player-name">{{ $t('antDataSource.Roundstart') }}</div>
                            </div>

                            <!-- 回合胜利 -->
                            <div 
                                class="things-item" 
                                v-if="item.event_type == 'round_win'"
                            >
                                <div class="player-name">{{ $t('antDataSource.Winround') }}</div>
                            </div>


                            <!-- 自杀 -->
                            <div 
                                class="things-item" 
                                v-if="item.event_type == 'suicide'"
                            >
                                <div class="player-name">{{ item.event_data.player_name }}</div>
                                <div class="things-name">{{ $t('antDataSource.Suicide') }}</div>
                            </div>

                            <!-- 放置炸弹 -->
                            <div 
                                class="things-item" 
                                v-if="item.event_type == 'bomb'"
                            >
                                <div class="player-name">{{ item.event_data.player_name }}</div>
                                <div class="things-name">{{ $t('antDataSource.Placebomb') }}</div>
                            </div>

                            <!-- 击杀 -->
                            <div 
                                class="things-item" 
                                v-if="item.event_type == 'kill'"
                            >
                                <div class="player-name">{{ item.event_data.killer_name }}</div>
                                <img class="equipment_logo" :src="item.event_data.equipment_logo" alt="">
                                <img v-show="item.event_data.headshot == 1" class="headshot" src="~@/assets/images/data/csgo-headshot.png" alt="">
                                <div class="other-player">{{ item.event_data.victim_name }}</div>
                            </div>

                            <!-- 炸弹拆除 -->
                            <div 
                                class="things-item" 
                                v-if="item.event_type == 'disarm_bomb'"
                            >
                                <div class="player-name">{{ item.event_data.player_name }}</div>
                                <div class="things-name">{{ $t('antDataSource.Defusebomb') }}</div>
                            </div>
                            
                            <div class="things-time"> {{  transTimeM(item.cst_sec)  }} </div>

                        </div>
                    </div>
                </div>
            </template>
            <common-not-data
                v-else   
                class="not-account-data"
                :title="$t('antDataSource.NoData')"
                :showLive= "false"
                backgroundImg="not-data-schedule"
                paddingTop="90px">
            </common-not-data>
        </div>
    </div>
</template>
<script>
import { requestBifenCSGOEvents } from "@/api/data.js";
import { mapGetters } from "vuex";
import commonNotData from "@/views/common/commonNotData";
// import playerKill from "./player_kill"; // 击杀组件
// import towerKill  from "./tower_kill"; // 推塔
// import nashorsKill from "./nashors_kill" // 击杀先锋
// import drakesKill from "./drakes_kill" // 击杀猪仔  大龙
// import drakeKill from "./drake_kill" // 击杀小龙

export default {
    components:{
        commonNotData
    },
    data(){
        return{
            tabIndex: 0,
            global,
            itemListShow: false,
            stage_id: 1,
            eventsList:[],
            type: "1",

            typeList:[
                { val: "1", label: this.$t('antDataSource.All') },
                { val: "2", label: this.$t('antDataSource.KillHero') },
                { val: "3", label: this.$t('antDataSource.DestroyTowerCrystal') },
                { val: "4", label: this.$t('antDataSource.KillMonsters') },
            ],

            "257154660915053": {
                "drake_kill": "小龙击杀",
                "player_kill": "队员击杀",
                "rift_herald_kill": "击杀先锋",
            }, // 英雄联盟


            "257289795134339": {
                "drake_kill": "小龙击杀",
                "player_kill": "队员击杀",
                "rift_herald_kill": "击杀先锋"
            }, // DOTA2


            "257561197207055": {
                "tower_kill":"推塔",
                "player_kill":"击杀英雄",
                "drakes_kill":"击杀主宰",
                "nashors_kill":"击杀先锋",
            }, // 王者荣耀


            "257578064923863": {
                "join": "加入比赛",
                "quit": "离开比赛",
                "round_start": "回合开始",
                "round-win": "回合胜利",
                "suicide": "自杀",
                "bomb": "放置炸弹",
                "kill": "击杀",
                "disarm_bomb": "炸弹拆除"
            }, // CSGO

        }
    },
    computed:{
        ...mapGetters([
            "matchID",
            "matchTimer",
            "matchs",
            "images"
        ]),
        tab(){
            let arr = []
            let localLangId = localStorage.getItem('language') || 'cn'
            let changeNum = localLangId == 'cn' || localLangId == 'zh'? ['一','二','三','四','五','六','七','八','九']:['1','2','3','4','5','6','7','8','9']
            for(var i = 0; i < this.matchs.bo; i++){
                arr.push(this.$t('antDataSource.RoundNo', { no: changeNum[i] }))
            }
            return arr
        },
 

        typeText(){
            const res = this.typeList.find( ele => ele.val == this.type );
            return res.label
        },

        // 订阅的频道
        topic(){
            let stage_id = this.tabIndex + 1
            return `/match/ant/csgo/event/${this.matchID}/${stage_id}}`
        }
    },
    watch:{
        topic(v,ov){
            this.doSubscribe();
        },
        matchTimer:{
            handler(newVal, oldVal){
                if( this.matchs.status == 5 ){
                    this.tabIndex = newVal[this.matchs.id].round - 1;
                }
            },
            deep:true,
            immediate: true
        }
    },
    created() {
        this.init();
        this.doSubscribe();
        
        // 监听订阅
        const me = this;
        mqtt_client.on("message", function(topic, payload) {
            if( topic == me.topic ){
                const resData = JSON.parse(payload.toString()).events;
                if( Object.keys(resData).length ){
                    me.eventsList = [
                        ...me.eventsList,
                        JSON.parse(payload.toString()),
                    ];
                }
            }
        })

        // // 测试5s 发送消息
        // setInterval( () => {
        //     const res = {
        //         "time": 1234,
        //         "type": "player_kill",
        //         "show_side": 2,
        //         "destroy": {
        //             "side": 2,
        //             "name": "七海 灯子",
        //             "logo": "https://img.antscore.io/dota2/role/b9040baea11bdcdd280af167b8e32239.png",
        //             "o_type": ""
        //         },
        //         "destroyed": {
        //             "side": 1,
        //             "name": "Ws`",
        //             "logo": "https://img.antscore.io/dota2/role/37aca913414b40932ad5287e847987f5.png",
        //             "o_type": ""
        //         }
        //      }
        //      mqtt_client.publish(this.topic, JSON.stringify(res))
        // }, 5000)
    },
    methods: {
        changeTab(index){
            this.tabIndex = index;
            this.eventsList = []; // 每次切换清空数据
            this.init()
        },
        init(){
            let stage_id = this.tabIndex + 1
            requestBifenCSGOEvents({
                match_id: this.matchID,
                stage_id: stage_id,
                page_size: 1000,
            }).then( res => {
                if( res.data.status == "true" ){  
                    this.eventsList = res.data.data.d;
                }
            })
        },

        // 秒转化为分钟
        transTimeM(m){
            m = Number(m)-this.matchs.start_time;
            m = parseInt(m); 
            const a = Math.floor(m/60)
            const b = Math.floor(m%60)
            return (a < 10 ? '0' + a : a) + ":" + (b < 10 ? '0' + b : b);
        },


        changeType(val){
            this.type = val;
            this.itemListShow = false;
        },
        // 订阅mqtt更新
        doSubscribe(){
            mqtt_client.subscribe(this.topic, (msg) => {
                console.log('msg:', msg)
            })
        },
        doUnSubscribe(){
            mqtt_client.unsubscribe(this.topic)
        }
    },
    // 销毁组件注销订阅
    destroyed() {
        this.doUnSubscribe();
    },
}
</script>
<style lang="less">
.schedule-csgo{

    .schedul-box{
        width: 360px;
        height: 100%;
        background: rgba(0,0,0,0.20);
        border-radius: 8px 8px 0px 0px;
        overflow: auto;
        border: 1px solid rgba(255,255,255,0.2);
        padding: 10px 10px 450px;
        margin: 0 auto;
    }
    .select-item{
        width: 160px;
        .el-input__inner{
            border: none;
            background: transparent;
            text-align: center;
        }
    }
    .schedule-tab{
        height: 43px;
        display: flex;
        background: #2b2a2d;
        font-size: 12px;
        position: sticky;
        top: 36px;
        z-index: 99;
        overflow-x: auto;
        .item-sub{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            .tab-item{
                width: 84px;
                height: 27px;
                line-height: 27px;
                text-align: center;
                color: rgba(255,255,255,0.6);
                border: 1px solid transparent;
                &.active{
                    color: #fff;
                    background: rgba(0,149,255,0.30);
                    border-color: rgba(0,149,255,1);
                    border-radius: 8px;
                }
            }
        }
    }
    .schedule-header{
        display: flex;
        align-items: center;
        justify-content: center;
       
        .team-logo{
            width: 25px;
            height: 25px;
            border-radius: 25px;
        }
        .team-name{
            font-size: 12px;
            color: rgba(255,255,255,0.8);
            text-align: right;
            font-weight: 500;
            overflow: hidden;
            word-break: break-all;
            // width: 70px;
            flex: 1;
        }
    }
    .header-left, .header-right{
        display: flex;
        align-items: center;
        width: 80px;
    }
    .header-right{
        justify-content: flex-end;
        .team-name{
            text-align: left;
        }
    }
    .header-center{
        width: 158px;
        height: 30px;
        border-radius: 4px;
        position: relative;
        text-align: center;
        line-height: 26px;
        z-index: 99;
        margin: 0 8px;
       
    }
    .schedule-start{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        .words{
            font-size: 12px;
            color: #00FF3B;
            text-align: center;
            font-weight: 500;
            margin: 0 8.6px;
        }
        .right-icon, .left-icon{
            width: 44px;
            height: 16px;
        }
        .left-icon{
            background: url("~@/assets/images/common/start-game-left.png");
            background-size: cover;
        }
        .right-icon{
            background: url("~@/assets/images/common/start-game-right.png");
            background-size: cover;
        }
    }
    .schedule-time{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
       
       
        .words{
            font-size: 12px;
            color: rgba(255,255,255,0.60);
            text-align: center;
            font-weight: 500;
        }
        .time-things{
            // width: 100px;
            // height: 30px;
            // background: rgba(216,216,216,0.05);
            // border: 1px solid rgba(255,255,255,0.05);
            // border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 8px;
            width: 100%;
            .things-time{
                font-size: 12px;
                color: rgba(255,255,255,0.3);
            }
            &.right{
                .player-name{
                    color: #FF4729;
                    font-size: 12px;
                }
                .other-player{
                    color: #0095FF;
                    font-size: 12px;
                }
            }
            &.left{
                .player-name{
                    color: #0095FF;
                    font-size: 12px;
                }
                .other-player{
                    color: #FF4729;
                    font-size: 12px;
                }
            }


            .things-item{
                width: auto;
                height: 100%;
                display: flex;
                align-items: center;
                // word-break: keep-all;

                background: rgba(216,216,216,0.05);
                border: 1px solid rgba(255,255,255,0.05);
                border-radius: 30px;
                padding: 2px 14px;
            }
       
            .equipment_logo{
                height: 19px;
                margin: 0 8px;
                opacity: 0.6;
            }

            .headshot{
                width: 21px;
                height: 19px;
                opacity: 0.6;
                margin-right: 8px;
            }

            .things-name{
                margin-left: 8px;
                display: block;
                color: rgba(255,255,255,0.6);
                font-size: 12px;
            }



        }
    }

    .schedule-line{
        margin: 0 auto;
        width: 2px;
        height: 40px;
        background-image: url("~@/assets/images/data/data-line.png");
        background-size: cover;
    }
}
</style>