<template>
    <div
        class="bubblingWrapper"
        ref="bubblingWrapper"

        v-bind:class="{
            visible: show === true,
        }"
        data-role="modalClose"
        @click="close"
    >
        <div
            class="tooltip"
            v-bind:class="{
                top: placement === 'top',
                left: placement === 'left',
                right: placement === 'right',
                bottom: placement === 'bottom',
                visible: show === true,
            }"
                    :style="`width:${width}`"
            ref="popover"
            role="tooltip"
        >
            <div class="tool-header" v-if="showHeader">
                {{$t('yxzh.components.submitFailed')}}
                <button v-if="showCloseButton" @click="close">X</button>
            </div>
            <div class="tooltip-inner" ref="tooltipinner">
                <component
                    :is="content"
                    :data="$options.propsData"
                    :router="$router"
                    @close="close"
                    @clickOnSetting="OnClickOnSetting"
                ></component>
            </div>
            <div class="tooltip-arrow" ref="tooltip"></div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'toolTip',
    props: {
        // toolTip消息提示
        content: {
            type: Object,
        },
        placement: {
            type: String,
            default: 'top',
        },
        trigger: {},
        isFixed: {
            default: () => false,
        },
        onClose: {
            type: Function,
            default: () => {},
        },
        OnClickOnSetting: {
            type: Function,
            default: () => {},
        },
        showHeader: {
            type: Boolean,
            default: () => true,
        },
        showCloseButton: {
            type: Boolean,
            default: () => false,
        },
        width: {
            type: String,
            default: () => '79%',
        },
    },
    watch: {
        show: function(val) {
            if (val) {
                const popover = this.$refs.popover
                const triger = this.trigger
                const tooltip = this.$refs.tooltip
                this.$nextTick(() => {
                    switch (this.placement) {
                        case 'top':
                            // 获取全局高度
                            const position = {
                                y: triger.getBoundingClientRect().top,
                                x: triger.getBoundingClientRect().left,
                            }
                            this.position.top = position.y - 11 // 向上偏移3个像素
                            this.position.left = position.x  -(popover.offsetWidth-triger.offsetWidth)/2
                            break
                        default:
                            console.log('Wrong placement prop')
                    }
                    popover.style.top = this.position.top + 'px'
                    let contLeft 
                    if((this.position.left + popover.offsetWidth)>document.body.clientWidth) {
                        contLeft = document.body.clientWidth- popover.offsetWidth-40
                    } else {
                       contLeft = this.position.left
                    }
                    if(contLeft > 0) {
                        popover.style.left = contLeft + 'px'
                    } else {
                        contLeft = 0
                    }
                    let maxLeft = popover.offsetWidth - tooltip.offsetWidth
                    let shouldLeft = triger.getBoundingClientRect().left+triger.offsetWidth/2-contLeft
                    tooltip.style.left = (shouldLeft > maxLeft ? maxLeft : shouldLeft) +'px'
                })
            }
        },
    },
    data() {
        return {
            // 通过计算所得 气泡位置
            position: {
                top: 0,
                left: 0,
            },
            show: false,
        }
    },
    methods: {
        close(e) {
            if(e.target.dataset.role==="modalClose") {
                this.show = false
                this.onClose && this.onClose()
                this.$destroy(true)
            }
        },
        actioinTop() {
            this.callBack()
        },
    },
    beforeDestroy() {
        document.body.removeChild(this.$el)
    },
}
</script>
<style lang="scss" scoped>
.bubblingWrapper {
    display: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 8888;
    &.visible {
        display: block;
        transition: display 2s;
    }
}
.tooltip {
    position: absolute;
    width:96%;
    border-radius: 10px;
    z-index: 2000;
    color: #fff;
    text-align: justify;
    font-size: 16px;
    transform: translate(0, -100%);
    display: none;

    .tool-header {
        text-align: center;
        padding:10px 5px 5px;
        clear: both;
        button {
            border: none;
            float: right;
            color: #fff;
            font-size: 16px;
            background-color: #000;
        }
    }
    &.visible {
      background-color: #5f7cea;
        display: block;
        // opacity: 0.7;
    }
    .tooltip-arrow {
        bottom: -6px;
        position: absolute;
        display: block;
        width: 0px;
        height: 0px;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-top: 20px solid  #5f7cea;  
        z-index:-1;
    }
}
</style>
