<template>
    <div 
		@click.stop="!showItem ? addOrderToCart(): ''"
		:class="[
			'BetItem-box', 
			position, 
			`box-${oddsClass}`, 
			{ 'box-suspended': itemSuspended },
			{ 'box-lineHide': hasLineHide },
			{ 'box-active': classActiveFun() },
			{ 'box-opacity': hostIsVible(item, match.category) }
		]">
		<!-- 气泡背景 -->
		<div class="item-bubbles" >
			<div class="bubbles-box">
				<div :class="`bubbles-${oddsClass}`"></div>
				<div :class="`bubbles-${oddsClass}`"></div>
			</div>
		</div>

		<!-- 投注项名称 左右排列-->
		<div class="item-name" v-if="$slots.itemName">
			<slot name="itemName"></slot>
		</div>

		<!-- 赔率 -->
        <div class="item-odds">
            <div class="odd-arrow" v-show="(position == 'left' || position == 'middle') && oddsClass != 'normal' ">
                <!-- 赔率下降 -->
                <div class="odd-down" v-show="oddsClass == 'red'">
                    <div class="odd-down-2"></div>
                    <div class="odd-down-1"></div>
                </div>
                <!-- 赔率上升 -->
                <div class="odd-up" v-show="oddsClass == 'green'">
                    <div class="odd-up-2"></div>
                    <div class="odd-up-1"></div>
                </div>
            </div>
			
            <!-- 锁住 -->
            <div class="suspended common-suspended" v-if="itemSuspended">
            </div>
            <!-- "-"隐藏 -->
            <div class="line-hide" v-else-if="isLineHide(market, item)">-</div>
			      <!-- 赔率 -->
            <div :class="['odds', 'DIN', oddsClass]" v-else>
				{{  getOddGroup(match, market, item )  }}
            </div>

            <div class="odd-arrow" v-show="position == 'right' && oddsClass != 'normal' ">
                <!-- 赔率下降 -->
                <div class="odd-down" v-show="oddsClass == 'red'">
                    <div class="odd-down-2"></div>
                    <div class="odd-down-1"></div>
                </div>
                <!-- 赔率上升 -->
                <div class="odd-up" v-show="oddsClass == 'green'">
                    <div class="odd-up-2"></div>
                    <div class="odd-up-1"></div>
                </div>
            </div>
        </div>

		<!-- 赛事串关 -->
		<div :class="['cross-icon', position, crossClass]" v-show="hasCrossIcon(match, market)" >
			<template v-if="crossClass">
				<i class="icon cross-right" v-if="position == 'left' || position == 'middle'"> </i>
				<i class="icon cross-left" v-else></i>
			</template>
			<template v-else>
				<i class="icon cross-left" v-if="position == 'left'"> </i>
				<i class="icon cross-right" v-else></i>
			</template>
		</div>
    </div>
</template>
<script>
import mixBetStatus from "@/views/common/mixins/mixBetStatus.js";
import mixAddCart from "@/views/common/mixins/mixAddCart.js";
import { mapGetters } from "vuex"
                // itemid: item.id,
                // marketid: match.m.id,
                // matchid: match.id,
export default {
	mixins:[ mixBetStatus, mixAddCart ],
    props:[
		"position",   // 渲染位置
		"info",       // 信息: 投注项 盘口  赛事
		"showItem",  // 是否显示投注项， 不显示锁住。
		"showCrossIcon", // 是否显示赛事串关图标
		"crossClass", // 详情页面角标样式
		"isVr"
	],
    data() {
        return {
			oddsClass: "normal",
        };
    },
    computed:{
        ...mapGetters([
          "betItemId",
          "stationOpen",
          "betActiveType",
		  "mqMatch",
		  "mqMarket",
		  "mqOdds"
        ]),

		match(){
			if( this.isVr ){
				return this.info.match
			}else{
				const mqMatch = this.mqMatch;
				return mqMatch[this.info.matchid]
			}
		},

		market(){
			if( this.isVr ){
				return this.info.market
			}else{
				const mqMarket = this.mqMarket;
				return mqMarket[this.info.marketid]
			}
		},

		item(){
			if( this.isVr ){
				return this.info.item
			}else{
				const mqOdds = this.mqOdds;
				return mqOdds[this.info.itemid]
			}
		},
		
        hasSuspended(){
			const { item, market, match } = this;
			if( item && market && match ){
				return this.issuspended(item, market, match)
			}else{
				return true
			}
        },

        hasLineHide(){
          const { market, item } = this;
          return this.isLineHide(market, item)
        },
		// 上锁
		itemSuspended(){
			const { item, market, match } = this;
			
			if( item && market && match ){
				return this.issuspended(item, market, match)  // 投注项隐藏
					|| this.market.status != 6 // 盘口不是开盘状态
					|| this.match.status != 5 // 赛事不是开盘状态
					|| (Number(this.getOddGroup( match, market,item )) < 1.001 ) // 赔率小于1.01
			}else{
				return true
			}
		},
    },
    watch: {

        "item.odd":{	
			handler(v, ov){
				if( this.hasSuspended || this.hasLineHide ){
					return;
				}
				if (Number(v) > Number(ov)) {
					this.oddsClass = "green";
				} else if (Number(v) < Number(ov)) {
					this.oddsClass = "red";
				} else {
					this.oddsClass = "normal";
				}	
				this.setOddsTime();
			},
			deep: true,
			immediate: false			
        },
    },
    methods: {
        setOddsTime() {
			clearTimeout(this.oddsTime);
            this.oddsTime = setTimeout(() => {
                this.oddsClass = "normal";
            }, 3800);
		},
		// 添加到注单 
		addOrderToCart(){
      		const page = this.$route.path.split('/')[1];
			switch(page){
				case 'home':
					// 赛事列表盘口投注点击
					// this.$store.commit("SET_TRACK", { tab: 18, page: 1 });
					break;
				case 'markets':
					// 盘口投注点击次数统计（即在赛事详情页点击盘口的操作统计）
					// this.$store.commit("SET_TRACK", { tab: 22, page: 2 });
					break;
			}
			if( this.stationOpen ){
				// 添加到局内注单列表
				this.addStationCart(this.item, this.market, this.match)
			}else{

				if(this.betActiveType=='isCross'){
					if( !this.hasCrossIcon(this.market, this.match)){
						this.$message({
							message: this.$t('common.betItem.nocross'),
							duration: 2000000,
							crossTip: true,
							getContainer: this.isFullscreen ? document.querySelector('#full') : ''
						});
					} else {
						// 添加到串注注单列表
						this.addCart(this.item, this.market, this.match, 'isCross')
					}
					
				}else{
					// 添加到普通注单列表
					this.addCart(this.item, this.market, this.match, 'isSingle')
				}
			}
		},

		classActiveFun(){
			if( !this.item ){
				return false;
			}
			if( this.stationOpen ){
				return this.stationID.includes(this.item.id)
			}else{
				return this.betItemId.includes(this.item.id)
			}
		},
		//串关图标
        hasCrossIcon(match, market){
            if(match && market && match.is_pass_off != 0 && market.is_pass_off != 0 && !this.stationOpen && this.showCrossIcon && this.betActiveType == 'isCross'){
                return true
            }
            return false
        }

    },
    destroyed() {
        clearTimeout(this.oddsTime);
	},
}
</script>
<style lang="less" scoped>

.BetItem-box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
	border-radius: 4px;
	padding: 0 8px;
	z-index: 2;
	position: relative;
	border: 1px solid rgba(0,0,0,0);
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 200%;
		height: 200%;
		transform-origin: 0 0;
		transform: scale(0.5,0.5);
		border-radius: 8px;
		z-index: -1;
		background-image: linear-gradient(1deg, rgba(63,67,59,0.20) 4%, rgba(19,20,18,0.40) 50%, rgba(42,43,38,0.30) 99%);
	}
	&::after{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 200%;
		height: 200%;
		transform-origin: 0 0;
		transform: scale(0.5,0.5);
		border: 1px solid rgba(255,255,255,0.3);
		border-radius: 8px;
		z-index: -1;
	}
    &.box-active{
		background: rgba(0,149,255,0.20);
		border: 1px solid #0095FF;
		&::after{
			border: none;
		}
		.item-name{
			color: #fff !important;
		}
    }
	&.box-red{
		background-image: linear-gradient(180deg, rgba(255,81,0,0.19) 1%, rgba(255,104,20,0.00) 42%, rgba(255,93,22,0.00) 62%, rgba(255,85,31,0.08) 100%);
		border: 1px solid rgba(255, 71, 41, 0.4);
		box-shadow: 0 0 6px 0 #E84125, inset 0 0 4px 0 rgba(255,255,255,0.14);
		animation: redBox-shadow-opacity 2s linear infinite;
		&::after{
			border: none !important;
		}
	}
	&.box-green{
		background-image: linear-gradient(180deg, rgba(145,255,0,0.19) 0%, rgba(84,255,20,0.00) 41%, rgba(71,255,22,0.00) 61%, rgba(64,255,31,0.08) 100%);
		border: 1px solid rgba(0, 255, 59, 0.4);
		box-shadow: 0 0 6px 0 #00E535, inset 0 0 4px 0 rgba(255,255,255,0.14);
		animation: greenBox-shadow-opacity 2s linear infinite;
		&::after{
			border: none !important;
		}
	}
	&.box-suspended, &.box-lineHide{
		background: rgba(0,0,0,0.06);
		pointer-events: none;
		&::after{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 200%;
			height: 200%;
			transform-origin: 0 0;
			transform: scale(0.5,0.5);
			border: 1px solid rgba(255,255,255,0.1);
			border-radius: 8px;
			z-index: -1;
		}
		.item-name{
            color: rgba(255,255,255,0.8);
		}
	}
	.item-name{
		font-size: 12px;
		color: rgba(255,255,255,0.6);
	}
	.top-name{
		position: absolute;
		width: 100%;
		height: 20px;
		top: -24px;
		font-size: 14px;
		color: rgba(255,255,255,0.6);
	}
	&.box-opacity{
		background: transparent !important;
		.item-name{
			display: none !important;
		}
		.item-odds{
			display: none;
		}           
		&.left{
			&:after{
				background-image: url("~@/assets/images/market/odds-right-false.png") !important;
			}
		}
		&.right{
			&:after{
				background-image: url("~@/assets/images/market/odds-left-false.png") !important;
			}
		}
		&:before{
			background: transparent !important;
		}
	}
	.item-bubbles{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;
		overflow: hidden;
	}
    .item-odds{
        font-size: 16px;
        color: #FFFFFF;
        display: flex;
		align-items: center;
		margin-top: 4px;
		.odds.green{
			animation: greenwords ease-in-out 3s forwards;
		}
		.odds.red{
			animation: redwords ease-in-out 3s forwards;
		}
		.odd-arrow{
			width: 20px;
			height: 20px;
		}
		.suspended{
			width: 16px;
			height: 16px;
		}
      .line-hide {
        width: 16px;
        height: 16px;
        color: rgba(255,255,255,0.4);
        text-align: center;
      }
    }
	.cross-icon{
		width: 24px;
		height: 24px;
		max-width: 24px;
		max-height: 24px;
		position: absolute;
		top: 0;
		z-index: 55;
		&.left{
			left: 0;
		}
		&.middle{
			right: 0;
			padding: 0;
		}
		&.right{
			right: 0;
		}
		.icon{
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	.detail-cross{
		&.left{
			right: 0;
			left: initial;
		}
		&.middle{
			right: 0;
			padding: 0;
		}
		&.right{
			left: 0;
		}
	}
}

.odd-down-1{
    left: 7.00px;
    top: 0.39px;
    width: 34px;
    height: 30px;
    transform-style: preserve-3d;
    transform: translate3D(0,0,0.00px) rotate(0.00deg) scale(1.00,1.00);
    opacity: 1.00;
    transform-origin:50.00% 50.00%;
    display: block;
    position: absolute; 
    background: url("~@/assets/images/odds/odd-down-1.png") no-repeat;
    background-size: 100% 100%;
    animation:odd_down_2 8.20s steps(1) 0.00s infinite normal none;
}
.odd-up{
    background: transparent;
    width: 48px;
    height: 48px;
    display: block;
    overflow: hidden;
    position: relative;
	transform: scale(20/48);
	transform-origin:0 0;
}
.odd-up-2{
    left: 7.50px;
    top: 19.00px;
    width: 34px;
    height: 30px;
    display: block;
    position: absolute; 
    background: url("~@/assets/images/odds/odd-up-1.png") no-repeat;
    background-size: 100% 100%;
    animation:odd_up_2 8.20s steps(1) 0.00s infinite normal none;
}
.odd-up-1{
    left: 7.50px;
    top: 9.00px;
    width: 34px;
    height: 28px;
    position: absolute; 
    background: url("~@/assets/images/odds/odd-up-2.png") no-repeat;
    background-size: 100% 100%;
    animation:odd_up_1 8.20s steps(1) 0.00s infinite normal none;
}
.odd-down{
    background: transparent;
    width: 48px;
    height: 48px;
    display: block;
    overflow: hidden;
    position: relative;
	transform: scale(20/48);
	transform-origin:0 0;
}
.odd-down-2{
    left: 7.00px;
    top: 11.50px;
    width: 34px;
    height: 28px;
    display: block;
    position: absolute; 
    animation: odd_down_1 8.20s steps(1) 0.00s infinite normal none;
    background: url("~@/assets/images/odds/odd-down-2.png") no-repeat;
    background-size: 100% 100%;
}

.bubbles-box{
    width: 528px;
	height: 152px;
    transform-origin:0 0;
}
.bubbles-green {
    background-image: url("~@/assets/images/odds/green-bubbles.png");
    width: 528px;
	height: 152px;
	
    animation: bubbles-animation 8.20s steps(1) 0s infinite normal none;
}
.bubbles-red {
    background-image: url("~@/assets/images/odds/red-bubbles.png");
    width: 528px;
	height: 152px;
	transform: rotate(180.00deg);
    animation: bubbles-animation 8.20s steps(1) 0s infinite normal none;
}

// 文字动画
@keyframes redwords{
	0%{
		transform: translateY(0);
		color: #ffffff;
		opacity: 1;
	}
	5%{
		transform: translateY(4px) ;
		color: #ffffff;
		opacity: 0.7;
	}
	10%{
		transform: translateY(8px) ;
		color: #ffffff;
		opacity: 0.4;
	}
	19%{
		transform: translateY(10px) ;
		color: #FF3029;
		opacity: 0;
	}
	20%{
		transform: translateX(0);
		color: #FF3029;
		opacity: 0;
	}
	25%{
		transform: translateX(0);
		color: #FF3029;
		opacity: 1;
	}
	30%{
		transform: translateX(0);
		color: #FF3029;
		opacity: 0;
	}
	40%{
		transform: translateX(0);
		color: #FF3029;
		opacity: 1;
	}
	50%{
		color: #FF3029;
		opacity: 1;
	}
	60%{
		color: #FF3029;
		opacity: 1;
	}
	70%{
		color: #FF3029;
		opacity: 1;
	}
	80%{
		color: #FF3029;
		opacity: 1;
	}
	90%{
		color: #FF3029;
		opacity: 1;
	}
	100%{
		color: #FF3029;
		opacity: 1;
	}
}

@keyframes greenwords{
	0%{
		transform: translateY(0);
		color: #ffffff;
		opacity: 1;
	}
	5%{
		transform: translateY(-4px) ;
		color: #ffffff;
		opacity: 0.7;
	}
	10%{
		transform: translateY(-8px) ;
		color: #ffffff;
		opacity: 0.4;
	}
	19%{
		transform: translateY(-10px) ;
		color: #00FF3B;
		opacity: 0;
	}
	20%{
		transform: translateX(0);
		color: #00FF3B;
		opacity: 0;
	}
	30%{
		transform: translateX(0);
		color: #00FF3B;
		opacity: 0;
	}
	40%{
		transform: translateX(0);
		color: #00FF3B;
		opacity: 1;
	}
	50%{
		color: #00FF3B;
		opacity: 1;
	}
	60%{
		color: #00FF3B;
		opacity: 1;
	}
	70%{
		color: #00FF3B;
		opacity: 1;
	}
	80%{
		color: #00FF3B;
		opacity: 1;
	}
	90%{
		color: #00FF3B;
		opacity: 1;
	}
	100%{
		color: #00FF3B;
		opacity: 1;
	}
}

// 边框阴影动画
@keyframes redBox-shadow-opacity {
    0% {
        box-shadow: 0 0 6px 0 rgba(232, 65, 37, 1), inset 0 0 4px 0 rgba(255,255,255,0.14);
    }
    25% {
        box-shadow: 0 0 6px 0 rgba(232, 65, 37, 0.7), inset 0 0 4px 0 rgba(255,255,255,0.14);
    }
    50% {
        box-shadow: 0 0 6px 0 rgba(232, 65, 37, 1), inset 0 0 4px 0 rgba(255,255,255,0.14);
    }
    75% {
        box-shadow: 0 0 6px 0 rgba(232, 65, 37, 0.7), inset 0 0 4px 0 rgba(255,255,255,0.14);
    }
    100% {
        box-shadow: 0 0 6px 0 rgba(232, 65, 37, 1), inset 0 0 4px 0 rgba(255,255,255,0.14);
    }
}
@keyframes greenBox-shadow-opacity {
    0% {
        box-shadow: 0 0 6px 0 rgba(0, 229, 53, 1), inset 0 0 4px 0 rgba(255,255,255,0.14);
    }
    25% {
        box-shadow: 0 0 6px 0 rgba(0, 229, 53, 0.7), inset 0 0 4px 0 rgba(255,255,255,0.14);
    }
    50% {
        box-shadow: 0 0 6px 0 rgba(0, 229, 53, 1), inset 0 0 4px 0 rgba(255,255,255,0.14);
    }
    75% {
        box-shadow: 0 0 6px 0 rgba(0, 229, 53, 0.7), inset 0 0 4px 0 rgba(255,255,255,0.14);
    }
    100% {
        box-shadow: 0 0 6px 0 rgba(0, 229, 53, 1), inset 0 0 4px 0 rgba(255,255,255,0.14);
    }
}

// 赔率上升下降动画
@keyframes odd_down_1{
	0.00% {transform: translate3D(0.00px,0.00px,0.00px)  ;}
	0.49% {transform: translate3D(0.00px,0.08px,0.00px)  ;}
	0.98% {transform: translate3D(0.00px,0.31px,0.00px)  ;}
	1.46% {transform: translate3D(0.00px,0.67px,0.00px)  ;}
	1.95% {transform: translate3D(0.00px,1.13px,0.00px)  ;}
	2.44% {transform: translate3D(0.00px,1.67px,0.00px)  ;}
	2.93% {transform: translate3D(-0.00px,2.29px,0.00px)  ;}
	3.41% {transform: translate3D(0.00px,2.95px,0.00px)  ;}
	3.90% {transform: translate3D(0.00px,3.65px,0.00px)  ;}
	4.39% {transform: translate3D(0.00px,4.35px,0.00px)  ;}
	4.88% {transform: translate3D(0.00px,5.05px,0.00px)  ;}
	5.37% {transform: translate3D(0.00px,5.71px,0.00px)  ;}
	5.85% {transform: translate3D(0.00px,6.33px,0.00px)  ;}
	6.34% {transform: translate3D(0.00px,6.87px,0.00px)  ;}
	6.83% {transform: translate3D(0.00px,7.34px,0.00px)  ;}
	7.32% {transform: translate3D(0.00px,7.69px,0.00px)  ;}
	7.80% {transform: translate3D(0.00px,7.92px,0.00px)  ;}
	8.29% {transform: translate3D(0.00px,8.00px,0.00px)  ;}
	8.78% {transform: translate3D(0.00px,7.91px,0.00px)  ;}
	9.27% {transform: translate3D(-0.00px,7.65px,0.00px)  ;}
	9.76% {transform: translate3D(0.00px,7.25px,0.00px)  ;}
	10.24% {transform: translate3D(-0.00px,6.75px,0.00px)  ;}
	10.73% {transform: translate3D(0.00px,6.14px,0.00px)  ;}
	11.22% {transform: translate3D(-0.00px,5.46px,0.00px)  ;}
	11.71% {transform: translate3D(0.00px,4.74px,0.00px)  ;}
	12.20% {transform: translate3D(-0.00px,4.00px,0.00px)  ;}
	12.68% {transform: translate3D(0.00px,3.26px,0.00px)  ;}
	13.17% {transform: translate3D(0.00px,2.54px,0.00px)  ;}
	13.66% {transform: translate3D(0.00px,1.86px,0.00px)  ;}
	14.15% {transform: translate3D(0.00px,1.25px,0.00px)  ;}
	14.63% {transform: translate3D(0.00px,0.74px,0.00px)  ;}
	15.12% {transform: translate3D(0.00px,0.35px,0.00px)  ;}
	15.61% {transform: translate3D(-0.00px,0.09px,0.00px)  ;}
	16.10% {transform: translate3D(0.00px,0.00px,0.00px)  ;}
	16.59% {transform: translate3D(-0.00px,0.08px,0.00px)  ;}
	17.07% {transform: translate3D(0.00px,0.31px,0.00px)  ;}
	17.56% {transform: translate3D(-0.00px,0.66px,0.00px)  ;}
	18.05% {transform: translate3D(0.00px,1.12px,0.00px)  ;}
	18.54% {transform: translate3D(0.00px,1.67px,0.00px)  ;}
	19.02% {transform: translate3D(-0.00px,2.29px,0.00px)  ;}
	19.51% {transform: translate3D(0.00px,2.96px,0.00px)  ;}
	20.00% {transform: translate3D(0.00px,3.65px,0.00px)  ;}
	20.49% {transform: translate3D(0.00px,4.35px,0.00px)  ;}
	20.98% {transform: translate3D(0.00px,5.04px,0.00px)  ;}
	21.46% {transform: translate3D(0.00px,5.71px,0.00px)  ;}
	21.95% {transform: translate3D(0.00px,6.33px,0.00px)  ;}
	22.44% {transform: translate3D(-0.00px,6.88px,0.00px)  ;}
	22.93% {transform: translate3D(0.00px,7.33px,0.00px)  ;}
	23.41% {transform: translate3D(0.00px,7.69px,0.00px)  ;}
	23.90% {transform: translate3D(0.00px,7.92px,0.00px)  ;}
	24.39% {transform: translate3D(0.00px,8.00px,0.00px)  ;}
	24.88% {transform: translate3D(0.00px,7.91px,0.00px)  ;}
	25.37% {transform: translate3D(-0.00px,7.65px,0.00px)  ;}
	25.85% {transform: translate3D(0.00px,7.25px,0.00px)  ;}
	26.34% {transform: translate3D(-0.00px,6.75px,0.00px)  ;}
	26.83% {transform: translate3D(0.00px,6.14px,0.00px)  ;}
	27.32% {transform: translate3D(-0.00px,5.46px,0.00px)  ;}
	27.80% {transform: translate3D(0.00px,4.74px,0.00px)  ;}
	28.29% {transform: translate3D(-0.00px,4.00px,0.00px)  ;}
	28.78% {transform: translate3D(0.00px,3.26px,0.00px)  ;}
	29.27% {transform: translate3D(0.00px,2.54px,0.00px)  ;}
	29.76% {transform: translate3D(0.00px,1.86px,0.00px)  ;}
	30.24% {transform: translate3D(0.00px,1.25px,0.00px)  ;}
	30.73% {transform: translate3D(0.00px,0.74px,0.00px)  ;}
	31.22% {transform: translate3D(0.00px,0.35px,0.00px)  ;}
	31.71% {transform: translate3D(-0.00px,0.09px,0.00px)  ;}
	32.20% {transform: translate3D(0.00px,0.00px,0.00px)  ;}
	32.68% {transform: translate3D(0.00px,0.09px,0.00px)  ;}
	33.17% {transform: translate3D(0.00px,0.35px,0.00px)  ;}
	33.66% {transform: translate3D(0.00px,0.74px,0.00px)  ;}
	34.15% {transform: translate3D(-0.00px,1.25px,0.00px)  ;}
	34.63% {transform: translate3D(0.00px,1.86px,0.00px)  ;}
	35.12% {transform: translate3D(0.00px,2.54px,0.00px)  ;}
	35.61% {transform: translate3D(-0.00px,3.26px,0.00px)  ;}
	36.10% {transform: translate3D(0.00px,4.00px,0.00px)  ;}
	36.59% {transform: translate3D(-0.00px,4.74px,0.00px)  ;}
	37.07% {transform: translate3D(0.00px,5.46px,0.00px)  ;}
	37.56% {transform: translate3D(0.00px,6.14px,0.00px)  ;}
	38.05% {transform: translate3D(0.00px,6.75px,0.00px)  ;}
	38.54% {transform: translate3D(0.00px,7.25px,0.00px)  ;}
	39.02% {transform: translate3D(0.00px,7.65px,0.00px)  ;}
	39.51% {transform: translate3D(0.00px,7.91px,0.00px)  ;}
	40.00% {transform: translate3D(0.00px,8.00px,0.00px)  ;}
	40.49% {transform: translate3D(-0.00px,7.93px,0.00px)  ;}
	40.98% {transform: translate3D(0.00px,7.72px,0.00px)  ;}
	41.46% {transform: translate3D(0.00px,7.40px,0.00px)  ;}
	41.95% {transform: translate3D(0.00px,6.99px,0.00px)  ;}
	42.44% {transform: translate3D(-0.00px,6.49px,0.00px)  ;}
	42.93% {transform: translate3D(0.00px,5.92px,0.00px)  ;}
	43.41% {transform: translate3D(0.00px,5.31px,0.00px)  ;}
	43.90% {transform: translate3D(-0.00px,4.66px,0.00px)  ;}
	44.39% {transform: translate3D(-0.00px,4.00px,0.00px)  ;}
	44.88% {transform: translate3D(0.00px,3.35px,0.00px)  ;}
	45.37% {transform: translate3D(-0.00px,2.70px,0.00px)  ;}
	45.85% {transform: translate3D(0.00px,2.08px,0.00px)  ;}
	46.34% {transform: translate3D(0.00px,1.51px,0.00px)  ;}
	46.83% {transform: translate3D(-0.00px,1.01px,0.00px)  ;}
	47.32% {transform: translate3D(0.00px,0.60px,0.00px)  ;}
	47.80% {transform: translate3D(0.00px,0.28px,0.00px)  ;}
	48.29% {transform: translate3D(0.00px,0.07px,0.00px)  ;}
	48.78% {transform: translate3D(0.00px,0.00px,0.00px)  ;}
	49.27% {transform: translate3D(-0.00px,0.15px,0.00px)  ;}
	49.76% {transform: translate3D(0.00px,0.49px,0.00px)  ;}
	50.24% {transform: translate3D(0.00px,0.90px,0.00px)  ;}
	50.73% {transform: translate3D(0.00px,1.36px,0.00px)  ;}
	51.22% {transform: translate3D(0.00px,1.85px,0.00px)  ;}
	51.71% {transform: translate3D(-0.00px,2.37px,0.00px)  ;}
	52.20% {transform: translate3D(0.00px,2.88px,0.00px)  ;}
	52.68% {transform: translate3D(0.00px,3.40px,0.00px)  ;}
	53.17% {transform: translate3D(0.00px,3.91px,0.00px)  ;}
	53.66% {transform: translate3D(0.00px,4.41px,0.00px)  ;}
	54.15% {transform: translate3D(0.00px,4.90px,0.00px)  ;}
	54.63% {transform: translate3D(-0.00px,5.37px,0.00px)  ;}
	55.12% {transform: translate3D(0.00px,5.83px,0.00px)  ;}
	55.61% {transform: translate3D(0.00px,6.26px,0.00px)  ;}
	56.10% {transform: translate3D(0.00px,6.65px,0.00px)  ;}
	56.59% {transform: translate3D(0.00px,7.01px,0.00px)  ;}
	57.07% {transform: translate3D(0.00px,7.33px,0.00px)  ;}
	57.56% {transform: translate3D(0.00px,7.59px,0.00px)  ;}
	58.05% {transform: translate3D(0.00px,7.81px,0.00px)  ;}
	58.54% {transform: translate3D(0.00px,7.95px,0.00px)  ;}
	59.02% {transform: translate3D(0.00px,8.00px,0.00px)  ;}
	59.51% {transform: translate3D(0.00px,7.91px,0.00px)  ;}
	60.00% {transform: translate3D(-0.00px,7.65px,0.00px)  ;}
	60.49% {transform: translate3D(0.00px,7.25px,0.00px)  ;}
	60.98% {transform: translate3D(-0.00px,6.75px,0.00px)  ;}
	61.46% {transform: translate3D(0.00px,6.14px,0.00px)  ;}
	61.95% {transform: translate3D(-0.00px,5.46px,0.00px)  ;}
	62.44% {transform: translate3D(0.00px,4.74px,0.00px)  ;}
	62.93% {transform: translate3D(-0.00px,4.00px,0.00px)  ;}
	63.41% {transform: translate3D(0.00px,3.26px,0.00px)  ;}
	63.90% {transform: translate3D(0.00px,2.54px,0.00px)  ;}
	64.39% {transform: translate3D(0.00px,1.86px,0.00px)  ;}
	64.88% {transform: translate3D(0.00px,1.25px,0.00px)  ;}
	65.37% {transform: translate3D(0.00px,0.74px,0.00px)  ;}
	65.85% {transform: translate3D(0.00px,0.35px,0.00px)  ;}
	66.34% {transform: translate3D(-0.00px,0.09px,0.00px)  ;}
	66.83% {transform: translate3D(0.00px,0.00px,0.00px)  ;}
	67.32% {transform: translate3D(-0.00px,0.08px,0.00px)  ;}
	67.80% {transform: translate3D(0.00px,0.31px,0.00px)  ;}
	68.29% {transform: translate3D(-0.00px,0.66px,0.00px)  ;}
	68.78% {transform: translate3D(0.00px,1.12px,0.00px)  ;}
	69.27% {transform: translate3D(0.00px,1.67px,0.00px)  ;}
	69.76% {transform: translate3D(-0.00px,2.29px,0.00px)  ;}
	70.24% {transform: translate3D(0.00px,2.96px,0.00px)  ;}
	70.73% {transform: translate3D(0.00px,3.65px,0.00px)  ;}
	71.22% {transform: translate3D(0.00px,4.35px,0.00px)  ;}
	71.71% {transform: translate3D(0.00px,5.04px,0.00px)  ;}
	72.20% {transform: translate3D(0.00px,5.71px,0.00px)  ;}
	72.68% {transform: translate3D(0.00px,6.33px,0.00px)  ;}
	73.17% {transform: translate3D(-0.00px,6.88px,0.00px)  ;}
	73.66% {transform: translate3D(0.00px,7.33px,0.00px)  ;}
	74.15% {transform: translate3D(0.00px,7.69px,0.00px)  ;}
	74.63% {transform: translate3D(0.00px,7.92px,0.00px)  ;}
	75.12% {transform: translate3D(0.00px,8.00px,0.00px)  ;}
	75.61% {transform: translate3D(0.00px,7.91px,0.00px)  ;}
	76.10% {transform: translate3D(-0.00px,7.65px,0.00px)  ;}
	76.59% {transform: translate3D(0.00px,7.25px,0.00px)  ;}
	77.07% {transform: translate3D(-0.00px,6.75px,0.00px)  ;}
	77.56% {transform: translate3D(0.00px,6.14px,0.00px)  ;}
	78.05% {transform: translate3D(-0.00px,5.46px,0.00px)  ;}
	78.54% {transform: translate3D(0.00px,4.74px,0.00px)  ;}
	79.02% {transform: translate3D(-0.00px,4.00px,0.00px)  ;}
	79.51% {transform: translate3D(0.00px,3.26px,0.00px)  ;}
	80.00% {transform: translate3D(0.00px,2.54px,0.00px)  ;}
	80.49% {transform: translate3D(0.00px,1.86px,0.00px)  ;}
	80.98% {transform: translate3D(0.00px,1.25px,0.00px)  ;}
	81.46% {transform: translate3D(0.00px,0.74px,0.00px)  ;}
	81.95% {transform: translate3D(0.00px,0.35px,0.00px)  ;}
	82.44% {transform: translate3D(-0.00px,0.09px,0.00px)  ;}
	82.93% {transform: translate3D(0.00px,0.00px,0.00px)  ;}
	83.41% {transform: translate3D(0.00px,0.09px,0.00px)  ;}
	83.90% {transform: translate3D(0.00px,0.35px,0.00px)  ;}
	84.39% {transform: translate3D(0.00px,0.74px,0.00px)  ;}
	84.88% {transform: translate3D(-0.00px,1.25px,0.00px)  ;}
	85.37% {transform: translate3D(0.00px,1.86px,0.00px)  ;}
	85.85% {transform: translate3D(0.00px,2.54px,0.00px)  ;}
	86.34% {transform: translate3D(-0.00px,3.26px,0.00px)  ;}
	86.83% {transform: translate3D(0.00px,4.00px,0.00px)  ;}
	87.32% {transform: translate3D(-0.00px,4.74px,0.00px)  ;}
	87.80% {transform: translate3D(0.00px,5.46px,0.00px)  ;}
	88.29% {transform: translate3D(0.00px,6.14px,0.00px)  ;}
	88.78% {transform: translate3D(0.00px,6.75px,0.00px)  ;}
	89.27% {transform: translate3D(0.00px,7.25px,0.00px)  ;}
	89.76% {transform: translate3D(0.00px,7.65px,0.00px)  ;}
	90.24% {transform: translate3D(0.00px,7.91px,0.00px)  ;}
	90.73% {transform: translate3D(0.00px,8.00px,0.00px)  ;}
	91.22% {transform: translate3D(-0.00px,7.93px,0.00px)  ;}
	91.71% {transform: translate3D(0.00px,7.73px,0.00px)  ;}
	92.20% {transform: translate3D(-0.00px,7.41px,0.00px)  ;}
	92.68% {transform: translate3D(0.00px,6.99px,0.00px)  ;}
	93.17% {transform: translate3D(0.00px,6.49px,0.00px)  ;}
	93.66% {transform: translate3D(0.00px,5.93px,0.00px)  ;}
	94.15% {transform: translate3D(-0.00px,5.31px,0.00px)  ;}
	94.63% {transform: translate3D(0.00px,4.66px,0.00px)  ;}
	95.12% {transform: translate3D(0.00px,4.00px,0.00px)  ;}
	95.61% {transform: translate3D(0.00px,3.34px,0.00px)  ;}
	96.10% {transform: translate3D(0.00px,2.69px,0.00px)  ;}
	96.59% {transform: translate3D(0.00px,2.07px,0.00px)  ;}
	97.07% {transform: translate3D(0.00px,1.52px,0.00px)  ;}
	97.56% {transform: translate3D(0.00px,1.02px,0.00px)  ;}
	98.05% {transform: translate3D(0.00px,0.60px,0.00px)  ;}
	98.54% {transform: translate3D(0.00px,0.28px,0.00px)  ;}
	99.02% {transform: translate3D(0.00px,0.07px,0.00px)  ;}
	99.51% {transform: translate3D(0.00px,0.00px,0.00px)  ;}
	100.00% {transform: translate3D(0.00px,0.00px,0.00px)  ;}
}
@keyframes odd_down_2{
	0.00% {transform: translate3D(0.00px,0.00px,0.00px)  ;}
	0.49% {transform: translate3D(0.00px,0.39px,0.00px)  ;}
	0.98% {transform: translate3D(-0.00px,0.78px,0.00px)  ;}
	1.46% {transform: translate3D(0.00px,1.16px,0.00px)  ;}
	1.95% {transform: translate3D(-0.00px,1.55px,0.00px)  ;}
	2.44% {transform: translate3D(-0.00px,1.94px,0.00px)  ;}
	2.93% {transform: translate3D(-0.00px,2.33px,0.00px)  ;}
	3.41% {transform: translate3D(0.00px,2.72px,0.00px)  ;}
	3.90% {transform: translate3D(0.00px,3.10px,0.00px)  ;}
	4.39% {transform: translate3D(-0.00px,3.49px,0.00px)  ;}
	4.88% {transform: translate3D(-0.00px,3.88px,0.00px)  ;}
	5.37% {transform: translate3D(0.00px,4.27px,0.00px)  ;}
	5.85% {transform: translate3D(0.00px,4.66px,0.00px)  ;}
	6.34% {transform: translate3D(0.00px,5.05px,0.00px)  ;}
	6.83% {transform: translate3D(0.00px,5.44px,0.00px)  ;}
	7.32% {transform: translate3D(0.00px,5.83px,0.00px)  ;}
	7.80% {transform: translate3D(0.00px,6.22px,0.00px)  ;}
	8.29% {transform: translate3D(0.00px,6.61px,0.00px)  ;}
	8.78% {transform: translate3D(-0.00px,6.16px,0.00px)  ;}
	9.27% {transform: translate3D(0.00px,5.73px,0.00px)  ;}
	9.76% {transform: translate3D(-0.00px,5.29px,0.00px)  ;}
	10.24% {transform: translate3D(-0.00px,4.85px,0.00px)  ;}
	10.73% {transform: translate3D(0.00px,4.42px,0.00px)  ;}
	11.22% {transform: translate3D(0.00px,3.98px,0.00px)  ;}
	11.71% {transform: translate3D(0.00px,3.54px,0.00px)  ;}
	12.20% {transform: translate3D(0.00px,3.11px,0.00px)  ;}
	12.68% {transform: translate3D(0.00px,2.68px,0.00px)  ;}
	13.17% {transform: translate3D(0.00px,2.24px,0.00px)  ;}
	13.66% {transform: translate3D(0.00px,1.80px,0.00px)  ;}
	14.15% {transform: translate3D(0.00px,1.36px,0.00px)  ;}
	14.63% {transform: translate3D(0.00px,0.92px,0.00px)  ;}
	15.12% {transform: translate3D(0.00px,0.48px,0.00px)  ;}
	15.61% {transform: translate3D(0.00px,0.05px,0.00px)  ;}
	16.10% {transform: translate3D(0.00px,-0.39px,0.00px)  ;}
	16.59% {transform: translate3D(-0.00px,0.02px,0.00px)  ;}
	17.07% {transform: translate3D(0.00px,0.43px,0.00px)  ;}
	17.56% {transform: translate3D(0.00px,0.84px,0.00px)  ;}
	18.05% {transform: translate3D(-0.00px,1.26px,0.00px)  ;}
	18.54% {transform: translate3D(-0.00px,1.67px,0.00px)  ;}
	19.02% {transform: translate3D(-0.00px,2.09px,0.00px)  ;}
	19.51% {transform: translate3D(0.00px,2.50px,0.00px)  ;}
	20.00% {transform: translate3D(0.00px,2.91px,0.00px)  ;}
	20.49% {transform: translate3D(0.00px,3.31px,0.00px)  ;}
	20.98% {transform: translate3D(0.00px,3.72px,0.00px)  ;}
	21.46% {transform: translate3D(0.00px,4.13px,0.00px)  ;}
	21.95% {transform: translate3D(0.00px,4.54px,0.00px)  ;}
	22.44% {transform: translate3D(0.00px,4.96px,0.00px)  ;}
	22.93% {transform: translate3D(0.00px,5.37px,0.00px)  ;}
	23.41% {transform: translate3D(0.00px,5.78px,0.00px)  ;}
	23.90% {transform: translate3D(0.00px,6.19px,0.00px)  ;}
	24.39% {transform: translate3D(0.00px,6.61px,0.00px)  ;}
	24.88% {transform: translate3D(-0.00px,6.16px,0.00px)  ;}
	25.37% {transform: translate3D(0.00px,5.73px,0.00px)  ;}
	25.85% {transform: translate3D(-0.00px,5.29px,0.00px)  ;}
	26.34% {transform: translate3D(-0.00px,4.85px,0.00px)  ;}
	26.83% {transform: translate3D(0.00px,4.42px,0.00px)  ;}
	27.32% {transform: translate3D(0.00px,3.98px,0.00px)  ;}
	27.80% {transform: translate3D(0.00px,3.54px,0.00px)  ;}
	28.29% {transform: translate3D(0.00px,3.11px,0.00px)  ;}
	28.78% {transform: translate3D(0.00px,2.68px,0.00px)  ;}
	29.27% {transform: translate3D(0.00px,2.24px,0.00px)  ;}
	29.76% {transform: translate3D(0.00px,1.80px,0.00px)  ;}
	30.24% {transform: translate3D(0.00px,1.36px,0.00px)  ;}
	30.73% {transform: translate3D(0.00px,0.92px,0.00px)  ;}
	31.22% {transform: translate3D(0.00px,0.48px,0.00px)  ;}
	31.71% {transform: translate3D(0.00px,0.05px,0.00px)  ;}
	32.20% {transform: translate3D(0.00px,-0.39px,0.00px)  ;}
	32.68% {transform: translate3D(0.00px,0.05px,0.00px)  ;}
	33.17% {transform: translate3D(0.00px,0.48px,0.00px)  ;}
	33.66% {transform: translate3D(-0.00px,0.92px,0.00px)  ;}
	34.15% {transform: translate3D(0.00px,1.36px,0.00px)  ;}
	34.63% {transform: translate3D(0.00px,1.80px,0.00px)  ;}
	35.12% {transform: translate3D(0.00px,2.24px,0.00px)  ;}
	35.61% {transform: translate3D(-0.00px,2.68px,0.00px)  ;}
	36.10% {transform: translate3D(0.00px,3.11px,0.00px)  ;}
	36.59% {transform: translate3D(0.00px,3.54px,0.00px)  ;}
	37.07% {transform: translate3D(0.00px,3.98px,0.00px)  ;}
	37.56% {transform: translate3D(0.00px,4.42px,0.00px)  ;}
	38.05% {transform: translate3D(-0.00px,4.85px,0.00px)  ;}
	38.54% {transform: translate3D(0.00px,5.29px,0.00px)  ;}
	39.02% {transform: translate3D(0.00px,5.73px,0.00px)  ;}
	39.51% {transform: translate3D(0.00px,6.16px,0.00px)  ;}
	40.00% {transform: translate3D(0.00px,6.61px,0.00px)  ;}
	40.49% {transform: translate3D(-0.00px,6.21px,0.00px)  ;}
	40.98% {transform: translate3D(0.00px,5.82px,0.00px)  ;}
	41.46% {transform: translate3D(0.00px,5.44px,0.00px)  ;}
	41.95% {transform: translate3D(0.00px,5.05px,0.00px)  ;}
	42.44% {transform: translate3D(0.00px,4.66px,0.00px)  ;}
	42.93% {transform: translate3D(0.00px,4.27px,0.00px)  ;}
	43.41% {transform: translate3D(0.00px,3.88px,0.00px)  ;}
	43.90% {transform: translate3D(0.00px,3.49px,0.00px)  ;}
	44.39% {transform: translate3D(0.00px,3.11px,0.00px)  ;}
	44.88% {transform: translate3D(-0.00px,2.72px,0.00px)  ;}
	45.37% {transform: translate3D(-0.00px,2.34px,0.00px)  ;}
	45.85% {transform: translate3D(-0.00px,1.95px,0.00px)  ;}
	46.34% {transform: translate3D(-0.00px,1.56px,0.00px)  ;}
	46.83% {transform: translate3D(0.00px,1.16px,0.00px)  ;}
	47.32% {transform: translate3D(0.00px,0.77px,0.00px)  ;}
	47.80% {transform: translate3D(0.00px,0.39px,0.00px)  ;}
	48.29% {transform: translate3D(0.00px,-0.00px,0.00px)  ;}
	48.78% {transform: translate3D(0.00px,-0.39px,0.00px)  ;}
	49.27% {transform: translate3D(0.00px,-0.06px,0.00px)  ;}
	49.76% {transform: translate3D(0.00px,0.28px,0.00px)  ;}
	50.24% {transform: translate3D(0.00px,0.61px,0.00px)  ;}
	50.73% {transform: translate3D(0.00px,0.94px,0.00px)  ;}
	51.22% {transform: translate3D(-0.00px,1.28px,0.00px)  ;}
	51.71% {transform: translate3D(0.00px,1.61px,0.00px)  ;}
	52.20% {transform: translate3D(-0.00px,1.95px,0.00px)  ;}
	52.68% {transform: translate3D(0.00px,2.28px,0.00px)  ;}
	53.17% {transform: translate3D(-0.00px,2.61px,0.00px)  ;}
	53.66% {transform: translate3D(0.00px,2.94px,0.00px)  ;}
	54.15% {transform: translate3D(-0.00px,3.27px,0.00px)  ;}
	54.63% {transform: translate3D(0.00px,3.60px,0.00px)  ;}
	55.12% {transform: translate3D(0.00px,3.94px,0.00px)  ;}
	55.61% {transform: translate3D(0.00px,4.27px,0.00px)  ;}
	56.10% {transform: translate3D(0.00px,4.60px,0.00px)  ;}
	56.59% {transform: translate3D(-0.00px,4.94px,0.00px)  ;}
	57.07% {transform: translate3D(0.00px,5.27px,0.00px)  ;}
	57.56% {transform: translate3D(0.00px,5.61px,0.00px)  ;}
	58.05% {transform: translate3D(0.00px,5.93px,0.00px)  ;}
	58.54% {transform: translate3D(0.00px,6.27px,0.00px)  ;}
	59.02% {transform: translate3D(0.00px,6.61px,0.00px)  ;}
	59.51% {transform: translate3D(-0.00px,6.16px,0.00px)  ;}
	60.00% {transform: translate3D(0.00px,5.73px,0.00px)  ;}
	60.49% {transform: translate3D(-0.00px,5.29px,0.00px)  ;}
	60.98% {transform: translate3D(-0.00px,4.85px,0.00px)  ;}
	61.46% {transform: translate3D(0.00px,4.42px,0.00px)  ;}
	61.95% {transform: translate3D(0.00px,3.98px,0.00px)  ;}
	62.44% {transform: translate3D(0.00px,3.54px,0.00px)  ;}
	62.93% {transform: translate3D(0.00px,3.11px,0.00px)  ;}
	63.41% {transform: translate3D(0.00px,2.68px,0.00px)  ;}
	63.90% {transform: translate3D(0.00px,2.24px,0.00px)  ;}
	64.39% {transform: translate3D(0.00px,1.80px,0.00px)  ;}
	64.88% {transform: translate3D(0.00px,1.36px,0.00px)  ;}
	65.37% {transform: translate3D(0.00px,0.92px,0.00px)  ;}
	65.85% {transform: translate3D(0.00px,0.48px,0.00px)  ;}
	66.34% {transform: translate3D(0.00px,0.05px,0.00px)  ;}
	66.83% {transform: translate3D(0.00px,-0.39px,0.00px)  ;}
	67.32% {transform: translate3D(-0.00px,0.02px,0.00px)  ;}
	67.80% {transform: translate3D(0.00px,0.43px,0.00px)  ;}
	68.29% {transform: translate3D(0.00px,0.84px,0.00px)  ;}
	68.78% {transform: translate3D(-0.00px,1.26px,0.00px)  ;}
	69.27% {transform: translate3D(-0.00px,1.67px,0.00px)  ;}
	69.76% {transform: translate3D(-0.00px,2.09px,0.00px)  ;}
	70.24% {transform: translate3D(0.00px,2.50px,0.00px)  ;}
	70.73% {transform: translate3D(0.00px,2.91px,0.00px)  ;}
	71.22% {transform: translate3D(0.00px,3.31px,0.00px)  ;}
	71.71% {transform: translate3D(0.00px,3.72px,0.00px)  ;}
	72.20% {transform: translate3D(0.00px,4.13px,0.00px)  ;}
	72.68% {transform: translate3D(0.00px,4.54px,0.00px)  ;}
	73.17% {transform: translate3D(0.00px,4.96px,0.00px)  ;}
	73.66% {transform: translate3D(0.00px,5.37px,0.00px)  ;}
	74.15% {transform: translate3D(0.00px,5.78px,0.00px)  ;}
	74.63% {transform: translate3D(0.00px,6.19px,0.00px)  ;}
	75.12% {transform: translate3D(0.00px,6.61px,0.00px)  ;}
	75.61% {transform: translate3D(-0.00px,6.16px,0.00px)  ;}
	76.10% {transform: translate3D(0.00px,5.73px,0.00px)  ;}
	76.59% {transform: translate3D(-0.00px,5.29px,0.00px)  ;}
	77.07% {transform: translate3D(-0.00px,4.85px,0.00px)  ;}
	77.56% {transform: translate3D(0.00px,4.42px,0.00px)  ;}
	78.05% {transform: translate3D(0.00px,3.98px,0.00px)  ;}
	78.54% {transform: translate3D(0.00px,3.54px,0.00px)  ;}
	79.02% {transform: translate3D(0.00px,3.11px,0.00px)  ;}
	79.51% {transform: translate3D(0.00px,2.68px,0.00px)  ;}
	80.00% {transform: translate3D(0.00px,2.24px,0.00px)  ;}
	80.49% {transform: translate3D(0.00px,1.80px,0.00px)  ;}
	80.98% {transform: translate3D(0.00px,1.36px,0.00px)  ;}
	81.46% {transform: translate3D(0.00px,0.92px,0.00px)  ;}
	81.95% {transform: translate3D(0.00px,0.48px,0.00px)  ;}
	82.44% {transform: translate3D(0.00px,0.05px,0.00px)  ;}
	82.93% {transform: translate3D(0.00px,-0.39px,0.00px)  ;}
	83.41% {transform: translate3D(0.00px,0.05px,0.00px)  ;}
	83.90% {transform: translate3D(0.00px,0.48px,0.00px)  ;}
	84.39% {transform: translate3D(-0.00px,0.92px,0.00px)  ;}
	84.88% {transform: translate3D(0.00px,1.36px,0.00px)  ;}
	85.37% {transform: translate3D(0.00px,1.80px,0.00px)  ;}
	85.85% {transform: translate3D(0.00px,2.24px,0.00px)  ;}
	86.34% {transform: translate3D(-0.00px,2.68px,0.00px)  ;}
	86.83% {transform: translate3D(0.00px,3.11px,0.00px)  ;}
	87.32% {transform: translate3D(0.00px,3.54px,0.00px)  ;}
	87.80% {transform: translate3D(0.00px,3.98px,0.00px)  ;}
	88.29% {transform: translate3D(0.00px,4.42px,0.00px)  ;}
	88.78% {transform: translate3D(-0.00px,4.85px,0.00px)  ;}
	89.27% {transform: translate3D(0.00px,5.29px,0.00px)  ;}
	89.76% {transform: translate3D(0.00px,5.73px,0.00px)  ;}
	90.24% {transform: translate3D(0.00px,6.16px,0.00px)  ;}
	90.73% {transform: translate3D(0.00px,6.61px,0.00px)  ;}
	91.22% {transform: translate3D(-0.00px,6.22px,0.00px)  ;}
	91.71% {transform: translate3D(-0.00px,5.83px,0.00px)  ;}
	92.20% {transform: translate3D(-0.00px,5.44px,0.00px)  ;}
	92.68% {transform: translate3D(0.00px,5.05px,0.00px)  ;}
	93.17% {transform: translate3D(0.00px,4.66px,0.00px)  ;}
	93.66% {transform: translate3D(0.00px,4.27px,0.00px)  ;}
	94.15% {transform: translate3D(-0.00px,3.88px,0.00px)  ;}
	94.63% {transform: translate3D(0.00px,3.49px,0.00px)  ;}
	95.12% {transform: translate3D(0.00px,3.10px,0.00px)  ;}
	95.61% {transform: translate3D(0.00px,2.72px,0.00px)  ;}
	96.10% {transform: translate3D(0.00px,2.33px,0.00px)  ;}
	96.59% {transform: translate3D(-0.00px,1.94px,0.00px)  ;}
	97.07% {transform: translate3D(0.00px,1.55px,0.00px)  ;}
	97.56% {transform: translate3D(0.00px,1.16px,0.00px)  ;}
	98.05% {transform: translate3D(0.00px,0.78px,0.00px)  ;}
	98.54% {transform: translate3D(-0.00px,0.39px,0.00px)  ;}
	99.02% {transform: translate3D(0.00px,0.00px,0.00px)  ;}
	99.51% {transform: translate3D(0.00px,-0.39px,0.00px)  ;}
	100.00% {transform: translate3D(0.00px,-0.39px,0.00px)  ;}
}
@keyframes odd_up_2{
	0.00% {transform: translate3D(0.00px,0.00px,0.00px)   ;}
	0.49% {transform: translate3D(0.00px,-0.44px,0.00px)   ;}
	0.98% {transform: translate3D(0.00px,-0.88px,0.00px)   ;}
	1.46% {transform: translate3D(-0.00px,-1.32px,0.00px)   ;}
	1.95% {transform: translate3D(0.00px,-1.75px,0.00px)   ;}
	2.44% {transform: translate3D(0.00px,-2.18px,0.00px)   ;}
	2.93% {transform: translate3D(-0.00px,-2.62px,0.00px)   ;}
	3.41% {transform: translate3D(0.00px,-3.06px,0.00px)   ;}
	3.90% {transform: translate3D(0.00px,-3.49px,0.00px)   ;}
	4.39% {transform: translate3D(0.00px,-3.93px,0.00px)   ;}
	4.88% {transform: translate3D(0.00px,-4.36px,0.00px)   ;}
	5.37% {transform: translate3D(0.00px,-4.80px,0.00px)   ;}
	5.85% {transform: translate3D(0.00px,-5.24px,0.00px)   ;}
	6.34% {transform: translate3D(-0.00px,-5.67px,0.00px)   ;}
	6.83% {transform: translate3D(0.00px,-6.11px,0.00px)   ;}
	7.32% {transform: translate3D(0.00px,-6.55px,0.00px)   ;}
	7.80% {transform: translate3D(-0.00px,-6.99px,0.00px)   ;}
	8.29% {transform: translate3D(0.00px,-6.60px,0.00px)   ;}
	8.78% {transform: translate3D(-0.00px,-6.19px,0.00px)   ;}
	9.27% {transform: translate3D(-0.00px,-5.78px,0.00px)   ;}
	9.76% {transform: translate3D(0.00px,-5.37px,0.00px)   ;}
	10.24% {transform: translate3D(0.00px,-4.96px,0.00px)   ;}
	10.73% {transform: translate3D(-0.00px,-4.55px,0.00px)   ;}
	11.22% {transform: translate3D(-0.00px,-4.14px,0.00px)   ;}
	11.71% {transform: translate3D(0.00px,-3.73px,0.00px)   ;}
	12.20% {transform: translate3D(0.00px,-3.33px,0.00px)   ;}
	12.68% {transform: translate3D(0.00px,-2.92px,0.00px)   ;}
	13.17% {transform: translate3D(0.00px,-2.51px,0.00px)   ;}
	13.66% {transform: translate3D(0.00px,-2.10px,0.00px)   ;}
	14.15% {transform: translate3D(0.00px,-1.69px,0.00px)   ;}
	14.63% {transform: translate3D(0.00px,-1.28px,0.00px)   ;}
	15.12% {transform: translate3D(0.00px,-0.87px,0.00px)   ;}
	15.61% {transform: translate3D(0.00px,-0.47px,0.00px)   ;}
	16.10% {transform: translate3D(0.00px,-0.05px,0.00px)   ;}
	16.59% {transform: translate3D(0.00px,-0.35px,0.00px)   ;}
	17.07% {transform: translate3D(0.00px,-0.74px,0.00px)   ;}
	17.56% {transform: translate3D(0.00px,-1.12px,0.00px)   ;}
	18.05% {transform: translate3D(-0.00px,-1.52px,0.00px)   ;}
	18.54% {transform: translate3D(0.00px,-1.91px,0.00px)   ;}
	19.02% {transform: translate3D(0.00px,-2.30px,0.00px)   ;}
	19.51% {transform: translate3D(-0.00px,-2.69px,0.00px)   ;}
	20.00% {transform: translate3D(0.00px,-3.08px,0.00px)   ;}
	20.49% {transform: translate3D(0.00px,-3.47px,0.00px)   ;}
	20.98% {transform: translate3D(0.00px,-3.86px,0.00px)   ;}
	21.46% {transform: translate3D(0.00px,-4.25px,0.00px)   ;}
	21.95% {transform: translate3D(-0.00px,-4.64px,0.00px)   ;}
	22.44% {transform: translate3D(0.00px,-5.04px,0.00px)   ;}
	22.93% {transform: translate3D(0.00px,-5.43px,0.00px)   ;}
	23.41% {transform: translate3D(0.00px,-5.82px,0.00px)   ;}
	23.90% {transform: translate3D(0.00px,-6.22px,0.00px)   ;}
	24.39% {transform: translate3D(0.00px,-6.60px,0.00px)   ;}
	24.88% {transform: translate3D(0.00px,-7.00px,0.00px)   ;}
	25.37% {transform: translate3D(0.00px,-6.59px,0.00px)   ;}
	25.85% {transform: translate3D(0.00px,-6.18px,0.00px)   ;}
	26.34% {transform: translate3D(-0.00px,-5.77px,0.00px)   ;}
	26.83% {transform: translate3D(-0.00px,-5.36px,0.00px)   ;}
	27.32% {transform: translate3D(0.00px,-4.95px,0.00px)   ;}
	27.80% {transform: translate3D(0.00px,-4.53px,0.00px)   ;}
	28.29% {transform: translate3D(-0.00px,-4.13px,0.00px)   ;}
	28.78% {transform: translate3D(0.00px,-3.72px,0.00px)   ;}
	29.27% {transform: translate3D(-0.00px,-3.31px,0.00px)   ;}
	29.76% {transform: translate3D(0.00px,-2.91px,0.00px)   ;}
	30.24% {transform: translate3D(0.00px,-2.50px,0.00px)   ;}
	30.73% {transform: translate3D(-0.00px,-2.09px,0.00px)   ;}
	31.22% {transform: translate3D(-0.00px,-1.68px,0.00px)   ;}
	31.71% {transform: translate3D(0.00px,-1.27px,0.00px)   ;}
	32.20% {transform: translate3D(0.00px,-0.86px,0.00px)   ;}
	32.68% {transform: translate3D(0.00px,-0.46px,0.00px)   ;}
	33.17% {transform: translate3D(0.00px,-0.04px,0.00px)   ;}
	33.66% {transform: translate3D(-0.00px,-0.43px,0.00px)   ;}
	34.15% {transform: translate3D(0.00px,-0.90px,0.00px)   ;}
	34.63% {transform: translate3D(0.00px,-1.36px,0.00px)   ;}
	35.12% {transform: translate3D(0.00px,-1.84px,0.00px)   ;}
	35.61% {transform: translate3D(0.00px,-2.31px,0.00px)   ;}
	36.10% {transform: translate3D(0.00px,-2.78px,0.00px)   ;}
	36.59% {transform: translate3D(0.00px,-3.24px,0.00px)   ;}
	37.07% {transform: translate3D(0.00px,-3.71px,0.00px)   ;}
	37.56% {transform: translate3D(0.00px,-4.17px,0.00px)   ;}
	38.05% {transform: translate3D(0.00px,-4.64px,0.00px)   ;}
	38.54% {transform: translate3D(0.00px,-5.12px,0.00px)   ;}
	39.02% {transform: translate3D(-0.00px,-5.59px,0.00px)   ;}
	39.51% {transform: translate3D(0.00px,-6.06px,0.00px)   ;}
	40.00% {transform: translate3D(0.00px,-6.53px,0.00px)   ;}
	40.49% {transform: translate3D(0.00px,-7.00px,0.00px)   ;}
	40.98% {transform: translate3D(0.00px,-6.59px,0.00px)   ;}
	41.46% {transform: translate3D(0.00px,-6.18px,0.00px)   ;}
	41.95% {transform: translate3D(-0.00px,-5.78px,0.00px)   ;}
	42.44% {transform: translate3D(0.00px,-5.37px,0.00px)   ;}
	42.93% {transform: translate3D(0.00px,-4.97px,0.00px)   ;}
	43.41% {transform: translate3D(0.00px,-4.56px,0.00px)   ;}
	43.90% {transform: translate3D(-0.00px,-4.15px,0.00px)   ;}
	44.39% {transform: translate3D(0.00px,-3.74px,0.00px)   ;}
	44.88% {transform: translate3D(0.00px,-3.34px,0.00px)   ;}
	45.37% {transform: translate3D(0.00px,-2.93px,0.00px)   ;}
	45.85% {transform: translate3D(0.00px,-2.53px,0.00px)   ;}
	46.34% {transform: translate3D(0.00px,-2.12px,0.00px)   ;}
	46.83% {transform: translate3D(0.00px,-1.71px,0.00px)   ;}
	47.32% {transform: translate3D(-0.00px,-1.31px,0.00px)   ;}
	47.80% {transform: translate3D(0.00px,-0.91px,0.00px)   ;}
	48.29% {transform: translate3D(0.00px,-0.50px,0.00px)   ;}
	48.78% {transform: translate3D(-0.00px,-0.09px,0.00px)   ;}
	49.27% {transform: translate3D(0.00px,0.00px,0.00px)   ;}
	50.73% {transform: translate3D(0.00px,-0.44px,0.00px)   ;}
	51.22% {transform: translate3D(0.00px,-0.88px,0.00px)   ;}
	51.71% {transform: translate3D(-0.00px,-1.32px,0.00px)   ;}
	52.20% {transform: translate3D(0.00px,-1.75px,0.00px)   ;}
	52.68% {transform: translate3D(0.00px,-2.18px,0.00px)   ;}
	53.17% {transform: translate3D(-0.00px,-2.62px,0.00px)   ;}
	53.66% {transform: translate3D(0.00px,-3.06px,0.00px)   ;}
	54.15% {transform: translate3D(0.00px,-3.49px,0.00px)   ;}
	54.63% {transform: translate3D(0.00px,-3.93px,0.00px)   ;}
	55.12% {transform: translate3D(0.00px,-4.36px,0.00px)   ;}
	55.61% {transform: translate3D(0.00px,-4.80px,0.00px)   ;}
	56.10% {transform: translate3D(0.00px,-5.24px,0.00px)   ;}
	56.59% {transform: translate3D(-0.00px,-5.67px,0.00px)   ;}
	57.07% {transform: translate3D(0.00px,-6.11px,0.00px)   ;}
	57.56% {transform: translate3D(0.00px,-6.55px,0.00px)   ;}
	58.05% {transform: translate3D(-0.00px,-6.99px,0.00px)   ;}
	58.54% {transform: translate3D(0.00px,-6.60px,0.00px)   ;}
	59.02% {transform: translate3D(-0.00px,-6.19px,0.00px)   ;}
	59.51% {transform: translate3D(-0.00px,-5.78px,0.00px)   ;}
	60.00% {transform: translate3D(0.00px,-5.37px,0.00px)   ;}
	60.49% {transform: translate3D(0.00px,-4.96px,0.00px)   ;}
	60.98% {transform: translate3D(-0.00px,-4.55px,0.00px)   ;}
	61.46% {transform: translate3D(-0.00px,-4.14px,0.00px)   ;}
	61.95% {transform: translate3D(0.00px,-3.73px,0.00px)   ;}
	62.44% {transform: translate3D(0.00px,-3.33px,0.00px)   ;}
	62.93% {transform: translate3D(0.00px,-2.92px,0.00px)   ;}
	63.41% {transform: translate3D(0.00px,-2.51px,0.00px)   ;}
	63.90% {transform: translate3D(0.00px,-2.10px,0.00px)   ;}
	64.39% {transform: translate3D(0.00px,-1.69px,0.00px)   ;}
	64.88% {transform: translate3D(0.00px,-1.28px,0.00px)   ;}
	65.37% {transform: translate3D(0.00px,-0.87px,0.00px)   ;}
	65.85% {transform: translate3D(0.00px,-0.47px,0.00px)   ;}
	66.34% {transform: translate3D(0.00px,-0.05px,0.00px)   ;}
	66.83% {transform: translate3D(0.00px,-0.35px,0.00px)   ;}
	67.32% {transform: translate3D(0.00px,-0.74px,0.00px)   ;}
	67.80% {transform: translate3D(0.00px,-1.12px,0.00px)   ;}
	68.29% {transform: translate3D(-0.00px,-1.52px,0.00px)   ;}
	68.78% {transform: translate3D(0.00px,-1.91px,0.00px)   ;}
	69.27% {transform: translate3D(0.00px,-2.30px,0.00px)   ;}
	69.76% {transform: translate3D(-0.00px,-2.69px,0.00px)   ;}
	70.24% {transform: translate3D(0.00px,-3.08px,0.00px)   ;}
	70.73% {transform: translate3D(0.00px,-3.47px,0.00px)   ;}
	71.22% {transform: translate3D(0.00px,-3.86px,0.00px)   ;}
	71.71% {transform: translate3D(0.00px,-4.25px,0.00px)   ;}
	72.20% {transform: translate3D(-0.00px,-4.64px,0.00px)   ;}
	72.68% {transform: translate3D(0.00px,-5.04px,0.00px)   ;}
	73.17% {transform: translate3D(0.00px,-5.43px,0.00px)   ;}
	73.66% {transform: translate3D(0.00px,-5.82px,0.00px)   ;}
	74.15% {transform: translate3D(0.00px,-6.22px,0.00px)   ;}
	74.63% {transform: translate3D(0.00px,-6.60px,0.00px)   ;}
	75.12% {transform: translate3D(0.00px,-7.00px,0.00px)   ;}
	75.61% {transform: translate3D(0.00px,-6.59px,0.00px)   ;}
	76.10% {transform: translate3D(0.00px,-6.18px,0.00px)   ;}
	76.59% {transform: translate3D(-0.00px,-5.77px,0.00px)   ;}
	77.07% {transform: translate3D(-0.00px,-5.36px,0.00px)   ;}
	77.56% {transform: translate3D(0.00px,-4.95px,0.00px)   ;}
	78.05% {transform: translate3D(0.00px,-4.53px,0.00px)   ;}
	78.54% {transform: translate3D(-0.00px,-4.13px,0.00px)   ;}
	79.02% {transform: translate3D(0.00px,-3.72px,0.00px)   ;}
	79.51% {transform: translate3D(-0.00px,-3.31px,0.00px)   ;}
	80.00% {transform: translate3D(0.00px,-2.91px,0.00px)   ;}
	80.49% {transform: translate3D(0.00px,-2.50px,0.00px)   ;}
	80.98% {transform: translate3D(-0.00px,-2.09px,0.00px)   ;}
	81.46% {transform: translate3D(-0.00px,-1.68px,0.00px)   ;}
	81.95% {transform: translate3D(0.00px,-1.27px,0.00px)   ;}
	82.44% {transform: translate3D(0.00px,-0.86px,0.00px)   ;}
	82.93% {transform: translate3D(0.00px,-0.46px,0.00px)   ;}
	83.41% {transform: translate3D(0.00px,-0.04px,0.00px)   ;}
	83.90% {transform: translate3D(-0.00px,-0.43px,0.00px)   ;}
	84.39% {transform: translate3D(0.00px,-0.90px,0.00px)   ;}
	84.88% {transform: translate3D(0.00px,-1.36px,0.00px)   ;}
	85.37% {transform: translate3D(0.00px,-1.84px,0.00px)   ;}
	85.85% {transform: translate3D(0.00px,-2.31px,0.00px)   ;}
	86.34% {transform: translate3D(0.00px,-2.78px,0.00px)   ;}
	86.83% {transform: translate3D(0.00px,-3.24px,0.00px)   ;}
	87.32% {transform: translate3D(0.00px,-3.71px,0.00px)   ;}
	87.80% {transform: translate3D(0.00px,-4.17px,0.00px)   ;}
	88.29% {transform: translate3D(0.00px,-4.64px,0.00px)   ;}
	88.78% {transform: translate3D(0.00px,-5.12px,0.00px)   ;}
	89.27% {transform: translate3D(-0.00px,-5.59px,0.00px)   ;}
	89.76% {transform: translate3D(0.00px,-6.06px,0.00px)   ;}
	90.24% {transform: translate3D(0.00px,-6.53px,0.00px)   ;}
	90.73% {transform: translate3D(0.00px,-7.00px,0.00px)   ;}
	91.22% {transform: translate3D(0.00px,-6.59px,0.00px)   ;}
	91.71% {transform: translate3D(0.00px,-6.18px,0.00px)   ;}
	92.20% {transform: translate3D(-0.00px,-5.78px,0.00px)   ;}
	92.68% {transform: translate3D(0.00px,-5.37px,0.00px)   ;}
	93.17% {transform: translate3D(0.00px,-4.97px,0.00px)   ;}
	93.66% {transform: translate3D(0.00px,-4.56px,0.00px)   ;}
	94.15% {transform: translate3D(-0.00px,-4.15px,0.00px)   ;}
	94.63% {transform: translate3D(0.00px,-3.74px,0.00px)   ;}
	95.12% {transform: translate3D(0.00px,-3.34px,0.00px)   ;}
	95.61% {transform: translate3D(0.00px,-2.93px,0.00px)   ;}
	96.10% {transform: translate3D(0.00px,-2.53px,0.00px)   ;}
	96.59% {transform: translate3D(0.00px,-2.12px,0.00px)   ;}
	97.07% {transform: translate3D(0.00px,-1.71px,0.00px)   ;}
	97.56% {transform: translate3D(-0.00px,-1.31px,0.00px)   ;}
	98.05% {transform: translate3D(0.00px,-0.91px,0.00px)   ;}
	98.54% {transform: translate3D(0.00px,-0.50px,0.00px)   ;}
	99.02% {transform: translate3D(-0.00px,-0.09px,0.00px)   ;}
	99.51% {transform: translate3D(0.00px,0.00px,0.00px)   ;}
	100.00% {transform: translate3D(0.00px,0.00px,0.00px)   ;}
}
@keyframes odd_up_1{
	0.00% {transform: translate3D(0.00px,0.00px,0.00px)   ;}
	0.49% {transform: translate3D(0.00px,-0.11px,0.00px)   ;}
	0.98% {transform: translate3D(0.00px,-0.43px,0.00px)   ;}
	1.46% {transform: translate3D(0.00px,-0.92px,0.00px)   ;}
	1.95% {transform: translate3D(-0.00px,-1.56px,0.00px)   ;}
	2.44% {transform: translate3D(-0.00px,-2.32px,0.00px)   ;}
	2.93% {transform: translate3D(0.00px,-3.16px,0.00px)   ;}
	3.41% {transform: translate3D(-0.00px,-4.07px,0.00px)   ;}
	3.90% {transform: translate3D(-0.00px,-5.00px,0.00px)   ;}
	4.39% {transform: translate3D(0.00px,-5.93px,0.00px)   ;}
	4.88% {transform: translate3D(0.00px,-6.83px,0.00px)   ;}
	5.37% {transform: translate3D(0.00px,-7.68px,0.00px)   ;}
	5.85% {transform: translate3D(0.00px,-8.43px,0.00px)   ;}
	6.34% {transform: translate3D(0.00px,-9.07px,0.00px)   ;}
	6.83% {transform: translate3D(0.00px,-9.57px,0.00px)   ;}
	7.32% {transform: translate3D(0.00px,-9.89px,0.00px)   ;}
	7.80% {transform: translate3D(0.00px,-10.00px,0.00px)   ;}
	8.29% {transform: translate3D(0.00px,-9.90px,0.00px)   ;}
	8.78% {transform: translate3D(-0.00px,-9.61px,0.00px)   ;}
	9.27% {transform: translate3D(0.00px,-9.17px,0.00px)   ;}
	9.76% {transform: translate3D(0.00px,-8.60px,0.00px)   ;}
	10.24% {transform: translate3D(-0.00px,-7.91px,0.00px)   ;}
	10.73% {transform: translate3D(0.00px,-7.13px,0.00px)   ;}
	11.22% {transform: translate3D(0.00px,-6.30px,0.00px)   ;}
	11.71% {transform: translate3D(-0.00px,-5.43px,0.00px)   ;}
	12.20% {transform: translate3D(-0.00px,-4.56px,0.00px)   ;}
	12.68% {transform: translate3D(0.00px,-3.70px,0.00px)   ;}
	13.17% {transform: translate3D(0.00px,-2.86px,0.00px)   ;}
	13.66% {transform: translate3D(0.00px,-2.09px,0.00px)   ;}
	14.15% {transform: translate3D(0.00px,-1.40px,0.00px)   ;}
	14.63% {transform: translate3D(0.00px,-0.83px,0.00px)   ;}
	15.12% {transform: translate3D(0.00px,-0.39px,0.00px)   ;}
	15.61% {transform: translate3D(0.00px,-0.10px,0.00px)   ;}
	16.10% {transform: translate3D(0.00px,0.00px,0.00px)   ;}
	16.59% {transform: translate3D(0.00px,-0.09px,0.00px)   ;}
	17.07% {transform: translate3D(0.00px,-0.35px,0.00px)   ;}
	17.56% {transform: translate3D(-0.00px,-0.74px,0.00px)   ;}
	18.05% {transform: translate3D(0.00px,-1.26px,0.00px)   ;}
	18.54% {transform: translate3D(-0.00px,-1.89px,0.00px)   ;}
	19.02% {transform: translate3D(0.00px,-2.59px,0.00px)   ;}
	19.51% {transform: translate3D(-0.00px,-3.37px,0.00px)   ;}
	20.00% {transform: translate3D(-0.00px,-4.17px,0.00px)   ;}
	20.49% {transform: translate3D(0.00px,-5.00px,0.00px)   ;}
	20.98% {transform: translate3D(0.00px,-5.82px,0.00px)   ;}
	21.46% {transform: translate3D(0.00px,-6.63px,0.00px)   ;}
	21.95% {transform: translate3D(0.00px,-7.40px,0.00px)   ;}
	22.44% {transform: translate3D(0.00px,-8.11px,0.00px)   ;}
	22.93% {transform: translate3D(-0.00px,-8.74px,0.00px)   ;}
	23.41% {transform: translate3D(0.00px,-9.25px,0.00px)   ;}
	23.90% {transform: translate3D(0.00px,-9.65px,0.00px)   ;}
	24.39% {transform: translate3D(0.00px,-9.91px,0.00px)   ;}
	24.88% {transform: translate3D(0.00px,-10.00px,0.00px)   ;}
	25.37% {transform: translate3D(0.00px,-9.90px,0.00px)   ;}
	25.85% {transform: translate3D(-0.00px,-9.61px,0.00px)   ;}
	26.34% {transform: translate3D(0.00px,-9.17px,0.00px)   ;}
	26.83% {transform: translate3D(0.00px,-8.60px,0.00px)   ;}
	27.32% {transform: translate3D(-0.00px,-7.91px,0.00px)   ;}
	27.80% {transform: translate3D(0.00px,-7.13px,0.00px)   ;}
	28.29% {transform: translate3D(0.00px,-6.30px,0.00px)   ;}
	28.78% {transform: translate3D(-0.00px,-5.43px,0.00px)   ;}
	29.27% {transform: translate3D(-0.00px,-4.56px,0.00px)   ;}
	29.76% {transform: translate3D(0.00px,-3.70px,0.00px)   ;}
	30.24% {transform: translate3D(0.00px,-2.86px,0.00px)   ;}
	30.73% {transform: translate3D(0.00px,-2.09px,0.00px)   ;}
	31.22% {transform: translate3D(0.00px,-1.40px,0.00px)   ;}
	31.71% {transform: translate3D(0.00px,-0.83px,0.00px)   ;}
	32.20% {transform: translate3D(0.00px,-0.39px,0.00px)   ;}
	32.68% {transform: translate3D(0.00px,-0.10px,0.00px)   ;}
	33.17% {transform: translate3D(0.00px,0.00px,0.00px)   ;}
	33.66% {transform: translate3D(0.00px,-0.34px,0.00px)   ;}
	34.15% {transform: translate3D(0.00px,-1.01px,0.00px)   ;}
	34.63% {transform: translate3D(0.00px,-1.82px,0.00px)   ;}
	35.12% {transform: translate3D(0.00px,-2.69px,0.00px)   ;}
	35.61% {transform: translate3D(-0.00px,-3.60px,0.00px)   ;}
	36.10% {transform: translate3D(0.00px,-4.50px,0.00px)   ;}
	36.59% {transform: translate3D(-0.00px,-5.38px,0.00px)   ;}
	37.07% {transform: translate3D(0.00px,-6.23px,0.00px)   ;}
	37.56% {transform: translate3D(0.00px,-7.05px,0.00px)   ;}
	38.05% {transform: translate3D(0.00px,-7.82px,0.00px)   ;}
	38.54% {transform: translate3D(0.00px,-8.50px,0.00px)   ;}
	39.02% {transform: translate3D(-0.00px,-9.09px,0.00px)   ;}
	39.51% {transform: translate3D(0.00px,-9.56px,0.00px)   ;}
	40.00% {transform: translate3D(-0.00px,-9.88px,0.00px)   ;}
	40.49% {transform: translate3D(0.00px,-10.00px,0.00px)   ;}
	40.98% {transform: translate3D(0.00px,-9.91px,0.00px)   ;}
	41.46% {transform: translate3D(0.00px,-9.62px,0.00px)   ;}
	41.95% {transform: translate3D(0.00px,-9.18px,0.00px)   ;}
	42.44% {transform: translate3D(-0.00px,-8.61px,0.00px)   ;}
	42.93% {transform: translate3D(-0.00px,-7.94px,0.00px)   ;}
	43.41% {transform: translate3D(0.00px,-7.17px,0.00px)   ;}
	43.90% {transform: translate3D(-0.00px,-6.35px,0.00px)   ;}
	44.39% {transform: translate3D(-0.00px,-5.49px,0.00px)   ;}
	44.88% {transform: translate3D(0.00px,-4.61px,0.00px)   ;}
	45.37% {transform: translate3D(0.00px,-3.75px,0.00px)   ;}
	45.85% {transform: translate3D(0.00px,-2.92px,0.00px)   ;}
	46.34% {transform: translate3D(0.00px,-2.15px,0.00px)   ;}
	46.83% {transform: translate3D(0.00px,-1.46px,0.00px)   ;}
	47.32% {transform: translate3D(-0.00px,-0.87px,0.00px)   ;}
	47.80% {transform: translate3D(0.00px,-0.42px,0.00px)   ;}
	48.29% {transform: translate3D(0.00px,-0.12px,0.00px)   ;}
	48.78% {transform: translate3D(0.00px,-0.00px,0.00px)   ;}
	49.27% {transform: translate3D(0.00px,0.00px,0.00px)   ;}
	50.73% {transform: translate3D(0.00px,-0.11px,0.00px)   ;}
	51.22% {transform: translate3D(0.00px,-0.43px,0.00px)   ;}
	51.71% {transform: translate3D(0.00px,-0.92px,0.00px)   ;}
	52.20% {transform: translate3D(-0.00px,-1.56px,0.00px)   ;}
	52.68% {transform: translate3D(-0.00px,-2.32px,0.00px)   ;}
	53.17% {transform: translate3D(0.00px,-3.16px,0.00px)   ;}
	53.66% {transform: translate3D(-0.00px,-4.07px,0.00px)   ;}
	54.15% {transform: translate3D(-0.00px,-5.00px,0.00px)   ;}
	54.63% {transform: translate3D(0.00px,-5.93px,0.00px)   ;}
	55.12% {transform: translate3D(0.00px,-6.83px,0.00px)   ;}
	55.61% {transform: translate3D(0.00px,-7.68px,0.00px)   ;}
	56.10% {transform: translate3D(0.00px,-8.43px,0.00px)   ;}
	56.59% {transform: translate3D(0.00px,-9.07px,0.00px)   ;}
	57.07% {transform: translate3D(0.00px,-9.57px,0.00px)   ;}
	57.56% {transform: translate3D(0.00px,-9.89px,0.00px)   ;}
	58.05% {transform: translate3D(0.00px,-10.00px,0.00px)   ;}
	58.54% {transform: translate3D(0.00px,-9.90px,0.00px)   ;}
	59.02% {transform: translate3D(-0.00px,-9.61px,0.00px)   ;}
	59.51% {transform: translate3D(0.00px,-9.17px,0.00px)   ;}
	60.00% {transform: translate3D(0.00px,-8.60px,0.00px)   ;}
	60.49% {transform: translate3D(-0.00px,-7.91px,0.00px)   ;}
	60.98% {transform: translate3D(0.00px,-7.13px,0.00px)   ;}
	61.46% {transform: translate3D(0.00px,-6.30px,0.00px)   ;}
	61.95% {transform: translate3D(-0.00px,-5.43px,0.00px)   ;}
	62.44% {transform: translate3D(-0.00px,-4.56px,0.00px)   ;}
	62.93% {transform: translate3D(0.00px,-3.70px,0.00px)   ;}
	63.41% {transform: translate3D(0.00px,-2.86px,0.00px)   ;}
	63.90% {transform: translate3D(0.00px,-2.09px,0.00px)   ;}
	64.39% {transform: translate3D(0.00px,-1.40px,0.00px)   ;}
	64.88% {transform: translate3D(0.00px,-0.83px,0.00px)   ;}
	65.37% {transform: translate3D(0.00px,-0.39px,0.00px)   ;}
	65.85% {transform: translate3D(0.00px,-0.10px,0.00px)   ;}
	66.34% {transform: translate3D(0.00px,0.00px,0.00px)   ;}
	66.83% {transform: translate3D(0.00px,-0.09px,0.00px)   ;}
	67.32% {transform: translate3D(0.00px,-0.35px,0.00px)   ;}
	67.80% {transform: translate3D(-0.00px,-0.74px,0.00px)   ;}
	68.29% {transform: translate3D(0.00px,-1.26px,0.00px)   ;}
	68.78% {transform: translate3D(-0.00px,-1.89px,0.00px)   ;}
	69.27% {transform: translate3D(0.00px,-2.59px,0.00px)   ;}
	69.76% {transform: translate3D(-0.00px,-3.37px,0.00px)   ;}
	70.24% {transform: translate3D(-0.00px,-4.17px,0.00px)   ;}
	70.73% {transform: translate3D(0.00px,-5.00px,0.00px)   ;}
	71.22% {transform: translate3D(0.00px,-5.82px,0.00px)   ;}
	71.71% {transform: translate3D(0.00px,-6.63px,0.00px)   ;}
	72.20% {transform: translate3D(0.00px,-7.40px,0.00px)   ;}
	72.68% {transform: translate3D(0.00px,-8.11px,0.00px)   ;}
	73.17% {transform: translate3D(-0.00px,-8.74px,0.00px)   ;}
	73.66% {transform: translate3D(0.00px,-9.25px,0.00px)   ;}
	74.15% {transform: translate3D(0.00px,-9.65px,0.00px)   ;}
	74.63% {transform: translate3D(0.00px,-9.91px,0.00px)   ;}
	75.12% {transform: translate3D(0.00px,-10.00px,0.00px)   ;}
	75.61% {transform: translate3D(0.00px,-9.90px,0.00px)   ;}
	76.10% {transform: translate3D(-0.00px,-9.61px,0.00px)   ;}
	76.59% {transform: translate3D(0.00px,-9.17px,0.00px)   ;}
	77.07% {transform: translate3D(0.00px,-8.60px,0.00px)   ;}
	77.56% {transform: translate3D(-0.00px,-7.91px,0.00px)   ;}
	78.05% {transform: translate3D(0.00px,-7.13px,0.00px)   ;}
	78.54% {transform: translate3D(0.00px,-6.30px,0.00px)   ;}
	79.02% {transform: translate3D(-0.00px,-5.43px,0.00px)   ;}
	79.51% {transform: translate3D(-0.00px,-4.56px,0.00px)   ;}
	80.00% {transform: translate3D(0.00px,-3.70px,0.00px)   ;}
	80.49% {transform: translate3D(0.00px,-2.86px,0.00px)   ;}
	80.98% {transform: translate3D(0.00px,-2.09px,0.00px)   ;}
	81.46% {transform: translate3D(0.00px,-1.40px,0.00px)   ;}
	81.95% {transform: translate3D(0.00px,-0.83px,0.00px)   ;}
	82.44% {transform: translate3D(0.00px,-0.39px,0.00px)   ;}
	82.93% {transform: translate3D(0.00px,-0.10px,0.00px)   ;}
	83.41% {transform: translate3D(0.00px,0.00px,0.00px)   ;}
	83.90% {transform: translate3D(0.00px,-0.34px,0.00px)   ;}
	84.39% {transform: translate3D(0.00px,-1.01px,0.00px)   ;}
	84.88% {transform: translate3D(0.00px,-1.82px,0.00px)   ;}
	85.37% {transform: translate3D(0.00px,-2.69px,0.00px)   ;}
	85.85% {transform: translate3D(-0.00px,-3.60px,0.00px)   ;}
	86.34% {transform: translate3D(0.00px,-4.50px,0.00px)   ;}
	86.83% {transform: translate3D(-0.00px,-5.38px,0.00px)   ;}
	87.32% {transform: translate3D(0.00px,-6.23px,0.00px)   ;}
	87.80% {transform: translate3D(0.00px,-7.05px,0.00px)   ;}
	88.29% {transform: translate3D(0.00px,-7.82px,0.00px)   ;}
	88.78% {transform: translate3D(0.00px,-8.50px,0.00px)   ;}
	89.27% {transform: translate3D(-0.00px,-9.09px,0.00px)   ;}
	89.76% {transform: translate3D(0.00px,-9.56px,0.00px)   ;}
	90.24% {transform: translate3D(-0.00px,-9.88px,0.00px)   ;}
	90.73% {transform: translate3D(0.00px,-10.00px,0.00px)   ;}
	91.22% {transform: translate3D(0.00px,-9.91px,0.00px)   ;}
	91.71% {transform: translate3D(0.00px,-9.62px,0.00px)   ;}
	92.20% {transform: translate3D(0.00px,-9.18px,0.00px)   ;}
	92.68% {transform: translate3D(-0.00px,-8.61px,0.00px)   ;}
	93.17% {transform: translate3D(-0.00px,-7.94px,0.00px)   ;}
	93.66% {transform: translate3D(0.00px,-7.17px,0.00px)   ;}
	94.15% {transform: translate3D(-0.00px,-6.35px,0.00px)   ;}
	94.63% {transform: translate3D(-0.00px,-5.49px,0.00px)   ;}
	95.12% {transform: translate3D(0.00px,-4.61px,0.00px)   ;}
	95.61% {transform: translate3D(0.00px,-3.75px,0.00px)   ;}
	96.10% {transform: translate3D(0.00px,-2.92px,0.00px)   ;}
	96.59% {transform: translate3D(0.00px,-2.15px,0.00px)   ;}
	97.07% {transform: translate3D(0.00px,-1.46px,0.00px)   ;}
	97.56% {transform: translate3D(-0.00px,-0.87px,0.00px)   ;}
	98.05% {transform: translate3D(0.00px,-0.42px,0.00px)   ;}
	98.54% {transform: translate3D(0.00px,-0.12px,0.00px)   ;}
	99.02% {transform: translate3D(0.00px,-0.00px,0.00px)   ;}
	99.51% {transform: translate3D(0.00px,0.00px,0.00px)   ;}
	100.00% {transform: translate3D(0.00px,0.00px,0.00px)   ;}
}

// 气泡动画
@keyframes bubbles-animation {
	0% { background-position: 0px 0px; }
	0.49% { background-position: -528px 0px; }
	0.98% { background-position: -1056px 0px; }
	1.46% { background-position: -1584px 0px; }
	1.95% { background-position: -2112px 0px; }
	2.44% { background-position: -2640px 0px; }
	2.93% { background-position: -3168px 0px; }
	3.41% { background-position: 0px -152px; }
	3.90% { background-position: -528px -152px; }
	4.39% { background-position: -1056px -152px; }
	4.88% { background-position: -1584px -152px; }
	5.37% { background-position: -2112px -152px; }
	5.85% { background-position: -2640px -152px; }
	6.34% { background-position: -3168px -152px; }
	6.83% { background-position: 0px -304px; }
	7.32% { background-position: -528px -304px; }
	7.80% { background-position: -1056px -304px; }
	8.29% { background-position: -1584px -304px; }
	8.78% { background-position: -2112px -304px; }
	9.27% { background-position: -2640px -304px; }
	9.76% { background-position: -3168px -304px; }
	10.24% { background-position: 0px -456px; }
	10.73% { background-position: -528px -456px; }
	11.22% { background-position: -1056px -456px; }
	11.71% { background-position: -1584px -456px; }
	12.20% { background-position: -2112px -456px; }
	12.68% { background-position: -2640px -456px; }
	13.17% { background-position: -3168px -456px; }
	13.66% { background-position: 0px -608px; }
	14.15% { background-position: -528px -608px; }
	14.63% { background-position: -1056px -608px; }
	15.12% { background-position: -1584px -608px; }
	15.61% { background-position: -2112px -608px; }
	16.10% { background-position: -2640px -608px; }
	16.59% { background-position: -3168px -608px; }
	17.07% { background-position: 0px -760px; }
	17.56% { background-position: -528px -760px; }
	18.05% { background-position: -1056px -760px; }
	18.54% { background-position: -1584px -760px; }
	19.02% { background-position: -2112px -760px; }
	19.51% { background-position: -2640px -760px; }
	20.00% { background-position: -3168px -760px; }
	20.49% { background-position: 0px -912px; }
	20.98% { background-position: -528px -912px; }
	21.46% { background-position: -1056px -912px; }
	21.95% { background-position: -1584px -912px; }
	22.44% { background-position: -2112px -912px; }
	22.93% { background-position: -2640px -912px; }
	23.41% { background-position: -3168px -912px; }
	23.90% { background-position: 0px -1064px; }
	24.39% { background-position: -528px -1064px; }
	24.88% { background-position: -1056px -1064px; }
	25.37% { background-position: -1584px -1064px; }
	25.85% { background-position: -2112px -1064px; }
	26.34% { background-position: -2640px -1064px; }
	26.83% { background-position: -3168px -1064px; }
	27.32% { background-position: 0px -1216px; }
	27.80% { background-position: -528px -1216px; }
	28.29% { background-position: -1056px -1216px; }
	28.78% { background-position: -1584px -1216px; }
	29.27% { background-position: -2112px -1216px; }
	29.76% { background-position: -2640px -1216px; }
	30.24% { background-position: -3168px -1216px; }
	30.73% { background-position: 0px -1368px; }
	31.22% { background-position: -528px -1368px; }
	31.71% { background-position: -1056px -1368px; }
	32.20% { background-position: -1584px -1368px; }
	32.68% { background-position: -2112px -1368px; }
	33.17% { background-position: -2640px -1368px; }
	33.66% { background-position: -3168px -1368px; }
	34.15% { background-position: 0px -1520px; }
	34.63% { background-position: -528px -1520px; }
	35.12% { background-position: -1056px -1520px; }
	35.61% { background-position: -1584px -1520px; }
	36.10% { background-position: -2112px -1520px; }
	36.59% { background-position: -2640px -1520px; }
	37.07% { background-position: -3168px -1520px; }
	37.56% { background-position: 0px -1672px; }
	38.05% { background-position: -528px -1672px; }
	38.54% { background-position: -1056px -1672px; }
	39.02% { background-position: -1584px -1672px; }
	39.51% { background-position: -2112px -1672px; }
	40.00% { background-position: -2640px -1672px; }
	40.49% { background-position: -3168px -1672px; }
	40.98% { background-position: 0px -1824px; }
	41.46% { background-position: -528px -1824px; }
	41.95% { background-position: -1056px -1824px; }
	42.44% { background-position: -1584px -1824px; }
	42.93% { background-position: -2112px -1824px; }
	43.41% { background-position: -2640px -1824px; }
	43.90% { background-position: -3168px -1824px; }
	44.39% { background-position: 0px -1976px; }
	44.88% { background-position: -528px -1976px; }
	45.37% { background-position: -1056px -1976px; }
	45.85% { background-position: -1584px -1976px; }
	46.34% { background-position: -2112px -1976px; }
	46.83% { background-position: -2640px -1976px; }
	47.32% { background-position: -3168px -1976px; }
	47.80% { background-position: 0px -2128px; }
	48.29% { background-position: -528px -2128px; }
	48.78% { background-position: -1056px -2128px; }
	49.27% { background-position: -1584px -2128px; }
	49.76% { background-position: -2112px -2128px; }
	50.24% { background-position: -2640px -2128px; }
	50.73% { background-position: -3168px -2128px; }
	51.22% { background-position: 0px -2280px; }
	51.71% { background-position: -528px -2280px; }
	52.20% { background-position: -1056px -2280px; }
	52.68% { background-position: -1584px -2280px; }
	53.17% { background-position: -2112px -2280px; }
	53.66% { background-position: -2640px -2280px; }
	54.15% { background-position: -3168px -2280px; }
	54.63% { background-position: 0px -2432px; }
	55.12% { background-position: -528px -2432px; }
	55.61% { background-position: -1056px -2432px; }
	56.10% { background-position: -1584px -2432px; }
	56.59% { background-position: -2112px -2432px; }
	57.07% { background-position: -2640px -2432px; }
	57.56% { background-position: -3168px -2432px; }
	58.05% { background-position: 0px -2584px; }
	58.54% { background-position: -528px -2584px; }
	59.02% { background-position: -1056px -2584px; }
	59.51% { background-position: -1584px -2584px; }
	60.00% { background-position: -2112px -2584px; }
	60.49% { background-position: -2640px -2584px; }
	60.98% { background-position: -3168px -2584px; }
	61.46% { background-position: 0px -2736px; }
	61.95% { background-position: -528px -2736px; }
	62.44% { background-position: -1056px -2736px; }
	62.93% { background-position: -1584px -2736px; }
	63.41% { background-position: -2112px -2736px; }
	63.90% { background-position: -2640px -2736px; }
	64.39% { background-position: -3168px -2736px; }
	64.88% { background-position: 0px -2888px; }
	65.37% { background-position: -528px -2888px; }
	65.85% { background-position: -1056px -2888px; }
	66.34% { background-position: -1584px -2888px; }
	66.83% { background-position: -2112px -2888px; }
	67.32% { background-position: -2640px -2888px; }
	67.80% { background-position: -3168px -2888px; }
	68.29% { background-position: 0px -3040px; }
	68.78% { background-position: -528px -3040px; }
	69.27% { background-position: -1056px -3040px; }
	69.76% { background-position: -1584px -3040px; }
	70.24% { background-position: -2112px -3040px; }
	70.73% { background-position: -2640px -3040px; }
	71.22% { background-position: -3168px -3040px; }
	71.71% { background-position: 0px -3192px; }
	72.20% { background-position: -528px -3192px; }
	72.68% { background-position: -1056px -3192px; }
	73.17% { background-position: -1584px -3192px; }
	73.66% { background-position: -2112px -3192px; }
	74.15% { background-position: -2640px -3192px; }
	74.63% { background-position: -3168px -3192px; }
	75.12% { background-position: 0px -3344px; }
	75.61% { background-position: -528px -3344px; }
	76.10% { background-position: -1056px -3344px; }
	76.59% { background-position: -1584px -3344px; }
	77.07% { background-position: -2112px -3344px; }
	77.56% { background-position: -2640px -3344px; }
	78.05% { background-position: -3168px -3344px; }
	78.54% { background-position: 0px -3496px; }
	79.02% { background-position: -528px -3496px; }
	79.51% { background-position: -1056px -3496px; }
	80.00% { background-position: -1584px -3496px; }
	80.49% { background-position: -2112px -3496px; }
	80.98% { background-position: -2640px -3496px; }
	81.46% { background-position: -3168px -3496px; }
	81.95% { background-position: 0px -3648px; }
	82.44% { background-position: -528px -3648px; }
	82.93% { background-position: -1056px -3648px; }
	83.41% { background-position: -1584px -3648px; }
	83.90% { background-position: -2112px -3648px; }
	84.39% { background-position: -2640px -3648px; }
	84.88% { background-position: -3168px -3648px; }
	85.37% { background-position: 0px -3800px; }
	85.85% { background-position: -528px -3800px; }
	86.34% { background-position: -1056px -3800px; }
	86.83% { background-position: -1584px -3800px; }
	87.32% { background-position: -2112px -3800px; }
	87.80% { background-position: -2640px -3800px; }
	88.29% { background-position: -3168px -3800px; }
	88.78% { background-position: 0px -3952px; }
	89.27% { background-position: -528px -3952px; }
	89.76% { background-position: -1056px -3952px; }
	90.24% { background-position: -1584px -3952px; }
	90.73% { background-position: -2112px -3952px; }
	91.22% { background-position: -2640px -3952px; }
	91.71% { background-position: -3168px -3952px; }
	92.20% { background-position: 0px -4104px; }
	92.68% { background-position: -528px -4104px; }
	93.17% { background-position: -1056px -4104px; }
	93.66% { background-position: -1584px -4104px; }
	94.15% { background-position: -2112px -4104px; }
	94.63% { background-position: -2640px -4104px; }
	95.12% { background-position: -3168px -4104px; }
	95.61% { background-position: 0px -4256px; }
	96.10% { background-position: -528px -4256px; }
	96.59% { background-position: -1056px -4256px; }
	97.07% { background-position: -1584px -4256px; }
	97.56% { background-position: -2112px -4256px; }
	98.05% { background-position: -2640px -4256px; }
	98.54% { background-position: -3168px -4256px; }
	99.02% { background-position: 0px -4408px; }
	99.51% { background-position: -528px -4408px; }
}

</style>