<template>
    <div 
        :class="['common-input', { 'disable': inputDisable }]" 
        @click="onFocused" 
        ref="textContent">
        <!-- <span v-if="limit_succeed===false" class="placeholder"></span>
        <span class="placeholder red" v-else-if="oddsLimit">
            {{i18n.oddsChange}}
        </span> -->
        <span v-if="quotaLoading" class="value not-focus"> 
        </span>
        <template v-else>
            <span class="placeholder red" v-if="Number(userInfo.balance) < Number(keyMin)">
                {{i18n.balance}}
            </span>
            <template v-else-if="overLimit">
                <span v-if="showPlaceholder" class="placeholder"> 
                    {{  placeholder }}  
                </span>
                <span 
                    v-else 
                    :class="[
                        'value',
                        'DIN',
                        { 'not-focus': !isFocus }
                    ]"> 
                    {{ value }} 
                </span>
            </template>
            <span class="placeholder red" v-else>
                {{i18n.redLimit}}
            </span>
        </template>
    </div>
</template>
<script>
import { mapGetters } from 'vuex';
export default {
    props:["placeholder", "value", "i",  'isFocus', 'oddsLimit', "keyMin", "keyMax", 'limit_succeed', 'quotaLoading'],

    computed:{
        inputDisable(){
           return (
                Number(this.userInfo.balance) < Number(this.keyMin) || !this.overLimit
            )
        },
        overLimit(){
            console.log( this.keyMax, this.keyMin )
            return this.keyMax >= this.keyMin && this.keyMax > 0;
        },
        showPlaceholder(){
            return !this.value && !this.isFocus
        },
        ...mapGetters([
            "userInfo", 
        ]),
    },
    methods:{
        onFocused(){
            this.$emit("focus")
        }
    },
    data(){
        return{
            i18n: this.$t('common.commonInput'),
        }
    },
}
</script>
<style lang="less" scoped>
    @keyframes blink {
        0% {
            background-color: #0095ff;
        }
        50% {
            background-color: #FFFFFF;
        }
        100% {
            background-color: #0095ff;
        }
    }
    .common-input{
        width: 80px;
        height: 28px;
        background: rgba(0,0,0,0.20);
        border: 1px solid rgba(255,255,255,0.10);
        box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.16);
        border-radius: 4px;   
        outline: none;     
        text-align: center;
        line-height: normal;
        color: #FFFFFF;
        &.disable{
            background: rgba(0,0,0,0.3);
            cursor: not-allowed;
            pointer-events:none;
        }
    }
    .placeholder{
        font-size: 12px;
        color: rgba(255,255,255,0.6);
        line-height: 28px;
        &.red{
            color: #FF4B34;;
        }
    }
   .value {
       width: 100%;
       height: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
        &::after {
            content: '';
            display: inline-block;
            width: 1px;
            height: 16px;
            animation: blink 1s infinite steps(1, start);
            // margin-top: 4px;
        }

        &.not-focus{
            &::after {
                width: 0px;
            }
        }
    }

</style>