<template>
    <div class="common-tabs tabs-blur">
        <div class="tab-list" ref="commonTab">
            <span
                :ref="`itemTabs_${i}`"
                :class="[ 
                    'item-tab', 
                    {'flex-basis': flexBasis},
                    {'active': index == i}
                ]" 
                v-for="(item,i) in tabs"
                @click.stop="changeTabs(i)" 
                :key="i">  
                {{ item.value }}
            </span>
        </div>
    </div>
</template>
<script>
export default {
    props:{
        tabs:{
            default: () => [
                { key: 0, value: this.$t('common.commonTabs.global') },
            ],
        },
        value: 0
    },
 
    data(){
        return{
            index: 0,
            scrollInfo: {
                item_tabs_width: 0, // 导航标签宽度；
                max_scroll_width: 0, // 最大滚动距离
                client_width: 0 , // 屏幕宽度
            }
        }
    },
    computed:{
        flexBasis(){
            const tabs = this.tabs;
            return tabs.length >= 5;
        }
    },
    watch: {
        value(i) {
            this.index = i
            this.scrollToHandle(i)
        }
    },
    mounted(){
        const itemTabs = this.$refs["itemTabs_0"];
        const commonTab = this.$refs["commonTab"];
        const item_tabs_width  = itemTabs ? itemTabs[0].offsetWidth : 0;
        const max_scroll_width = commonTab.scrollWidth - commonTab.clientWidth;
        const client_width = this.$refs["commonTab"].clientWidth;
        this.scrollInfo = {
            item_tabs_width,
            max_scroll_width,
            client_width,
        }
    },
    methods:{
        changeTabs(i){
            this.index = i
            this.$emit("input", i)
            this.$emit("update", i)
        },
        scrollToHandle(i) {
            const { item_tabs_width, max_scroll_width, client_width } = this.scrollInfo;
            const itemTabs = this.$refs[`itemTabs_${i}`];
            const center_position = client_width / 2;
            const scroll_left =  this.$refs["commonTab"].scrollLeft
            const left = itemTabs[0].offsetLeft - scroll_left;
            const scrollWidth = center_position - left - item_tabs_width/2;
            this.$refs.commonTab.scrollTo({
                left: scroll_left - scrollWidth,
                top: 0,
                behavior: 'smooth'
            })
        }
    }
}
</script>
<style lang="less" scoped>
    .common-tabs{
        width: 100%;
        height: 47px;
        overflow: hidden;
        background: rgba(255,255,255,0.10);
        margin-top: -1px;
        &.tabs-blur{
            backdrop-filter: blur(40px);
        }
        .tab-list{
            width: 100%;
            overflow: auto;
            height: 100%;
            display: flex;
        }
        .item-tab{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            padding: 0 4px;
            opacity: 0.6;
            font-size: 16px;
            color: #FFFFFF;
            position: relative;
            &.flex-basis{
                flex-basis: 22%;
                flex: 0 0 22%;
            }
            &.active{
                font-size: 16px;
                color: #0095FF;
                text-align: center;
                font-weight: 600;
                opacity: 1;
                &::after{
                    content: "";
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    bottom: 1px;
                    width: 28px ;
                    height: 6px;
                    background-image: linear-gradient(180deg, rgba(31,219,255,0.00) 1%, rgba(76,175,245,0.36) 100%);
                    background-color: transparent;
                    border-radius: 0;
                    border-bottom: 2px solid #4CAFF5;
                }
            }
        }
    }
</style>