<template>
    <div class="not-data" :style="{'padding-top':paddingTop,'padding-bottom':paddingBottom}">
        <i :class="[backgroundImg,'not-data-icon']"></i>
        <p class="title"> {{title}} </p>
        <p class="subtitle"> {{subTitle}} </p>
        <button class="golive" v-show="showLive" @click="golive"> {{$t('common.commonNotData.golive')}}</button>
    </div>
</template>
<script>
export default {
    name:'commonNotdata',
    props:["title", "subTitle", 'backgroundImg', 'paddingTop', 'showLive', 'paddingBottom'],
    methods: {
        golive(){
            if(this.$route.path.indexOf('/vSports') != -1){
                this.$router.push('/home')
                this.$store.commit("SET_VSPORTS_BACK", {
                    tab: 'live',
                    flag: 3,
                    gameId: 0, 
                }); // 切换赛事标签
            }else{
                this.$store.commit("SET_DAILY_TAB", 'live'); // 切换赛事标签
                this.$store.commit("SET_MATCH_FLAG", 3);
            }
        }
    }
}
</script>
<style lang="less" scoped>
.not-data{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    .not-data-icon{
        width: 260px;
        height: 180px;
        display: inline-block;
    }
    .title{
        font-size: 14px;
        color: rgba(225, 225, 225, 0.7);
        line-height: 20px;
        padding-top: 8px;
    }
    .subtitle{
        font-size: 12px;
        color: rgba(225, 225, 225, 0.6);
        line-height: 17px;
        padding-top: 8px;
    }
    .golive{
        width: 163px;
        height: 36px;
        margin-top: 27px;
        padding: 0;
        border: 0px solid transparent; 
        outline: none;
        background-image: linear-gradient(180deg, #61C5FF 8%, #0271BD 55%, #027ED0 100%);
        border-radius: 4px;
        font-size: 16px;
        color: #FFFFFF;
        text-align: center;
        font-weight: 400;
    }
}
</style>