<template>
    <div class="app-loading">
        <div class="BX_AEComposition">
            <div class="BX_Class BX_BG6"></div>
            <div class="BX_Class BX_BG5"></div>
            <div class="BX_Class BX_BG4"></div>
            <div class="BX_Class BX_BG3"></div>
            <div class="BX_Class BX_BG2"></div>
            <div class="BX_Class BX_BG1"></div>
        </div>
        {{$t('common.listLoad')}}
    </div>
</template>
<style lang="less" scoped>
    .app-loading{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 14px;
        color: rgba(255,255,255, .6);
    }
    .BX_AEComposition{
        width: 42px;
        height: 42px;
        margin-right: 8px;
    }
    .BX_Class{
        width: 32px;
        height: 32px;
        display: block;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
</style>
