<!-- 滚球计时器 -->
<template>
    <div class="liveTimer-box">
        <span v-show="!showMaxSec"> {{ minute }}:{{ second }} </span>
        <span v-show="showMaxSec"> 999:99 </span>
    </div>
</template>

<script>

export default {
    props: [
      'seconds',
      'status',
      'type'
    ],

    data() {
        return {
            remainTime: 0,
            interval: null,
            showMaxSec: false

        }
    },
    
    created() {
        this.initSeconds();
    },

    computed: {

        remain() {
            if (!this.remainTime) {
                return 0
            }
            return parseInt(this.remainTime)
        },

        minute() {
            let t = parseInt(this.remain / 60);
            let _t =  t < 10 ? ('0' + t) : t;
            return _t
        },

        second() {
            let t = this.remain % 60;
            let _t =  t < 10 ? ('0' + t) : t;
            return _t
        },



    },

    methods: {

        initSeconds() {
            this.showMaxSec = false;
            this.remainTime = this.seconds;
            if( this.status == 1 ){
                this.setCountInterval();
            }
        },

        setCountInterval() {
            clearInterval(this.interval);
            this.interval = setInterval(() => {
              if (this.type === 'countdown') {
                this.remainTime--;
              }
              else {
                this.remainTime++;
              }
            }, 1000);

            // 判断当前时间是否大于 999:59 = 60000秒
            if(this.remainTime  >= 60000 ){
                if(this.interval){ clearInterval(this.interval) } ;
                this.showMaxSec = true;
            }

            // 倒计时到0时
            if (this.remainTime <= 0 && this.type === 'countdown') {
                if(this.interval){ clearInterval(this.interval) } ;
            }
        },

        
    },

    watch: {
        seconds(v) {
            this.initSeconds();
        },
        status(v){
            this.initSeconds();
            if( v != 1 && this.interval){
                clearInterval(this.interval)
            }
        },
        remainTime(v,ov){
            // 判断当前时间是否大于 999:59 = 60000秒
            if(v  >= 60000 ){
                if(this.interval){ clearInterval(this.interval) } ;
                this.showMaxSec = true;
            }
            // 倒计时到0时
            if (v <= 0 && this.type === 'countdown') {
              if(this.interval){ clearInterval(this.interval) } ;
            }
        }
    },
}
</script>
