<template>
    <div class="number-board" >
        <div class="key-number board"> 
            <span
                class="DIN"
                @click="keyNumberChange(item)"
                v-for="item in keyNumber" 
                :key="item"> 
                {{ item }}
            </span>
        </div>
        <div :class="['key-quick', 'board', {'credit': userInfo.tester == 2 || userInfo.tester == 3}]">
            <span
                class="DIN btn-number"
                @click="keyQuickChange(item)"
                v-for="item in keyQuick" 
                :key="item"> 
                <i> </i>  {{ item }}
            </span>

            <span class="btn-max" @click="keyQuickChange(keyMax)">
                <b class="words"> {{$t('common.numberBoard.max')}} </b> 
                <b class="DIN" v-show="userInfo.tester != 2 && userInfo.tester != 3 "> {{ maxValue(keyMax) }} </b>
            </span>

            <span class="btn-del" @click="keyDel"> 
                <i class="common-board-delete"> </i>
            </span>
        </div>
    </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
    props:{
        keyMax:{
            default: () => 1000,
        },
        keyMin:{
            default: () => 10,
        },
        value:{
            default: () => '',
        },
        limit_succeed:{
            default: () => true,
        },
    },
    data(){
        return{
            keyNumber:[1, 2, 3, 4, 5, 6, 7, 8, 9, 0],
            number:"",
        }
    },
    watch:{
        number(v,ov){
            this.$emit("updateNumber", parseInt(v));
            this.$emit("updateLimit"); // 单独推送串关金额更新，重新刷新限额接口
        },
    },
    computed: {
        ...mapGetters([
            "userInfo",
            "dailyTab", // 当前选中的一级菜单(今日/滚球/早盘...)
            "betType",  // 当前弹出的投注栏类型: betOrder(单注/串注) stationOrder(局内串关)
        ]),
        // 快捷投注金额
        keyQuick() {
            const userInfo = this.userInfo || {};
            const _keyQuickValue = (userInfo.tester== 2 || userInfo.tester== 3) ? [100,500,1000,2000,5000] : [Number(userInfo.quick_one),Number(userInfo.quick_two),Number(userInfo.quick_three)];
            return _keyQuickValue
        },
        showNumberBoard(){
            return this.keyMin > this.keyMax || this.keyMin > parseInt(this.userInfo.balance) || this.keyMax <= 0
        }
    },

    created(){
        this.number = this.value;
    },
    updated(){
        this.number = this.value;
    },
    methods:{
        // 数字改变
        keyNumberChange(val){
           
            if(this.showNumberBoard){
                return
            }
            const balance = parseInt(this.userInfo.balance);
            if( this.keyMin > this.keyMax || this.keyMin > balance || this.keyMax <= 0){ return }
            if(!val && !this.number){ return }; // 不能输入0
            let str = String(this.number) + String(val);
            str = Number(str) > balance ? balance : Number(str);
            if(Number(str) > this.keyMax){
                this.number = this.keyMax;
            }else{
                this.number = Number(str);
            }
        },
        // 快速选择
        keyQuickChange(val){
            if(this.showNumberBoard){
                return
            }
            if(this.dailyTab != "cross" && this.betType == "betOrder"){       // 判断当前是单注弹出框
                this.$store.commit("SET_SINGLE_QUICK", true);
            }else if(this.dailyTab == "cross" && this.betType == "betOrder"){ // 判断当前是串注弹出框
                this.$store.commit("SET_CORSS_QUICK", true);
            }else if(this.betType == "stationOrder") {                        // 判断当前是局内串关弹出框
                this.$store.commit("SET_STATION_QUICK", true);
            }
            const balance = parseInt(this.userInfo.balance);
            // 快捷金额点击统计次数（+10、+100、+500、最大），含 局内串关
            // this.$store.commit("SET_TRACK", { tab: 35, page: 5 });
            
            if( this.keyMin > this.keyMax || this.keyMin > balance || this.keyMax <= 0 ) {
                return 
            }
            let num = Number(val) + Number(this.number);
            num = num > balance ? balance : num;
            if(num >= this.keyMax ){
                this.number = this.keyMax
            }else{
                this.number = num
            }
        },
        // 删除元素
        keyDel(){
            if(this.showNumberBoard){
                return
            }
            const str = String(this.number)
            const lens = str.length;
            if(lens){
                this.number = str.substring(0,lens-1);
            }
        },
        // 提交元素
        submit(){
            console.log(this)
        },

        maxValue(value){
            const val = parseInt(Number(value)/1000);
            if( val <= 100 ){
                return parseInt(value) < 0 ? 0 : parseInt(value)
            }else{
                return val + this.$t('common.numberBoard.thousand')
           }
        }
    }
}
</script>
<style lang="less">
    .number-board{
        width: 100%;
        padding: 0 12px 8px;
        // display: none;
        transition: all 0.3s ease-in-out;
        user-select:auto;
        .board{
            display: flex;
            justify-content: space-between;
            align-content: center;
            font-weight: bold;
            font-size: 14px;
        }
        .key-number{
            span{
                width: 32px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                background: rgba(0,0,0,0.3);
                box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.10);
                border-radius: 4px;
                font-size: 20px;
                color: #FFFFFF;
                cursor: pointer;
            }
        }
        .key-quick{
            margin-top: 5px;
            span{
                width: 68px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                font-size: 14px;
                color: #FFFFFF;
                background: rgba(0,0,0,0.3);
                box-shadow: inset 0 1px 1px 0 rgba(255,255,255,0.10);
                border-radius: 4px;
                cursor: pointer;
            }
            
            .btn-max{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                line-height: normal;
                .words{
                    font-size: 12px;
                }
            }
            .btn-del{
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    width: 24px;
                    height: 24px;
                }
            }
            .btn-number{
                display: flex;
                justify-content: center;
                align-items: center;
                i{
                    width: 12px;
                    height: 12px;
                    background-image: url("~@/assets/images/common/bet-chip.png");
                    background-size: cover;
                }
            }
        }
        .credit{
            span{
                width: 47px;
                height: 40px; 
            }
        }
    }    
</style>