<template>
    <div class="dropdown_menu">
        <div class="dropdown_menu_title ellipsis-2" :class="show && 'title-active'" @click="show = !show">
            <span>{{ titleName }}</span>
        </div>
        <van-popup
            v-model="show"
            round closeable
            close-icon="cross cross_t10"
            position="bottom">
            <div class="content">
                <div class="header">{{$t('common.selectOdds.select')}}</div>
                <ul class="dropdown_menu_list">
                    <li v-for="(item, i) in list" :key="i">
                        <button
                            class="dropdown_menu_btn"
                            :class="{not_first_child: i, active_btn: activeVal === item.value}"
                            @click="onClick(i)">{{ item.text }}</button>
                    </li>
                    <li>
                        <button @click="changeUserBetOpen" class="dropdown_menu_btn not_first_child user-bet-acount">
                            <span> {{$t('common.selectOdds.changyong')}} </span>
                            <span :class="['acount-icon', userBetOpen ? 'common-switch-open' : 'common-switch-close']">  </span>
                        </button>
                    </li>
                </ul>
            </div>
        </van-popup>
    </div>
</template>
<script>
import { mapGetters } from "vuex"
export default {
    name: 'selectOdds',
    props: {
        value: 0,
        list: {
            type: Array,
            default() {
                return []
            }
        }
    },
    data() {
        return {
            activeVal: this.value,
            show: false
        }
    },
    computed: {
        ...mapGetters(["userBetOpen"]),
        titleName() {
            const list = this.list.filter(a => a.value === this.value)
            return list.length ? list[0].text : ''
        }
    },
    watch: {
        value(v) {
            this.activeVal = v
        }
    },
    methods: {
        onClick(i) {
            this.show = false
            const val = this.list[i].value
            this.activeVal = val
            this.$emit('input', val)
        },

        changeUserBetOpen(){
            this.$store.commit("SET_USER_BETOPEN", !this.userBetOpen);
        }
    }
}
</script>
<style lang="less" scoped>
.dropdown_menu {
    margin-right: 4px;
    .dropdown_menu_title {
        box-sizing: border-box;
        color: #E0EAEF;
        font-size: 12px;
        width: 78px;
        height: 36px;
        border: .5px solid #FFF;
        border-radius: 4px;
        opacity: .6;
        position: relative;
        padding: 0 8px;
        &::after {
            content: "";
            position: absolute;
            top: 67%;
            right: 10px;
            border-color: transparent transparent #dcdee0 #dcdee0;
            border-style: solid;
            border-width: 3px;
            transform: rotate(135deg);
            opacity: .8;
        }
        &.title-active::after {
            top: 57%;
            transform: rotate(-45deg);
        }
    }
    .van-popup {
        height: 248px;
        bottom: 56px;
        background-color: #121211;
        .header {
            height: 40px;
            line-height: 40px;
            padding: 0 16px;
            background-color: #282827;
        }
        
        .dropdown_menu_list {
            padding: 14px 16px;
            .dropdown_menu_btn {
                width: 100%;
                height: 40px;
                background: rgba(255,255,255,0.06);
                border: 1px solid rgba(255,255,255,0.10);
                border-radius: 4px;
                border-radius: 4px;
                font-size: 14px;
                color: rgba(255,255,255,.6);
            }
            .not_first_child {
                margin-top: 8px;
            }
            .active_btn {
                background: rgba(0,149,255,0.30);
                border-color: #0095FF;
                color: white;
            }
            .user-bet-acount{
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 18px;
                .acount-icon{
                    width: 28px;
                    height: 28px;
                }
            }
        }
    }
}

</style>
<style lang="less">
    .cross_t10 {
        top: 10px;
    }
</style>