<template>
    <van-image
        class="team-logo-image"
        fit="fill"
        lazy-load
        :src="cdn_url"
        v-if="url"
    >
        <!-- 加载中 -->
        <template v-slot:loading>
            <div class="team-logo-default"></div>
        </template>
        <!-- 加载失败 -->
        <template v-slot:error>
            <div class="team-logo-default"></div>
        </template>
    </van-image>
    <div class="team-logo-image van-image" v-else>
        <div class="van-image__error">
            <div class="team-logo-default"></div>
        </div>
    </div>    
</template>
<script>
export default {
    props:["url", "noCdn"],
    computed:{
        cdn_url(){
            if( this.url && this.url.indexOf('http') != -1 ){
                return this.url;
            }else{
                return UPLOAD_URL + this.url;
            }  
        }
    }
}
</script>
<style lang="less">
    .team-logo-image{
        width: 100%;
        height: 100%;
        .team-logo-default{
            width: 100%;
            height: 100%; 
        }
    }
    .van-image__loading{
        background-color: transparent;
    }
    .van-image__error{
        background-color: transparent;
    }
</style>