
<template>
    <div :class="[oddsClass, 'odds-number']">

        <span class="odds-icon" v-if="position == 'left'" v-show="!notIcon">
            <i v-show="oddsClass == 'green'" class="odds-font common-odds-up"></i>
            <i v-show="oddsClass == 'red'" class="odds-font common-odds-down"></i>
        </span>
       
        <span :class="[ 'odds-words', { 'not-icon': notIcon && oddsUpdate}]"> 
            <slot></slot>
        </span>
       
        <span class="odds-icon" v-if="position == 'right'" v-show="!notIcon">
            <i v-show="oddsClass == 'green'" class="odds-font common-odds-up"></i>
            <i v-show="oddsClass == 'red'" class="odds-font common-odds-down"></i>
        </span>

    </div>
</template>
<script>
export default {
    /**
     * odds: 赔率
     * position: 位置
     * keys: 赔率key
     * notIcon:是否显示ICon
     * */     
    props: ["odds", "position","keys", "notIcon"],
    data() {
        return {
            oddsClass: "normal"
        };
    },
    computed:{
        propsData(){
            return {
                odds: this.odds,
                keys: this.keys
            }
        },
        oddsUpdate(){
            const oddsClass = this.oddsClass;
            return oddsClass == "green" || oddsClass == "red";
        }
    },
    watch: {
        propsData(v,ov){
            if( v.keys == ov.keys ){
                let upDown = ""; // 赔率变化是增加还是减少
                if (Number(v.odds) > Number(ov.odds)) {
                    this.oddsClass = "green";
                    upDown = "up";
                } else if (Number(v.odds) < Number(ov.odds)) {
                    this.oddsClass = "red";
                    upDown = "down";
                } else {
                    this.oddsClass = "normal";
                    upDown = "normal";
                }
                this.setOddsTime();
                this.$emit("update", upDown);
            }
        }
    },
    methods: {
        setOddsTime() {
            clearTimeout(this.oddsTime);
            this.oddsTime = setTimeout(() => {
                this.oddsClass = "normal";
            }, 3000);
        }
    },
    destroyed() {
        clearTimeout(this.oddsTime);
    }
};
</script>
<style lang="less" scoped >
@keyframes in-out-opacity {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.odds-number{
    display: flex;
    // justify-content: center;
    justify-content: flex-end;
    align-items: center;
}
.odds-font {
    display: block;
    width: 16px;
    height: 16px;
    animation: in-out-opacity 1s linear infinite;
}
.not-icon{
    animation: in-out-opacity 1s linear infinite;
}
.red{
    .odds-words{
        color: #FF352E !important;
    }
}
.green{
    .odds-words{
        color: #00FF3B !important;
    }
}

</style>
