<template>
  <div class="virtual-sports-stage">
    <div class="banner soccer">
        <!-- 0:代表开赛之前倒计时 -->
        <div v-if="!virtualMatch.matchStatus || virtualMatch.matchStatus == 0" class="timetop">
            <virtualSportsTimer
                :key="from"/>
        </div>
        <!-- 1:赛事进行中(有视频播放中) -->
        <div class="video-playing-container" v-if="virtualMatch.matchStatus === 1 && playedTime > 0 && playedTime <= virtualMatch.duration">
            <iframe
                v-if="!isHideVideo"
                :src="videoUrl"
                allow="autoplay; encrypted-media; fullscreen"
                frameborder="0" 
                scrolling="no"  
                width="100%"
                height="100%">
            </iframe>
            <!-- 实时比分-->
            <div class="current-info">
                <div class="current-score">
                    <div class="team home">
                        {{scoreData.homeName}}
                    </div>
                    <div class="score">
                        {{scoreData.home}}-{{scoreData.away}}
                    </div>
                    <div class="team away">
                        {{scoreData.awayName}}
                    </div>
                </div>
                <div class="c-s-timer-w">
                    {{showTime}}'
                </div>
            </div>
            <!-- 视频声音 -->
            <div :class="{'voice-wrap':true, muted: muted}" @click="toggleVideoVoice">
            </div>
        </div>
        <!-- 2:赛事结束显示对阵 -->
        <div v-if="virtualMatch.matchStatus === 2"  class="fat-box">
            <!-- 足球赛事结束对阵 -->
            <div class="footbal-score">
                <div class="name-wrap home">
                    <div class="match-name">{{scoreData.homeName}}</div>
                    <team-image :url="global.TeamImages[virtualMatch.home_team]" />
                </div>
                <div class="msc-wrap">
                <div class="match-msc DIN">
                    {{virtualMatch.penaltyScore ? scoreData.home - virtualMatch.penaltyScore.split(':')[0] : scoreData.home}}
                    <div class="heng common-teams-line" />
                    {{virtualMatch.penaltyScore ? scoreData.away - virtualMatch.penaltyScore.split(':')[1] : scoreData.away}}
                </div>
                <div class="match-end" v-if="!virtualMatch.penaltyScore">{{this.$t('virtualSports.video.matchEnd')}}</div>
                </div>
                <div class="name-wrap away">
                    <team-image :url="global.TeamImages[virtualMatch.away_team]" />
                    <div class="match-name">{{scoreData.awayName}}</div>
                </div>
            </div>
            <!-- 点球比分 -->
            <template v-if="virtualMatch.penaltyScore">
                <div class="footbal-score">
                    <div class="name-wrap home">
                        <div class="match-name" />
                        <div class="penalty-logo-image penalty"/>
                    </div>
                    <div class="msc-wrap">
                        <div class="match-msc DIN">
                            {{virtualMatch.penaltyScore.split(':')[0]}}
                            <div class="heng common-teams-line" />
                            {{virtualMatch.penaltyScore.split(':')[1]}}
                        </div>
                    </div>
                    <div class="name-wrap away">
                        <div class="penalty-logo-image" />
                        <div class="match-name" />
                    </div>
                </div>
                <div class="match-end">{{this.$t('virtualSports.video.matchEnd')}}</div>
            </template>
            <!-- 下一轮的时间 -->
            <div class="mmp-status" v-show="this.virtualMatch.nextBatchNo || nextMatchTime">
                <div class="stage">{{nextBatchTitle}}</div>
                <div class="times">{{nextMatchTime}}</div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import {mapGetters} from 'vuex';
import virtualSportsTimer from "./virtualSportsTimer.vue";

export default {
	name:'VirtualSportsStage',
	props:{
		from:String,
        tourId:String,
	},
	components:{
		virtualSportsTimer,
	},
	data(){
		return {
			// 下一轮赛事时间
			nextMatchTime:'',
			// 下一轮赛事轮或期标题
			nextBatchTitle:'',
			animationTag: null,
			showTime: 0,
			global,
			scoreData:{}, // 实时比分数据
			nextMatchTag1: null,
			nextMatchTag2: null,
			muted: true, // 视频是否静音
			playedTime:0,
            isHideVideo: localStorage.getItem('hideVideo') === 'true',
		}
	},
	computed:{
		...mapGetters([
			"serverTime",
			"localTime",
            "virtualMatch",
		]),
		videoUrl(){
			const {url} = this.virtualMatch;
			if(url){
			const urlArr = url.split('?');
			return `${urlArr[0]}?isVSports=1&videoUrl=${urlArr[1]}#playedTime=${Math.round(this.playedTime)},muted=${this.muted}`
			}
		},
	},
    watch:{
        'virtualMatch.matchStatus': {
            handler(v, ov) {
                if(v === 1){
                    console.log('绘制视频实时数据')
                    this.drawVideoData()
                }
            },
            immediate: true,
        },
    },
	methods:{
		toggleVideoVoice(){
			this.muted = !this.muted;
		},
		// 跟随视频播放绘制视频实时数据
		drawVideoData(){
			const { start_time, duration, detail, id} = this.virtualMatch;
			if(!detail){
				return;
			}
			const playedTime = (this.serverTime + (new Date().getTime() - this.localTime) - start_time * 1000) / 1000;
            // console.log('playedTime',playedTime, duration);
			this.playedTime = playedTime;
			this.showTime = Math.round((90 * playedTime) / duration);
            const {0:homeName, 1:awayName} = this.virtualMatch.match_team.split(',');
			this.scoreData = {homeName, awayName, home: 0, away: 0};
			for(let item of detail){
				if(item.updateTime <= this.showTime){
					this.scoreData = {
						homeName, 
						awayName,
						...item
					};
				}
			}
			if(playedTime >= duration){// 比赛结束
				console.log('比赛结束',playedTime,duration)
				this.$store.commit('SET_VIRTUAL_MATCH_STATUS', 2);
				clearTimeout(this.animationTag);
				// 下一轮赛事轮号或期号,开赛倒计时
				this.getNextBatchNo();
				this.timeCountingDown();
				// 赛果倒计时
				this.nextMatchTag1 = setInterval(() => {
					this.timeCountingDown();
				},1000);
				// 列表页获取下一轮赛事
				if(this.from === "list"){
					this.nextMatchTag2 = setTimeout(()=>{
						clearInterval(this.nextMatchTag1);
						clearTimeout(this.nextMatchTag2);
                        console.log('getVirtualMatches', this.from)
						this.$emit('getVirtualMatches');
					},60 * 1000)
                    // 获取点球比分
                    const {game_id, batch_no, id} = this.virtualMatch
                    this.$store.dispatch("fetchVirtualResult",{
                        game_id,
                        batch_no, 
                        tour_id: this.tourId,
                        matchId: id,
                    })
				}else{
                    this.$store.dispatch("fetchVirtualMatchDetail",{
                        match_id: id,
                        matchStatus: 2,
                        video_status: 1,
                    });
                }
			}else if(playedTime >= 0){
				this.animationTag = setTimeout(this.drawVideoData,300)
			}
		},
		// 获取下一轮赛事轮号或期号
		getNextBatchNo(){
			const {nextRound, nextBatchNo} = this.virtualMatch;
			const batchNo = this.$t('virtualSports.video.batchNo', { no: nextRound });
			const dateNo = this.$t('virtualSports.video.dateNo', { no: nextBatchNo });
			this.nextBatchTitle = nextRound ? batchNo : dateNo || '';
		},
		// 下一轮开赛倒计时
		timeCountingDown(){
			const {nextStartTime} = this.virtualMatch;
			const countDown = (nextStartTime * 1000 - (this.serverTime + (new Date().getTime() - this.localTime)))
			if(countDown <= 0 ){
				clearInterval(this.nextMatchTag1);
				clearTimeout(this.nextMatchTag2);
                if(this.from === "list"){
                    console.log('getVirtualMatches', this.from)
                    this.$emit('getVirtualMatches');
                }else{
                    console.log('跳转回首页', this.from)
                    this.$router.replace('/home');
                }
			}
			const timeObj = new Date(Number(countDown));
			const minutes = String(timeObj.getMinutes()).padStart(2,'0');
			const seconds = String(timeObj.getSeconds()).padStart(2,'0');
			this.nextMatchTime = nextStartTime ? `${minutes}:${seconds}` : '';
		},
        clearVirtualSportsStatus(){
            this.$store.commit('SET_VIRTUAL_MATCH_STATUS', 0);
            clearTimeout(this.animationTag);
            clearInterval(this.nextMatchTag1);
            clearTimeout(this.nextMatchTag2);
            console.log('cleared',this.from)
        }
	},
	destroyed(){
        console.log('destroyed', this.from)
        this.clearVirtualSportsStatus();
	},
	deactivated(){
        console.log('deactivated', this.from)
        this.clearVirtualSportsStatus();
	}
}
</script>

<style scoped lang='less'>
.dplayer-controller{
	display: none !important;
}
.virtual-sports-stage {
	position: relative;
    height: 100%;
}
.banner {
	background-size: 100% 100%;
	border-radius: 0.05rem;
	height: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
    &.soccer{
        background-image: url("~@/assets/images/vsports/soccer.png");
    }
    .video-playing-container {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        .current-info{
            position: absolute;
            bottom: 4px;
            display: flex;
            .current-score {
                opacity: 0.5;
                background: #000000;
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
                font-size: 12px;
                color: #FFFFFF;
                font-weight: 400;
                width: 252px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                .team{
                    width: 35%;
                    word-break: break-all;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    line-height: 20px;
                    &.home{
                        text-align: right;
                    }
                }
                .score{
                    width: 20%;
                    display: flex;
                    justify-content: center;
                    font-weight: 700;
                }
            }
            .c-s-timer-w {
                background: #0095FF;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                font-size: 12px;
                color: #FFFFFF;
                font-weight: 700;
                width: 24px;
                height: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        .voice-wrap {
            width: 20px;
            height: 20px;
            position: absolute;
            right: 12px;
            bottom: 4px;
            background-image: url("~@/assets/images/vsports/voice2.png");
            background-size: contain;
            &.muted{
                background-image: url("~@/assets/images/vsports/voice1.png");
                background-size: contain;
            }
        }
    }
}
.timetop {
	height: 100px;
    width: 100px;
}
.fat-box{
    width: 100%;
    background: rgba(0,0,0,0.30);
    backdrop-filter: blur(40px);
    @supports not (backdrop-filter: blur()){
        background: #1E2329;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;
    .footbal-score {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .name-wrap {
            display: flex;
            align-items: center;
            &.home{
                justify-content: flex-end;
            }
            &.away{
                justify-content: flex-start;
            }
            .match-name{
                font-size: 12px;
                color: #FFFFFF;
                text-align: center;
                font-weight: 400;
                width: 60px;
                flex: 0 0 60px;
                word-break: break-all;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .team-logo-image{
                width: 30px;
                height: 30px;
            }
            .penalty-logo-image{
                width: 20px;
                height: 20px;
            }
            .penalty{
                margin-top: 5px;
                background-image: url("~@/assets/images/vsports/penalty.png");
                background-size: contain;
            }
        }
        .msc-wrap{
            width: 74px;
            flex: 0 0 74px;
            margin: 0 8px;
            display: flex;
            flex-direction: column;
            align-items: center;
            .match-msc{
                display: flex;
                align-items: center;
                font-size: 24px;
                color: #FFFFFF;
                text-align: right;
                font-weight: 700;
                .heng{
                    width: 24px;
                    height: 24px;
                    margin: 0 5px;
                }
            }
            .match-end{
                opacity: 0.6;
                font-size: 12px;
                color: #FFFFFF;
                text-align: center;
                font-weight: 400;
                margin-top: 8px;
            }
        }
    }
    .mmp-status{
        margin-top: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        .stage{
            font-size: 12px;
            color: #FFFFFF;
            text-align: center;
            font-weight: 400;
        }
        .times{
            font-size: 14px;
            color: #E7BB02;
            text-align: center;
            font-weight: 700;
            margin-left: 10px;
        }
    }
}
</style>
