<template>
    <div class="v-s-timer" v-if="this.remainingTime > 0">
        <div class="v-timer-inner">
            <div class="timer-format" >{{timerFormat}}</div>
            <div class="count">{{virtualMatch.round_no}}</div>
        </div>
        <div class="graphic-wrapper">
            <svg width="100" height="100" viewbox="0 0 100 100">
                <circle cx="50" cy="50" r="46.6" stroke-width="3.4" :stroke="isLastCircle ? '#e23e3e' : '#00A5E0'" fill="none"></circle>
                <circle cx="50" cy="50" r="46.6" stroke-width="3.4" stroke="#77797e" fill="none" 
                    transform="matrix(0,-1,1,0,0,100)" :stroke-dasharray="`${dash} 1069`"></circle>
            </svg>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
    name: 'virtualSportsTimer',
    data(){
        return {
            timerFormat:'',
            isLastCircle:false,
            dash:0,
            animationId: null,
            perimeter: Math.PI * 2 * 46.6,
            isLocked: false,
            remainingTime: -1,
            timerTag: null,
        }
    },
    computed:{
        ...mapGetters([
            "serverTime",
            "localTime",
            "virtualMatch"
        ])
    },
     watch: {
        $route(to,from){
            if(from.name != 'home'){
                this.drawTimer();
            }   
        }
    },
    mounted(){
        this.drawTimer();
    },
    methods:{
        drawTimer(){
            if(!this.virtualMatch || !this.virtualMatch.start_time || !this.virtualMatch.sid){
                return;
            }
            // 剩余时间
            const currentSysTime = (this.serverTime + (new Date().getTime() - this.localTime));
            this.remainingTime = Number(this.virtualMatch.start_time * 1000) - currentSysTime;
            const singleCircle = 60 * 1000;
            this.isLastCircle = false;
            if(this.remainingTime <= singleCircle){
                this.isLastCircle = true;
            }
            // 毫秒格式化为: 分钟:秒
            const timeObj = new Date(Number(this.remainingTime));
            const minutes = String(timeObj.getMinutes()).padStart(2,'0');
            const seconds = String(timeObj.getSeconds()).padStart(2,'0');
            this.timerFormat = `${minutes}:${seconds}`;

            // 时钟毫秒数
            let circleSeconds = (this.remainingTime % singleCircle) / 1000;
            this.dash = (60 - circleSeconds) / 60 * this.perimeter;
            // 提前10秒通知锁盘
            if(this.remainingTime <= 10000 && !this.isLocked){
                this.isLocked = true;
                this.$store.commit("SET_MTACH_LOCK", {
                    batch_no: this.virtualMatch.batch_no
                });
            }
            if(this.remainingTime > 20){
                this.timerTag = setTimeout(this.drawTimer, 16);
            }else{// 进行中，或者已结束
                const {batch_no, game_id, tournament_id:tour_id} = this.virtualMatch;
                console.log('获取视频数据')
                this.$store.dispatch("fetchVirtualReplay",{batch_no, game_id, tour_id}).then(res => {
                    this.$store.commit('SET_VIRTUAL_MATCH_STATUS', 1);
                });
            }
        },
    },
    destroyed(){
        console.log('destroyed Timer', this.timerTag)
        clearTimeout(this.timerTag);
	},
	deactivated(){
        console.log('deactivated Timer', this.timerTag)
        clearTimeout(this.timerTag);
	}
}
</script>

<style scoped lang='less'>
.v-s-timer {
	align-items: center;
	display: flex;
	justify-content: center;
    position: relative;
	.v-timer-inner {
		height: 41px;
        position: absolute;
		.timer-format {
			font-size: 20px;
            color: #FFFFFF;
            text-align: center;
            font-weight: 700;
		}
        .count {
			opacity: 0.6;
            font-size: 12px;
            color: #FFFFFF;
            text-align: center;
            font-weight: 400;
            word-break: keep-all;
            white-space: nowrap;
		}
	}
	.graphic-wrapper {
		height: 100px;
	}
}
</style>
