<template>
    <div class="winModalToast" @click="clickHandle" v-show="winTips">
       <span>
         {{ i18n1.lang20 + ticketName }}
         <span style="marginLeft:6px"></span>  
         {{ i18n1.lang21 }}
            <span class="redcoloe">{{ toThousands(winAmount) }}</span>
            {{i18n1.lang2 }}
        </span>
       <van-icon name="arrow" />
    </div>
</template>

<script>
import { mapState } from "vuex";
export default {
    name: 'virtualSportsTimer',
    data(){
        return {
            winTips: false,
            winAmount: "",
            ticketName:this.$t('userPage.guide.championSummon'),
            i18n1: this.$t('yxzh.header'),
        }
    },
    computed: {
        ...mapState({
            pushData:state => state.lottery.pushData,
            winModal:state => state.setting.winModal,
        }),
    },
    watch:{
        pushData(event){
            if(event.type === "EVENT_PRIZE"){
                if(!this.winModal) return;
                if(this.winTips) return;
                this.showModal();
                // this.ticketName = event.data.ticketName;
                this.winAmount = event.data.WinAmount
            }
        },
    },
    mounted(){
        // this.showModal()
        // console.log(this.ticketName)
    },
    methods:{
        toThousands,
        clickHandle(){
            if(location.href.includes("/lottery")){
                this.$store.commit('setOpenBetReport', true)
            }else{
                this.$router.push("/lottery");
                setTimeout(()=>{
                    this.$store.commit('setOpenBetReport', true)
                },1000)
            }
        },
        showModal(){
            setTimeout(()=>{
                this.winTips = true;
                setTimeout(()=>{
                    this.winTips = false;
                },3000)
            },2000)
        }
    }
}
</script>

<style scoped lang='less'>
@keyframes moveTop{
    0%{
        top:0;
        opacity: 0.5;
    }
    100%{
        top: 100px;
        opacity: 1;
    }
}
.winModalToast{
    width: 90%;
    height: auto;
    min-height: 40px;
    position: fixed;
    top: 100px;
    left: 5%;
    display: flex;
    justify-content: space-between;
    background: rgba(0,0,0,.71)!important;
    padding: 10px;
    align-content: center;
    align-items: center;
    animation: moveTop 1s linear;
    z-index: 9999;
    .redcoloe{
        color: #FF7070;
    }
}
</style>
