<template>
    <div class="lol-bet-area statistics" ref="betArea">
        <div class="lol-bet-area-blance">
            <img src="@/assets/images/tese-lol/tb/money.png" alt="">
            <span>{{ i18n.wayMap.yuee }} </span>:<span class="num-wrap" v-html="formatedBalance"></span>
        </div>
        <div class="lol-bet-area-btn" ref="confimBtn" @click="openCheckModal($event)">
            <span v-html="i18n.wayMap.bet"></span>
            <Tooltip v-model="showBetTip" :autoClose="2000">{{ commonTip }}</Tooltip>
        </div>
        <div class="lol-statistics-btns">
            <!-- 投注记录 -->
            <div
                class="quick-btn recently-bill"
                ref="recentlyBill"
            >
                <i class="icon-bet" @click="$store.commit('setOpenBetReport', true)"></i>
            </div>
            <div class="lol-statistics-btns-line"></div>
            <!-- 清空投注 -->
            <span class="quick-btn clear-btn clear-plate" v-if="retry && !totalBets" @click="popLastBetData()">
                <i class="icon-refresh"></i>
            </span>
            <span class="quick-btn clear-btn clear-plate" v-else :class="{disabled: !totalBets}" @click="$emit('clearBet')">
                <i class="icon-cart"></i>
            </span>
            <div class="lol-statistics-btns-line"></div>
            <!-- 投注金额 -->
            <div class="quick-btn basket-add-btn">
                <i class="icon-add"  @click="showKeyboard"></i>
                <span class="icon-text"  @click="showKeyboard">{{ toThousands(amount) || 0 }}</span>
            </div>
            <div class="lol-statistics-btns-line"></div>
            <div class="quick-btn bet-trace" ref="traceBtn" @click="openTraceModal($event)">
                {{i18n.wayMap.chase}}
                <Tooltip v-model="showTraceBetTip" :autoClose="2000">{{ commonTip }}</Tooltip>
            </div>
        </div>

        <LolKeyBoard
            ref="keyboard"
            v-model="keyboardValue"
            :show.sync="showNumberKeyboard"
        ></LolKeyBoard>

        <VanPopup
            class="lol-betRport-modal"
            position="bottom"
            get-container="#tese-lol"
            @click.stop="hidePopup($event)"
            v-model="showBetReport"
        >
            <report-wrapper @hiddenHistory="$store.commit('setOpenBetReport', false)" :showBetReport.sync="showBetReport"></report-wrapper>
        </VanPopup>
    </div>
</template>

<script>
import {
    mapState,
    mapGetters,
} from 'vuex'
import doubleBet from '@/views/lottery/configure/mixin/lolDoubleBet'
import betLimit from '@/views/lottery/configure/mixin/betLimitLol'
import firstTime from '@/views/lottery/configure/mixin/firstTime'
import i18n from '@/assets/i18n';
import { format, format0ToMax, format2Html } from '@/views/lottery/util'
import LolKeyBoard from './LolKeyBoard.vue'
import throttle  from 'lodash/throttle';
import { cloneDeep } from 'lodash'
import TraceModal from './traceModal.vue'
import reportWrapper from './reportWrapper'
export default {
    name: 'BetArea',
    mixins: [doubleBet, betLimit, firstTime],
    props: ['betData'],
    components: {
        LolKeyBoard,
        reportWrapper,
    },
    data() {
        return {
            showNumberKeyboard: false,
            showBetTip      : false,
            showTraceBetTip : false,   // 追号轻提示
            limitRangeTipOne: false,
            limitRangeTipTwo: true,
            commonTip       : null,
            isFocus         : false,
            tooltipInstance:null,
            showComboStartTip: false,// 开始连开提示
            showComboStopTip: false, // 结束连开提示
            focusInput      : false, // input输入框是否展示红色边框
            keyboardValue: 0,
            i18n: i18n.t('yxzh'),
        }
    },

    computed: {
        ...mapState({
            currentStatus: state => state.lottery.currentStatus,
            ticketInfo: state => state.lottery.ticketInfo,
            currencyChar: state => state.lottery.currencyChar,
            lastBetData: state => state.lottery.lastBetData,
            featureBetRangeList: state => state.setting.featureBetRangeList,
            // showBetReport: state => state.lottery.openBetReport,

        }),
        ...mapGetters([
            'balance',
            'currentSale',
            'currentIssue',
            'isJKC',
            'currentJKCState',
            'lastPlayId',
            'lastPlayId',
        ]),
        showBetReport:{
            get(){
                return this.$store.state.lottery.openBetReport
            },
            set(val){
                this.$store.commit('setOpenBetReport', val)
            }
        },
        amount: {
            get() {
                return this.$store.state.lottery.amount;
            },
            set(v) {
                if(v){
                    localStorage.setItem("setAmount",v);
                    this.$store.commit('setAmount', v);
                }
            }
        },
        doubleBetRange() {
            return (
                (this.doubleBetRangeList &&
                    this.doubleBetRangeList.filter(item => item.current)[0]) ||
                {}
            )
        },
        formatedBalance() {
            // 最大展示数值 999999.999
            return format2Html(format0ToMax(this.balance, 3), 14 - this.currencyChar.length)
        },

        hasBet() {
            if (!Number(this.totalBets)) {
                return false
            }
            // 2. 请输入金额
            if (!this.amount) {
                return false
            }

            return true
        },

        totalBets() {
            if (!this.betData) {
                return
            }
            const totalBets = Number(this.betData.totalBets || 0)
            return totalBets
        },

        totalAmount() {
            if (!this.betData) {
                return
            }
            const totalAmount = format(this.betData.totalAmount || 0, 0, 0)
            return totalAmount.length > 8 ? `${totalAmount.slice(0, 8)}...` : totalAmount
        },
        // 是否可以重来一次
        retry() {
            return this.lastBetData && this.lastBetData.list && this.lastBetData.list.length
        }
    },

    watch: {

        hasBet(v) {
            // 假如没有错误提示，应该立马隐藏
            if (v) {
                this.showToolTip('null')
            }
        },

        showNumberKeyboard: {
            handler(v) {
                let amount = String(this.amount)
                amount = amount.replace(/^[0]+/, '')
                this.amount = amount
            },
            immediate: true,
        },
    },

    methods: {
        toThousands,
        hidePopup(event){
            if(event.target.classList.value.includes("lol-betRport-modal")){
                this.$store.commit('setOpenBetReport', false);
            }
        },
        showKeyboard() {
            this.showNumberKeyboard = true
            this.amount = this.amount ? String(this.amount) : ''
            this.keyboardValue = this.amount
        },

        
        setOrderSource() {
            global.orderSource = 8
        },

        getHasBetTip() {
            if (!Number(this.totalBets)) {
                return this.$t('yxzh.wayMap.errorTips1')
            }
            if (!this.amount) {
                this.focusInput = true;
                return this.$t('yxzh.wayMap.errorTips2')
            }

            return ''
        },


        showToolTip(type) {
            this.showBetTip = false
            this.showTraceBetTip = false
            this.limitRangeTipOne = false
            this.limitRangeTipTwo = false
            switch (type) {
                case 'trace':
                    this.showTraceBetTip = true
                    break
                case 'bet':
                    this.showBetTip = true
                    break
                case 'limitRangeTipOne':
                    this.limitRangeTipOne = true
                    break
                case 'limitRangeTipTwo':
                    this.limitRangeTipTwo = true
                    break
            }
        },
        openCheckModal:throttle(function($event) {
            this.setOrderSource()
            // if(this.fengpaning) {
            //     this.$toast(i18n.t('yxzh.wayMap.fengpaning', {issue: this.currentStatus.planId}))
            //     return
            // }
            // 轻提示
            this.commonTip = this.getHasBetTip()
            if (this.commonTip) {
                this.showToolTip('bet')
                return
            }
            
            // 数据获取中，没有获取到期号与倒计时
            if (this.currentSale === null) {
                this.$root.$emit('ShowLoadingTip')
                return
            }

            // 彩种停售
            if (this.currentSale === false) {
                this.$root.$emit('ShowNotSaleTip')
                return
            }

            // 1. 判断余额
            if (Number(this.balance) < Number(this.betData.totalAmount)) {
                this.$dialog.alert({
                    title: this.i18n.wayMap.tipsTitle,
                    message: this.i18n.wayMap.tipsText,
                    forbidClick: true,
                })
                return
            }
            if (this.checkLimit(this.betData, this.$refs.confimBtn, 1)) {
                return
            }
            const lastBetData = cloneDeep(this.betData)
            const vm = this
            this.$store.commit("setBetEntrance",'bet')
            this.openDoubleCheckModal({
                issue: this.currentIssue,
                ticketName: this.ticketInfo.ticketName,
                isJKC: this.isJKC
            }, (err, data) => {
                // 假如是超过限红，取消掉已经选中的球号
                if (err && err.code === 10069) {
                    // 有问题的玩法id
                    const limitedIdList = JSON.parse(err.msg)
                    const betList = vm.betData.list
                    // 找出超出限红的球号
                    const limitedList = betList.filter(ballItem => {
                        return limitedIdList.includes(Number(ballItem.playItemId))
                    })
                    // 提示并取消选中
                    if (limitedList.length) {
                        // prettier-ignore
                        this.$toolTipShow(
                            vm.limitBetRange,
                            {
                                container: this.$refs.confimBtn,
                                doubleBetRange: this.doubleBetRange,
                                betData: { list: limitedList },
                                type: 3, // 显示已删除
                                OnClickOnSetting: () => {
                                    vm.$emit('clickOnSetting')
                                },
                            }
                        )
                    }
                    this.$tipModal.closeInstance()
                }
                if(!err) {
                    this.$emit('clearBet')
                    this.$store.commit("setlastBetData",lastBetData)
                }
            })
        },1000),

        
        // setLastBetData(data){
        //     this.$store.dispatch('updateLastBet', {
        //         lastBetData: data,
        //     })
        // },
        openTraceModal($event) {
            this.setOrderSource()
            // 轻提示
            this.commonTip = this.getHasBetTip()
            if (this.commonTip) {
                this.showToolTip('trace')
                return
            }

            // 数据获取中，没有获取到期号与倒计时
            if (this.currentSale === null) {
                this.$root.$emit('ShowLoadingTip')
                return
            }

            // 彩种停售
            if (this.currentSale === false) {
                this.$root.$emit('ShowNotSaleTip')
                return
            }
            // 1. 判断余额
            if (this.balance < Number(this.amount)) {
                this.$dialog.alert({
                    title: `【${this.i18n.wayMap.tipsTitle}】`,
                    message: this.i18n.wayMap.tipsText,
                    forbidClick: true,
                })
                return
            }
            if (this.checkLimit(this.betData, this.$refs.traceBtn, 2)) {
                return
            }
            this.$tipModal(TraceModal, {
                height: 'trace-tip-modal lol',
                title: this.i18n.wayMap.chase,
                rightText: '',
                contentOpts: {
                    betData: this.betData,
                    clickOnSetting: () => this.$emit('clickOnSetting'),
                },
                onHeadRightClick: isNotPop => {
                    // this.clearPlate(isNotPop)
                    this.$emit('clearBet')
                },
            })
        },
        popLastBetData() {
            this.$emit('resetBetData', this.lastBetData)
        }
    },
    mounted() {
        if(!this.amount && this.featureBetRangeList) {
            this.amount = this.featureBetRangeList?.find(v => v.current).doublePlayBetMin
        }
        
        this.$root.$on('lol-show-record', () => this.$store.commit('setOpenBetReport', true))
    }

}
</script>

<style lang="less">
@mixin btn-border {
    transition: none;
    border: solid 1px #A29B78;
    background: #2E354A;
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.50), inset 0 0 1px 1px #2C3D49;
    border-radius: 4px;
    color: #F3ECD3;
    &.disabled {
        border-color: #8baab9;
        background-color: transparent;
        color: #888888;
        background-image: unset;
        border: 1px solid #555555;
        box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%), inset 0 0 1px 1px #2c3d49;
        border-radius: 5px;
    }
}
.lol-bet-area {
    flex-direction: column;
    position: relative;
    z-index: 2;
    background: url(~@/assets/images/tese-lol/footer_bg.png) no-repeat;
    background-size: 100% auto;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    height: 75px;
    .mk-number-keyboard {
        flex: 1;
    }
    .lol-bet-area-blance{
        height: 30px;
        display: flex;
        align-content: center;
        align-items: center;
        color: #B9A874;
        font-size: 12px;
        img{
            width: 16px;
            height: 16px;
            margin-left: 20px;
            margin-right: 4px;
            margin-top: 1px;
        }

    }
    .lol-bet-area-btn{
        text-align: center;
        width: 79px;
        height: 79px;
        background: url(~@/assets/images/tese-lol/tb/touzhubtn.png) no-repeat;
        background-size: 100% auto;
        position: absolute;
        top: -10px;
        right: 11px;
        font-size: 14px;
        font-weight: bold;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
    .lol-statistics-btns {
        display: flex;
        align-items: center;
        align-content: center;
        z-index: 101;

        .quick-btn {
            position: relative;
            display: flex;
            flex-direction: column;
            height: 42px;
            justify-content: center;
            align-items: center;

            .icon-text {
                font-size: 12px;
            }
        }
        .lol-statistics-btns-line{
            width: 1px;
            height: 24px;
            background: linear-gradient(to bottom,rgba(119,94,49,1),rgba(119,94,49,0));
        }
        .recently-bill {
            position: relative;
            width: 58px;
            @include btn-border;

            .icon-bet {
                display: inline-block;
                width: 16px;
                height: 16px;
                background: url(~@/assets/images/tese-lol/tb/bet.png) no-repeat;
                background-size: contain;
                margin-top: 2px;
            }

            .tag {
                position: absolute;
                top: -4px;
                right: -4px;
                width: (47px/3);
                height: (47px/3);
                line-height: (47px/3);
                border-radius: (47px/3);
                background-color: #ff6464;
                font-size: 10px;
                text-align: center;
                color: #fff;
                z-index: 1001;
            }
        }

        .clear-btn {
            position: relative;
            width: 55px;
            @include btn-border;

            .icon-cart {
                display: inline-block;
                width: 16px;
                height: 16px;
                background: url(~@/assets/images/tese-lol/tb/delete.png) no-repeat;
                background-size: contain;
            }
            &.disabled {
                .icon-cart {
                    background-image: url(~@/assets/images/tese-lol/tb/delete-inactive.png);
                }
            }
            
            .icon-refresh {
                display: inline-block;
                background-image: url('~@/assets/images/tese-lol/tb/icon-refresh.png');
                width: 17px;
                height: 17px;
                background-size: contain;
            }
        }

        .basket-add-btn {
            width: 111px;
            @include btn-border;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: #B9A874;

            .icon-add {
                display: inline-block;
                width: 16px;
                height: 16px;
                background: url(~@/assets/images/tese-lol/tb/money.png) no-repeat;
                background-size: contain;
                margin-right: 5px;
            }
        }

        .quick-bet {
            position: relative;
            display: flex;
            width: 110px;
            height: 42px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            color: #C6E6F0;
            // @include btn-border;
            // background: url(~@/assets/images/tese-lol/tb/active-btn.png) no-repeat;
            background: url(~@/assets/images/tese-lol/tb/bet-btn.png) no-repeat;
            background-size: 100% 100%;
            &.disabled {
                // background-image: url(~@/assets/images/tese-lol/tb/bet-btn-inactive.png);
                background-image: unset;
                border: 1px solid #45464b;
                box-shadow: inset 0 0 0 1px rgb(0 0 0 / 50%), inset 0 0 1px 1px #2c3d49;
                color: #888;
                border-radius: 5px;
            }
            .balance {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                width: (310px/3);
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                text-align: center;
                .num-wrap{
                    display: inline-block;
                    max-width: 85px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    vertical-align: text-bottom;
                }
            }
        }

        .bet-trace {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 58px;
            height: 42px;
            color: #B9A874;

            @include btn-border;
            .mk-tooltip-g {
                left: 5px;
            }

            &.disabled {
                color: #888;
            }
        }
    }

}

.van-popup.lol  { 
    .tipmodal-wrap {
        background: rgba(0,0,0,0.13);
        background: url(~@/assets/images/tese-lol/bg-popup.png) no-repeat;
        position: relative;
        border-radius: 0;
        .pop-header {
            border-bottom: 1px solid rgba(165,174,180,0.18);;
            .left {
                position: relative;
                .modal-fold {
                    background-image: url('~@/assets/images/tese-lol/tb/dropdown.png');
                    width: 14px;
                    height: 8px;
                }
            }
            .center {
                color: white;
                font-size: 15px;
                font-weight: 500;
            }
            .right {
                font-size: 14px;
                background-image: linear-gradient(to bottom, #EFDEAB, #C9B476);
                -webkit-background-clip: text;
                background-clip: text;
                font-weight: 900;
                -webkit-text-fill-color: transparent;
            }
        }
        .pop-body {
            .mk-button {
                width: 347px;
                background-image: linear-gradient(180deg, rgba(0,149,255,0.16) 2%, rgba(0,149,255,0.30) 100%);
                border: 1px solid rgba(0,149,255,1);
                box-sizing: border-box;
                font-size: 14px;
                font-weight: bolder;
            }
        }
    }
}
.lol-betRport-modal {
    position: absolute !important;
    height: 100%;
    background: rgba(0,0,0,0);
}
</style>
