<template>
    <div class="game-num-more">
        <div class="num-more-content">
            <h3>{{$t('yxzh.tab.betContent2')}}</h3>
            <p v-html="data"></p>
        </div>
        <div class="num-more-btn">
            <div class="more-btn-icon" @click="close">
                <VanIcon class="btn-icon" name="cross"></VanIcon>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: ['data'],
    methods: {
        close() {
            this.$listeners.close()
        },
    },
}
</script>
<style lang="less">

.down-close.van-popup {
    background: none;
    border-radius: 0;
}

.game-num-more {
    width: 240px;
    height: 400px;
    margin: 0 auto;
    .num-more-content {
        height: 330px;
        background: #fff;
        border-radius: 10px;
        h3 {
            text-align: center;
            font-weight: normal;
            line-height: 40px;
            font-size: 17px;
            color: #333333;
            border-bottom: 1px solid #dbdbdb;
        }
        p {
            word-break: break-all;
            height: 280px;
            overflow-x: hidden;
            overflow-y: auto;
            padding: 0 10px;
            margin-top: 10px;
            color: #999999 !important;
            i{
                color: #999999 !important;
            }
        }
    }
    .num-more-btn {
        height: 70px;
        overflow: hidden;
        .more-btn-icon {
            width: 40px;
            height: 40px;
            margin: 10px auto;
            border-radius: 40px;
            border: 1px solid #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            .btn-icon {
                font-size: 16px;
                color: #ffffff;
            }
        }
    }
}
</style>