<template>
    <div>
        <div class="time-tab">
            <span
                v-for="(item, index) in tabList"
                :key="index"
                :class="[active == index ? 'active' : '']"
                @click="changeActive(index)"
            >
                {{ item }}
            </span>
        </div>
        <div class="lol-table">
            <div class="lol-table-header">
                <span class="column juhao">{{ $t('yxzh.play.report.betNo') }}</span>
                <span class="column time">{{ $t('yxzh.play.report.betTime') }}</span>
                <span class="column amount">{{ $t('yxzh.play.report.betContent') }}</span>
                <span class="column result">{{ $t('yxzh.play.report.orderStatus') }}</span>
            </div>
            <div class="lol-table-body">
                <mk-pull-refresh
                    class="record-list"
                    v-model="refreshing"
                    @refresh="onRefresh"
                    ref="recordList"
                    style="min-height: 100%"
                >
                    <mk-list
                        v-model="loading"
                        :finished="finished"
                        :finished-text="i18n.nomore"
                        :loading-text="$t('yxzh.loading')"
                        :offset="20"
                        @load="onLoad"
                    >
                        <div
                            class="table-tr"
                            @click="goDetail(item)"
                            v-for="(item, idx) of list"
                            :key="idx"
                        >
                            <div class="column juhao">{{ getPlanNo(item.ticketPlanNo) }}</div>
                            <div class="column time">
                                {{ getZoneTime(item.betTime).split(' ')[1] }}
                            </div>
                            <span class="column amount">
                                <img :src="transPlay(item)" />
                                <span>{{ filterBetContent(item.betContent) }}</span>
                            </span>
                            <div class="column result" :class="{colorRed: item.betStatus === 5, colorGray: item.betStatus === 2}">{{ item.betStatusDes }}<van-icon class="colorGray" name="arrow" /></div>
                        </div>
                        <template #finished>
                            <div class="no-data" v-if="(!list || list.length === 0) && !loading">
                                <div class="icon"></div>
                                <div class="tip">{{ i18n.norecords }}</div>
                            </div>
                        </template>
                    </mk-list>
                </mk-pull-refresh>
            </div>
        </div>
        <VanPopup class="lol-reportDetails-modal" position="right" v-model="showDetails">
            <ReportDetails
                :title="$t('yxzh.play.report.orderDetail')"
                @hiddenDetails="showDetails = false;onRefresh()"
                :dataDetails="dataDetails"
                @updateList="onRefresh"
            />
        </VanPopup>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { List, PullRefresh } from 'vant'
import orderStatus from '@/views/lottery/configure/mixin/orderStatus'
import * as LotteryApi from '@/api/teselol'
import { lolMap1, lolMap2 } from '@/views/lottery/util/lottery'
import ReportDetails from './ReportDetails'

export default {
    name: 'chaseReport',
    mixins: [orderStatus],
    components: {
        mkList: List,
        mkPullRefresh: PullRefresh,
        ReportDetails,
    },
    data() {
        return {
            active: 0,
            tabList: [
                this.$t('yxzh.history.times[0]'), 
                this.$t('yxzh.history.times[1]'), 
                this.$t('yxzh.history.times[2]')
            ],
            refreshing: false,
            loading: false,
            finished: false,
            list: [],
            searchData: {
                pageNum: 1, // 查询页码
                pageSize: 30, // 每页数量
                startDate: getNDateT(0), // 开始时间 精确到分秒
                endDate: getNDateT(-1), // 结束时间 精确到分秒
                isLow: 0, // 是否查询低频彩种
                ticketId: '', // 彩种ID
                groupMode: 3, // 特色彩
            },
            showDetails: false,
            dataDetails: null,
            i18n: this.$t('yxzh'),
        }
    },
    watch: {
        showBetReport(v) {
            console.log('show bet repor:', v)
            if (v) {
                this.onRefresh()
            }
        },
    },

    computed: {
        ...mapState({
            showBetReport: state => state.lottery.openBetReport,
            ticketId: (state) => state.lottery.ticketId,
        }),
    },

    created() {
        this.ticketName = this.name
    },

    methods: {
        ...mapActions(['fetchOrderList']),
        getZoneTime,
        getPlanNo(planNo) {
            return planNo.slice(2).replace('-', '')
        },
        getLotteryInfo(data) {
            let [ball, sex] = data.split(',')
            let range = ball.slice(0, 2)
            // 英雄
            const heroId = Number(range + sex)

            // 性别
            const sexId =
                {
                    1: 'male',
                    2: 'female',
                }[sex] || 'male'

            // 定位
            const rangeId =
                {
                    0: 'melee',
                    1: 'remote',
                }[lolMap2[Number(range)]] || 'melee'

            // 战斗力范围
            const positionId =
                {
                    0: 'tank',
                    1: 'warrior',
                    2: 'assassin',
                    3: 'archer',
                    4: 'mage',
                    5: 'support',
                }[lolMap1[Number(range)]] || 'tank'

            return {
                hero: heroId,
                sex: sexId,
                range: rangeId,
                position: positionId,
            }
        },
        changeActive(v) {
            this.active = v
            this.onRefresh()
            const times = {
                0: [0, -1],
                1: [1, 0],
                2: [2, 1],
            }[v]
            this.searchData.startDate = getNDateT(times[0])
            this.searchData.endDate = getNDateT(times[1])
        },
        clearData() {
            this.searchData.pageNum = 1
            this.searchData.pageSize = 30
            this.list = []
        },
        // 刷新
        onRefresh() {
            this.clearData()
            this.finished = false
            this.loading = true
            this.onLoad()
        },
        // 加载
        onLoad() {
            if (this.refreshing) {
                this.refreshing = false
            }
            setTimeout(() => {
                LotteryApi.getOrderList(this.packageData())
                    .then((result) => {
                        let res = result.data.data
                        if (res && res.list) {
                            if (!res.total || res.total == 0) {
                                this.finished = true
                            }

                            if (this.list.length < res.total) {
                                this.list = this.list.concat(res.list)
                                this.searchData.pageNum++
                            }

                            if (this.list.length >= res.total) {
                                this.finished = true
                            }
                        } else {
                            this.finished = true
                        }
                        this.loading = false
                    })
                    .catch((e) => {
                        this.loading = false
                    })
            }, 1000)
        },
        // 请求参数
        packageData() {
            const data = { ...this.searchData }
            // 删除空键值对
            for (const ele in data) {
                if (data[ele] === undefined || data[ele] === '') {
                    this.$delete(data, ele)
                }
            }
            this.$set(data, 'isLow', this.searchData.isLow)
            this.$set(data, 'startDate', `${this.searchData.startDate}`)
            this.$set(data, 'endDate', `${this.searchData.endDate}`)
            this.$set(data, 'ticketId', this.ticketId)
            return data
        },
        goDetail(item) {
            this.$store.commit("SET_ISSHOWOPEN",false)
            this.$store.commit('SET_CURRENTORDER', {
                ...item,
            })
            this.dataDetails = item
            this.showDetails = true
        },

        filterBetContent(content) {
            return content.split(',')[0];
        },

        transPlay({ betContent, betNum }) {
            switch (betNum) {
                case 'nan':
                    // 翻译
                    return require('@/assets/images/tese-lol/tb/icon_male.png')
                case 'nv':
                    return require('@/assets/images/tese-lol/tb/icon_female.png')
                case 'jinzhan':
                    return require('@/assets/images/tese-lol/tb/melee-icon2.png')
                case 'yuanzhan':
                    return require('@/assets/images/tese-lol/tb/remote-icon2.png')
                case 'tanke':
                    return require('@/assets/images/tese-lol/tb/tank.png')
                case 'zhanshi':
                    return require('@/assets/images/tese-lol/tb/warrior.png')
                case 'cike':
                    return require('@/assets/images/tese-lol/tb/assassin.png')
                case 'fashi':
                    return require('@/assets/images/tese-lol/tb/mage.png')
                case 'fuzhu':
                    return require('@/assets/images/tese-lol/tb/support.png')
                case 'sheshou':
                    return require('@/assets/images/tese-lol/tb/archer.png')
                default:
                    return require('@/assets/images/tese-lol/tb/hit.png')
            }
        },
    },

    filters: {
        zhanliFilter(v = '02000') {
            let t = String(Number(v)).split('')
            t.splice(t.length - 3, 0, ',')
            return t.join('')
        },
    },
}
</script>

<style lang="less" scoped>
.time-tab {
    height: 42px;
    display: flex;
    justify-content: center;
    background: rgba(108,108,108,0.06);
    font-size: 14px;
    align-items: center;
    color: rgba(255,255,255,0.60);
    > span {
        text-align: center;
        flex: none;
        min-width: 70px;
        margin: 0 6px;
        height: 32px;
        line-height: 32px;
        position: relative;

        &:last-child {
            &::after {
                display: none;
            }
        }

        &:after {
            content: "";
            display: block;
            width: 1px;
            height: 12px;
            background: rgba(255,255,255,0.20);
            border-radius: 0.5px;
            position: absolute;
            right: -6px;
            top: 50%;
            margin-top: -6px;
        }

        &:nth-of-type(1) {
            border-right: 0;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
        }
        &:nth-of-type(2) {
        }
        &:nth-of-type(3) {
            border-left: 0;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }
        &.active {
            color: #f0e5b5;
        }
    }
}
.lol-table {
    height: 436px;
    .lol-table-header {
        background: rgba(0, 0, 0, 0.22);
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        color: #8a93a2;
        display: flex;
        .column {
            flex: 1;
        }
        .result {
            text-align: right;
        }
    }
    .lol-table-body {
        height: 406px;
        font-size: 12px;
        color: #ffffff;
        overflow: hidden;
        .record-list {
            height: 406px;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }
        .table-tr {
            height: 44px;
            line-height: 44px;
            border-bottom: 1px solid #586678;
            display: flex;
            .column {
                flex: 1;
            }
            .amount {
                white-space: nowrap;
                overflow: visible;
                text-align: left;
                img {
                    width: 15px !important;

                    vertical-align: middle;
                    margin-right: 3px;
                }
            }
            .result {
                text-align: right;
            }
            .colorRed {
                color: #FF6F71;
            }
            .colorGray {
                color: #8A93A2;
            }
        }
    }
    .lol-table-header,
    .lol-table-body .table-tr {
        .juhao {
            flex: 1;
            padding-left: 15px;
        }
        .time {
            flex: 1;
        }
        .amount {
            flex: 1;
        }
        .result {
            flex: 1;
            padding-right: 15px;
        }
    }
}

.lol-reportDetails-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-image: url(~@/assets/images/tese-lol/lol-bg.png);
}
</style>
<style>
.history-page-lol .lol-reportDetails-modal {
    height: 100%;
}
</style>