<template>
    <div>
        <div class="lol-table">
            <div class="lol-table-header">
                <span class="column time">{{ $t('yxzh.play.report.chaseTime') }}</span>
                <span class="column amount">{{ $t('yxzh.play.report.chasePlay') }}</span>
                <span class="column result">{{ $t('yxzh.play.report.totalBet') }}</span>
                <span class="column result">{{ $t('yxzh.play.report.orderStatus') }}</span>
            </div>
            <div class="lol-table-body">
                <mk-pull-refresh
                    class="record-list"
                    v-model="refreshing"
                    @refresh="onRefresh"
                    ref="recordList"
                    style="min-height: 100%"
                >
                    <mk-list
                        v-model="loading"
                        :finished="finished"
                        :finished-text="i18n.nomore"
                        :loading-text="$t('yxzh.loading')"
                        :offset="20"
                        @load="onLoad"
                    >
                        <div
                            class="table-tr"
                            @click="goDetail(item)"
                            v-for="(item, idx) of list"
                            :key="idx"
                        >
                            <div class="column time">
                                {{ getZoneTime(item.chaseStartTime).substr(-14) }}
                            </div>
                            <span class="column amount">
                                <span>{{ item.playName }}</span>
                            </span>
                            <div class="column result">{{ item.donePeriods }}/{{ item.allPeriods }}</div>
                            <div class="column result last" :class="{
                                colorRed: item.chaseStatus === 5 || item.winAmount > 0, 
                                colorGray: item.chaseStatus === 2 &&  item.winAmount == 0, 
                            }">{{ item.chaseStatusDes }}<van-icon class="colorGray" name="arrow" /></div>
                        </div>
                        <template #finished>
                            <div class="no-data" v-if="(!list || list.length === 0) && !loading">
                                <div class="icon"></div>
                                <div class="tip">{{ i18n.norecords }}</div>
                            </div>
                        </template>
                    </mk-list>
                </mk-pull-refresh>
            </div>
        </div>
        <VanPopup class="lol-reportDetails-modal" position="right" v-model="showDetails">
            <chaseDetails
                :title="$t('yxzh.play.report.chaseDetail')"
                @hiddenDetails="showDetails = false;onRefresh()"
            />
        </VanPopup>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import { List, PullRefresh } from 'vant'
import orderStatus from '@/views/lottery/configure/mixin/orderStatus'
import * as LotteryApi from '@/api/teselol'
import chaseDetails from './chaseDetails'
import cancelOrder from '@/views/lottery/configure/mixin/cancelOrder'

export default {
    name: 'chaseReport',
    mixins: [orderStatus, cancelOrder],
    components: {
        mkList: List,
        mkPullRefresh: PullRefresh,
        chaseDetails,
    },
    data() {
        return {
            active: 0,
            tabList: [this.$t('yxzh.history.times[0]'), this.$t('yxzh.history.times[1]'), this.$t('yxzh.history.times[2]')],
            refreshing: false,
            loading: false,
            finished: false,
            list: [],
            searchData: {
                pageNum: 1, // 查询页码
                pageSize: 30, // 每页数量
                startDate: getNDateT(2), // 开始时间 精确到分秒
                endDate: getNDateT(-1), // 结束时间 精确到分秒
                isLow: 0, // 是否查询低频彩种
                ticketId: '', // 彩种ID
                groupMode: 3, // 特色彩
            },
            showDetails: false,
            i18n: this.$t('yxzh'),
        }
    },
    watch: {
        showBetReport(v) {
            if (v) {
                this.onRefresh()
            }
        },
    },

    computed: {
        ...mapState({
            ticketId: (state) => state.lottery.ticketId,
            showBetReport: state => state.lottery.openBetReport,
        }),
    },

    created() {
        this.ticketName = this.name
    },

    methods: {
        ...mapActions(['fetchOrderList']),
        getZoneTime,
        clearData() {
            this.searchData.pageNum = 1
            this.searchData.pageSize = 30
            this.list = []
        },
        // 刷新
        onRefresh() {
            this.clearData()
            this.finished = false
            this.loading = true
            this.onLoad()
        },
        // 加载
        onLoad() {
            if (this.refreshing) {
                this.refreshing = false
            }
            setTimeout(() => {
                LotteryApi.getTraceList(this.packageData())
                    .then((result) => {
                        let res = result.data.data
                        if (res && res.list) {
                            if (!res.total || res.total == 0) {
                                this.finished = true
                            }

                            if (this.list.length < res.total) {
                                this.list = this.list.concat(res.list)
                                this.searchData.pageNum++
                            }

                            if (this.list.length >= res.total) {
                                this.finished = true
                            }
                        } else {
                            this.finished = true
                        }
                        this.loading = false
                    })
                    .catch((e) => {
                        this.loading = false
                    })
            }, 1000)
        },
        // 请求参数
        packageData() {
            const data = { ...this.searchData }
            // 删除空键值对
            for (const ele in data) {
                if (data[ele] === undefined || data[ele] === '') {
                    this.$delete(data, ele)
                }
            }
            this.$set(data, 'isLow', this.searchData.isLow)
            this.$set(data, 'startDate', `${this.searchData.startDate}`)
            this.$set(data, 'endDate', `${this.searchData.endDate}`)
            this.$set(data, 'ticketId', this.ticketId)
            return data
        },
        goDetail(item) {
            this.$store.commit("SET_ISSHOWOPEN",false)
            this.$store.commit('SET_CURRENTORDER', {
                ...item,
                orderId: item.chaseId
            })
            this.fetchTraceDetail(item.chaseId).then(r => {
                this.showDetails = true
            })
        },
    },
}
</script>

<style lang="less" scoped>
.lol-table {
    height: 436px;
    .lol-table-header {
        background: rgba(0, 0, 0, 0.22);
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        color: #8a93a2;
        display: flex;
        .result {
            text-align: right;
        }
    }
    .lol-table-body {
        height: 440px;
        font-size: 12px;
        color: #ffffff;
        overflow: hidden;
        .record-list {
            height: 406px;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            
            background: url(~@/assets/images/tese-lol/bg-popup.png) no-repeat;
            background-size: cover;
        }
        .table-tr {
            height: 44px;
            line-height: 44px;
            border-bottom: 1px solid #586678;
            display: flex;
            .amount {
                white-space: nowrap;
                overflow: visible;
                text-align: left;
                img {
                    width: 15px !important;

                    vertical-align: middle;
                    margin-right: 3px;
                }
            }
            .result {
                text-align: right;
            }
            .colorRed {
                color: #FF6F71;
            }
            .colorGray {
                color: #8A93A2;
            }
        }
    }
    .lol-table-header,
    .lol-table-body .table-tr {
        .time {
            padding-left: 15px;
            white-space: nowrap;
            width: 120px;
        }
        .amount {
            width: 80px;
        }
        .result {
            width: 75px;
            padding-right: 5px;
            white-space: nowrap;
            letter-spacing: -1px;
        }

        .last {
            width: 95px;
            padding-right: 15px;
        }
    }
}
.lol-reportDetails-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-image: url(~@/assets/images/tese-lol/lol-bg.png);
}
</style>
