<template>
    <div
        class="double-check-modal-lol"
        :style="`max-height:${checkModalHeight};min-height:${mincheckModelHeight}`"
    >
        <div
            class="check-bet-content modal-content"
            ref="checkBetContent"
            v-if="localBetData"
            :style="`max-height:${checkContentHeight}`"
        >
            <div>
                <ul class="section-body">
                    <li>
                        <span>{{$t('yxzh.play.checkModal.betContent')}}</span>
                        <span>{{$t('yxzh.play.checkModal.betAmt')}}</span>
                        <span>{{$t('yxzh.play.checkModal.odds')}}</span>
                        <span>{{i18n.bet.keying}}</span>
                        <span></span>
                    </li>
                    <li v-for="(item, i) in localBetData.list" :key="i">
                    <!-- 投注内容 -->
                        <span>
                            <span v-html="transPlay(item)"></span>
                        </span>
                    <!-- 投注金额 -->
                        <span>
                            {{item.amount}}
                        </span>
                        <span>
                            {{item.playItemOdds}}
                        </span>
                    <!-- 投注内容 -->
                        <span>
                            {{ format0ToMax(calcWinMoney(item.amount, item.playItemOdds), 4) }}
                        </span>
                        <span class="action-delete" @click="deleteBetItem(item)">
                            <i class="delete"></i>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div ref="doubleCheckBottom" class="doubleCheckBottom">
            <p class="section-footer">
                <span>
                    <span>
                        <i class="important-color">{{ totalBets }}</i>
                        {{i18n.wayMap.dan}},
                    </span>
                    <span>
                        <i class="important-color">{{ totalAmount }}</i>
                        {{i18n.trace.yuan}}
                    </span>
                </span>
                <label @click="setUserConfig({doubleBetConfirm:!doubleBetQuickConfirmDialog})">
                    <span>{{i18n.bet.stopConfirm}}</span>
                    <span
                        class="checkbox"
                        :class="[!doubleBetQuickConfirmDialog ? 'xuanzhong' : 'weixuan']"
                    ></span>
                </label>
            </p>
            <MKNumberKeyboard
                ref="keyboard"
                v-model="keyboardValue"
                :show.sync="showNumberKeyboard"
            ></MKNumberKeyboard>
            <div class="modal-btns" ref="modalBtns">
                <button class="mk-button" :class="{ disabled: mkButtonDisabled }" @click="submit()">
                    {{i18n.wayMap.confirmBet}}
                </button>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'
import { format0ToMax, calcWinMoney } from '@/views/lottery/util'
import keyboard from '@/views/lottery/configure/mixin/keyboard'
import * as LotteryApi from '@/api/teselol'
import i18n from '@/assets/i18n'

export default {
    name: 'DoubleCheckModal',
    props: ['betData'],
    mixins: [keyboard],
    data() {
        return {
            localBetData: null,
            mkButtonDisabled: true,
            mincheckModelHeight: '0px',
            currentFocusInput: '',
            checkModalHeight: '0px',
            checkContentHeight: '0px',
            i18n: i18n.t('yxzh'),
        }
    },

    computed: {
        ...mapState({
            ticketId: state => state.lottery.ticketId,
            doubleDefaultAmount: state => state.lottery.doubleDefaultAmount,
            clearDoubleData: state => state.lottery.clearDoubleData,
            ticketInfo: state => state.lottery.ticketInfo,
        }),
        doubleBetQuickConfirmDialog: {
            get() {
                return this.$store.state.setting.doubleBetConfirm
            },
            set(v) {
            },
        },
        totalBets() {
            return this.localBetData.list.length.toFixed(0)
        },

        totalAmount() {
            var amount = 0
            this.localBetData.list.map(item => {
                amount = amount + Number(item.amount)
            })
            return format0ToMax(amount, 4)
        },

        isDataChanged() {
            const oldData = JSON.stringify(this.betData)
            const newData = JSON.stringify(this.localBetData)

            return oldData !== newData
        },
    },

    created() {
        // 防止修改父级的betData对象
        this.localBetData = JSON.parse(JSON.stringify(this.betData))
        const vm = this
        this.$listeners.setRightClick(() => {
            // 1. 假如数量超过了2， 提示是否清空
            if (vm.localBetData.list.length >= 2) {
                vm.$dialog
                    .confirm({
                        title: this.i18n.bet.qingkong,
                        message: this.i18n.bet.querenqingkong,
                    })
                    .then(() => {
                        vm.clearBetData()
                    })
                return
            }

            vm.clearBetData()
        })

        // this.$listeners.setLeftClick(parent => {
        //     // 收起确认框 1. 若用户修改过”投注确认“的金额，导致金额跟底栏不一致。
        //     // 收起弹框后，会自动帮用户修正为统一的底栏金额，但会给出轻提示
        //     if (this.isDataChanged) {
        //         this.$toast(`${this.i18n.bet.jinetongyiwei}${this.doubleDefaultAmount}${this.i18n.trace.yuan}`)
        //     }
        //     parent.hide()
        // })
    },
    mounted() {
        this.initCheckModalHeight()
    },
    methods: {
        format0ToMax,
        calcWinMoney,
        toggleModal() {
            if (this.doubleBetQuickConfirmDialog) {
                this.$dialog
                    .confirm({
                        title: this.i18n.bet.tingyong.title,
                        message: this.i18n.bet.tingyong.message,
                    })
                    .then(() => {
                        this.doubleBetQuickConfirmDialog = false
                    })
            } else {
                this.doubleBetQuickConfirmDialog = true
            }
        },
        setUserConfig(params){
           return LotteryApi.setUserConfig(params).then(res=>{
            const { code, msg } = res.data;
            if(code === 200 || code === 0 ){
                this.$store.dispatch("fetchUserConfig");
            }else{
                this.$toast({
                    message: msg,
                    duration: 2000,
                })
                return { code, msg }
            }
           })
        },
        submit() {
            if (this.mkButtonDisabled) {
                this.$toast(this.i18n.bet.needAmount)
                return
            }
            this.$emit(
                'onConfirm',
                Object.assign(this.localBetData, {
                    totalBets: this.totalBets,
                    totalAmount: this.totalAmount,
                }),
                this // checkModal
            )
            // this.close()
        },

        deleteBetItem(ballItem) {
            const list = this.localBetData.list
            const deletedIdx = list.indexOf(ballItem)
            if (deletedIdx !== -1) {
                list.splice(deletedIdx, 1)
            }

            // 假如已经没有投注内容了，则收起
            if (list.length === 0) {
                this.close()
            }
            this.$store.commit('setCancelSelectedBall', ballItem)
        },

        clearBetData() {
            this.$store.commit('setClearDoubleData', !this.clearDoubleData)
            this.close()
        },

        close() {
            this.$emit('close')
        },

        // validateAmountInput(inputItem, val) {
        //     console.debug(`[App] 检查输入的投注金额 ${val} `, inputItem)
        //     val = val.replace(/[\D]/g, '')

        //     this.$set(inputItem, 'amount', val)
        //     // 强制更新UI
        //     this.$forceUpdate()
        // },

        // validateAmountMin(inputItem, val) {
        //     console.debug(`[App] 检查输入的投注金额 ${val} `, inputItem)
        //     const intVal = parseFloat(val || 0, 10)
        //     let realVal
        //     if (intVal < 1) {
        //         realVal = 1
        //     } else {
        //         realVal = intVal
        //     }

        //     // 如果原来的值1，修改为空或者小于1，会被重置为1，导致元数据其实没有改变
        //     this.$set(inputItem, 'amount', realVal)
        //     // 强制更新UI
        //     this.$forceUpdate()
        // },

        setInputObj(inputObj, idx) {
            let el = this.$refs[`commonInput_${idx}`][0]
            this.currentFocusInput = el
            el = el._isVue ? el.$el : el

            this.currentInputObj = {
                inputObj,
                el,
                idx,
            }
            // show keyboard
            this.keyboardValue = inputObj.amount ? String(inputObj.amount) : ''
            this.showNumberKeyboard = true
            this.$nextTick(() => {
                this.initCheckModalHeight()
                // 元素滚动到可视区域
                setTimeout(() => {
                    // 在键盘弹出后再滚动
                    el.scrollIntoViewIfNeeded()
                }, 0)
            })
        },
        initCheckModalHeight() {
            const h1 = document.querySelector('.mk-header').offsetHeight
            const h2 = document.querySelector('.pop-modal .pop-header').offsetHeight
            const h3 = this.$refs.doubleCheckBottom.offsetHeight
            const checkModalHeight = Number(window.innerHeight) - h1 - h2
            const checkContentHeight = checkModalHeight - h3
            this.checkModalHeight = `${checkModalHeight}px`
            this.mincheckModelHeight = Number(window.innerHeight) / 2 + 'px'
            this.checkContentHeight = `${checkContentHeight}px`
            if (checkContentHeight < 120) {
                this.checkModalHeight = `${checkModalHeight - checkContentHeight + 120}px`
                this.checkContentHeight = `${120}px`
            }
        },
        updateKeybordValue($event) {
            this.$nextTick(() => {
                this.keyboardValue = $event
            })
        },
        checkDisabeld() {
            return this.localBetData.list && this.localBetData.list.every(item => !!item.amount)
        },
        
        transPlay({betNum, playItemName}) {
            switch(betNum) {
                case 'nan':
                    // 翻译
                    return `<img src="${require('@/assets/images/tese-lol/tb/icon_male.png')}" /><span>${playItemName}</span>`
                    break
                case 'nv':
                    return `<img src="${require('@/assets/images/tese-lol/tb/icon_female.png')}" /><span>${playItemName}</span>`
                    break
                case 'jinzhan':
                    return `<img src="${require('@/assets/images/tese-lol/tb/melee-icon2.png')}" /><span>${playItemName}</span>`
                    break
                case 'yuanzhan':
                    return `<img src="${require('@/assets/images/tese-lol/tb/remote-icon2.png')}" /><span>${playItemName}</span>`
                    break
                case 'tanke':
                    return `<img src="${require('@/assets/images/tese-lol/tb/tank.png')}" /><span>${playItemName}</span>`
                    break
                case 'zhanshi':
                    return `<img src="${require('@/assets/images/tese-lol/tb/warrior.png')}" /><span>${playItemName}</span>`
                    break
                case 'cike':
                    return `<img src="${require('@/assets/images/tese-lol/tb/assassin.png')}" /><span>${playItemName}</span>`
                    break
                case 'fashi':
                    return `<img src="${require('@/assets/images/tese-lol/tb/mage.png')}" /><span>${playItemName}</span>`
                    break
                case 'fuzhu':
                    return `<img src="${require('@/assets/images/tese-lol/tb/support.png')}" /><span>${playItemName}</span>`
                    break
                case 'sheshou':
                    return `<img src="${require('@/assets/images/tese-lol/tb/archer.png')}" /><span>${playItemName}</span>`
                    break
                default: 
                    return `<img src="${require('@/assets/images/tese-lol/tb/hit.png')}" /><span>${playItemName}</span>`
            }
        }
    },

    watch: {
        keyboardValue(v) {
            if (!this.currentInputObj) {
                return
            }
            const MAX_DEFAULT_AMOUNT = 999999
            const { inputObj, idx } = this.currentInputObj
            if (/^[0]+/.test(v)) {
                v = v.replace(/^[0]+/, '')
                this.$nextTick(() => {
                    this.keyboardValue = v
                })
            }

            let validedVal = v
            if (Number(v) > MAX_DEFAULT_AMOUNT) {
                validedVal = `${MAX_DEFAULT_AMOUNT}`
                this.$nextTick(() => {
                    this.keyboardValue = `${MAX_DEFAULT_AMOUNT}`
                })
            }
            // 更新每项金额
            this.$set(inputObj, 'amount', validedVal)
            // 更新投注列表
            this.$set(this.localBetData.list, idx, inputObj)
        },
        'localBetData.list'(v) {
            let mkButtonDisabled
            if (this.checkDisabeld()) {
                mkButtonDisabled = false
            } else {
                mkButtonDisabled = true
            }
            setTimeout(() => {
                this.mkButtonDisabled = mkButtonDisabled
            }, 0)
        },

        showNumberKeyboard(v) {
            if (!v) {
                this.mincheckModelHeight = '0px'
                const commonInput = this.currentFocusInput
                if (this.localBetData.list && this.localBetData.list.length) {
                    this.localBetData.list.forEach((betItem, index) => {
                        let amount = String(betItem.amount)
                        amount = amount.replace(/^[0]+/, '')
                        betItem.amount = amount

                        if (Number(betItem.amount) < 1) {
                            betItem.amount = '1'
                        }
                    })
                }
                this.localBetData.list = [...this.localBetData.list]
                this.$nextTick(() => {
                    this.initCheckModalHeight()
                })
                if (commonInput && commonInput.isFocus) {
                    commonInput.onBlur()
                }
            }
        },
    },
}
</script>

<style lang="less">
.double-check-modal-lol {
    @include mk-modal;
    display: flex;
    flex-direction: column;
    .modal-content {
        padding: 0;
    }

    .check-bet-content {
        overflow-y: scroll;
        flex: 1;
        > div {
            .section-body {
                margin: 0 auto;
                overflow: hidden;
                font-size: 14px;
                color: #fff;

                .color-gray {
                    color: #7f7f7f;
                }
                .color-blue {
                    color: #7c88a8;
                    font-size: 12px;
                }
                .color-win {
                    align-self: center;
                    text-align: left;
                }
                .plain-text {
                    border-radius: 5px;
                    box-shadow: inset 0px 1px 2px 0.1px rgba(104, 121, 180, 0.19);
                    border: solid 1px #586678;
                    background-color: #fbfcfd;
                    width: 92px;
                    height: 29px;
                }

                .action-delete {
                    align-self: center;
                    flex: none;
                    padding: 12px 2px;
                    display: flex;
                }

                .delete {
                    display: inline-block;
                    align-self: center;
                    width: 14px;
                    height: 15px;
                    background: url(~@/assets/images/tese-lol/delete.png) no-repeat;
                    background-size: 100% 100%;
                }

                li {
                    display: flex;
                    text-align: center;
                    align-items: center;
                    height: 36px;
                    font-weight: 300;
                    margin: 0 auto;
                    padding: 0px (29px/3);
                    // border-bottom: 1px solid rgba(165,174,180,0.18);
                    position: relative;
                    &::after {
                        width: 94%;
                        height: 1px;
                        display: inline-block;
                        background: rgba(165,174,180,0.18);
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        left: 3%;
                    }
                    img {
                        width: 13px;
                        height: auto;
                        vertical-align: middle;
                        margin-right: 7px;
                    }

                    & > span {
                        flex: 1;
                        font-size: 12px;
                        &:nth-of-type(1) {
                            flex: 1;
                            text-align: left;
                            display: inline-block;
                            width: 140px;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            overflow: hidden;
                        }
                    }
                    &:first-of-type {
                        border: none;
                        width: 100% !important;
                        background: rgba(0,0,0,0.20);
                        color:#8A93A2;
                        height: 30px;
                        span:last-of-type {
                            width: 20px;
                            flex:none;
                        }
                        &::after{
                            width: 94%;
                            height: 0px;
                        }
                    }
                }
            }
        }
    }
    .doubleCheckBottom {
        height: auto;
        .section-footer {
            overflow: hidden;
            display: flex;
            height: 40px;
            padding: 10px (29px/3);
            font-size: 12px;
            align-items: center;
            font-weight: 300;
            background: rgba(0,0,0,0.20);
            color:white;
            .important-color {
                color: #FF6F71;
            }
            &--right {
                font-size: 12px;
            }
            > label {
                font-family: PingFangSC;
                font-size: 12px;
                display: flex;
                margin-left: 10px;
                > span {
                    align-items: center;
                }
                .checkbox {
                    display: inline-block;
                    width: 19px;
                    height: 19px;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    margin-right: 5px;
                    align-self: center;
                    margin-left: 8px;
                    border-radius: 19px;
                }
                .weixuan {
                    background-image: url(~@/assets/images/tese-lol/weixuan.png);
                }
                .xuanzhong {
                    background-image: url(~@/assets/images/tese-lol/xuanzhong.png);
                }
            }
            &> span{
                width: 90px;
            }
        }
        .mk-number-keyboard {
            .van-number-keyboard {
                border-bottom: 1px solid #586678;
            }
            .mk-number-keyboard .van-number-keyboard__body {
                border-bottom: none;
            }
        }
    }

    .modal-btns {
        padding: 15px;

        .mk-button {
            // background-image: linear-gradient(to left, #805fee, #4ec2fb);
            background: url('~@/views/lottery/bet/double/image/btn_long.png') center no-repeat;
            background-size: 100% 100%;

            height: 48px;
            width: 342p;
            color: #fff;
            &.disabled {
                background-color: #e8e8e8;
                background-image: none;
                color: #bbb;
            }
        }
    }
    .mk-number-keyboard {
        width: 100%;
    }
}
.van-popup .pop-header {
    height: 46px;
    > .center {
        font-size: 14px;
    }
}
</style>
