<template>
    <div class="each-trace-lol">
        <header>
            <span @click="$emit('close');initTraceList()">
                <i class="icon-back"></i>
            </span>
            <span>{{$t('yxzh.play.report.chaseDetail')}}</span>
            <span></span>
        </header>
        <ul class="trace-ul">
            <li v-for="(item, i) in traceList" :key="i">
                <checkbox
                    v-model="item.check"
                    :disabled="canSelectable(item)"
                    class="trace-checkbox"
                    :class="[
                        cancelOptions == '1' ? 'show-checkbox' : 'hidden-checkbox'
                    ]"
                    @click="eachChoose(item, i, canSelectable(item))"
                >
                    <div class="trace-top">
                        <span> <b> {{$t('yxzh.eachTrace.period')}} : </b> {{ item.ticketPlanId }}</span>
                        <span :class="{ red: item.ticketBetStatus == $t('yxzh.eachTrace.win') }"> <b> {{ item.ticketBetStatus }}  </b> </span>
                    </div>
                    <div class="trace-bottom">
                        <span>{{$t('yxzh.eachTrace.bet')}} : <b> {{ item.ticketBetMoney | toFormatMoney }}{{$t('yxzh.yuan')}} </b> </span>
                        <span>{{$t('yxzh.eachTrace.times')}} : <b> {{ item.ticketBetMultiple }} </b> </span>
                        <span :class="{ red: item.ticketBetStatus == $t('yxzh.eachTrace.win') }"><b>{{ item.winAmount }}</b>{{$t('yxzh.yuan')}}</span>
                    </div>
                </checkbox>
            </li>
        </ul>
        <div class="trace-btn" v-if="cancelOptions == '1'">
            <checkbox  @click="allChoose" :disabled="canChooseAll" v-model="chooseAll">{{$t('yxzh.eachTrace.selectAll')}}</checkbox>
            <span :class="{ disable : !chooseLen }" @click="cancelTrace">
                <!-- 取消追号(已选择{{ chooseLen }}个) -->
                {{$t('yxzh.eachTrace.cancelOrder', [chooseLen])}}
            </span>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex'
import { Checkbox } from 'vant'
import cancelOrder from '@/views/lottery/configure/mixin/cancelOrder'
import orderStatus from '@/views/lottery/configure/mixin/orderStatus'
export default {
    mixins: [cancelOrder, orderStatus],
    data() {
        return {
            traceList: [],
            chooseAll: false,
            canChooseAll: false
        }
    },
    computed: {
        ...mapState({
            cancelOptions: state => state.lottery.cancelOptions,
        }),
        chooseLen() {
            let num = 0
            this.traceList.map(ele => {
                if (ele.check) {
                    num++
                }
            })
            return num
        },
    },
    watch: {
        getGameDetail(v, ov) {
            this.traceList = [...v.chasePlanDetailLst]
            this.traceList.map(ele => {
                this.$set(ele, 'check', '')
            })
            this.hasChooseAll();
        },
    },
    created() {
        this.initTraceList();
    },
    methods: {
        async initTraceList() {
            await this.fetchTraceDetail(this.getCurrentOrder.chaseId || this.getCurrentOrder.orderId)
            this.traceList = [...this.getGameDetail.chasePlanDetailLst]
            this.traceList.map(ele => {
                this.$set(ele, 'check', '')
            })
            this.hasChooseAll();
        },

        // 判断全选按钮是否可用
        hasChooseAll(){
            if( this.traceList.length ){
                this.canChooseAll = this.traceList.every( ele => {     
                    return ele.canCancel == false
                })
            }
            this.chooseAll = false
        },

        // checkbox是否可用
        canSelectable(row) {
            return !row.canCancel
        },
        
        // 单选撤单
        eachChoose(row, i, canclick) {
            if(canclick){
                return
            }
            this.traceList.map((ele, idx) => {
                if (idx >= i && !this.canSelectable(ele)) {
                    this.$set(ele, 'check', true)
                } else if (idx < i && !this.canSelectable(ele)) {
                    this.$set(ele, 'check', false)
                }
            })
            setTimeout( () => {
                 this.isChooseAll()
            }, 200 )
        },
        // 全选撤单
        allChoose(row, i) {
            this.traceList.map((ele, idx) => {
                if (!this.canSelectable(ele) && !this.chooseAll) {
                    this.$set(ele, 'check', false)
                } else if (!this.canSelectable(ele) && this.chooseAll) {
                    this.$set(ele, 'check', true)
                }
            })
        },

        // 判断全选按钮是否被选中
        isChooseAll(){
            const canChooseList = this.traceList.filter( ele => ele.canCancel )
            this.chooseAll = canChooseList.every( ele => ele.check )
        },

        // 批量取消订单
        cancelTrace() {
            if (!this.chooseLen) {
                return
            }
            const planId = this.traceList.filter(ele => ele.check)
            const data = {
                startPlanId: planId[0].ticketPlanId, // 开始删除的奖期
                nextPlanId: planId[1] ? planId[1].ticketPlanId : '', // 下一个删除的奖期
            }
            this.batchCancelTrack({ ...data })
        },
    },
    components: {
        Checkbox,
    },
}
</script>
<style lang="less">
.each-trace-lol {
    background-image: url(~@/assets/images/tese-lol/lol-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
        display: flex;
        flex: 1;
        flex-direction: column;
        overflow: hidden;
        width: 100vw;
        height: 100%;
        .trace-ul {
            flex: 1;
            overflow: auto;
            li {
                width: 348px;
                margin: 6.3px auto;
                height: 62.7px;
                padding: 6.35px 13px;
                background: rgba(35,50,60,0.41);
                border: 1px solid rgba(255,255,255,0.15);
                box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.63);
                border-radius: 3px;
                .trace-checkbox {
                    display: flex;
                    &.hidden-checkbox {
                        .van-checkbox__icon,
                        .van-checkbox__icon--disabled,
                        .van-checkbox__icon--checked {
                            display: none !important;
                        }
                    }
                    .van-checkbox__icon--disabled{
                        opacity: 0;
                    }
                    .van-checkbox__icon{
                        .van-icon{
                            width: 17px;
                            height: 17px;
                            border-radius: 4px;
                            border: solid 1px #9AA4C2 ;
                        }
                    }
                    .van-checkbox__icon--checked{
                        background: url(~@/assets/images/tese-lol/checkouboxselect.png) no-repeat;
                        background-size: 16px 16px;
                        .van-icon{
                            border: solid 1px #9AA4C2;
                            background-color: transparent;
                            color: transparent;
                        }
                    }
                    .van-checkbox__label {
                        flex: 1;
                        width: 100%;
                    
                        .trace-top {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 25px;
                            line-height: 25px;
                            span {
                                color: white;
                                font-size: 14px;
                                &:nth-child(1) {
                                    flex: 1;
                                }
                                b{
                                    font-weight: normal;
                                    color: #8A93A2;
                                }
                                &.red{
                                    b{
                                        color:#e45e5e;
                                    }
                                }
                            }
                        }
                        .trace-bottom {
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 25px;
                            line-height: 25px;
                            overflow: hidden;
                            span {
                                color: #8A93A2;
                                display: flex;
                                align-items: center;
                                b{
                                    margin-left: 3px;
                                    font-weight: normal;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap /*! autoprefixer: off */;
                                }
                                &:nth-child(1){
                                    width: 40%;
                                    b{
                                        max-width: 75px;
                                        font-size: 12px;
                                        color: #FF7070;
                                    }
                                }
                                &:nth-child(2){
                                    width: 30%;
                                    padding-left: 15px;
                                    b{
                                        max-width: 35px;
                                        color: white;
                                    }
                                }
                                &:nth-child(3) {
                                    justify-content: flex-end;
                                    width: 30%;
                                    b{
                                        max-width: 80px;
                                    }
                                }
                                &.red{
                                    color:#e45e5e;
                                    b{
                                        color:#e45e5e;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .trace-btn {
            
            position: relative;
            display: flex;
            justify-content: center;
            align-content: center;
            padding: 23px 10px;
            background: url(~@/assets/images/tese-lol/tb/bg-btn2.png) no-repeat;
            background-size: cover;
            .van-checkbox__icon{
                margin-top: 2px;
                .van-icon{
                    width: 17px;
                    height: 17px;
                    border-radius: 4px;
                    border: solid 1px #9AA4C2 ;
                }
            }
            .van-checkbox__label{
                font-size: 14px;
                color: #8A93A2;
            }
            .van-checkbox__icon--checked{
                background: url(~@/assets/images/tese-lol/checkouboxselect.png) no-repeat;
                background-size: 16px 16px;
                .van-icon{
                    border: solid 1px #9AA4C2;
                    background-color: transparent;
                    color: transparent;
                }
            }
            .van-checkbox__icon--disabled .van-icon{
                background-color: transparent!important;;
            }
            & > span {
                width: 251.67px;
                height: 36px;
                text-align: center;
                line-height: 36px;
                object-fit: contain;
                border-radius: 4px;
                margin-left: 19px;
                color: #ffffff;
                border: 0.5px solid rgba(255,255,255,0.32);
                background-image: linear-gradient(180deg, #61C5FF 8%, #0271BD 55%, #027ED0 100%);
                background-size: cover;
                background-repeat: no-repeat;
                &.disable{
                    background-image: url(~@/assets/images/tese-lol/tb/bet-btn-big-inactive.png);
                    background-position: center;
                    background: rgba(255,255,255,0.20);
                }
                
            }

        }
            .icon-back {
                display: inline-block;
                width: 12px;
                height: 16px;
                background-image: url('~@/assets/images/tese-lol/tb/return.png');
                background-size: 100%;
                background-repeat: no-repeat;
            }
}
</style>