<template>
    <div class="hit-range-set">
        <header>
            <span @click="$emit('hiddenHitRange')">
                {{ $t('yxzh.play.rangeSet.cancel') }}
            </span>
            <span>{{ $t('yxzh.play.rangeSet.rangeLimit') }}</span>
            <span @click="confirm">{{ $t('yxzh.play.rangeSet.confirm') }}</span>
        </header>
        <div class="content">
            <div class="top">{{ $t('yxzh.play.rangeSet.attckRange') }}：<span>{{scope}}</span></div>
            <div class="middle">
                <span class="item">
                    <div class="digit-field hit-focus" @click="focusField(0)">
                        <span class="text hit-focus">{{min}}</span>
                        <i :class="`line hit-focus ${focusActive === 0 ? 'active' : ''}`"></i>
                    </div>
                    <span class="b">{{ $t('yxzh.play.rangeSet.minValue') }}</span>
                </span>
                <span class="item">
                    <div class="digit-field hit-focus" @click="focusField(1)">
                        <span class="text hit-focus">{{middle}}</span>
                        <i :class="`line hit-focus ${focusActive === 1 ? 'active' : ''}`"></i>
                    </div>
                    <span class="b">{{ $t('yxzh.play.rangeSet.midValue') }}</span>
                </span>
                <span class="item">
                    <div class="digit-field hit-focus hit-focus" @click="focusField(2)">
                        <span class="text hit-focus">{{max}}</span>
                        <i :class="`line hit-focus ${focusActive === 2 ? 'active' : ''}`"></i>
                    </div>
                    <span class="b">{{ $t('yxzh.play.rangeSet.maxValue') }}</span>
                </span>
            </div>
            <ul class="keyboard">
                <li
                    :class="item.key"
                    v-for="item in keyboardList"
                    :key="item.key"
                    @click="clickKeyboard(item)"    
                >
                    <span class="text hit-focus">{{ item.value }}</span>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
import {
    mapState,
    mapActions,
} from 'vuex'
import { Field } from 'vant'
export default {
    name: 'HitRangeSet',
    props: ['scope','minValue','middleValue','maxValue', 'showHitRange'],
    components: {
        Field,
    },
    data() {
        return {
            min: '',
            middle: '',
            max: '',
            focusActive: '',
            keyboardList: [
                { key: 1, value: '1' },
                { key: 2, value: '2' },
                { key: 3, value: '3' },
                { key: 4, value: '4' },
                { key: 5, value: '5' },
                { key: 6, value: '6' },
                { key: 7, value: '7' },
                { key: 8, value: '8' },
                { key: 9, value: '9' },
                { key: 'none', value: '' },
                { key: 0, value: '0' },
                { key: 'delete', value: '' },
            ]
        }
    },

    computed: {
        ...mapState({
            ticketId: state => state.lottery.ticketId,
        }),
        getAttack() {
            if (!this.scope) {
                return {
                    min: '',
                    middle: '',
                    max: '',
                }
            }
            // 特殊情况 范围 < 按钮
            // if (this.scope < 1050) {
            //     min = Math.round(this.currentAttack * ((11999 - this.scope) / (this.size - this.btnSize))) + 2000;
            // }
            return {
                min: this.min,
                middle: this.min + this.scope/2,
                max: this.min + this.scope,
            }
        },
    },

    watch: {
        min(v) {
            if(v === '-'){
                v = 0;
            }
            v = Number(v);
            this.middle = v + this.scope/2;
            this.max = v + this.scope;
        },
        middle(v) {
            v = Number(v);
            this.min = v - this.scope/2;
            this.max = v + this.scope/2;
        },
        max(v) {
            v = Number(v);
            this.min = v - this.scope;
            this.max = v;
        },
        showHitRange(v) {
            if (v) {
                this.min = this.minValue
                this.middle = this.middleValue
                this.max = this.maxValue
                this.focusActive = 1;
            }
        },
    },

    created() {
        this.min = this.minValue
        this.middle = this.middleValue
        this.max = this.maxValue
    },

    mounted() {
        this.$nextTick(() => {
            document.addEventListener('click', this.listenFocus, true)
        })
    },

    beforeDestroy() {
        document.removeEventListener('click', this.listenFocus)
    },

    methods: {
        listenFocus(e) {
            let target = e.target;
            if (target && !target.classList.contains('hit-focus')) {
                this.focusActive = '';
            }
        },
        clickKeyboard(item) {
            if (!this.focusActive && this.focusActive !== 0) {
                return;
            }
            let val = {
                0: this.min,
                1: this.middle,
                2: this.max,
            }[this.focusActive];
            
            val = String(val);

            if (item.key === 'delete') {
                if (val.length > 0) {
                    val = val.slice(0, val.length - 1);
                }
            }

            if ([0,1,2,3,4,5,6,7,8,9].includes(item.key)) {
                val = val + item.value;
            }

            switch (this.focusActive) {
                case 0:
                    this.min = val.slice(0,5);
                    break;
                case 1:
                    this.middle = val.slice(0,5);
                    break;
                case 2:
                    this.max = val.slice(0,5);
                    break;
            }
        },
        focusField(index) {
            this.focusActive = index;
        },
        confirm() {
            // 校验数据范围
            if (this.min < 2000 || this.max > 13999) {
                this.$toast({
                    message: this.$t('yxzh.play.rangeSet.overRange'),
                    duration: 2000,
                })
                return;
            }
            this.$toast({
                message:this.$t('yxzh.play.rangeSet.setSuccess'),
                duration: 2000,
            })
            this.$emit('callbackRange', this.getAttack)
            this.$emit('hiddenHitRange')
        },
    }

}
</script>

<style lang="less">
.hit-range-set {
    height: 367px;
    background: url(~@/assets/images/tese-lol/bg-popup.png) no-repeat;
    font-size: 14px;
    color: #8A93A2;
    position: relative;
    overflow: hidden;
    &::after {
        content: '';
        position: absolute;
        z-index: 9;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-image: url(~@/assets/images/tese-lol/tb/line.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    header {
        display: flex;
        height: 47px;
        line-height: 47px;
        background: rgba(0,0,0,0.13);
        >span {
            flex: 1;
            height: 100%;
            background-repeat: no-repeat;
            &:nth-of-type(1) {
                flex: none;
                width: 44px;
                text-align: right;
            }
            &:nth-of-type(2) {
                text-align: center;
                font-size: 16px;
                color: white;
            }
            &:nth-of-type(3) {
                flex: none;
                width: 44px;
                text-align: left;
                color: #EFDEAB;
            }
            i {
                display: inline-block;
                background-size: 100%;
                background-repeat: no-repeat;
            }
            .icon-dropdown {
                background-image: url('~@/assets/images/tese-lol/tb/dropdown.png');
                width: 14px;
                height: 8px;
            }
        }
    }

    .content {
        padding: 12px 20px 8px;

        .top {
            font-size: 14px;
            color: rgba(255,255,255,0.60);
            letter-spacing: 0;
            height: 20px;
            line-height: 20px;
            margin-bottom: 10px;
            span {
                color: #fff;
            }
        }

        .middle {
            height: 66px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;

            .digit-field {
                background: rgba(0,0,0,0.22);
                border: 1px solid #637289;
                border-radius: 3px;
                font-size: 12px;
                width: 76px;
                height: 25px;
                padding: 0 8px;
                margin-bottom: 5px;
                position: relative;
                display: flex;

                &::after {
                    display: none;
                }

                .van-field__control {
                    color: #FFFFFF;
                }

                .text {
                    display: inline-block;
                    box-sizing: border-box;
                    // width: 100%;
                    min-width: 0;
                    height: 23px;
                    line-height: 23px;
                    margin: 0;
                    padding: 0;
                    color: #fff;
                    text-align: left;
                    margin-right: 2px;
                }

                .line {
                    display: inline-block;
                    box-sizing: border-box;
                    height: 100%;
                    width: 0px;
                    background: #fff;
                    -webkit-transform: scale(0.5);
                    transform: scale(0.5);

                    &.active {
                        width: 1px;
                        animation: focus 1.2s linear 0s infinite;
                    }
                }

                @keyframes focus {
                    0% {
                        opacity: 1;
                    }
                    50% {
                        opacity: 0.2;
                    }
                    100% {
                        opacity: 1;
                    }
                }
            }

            .item {
                flex: 1;
                font-size: 12px;

                .b {
                    height: 17px;
                    line-height: 17px;
                    margin-bottom: 5px;
                }
            }
        }

        .keyboard {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
            li {
                flex: none;
                width: 108px;
                height: 44px;
                line-height: 44px;
                margin-bottom: 7px;
                border-radius: 3px;
                overflow: hidden;
                position: relative;

                &:active {
                    &::before {
                        background: #108EE9;
                        opacity: 1;
                    }
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    // opacity: 0.4;
                    background: rgba(40,75,101,0.50);
                    z-index: 1;
                }

                &.none {
                    &::before {
                        background: rgba(0,0,0,0.13);
                    }
                }
                &.delete {
                    &::before {
                        background: rgba(0,0,0,0.13);
                        background-image: url(~@/assets/images/tese-lol/icon/lol-chexiao.png);
                        background-size: (72px/3);
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
 
                .text {
                    display: block;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    font-size: 24px;
                    color: #FFFFFF;
                    text-align: center;
                }
                
            }
        }
    }
}
</style>
