<template>
    <div class="play-betting">
        <van-swipe 
            class="game-bet-swipe" 
            :autoplay="0" 
            indicator-color="#F3ECD3" 
            :stop-propagation="false"
            ref="swipe"
            @change="onChange"
            :show-indicators="false"
        >
            <!-- 常规玩法 -->
            <van-swipe-item>
                <div class="regular-play">
                    <div 
                        v-for="(play, i) in regularBet" 
                        :key="play.code"
                        :class="[
                            'bet-item',
                            isOpenPrize && getLotteryInfo(openCode, play.code) ? 'isOpenPrize': '',
                            play.code,
                            active == i ? 'active' : '',
                            play.amount ? 'already-bet' : ''
                        ]"
                        @click="goRegularBet(play, i)"
                    >
                        <div class="bet-item-top" v-if="[0,1].includes(i)">
                            <img class="icon" :src="require(`@/assets/images/tese-lol/tb/${play.icon}.png`)"/>
                            <span class="text betContent">{{play.text}}</span>
                        </div>
                        <div class="bet-item-top" v-else-if="[2,3,4,5,6,7,8,9]">
                            <span class="text">{{play.text}}</span>
                            <span class="betContent" v-html="play.betContent"></span>
                        </div>
                        <div class="bet-item-bottom">
                            <span class="odds">{{play.odds}}</span>
                            <span class="amount" v-if="play.amount">{{toThousands(play.amount)}}</span>
                        </div>
                        <img class="bet-item-bg" v-if="i > 1" :src="require(`@/assets/images/tese-lol/tb/${play.icon}.png`)"/>
                    </div>
                </div>
            </van-swipe-item>
            <!-- 命中玩法 -->
            <van-swipe-item>
                <div class="hit-play">
                    <div class="top">
                        <div class="top-minzhong">
                            <img class="hit-icon" :src="require(`@/assets/images/tese-lol/tb/hit.png`)"/>
                            <span class="text">{{$t('yxzh.play.index.minzhong')}}</span>
                        </div>
                        <div class="top-bet">
                            <span class="interval">{{$t('yxzh.play.index.qujian')}}：<template v-if="minValue && maxValue">{{minValue}}-{{maxValue}}</template> </span>
                            <span class="amount" v-if="hitBetAmount">{{toThousands(hitBetAmount)}}</span>
                            <span class="scope">{{$t('yxzh.play.index.fanwei')}}：{{scope}}</span>
                        </div>
                    </div>
                    <section class="middle">
                        <div 
                            v-for="(play, i) in hitBet" 
                            :key="play.code"
                            :class="[
                                'bet-item',
                                play.code,
                                active2 == i ? 'active' : ''
                            ]"
                            @click="changeActive2(i)"
                        >
                            <span class="text">{{play.text}}</span>
                            <span class="odds">{{play.odds}}</span>
                        </div>
                    </section>
                    <div class="bottom">
                        <div class="slide-wrap">
                            <Slide
                                v-model="slider.value"
                                :data="slider.data"
                                :range="slider.range"
                                :scope="scope"
                                @callbackRange="callbackRange"
                                :current="current"
                                :minValue="minValue"
                                ref="slide"
                                >
                            </Slide>
                        </div>
                        <span class="edit-hit"><i :class="`${scope ? '' : 'disabled'}`" @click="openHitModal"></i></span>
                    </div>
                </div>
            </van-swipe-item>
        </van-swipe>
        <template>
            <div class="van-swipe__indicators">
                <div 
                    v-for="i in 2"
                    :key="i" 
                    :class="[
                        'van-swipe__indicator',
                        i == current + 1 ? 'van-swipe__indicator--active' : ''
                    ]"
                    @click="changeSwipe(i-1)"
                ></div>
            </div>
        </template>
        <BetArea @clickOnSetting="showSettingModal()" :betData.sync="betData" @clearBet="clearBet" @resetBetData="resetBetData"/>
        <VanPopup
            class="hit-range-set-modal"
            position="bottom"
            v-model="showHitRange"
        >
            <HitRangeSet
                @hiddenHitRange="showHitRange = false"
                :scope="scope"
                :minValue="minValue"
                :middleValue="middleValue"
                :maxValue="maxValue"
                :showHitRange="showHitRange"
                @callbackRange="callbackRange"
            />
        </VanPopup>
    </div>
</template>

<script>
import {
    mapState, mapGetters
} from 'vuex'
import BetArea from './BetArea.vue'
import { regularBet, hitBet } from './methodConfig'
import Slide from './slide'
import HitRangeSet from './HitRangeSet'
import { lolMap1, lolMap2 } from '@/views/lottery/util/lottery'
// import toThousands from "../util/index";
export default {
    name: 'PlayBetting',
    components: {
        BetArea,
        Slide,
        HitRangeSet,
    },
    props: ['showSetting'],
    data() {
        let rBet = [...regularBet];
        let hBet = [...hitBet];
        return {
            showHitRange: false,
            regularBet: rBet,
            hitBet: hBet,
            hitBetAmount: 0,
            active: null,
            active2: null,
            value: 50,
            current: 0,
            scopeList: [228,548,1050,1920,3840,5760,7680,8688,10478,10980],
            slider: {
                value: [2, 2],
                data: [2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14],
                range: [
                    {
                        label: '2'
                    },
                    {
                        label: '3',
                    },
                    {
                        label: '4',
                    },
                    {
                        label: '5',
                    },
                    {
                        label: '6',
                    },
                    {
                        label: '7',
                    },
                    {
                        label: '8',
                    },
                    {
                        label: '9',
                    },
                    {
                        label: '10',
                    },
                    {
                        label: '11',
                    },
                    {
                        label: '12',
                    },
                    {
                        label: '13',
                    },
                    {
                        label: '14',
                    },
                ]
            },
            minValue: '',
            middleValue: '',
            maxValue: '',
            huchi: ['nv', 'nan', 'jinzhan', 'yuanzhan'],
            isOpenPrize: false,
            openCode: '',
        }
    },
    filters: {
        amountFilter(v) {
            let t = String(Number(v)).split('')
            t.splice(t.length - 3, 0 , ',')
            return t.join('')
        }
    },
    watch: {
        cancelSelectedBall(v) {
            let index = this.regularBet.findIndex(v1 => v.playItemId.endsWith(v1.id))
            let index2 = this.hitBet.findIndex(v1 => v.playItemId.endsWith(v1.id))
            if(index > -1) {
                this.active = null
                this.regularBet[index].amount = 0
            } else if(index2 > -1) {
                this.active2 = null;
                this.minValue = '';
                this.middleValue = '';
                this.maxValue = '';
                this.hitBetAmount = 0;
            }
        },
        clearDoubleData() {
            this.clearBet()
        },
        lastIssue() {
            setTimeout(()=>{
                this.openCode = this.currentOpenNumHistory[0].code;
                this.isOpenPrize = true;
                setTimeout(() => {
                    this.isOpenPrize = false;
                    this.openCode = '';
                }, 5000)
            },100)
            
        }
    },
    computed: {
        ...mapState({
            ticketId: state => state.lottery.ticketId,
            amount: state => state.lottery.amount,
            cancelSelectedBall: state => state.lottery.cancelSelectedBall,
            clearDoubleData: state => state.lottery.clearDoubleData,
            currentOpenNumHistory: (state) => state.lottery.currentOpenNumHistory || [],
        }),
        ...mapGetters([
            'lastNumberArray',
            'currentIssue',
            'currentSale',
            'lastIssue'
        ]),
        scope() {
            if (this.active2 || this.active2 === 0) {
                return this.scopeList[this.active2]
            } else {
                return null
            }
        },
        betData() {
            let type = 'r'
            let list = this.regularBet.map(v => ({
                amount: v.amount,
                betCount: 1,
                betNum: v.code,
                isLimit: true,
                isSelected: v.amount > 0,
                playItemId: this.ticketId + v.id,
                playItemName: v.betContent,
                playItemOdds: v.odds,
                playLocationName: v.playLocationName,
                playName: v.text,
            })).filter(v => v.amount > 0) || []
            let hit = this.hitBet[this.active2]
            if(hit) {
                type = 'h'
                list.push({
                    amount: Number(this.hitBetAmount),
                    betCount: 1,
                    betNum: `${this.minValue}-${this.maxValue},${hit.code}`,
                    isLimit: true,
                    isSelected: hit.amount > 0,
                    playItemId: this.ticketId + hit.id,
                    playItemName: `${this.minValue}-${this.maxValue},${hit.code}`,
                    playItemOdds: hit.odds,
                    playLocationName: this.$t('yxzh.play.index.minzhong'),
                    playName: hit.text,
                })
            }
            return {
                list,
                totalAmount: list.reduce((p,v) => p+v.amount,0),
                totalBets: list.reduce((p,v) => p+v.betCount,0),
                type
            }
        }
    },

    methods: {
        toThousands,
        getLotteryInfo(data, code) {
            if (!data) return false;
            let [ ball, sex ] = data.split(' ');
            let range = ball.slice(0,2);
            // 性别
            const sexId = {
                '1': 'nan',
                '2': 'nv'
            }[sex];

            // 定位
            const rangeId = {
                0: 'jinzhan',
                1: 'yuanzhan'
            }[lolMap2[Number(range)]];

            // 战斗力范围
            const positionId = {
                0: 'tanke',
                1: 'zhanshi',
                2: 'cike',
                3: 'fashi',
                4: 'fuzhu',
                5: 'sheshou',
            }[lolMap1[Number(range)]];

            const prizeArr = [sexId, rangeId, positionId];
            if (prizeArr.includes(code)) {
                return true;
            }
            return false;
        },
        // 普通投注
        goRegularBet(play, i) {
            this.active = i;
            if (this.huchi.includes(play.code)) {
                let huchiIndex = {
                    0: 1,
                    1: 0,
                    2: 3,
                    3: 2
                }[i];
                this.regularBet[huchiIndex].amount = 0;
            }
            this.regularBet[i].amount = Number(this.regularBet[i].amount) + Number(this.amount);
        },
        // 命中投注
        changeActive2(i) {
            if (this.active2 === i) {
                this.hitBetAmount = Number(this.hitBetAmount) + Number(this.amount);
            } else {
                this.hitBetAmount = this.amount;
                this.active2 = i;
            }
        },
        callbackRange(val) {
            this.minValue = val.min;
            this.middleValue = val.middle;
            this.maxValue = val.max;
        },
        changeSwipe(index) {
            this.current = index;
            this.$refs.swipe.swipeTo(index);
        },
        onChange(index) {
            this.current = index;
            this.clearBet();
        },
        // 清空投注栏
        clearBet() {
            this.regularBet.forEach(item => {
                item.amount = 0;
            });
            this.active = null;
            this.active2 = null;
            this.minValue = '';
            this.middleValue = '';
            this.maxValue = '';
            this.hitBetAmount = 0;
        },
        openHitModal() {
            if (!this.scope) {
                return;
            }
            this.showHitRange = true
        },
        resetBetData(last) {
            this.clearBet()
            this.$nextTick(() => {
                if(last.type === 'r') {
                    if(this.$refs.swipe.active === 1) {
                        this.$refs.swipe.next()
                    }
                    this.regularBet.forEach((v, i) => {
                        let obj = last.list.find(v1 => v1.playItemId.endsWith(v.id))
                        if(obj) {
                            this.regularBet[i].amount = obj.amount
                        }
                    })
                } else {
                    if(this.$refs.swipe.active === 0) {
                        this.$refs.swipe.next()
                    }
                    setTimeout(() => {
                        this.active2 = this.hitBet.findIndex(v => last.list[0].playItemId.endsWith(v.id))
                        let obj = last.list[0].betNum.split(',')[0].split('-')
                        this.minValue = obj[0]
                        this.hitBetAmount = last.list[0].amount;
                    }, 300)
                }
            })
        },
        showSettingModal() {
            this.$emit('update:showSetting', true)
        }
    }

}
</script>
</style>
<style lang="less">
@keyframes isOpenPrize {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

.play-betting {
    height: 100%;
    display: flex;
    flex-direction: column;
    .game-bet-swipe {
        flex: 1;
        overflow-y: auto;
    }
    .van-swipe-item {
        padding: 10px 12px 0;
    }
    .van-swipe__indicators {
        position: relative;
        display: flex;
        justify-content: center;
        height: 4vw;
        bottom: 0;
        top: 1.5vw;

    }
    .van-swipe__indicator {
        width: 1.6vw;
        height: 1.6vw;
        background-color: #ebedf0;
        border-radius: 100%;
        opacity: .3;
        -webkit-transition: opacity .2s;
        transition: opacity .2s;
    }
    .van-swipe__indicator--active {
        opacity: 0.85;
        background: #F3ECD3;
        border-radius: 4.55px;
        width: 15.5px;
        height: 5.5px;
    }
    .regular-play {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .bet-item {
            position: relative;
            background-image: rgba(22,27,45,0.85);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            color: #B8A15E;;
            border-radius: 4px;
            overflow: hidden;
            margin-bottom: 10px;
            align-items: center;
            padding-left: 10px;
            height: 60px;   
            .bet-item-top{
                display: flex;
                margin-top: 6px;
                height: 20px;
                font-size: 14px;
                font-family: 'DIANJING';
                align-content: center;
                align-items: center;
                font-weight: 500;
                .icon{
                    height: 12px;
                    margin-right: 6px;
                }
                .betContent{
                    margin-left: 4px;
                    font-size: 12px;
                    line-height: 1;
                }
            }
            .bet-item-bottom{
                margin-top: 6px;
                font-size: 12px;
                height: 18px;
                display: flex;
                align-content: center;
                align-items: center;
                .odds{
                    color: rgba(256, 256 , 256, 0.6) !important;
                    font-weight: bolder;
                }
            }
            .bet-item-bg{
                height: 38px;
                position: absolute;
                top: 7px;
                right: 8px;
            }
            &.already-bet {
                &.nv {
                    background-image: url('~@/assets/images/tese-lol/tb/female-btn1.png');
                }
                &.nan {
                    background-image: url('~@/assets/images/tese-lol/tb/male-btn1.png');
                }
                &.jinzhan {
                    background-image: url('~@/assets/images/tese-lol/tb/attack-btn1.png');
                }
                &.yuanzhan {
                    background-image: url('~@/assets/images/tese-lol/tb/attack-btn1.png');
                }
            }
            

            &.isOpenPrize {
                animation: isOpenPrize 0.5s linear 0s infinite;
                box-sizing: border-box;
                &.nv {
                    background-color: rgba(243,37,115,0.35);
                    border: 1px solid rgba(255,126,175,1);
                    box-shadow: inset 0px 0px 10px 0px rgba(255,115,168,0.6);box-shadow: 0px 0px 5px 2px rgba(255,91,153,0.5);
                }
                &.nan {
                    background-color: rgba(57,173,255,0.35);
                    border: 1px solid rgba(57,173,255,1);
                    box-shadow: inset 0px 0px 10px 0px rgba(57,173,255,0.6);box-shadow: 0px 0px 5px 2px rgba(57,173,255,0.5);
                }
                &.jinzhan {
                    background-color: rgba(19,196,180,0.35);
                    border: 1px solid rgba(3,225,207,1);
                    box-shadow: inset 0px 0px 10px 0px rgba(3,225,207,0.6);box-shadow: 0px 0px 5px 2px rgba(33,255,236,0.35);
                }
                &.yuanzhan {
                    background-color: rgba(19,196,180,0.35);
                    border: 1px solid rgba(3,225,207,1);
                    box-shadow: inset 0px 0px 10px 0px rgba(3,225,207,0.6);box-shadow: 0px 0px 5px 2px rgba(33,255,236,0.35);
                }
                .odds {
                    color: #fff;
                }
                &.already-bet {
                    border: 0;
                    box-shadow: none;
                }
            }
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3),
            &:nth-of-type(4) {
                width: 170px;
                border: none;
                border-radius: 0;
                .amount {
                    left: 50%;
                    transform: translateX(-50%);
                }
                &.already-bet {
                    border-radius: 4px;
                }
                &:active {
                    &::before {
                        content: '';
                        position: absolute;
                        z-index: 1;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-image: url('~@/assets/images/tese-lol/tb/active-btn2.png');
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                    }
                }
            }
            &:nth-of-type(5),
            &:nth-of-type(6),
            &:nth-of-type(7),
            &:nth-of-type(8),
            &:nth-of-type(9),
            &:nth-of-type(10) {
                width: 112px;
                background-image: url('~@/assets/images/tese-lol/tb/attack-btn.png');
                background-size: 100% 100%;
                border: none;
                border-radius: 0px;
                overflow: hidden;
                &:active {
                    &::before {
                        content: '';
                        position: absolute;
                        z-index: 1;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-image: url('~@/assets/images/tese-lol/tb/active-btn2.png');
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                    }
                }
                .amount {
                    right: 6px;
                }
                &.already-bet{
                    background-image: url('~@/assets/images/tese-lol/tb/zhiye-btn1.png');
                }
                &.isOpenPrize {
                    box-sizing: border-box;
                    background-color: rgba(22,143,230,0.35);
                    border: 1px solid rgba(57,173,255,1);
                    box-shadow: inset 0px 0px 10px 0px rgba(99,190,255,0.6);box-shadow: 0px 0px 5px 2px rgba(34,162,252,0.45);
                    animation: isOpenPrize 0.5s linear 0s infinite;
                }
                .bet-item-top{
                    width: 62px;
                    justify-content: space-between;
                    .text{
                        width: 32px;
                    }
                    .betContent{
                        text-align: right;
                    }
                }
            }

            .amount {
                font-size: 12px;
                color: #fff;
                min-width: 44px;
                height: 16px;
                line-height: 16px;
                text-align: center;
                display: inline-block;
                padding: 0 11px;
                background: url('~@/assets/images/tese-lol/tb/betamountbg.png') no-repeat;
                background-size: 100% 100%;
                margin-left: 12px;
                position: absolute;
                z-index: 999;
            }
            &.nv {
                height: 65px;
                background-image: url('~@/assets/images/tese-lol/tb/female-btn.png');
                .bet-item-top{
                    margin-top: 10px;
                }
            }
            &.nan {
                height: 65px;
                background-image: url('~@/assets/images/tese-lol/tb/male-btn.png');
                .bet-item-top{
                    margin-top: 10px;
                }
            }
            &.jinzhan {
                background-image: url('~@/assets/images/tese-lol/tb/attack-btn.png');
            }
            &.yuanzhan {
                background-image: url('~@/assets/images/tese-lol/tb/attack-btn.png');
            }
        }
    }
    .hit-range-set-modal{
        background: transparent !important;
    }
    .hit-play {
        display: flex;
        flex-direction: column;
        .top {
            flex: none;
            height: 76px;
            position: relative;
            background-image: linear-gradient(180deg, rgba(1,141,121,0.00) 27%, rgba(1,141,121,0.35) 98%);
            border: 1px solid rgba(255,255,255,0.15);
            border-radius: 0px;
            overflow: hidden;
            margin-bottom: 10px;
            align-items: center;
            .top-minzhong{
                height: 36px;
                width: 100%;
                position: relative;
                display: flex;
                justify-content: center;
                align-content: center;
                align-items: center;
                background: rgba(4,113,99,0.20);
                .hit-icon{
                    width: 21px;
                    height: 21px;
                }
                .text {
                    font-size: 14px;
                    color: #F3ECD3;
                    margin-left: 6px;
                }
            }
            .top-bet{
                width: 90%;
                margin: 0 auto;
                height: 38px;
                align-content: center;
                align-items: center;
                display: flex;
                justify-content: space-between;
                font-size: 12px;
                color: rgba(255,255,255,0.60);
                font-weight: 400;
                position: relative;
                .amount{
                    position: absolute;
                    min-width: 40px;
                    height: 14px;
                    text-align: center;
                    font-size: 12px;
                    color: white;
                    padding: 0 11px;
                    background: url('~@/assets/images/tese-lol/tb/betamountbg.png') no-repeat;
                    background-size: 100% 100%;
                    left: 50%;
                    transform: translateX(-50%);
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    align-items: center;
                }
            }
        }
        .middle {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .bet-item {
                position: relative;
                background-image: linear-gradient(180deg, rgba(11,37,51,0.45) 19%, rgba(25,77,107,0.50) 100%);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                color: #F3ECD3;
                border: 1px solid #60778A;
                overflow: hidden;
                margin-bottom: 8px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 65px;
                height: 50px;
                &.active {
                    background-image: linear-gradient(180deg, rgba(0,149,255,0.00) 2%, rgba(0,149,255,0.42) 100%);
                    color: #fff;
                    .text{
                        background: rgba(0,149,255,0.57);
                    }
                    .odds {
                        color: #fff;
                        opacity: 0.6;
                    }
                }
                span{
                    height: 25px;
                    line-height: 25px;
                    width: 100%;
                    text-align: center;
                    display: inline-block;
                }
                .text {
                    background: rgba(0,149,255,0.15);
                    font-size: 12px;
                    color: #DEDCB0;
                }
                .odds {
                    font-size: 12px;
                    color: rgba(256, 256, 256, 0.6);
                }
            }
        }
        .bottom {
            height: 70px;
            display: flex;
            justify-content: space-between;
            position: relative;
            .slide-wrap {
                flex: none;
                width: 330px;
            }
            .edit-hit {
                flex: 1;
                text-align: right;
                position: relative;
                z-index: 999;
                i {
                    display: inline-block;
                    width: 12px;
                    height: 12px;
                    margin-top: 30px;
                    background-image: url('~@/assets/images/tese-lol/tb/rangeEdit.png');
                    background-size: 100%;
                    background-repeat: no-repeat;
                    &.disabled {
                        opacity: 0.4;
                    }
                }
            }
        }
    }

}
</style>
