<template>
    <div class="mk-number-keyboard" v-show="showKeyboard">
        <div class="top">
           <span>{{inputValue}}</span>
           <van-icon v-if="inputValue" name="clear" @click="clear" />
        </div>
        <NumberKeyboard
            class="amount"
            v-model="inputValue"
            @blur="hide"
            :close-button-text="$t('yxzh.play.rangeSet.confirm')"
            :show="showKeyboard"
            :transition="false"
            :hide-on-click-outside="false"
            @delete="onDelete"
            @input="input"
            @close="close"
        ></NumberKeyboard>
    </div>
</template>

<script>
import { mapState } from 'vuex'
import { NumberKeyboard, Icon } from 'vant'

export default {
    name: 'LolKeyBoard',
    props: ['show', 'value'],
    components: {
        NumberKeyboard,
        Icon,
    },

    data() {
        return {
            showKeyboard: false,
            inputValue: '',
        }
    },
    computed: {
        ...mapState({
            doubleBetQuickConfirmDialog: state => state.setting.betQuickConfirmDialog,
            featureBetRangeList: state => state.setting.featureBetRangeList,
        }),
        amount: {
            get() {
                return this.$store.state.lottery.amount;
            },
            set(v) {
                if(v){
                    localStorage.setItem("setAmount",v);
                    this.$store.commit('setAmount', v);
                }
            }
        },
    },

    created() {
        window.addEventListener('click', this.clickOutMe.bind(this), true)
    },

    mounted() {
        if(!this.amount) {
            this.amount = this.featureBetRangeList?.find(v => v.current).doublePlayBetMin
        }
    },

    methods: {
        input(key) {
            if (key === this.$t('yxzh.play.rangeSet.cancel')) {
                this.$nextTick(() => {
                    this.inputValue = this.value
                })
            }
        },

        hide() {
            // 避免tap穿透,触发单式的页面的几个按钮
            if (this.showKeyboard) {
                this.showKeyboard = false
            }
        },

        clickOutMe(event) {
            if (!this.$el.contains(event.target)) {
                this.hide()
            }
        },

        enableQuickConfirm() {
            this.$store.commit('setBetQuickConfirmDialog', true)
            this.$toast(this.$t('yxzh.play.index.message1'))
        },

        onDelete() {
            
        },

        clear() {
            this.inputValue = ''
        },

        close() {
            this.amount = this.inputValue
        }
    },

    watch: {
        showKeyboard(v) {
            // 同步到父组件
            this.$emit('update:show', v)
            if (v) {
                this.inputValue = this.value
            }
        },

        show: {
            handler(v) {
                // 同步到子组件
                this.showKeyboard = v
            },
            immediate: true,
        },

        inputValue(v) {
            if (!v || Number(v) === 0) {
                v = '';
            }
            v = v.replace(/[^\d\.]/g, '');
            this.inputValue = v;
            if(Number(v) > 999999999) {
                this.inputValue = '999999999'
            }
        },
    },

    destroyed() {
        window.removeEventListener('click', this.clickOutMe.bind(this), true)
    },
}
</script>

<style lang="less">
.tese-lol {

.mk-number-keyboard {
    z-index: 1001;
    position: fixed;
    bottom: 0;
    // height: 304px;
    width: 100%;
    background: url(~@/assets/images/tese-lol/bg-popup.png) no-repeat;
    background-size: 100% 100%;
    color: #FFFFFF;


    .top {
        width: 290px;
        height: 30px;
        background: rgba(36,64,86,0.51);
        box-sizing: border-box;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        position: fixed;
        bottom: 228px;
        left: 6px;
        z-index: 999;
    }
    .van-number-keyboard{
        background: transparent !important;
    }
    .van-number-keyboard__header{
        padding-top: 14px;
        .van-number-keyboard__close{
            height: 30px;
            line-height: 30px;
            color: #EFDEAB;
            font-size: 14px;
            top: 10px;
        }
    }
    .van-number-keyboard__body {
        padding: 0 0 0 6px;
        height: 220px;
        .van-number-keyboard__keys {
            height: 220px;
        }
        .van-key__wrapper {
            padding: 0;
            &:nth-of-type(12) {
                .van-key {
                    font-size: 20px;
                }
            }
        }
        .van-key {
            width: 117px;
            margin: 0;
            padding: 0;
            color: white;
            background: rgba(36,64,86,0.51);
            border-radius: 0;
            box-shadow: none;
            height: 46px;
            line-height: 46px;
            font-size: 28px;
        }
        .van-key--delete {
            color: white;
            background: rgba(0,0,0,0.13) !important;
            background-size: (72px/3) (52px/3);
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    .amount {
        .van-key--delete {
            background-image: none!important;
        }

    }
    .van-icon-clear {
        opacity: 0.4;
        position: relative;
        top: 2px;
    }
}
}
</style>
