<template>
    <div class="report-details-page-lol">
        <header class="details-header">
            <span @click="goback()">
                <i class="icon-back"></i>
            </span>
            <span>{{ title }}</span>
            <span></span>
        </header>
        <div class="card-area" v-show="!waiting">
            <div :class="`hero hero-img hero-${herosId}-img`"></div>
            <div class="middle">
                <div class="inner">
                    <div class="basic-intro">
                        <div class="name">
                            <span>{{$t(`teseLol.heros.${herosId}.nickName`)}}</span>
                            <span>{{$t(`teseLol.heros.${herosId}.name`)}}</span>
                        </div>
                        <div class="jb"><img :src="require(`@/assets/images/tese-lol/tb/${yjImgStr}.png`)"/></div>
                    </div>
                    <span class="statistic">
                        <span><img :src="require(`@/assets/images/tese-lol/tb/${lastNumberArray[1] == 1 ? 'icon_male' : 'icon_female'}.png`)"/></span>
                        <span><img :src="require(`@/assets/images/tese-lol/tb/${zyImgStr}.png`)"/></span>
                        <span class="">{{lastNumberArray[0] | zhanliFilter}}</span>
                        <span class="">{{$t('homePage.sportsEndGame.qi', {no :[getCurrentIssue]})}}</span>
                    </span>
                </div>
            </div>
            <div class="btm" v-if="false">
                <img v-for="i in 5" :key="i" :src="require(`@/assets/images/tese-lol/tb/heros/skills/${herosId}/${i}.png`)"/>
            </div>
        </div>
        <div class="wating-wrapper" v-show="waiting">
            <div class="waiting gradient-text">
                <span v-html="$t('yxzh.history.watingOpen')"></span>
            </div>
            <div class="btm">
                <span class="planid">{{$t('homePage.sportsEndGame.qi', {no :[getCurrentIssue]})}}</span>
            </div>
        </div>
        <div class="lol-table-detail">
            <div class="hero-info">
                <div class="msg">{{ $t(`teseLol.heros.${herosId}.description`) }}</div>
            </div>
            <div class="lol-table-header">
                <span class="column betContent">{{ $t('yxzh.play.checkModal.betContent') }}</span>
                <span class="column orderId">{{ $t('yxzh.play.checkModal.orderNo') }}</span>
                <span class="column amount">{{ $t('yxzh.play.checkModal.betAmt') }}</span>
                <span class="column rate">{{ $t('yxzh.play.checkModal.odds') }}</span>
                <span class="column result">{{waiting ?  $t('yxzh.play.checkModal.opera')  : $t('yxzh.play.checkModal.profit')}}</span>
            </div>
            <div class="lol-table-body" v-if="list.length > 0">
                <div
                    class="table-tr"
                    v-for="(item, idx) of list"
                    :key="idx"
                >
                    <div class="column betContent" v-html="transPlay(item)"></div>
                    <div class="column orderId" @click="copy(item.orderId)"><span :id="item.orderId">{{ item.orderId }}</span><img :src="require(`@/assets/images/tese-lol/copy.png`)"/></div>
                    <span class="column amount">{{ toThousands(item.betMoney) }}</span>
                    <span class="column rate">{{ Number(JSON.parse(item.odd)[1]).toFixed(2) }}</span>
                    <div class="column result">
                        <span v-if="!waiting" class="num" :class="item.profit > 0 ? 'red' : item.profit < 0 ? 'green' : ''">{{ profitFormat(item.profit) }}</span>
                        <span class="cancel-btn" :class="{disable: !item.canCancel}" @click="cancel(item)" v-else>{{ $t('yxzh.play.checkModal.chedan') }}</span>
                    </div>
                </div>
            </div>
            <div class="lol-table-foot" v-if="list.length > 0">
                <span class="column betContent">{{ $t('yxzh.play.checkModal.total') }}</span>
                <span class="column orderId"></span>
                <span class="column amount">{{ toThousands(totalSum.totalBetMoney) }}</span>
                <span class="column rate"></span>
                <span class="column result" v-if="!waiting" :class="totalSum.profit > 0 ? 'red' : totalSum.profit < 0 ? 'green' : ''">{{ profitFormat(totalSum.profit) }}</span>
                <span class="column result cancel-btn" :class="{disable: !list.some(v => v.canCancel)}" @click="cancelAll" v-else>{{ $t('yxzh.play.checkModal.cancelAll') }}</span>
            </div>
            <div class="no-content" v-else>{{ $t('yxzh.play.checkModal.noOrders') }}</div>
        </div>
    </div>
</template>

<script>
import {mapState, mapGetters} from 'vuex'
import { lolMap1, lolMap2 } from '@/views/lottery/util/lottery'
import * as LotteryApi from '@/api/teselol'
import moment from 'moment'
import { copyToClipboard } from '@/views/lottery/util'
import i18n from '@/assets/i18n/index'
export default {
    name: 'ReportDetailsPage',
    props: ['dataDetails', 'title'],
    components: {
    },
    data() {
        return {
            list: [],
            totalSum: {},
            waiting: false,
            ticketResult: this.dataDetails.ticketResult,
            betStatus: this.dataDetails.betStatus,
        }
    },
    watch: {
        dataDetails() {
            this.getOrderList()
        },
        currentIssue() {
            this.getOrderList()
        }
    },
    filters: {
        zhanliFilter(v = '02000') {
            let t = String(Number(v)).split('')
            t.splice(t.length - 3, 0 , ',')
            return t.join('')
        }
    },

    computed: {
        ...mapGetters([
            'currentIssue',
        ]),
        ...mapState({
            ticketId: state => state.lottery.ticketId,
        }),
        herosId() {
            return this.lastNumberArray ? `${Number(this.lastNumberArray[0].slice(0,2))}${this.lastNumberArray[1]}` : '21'
        },
        lastNumberArray() {
            return this.ticketResult ? this.ticketResult.split(/[\,|\s]/) : ['02139', '2']
        },
         zyImgStr() {
            let t2 = this.lastNumberArray[0] || ''
            let t = Number(t2.slice(0,2))
            switch(lolMap1[t]) {
                case 0:
                    return 'tank'
                case 1:
                    return 'warrior'
                case 2:
                    return 'assassin'
                case 3:
                    return 'mage'
                case 4:
                    return 'support'
                case 4:
                    return 'tank'
                case 5:
                    return 'archer'
                default:
                    return 'archer'
            }
        },
        yjImgStr() {
            let t2 = this.lastNumberArray[0] || ''
            let t = Number(t2.slice(0,2))
            switch(lolMap2[t]) {
                case 0:
                    return 'melee-icon'
                case 1:
                    return 'remote-icon'
                default:
                    return 'melee-icon'
            }
        },
        getCurrentIssue() {
            if (this.dataDetails.ticketPlanNo) {
                return this.dataDetails.ticketPlanNo.substring(2).replace('-', '')
            } else {
                return '-'
            }
        },
    },

    methods: {
        toThousands,
        goback(){
            this.$emit('hiddenDetails');
            setTimeout(()=>{
                this.$store.commit('SET_ISSHOWOPEN',true)
            },300)
        },
        profitFormat(v) {
            const d = v.toFixed(2).toString().split(".")
            console.log(d);
            if(v > 0) {
                return `+${toThousands(Number(d[0]))}.${d[1] ? d[1] : '00'}`
            } else if(v <= 0) {
                return `-${toThousands(Number(d[0].slice(1)))}.${d[1] ? d[1] : '00'}`
            }
        },
        getOrderList() {
            let startDate = moment(this.dataDetails.saleStartTime).startOf('day').format('YYYY-MM-DD HH:mm:ss')
            let endDate = moment(this.dataDetails.saleStartTime).endOf('day').format('YYYY-MM-DD HH:mm:ss')
            LotteryApi.getOrderList({
                planNo: this.dataDetails.ticketPlanNo,
                pageNum: 1,
                pageSize: 1000,
                startDate,
                endDate,
            }).then(r => {
                let t = r.data.data.list[0]
                this.ticketResult = t ? t.ticketResult : this.dataDetails.ticketResult
                this.betStatus = t ? t.betStatus : this.dataDetails.betStatus
                if(!this.ticketResult && this.betStatus === 1) {
                    this.waiting = true
                } else {
                    this.waiting = false
                }
                this.totalSum = r.data.data.totalSum
                this.totalSum.profit  = 0 // 撤单情况前端算
                this.list = r.data.data.list.map(v => {
                    let isChedan = v.ticketResult && v.betStatus === 1
                    let profit = isChedan ? 0 : v.winAmount - v.betMoney 
                    this.totalSum.profit += profit
                    return {
                        ...v, 
                        profit
                    }
                })
            })
        },
        
        copy(e) {
            copyToClipboard(e).then(() => {
                this.$toast(this.$t('yxzh.orderStatusJs.yifuzhi'))
            })
        },

        filterBetContent(content) {
            return content.split(',')[0];
        },
        
        transPlay({betContent, betNum}) {
            switch(betNum) {
                case 'nan':
                    // 翻译
                    return `<img src="${require('@/assets/images/tese-lol/tb/icon_male.png')}" /><span>${betContent}</span>`
                case 'nv':
                    return `<img src="${require('@/assets/images/tese-lol/tb/icon_female.png')}" /><span>${betContent}</span>`
                case 'jinzhan':
                    return `<img src="${require('@/assets/images/tese-lol/tb/melee-icon2.png')}" /><span>${betContent}</span>`
                case 'yuanzhan':
                    return `<img src="${require('@/assets/images/tese-lol/tb/remote-icon2.png')}" /><span>${betContent}</span>`
                case 'tanke':
                    return `<img src="${require('@/assets/images/tese-lol/tb/tank.png')}" /><span>${betContent}</span>`
                case 'zhanshi':
                    return `<img src="${require('@/assets/images/tese-lol/tb/warrior.png')}" /><span>${betContent}</span>`
                case 'cike':
                    return `<img src="${require('@/assets/images/tese-lol/tb/assassin.png')}" /><span>${betContent}</span>`
                case 'fashi':
                    return `<img src="${require('@/assets/images/tese-lol/tb/mage.png')}" /><span>${betContent}</span>`
                case 'fuzhu':
                    return `<img src="${require('@/assets/images/tese-lol/tb/support.png')}" /><span>${betContent}</span>`
                case 'sheshou':
                    return `<img src="${require('@/assets/images/tese-lol/tb/archer.png')}" /><span>${betContent}</span>`
                default: 
                    return `<img src="${require('@/assets/images/tese-lol/tb/hit.png')}" /><span>${this.filterBetContent(betContent)}</span>`
            }
        },
        cancel(item) {
            if(item.canCancel) {
                this.$dialog
                .confirm({
                    message: i18n.t('yxzh.cancelOrderJs.cancelConfirmMessage'),
                    confirmButtonText: i18n.t('yxzh.cancelOrder'),
                    cancelButtonText: i18n.t('yxzh.canceBtnText'),
                })
                .then(async () => {
                    const res = await LotteryApi.cancelOrder(item.orderId)
                    if (res.data.code === 0) {
                        // 更新余额
                        this.$store.dispatch('fetchUserInfo')
                        this.$toast.success({
                            message: i18n.t('yxzh.cancelOrderJs.cancelSuccess'),
                            forbidClick: true,
                            duration: 1000
                        })
                        this.$emit('updateList')
                        // this.$store.commit('setPushData', {
                        //     type:  'EVENT_BET_CANCEL',
                        //     data: null,
                        // })
                    } else {
                        this.$toast.fail({
                            message: res.data.msg,
                            forbidClick: true,
                            duration: 1000
                        })
                    }
                    this.getOrderList()
                })
                .catch(() => {})
            }
        },
        cancelAll() {
            if(this.list.some(v => v.canCancel)) {
                this.$dialog
                .confirm({
                    message: i18n.t('yxzh.cancelOrderJs.cancelConfirmMessage'),
                    confirmButtonText: i18n.t('yxzh.cancelOrder'),
                    cancelButtonText: i18n.t('yxzh.canceBtnText'),
                })
                .then(async () => {
                    const res = await LotteryApi.cancelOrderByIssue(this.dataDetails.ticketPlanNo)
                    if (res.data.code === 0) {
                        // 更新余额
                        this.$store.dispatch('fetchUserInfo')
                        this.$toast.success({
                            message: i18n.t('yxzh.cancelOrderJs.cancelSuccess'),
                            forbidClick: true,
                            duration: 1000
                        })
                        this.$emit('updateList')
                        // this.$store.commit('setPushData', {
                        //     type:  'EVENT_BET_CANCEL',
                        //     data: null,
                        // })
                    } else {
                        this.$toast.fail({
                            message: res.data.msg,
                            forbidClick: true,
                            duration: 1000
                        })
                    }
                    this.getOrderList()
                })
                .catch(() => {})
            }
            
        },
    },
    created() {
        this.getOrderList()
    }

}
</script>

<style lang="less">
.report-details-page-lol {
    height: 100%;
    width: 100%;
    position: relative;
    color: #fff;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    .details-header {
        display: flex;
        width: 100%;
        height: 52px;
        line-height: 52px;
        position: absolute;
        z-index: 9;
        border-bottom: 0;

        >span {
            flex: 1;
            height: 100%;
            &:nth-of-type(1) {
                flex: none;
                width: 44px;
                text-align: center;
            }
            &:nth-of-type(2) {
                text-align: center;
                font-size: 14px;
                color: #fff;
            }
            &:nth-of-type(3) {
                flex: none;
                width: 44px;
                text-align: left;
            }
            .icon-back {
                display: inline-block;
                width: 12px;
                height: 16px;
                background-image: url('~@/assets/images/tese-lol/tb/return.png');
                background-size: 100%;
                background-repeat: no-repeat;
            }
        }
    }

    .card-area {
        position: relative;
        z-index: 1;
        height: unset;  
        // max-height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-image: url(~@/assets/images/tese-lol/lol-bg-head.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        
        .middle {
            z-index: 1;
            height: 215px;
            top: 0px;
            position: relative;

            .inner {
                position: absolute;
                bottom: 15px;
                left: 0px;
                flex-direction: column;
                align-items: flex-start;
                display: flex;
                width: 100%;
            }

            .basic-intro {
                display: flex;
                flex-direction: row;

                .name {
                    span {
                        display: block;
                        &:first-child {
                            font-size: 12px;
                            color: #FFFCED;
                            font-weight: 600;
                        }

                        &:last-child {
                            font-size: 24px;
                            color: #FFFCED;
                        }
                    }
                }

                .jb {
                    margin-left: 7px;
                    img {
                        width: 36px;
                    }
                }
            }

            p {
                font-size: 12px;
            }
            .gradient-text {
                background-image: linear-gradient(to bottom, #ffffff, #bbbbbb);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
            .statistic {
                margin-top: 11px;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                width: 100%;
                font-size: 12px;
                color: #FFFFFF;
                span {
                    margin-right: 15px;

                    &:last-child {
                        margin-left: auto;
                    }
                }
                img {
                    width: 14px;
                    height: auto;
                }
            }
        }
        .btm {
            position: relative;
            z-index: 9;
            margin: 40px 20px 15px;
            display: flex;
            align-items: center;
            img {
                flex: none;
                margin: 3.5px;
                width: 30px;
            }
            .planid {
                margin-left: auto;
                font-size: 12px;
                color: #DDCC82;
            }
        }
        .hero {
            position: absolute;
            image-rendering: -webkit-optimize-contrast;
            image-rendering: crisp-edges;
            width: 100%;
            // height: auto;
            height: 100%;
            // top: -75px;
        }
        
        @keyframes heroRun {
            0% {
                transform: translate(0, -1vh);
            }
            50% {
                transform: translate(0, 1vh);
            }
            100% {
                transform: translate(0, -1vh);
            }
        }
        .hero-img {
            width: 100%;
            height: 100%;
            // max-height: 287px;
            background-image: url('~@/assets/images/tese-lol/tb/heros/21.png');
            background-size: 100%;
            background-repeat: no-repeat;
            animation: heroRun 20s linear 0s infinite;
            &.hero-21-img {
                background-image: url('~@/assets/images/tese-lol/tb/heros/21.png');
            }
            &.hero-22-img {
                background-image: url('~@/assets/images/tese-lol/tb/heros/22.png');
            }
            &.hero-31-img {
                background-image: url('~@/assets/images/tese-lol/tb/heros/31.png');
            }
            &.hero-32-img {
                background-image: url('~@/assets/images/tese-lol/tb/heros/32.png');
            }
            &.hero-41-img {
                background-image: url('~@/assets/images/tese-lol/tb/heros/41.png');
            }
            &.hero-42-img {
                background-image: url('~@/assets/images/tese-lol/tb/heros/42.png');
            }
            &.hero-51-img {
                background-image: url('~@/assets/images/tese-lol/tb/heros/51.png');
            }
            &.hero-52-img {
                background-image: url('~@/assets/images/tese-lol/tb/heros/52.png');
            }
            &.hero-61-img {
                background-image: url('~@/assets/images/tese-lol/tb/heros/61.png');
            }
            &.hero-62-img {
                background-image: url('~@/assets/images/tese-lol/tb/heros/62.png');
            }
            &.hero-71-img {
                background-image: url('~@/assets/images/tese-lol/tb/heros/71.png');
            }
            &.hero-72-img {
                background-image: url('~@/assets/images/tese-lol/tb/heros/72.png');
            }
            &.hero-81-img {
                background-image: url('~@/assets/images/tese-lol/tb/heros/81.png');
            }
            &.hero-82-img {
                background-image: url('~@/assets/images/tese-lol/tb/heros/82.png');
            }
            &.hero-91-img {
                background-image: url('~@/assets/images/tese-lol/tb/heros/91.png');
            }
            &.hero-92-img {
                background-image: url('~@/assets/images/tese-lol/tb/heros/92.png');
            }
            &.hero-101-img {
                background-image: url('~@/assets/images/tese-lol/tb/heros/101.png');
            }
            &.hero-102-img {
                background-image: url('~@/assets/images/tese-lol/tb/heros/102.png');
            }
            &.hero-111-img {
                background-image: url('~@/assets/images/tese-lol/tb/heros/111.png');
            }
            &.hero-112-img {
                background-image: url('~@/assets/images/tese-lol/tb/heros/112.png');
            }
            &.hero-121-img {
                background-image: url('~@/assets/images/tese-lol/tb/heros/121.png');
            }
            &.hero-122-img {
                background-image: url('~@/assets/images/tese-lol/tb/heros/122.png');
            }
            &.hero-131-img {
                background-image: url('~@/assets/images/tese-lol/tb/heros/131.png');
            }
            &.hero-132-img {
                background-image: url('~@/assets/images/tese-lol/tb/heros/132.png');
            }
        }
        @media (min-width: 414px) {
            .hero-img  {
                top: 1vh;
            }
        }
    }
    .wating-wrapper {
        background-image: url(~@/assets/images/tese-lol/lol-bg-head.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
        .waiting {
            position: relative;
            width: 100%;
            height: 170px;
            text-align: center;
            margin-top: 100px;
            font-size: 30px;
            font-weight: 900;
            &.gradient-text {
                background-image: linear-gradient(to bottom, #FEF4CF, #B79D62, #FFF4DA);
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .btm {
            position: relative;
            z-index: 9;
            margin: 0 20px 15px;
            display: flex;
            align-items: center;
            bottom: 0px;
            .planid {
                margin-left: auto;
                font-size: 12px;
                color: #DDCC82;
            }
        }
    }
    .hero-info {
        padding: 20px 15px;
        line-height: 19px;
        position: relative;
        z-index: 1;
        font-size: 12px;
        color: rgba(255,255,255,0.60);
        .msg {
            position: relative;
            z-index: 2;
        }
        // &::before {
        //     content: '';
        //     z-index: 1;
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 200%;
        //     transform: translateY(-50%);
        //     background-image: url(~@/assets/images/tese-lol/lol-bg-middle.png);
        //     background-repeat: no-repeat;
        //     background-size: 100% 100%;
        //     background-position: 100% 100%;
        // }
        &::after {
            content: '';
            z-index: 1;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-image: url(~@/assets/images/tese-lol/lol-bg-line.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: none;
        }
    }
    
    .lol-table-detail {
        flex: 1;
        display: flex;
        flex-direction: column;
        height: 0;
        background: url(~@/assets/images/tese-lol/bt-bg.png) no-repeat;
        background-size: cover;
        .lol-table-header {
            height: 30px;
            line-height: 30px;
            font-size: 12px;
            color: rgba(255,255,255,0.60);
            display: flex;
            background-image: linear-gradient(180deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100%);
        }
        .lol-table-body {
            font-size: 12px;
            color: #FFFFFF;
            overflow-x: hidden;
            overflow-y: auto;
            flex: 1;
            .record-list {
                height: 406px;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
            }
            .table-tr {
                height: 44px;
                line-height: 44px;
                border-bottom: 1px solid #586678;
                display: flex;
            }
        }
        .lol-table-foot {
            background: rgba(0,0,0,0.2);
            height: 40px;
            line-height: 40px;
            font-size: 12px;
            display: flex;
        }
        .betContent {
            text-align: left;
            width: 90px;
            padding-left: 10px;
            display: flex;
            align-items: center;
            white-space: nowrap;
            img {
                width: 13px;
                margin-right: 2px;
            }
        }
        .amount {
            width: 90px;
            text-align: left;
        }
        .rate {
            width: 40px;
        }
        .result {
            text-align: right;
            width: 60px;
            padding-right: 10px;
            .num {
                width: 100%;
            }
        }
        .orderId {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            > span {
                width: 80px;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
            }
            > img {
                width: 9px;
                height: 9px;
                display: inline-block;
            }
        }
        .green {
            color: #3DDC9C;
        }
        .red {
            color: #FF6F71;
        }
        .cancel-btn {
            color: #F0E5B5;
            &.disable {
                color: #bbb;
            }
        }
        .no-content {
            text-align: center;
            margin-top: 20px;
            font-size: 12px;
            color: #8a93a2;
        }
    }
}
</style>
