<template>
    <div class="bet-report-page-lol">
        <header>
            <span @click="$emit('hiddenHistory')">
                <i class="icon-dropdown"></i>
            </span>
            <span @click="recordIndex = 1" :class="{active: recordIndex === 1}">{{ $t('yxzh.play.report.betRecords') }}</span>
            <span @click="recordIndex = 2" :class="{active: recordIndex === 2}">{{ $t('yxzh.play.report.chaseRecords') }}</span>
            <span></span>
        </header>
        <bet-report @hiddenHistory="$emit('hiddenHistory')"  v-if="recordIndex === 1"></bet-report>
        <chase-report @hiddenHistory="$emit('hiddenHistory')"  v-if="recordIndex === 2"></chase-report>
    </div>
</template>

<script>
import {mapState, mapGetters} from 'vuex'
import betReport from './BetRport'
import chaseReport from './chaseReport'

export default {
    name: 'reportWrapper',
    components: {
        betReport, chaseReport
    },
    computed:{
        ...mapState({
            showBetReport: state => state.lottery.openBetReport,
        }),
    },
    data() {
        return {
          recordIndex: 1,
        }
    },
}
</script>

<style lang="less">
.bet-report-page-lol {
    top: calc(100vh - 524px);
    height: 524px;
    position: relative;
    background: url(~@/assets/images/tese-lol/bg-popup.png) no-repeat;
    background-size: cover;
    font-size: 14px;
    color: #8A93A2;

    header {
        display: flex;
        height: 52px;
        line-height: 52px;
        background: rgba(0,0,0,0.13);
        > span {
            flex: 1;
            height: 100%;
            background-repeat: no-repeat;
            &:nth-of-type(1) {
                flex: none;
                width: 38px;
                text-align: right;
            }
            &:nth-of-type(2),&:nth-of-type(3) {
                text-align: center;
                font-size: 16px;
                color: #fff;
                position: relative;
                &.active {
                    color: #efdeab;
                }
            }
            &:last-of-type {
                flex: none;
                width: 38px;
                text-align: left;
            }
            i {
                display: inline-block;
                background-size: 100%;
                background-repeat: no-repeat;
            }
            .icon-dropdown {
                background-image: url('~@/assets/images/tese-lol/tb/dropdown.png');
                width: 14px;
                height: 8px;
            }
        }
    }
}
</style>
