<template>
    <div class="mk-select" v-if="data">
        <span class="current-content" @click.stop.prevent="showDropDown = !showDropDown" ref="current">
            <span class="current-issue">{{ currentItem.label }}</span>
            <span class="issue">{{ currentItem.issue }}</span>
            <i class="arrow-down"></i>
        </span>

        <transition name="drop">
            <div class="select-drop" v-show="showDropDown" ref="dropdown">
                <ul class="drop-list">
                    <li
                        class="drop-list-item"
                        v-for="(item, idx) of data"
                        :key="idx"
                        @click="onItemClick(item, idx)"
                    >
                        <span class="tag-wrap">
                            <span class="current-issue"  v-show="
                                    item.counter1 === 1 || item.nextDay
                                ">{{ item.label  }}</span>
                        </span>
                        <span class="issue">{{ item.issue }}</span>
                    </li>
                </ul>
            </div>
        </transition>
    </div>
</template>

<script>
export default {
    name: 'MKSelect',
    props: ['data', 'idx'],

    data() {
        return {
            currentIdx: 0,
            showDropDown: false,
        }
    },
    computed: {
        currentItem() {
            if (this.data) {
                return this.data[this.currentIdx]
            }
        },
    },

    created() {
        window.addEventListener('click', this.onClickOutMe, false)
    },

    methods: {
        onClickOutMe(event) {
            if (
                (this.$refs.dropdown && !this.$refs.dropdown.contains(event.target)) ||
                (this.$refs.current && this.$refs.current.contains(event.target))
            ) {
                this.showDropDown = false
            }
        },

        onItemClick(item, idx) {
            // TODO item change
            this.showDropDown = false
            this.currentIdx = idx
            this.$emit('change', item, idx)
        },
    },

    watch: {
        idx: {
            handler(v) {
                this.currentIdx = v
            },
            immediate: true,
        }
    },

    destroyed() {
        window.removeEventListener('click', this.onClickOutMe, false)
    },
}
</script>

<style lang="less">
.mk-select {
    position: relative;
    user-select: none;

    .issue {
        padding-left: 5px;
    }
    .current-content{
        display: flex;
        align-content: center;
        align-items: center;
    }
    .current-issue{
        border-radius: 1px;
        background: rgba(0,149,255,0.57);
        color: #fff;
        position: relative;
        left: -10px;
    }
    .select-drop {
        position: absolute;
        width: 100%;
        top: 200%;
        left: 0;
        z-index: 1;
        background: #fff;
        padding: 5%;
        border-radius: 5px;
        transition: all 0.35s;        
        max-height: 200px;
        box-sizing: border-box;
        border: 1px solid #f3f3f3;
    }

    .drop-list {
        max-height: 21px * 5;
        overflow-y: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .drop-list-item {
        margin-bottom: 5px;

        &:nth-child(1){
          .issue{
             color: #f3ecd3;
          }          
        }
        .tag-wrap {
            display: inline-block;
            width: 48px;
        }
        .current-issue{
            left: 0 !important;
        }
    }
    .arrow-down{
        width: 20px;
        height: 20px;
        display: inline-block;
        background: url(~@/assets/images/tese-lol/tb/xiala.png) no-repeat;
        background-size: 100% 100%;
        position: absolute;
        top: -2px;
        right: 0;
        margin-left: 6px;
        transition: all 0.65s;
    }
}

.drop-enter,
.drop-leave-to {
    max-height: 0px !important;
    opacity: 0;
}
</style>
