<template>
    <div
        ref="wrap"
        :id="id"
        class="vue-slide-bar-component vue-slide-bar-horizontal"
        @click="wrapClick"
    >
        <div
            ref="elem"
            class="vue-slide-bar"
        >
            <div
                ref="tooltip0"
                class="vue-slide-bar-tooltip-container"
                @mousedown="moveStart($event, 0)"
                @touchstart="moveStart($event, 0)"
            >
                <span
                    v-if="showTooltip"
                    class="vue-slide-bar-tooltip-wrap"
                >
                    <div
                        :class="[
                            'tooltip-circle',
                            scope && scope < 1920 ? 'tooltip-circle-small' : '',
                        ]"    
                        :style="{'width': rangeWidth + 'px'}"
                    >
                        <span :class="[
                            'tooltip-text',
                            scope ? '' : 'default',
                            scope && scope == 228 ? 'tooltip-text-228' : '',
                            scope && scope == 548 ? 'tooltip-text-548' : '',
                            scope && scope < 1920 ? 'tooltip-text-small' : '',
                            scope && scope < 1920 && currentAttack < 15 ? 'tooltip-text-small-left' : '',
                            scope && scope >= 1920 && currentAttack < 5 ? 'tooltip-text-big-left' : '',
                            scope && scope >= 1920 && scope < 3840 ? 'tooltip-text-middle' : '',
                            scope && scope >= 3840 ? 'tooltip-text-big' : '',
                        ]">
                            <span class="min" v-if="getAttack.min">
                                <i>{{ getAttack.min }}</i>
                            </span>
                            <span
                                ref="middleElem"
                                :class="`middle ${!scope || scope >= 3840 ? 'show' : 'hidden'}`"
                            >
                                <template v-if="!scope || scope >= 3840">
                                    <span>{{ getAttack.middle ? getAttack.middle : defaultMiddle }}</span>
                                </template>
                            </span>
                            <span class="max" v-if="getAttack.max">
                                <i>{{ getAttack.max }}</i>
                            </span>
                        </span>
                    </div>
                </span>
            </div>
        </div>
        <!-- 范围刻度 -->
        <div v-if="range" class="vue-slide-bar-range">
          <div
            v-for="(r, index) in range"
            :key="index"
            class="vue-slide-bar-separate"
            :style="dataLabelStyles"
          >
            <span v-if="!r.isHide" class="vue-slide-bar-separate-text">
              {{ r.label }}
            </span>
          </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'vue-slide-bar',
    props: ['data', 'range', 'scope', 'value', 'current', 'minValue'],
    data() {
        return {
            flag: false,
            size: 0,
            btnSize: 0,
            currentValue: 0,
            currentTooltipIdx: 0,
            isComponentExists: true,
            interval: 1,
            lazy: false,
            realTime: false,
            dataLabelStyles: {
                'color': '#8590ae',
                'font-family': 'Arial, sans-serif',
                'font-size': '12px',
            },
            slider: null,
            localValue: null,
            attackRange: [2000, 13999],
            currentAttack: 0,
            scopeList: [228,548,1050,1920,3840,5760,7680,8688,10478,10980],
            speed: 0.5,
            id: 'wrap',
            min: 0,
            max: 100,
            showTooltip: true,
        }
    },
    computed: {
        getAttack() {
            if (!this.scope) {
                return {
                    min: '',
                    middle: '',
                    max: '',
                }
            }
            let min = Math.round(this.currentAttack * (11999 / this.size)) + 2000;
            // 特殊情况 范围 < 按钮
            if (this.scope <= 228) {
                min = Math.round(this.currentAttack * ((11999 - this.scope) / (this.size - this.btnSize))) + 2000;
            }
            return {
                min: min,
                middle: min + this.scope/2,
                max: min + this.scope,
            }
        },
        minimum() {
            return this.data ? 0 : this.min
        },
        maximum() {
            return this.data ? this.data.length - 1 : this.max
        },
        multiple() {
            let decimals = `${this.interval}`.split('.')[1]
            return decimals ? Math.pow(10, decimals.length) : 1
        },
        spacing() {
            return this.data ? 1 : this.interval
        },
        total() {
            if (this.data) {
                return this.data.length - 1
            } else if (
                Math.floor((this.maximum - this.minimum) * this.multiple) %
                    (this.interval * this.multiple) !==
                0
            ) {
                this.printError(
                    '[VueSlideBar error]: Prop[interval] is illegal, Please make sure that the interval can be divisible'
                )
            }
            return (this.maximum - this.minimum) / this.interval
        },
        gap() {
            return this.size / this.total
        },
        position() {
            return ((this.currentValue - this.minimum) / this.spacing) * this.gap
        },
        limit() {
            return [0, this.size]
        },
        valueLimit() {
            return [this.minimum, this.maximum]
        },
        rangeWidth() {
            if (!this.scope) {
                return this.btnSize
            } else {
                let width = (this.scope/11999) * this.size;
                width = (this.scope/11999) * this.size;
                width = width < this.btnSize ? this.btnSize : width;
                return width;
            }
        },
        defaultMiddle() {
            let oneW = 11999 / this.size;
            let halfW = this.btnSize / 2;
            return Math.round(((this.currentAttack + halfW)) * oneW) + 2000;
        }
    },
    watch: {
        value(val) {
            if (this.flag) this.setValue(val)
            else this.setValue(val, this.speed)
        },
        max(val) {
            if (val < this.min) {
                return this.printError(
                    '[VueSlideBar error]: The maximum value can not be less than the minimum value.'
                )
            }
            let resetVal = this.limitValue(this.val)
            this.setValue(resetVal)
            this.refresh()
        },
        min(val) {
            if (val > this.max) {
                return this.printError(
                    '[VueSlideBar error]: The minimum value can not be greater than the maximum value.'
                )
            }
            let resetVal = this.limitValue(this.val)
            this.setValue(resetVal)
            this.refresh()
        },
        scope(v) {
            this.syncValue()
        },
        getAttack(v) {
            this.syncValue()
        },
        rangeWidth(v) {
            if (v) {
                const tooltip = this.$refs.tooltip0
                const x = this.getTranslateXY(tooltip)
                if (x + v >= this.size) {
                    this.setTransformById(this.size - v, true)
                }
            }
        },
        current(v) {
            this.currentAttack = 0;
            let center = (this.size - this.btnSize) / 2;
            this.setTransformById(center, true)
        },
        minValue(v) {
            if (!v) {
                this.currentAttack = 0;
                let center = (this.size - this.btnSize) / 2;
                this.setTransformById(center, true)
            } else if (v != this.getAttack.min) {
                let pos = (v - 2000) / (11999 / this.size)
                // 特殊情况 范围 < 按钮
                if (this.scope <= 228) {
                    pos = (v - 2000) / ((11999 - this.scope) / (this.size - this.btnSize))
                }
                this.setTransformById(pos, true)
            }
        }
    },
    methods: {
        getTranslateXY(element) {
            const style = window.getComputedStyle(element)
            const matrix = new DOMMatrixReadOnly(style.transform)
            return matrix.m41;
        },
        getPositionByVal(val) {
            const idx = this.getIndex(val)
            return this.getPositionByIdx(idx)
        },
        getPositionByIdx(index) {
            return ((index - this.minimum) / this.spacing) * this.gap
        },
        getIndex(value) {
            return this.data.indexOf(value)
        },
        bindEvents() {
            let wrap = this.$refs.wrap;
            wrap.addEventListener('touchmove', this.moving, { passive: false })
            wrap.addEventListener('touchend', this.moveEnd, { passive: false })
            wrap.addEventListener('mousemove', this.moving)
            wrap.addEventListener('mouseup', this.moveEnd)
            wrap.addEventListener('mouseleave', this.moveEnd)
            window.addEventListener('resize', this.refresh)
        },
        unbindEvents() {
            let wrap = this.$refs.wrap;
            window.removeEventListener('resize', this.refresh)
            wrap.removeEventListener('touchmove', this.moving)
            wrap.removeEventListener('touchend', this.moveEnd)
            wrap.removeEventListener('mousemove', this.moving)
            wrap.removeEventListener('mouseup', this.moveEnd)
            wrap.removeEventListener('mouseleave', this.moveEnd)
        },
        getPos(e) {
            let clientX = e.clientX
            this.realTime && this.getStaticData()
            return clientX
        },
        wrapClick(e) {
            if (e.target.id === this.id) return false

            let pos = this.getPos(e)
            this.setValueOnPos(pos)
        },
        moveStart(e, index) {
            e.preventDefault()
            e.stopPropagation()
            this.flag = true
            this.slider = e.currentTarget
            this.$emit('dragStart', this)
        },
        moving(e) {
            e.preventDefault()
            if (!this.flag) return false
            if (e.targetTouches && e.targetTouches[0]) e = e.targetTouches[0]
            this.setValueOnPos(this.getPos(e), true)
        },
        moveEnd(e) {
            if (this.flag) {
                this.$emit('dragEnd', this)
                if (this.lazy && this.isDiff(this.val, this.value)) {
                    this.syncValue()
                }
            } else {
                return false
            }
            this.flag = false
            this.setPosition()
        },
        setValueOnPos(pos, isDrag) {
            let range = this.limit
            // let valueRange = this.valueLimit
            // console.log("pos: ", pos) // 鼠标位置
            // console.log("range: ", range) // 刻度范围
            // 最大最小
            if (pos < range[0]) {
                pos = range[0]
            } else if (pos > range[1]) {
                pos = range[1]
            }
            // 移动滑块
            this.setTransform(pos)
            // 滑块停留到移动的位置
            let v =
                (Math.round(pos / this.gap) * (this.spacing * this.multiple) +
                    this.minimum * this.multiple) /
                this.multiple
            this.setCurrentValue(v, isDrag)
        },
        isDiff(a, b) {
            if (Object.prototype.toString.call(a) !== Object.prototype.toString.call(b)) {
                return true
            } else if (Array.isArray(a) && a.length === b.length) {
                return a.some((v, i) => v !== b[i])
            }
            return a !== b
        },
        // 让滑块停留到移动的位置
        setCurrentValue(val, bool) {
            // console.log("val: ", val) // 当前位置
            // console.log("this.minimum: ", this.minimum) // 最小位置0(2)
            // console.log("this.maximum: ", this.maximum) // 最大位置11(13)
            if (val < this.minimum || val > this.maximum) return false

            const currentValue = this.getIndex(this.localValue[0])
            if (this.isDiff(currentValue, val)) {
                // 记住当前滑块的位置
                this.currentValue = val
                // console.info(`setCurrentValue=>${currentValue}`)
                this.localValue[0] = this.data[this.currentValue]
                if (!this.lazy || !this.flag) {
                    this.syncValue()
                }
            }
            bool || this.setPosition()
        },
        setValue(val, speed) {
            if (this.isDiff(this.localValue, val)) {
                let resetVal = this.limitValue(val)
                this.localValue = resetVal
                this.syncValue()
            }
            this.$nextTick(() => this.setPosition(speed))
        },
        setPosition(speed) {
            if (!this.flag) this.setTransitionTime(speed === undefined ? this.speed : speed)
            else this.setTransitionTime(0)

            // 2. 最终根据Index定位
            // const pos = this.getPositionByVal(this.localValue[0])
            // this.setTransform(pos)
        },
        setTransform(val) {
            // 1. 鼠标定位
            this.setTransformById(val)
        },
        // 移动滑块最终定位
        setTransformById(val, change = false) {
            const tooltip = this.$refs.tooltip0
            let value;
            if (change) {
                value = val
            } else {
                value = val - (this.rangeWidth - 2) / 2
            }

            // 设置一个滑块最小值，限制滑块超出刻度条范围
            if (value < 0) {
                value = 0
            }
            if (value + this.rangeWidth >= this.size) {
                value = this.size - this.rangeWidth
            }
            this.currentAttack = value;
            // console.log("value: ", this.currentAttack) // 滑块头的位置 [0, 320]
            let translateValue = `translateX(${value}px)`
            tooltip.style.transform = translateValue
            tooltip.style.WebkitTransform = translateValue
            tooltip.style.msTransform = translateValue
        },
        setTransitionTime(time) {
            this.setTransitionTimeById(time, 0)
        },
        setTransitionTimeById(time, idx) {
            const currentTooltip = this.$refs[`tooltip${idx}`]
            currentTooltip.style.transitionDuration = `${time}s`
            currentTooltip.style.WebkitTransitionDuration = `${time}s`
        },

        limitValue(val) {
            if (this.data) {
                return val
            }

            // TODO 改为数组
            const inRange = v => {
                if (v < this.min) {
                    this.printError(
                        `[VueSlideBar warn]: The value of the slider is ${val}, the minimum value is ${this.min}, the value of this slider can not be less than the minimum value`
                    )
                    return this.min
                } else if (v > this.max) {
                    this.printError(
                        `[VueSlideBar warn]: The value of the slider is ${val}, the maximum value is ${this.max}, the value of this slider can not be greater than the maximum value`
                    )
                    return this.max
                }
                return v
            }
            return inRange(val)
        },
        syncValue() {
            let val = [...this.localValue]
            // if (this.range) {
            //     this.$emit('callbackRange', val)
            // }
            this.$emit('input', val)
            this.$emit('callbackRange', this.getAttack)
        },
        getStaticData() {
            if (this.$refs.elem) {
                this.size = this.$refs.elem.offsetWidth
                this.btnSize = this.$refs.middleElem.offsetWidth
                this.offset = this.$refs.elem.getBoundingClientRect().left
            }
        },
        refresh() {
            if (this.$refs.elem) {
                this.getStaticData()
                this.setPosition()
            }
        },
        printError(msg) {
            console.error(msg)
        },
    },
    mounted() {
        this.localValue = [...this.value]

        this.isComponentExists = true
        if (typeof window === 'undefined' || typeof document === 'undefined') {
            return this.printError(
                '[VueSlideBar error]: window or document is undefined, can not be initialization.'
            )
        }
        this.$nextTick(() => {
            if (this.isComponentExists) {
                this.getStaticData()
                // 初始化位置
                this.setValue(this.limitValue(this.value), 0)

                let center = (this.size - this.btnSize) / 2;
                this.setTransformById(center, true)

                this.bindEvents()
            }
        })
    },
    beforeDestroy() {
        this.isComponentExists = false
        this.unbindEvents()
    },
}
</script>

<style lang="less" scoped>
.vue-slide-bar-component {
    position: relative;
    box-sizing: border-box;
    user-select: none;
    touch-action: none;
    height: 100%;
}
.vue-slide-bar {
    position: absolute;
    top: 30px;
    left: 0;
    display: block;
    cursor: pointer;
    width: 100%;
    height: 11px;
    padding: 0 5px;
}
.vue-slide-bar::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.vue-slide-bar-tooltip-container {
    position: absolute;
    transition: all 0s;
    will-change: transform;
    cursor: pointer;
    z-index: 3;
    left: 0;
}
.vue-slide-bar-tooltip-wrap {
    /* display: none; */
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    display: block !important;
}
.vue-slide-bar-tooltip {
    position: relative;
    font-size: 14px;
    white-space: nowrap;
    padding: 2px 5px;
    min-width: 20px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #1066fd;
    background-color: #1066fd;
}
.vue-slide-bar-tooltip::before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: inherit;
    transform: translate(-50%, 0);
}
.vue-slide-bar-range {
    position: relative;
    top: 30px;
    height: 11px;
    display: flex;
    justify-content: space-between;
    background: rgba(0,0,0,0.33);
    box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.3);
}
.vue-slide-bar-separate {
    position: relative;
    width: 1px;
    height: 8px;
    cursor: pointer;

    &:last-of-type {
        opacity: 0;
    }
}
.vue-slide-bar-separate-text {
    text-align: center;
    position: absolute;
    white-space: nowrap;
    transform: translate(-50%, 0);
    top: 16px;
    left: 4px;
    font-size: 12px;
    color: #F3ECD3;
}

/* overwrite vueSlideBar */
.vue-slide-bar-separate {
    font-family: inherit !important;
}
/* 拖拽样式 */
.tooltip-circle {
    position: relative;
    min-width: 8px;
    height: 14px;
    opacity: 0.7;
    background-image: linear-gradient(90deg, #0A73A8 2%, #2FBFFF 98%);
    transition: all 0.5s;
    &::before {
        content: '';
        position: absolute;
        top: -2px;
        left: 50%;
        transform: translateX(-50%);
        background: url(~@/assets/images/tese-lol/xuanzhong.png) no-repeat;
        background-size: 100% 100%;
        width: 18px;
        height: 18px;
    }
    .tooltip-text {
        position: absolute;
        top: -26px;
        width: 100%;
        text-align: center;
        font-size: 12px;
        color: #8A9AA2;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        >span {
            position: relative;
            flex: none;
            width: 8px;
            text-align: center;
            display: flex;
            justify-content: center;
            &.min,
            &.max,
            &.middle>span {
                min-width: 28px;
            }
        }
        >span::before {
            content: '';
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border: 4px solid transparent;
            border-top-color:#0095FF;
        }
        >span.middle>span {
            position: relative;
            display: inline-block;
            left: 50%;
            transform: translateX(-50%);
        }
        .min {
            transform: translateX(-50%);
            &::before{
                transform: rotate(-135deg);
                top: 13px;
                left: 30%;
            }
        }
        .middle {
            display: inline-block;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            &.hidden {
                &::before {
                    display: none;
                }
            }
        }
        .max {
            transform: translateX(50%);
            &::before{
                transform: rotate(135deg);
                top: 13px;
                left: 30%;
            }
        }
        &.tooltip-text-small {
            >span {
                transform: translateX(-50%);
            }
            i {
                position: relative;
                display: inline-block;
            }
            .min {
                i {
                    transform: translateX(-35%);
                }
            }
            .max {
                i {
                    transform: translateX(35%);
                }
            }
            &.tooltip-text-228 {
                .min {
                    // transform: translateX(-15%);
                    i {
                        transform: translateX(-55%);
                    }
                }
                .max {
                    transform: translateX(-118%);
                    i {
                        transform: translateX(55%);
                    }
                }
                &.tooltip-text-small-left {
                    .min {
                        i {
                            transform: translateX(12%);
                        }
                    }
                    .max {
                        i {
                            transform: translateX(95%);
                        }
                    }
                }
            }
            &.tooltip-text-548 {
                .min {
                    // transform: translateX(-25%);
                    // i {
                    //     transform: translateX(-55%);
                    // }
                }
                .max {
                    transform: translateX(-95%);
                    // i {
                    //     transform: translateX(55%);
                    // }
                }
                &.tooltip-text-small-left {
                    .min {
                        i {
                            transform: translateX(10%);
                        }
                    }
                    .max {
                        i {
                            transform: translateX(60%);
                        }
                    }
                }
            }
            &.tooltip-text-small-left {
                .min {
                    i {
                        transform: translateX(15%);
                    }
                }
            }
        }
        &.tooltip-text-middle {
            .max {
                transform: translateX(35%);
            }
        }
        &.tooltip-text-middle,
        &.tooltip-text-big {
            &.tooltip-text-big-left {
                 .min {
                    i {
                        transform: translateX(15%);
                    }
                }
            }
        }
    }
}

</style>
