<template>
    <div class="basket-check-modal modal trace-check-modal">
        <div class="modal-title">{{i18n.check.title}}</div>
        <div class="modal-content">
            <div class="top">
                <span>{{ lotteryName }} </span>
                <p class="content-issue" v-html="$t('yxzh.trace.qizhi', {firstPlanNo: traceList[0].issue , lastPlanNo: traceList[traceList.length - 1].issue})"></p>
            </div>
            <!-- <ul class="trace-list">
                <li class="list-item" v-for="(item, idx) of traceList" :key="idx">
                    <span class="issue">{{ item.issue }}</span>
                    <span class="betnum">注数:{{ item.count }}</span>
                    <span class="moneymode">金额:{{ item.amount }}</span>
                    <span class="multi">倍数:{{ item.mul }}</span>
                </li>
            </ul> -->
            <div class="middle">
                <p class="title">{{i18n.wanfaneirong[0]}}</p>
                <ul class="play-list">
                    <li class="play-list-item" :class="{'isFushi': item.isFushi}" v-for="(item, idx) of convertedBetList" :key="idx">
                        <template>
                            <p v-html="transPlay(item)"></p>
                        </template>
                    </li>
                </ul>
                <!-- <section>
                    <div class="section-body-title">
                        <span class="play-name">玩法</span>
                        <span class="play-content">投注内容</span>
                    </div>
                    <ul class="section-body">
                        <li class="section-list-item" v-for="(item, i) in convertedBetList" :key="i">
                            <span class="play-name" v-html="item.displayName"></span>
                            <span
                                class="play-content play-content-sebo"
                                v-html="item.playItemName"
                            ></span>
                        </li>
                    </ul>
                </section> -->
                <div class="summary">
                    <span>
                        <span v-html="$t('yxzh.trace.gongzhuiXqi', [`<span class='important-color'>${traceList.length}</span>`])"></span>, 
                        {{i18n.check.total}}:
                        <span class="important-color">{{ totalAmount }}</span>
                        {{i18n.yuan}}
                    </span>
                </div>
            </div>
        </div>
        <div class="modal-btns">
            <button class="mk-button" @click="$emit('onCancel')">{{i18n.quxiaoBtn}}</button>
            <button class="mk-button lg-w" @click="$emit('onConfirm')">{{i18n.confirm}}</button>
        </div>
    </div>
</template>
<script>
import numeral from 'numeral'
import { format, format0ToMax } from '@/views/lottery/util'
import i18n from '@/assets/i18n'

export default {
    name: 'TraceCheckModal',
    props: ['lotteryName', 'traceList', 'betList'],
    inheritAttrs: false,
    data() {
        return {
            i18n: i18n.t('yxzh.trace')
        }
    },
    methods: {
        transPlay({betNum, playItemName,playLocationName}) {
            switch(betNum) {
                case 'nan':
                    // 翻译
                    return `${playLocationName}-<img src="${require('@/assets/images/tese-lol/tb/icon_male.png')}" /><span>${playItemName}</span>`
                    break
                case 'nv':
                    return `${playLocationName}-<img src="${require('@/assets/images/tese-lol/tb/icon_female.png')}" /><span>${playItemName}</span>`
                    break
                case 'jinzhan':
                    return `${playLocationName}-<img src="${require('@/assets/images/tese-lol/tb/melee.png')}" /><span>${playItemName}</span>`
                    break
                case 'yuanzhan':
                    return `${playLocationName}-<img src="${require('@/assets/images/tese-lol/tb/remote.png')}" /><span>${playItemName}</span>`
                    break
                case 'tanke':
                    return `${playLocationName}-<img src="${require('@/assets/images/tese-lol/tb/tank.png')}" /><span>${playItemName}</span>`
                    break
                case 'zhanshi':
                    return `${playLocationName}-<img src="${require('@/assets/images/tese-lol/tb/warrior.png')}" /><span>${playItemName}</span>`
                    break
                case 'cike':
                    return `${playLocationName}-<img src="${require('@/assets/images/tese-lol/tb/assassin.png')}" /><span>${playItemName}</span>`
                    break
                case 'fashi':
                    return `${playLocationName}-<img src="${require('@/assets/images/tese-lol/tb/mage.png')}" /><span>${playItemName}</span>`
                    break
                case 'fuzhu':
                    return `${playLocationName}-<img src="${require('@/assets/images/tese-lol/tb/support.png')}" /><span>${playItemName}</span>`
                    break
                case 'sheshou':
                    return `${playLocationName}-<img src="${require('@/assets/images/tese-lol/tb/archer.png')}" /><span>${playItemName}</span>`
                    break
                default: 
                    return `${playLocationName}-<img src="${require('@/assets/images/tese-lol/tb/hit.png')}" /><span>${playItemName}</span>`
            }
        }
    },
    computed: {
        totalAmount() {
            const amount = numeral(0)
            this.traceList.forEach(ele => {
                amount.add(ele.amount)
            })
            return format0ToMax(amount.value(), 4)
        },

        convertedBetList() {
            return (
                (this.betList &&
                    this.betList.map(ele => {
                        const { playLocationName } = ele

                        let locationName = playLocationName
                        if (!playLocationName) {
                            locationName = '--'
                        }

                        let displayName = ''
                        if (ele.isFushi && ele.betCount > 0) {
                            // 双面盘-复式订单 需显示 组合数
                            displayName = `${locationName}<i>${ele.betCount}${this.$t('yxzh.foot.zu')}</i>`
                        } else {
                            displayName = `${locationName}-${ele.playItemName}`
                        }

                        return {
                            ...ele,
                            displayName,
                        }
                    })) ||
                []
            )
        },
    },
}
</script>
<style lang="less">
.trace-check-modal {
    .mk-button {
        width: 48%;
    }

    .sub-component {
        // 样式重置
        margin-bottom: 0 !important;
    }
    .modal-btns{
        display:flex;
        align-items: center;
        justify-content: center;
        height:80px;
        padding: 18px 0 21px;
        box-shadow: 1px 0 1px 1px rgba(244, 244, 244, 0.5);
        button{
            width: 107px;
            height: 40px !important;
            text-align: center;
            line-height: 40px;
            border-radius: 7.3px;
            font-size: 16px;
            border:none;
            color:#fff;
        }
        .lg-w {
            min-width: 107px;
            width: auto;
        }
    }
    .top {
        font-size: 12px;
        color: #666666;
        font-family: PingFangSC;
        padding: 0 12px;
        span {
            display: inline-block;
        }
        span:nth-of-type(1) {
            font-weight: 500;
        }
        .content-issue{
            margin-top:8px;
            text-align: left;
            margin-bottom: 0;
        }
        padding-bottom: 10px;
    }

    .trace-list {
        max-height: 250px;
        overflow-y: auto;
    }

    .list-item {
        display: flex;

        .issue {
            width: 35%;
        }
        .betnum {
            width: 20%;
        }
        .moneymode {
            width: 25%;
        }
        .multi {
            width: 20%;
            text-align: right;
        }
    }
    
    .middle{
        border: solid 0.5px #e1e5f3;
    }
    .title {
        margin: 0 !important;
        text-align: left !important;
        height: 30px;
        line-height: 30px;
        background-image: linear-gradient(to bottom, #edf4fe, #f5f9ff 51%, #edf4fe);
        border-bottom: 1px solid #ebeffb;
        padding-left: 12px;
        color: #666666;
    }
    .summary {
        padding: 12px 0 13px;
        text-align: center;
        font-size: 11.3px;
        color: #666666;
    }
    .play-list {
        overflow-y: auto;
        max-height: 180px;
        .play-list-item {
            padding: 0 12px;
            height: 30px;
            line-height: 30px;
            font-size: 12px;
            color: #666666;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            border-bottom: solid 0.5px #e1e5f3;
            &.isFushi {
                line-height: unset;
                height: auto;
            }
            >p{
                margin:0;
                >i{
                    margin-left: 3px;
                    width: 35px;
                    height: 17px;
                    border-radius: 3px;
                    background-color: #619def;
                    display: inline-block;
                    color: #fff;
                    font-size: 12px;
                }
                max-width: 100%;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                img {
                    width: 13px;
                    height: auto;
                    vertical-align: middle;
                    margin-right: 7px;
                }
            }
            p:nth-of-type(2){
               margin-top:3px;
            }
            &:last-child {
                border-bottom: unset;
            }
        }
        li:not(:last-child) {
            border-bottom: 1px solid rgba(151,151,151,0.15);
        }
    }
    .modal-content {
        box-shadow:none;
        border-bottom: unset;
        .play-content {
            li:not(:last-child) {
                border-bottom: 1px solid rgba(151,151,151,0.15);
            }
        }
        .play-content.play-content-sebo {
            > i {
                padding: 2px;
            }
        }
    }
    .modal-title {
        position: relative;
        font-family: PingFangSC;
        height: 44px;
        line-height: 44px;
        font-size:(44px/3);
        text-align: center;
        background: #fff;
        border: none;
        border-bottom: 1px solid rgba(151,151,151,0.15);
        font-family: PingFangSC;
        font-size: 15px;
        font-weight: 500;
        color: #666666;
        .trace-close {
            line-height: 14px;
            text-align: center;
            height: 14px;
            width: 14px;
            font-size: 18px;
            padding: 1px;
            right: 14px;
            top: 15px;
        }
        .trace-close::before {
            position: absolute;
            content: '\2716';
            top: 15px;
            right: 14px;
        }
    }
}
</style>
