<template>
    <div class="modal trace-modal-lol" :style="`max-height:${traceHeight}`">
        <LoadingComponent v-if="loading" />

        <div v-show="!loading" class="modal-content" :style="`max-height:${contentHeight}`">
            <div class="main-content" ref="scrollContent">
                <div>
                    <ul class="trace-setting">
                        <li class="trace-setting-item">
                            <span class="trace-setting-label">{{i18n.trace.start}}</span>
                            <span class="trace-setting-content">
                                <template v-if="!isLowFrequency">
                                    <MKSelect
                                        :data.sync="labeledIssue"
                                        :idx="startIssueIndex"
                                        @change="onIssueChange"
                                    ></MKSelect>
                                </template>
                                <template v-else>
                                    <span class="current-issue">{{i18n.trace.current}}</span>
                                    <i class="startIssue">{{ startIssue }}</i>
                                </template>
                            </span>
                        </li>

                        <li class="trace-setting-item trace-issue-item"
                            :class="{ 'hide-quick-issue': maxTraceIssue < 20 }"
                        >
                            <span class="trace-setting-label up">{{i18n.trace.num}}</span>
                            <span class="trace-setting-content content-row">
                                <div class="row">
                                    <ButtonSelect
                                        ref="fanbeiIssue"
                                        v-model="fanbeiIssue"
                                        :max="maxTraceIssue"
                                        :addon="true"
                                        :active="isActive == 0"
                                        @updateKeybordValue="updateKeybordValue($event)"
                                        @btnSelected="btnSelected(0)"
                                        @click.native="
                                            expendKeyboard($event, 'fanbeiIssue', 0, fanbeiIssue)
                                        "
                                    ></ButtonSelect>
                                </div>
                            </span>
                            <div class="row gap13">
                                <span
                                    :class="['small-btn', { active: quickTraceIssue === 5 }]"
                                    @click="quickTraceIssue = 5"
                                >
                                    {{$t('yxzh.xDraws', [5])}}
                                </span>
                                <span
                                    :class="['small-btn', { active: quickTraceIssue === 10 }]"
                                    @click="quickTraceIssue = 10"
                                >
                                     {{$t('yxzh.xDraws', [10])}}
                                </span>
                                <!-- <span
                                    :class="['small-btn','small-btn-disable', { active: quickTraceIssue === 15 }]"
                                    @click="quickTraceIssue = 20"
                                >
                                     {{$t('yxzh.xDraws', [20])}}
                                </span> -->
                                <!-- <span
                                    :class="['small-btn', { active: quickTraceIssue === 20 }]"
                                    @click="quickTraceIssue = 20"
                                >
                                     {{$t('yxzh.xDraws', [20])}}
                                </span> -->
                            </div>
                        </li>

                        <li class="trace-setting-item">
                            <span class="trace-setting-label">{{i18n.trace.startTimes}}</span>
                            <span class="trace-setting-content">
                                <ButtonSelect
                                    v-model="fanbeiStartMul"
                                    :addon="true"
                                    :max="maxMultiple"
                                    @updateKeybordValue="updateKeybordValue($event)"
                                    :active="isActive == 1"
                                    @btnSelected="btnSelected(1)"
                                    @click.native="
                                        expendKeyboard($event, 'fanbeiStartMul', 1, fanbeiStartMul)
                                    "
                                ></ButtonSelect>
                            </span>
                        </li>

                        <li class="trace-setting-item">
                            <span class="trace-setting-label">{{i18n.trace.gapBet}}</span>
                            <span class="trace-setting-content">
                                <ButtonSelect
                                    v-model="fanbeiInteval"
                                    :addon="true"
                                    :max="maxTraceIssue"
                                    :active="isActive == 2"
                                    @updateKeybordValue="updateKeybordValue($event)"
                                    @btnSelected="btnSelected(2)"
                                    @click.native="
                                        expendKeyboard($event, 'fanbeiInteval', 2, fanbeiInteval)
                                    "
                                ></ButtonSelect>
                            </span>
                        </li>

                        <li class="trace-setting-item">
                            <span class="trace-setting-label">{{i18n.trace.doubleEach}}</span>
                            <span class="trace-setting-content">
                                <ButtonSelect
                                    v-model="fanbeiCoefficient"
                                    :addon="true"
                                    :max="maxMultiple"
                                    @updateKeybordValue="updateKeybordValue($event)"
                                    :active="isActive == 3"
                                    @btnSelected="btnSelected(3)"
                                    @click.native="
                                        expendKeyboard(
                                            $event,
                                            'fanbeiCoefficient',
                                            3,
                                            fanbeiCoefficient
                                        )
                                    "
                                ></ButtonSelect>
                            </span>
                        </li>
                    </ul>

                    <div class="tip">{{i18n.trace.tip}}</div>
                    <div class="options">
                        <span class="options-title">{{i18n.trace.stopWay}}：</span>
                        <span>
                            <label class="option gap16" @click="toggleCheck('winStop')">
                                <span
                                    class="checkbox"
                                    :class="[winStop ? 'xuanzhong' : 'weixuan']"
                                ></span>
                                {{i18n.trace.winStop}}
                            </label>
                            <label class="option gap16" @click="toggleCheck('noWinStop')">
                                <span
                                    class="checkbox"
                                    :class="[noWinStop ? 'xuanzhong' : 'weixuan']"
                                ></span>
                                {{i18n.trace.loseStop}}
                            </label>
                        </span>

                        <!-- <button class="mk-button" @click="getFanbeiList(false, true)">生成追号方案</button> -->
                    </div>
                </div>

                <div :class="['trace-list-box trace-content', { hide: !showTraceList }]">
                    <div class="action" @click="showTraceList = !showTraceList">
                        <span class="text">
                            {{ showTraceList ? i18n.trace.hideDetail : i18n.trace.showDetail }}
                        </span>
                        <i class="arrow-up"></i>
                    </div>
                    <div :class="['trace-list-content']">
                        <div class="trace-list-title">
                            <div>{{i18n.trace.index}}</div>
                            <div>
                                <!-- <input
                                    type="checkbox"
                                    v-model="allChecked"
                                    @click="toggleCheckedAll()"
                                /> -->
                                {{i18n.trace.id}}
                            </div>
                            <div>{{i18n.trace.times}}</div>
                            <div>{{i18n.trace.amount}}</div>
                        </div>
                        <div class="trace-list" ref="traceList">
                            <ul>
                                <li v-for="(item, index) in traceList" :key="index">
                                    <div>
                                        <!-- 第{{ index + 1 }}期 -->
                                        {{$t("yxzh.xDraws", [index + 1])}}
                                    </div>
                                    <div>
                                        <!-- <input
                                            type="checkbox"
                                            v-model="item.checked"
                                            @click="toggleChecked(item, index)"
                                        /> -->
                                        {{ getShortIssue(ticketInfo.ticketType, item.issue) }}
                                    </div>
                                    <div>
                                        <common-input
                                            :value.sync="item.mul"
                                            :ref="`commonInput_${index}`"
                                            selectText
                                            class="plain-text"
                                            container=".modal.trace-modal-lol"
                                            @updateKeybordValue="updateKeybordValue($event)"
                                            @isOnfocus="setInputObj(item, index)"
                                        ></common-input>
                                    </div>
                                    <div>{{ toThousands(format0ToMax(item.amount, 4)) }}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="go-top" v-show="showGoTop" @click="go2Top"></div>
        </div>
        <div v-show="!loading" class="trace-bottom">
            <MKNumberKeyboard
                ref="keyboard"
                v-model="keyboardValue"
                :show.sync="showNumberKeyboard"
                
                :noExtraSlot="true"
            ></MKNumberKeyboard>
            <div class="trace-action">
                <div class="bottom-left">
                    <div class="row">
                        <span v-html="$t('yxzh.trace.gongzhui', [traceTotalIssue, i18n.trace.qiNo])"></span>
                        <span  class="gap10" v-if="lang=='en_us'">
                            {{i18n.trace.totalXyuan}}
                            <span class="important-color">{{ toThousands(traceTotalAmount) }}</span>
                        </span>
                        <span class="gap10" v-else>
                            <span class="important-color">{{ toThousands(traceTotalAmount) }}</span>{{i18n.trace.yuan}}
                        </span>
                    </div>
                    <div class="row marginBal">
                        <span>
                            {{i18n.wayMap.yuee}}:
                            <b v-html="subMoney(format0ToMax(balance, 3))"></b>
                            {{i18n.trace.yuan}}
                        </span>
                    </div>
                </div>

                <div class="trace-btns">
                    <button
                        ref="confimBtn"
                        class="trace-btn"
                        :class="{ disabled: mkButtonDisabled }"
                        @click="submit()"
                    >
                        {{i18n.trace.confirm}}
                    </button>
                </div>
            </div>
        </div>

        <counter
            v-if="id && id !== ticketId"
            :remainTime="getCounterTime(id)"
            :warn-time="10"
            @countDownEnd="onNextIssue"
        ></counter>
    </div>
</template>
<script>
import { mapState, mapGetters, mapActions } from 'vuex'
import TraceCheckModal from './traceCheckModal.vue'
import ButtonSelect from '@/views/lottery/bet/button-select'
import MKSelect from './select'
import * as LotteryApi from '@/api/teselol'
import { getShortIssue, format0ToMax } from '@/views/lottery/util'
import keyboard from '@/views/lottery/configure/mixin/keyboard'
import numeral from 'numeral'
import limitBetRange from '@/views//lottery/bet/double/limitBetRange'
import counterManager from '@/views/lottery/configure/mixin/counterManager'
import Counter from '@/views/lottery/header/counter/index'
import i18n from '@/assets/i18n'

export default {
    props: ['betData', 'id', 'traceTicketName', 'traceCurrentissue', 'clickOnSetting'],
    mixins: [keyboard, counterManager],
    inheritAttrs: false,

    components: {
        ButtonSelect,
        MKSelect,
        Counter,
    },

    data() {
        // 默认追号期数
        const defaultTraceIssue = 10
        return {
            activeFanbeiIssue: 10,
            winStop: false, // 追中即停
            noWinStop: false, // 不中即停
            startIssueIndex: 0, // 起始期号索引
            quickTraceIssue: 10,
            showTraceList: true,
            mkButtonDisabled: true, // 提交按钮状态
            traceList: [],
            allChecked: true,
            allCanGetIssue: null,
            privateLottery: [45, 55, 57, 59, 49, 48, 54, 17, 16, 50, 89, 47, 46, 58],
            defaultTraceIssue,

            fanbeiStartMul: {
                text: this.$t('yxzh.trace.initialMuti', [1]),
                value: 1,
            }, // 翻倍起始倍数
            fanbeiInteval: {
                text: this.$t('yxzh.xDraws', [1]),
                value: 1,
            }, // 翻倍间隔
            fanbeiCoefficient: {
                text: this.$t('yxzh.trace.initialMuti', [1]),
                value: 1,
            }, // 翻倍系数
            fanbeiIssue: {
                text:  this.$t('yxzh.xDraws', [defaultTraceIssue]),
                value: defaultTraceIssue,
            }, // 翻倍期数

            showGoTop: false,
            isLowFrequency: false,
            createModalIssue: null,
            traceHeight: '0px',
            contentHeight: '0px',
            isActive: null,
            btnActive: false,
            issData: null,
            loading: true,
            currentTraceIssue: null,
            i18n: i18n.t('yxzh'),
        }
    },

    computed: {
        // 兼容处理 可以传ticketId
        realTicketId() {
            return this.id || this.ticketId
        },
        // 兼容处理 可以传ticketName
        realTicketName() {
            return this.traceTicketName || this.ticketInfo.ticketName
        },
        // 兼容处理 可以传currentIssue
        realCurrentIssue() {
            return (this.id && this.id != this.ticketId) ? this.currentTraceIssue : this.currentIssue
        },
        ...mapState({
            ticketInfo: state => state.lottery.ticketInfo,
            maxMultiple: state => state.lottery.maxMultiple,
            ticketId: state => state.lottery.ticketId,
            doubleBetRangeList: state => state.setting.featureBetRangeList,
            lang: state => state.setting.lang
        }),
        ...mapGetters(['balance', 'currentIssue']),
        betList() {
            return (this.betData && this.betData.list) || []
        },

        startIssue() {
            if (this.labeledIssue) {
                return this.labeledIssue[this.startIssueIndex].issue
            }

            return null
        },

        labeledIssue() {
            const {trace} = this.i18n;
            if (this.allCanGetIssue && this.allCanGetIssue.length) {
                let counter1 = 0
                let counter2 = 0
                let counter3 = 0

                return this.allCanGetIssue.map((ele, idx) => {
                    let label
                    if (idx === 0) {
                        label = trace.current;//'当前期'
                    } else {
                        if (!ele.nextDay) {
                            label = trace.today;//'当天期'
                            counter2++
                        } else if (ele.nextDay) {
                            label = trace.tomorrow;//'隔天期'
                            counter3++
                        }
                    }
                    counter1++

                    return {
                        ...ele,
                        label,
                        idx,
                        counter1,
                        counter2,
                        counter3,
                    }
                })
            }

            return null
        },

        isPrivate() {
            return this.privateLottery.includes(this.realTicketId)
        },

        // 可追号的最大期数
        maxTraceIssue() {
            return (
                (this.allCanGetIssue && this.allCanGetIssue.slice(this.startIssueIndex).length) || 0
            )
        },

        // 每一期下注的注数及 （倍数为1时的）金额
        singleObj() {
            var _temp = {
                count: 0,
                amount: 0,
            }

            this.betList.map(item => {
                _temp.count += 1
                _temp.amount += parseFloat(item.amount)
            })
            return _temp
        },

        // 追号总期数
        traceTotalIssue() {
            return this.traceList.filter(item => item.checked).length
        },

        // 追号总注数
        traceTotalCount() {
            return this.singleObj.count * this.traceTotalIssue
        },

        // 追号总金额
        traceTotalAmount() {
            var _temp = numeral(0)
            this.traceList.map(item => {
                if (item.checked) {
                    _temp.add(item.amount)
                }
            })
            return format0ToMax(_temp.value(), 4)
        },

        doubleBetRange() {
            return (
                (this.doubleBetRangeList &&
                    this.doubleBetRangeList.filter(item => item.current)[0]) ||
                {}
            )
        },
    },

    created() {
        if (this.id && this.id != this.ticketId) {
            this.currentTraceIssue = this.traceCurrentissue
        }
        this.fetchData().then(() => {
            this.getFanbeiList(true)

            if (this.maxTraceIssue < this.fanbeiIssue.value) {
                this.fanbeiIssue = {
                    // text: this.maxTraceIssue + '期',
                    text: this.$t('yxzh.xDraws', [this.maxTraceIssue]),
                    value: this.maxTraceIssue,
                }
            }
        })
        // 六合彩默认2期 P3P5,福彩3D默认2期
        if (this.ticketId == 6 || this.ticketId == 40) {
            this.fanbeiIssue = {
                text: this.$t('yxzh.xDraws', [3]),
                value: 3,
            }
        } else if (this.ticketId == 27) {
            this.fanbeiIssue = {
                text: this.$t('yxzh.xDraws', [2]),
                value: 2,
            }
        }

        this.createModalIssue = this.currentIssue
    },

    mounted() {
        this.initTraceHeight()
        this.$refs.scrollContent.addEventListener('scroll', this.onScroll, false)
        this.isLowFrequencyLottery()
    },
    methods: {
        ...mapActions(['fetchRecentPlay']),
        btnSelected(isActive) {
            this.isActive = isActive
        },
        toThousands,
        format0ToMax,
        // 金额小数点后大小处理 value
        subMoney(value) {
            value = String(value)
            let str = ''
            const valueArr = value.split('.')
            str += toThousands(valueArr[0]) + '.'
            if (valueArr[1]) {
                str += `<i>${valueArr[1]}</i>`
            } else {
                str += '<i>0</i>'
            }
            return str
        },
        // 判断是否是低频彩，低频彩不展示起始期数
        isLowFrequencyLottery() {
            LotteryApi.getTicketCfg(this.realTicketId).then(res => {
                this.isLowFrequency = res.data.periodType === '1' || res.data.periodType === '2'
            })
        },
        fetchData() {
            return new Promise((resolve, reject) => {
                LotteryApi.getTraceIssues(this.realTicketId).then(res => {
                    this.issData = res.data.data
                    this.loading = false
                    resolve(res.data.data)
                })
            })
        },
        getShortIssue,
        // 小数格式化
        formatFloat(n) {
            return n ? n.toFixed(4) : 0
        },

        checkNan(v, ov) {
            var _t = v
            if (v === '') {
            } else if (isNaN(v)) {
                _t = ov
            } else if (v === 0) {
                _t = 1
            }
            return _t
        },

        changeIssue(v, ov) {
            var _t = this.checkNan(v, ov)
            if (_t > this.maxTraceIssue) {
                _t = this.maxTraceIssue
            }
            return _t
        },
        onIssueChange(item, idx) {
            this.startIssueIndex = idx
            // 修改追号期数
            if (this.maxTraceIssue < this.defaultTraceIssue) {
                this.fanbeiIssue = {
                    text:  this.$t('yxzh.xDraws', [this.maxTraceIssue]),
                    value: this.maxTraceIssue,
                }
            } else {
                this.fanbeiIssue = {
                    text:  this.$t('yxzh.xDraws', [this.defaultTraceIssue ]),
                    value: this.defaultTraceIssue,
                }
            }
        },

        changeMul(v, ov) {
            var _t = this.checkNan(v, ov)
            if (_t > this.traceObj.maxMultiple) {
                _t = this.traceObj.maxMultiple
            }
            return _t
        },

        /**
         * isFirstOpen 是否是第一次打开
         * resetFlag   是否重新生成追号列表
         */
        getFanbeiList(isFirstOpen, resetFlag) {
            this.allCanGetIssue = this.issData

            if (!this.allCanGetIssue) {
                return
            }

            if (isFirstOpen || resetFlag) {
                // 第一次 生成追号列表
                this.activeFanbeiIssue = this.fanbeiIssue.value
                const _list = this.allCanGetIssue.slice(
                    this.startIssueIndex,
                    this.startIssueIndex + this.fanbeiIssue.value
                )

                let _traceMul = this.fanbeiStartMul.value

                _list.map((item, index) => {
                    item.checked = true
                    if (index !== 0 && index % this.fanbeiInteval.value === 0) {
                        _traceMul = _traceMul * this.fanbeiCoefficient.value
                    }
                    item.mul = _traceMul > this.maxMultiple ? this.maxMultiple : _traceMul
                    item.amount = this.singleObj.amount * item.mul
                    item.count = this.singleObj.count
                    if (index > 0) {
                        item.sumAmount = item.amount + _list[index - 1].sumAmount
                    } else {
                        item.sumAmount = item.amount
                    }
                })

                this.traceList = _list
            } else {
                const _list = this.allCanGetIssue.slice(
                    this.startIssueIndex,
                    this.startIssueIndex + this.activeFanbeiIssue
                )
                // 更新期号
                this.traceList = this.traceList.map((traceItem, idx) => {
                    return {
                        ...traceItem,
                        issue: _list[idx].issue,
                    }
                })
            }
        },

        getProfitList() {
            var _list = this.allCanGetIssue.slice(0, this.profitIssue)

            this._profitTraceObj = {
                mul: 1,
                totalAmount: 0,
                checked: true,
            }
            var i = 0
            for (; i < _list.length; i++) {
                this.calProfit({ ...this._profitTraceObj })
                if (!this._profitTraceObj) {
                    this.$modal.show('tip-modal', {
                        // text: this.i18n.trace.tipProfit + i + '期',
                        text: this.$t('yxzh.xDraws', [this.i18n.trace.tipProfit + i ])
                    })
                    break
                } else {
                    _list[i] = {
                        ..._list[i],
                        ...this._profitTraceObj,
                    }
                    if (_list[i].mul > this.traceObj.maxMultiple) {
                        this.$modal.show('tip-modal', {
                            text: this.$t('yxzh.xDraws', [this.i18n.trace.tipProfit + i ])
                        })
                        break
                    }
                }
            }
            this.traceList = _list.slice(0, i)
        },

        calProfit(obj) {
            obj.prize = this.traceObj.singlePrizeMax * obj.mul
            obj.amount = this.singleObj.amount * obj.mul
            obj.totalAmount += obj.amount
            obj.profitAmount = obj.prize - obj.totalAmount
            obj.profitPercent = (obj.profitAmount / obj.totalAmount) * 100

            if (obj.profitPercent < this.profitMin && obj.mul < this.traceObj.maxMultiple) {
                obj.totalAmount = obj.totalAmount - obj.amount
                if (this.traceObj.mul < 100) {
                    obj.mul = obj.mul + 1
                } else {
                    obj.mul = obj.mul * 2
                }
                this.calProfit(obj)
            } else {
                this._profitTraceObj = obj
            }
        },
        toggleCheckedAll() {
            this.allChecked = !this.allChecked
            this.traceList.map(item => {
                item.checked = this.allChecked
            })
        },

        toggleChecked(item, index) {
            item.checked = !item.checked
            this.$set(this.traceList, index, item)
        },

        // 追号提交
        traceSubmit(traceIssue) {
            this.$emit('onConfirm')

            this.$commonModal(TraceCheckModal, {
                lotteryName: this.realTicketName,
                traceList: this.traceList,
                betList: this.betList,
                onConfirm: () => {
                    this.checkCurrentIssue(traceIssue).then(issue => {
                        this.createModalIssue = issue
                        this.getFanbeiList()
                        this.confirmSubmit()
                    })
                },
                onCancel: () => {
                    console.debug('追号二次确认取消')
                },
            })
        },

        // 追号提交后台
        confirmSubmit() {
            this.$toast.loading({
                message: this.i18n.trace.submitting,
                forbidClick: true,
                duration: 0,
                loadingType: 'spinner',
            })
            var traceList = this.traceList.map(item => {
                var obj = {
                    planNo: item.issue, // 期号
                    betMultiple: item.mul, // 倍数
                }
                return obj
            })

            var submitList = this.betList.map(item => {
                const playName = item.playItemName
                let realName
                const pDom = document.createElement('div')
                pDom.innerHTML = playName
                if (pDom.children.length) {
                    realName = pDom.innerText
                } else {
                    realName = playName
                }

                // prettier-ignore
                var obj = {
                    playItemId: item.id || item.playItemId,   // 玩法ID
                    betNum    : item.betNum,                  // 号码球 位置与位置之间用逗号分隔，位置中间用空格分隔。
                    betAmount : item.amount,                  // 订单金额
                    betCount  : item.betCount || 1,           // 注数 单式没有传递这个参数
                    content   : realName            // 投注内容
                }
                return obj
            })

            let isSuppend = 1
            if (this.winStop) {
                isSuppend = 2
            } else if (this.noWinStop) {
                isSuppend = 3
            }
            var data = {
                ticketId: this.realTicketId,
                chaseMode: 1,
                bet: submitList,
                trace: traceList,
                isSuppend: isSuppend,
                totalAmount: this.traceTotalAmount,
            }
            const vm = this
            LotteryApi.doubleTrace(data)
                .then(res => {
                    this.$store.commit("setlastBetData",[])
                    this.$toast.clear()
                    const {
                        data: { msg, code },
                    } = res
                    if (code === 0) {
                        this.$toast.success({
                            message: this.i18n.trace.succeed,
                            forbidClick: false,
                        })

                        // 购彩篮追号 不需要
                        if (vm.$attrs.clearPlate) {
                            vm.$attrs.clearPlate()
                        }

                        this.$store.dispatch('fetchUserInfo')
                        this.$store.dispatch('fetchOrdersTop', 0)

                        vm.$emit('clearPlateData', true)
                        vm.$emit('close')
                        // this.$store.dispatch('updateLastBet', {})
                    } else if (code === 10069) {
                        // 计算出差异，并标记
                        // 有问题的玩法id
                        const limitedIdList = JSON.parse(msg)
                        const betList = vm.betData.list
                        // 找出超出限红的球号
                        const limitedList = betList.filter(ballItem => {
                            return limitedIdList.includes(Number(ballItem.playItemId))
                        })
                        // 提示并取消选中
                        if (limitedList.length) {
                            // prettier-ignore
                            this.$toolTipShow(
                                limitBetRange,
                                {
                                    container: this.$refs.confimBtn,
                                    doubleBetRange: this.doubleBetRange,
                                    betData: { list: limitedList },
                                    type: 3,
                                    OnClickOnSetting: () => {
                                        this.$listeners.close()
                                        this.clickOnSetting()
                                    },
                                }
                            )
                        }
                    } else {
                        if (code == 10020) {
                            vm.$dialog.alert({
                                title: this.i18n.wayMap.tipsTitle,
                                message: this.i18n.wayMap.tipsText,
                                forbidClick: true,
                            })
                        } else {
                            vm.$dialog.alert({
                                message: msg,
                            })
                        }
                    }
                })
                .catch(err => {
                    // this.fetchRecentPlay() // 最近玩过
                })
        },

        checkIssueChange(issue) {
            if (issue && this.realCurrentIssue !== issue) {
                return {
                    status: true,
                    issue: this.realCurrentIssue,
                }
            }
            return {
                status: false,
                issue: this.realCurrentIssue,
            }
        },

        // 奖期变化提示
        checkCurrentIssue(traceIssue) {
            return new Promise((resolve, reject) => {
                const checkStatus = checkedIssue => {
                    const { status, issue } = this.checkIssueChange(checkedIssue)
                    const {trace} = this.i18n;
                    if (status) {
                        this.$dialog
                            .confirm({
                                message: `${this.realTicketName}，${trace.changed}${issue}`,
                                confirmButtonText: trace.continue, //'继续投注'
                                cancelButtonText: trace.giveUp, //'放弃追号'
                                className: "hasLogo_dialog",
                            })
                            .then(() => {
                                checkStatus(issue)
                            })
                    } else {
                        return resolve(issue)
                    }
                }

                // 循环检查当前奖期是否变动
                checkStatus(traceIssue)
            })
        },

        submit() {
            if (this.mkButtonDisabled) {
                this.$toast(this.i18n.bet.needAmount); // 没有金额
                return
            }

            if (this.traceList.length === 0) {
                this.$toast(this.i18n.trace.noPlan); // 暂无计划
                return
            }

            const traceIssue = this.traceList && this.traceList[0] && this.traceList[0].issue
            this.traceSubmit(traceIssue)
        },

        onScroll(event) {
            if (event.target.scrollTop > 200) {
                this.showGoTop = true
            } else {
                this.showGoTop = false
            }
        },

        go2Top() {
            this.$refs.scrollContent.scrollTop = 0
        },

        expendKeyboard(inputObj, key, isActive, value) {
            this.isActive = isActive
            if (this.showNumberKeyboard) {
                this.showNumberKeyboard = false
                // 需要修改倍数控件的overwrite状态
                inputObj.currentTarget.querySelector('.text').blur()
            } else {
                this.currentInputObj = key
                this.showNumberKeyboard = true
                this.keyboardValue = value.value ? String(value.value) : ''
            }
            // 产品经理提：点击倍数控件，滚动到控件，上间距10px左右
            document.querySelector('.main-content').scrollTop =
                document.querySelectorAll('.trace-setting-item .trace-setting-content')[
                    isActive + 1
                ].offsetTop - 10
        },

        setInputObj(inputObj, idx) {
            let el = this.$refs[`commonInput_${idx}`][0]
            el = el._isVue ? el.$el : el

            this.currentInputObj = {
                inputObj,
                el,
                idx,
                type: 'multipleInput',
            }

            // show keyboard
            this.showNumberKeyboard = true
            this.keyboardValue = inputObj.mul ? String(inputObj.mul) : ''
            // 元素滚动到可视区域
            setTimeout(() => {
                // 在键盘弹出后再滚动
                el.scrollIntoViewIfNeeded()
            }, 0)
        },
        initTraceHeight() {
            var h1 = document.querySelector('.mk-header').clientHeight
            var h2 = document.querySelector('.pop-modal .pop-header').clientHeight
            var h3 = document.querySelector('.trace-bottom').clientHeight
            const traceHeight = Number(window.innerHeight) - h1;
            const contentHeight = traceHeight - h3 - h2;
            this.traceHeight = `${traceHeight}px`
            this.contentHeight = `${contentHeight}px`
            if (contentHeight < 120) {
                this.traceHeight = `${traceHeight - contentHeight + 120}px`
                this.contentHeight = `${120}px`
            }
        },
        updateKeybordValue($event) {
            this.$nextTick(() => {
                this.keyboardValue = String($event)
            })
        },
        toggleCheck(status) {
            switch (status) {
                case 'winStop':
                    this.winStop = !this.winStop
                    if (this.winStop) {
                        this.noWinStop = false
                    }
                    break
                case 'noWinStop':
                    this.noWinStop = !this.noWinStop
                    if (this.noWinStop) {
                        this.winStop = false
                    }
                    break
            }
        },
        checkDisabeld() {
            return this.traceList && this.traceList.every(item => !!item.mul)
        },
        onNextIssue() {
            const vm = this
            setTimeout(() => {
                if (!vm.id) {
                    return
                }
                vm.$store
                    .dispatch('fetchCurrentIssue', {
                        ticketIds: vm.id,
                    })
                    .then(data => {
                        vm.currentTraceIssue = data.planId
                    })
            }, 1200)
        },
    },

    watch: {
        quickTraceIssue: {
            handler(v) {
                if (v > this.maxTraceIssue && this.maxTraceIssue) {
                    this.fanbeiIssue = {
                        text: this.maxTraceIssue + this.i18n.trace.qishu,
                        value: this.maxTraceIssue,
                    }

                    this.quickTraceIssue = this.maxTraceIssue
                } else {
                    this.fanbeiIssue = {
                        text: v + this.i18n.trace.qishu,
                        value: v,
                    }
                }
            },
            // immediate: true,
        },

        fanbeiIssue: {
            handler(v) {
                // 修改快捷菜单索引
                this.quickTraceIssue = v.value
                // 自动生成追号记录
                this.getFanbeiList(false, true)
            },
            deep: true,
        },

        fanbeiCoefficient: {
            handler(v) {
                // 自动生成追号记录
                this.getFanbeiList(false, true)
            },
            deep: true,
        },

        fanbeiInteval: {
            handler(v) {
                // 自动生成追号记录
                this.getFanbeiList(false, true)
            },
            deep: true,
        },

        fanbeiStartMul: {
            handler(v) {
                // 自动生成追号记录
                this.getFanbeiList(false, true)
            },
            deep: true,
        },
        currentIssue(v) {
            // 奖期发生变化，自动更新追号列表
            if (v) {
                this.fetchData()
                // if (this.startIssueIndex > 0) {
                //     this.startIssueIndex--
                // }
            }
        },
        traceList(v) {
            let mkButtonDisabled
            if (this.checkDisabeld()) {
                mkButtonDisabled = false
            } else {
                mkButtonDisabled = true
            }
            setTimeout(() => {
                this.mkButtonDisabled = mkButtonDisabled
            }, 0)
        },
        showNumberKeyboard(v) {
            if (!v) {
                if (this.traceList && this.traceList.length) {
                    this.traceList.forEach((traceItem, index) => {
                        let mul = String(traceItem.mul)
                        const commonInput =
                            this.$refs[`commonInput_${index}`] &&
                            this.$refs[`commonInput_${index}`][0]
                        mul = mul.replace(/^[0]+/, '')
                        traceItem.mul = mul
                        if (commonInput && commonInput.isFocus) {
                            commonInput.onBlur()
                        }
                        if (Number(traceItem.mul) < 1) {
                            traceItem.mul = '1'
                            const amount = numeral(this.singleObj.amount)
                                .multiply(traceItem.mul)
                                .value()
                            traceItem.amount = amount
                        }
                    })
                    this.traceList = [...this.traceList]
                }
            }
            this.$nextTick(() => {
                this.initTraceHeight()
            })
        },
        keyboardValue(v) {
            const type = this.currentInputObj && this.currentInputObj.type

            if (type === 'multipleInput') {
                const { inputObj, idx } = this.currentInputObj
                if (/^[0]+/.test(v)) {
                    v = v.replace(/^[0]+/, '')
                    this.$nextTick(() => {
                        this.keyboardValue = v
                    })
                }
                // 校验有效性
                const intVal = Number(v)
                let validedVal = v
                if (intVal > this.maxMultiple) {
                    validedVal = String(this.maxMultiple)
                    this.$nextTick(() => {
                        this.keyboardValue = validedVal
                    })
                }

                // 重新计算金额
                this.$set(inputObj, 'mul', validedVal)
                const amount = numeral(this.singleObj.amount)
                    .multiply(inputObj.mul)
                    .value()
                this.$set(inputObj, 'amount', amount)
                // 更新traceList
                this.$set(this.traceList, idx, inputObj)
                return
            }

            const key = this.currentInputObj
            const data = this[key]
            if (!(data && data.text)) {
                // 数据无效
                return
            }

            const { text, value } = data
            const intVal = Number(v)
            if (value !== undefined) {
                var validedVal = v
                // 校验数值大小
                // 不能为负数
                if (intVal <= 0) {
                    this.keyboardValue = '1'
                    validedVal = 1
                    return
                }

                if (v === '') {
                    // 最小值为1
                    validedVal = 1
                }

                if (key === 'fanbeiIssue' || key === 'fanbeiInteval') {
                    if (intVal > this.maxTraceIssue) {
                        validedVal = String(this.maxTraceIssue)
                        this.$nextTick(() => {
                            this.keyboardValue = validedVal
                        })
                    }
                }

                if (key === 'fanbeiStartMul' || key === 'fanbeiCoefficient') {
                    if (intVal > this.maxMultiple) {
                        validedVal = String(this.maxMultiple)
                        this.$nextTick(() => {
                            this.keyboardValue = validedVal
                        })
                    }
                }

                if (v === '') {
                    this.$set(this[key], 'text', text.replace(String(value), 1))
                    this.$set(this[key], 'value', 1)
                } else {
                    this.$set(this[key], 'text', text.replace(String(value), validedVal))
                    this.$set(this[key], 'value', Number(validedVal))
                }
            }
        },
    },
}
</script>

<style lang="less">

@grayColor: #aaaaaa;

.trace-tip-modal.lol {
    .ButtonSelect.default.addon .text {
        border-color: #637289;
    }
    .trace-list-title {
        font-size: 12px;
    }
    .tipmodal-wrap {
        .trace-modal-lol, .pop-header {

        }
    }
}
.tese-lol .trace-modal-lol {
    @include mk-modal;
    display: flex;
    height: 100%;
    flex-direction: column;
    border-radius: 0;

    .modal-content {
        padding: 0 !important;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        background: unset;
    }
    .main-content {
        position: relative;
        overflow-y: auto;
        background: unset;
    }

    .tip {
        text-align: center;
        font-size: 12px;
        color: rgba(255,255,255,0.60) !important;
        padding: 10px 0;
        border-bottom: 1px solid rgba(165,174,180,0.18);
    }

    .gap10 {
        padding: 0 10px;
        span{
            color: #FF7070;
        }
    }
    .gap16 {
        padding: 0 16px;
    }
    .gap13 {
        width: 100%;
        text-align: right;
        margin-top: 13px;
        margin-right: 14px;
    }
    .option.gap16 {
        font-size: 12px;
        color: #fff;
    }
    .options {
        width: 92%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid rgba(165,174,180,0.18);
        height: 39px;

        &-title {
            font-size: 12px;
            color: rgba(255,255,255,0.60) !important;
        }

        > span {
            display: flex;
        }
        .mk-button {
            display: inline-block;
            width: 118px;
            height: 25px;
            font-size: 12px;
            border-radius: 5px;
            box-shadow: inset 0px 2px 6px 0 rgba(234, 200, 164, 0.3);
            background-image: linear-gradient(to right, #4ec2fb, #5a82f8);
            margin-right: 10px;
            &:active {
                background-image: linear-gradient(to right, #2495cd, #335cd4);
            }
        }
        input[type='checkbox'] {
            position: relative;
            top: 3px;
        }
        label {
            &.option {
                display: flex;
                align-items: center;
                justify-content: center;
                align-content: center;
                flex-shrink: 0;
                .checkbox {
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    margin-right: 5px;
                    top:1px;
                    position:relative;
                }
                .weixuan {
                    background-image: url(~@/assets/images/tese-lol/weixuan.png);
                }
                .xuanzhong {
                    background-image: url(~@/assets/images/tese-lol/xuanzhong.png);
                }
            }
        }
    }

    .mk-select {
        width: 170px !important;
        display: flex;
        justify-content: center;
        .select-drop {
            background: #3E5D71;
            border: none;
            &::after{
                width: 0;
                height: 0;
                display: inline-block;
                content: "";
                border-left: 10px solid transparent;
                border-top: 10px solid transparent;
                border-right: 10px solid transparent;
                border-bottom: 10px solid #3E5D71;
                position: absolute;
                top: -18px;
                right: 30px;
            }
        }
    }

    .trace-setting {
        .button-select {
            width: 118px;
            height: 25px;
            box-shadow: inset 0px -2px 3px 0 rgba(41, 47, 68, 0.05);
        }
    }
    .trace-setting-item {
        display: flex;
        align-items: center;
        padding: 3px 10px 3px 0;
        border-bottom: 1px solid rgba(165,174,180,0.18);;
        height: 42px;
        flex-wrap: wrap;
        span {
            font-size: 12px;
            color: #fff;
        }
        &.trace-issue-item {
           height: 98px;
           .quickBtn{
                width: 100%;
                text-align: right;
                margin-right: 14px;
                span{
                    width: 50px;
                    display: inline-block;
                    height: 20px;
                    text-align: center;
                    line-height: 20px;
                    background: rgba(0,149,255,.57);
                    border-radius: 2px;
                    &.disable{
                        background: rgba(0,149,255,.27);
                    }
                }
           }
        }
        .current-issue {
            border-radius: 3px;
            background: rgba(0,149,255,0.57);
            color: #fff;
            width: 46px;
            text-align: center;
            line-height: 16px;
            display: inline-block;
        }
    }
    .trace-setting-label {
        width: 80px;
        padding-left: 16px;
        color: rgba(255,255,255,0.60) !important; 
    }
    .trace-setting-content {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        .startIssue {
            position: relative;
            left: 2px;
            top: 3px;
        }
        @keyframes blink {
            0% {
                background-color: white;
            }
            50% {
                background-color: #A29B78;
            }
            100% {
                background-color: white;
            }
        }
        .ButtonSelect {
            .button-select {
                background: transparent;
                border: 1px solid #637289;
            }
            .addon .text {
                border: 1px solid #637289;
            }
            &.addon.active {
                .button-select {
                    background: transparent;
                    border-color: #A29B78;
                    box-shadow: none;
                    .mk-subtract, .mk-plus {
                        color: #F3ECD3;
                    }
                    .text {
                        color: rgba(255,255,255,0.60) !important; 
                        border-color: #A29B78;
                        &::after {
                            content: '';
                            width: 1px;
                            animation: blink 1s infinite steps(1, start);
                            display: flex;
                            height: 18px;
                            align-self: center;
                        }
                    }
                }
            }
        }
    }
    .content-row {
        // display: flex;
        // flex-direction: column;

        // .row {
        //    margin-bottom: 5px;
        //    display: flex;
        //    justify-content: flex-end;
        //    align-items: center;
        // }
    }
    .small-btn {
        border: 1px solid #586678;
        display: inline-block;
        width: 61px;
        height: 25px;
        border-radius: 0px;
        color: #fff;
        line-height: 25px;
        text-align: center;
        margin-right: 13px;
        &:last-child {
            margin-right: 0;
        }
        user-select: none;
        &.active {
            border: none;
            box-shadow: inset 0px 2px 6px 0 rgba(234, 200, 164, 0.3);
            background: rgba(0,149,255,.57);
            color: white;
        }
        &.small-btn-disable{
            opacity: 0.4;
        }
    }

    .trace-taps {
        display: flex;
        font-size: 14px;
        flex: 1;

        div {
            margin-right: 6px;
            flex: 1;
            height: 36px;
            border: 1px solid #586678;
            border-radius: 5px;
            text-align: center;
            line-height: 35px;
            cursor: pointer;
            color: #909090;
            &.current {
                color: white;
                background-color: @grayColor;
            }
        }
    }

    .trace-content {
        margin-bottom: 10px;

        &.trace-list-box {
            .action {
                text-align: center;
                margin-top: 14px;
                margin-bottom: 16px;
                position: relative;
                .text {
                    font-size: 14px;
                    color: white; 
                }
                .arrow-up {
                    display: inline-block;
                    width: 28px;
                    height: 26px;
                    background: url(~@/assets/images/tese-lol/tb/xiala.png) no-repeat;
                    background-size: 100% 100%;
                    position: absolute;
                    top: -2px;
                    margin-left: 6px;
                    transition: all 0.65s;
                }
            }
            &.hide {
                height: 45px;
                .trace-list-content {
                    transform: scaleY(0);
                }
                .action {
                    color: #367af6;
                    .arrow-up {
                        transform: rotate(180deg);
                    }
                }
            }
        }

        .trace-list-content {
            width: 88%;
            margin: 0 auto;
            transition: transform 0.35s;
            overflow: hidden;
            transform: scaleY(1);
            transform-origin: top;
        }

        .trace-list-title {
            display: flex;
            height: 35px;
            line-height: 35px;
            text-align: center;
            color: rgba(255,255,255,0.60);
            input[type='checkbox'] {
                vertical-align: top;
                height: 18px;
                width: 18px;
                margin-top: 9px;
                margin-right: 4px;
            }
        }
        .trace-list {
            color: #333;

            li {
                height: 30px;
                line-height: 30px;
                display: flex;
                text-align: center;
                font-family: PingFangSC;
                font-size: 12px;
                color: #fff;
                &:first-child {
                    border-top: none;
                }
                input[type='checkbox'] {
                    vertical-align: top;
                    height: 18px;
                    width: 18px;
                    margin-top: 11px;
                    margin-right: 4px;
                }
                >div {
                    &:not(:first-child) {
                        font-family: "DINAlternate";
                    }
                }
            }
        }
        .trace-list-title,
        .trace-list li {
            & > div:nth-child(1) {
                width: 18%;
            }
            & > div:nth-child(2) {
                width: 32%;
            }
            & > div:nth-child(3) {
                width: 15%;
                margin: auto;
            }
            & > div:nth-child(4) {
                width: 35%;
            }
        }
    }

    .trace-bottom {
        .mk-number-keyboard {
            background: rgba(0,0,0,0.13) !important;
            position: sticky!important;
            .top{
                width: 100%;
                left: 0;
                position: relative !important;
                bottom: 0 !important;
                background: transparent;
                .van-icon{
                    background-image: url('~@/assets/images/tese-lol/tb/dropdown.png');
                    background-repeat: no-repeat;
                    background-size: 100%;
                    margin-top: 16px;
                    width: 14px;
                    height: 14px;
                    &::before{
                        content: "";
                    }
                }
            }
        }
        .van-number-keyboard__keys{
            .van-key__wrapper:nth-child(10){
                div{
                    background: rgba(0,0,0,0.13) !important;
                }
            }
        }
        .trace-action {
            display: flex;
            padding: 16px 16px;
            background: rgba(0,0,0,0.13) !important;
            font-size: 13px;
            color: #fff;
        }

        .bottom-left {
            display: flex;
            flex: 1;
            flex-direction: column;
            .row {
                display: flex;
                font-size: 13px;
                &.marginBal {
                    margin-top: 10px;
                    b {
                        font-weight: normal;
                        i {
                            display: inline-block;
                            transform: scale(0.8);
                        }
                    }
                }
            }
        }

        .trace-btns {
            display: flex;
            align-items: center;
            .trace-btn {
                width: 126px;
                height: 42px;
                background: #fff;
                background: url(~@/assets/images/tese-lol/tb/bet-btn.png) no-repeat;
                background-size: 100% 100%;
                font-size: 15px;
                border: none;
                outline: none;
                color: white;
                &.disabled {
                    background-color: #e8e8e8;
                    background-image: none;
                    color: #bbb;
                }
            }
        }
    }

    .go-top {
        position: absolute;
        right: 16px;
        bottom: 110px;
        width: 40px;
        height: 40px;
        display: flex;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        background: url(~@/assets/images/tese-lol/icon/fanhui@3x.png) no-repeat;
        background-size: contain;
    }

    .plain-text {
        border-radius: 5px;
        border: 1px solid #586678;
        display: flex;
        justify-content: center;
        height: 22px;
        line-height: 22px;
        border-radius: 2px;
        border: 1px solid #586678;
        background: rgba(0,0,0,0.22);
    }

    .counter {
        display: none;
    }
}
</style>
