<template>
	<div class="ranking-container">
		<div class="ranking-title">
			<span> {{ i18n.Leaderboard }} </span>
			<i class="close-trend-icon" @click="closeRanking"></i>
		</div>
		<div class="ranking-list">
			<div class="ranking-head">
				<div class="ranking-td"></div>
				<div class="ranking-td"> {{ i18n.Team }} </div>
				<div class="ranking-td"> {{ i18n.MP }} </div>
				<div class="ranking-td"> {{ i18n.WDL }} </div>
				<div class="ranking-td"> {{ i18n.Pts }} </div>
			</div>
			<div class="ranking-item" v-for="(item,index) in rankingList" :key="index">
				<div class="ranking-td">{{ item.ranking }}</div>
				<div class="ranking-td ellipsis">{{ item.virtualTeamName }}</div>
				<div class="ranking-td">{{ item.totalCount }}</div>
				<div class="ranking-td">{{ item.winDrawLostDescription }}</div>
				<div class="ranking-td">{{ item.points }}</div>
			</div>
		</div>
	</div>
</template>

<script>
import  * as virtualSportsApi from "@/api/virtualSports.js";
import { mapGetters } from 'vuex';
export default {
	name: "footballRanking",
	data(){
		return{
			rankingList:[],
			i18n: this.$t('virtualSports.footballRanking'),
		}
	},
	props:{
        sid: {
            type: String,
            default: ''
        },
    },
	computed: {
        ...mapGetters([
            "virtualLeague",
		]),
    },
    watch: {
		'virtualLeague.updata'(){
			this.getList();
		},
	},
	created(){
		this.getList();
	},
	methods: {
		getList(){
			virtualSportsApi.requestCommonScore({ tour_id :this.sid }).then((res) => {
				if(res.data.status == "true"){
					this.rankingList = res.data.data || [];
				}
			}).catch(err => {
				console.error(err)
			})
		},
		closeRanking(){
			this.$emit('closeRanking')
		}
	},
};
</script>

<style lang="less" scoped>
.ranking-container {
	padding-top: 8px;
	
	.ranking-title{
		height: 40px;
		line-height: 40px;
		font-family: PingFangSC-Medium;
		font-size: 14px;
		color: #0095FF;
		text-align: center;
		font-weight: 500;
		background: rgba(255,255,255,0.1);
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		position: relative;
		
		span {
			display: inline-block;
			height: 40px;
			:after{
				content: '';
				position: absolute;
				width: 20px;
				height: 2px;
				background-image: linear-gradient(135deg, #1DDAFF 0%, #0095FF 100%);
				bottom: 0px;
				left: 50%;
				margin-left: -10px;
			}
		}
		i{
			display: inline-block;
			width: 40px;
			height: 40px;
			background-size: 24px 24px;
			background-repeat: no-repeat;
			background-position: center;
			position: absolute;
			right: 0;
		}
	}
	.ranking-list{
		.ranking-head{
			opacity: 0.5;
			font-family: PingFangSC-Regular;
			font-size: 12px;
			color: #FFFFFF;
			text-align: center;
			font-weight: 400;
			display: flex;
			justify-content: space-around;
			height: 41px;
			line-height: 41px;
			div{
				width: 20%;
			}
			
		}
		.ranking-item{
			font-family: PingFangSC-Medium;
			font-size: 12px;
			color: rgba(255,255,255,0.6);
			text-align: center;
			line-height: 50px;
			font-weight: 500;
			display: flex;
			justify-content: space-around;
			height: 50px;
			line-height: 50px;
			&:nth-child(-n+4){
				color: #FFFFFF;
			}
			div{
				width: 20%;
			}
		}
	}
	
}
</style>
