<template>
	<div class="ranking-container group-match">
		<div v-for="(ranking,index) in rankingList"  class="ranking-list"  :key="index">
			<div class="ranking-item">
				<div class="ranking-title">{{$t('virtualSports.groupMatches.zu', { no: ranking.groupId })}} </div>
				<div class="ranking-table">
					<div class="ranking-head">
						<div class="ranking-td"></div>
						<div class="ranking-td team">{{i18n.Team}}</div>
						<div class="ranking-td">{{i18n.MP}}</div>
						<div class="ranking-td">{{i18n.WDL}}</div>
						<div class="ranking-td">{{i18n.jin}}</div>
						<div class="ranking-td">{{i18n.shi}}</div>
						<div class="ranking-td">{{i18n.jingshengqiu}}</div>
						<div class="ranking-td">{{i18n.Pts}}</div>
					</div>
					<div class="ranking-tbody" v-for="(item,index) in ranking.sVirtualSportXZTeamRankingDetailPOList" :key="index">
						<div class="ranking-td ">{{ item.ranking }}</div>
						<div class="ranking-td ellipsis team">{{ item.virtualTeamName }}</div>
						<div class="ranking-td">{{ item.totalCount }}</div>
						<div class="ranking-td">{{ item.winDrawLostDescription }}</div>
						<div class="ranking-td">{{ item.goalsScored }}</div>
						<div class="ranking-td">{{ item.goalsConceded }}</div>
						<div class="ranking-td">{{ item.goalsWinning }}</div>
						<div class="ranking-td">{{ item.points }}</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import  * as virtualSportsApi from "@/api/virtualSports.js";
import { mapGetters } from 'vuex';
export default {
	name: "groupMatches",
	data(){
		return{
			rankingList:[],
			i18n: this.$t('virtualSports.groupMatches'),
		}
	},
	props:{
        sid: {
            type: String,
            default: ''
        },
    },
	computed: {
        ...mapGetters([
			"virtualLeague",
		]),
    },
    watch: {
		'virtualLeague.updata'(){
			this.getList();
		},
	},
	created(){
		this.getList();
	},
	methods: {
		getList(){
			virtualSportsApi.requestGroupScore({ tour_id :this.sid }).then((res) => {
				if(res.data.status == "true"){
					this.rankingList = res.data.data.group_data || [];
					let is_disuse = res.data.data.is_disuse; // 是否进入淘汰赛阶段
					this.$emit('showDisuse',is_disuse)
				}
			}).catch(err => {
				console.error(err)
			})
		},
	},
};
</script>

<style lang="less" scoped>
.ranking-container {
	padding-top: 8px;
	.ranking-list{
		padding: 4px 12px;
		
		.ranking-item{
			background: rgba(0,0,0,0.20);
			border-radius: 8px;
			border: 1px solid rgba(255,255,255,0.1);
		}
	}
	
	.ranking-title{
		height: 40px;
		line-height: 40px;
		font-family: PingFangSC-Regular;
		font-size: 12px;
		color: #FFFFFF;
		font-weight: 400;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
		position: relative;
		padding-left: 20px;
		border-bottom: 1px solid rgba(255,255,255,0.1);
		&:after {
			content: "";
			position: absolute;
			left: 12px;
			top: 50%;
			width: 0.53333vw;
			height: 2.66667vw;
			background: #e7bb02;
			border-radius: 1.33333vw;
			transform: translateY(-50%);
		}
	}
	.ranking-table{
		.ranking-head,.ranking-tbody{
			font-family: PingFangSC-Regular;
			font-size: 12px;
			color: rgba(255,255,255,0.5);
			text-align: center;
			display: flex;
			justify-content: space-around;
			height: 41px;
			line-height: 41px;
			.team{
				text-align: left;
			}
			.ranking-td{
				&:nth-child(1){
					width: 24px;
				}
				&:nth-child(2){
					width: 90px;
				}
				&:nth-child(3){
					width: 34px;
				}
				&:nth-child(4){
					width: 54px;
				}
				&:nth-child(5){
					width: 18px;
				}
				&:nth-child(6){
					width: 18px;
				}
				&:nth-child(7){
					width: 42px;
				}
				&:nth-child(8){
					width: 36px;
				}
			}
			
		}
		.ranking-tbody{
			font-size: 12px;
			color: #FFFFFF;
			text-align: center;
			line-height: 50px;
			font-weight: 500;
			display: flex;
			justify-content: space-around;
			height: 50px;
			line-height: 50px;
		}
	}
	
}
</style>
