<template>
  	<div class="container">
		<div class="tabs-bar">
			<div
				v-for="(item, index) in tabs"
				:key="index"
				:class="[{ active: knockoutType >= index }, 'tab']"
				@click="tabClick(item, index)"
			>
				<span>{{ item.name }}</span>
				<i></i>
			</div>
		</div>

		<div class="k-match-report" v-if="knockoutType < 3 && listdata.length > 0">
			<div v-for="(item,i) in listdata" :key="i" class="k-match-item">
				<div class="k-left-content"  :key="i">
					<template v-for="(troops,i) in item.list">
						<div class="team" :key="i">
							<div class="number">
								 {{String.fromCharCode(+troops.ranking_index +65)}}
							</div>
							<div class="name ellipsis">
								{{ troops.homeName }}
							</div>
							<div class="score">{{ troops.homeScore[0] || '-'}}</div>
							<div class="score">{{ troops.homeScore[1] || '-' }}</div>
							<div class="score">{{ troops.homeScore[2] || '-'}}</div>
						</div>
						<div class="team" :key="troops.awayName">
							<div class="name ellipsis">
								{{ troops.awayName }}
							</div>
							<div class="score">{{ troops.awayScore[0] || '-'}}</div>
							<div class="score">{{ troops.awayScore[1] || '-' }}</div>
							<div class="score">{{ troops.awayScore[2] || '-'}}</div>
						</div>
					</template>
				</div>
				<div class="k-right-content">
					<div class="line"></div>
					<div class="final">
						<div class="name" v-if="tabs[knockoutType+1]">
							{{ tabs[knockoutType+1].name }}
						</div>
						<div class="number">{{String.fromCharCode( i+ 65)}}</div>
					</div>
				</div>
			</div>	
		</div>
		<div class="main-finals" v-if="knockoutType==3 && listdata.length > 0">
			<div>
				{{ listdata[0].homeName }}
			</div>
			<div class="middle common-trophy-icon"></div>
			<div>
				{{ listdata[0].awayName }}
			</div>
		</div>
   	</div>
</template>

<script>
import { mapGetters } from "vuex";
import  * as virtualSportsApi from "@/api/virtualSports.js";
export default {
	name: "groupKnockout",
	data(){
		return{
			tabs: [
				{name: this.$t('virtualSports.groupKnockout.Round1'), key: 'Q8'},
				{name: this.$t('virtualSports.groupKnockout.QuarterFinal'), key: 'Q4'},
				{name: this.$t('virtualSports.groupKnockout.Semifinals'), key: 'SEMIFINAL'},
				{name: this.$t('virtualSports.groupKnockout.Final'), key: 'FINAL'}
			],
			listdata:[],
			check_if_there_tab: [],  //  判断tab 选项卡是不是有数据
		}
	},
	computed: {
		...mapGetters([
			"virtualMatchList",
            "virtualLeague",
			"knockoutType"
		]),
	},
    watch: {
		'virtualLeague.updata'(){
			this.getList();
		},
	},
	props:{
        sid: {
            type: String,
            default: ''
        },
    },
	created(){
		this.getList();
	},
	methods: {
		tabClick (item, i){
			// 判断选项卡里边有没有数据
			if (!Object.keys(this.check_if_there_tab).includes(item.key)) {
				this.$toast({
					message: `${this.$t('virtualSports.groupKnockout.zanwu')}${item.name}`,
					duration: 1500,
				})
				return
			}
			this.$store.commit("SET_KNOCKOUT_TYPE", i);
			this.knockout_list_filter(i)
		},
		getList(){
            const { round_no } = this.virtualMatchList[0];
			virtualSportsApi.requestDisuseScore({ tour_id :this.sid, round_no }).then((res) => {
				if(res.data.status == "true"){
					this.check_if_there_tab = res.data.data;
					this.knockout_list_filter(this.knockoutType)
				}
			}).catch(err => {
				console.error(err)
			})
		},
		// 数据格式处理
		knockout_list_filter(filter_index) {
			let arr = this.check_if_there_tab[this.tabs[filter_index].key], index = 0;

			// 加工每一轮的比分
			this.processing_score(arr)

			// 清除 list_data 的数据
			this.listdata =[]
			if (arr.length >= 2) {
				for (let i = 0, len = arr.length; i < len; i += 2) {
					this.listdata[index] = {}
					this.listdata[index].list = [...arr.slice(i, 2 + i)]
					index++
				}
			} else {
				this.listdata = [...arr]
			}

		},
		// 加工每一轮的比分
		processing_score(arr) {
			arr.forEach((item, i) => {
				item.ranking_index = i
				// 如果是数组，并且 里边分数数组长度超过两个，代表里边有 逗号
				if(!Array.isArray(item.homeScore) && item.homeScore.indexOf(',')){
					item.homeScore = item.homeScore.split(",");
				}
				if(!Array.isArray(item.awayScore) && item.awayScore.indexOf(',')){
					item.awayScore = item.awayScore.split(",");
				}
			})
		}

	},
};
</script>

<style lang="less" scoped>
.container {
  padding: 0 12px;
  .tabs-bar {
    display: flex;
    justify-content: space-between;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    font-weight: 400;

    .tab {
      width: 82px;
      height: 40px;
      line-height: 37px;
      display: flex;
      flex-direction: column;
      span {
        display: inline-block;
        height: 37px;
        width: 100%;
      }
      i {
        display: inline-block;
        width: 100%;
        height: 3px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
      }
      &.active {
        color: #ffffff;
        i {
          background: #0095ff;
          border-radius: 8px;
        }
      }
    }
  }
  .k-match-item{
	  	padding-top: 12px;
		display: flex;
		.team{
			width: 215px;
			height: 38px;
			display: flex;
			font-family: PingFangSC-Medium;
			font-size: 12px;
			color: #FFFFFF;
			line-height: 26px;
			font-weight: 500;
			position: relative;
			&:nth-child(2n-1){
				border-top: 1px solid rgba(255, 255, 255, 0.1);
				border-left: 1px solid rgba(255, 255, 255, 0.1);
				border-right: 1px solid rgba(255, 255, 255, 0.1);
				border-radius: 8px 8px 0 0;
			}
			&:nth-child(2n){
				margin-bottom:8px;
				border-bottom: 1px solid rgba(255, 255, 255, 0.1);
				border-left: 1px solid rgba(255, 255, 255, 0.1);
				border-right: 1px solid rgba(255, 255, 255, 0.1);
				border-radius: 0 0 8px 8px;
			}
			.number{
				font-size: 16px;
				position: absolute;
				top: 27px;
				left: 16px;
			}
			.name{
				width: 105px;
				margin-left: 43px;
				height: 38px;
				line-height: 38px;
			}
			.score{
				height: 38px;
				line-height: 38px;
				width: 18px;
				text-align: center;
			}
		}
		.k-right-content{
			display: flex;
			align-items: center;
			.line{
				width: 60px;
				height: 84px;
				display: flex;
				position: relative;
				&:before{
					content: '';
					width: 55%;
					height: 100%;
					border-radius: 0 8px 8px 0;
					border: 1px solid rgba(255, 255, 255, 0.1);
					border-left: none;
					position: relative;
				}

				&:after{
					content: '';
					width: 45%;
					height: 1px;
					position: absolute;
					top: 50%;
					right: 0;
					background-color: rgba(255, 255, 255, 0.1);
				}
					
			}
			.final{
				width: 76px;
				height: 76px;
				font-family: PingFangSC-Semibold;
				color: #FFFFFF;
				text-align: center;
				font-weight: 600;
				border: 1px solid rgba(255, 255, 255, 0.1);
				border-radius: 8px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				.name{
					font-size: 12px;
					line-height: 17px;
				}
				.number{
					font-size: 16px;
					line-height: 22px;
					padding-top: 4px;
				}
			}
		}
  	}
	.main-finals {
		margin-top: 12px;
		background: rgba(0,0,0,0.20);
		border: 1px solid rgba(255, 255, 255, 0.1);
		border-radius: 8px;
		font-family: PingFangSC-Regular;
		font-size: 12px;
		color: #FFFFFF;
		text-align: center;
		font-weight: 400;
		height: 70px;
		display: flex;
		justify-content: center;
		align-items: center;
		.middle {
			width: 68px;
			height: 68px;
			margin: 0 12px;
		}
	}
}
</style>
