<template>
    <div class="virtual-sports">
        <van-tabs  
            sticky
            class="match-tabs dj-tabs" 
            :active="currentTab"
            :line-width="28"
            @change="changeTab"
            @click="changeTab" >
            <template #nav-left >
                <div @click="goBack" class="left common-go-back"></div>
            </template>
            <template #nav-right >
                <div class="user-btn" @click="changeShowUser"></div>
            </template>
            <van-tab name="matchList" >
                <template #title >{{$t('homePage.gameType.football')}}</template>
                <template v-if="currentTab == 'matchList'">
                    <div class="match-container">
                        <virtualSportsMatch />
                    </div>
                </template>
            </van-tab>
            <van-tab name="endGame" title-class="last-tab">
                <template #title> {{$t('homePage.tabMenu.saiguo')}} </template>
                <template v-if="currentTab == 'endGame'">
                    <datetime-picker
                        v-model="endGameDateKey"
                        :keys="endGameDateTimeKeys"
                        isReverse
                        dailyTab="endGame" />
                    <sportsEndGame :dateKey="endGameDateKey"/>
                </template>
            </van-tab>
        </van-tabs>
        <!-- 用户中心 -->
        <van-popup
        v-model="showUser"
        class="user-center-popup"
        position="left"
        :duration="0.3"
        :close-on-click-overlay="true"
        overlay-class="user-cente-overlay"
        get-container="body"
        :style="{ height: '100%', width: '300px' }"
        >
            <user @closeUser="closeUser"></user>
        </van-popup>
    </div>
</template>
<script>
import user from "@/views/user";
import virtualSportsMatch from "@/views/home/components/virtualSports";
import datetimePicker from "@/views/home/components/datetimePicker";
import sportsEndGame from "@/views/home/components/sportsEndGame";
import listLoad from "@/views/common/listLoad"

export default {
    name:"virtualSports",
    components:{ 
        user,
        virtualSportsMatch,
        datetimePicker,
        sportsEndGame,
        listLoad,
    },
    data() {
        return {
            currentTab:'matchList',
            endGameDateKey: 0,
            endGameDateTimeKeys: [
                { key: 0, date: 0 },
                { key: 1, date: 1 },
                { key: 2, date: 2 },
                { key: 3, date: 3 },
                { key: 4, date: 4 },
                { key: 5, date: 5 },
                { key: 6, date: 6 },
            ],
            showUser: false,
        }
    },
    methods: {
        goBack(){
            this.$router.replace('/home');
            this.$store.commit("SET_GAME_ID", 0);
            this.$store.commit("SET_VIRTUAL_LIST_TOP", 0);
            this.$store.commit("SET_VIRTUAL_LEAGUE", {});
            this.$store.commit("SET_VIRTUAL_MATCH_LIST", [] );
        },
        changeTab(tab){
            this.currentTab = tab;
            if(tab === 'endGame'){
                this.$store.commit("SET_VIRTUAL_LIST_TOP", 0);
                this.$store.commit("SET_VIRTUAL_LEAGUE", {});
                this.$store.commit("SET_VIRTUAL_MATCH_LIST", [] );
            }
        },
        changeShowUser() {
        // 进入个人中心
            // this.$store.commit("SET_TRACK", { tab: 16, page: 1 });
            this.$store.commit("BET_CART_VISIBLE", false);
            this.showUser = true;
        },
        closeUser(){    
            this.showUser = false;
        },
    }
}
</script>
<style lang="less" scoped>
.virtual-sports{
    padding: 0 !important;
    overflow: scroll;
    .match-tabs{
        height: auto;
    }
    .left{
        width: 24px;
        height: 24px;
        position: absolute;
        left: 0;
    }
    &/deep/.van-tabs__wrap{
        margin: 0 auto;
        height: 49px;
        background-color: #1E2635;
        padding: 0 12px;
        .van-tabs__nav{
            justify-content: center;
            align-items: center;
            
            .van-tab{
                height: 49px;
                flex:0;
                padding: 0 12px;
                &.last-tab::after{
                    content: '';
                    background: transparent;
                }
                .tab-name{
                    width: 100%;
                    text-align: right;
                }
            }
        }
    }
    &/deep/.van-tab__text{
        word-break: keep-all;
        white-space: nowrap;
    }
    &/deep/.van-tabs__content{
        height: calc(100% - 32px);
        overflow-y: auto;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }
    .user-btn {
        width: 24px;
        height: 24px;
        background: url("~@/assets/images/common/user.png") no-repeat center;
        background-size: cover;
        position: absolute;
        right: 0;
    }
    .match-container{
        margin-top: 8px;
    }
}
</style>