<template>
  <div class="knockout-container">
    <div class="tabs">
      <div
        v-for="tab in tabList"
        :key="tab.name"
        :class="['tab', { active: matchType == tab.component },{ disable : tab.disable }]"
        @click="changeTab(tab)"
      >
        {{ tab.name }}
      </div>
      <i class="close-trend-icon" @click="closeRanking"></i>
    </div>
    <!-- 顶部切换 下边的内容组件 -->
    <component :is="matchType" @showDisuse="changeDisuse" :sid="sid"/>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import groupKnockout from "./groupKnockout"; // 淘汰赛
import groupMatches from "./groupMatches";// 小组赛
import  * as virtualSportsApi from "@/api/virtualSports.js";
export default {
  name: "knockout",
  data() {
    return {
      tabList: [
        {
          name: this.$t('virtualSports.knockout.GroupStage'),
          component: "groupMatches",
          disable: false,
        },
        {
          name: this.$t('virtualSports.knockout.KnockoutStage'),
          component: "groupKnockout",
          disable: false,
        },
      ],
      currentContent: "groupMatches",
    };
  },
  props:{
    sid: {
        type: String,
        default: ''
    },
  },
  computed: {
    ...mapGetters(["virtualMatch","matchType"]),
  },
  components: {
    groupKnockout,
    groupMatches,
  },
  watch:{
    'virtualMatch.sid': {
        handler(v, ov) {
          this.getList();
        },
        immediate: true,
    },
  },
  methods: {
    closeRanking() {
      this.$emit("closeRanking");
    },
    changeTab(value) {
      if(value.disable) {
        return;
      }
      this.$store.commit("SET_MATCH_TYPE", value.component);
    },
    changeDisuse(value){
      this.tabList.forEach(el=>{
        if(el.component == 'groupKnockout'){
          el.disable = !value;
        }
      })
    },
    getList(){
			virtualSportsApi.requestGroupScore({ tour_id :this.sid }).then((res) => {
				if(res.data.status == "true"){
					this.inited = true;
					this.rankingList = res.data.data.group_data || [];
					let is_disuse = res.data.data.is_disuse; // 是否进入淘汰赛阶段
					this.changeDisuse(is_disuse)
				}
			}).catch(err => {
				console.error(err)
			})
		},
  },
};
</script>

<style lang="less" scoped>
.knockout-container {
  padding-top: 8px;
  .tabs {
    height: 40px;
    line-height: 40px;
    font-family: PingFangSC-Medium;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    display: flex;
    justify-content: center;
	
    &:after {
      content: '';
      position: absolute;
      width: 1px;
      height: 12px;
      background-color: rgba(255, 255, 255, 0.2);
      top: 50%;
      margin-top: -6px;
    }
  
    .tab {
      width: 132px;
      text-align: center;
      height: 40px;
      &.active{
        color: #0095FF;
        text-align: center;
        font-weight: 500;
        position: relative;
        &:after {
          content: '';
          position: absolute;
          width: 20px;
          height: 2px;
          background-image: linear-gradient(135deg, #1DDAFF 0%, #0095FF 100%);
          bottom: 0px;
          left: 50%;
          margin-left: -10px;
        }
      }
      &.disable{
        opacity: 0.2;
      }
    }
    i {
      display: inline-block;
      width: 40px;
      height: 40px;
      background-size: 24px 24px;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      right: 0;
    }
  }
}
</style>
