<template>
    <div class="match-item" v-show="match.visible" @click="goMarkets(match)">
        <!-- 游戏背景 -->
        <div
            v-if="showBJ"
            class="bj"
            :style="`background-image: url('${h5_bg}')`"> </div>

        <!-- 赛事信息 -->
        <div class="item-col">  
            <div>
                <div class="game-logo">
                    <span :class="['logo', 'game-logo-sprite' , logoCls(match.game_id) ]" > </span>
                </div>

                <span class="tournament_name ellipsis"> 
                    {{ match.tournament_name }}
                </span>
            </div>
            <div>
                <span class="more">
                    <i class="icon common-match-more"></i>
                    <b> {{ match.count }} </b> 
                </span>
            </div>
        </div>
        
        <!-- 队伍信息 -->
        <div class="team-col">
            <span class="team-logo"> 
                <TeamImage :url="global.TeamImages[match.home_team]" />
            </span>
            <div class="match-video" @click.stop="changeMatch"> 
                <!-- 比赛时间 -->
                <div class="time-wrap">
                    <div class="time DIN" v-if="show_time">
                        {{show_time}}'
                        <i :class="show_time < 90 ?'vsports-playing':'vsports-whistle'"></i>
                    </div>
                </div>
                
                <i 
                    v-if="!isHideVideo"
                    :class="[
                        'play-icon',
                        virtualMatch.id == match.id && this.show_time > 0 && this.show_time < 90 ? 'match-video-play' : 'match-video-pause']"
                />
            </div>
            <span class="team-logo"> 
                <TeamImage  :url="global.TeamImages[match.away_team]" />
            </span>
        </div>

        <!-- 正常投注项 -->
        <div class="item-bet">
            <div v-for="(item, k) in marketList" :key="item.id">
                <span class="team-name ellipsis">{{ getTeams(match, item) }}</span>
                <bet-item
                    :position="getPostionClass(marketList.length, k)"
                    :info="{
                        item: item.id,
                        market: match.m.id,
                        match: match.id,
                        match: match,
                        market: match.m,
                        item: item,
                    }"
                    :isVr="true"
                    :showCrossIcon="true"
                    v-if="!batchEnd"
                >
                </bet-item>
                <div v-else :class="[getOddsItem(match.m, k),'item']"></div>
            </div>
        </div>

      
    </div>
</template>
<script>
import { mapGetters } from 'vuex';
import mixBetStatus from "@/views/common/mixins/mixBetStatus.js";
import mixAddCart from "@/views/common/mixins/mixAddCart.js";
import mixMatchStatus from "@/views/common/mixins/mixMatchStatus.js";
import { timetrans } from "@/assets/scripts/utils";
import BetItem from "@/views/common/BetItem";

export default {
    name: "list-item",

    props:{
        showBJ: {
            type: Boolean,
            default: true
        },
        match: {
            type: Object,
            default: {},
        },
        isReplace: {
            type: Boolean,
            default: false
        },
        batchEnd: {
            type: Boolean,
            default: false
        }
    },
    watch: {
        'match.duration'(o){
            if( this.match.duration>0 ){
                this.start()
            }
        },
    },
    data() {
        return {
            global,
            UPLOAD_URL: UPLOAD_URL,
            i18n: this.$t('homePage.listItem'),
            show_time: 0,
            isHideVideo: localStorage.getItem('hideVideo') === 'true',
        }
    },

    mixins: [
        mixBetStatus, 
        mixAddCart, 
        mixMatchStatus,  
    ],

    components:{
        BetItem,
    },

    computed:{
        ...mapGetters([
            "serverTime",
            "localTime",
            "virtualMatch",
        ]),

        // 背景图片
        h5_bg(){
            const bg = this.match.h5_bg;
            return bg ? this.UPLOAD_URL + bg : '';
        },

        // 投注项排序
        marketList(){
            // 排序
            let _newArray = this.match.m.odds.slice(0);
           
            return _newArray;
      
        },

    },
    created(){
        this.start()
    },
    methods:{
        timetrans,
        // 跳转盘口页面
        goMarkets(match){
            const { scrollTop } = document.querySelector(".virtual-sports");
            console.log("SET_VIRTUAL_LIST_TOP", scrollTop)
            this.$store.commit("SET_VIRTUAL_LIST_TOP", scrollTop);
            this.isReplace ? this.$router.replace(`/marketsVSports/${match.id}`) : this.$router.push(`/marketsVSports/${match.id}`)
            this.$emit('goDone')
        },
         // 计算投注项
        getOddsItem(market, n) {
            const lens = market.odds.length;
            const _newArray = market.odds.slice(0);
            const matchOddArray = _newArray;
            let is_winner = "";
            let classStr = ""
            if (lens == 3) {
                is_winner =  matchOddArray[n].is_winner;
            } else {
                if (n == 2) {
                    is_winner = matchOddArray[n - 1].is_winner;
                } else {
                    is_winner = matchOddArray[n].is_winner;
                }
            }

            switch (is_winner) {
                case 0: classStr = 'market-failure'
                    break;
                case 1: classStr = 'market-win'
                    break;
                case 2: classStr = 'market-win-half'
                    break;
                case 3: classStr = 'market-failure-half'
                    break;
                case 4: classStr = 'market-water'
                default: ''
                    break;
            }
            return classStr
        },
        /**
         * @description: 启动定时器
         */  
        start() {
            
            if(!this.match.duration){
                return
            }
        
            this.updCurrentTime();
            // 实时同步最新时间
            if(this.interval_current_time){
                clearInterval(this.interval_current_time);
            }
            this.interval_current_time = setInterval(() => {
                this.updCurrentTime();
            }, 300);
      
        },
    
        /**
         * @description: 实时同步最新时间
         */  
        updCurrentTime(){
    
            let mgt = Number(this.match.start_time*1000);
            let remote_time = Number(this.serverTime);
            let local_time = Number(this.localTime);
            this.current_time = (remote_time+(new Date().getTime()-local_time)-mgt);
            let show_time = Math.round((90*(this.current_time/1000))/this.match.duration);
            this.show_time = show_time > 90 ? 90 : show_time
            if(this.show_time == 90){
                clearInterval(this.interval_current_time);
            }
           
        },
        

        // 切换虚拟体育赛事视频
        changeMatch() {
            if(this.canChangeVideo) {
                this.$emit('changeMatch',{
                    'batch_no': this.match.batch_no, 
                    'match_id': this.match.id
                })
            } 
        },

        canChangeVideo(){
            return this.show_time > 0 && this.show_time < 90
        },
    
    },
}
</script>

<style lang="less" scoped>
.match-item {
    width: 100%;
    height: 148px;
    margin-bottom: 8px;
    padding: 8px 12px;
    border-radius: 8px;
    position: relative;
    z-index: 0;
    background: rgba(0,0,0,0.20);
    border: 1px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(30px);
    .bj {
      z-index: -1;
      position: absolute;
      bottom: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 8px;
    }

    .match-video{
        text-align: center;
        font-family: DINAlternate-Bold;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.6);
        text-align: center;
        font-weight: 700;
        .time-wrap{
            .time{
                display: flex;
                align-items: center;
                i{
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    margin-left:4px;
                }
            }

        }
        .play-icon {
            display: inline-block;
            width: 24px;
            height: 16px;
            border-radius: unset;
        }
    }

    .item-col{
        display: flex;
        position: relative;
        justify-content: space-between;
        z-index: 66;
        &>div{
            display: flex;
            align-items: center;
        }
        .game-logo{
            width: 16px;
            height: 16px;
            margin-right: 4px;
            .logo{
                display: block;
                width: 120px;
                height: 120px;
                transform-origin: 0 0;
                transform: scale(16/120);
            }
        }
        
        .tournament_name{
            width: 115px;
            font-size: 12px;
            color: #ffffff;
            margin-right: 4px;
            opacity: 0.6;
        }

        .more{
            width: 28px;
            height: 18px;
            background: rgba(255,255,255,0.10);
            border: 1px solid rgba(255,255,255,0.15);
            border-radius: 2px;
            margin-left: 4px;
            font-size: 12px;
            color: rgba(255,255,255,0.6);
            text-align: center;
            line-height: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            .icon{
                width: 10px;
                height: 10px;
            }
            b{
                font-family: DIN;
                font-size: 12px;
            }
        }
    }
    .team-col{
        margin: 12px 0 0;
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 0 44px;
        .team-logo{
            width: 40px;
            height: 40px;
            img{
                width: 40px;
                height: 40px;  
            }
        }
    }
    .item-bet {
        display: flex;
        position: relative;
        justify-content: space-between;
        padding: 0 24px;
        .team-name {
            width: 80px;
            display: inline-block;
            font-size: 12px;
            line-height: 23px;
            color: rgba(255,255,255,0.6);
            text-align: center;
            height: unset;
        }
        .BetItem-box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            &.left,&.right{
                width: 80px;
                height: 32px;
            }
            &.middle{
                width: 80px;
                height: 32px;
            }
            .bubbles-box{
                transform: scale(92/528, 48/152);
            }
            .item-odds{
                margin-top: 1px;
            }
        }
        .item {
            width: 80px;
            height: 32px;
            border-radius: 4px;
            background-color: rgba(0, 0, 0, 0.2);
            border: 1px solid rgba(255, 255, 255, 0.1);
            background-size: 28px;
            background-repeat: no-repeat;
            background-position: center top;
          }
    }
}
</style>