<template>
    <div class="v-match-tab-wrapper">
        <div class="v-match-tab">
            <div class="part-nav" ref="scrollBox">
                <div
                    ref="scrollItem"
                    v-for="(item, i) in virtualMatchList"
                    class="sub-nav-item"
                    :class="{ focus: item.batch_no == focusBatchNo }"
                    @click="changeBatch(item.batch_no)"
                    :key="i"
                >
                   {{ item.round_no }}
                </div>
            </div>
            <div class="trend-icon" @click.stop="trendEvent">
                <i class="show-trend-icon"></i>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
    name: "matchTab",
    props: {},
    data() {
        return {
            // 默认选中第一项
            focusIndex: 0,
            // 选中的期号
            focusBatchNo: "",
        };
    },
    mounted() {
       this.$nextTick(() => {  
            this.focusBatchNo = this.virtualMatchList.length > 0 ? this.virtualMatchList[0].batch_no : ''
        }) 
    },
    computed: {
        ...mapGetters(["virtualMatchList", "virtualMatch"]),
    },
    watch:{
        virtualMatchList(v,ov){
            this.$nextTick(() => {  
                this.focusBatchNo = this.virtualMatchList.length > 0 ? this.virtualMatchList[0].batch_no : ''
            })
        }
    },

    methods: {
        /**
         * 批次变化
         * @param {String|Number} batch_no 当前最新期号
         */
        changeBatch(batch_no) {
            this.focusIndex = this.virtualMatchList.findIndex(
                (ele) => ele.batch_no == batch_no
            ) || 0;
            this.focusBatchNo = batch_no;
            this.$emit('changeTab',this.focusIndex)
        },
        /**
         * 图表切换按钮点击
         */
        trendEvent() {
            this.$emit("trendShow");
        },
    },
    destroyed() {},
};
</script>

<style lang="less">
.v-match-tab-wrapper {
    z-index: 2;
    margin-bottom: 10px;

    &.isFixed {
        position: fixed;
        top: 49px;
        height: 55px;
        width: 375px;
        background-image: linear-gradient(
            180deg,
            #000000 0%,
            rgba(30, 35, 41, 0) 96%
        );
        border-radius: 1px;
        left: 0;
        right: 0;
        .v-match-tab {
            margin-top: 8px !important;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border: 1px solid rgba(255, 255, 255, 0.2);
        }
    }
    .v-match-tab {
        height: 40px;
        background-color: #1e2329;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        display: flex;
        justify-content: space-between;
        padding: 0 8px 0 8px;
        width: 351px;
        margin: 0 auto;
    }
    .part-nav {
        display: flex;
        font-size: 12px;
        overflow-x: scroll;
        .sub-nav-item {
            line-height: 40px;
            width: auto;
            min-width: 58px;
            text-align: center;
            color: rgba(255, 255, 255, 0.6);
            &.focus {
                color: #fff;
            }
        }
    }
    .trend-icon {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        i {
            display: inline-block;
            width: 24px;
            height: 24px;
        }
        &:after {
            content: "";
            position: absolute;
            width: 1px;
            height: 12px;
            background: rgba(255, 255, 255, 0.2);
            top: 14px;
            left: 0;
        }
    }
}
</style>
