<template>
    <VanPopup
        :class="['common-modal', theme]"
        :style="wrapStyle"
        round
        :position="position"
        v-model="show"
        :overlay-class="theme"
        @close="onClose"
    >
        <component
            class="sub-component"
            :is="content"
            :data="data"
            @close="hide"
            @onConfirm="confirm"
            @onCancel="cancel"
            v-bind="$options.propsData"
            :cntTxt="cntTxt"
            @goto="goto"
        ></component>

        <div class="close-wrap" @click="hide">
            <van-icon name="close" />
        </div>
    </VanPopup>
</template>

<script>
export default {
    name: 'PopModal',
    props: {
        wrapStyle:{
            default:()=>{},
            type:Object
        },
        show: {
            type: Boolean,
        },
        content: {
            type: Object,
        },
        position: {
            type: String,
        },
        onClose: {
            type: Function,
            default: () => {},
        },
        onConfirm: {
            type: Function,
            default: () => {},
        },
        onGoto: {
            type: Function,
            default: () => {},
        },
        onCancel: {
            type: Function,
            default: () => {},
        },
        theme: {
            // 1. with-close 带关闭按钮
            type: String,
            default: '',
        },
        cntTxt:{
            type:String,
            default:''
        },
        data: {},

    },
    computed: {
        hasClose() {
            return this.theme.indexOf('with-close') !== -1
        },
    },

    methods: {
        hide() {
            this.show = false
            this.$emit('onClose')
        },

        confirm(result,delay) {
            this.onConfirm(result,()=>{
                       this.hide()
            })
            if (result === 'delay' || delay) {
                return
            }
            this.hide()
        },

        cancel(result) {
            this.onCancel(result)
            this.hide()
        },

        goto(data) {
            this.onGoto(data)
            this.hide()
        },
    },
}
</script>

<style lang="scss">
.common-modal {
    width: 306px;
    overflow-y: hidden;

    > * {
        border-radius: 0 0 15px 15px;
    }

    &.notify {
        width: 100%;
        border-radius: 0;
        background-color: transparent;
    }

    .close-wrap {
        display: none;
        padding-bottom: 1px;
    }

    &.with-close {
        background-color: transparent;

        .close-wrap {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            color: white;
            font-size: 32px;
        }
    }
}

.van-overlay.notify {
    background-color: rgba(0, 0, 0, 0);
}
</style>
