<template>
    <div id="full-screen" :class="['video-wrap',{'fixed':lockVideo}, { 'isFullscreen': isFullscreen }]" ref="videoWrap" @touchstart.stop>
        <div class="full" id="full">

            <template v-if="isFullscreen">
                <span></span>
            </template>   
            <template v-else>
                <span @click="closeVideo"  class="close common-close-small1"> </span>
                <span @click="screenfullFuc" class="full-screen market-player-full"> </span>
            </template>  

            <div class="full-iframe">

                <iframe
                    :src="videoURL(matchs)"
                    allow="autoplay; encrypted-media; fullscreen"
                    frameborder="0" 
                    scrolling="no"  
                    width="100%"
                    height="100%"
                    allowfullscreen="true"
                    mozallowfullscreen="true"
                    msallowfullscreen="true"
                    oallowfullscreen="true"
                    webkitallowfullscreen="true">
                </iframe>
                <template v-if="isFullscreen">
                    <div class="iframe-icon" @click="closeVideo">
                        <span class="icon common-close-small1"> </span>
                        <span class="words">{{ i18n.guanbizhibo }}</span>
                    </div>
                </template>
            </div>
            <div class="full-bet" v-show="isFullscreen">



                <div class="btn-right-open" @click="changeShowBet(true)" v-if="!betShow">
                    <div class="icon-words" v-html="i18n.MarketBet">

                    </div>
                    <div class="icon-bg"> <i class="icon common-arrow-left"></i> </div>
                </div>
                <template v-else>

                    <div class="btn-right-close common-arrow-left-full" @click="changeShowBet(false)"></div>

                    <div class="screen-market" v-show="curMeun == 0">
                        <marketBet></marketBet>
                    </div>

                    <div class="screen-order" v-show="curMeun == 1">
                        <div class="order-info">
                            <span class="words" @click="delBet"><b class="number DIN">{{ betCartNum }}</b>{{ i18nB.delAll }}</span>
                            <span class="words">{{ i18nB.balance }}<b class="balance DIN">{{ Math.formatAmount(userInfo.balance) }} </b></span>
                        </div>
                        <bet-order></bet-order>
                    </div>

                    <div class="screen-order"  v-show="curMeun == 2">
                        <div class="order-info">
                            <span class="words" @click="delStation"><b class="number DIN">{{ stationListNum }}</b>{{ i18nB.delAll }}</span>
                            <span class="words">{{ i18nB.balance }}<b class="balance DIN">{{ Math.formatAmount(userInfo.balance) }} </b></span>
                        </div>
                        <station-order></station-order>
                    </div>


                    <div class="full-btn">
                        <div :class="['btn-market', { 'btn-active':  curMeun == 0  }]" @click="changeFullMeun(0)" v-html="i18n.MarketBet">
                 
                        </div>
                        <div :class="['btn-market', { 'btn-active':  curMeun == 1  }]" @click="changeFullMeun(1)" v-show="betCartNum">
                                <div class="words" v-html="i18n.touzhulan"></div>
                                <span class="number">{{ betCartNum }}</span>
                        </div>
                        <div :class="['btn-market', { 'btn-active':  curMeun == 2  }]" @click="changeFullMeun(2)" v-show="stationListNum">
                            <div class="words" v-html="i18n.stationBet"></div>
                            <span class="number">{{ stationListNum }}</span>
                        </div>
                    </div>

                </template>


            </div>
        </div>

    </div>
</template>
<script>
import screenfull from "screenfull";
import { mapGetters } from "vuex";
import marketBet from "./marketBet";
import betOrder from "@/views/betCart/betOrder.vue"
import stationOrder from "@/views/betCart/stationOrder.vue"
const langMap = {
    'cn': '',    // 简体
    'zh': '',    // 繁体
    'en': '/en',  // 英语
    'vi': '/vi',  // 越南
    'ml': '/ms',  // 马来  
    'th': '/th',  // 泰语
    'ni': '/id',    // 印尼
};


function fullFuc(type){
    const width = document.documentElement.clientWidth;
    const height =  document.documentElement.clientHeight;
    const domFull = document.querySelector("#full");
    const domScreen = document.querySelector("#full-screen");
    if( type ){
        if( width < height ){
        
            domScreen.style.cssText = `
                width:${width}px; 
                height:${height}px;
                position: fixed;
                top: 0px;
                left: 0px;
                z-index: 99999;
            `

            domFull.style.cssText = `
                width:${height}px; 
                height:${width}px;
                top:${(height-width)/2}px;
                left:${0-(height-width)/2}px;
                transform: rotate(90deg);
                transform-origin: 50% 50%;
            `


        }else{
            domScreen.style.cssText = `
                width: initial; 
                height: initial;
                position: initial;
                top: initial;
                left: initial;
                z-index: 0;
            `
            domFull.style.cssText = `
                width:${width}px; 
                height:${height}px;
                top: 0px;
                left: 0px;
                transform: none;
                transform-origin: center center;
            `
        }
    }else{
        if( width < height ){
        
            domFull.style.cssText = `
                width:${height}px; 
                height:${width}px;
                top:${(height-width)/2}px;
                left:${0-(height-width)/2}px;
                transform: rotate(90deg);
                transform-origin: 50% 50%;
            `

        }else{
            domFull.style.cssText = `
                width:${width}px; 
                height:${height}px;
                top: 0px;
                left: 0px;
                transform: none;
                transform-origin: 50% 50%;
            `
        }
    }
}



export default {
    props:[
        "lockVideo",
        "video_url",
        "liveVideo"
    ],
    data(){
        return {
            curMeun: "0",
            betShow: false,
            i18n: this.$t('marketPage.index'),
            i18nB: this.$t('betCart.index'),
        }
    },
    computed:{
        ...mapGetters([
            "matchs",
            "userInfo",
            "stationList",
            "betCart",
            "isFullscreen",
        ]),

        betCartNum({ betCart }){
            return betCart.length;
        },

        stationListNum({ stationList }){
           return Object.keys(stationList).length
        }

    },
    components:{
        marketBet,
        betOrder,
        stationOrder
    },
    
    watch:{
        stationListNum(v,ov){
            if( v == 0 ){
                this.curMeun = 0
            }
        },
        betCartNum(v, ov){
            if( v == 0 ){
                this.curMeun = 0
            }
        }
    },

    mounted(){
        if (screenfull.isEnabled) {
            screenfull.on('change', () => {
                this.$store.commit("SET_FULL_SCREEN", screenfull.isFullscreen)
                if( this.isFullscreen ){
                    fullFuc();
                }else{
                    const domFull = document.querySelector("#full");
                    domFull.style.cssText = `
                        width:''; 
                        height:'';
                        top: '';
                        left:'';
                        transform: '';
                        transform-origin: '';
                    `
                }
            });
        };

        window.addEventListener("resize", function() {
            fullFuc()
        }, false);

    },

    methods:{
        changeShowBet(data){
            this.betShow = data;
        },
        closeVideo(){
            if (!screenfull.isEnabled) {
                this.$store.commit("SET_FULL_SCREEN", false)
            }
            this.$emit("closeVideo")
        },
        
        screenfullFuc(){

            if (screenfull.isEnabled) {
                const ele = this.$refs.videoWrap;
                screenfull.toggle(ele, {navigationUI: 'show'});
            } else {
                this.$store.commit("SET_FULL_SCREEN", true)
                fullFuc(true);
            }

        },

        meURL(matchs){
            if(matchs.sid !== "0"){
                // 体育单独获取视频地址
                const {sid, admin_video_url} = matchs;
                const urlArr = admin_video_url.split('|');// 播放器地址|视频接口地址|视频接口token
                let tyParams = {
                    isTY: 1,
                    sid,
                    videoUrl: urlArr[1],
                    requestId: urlArr[2],
                    "device":"H5",
                }
                tyParams = qs.stringify(tyParams);
                return `${urlArr[0]}${tyParams}`;
            }else if( matchs.video_type == 2){
                if( (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent))){
                    return matchs.user_video_url
                }else{
                    return matchs.admin_video_url
                }
            }else{
                return matchs.user_video_url
            }
        },

        // 蚂蚁数据源直播地址
        videoURL(matchs){
            if( this.liveVideo == 1 ){
                if( this.matchs.video_type == 4 || this.matchs.priority_live != 0  ){
                    let videoUrl = this.video_url.flv || this.video_url.m3u8; // 蚂蚁直播源
                    const url = videoUrl || this.meURL(matchs);
                    return url ? url + '&hideFullScreen=1' : url // 蚂蚁直播源
                }else{
                    const url = this.meURL(matchs);
                    return url ? url + '&hideFullScreen=1' : url // 蚂蚁直播源
                }
            }else{
                let videoUrl = this.video_url.anime_pc;
                const lang = localStorage.getItem('language') || 'cn';
                videoUrl =  videoUrl.replace(/\/{@lang}/g, langMap[lang]);
                return videoUrl
            }

        },

        changeFullMeun(i){
            this.curMeun = i;
        },

        delBet(){
            this.$store.commit("SET_DEL_CART")
        },

        delStation(){
            this.$store.commit("DEL_STATION_ALL")
        }
        
    },

    destroyed(){
        screenfull.off('change');
        window.removeEventListener('resize', this.refresh)
    }
}
</script>
<style lang="less">

.video-wrap{
    height: 210px;
    position: relative;
    background-color: #000;

    .close{
        position: absolute;
        width: 24px;
        height: 24px;
        top: 12px;
        right: 10px;
        &.close-small{
            right: 2px;
            top: 2px;
        }
    }
    .full-screen{
        position: absolute;
        width: 24px;
        height: 24px;
        right: 8px;
        bottom: 8px;
    }
    .wrap-box{
        width: 100%;
        height: 100%;
    }
    .small-video{
        position: fixed;
        top: 50px;
        right: 0px;
        width: 154px;
        height: 97px;
        padding: 12px;
        border-radius: 4px;
        z-index: 999;
        overflow: hidden;
        background: #333333;
        .close{
            z-index: 3;
            right: 12px;
            top: 12px;
        }
    }
    .full{
        width: 100%;
        height: 100%;
    }
    .full-iframe{
        width: 100%;
        height: 100%;
    }
}
   
.isFullscreen{

    .full{
        position: absolute;
        display: flex;
    }

    .full-iframe{
        flex: 1;
        position: relative;
        .iframe-icon{
            position: absolute;
            left: 24px;
            top: 10px;
            display: flex;
            align-items: center;
        }
        .icon{
            width: 24px;
            height: 24px;
        }
        .words{
            font-size: 12px;
            color: #FFFBE8;
            font-weight: 400;
            margin-left: 6px;
        }
    }
    .full-bet{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
    }
    .full-btn{
        width: 48px;
        height: 100%;
        background: rgba(30,35,41,0.80);
        overflow: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        .btn-market{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            margin: 5px 0;
            width: 40px;
            height: 90px;
            background: rgba(255,255,255,0.10);
            border-radius: 4px;
            border: 1px solid rgba(255,255,255,0.3) ;
            overflow: hidden;
            font-size: 12px;
            color: #F0F0F0;
            text-align: center;
            font-weight: 400;
            &.btn-active{
                background: rgba(0,149,255,0.30);
                border-radius: 4px;
            }
        }
        .words{
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
        .number{
            font-size: 14px;
            color: #FBC903;
            font-weight: 700;
        }
    }
    .screen-market, .screen-order{
        // position: fixed;
        // right: 48px;
        // top: 0;
        // bottom: 0;
        width: 375px;
        height: 100%;
        overflow: hidden;
        background-color: #141414;
    }
    
    .screen-order{
        display: flex;
        flex-direction: column;
        .cart, .station-cart{
            flex: 1;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            .bet-list{
                flex: 1;
                display: flex;
                flex-direction: column;
                overflow: hidden;
                .list-scroll{
                    flex: 1;
                }
            }
        }
        .order-info{
            width: 100%;
            height: 40px;
            background: rgba(0,149,255,0.30);
            padding: 0 12px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .words{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                color: rgba(255,255,255,0.6);
            }
            .number{
                padding: 0 8px;
                font-size: 12px;
                color: #0095FF;
                background-color: #FFF;
                border-radius: 8px;
                margin-right: 8px;
            }
            .balance{
                font-size: 14px;
                color: #FFFFFF;
                text-align: center;
                font-weight: 700;
                margin-left: 4px;
            }
        }
    }

    .btn-right-open{
        width: 24px;
        height: 84px;
        background: rgb(51,51,51);
        border: 1px solid rgba(185,205,220,0.40);
        border-radius: 10px 0 0 10px;
        overflow: hidden;
        font-size: 12px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        justify-content: space-between;
        .icon-words{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 2px 0;
        }
        .icon-bg{
            width: 100%;
            height: 10px;
            background: rgba(0, 0, 0, 0.3);
            display: flex;
            align-items: center;
            justify-content: center;
            .icon{
                width: 12px;
                height: 12px;
            }
        }
    }

    .btn-right-close{
        width: 10px;
        height: 52px;


    }
}
</style>