<template >
    <div class="schedule-main">
        <CSGO v-if="isCSGO"></CSGO>
        <LOL v-else></LOL>
    </div>
</template>
<script>
import CSGO from "./CSGO";
import LOL from "./LOL";
import { mapGetters } from "vuex";
export default {
    components:{
        CSGO,
        LOL
    },
    computed:{
        ...mapGetters([
            "matchs"
        ]),
        
        isCSGO(){
            const game_id = this.matchs.game_id;
            return game_id === '257578064923863'
        }
    }
}
</script>