<template>
  <div class="publicTitle">
    <div class="game-introduction"  :class="{notZH: !['cn', 'zh'].includes(language)}">
      <span>{{ title }}</span>
    </div>
    <p>{{descriptions}}</p>
    <div class="imgList" v-if="showImg">
      <img :src="item" alt="" v-for="(item,i) in imgList" :key="i" @click="to_game(i)">
    </div>
  </div>
</template>

<script>
export default {
  name: "publicTitle",
  props:[
    "title",
    "descriptions",
    "showImg",
    "publicIndex",
  ],
  data() {
    return{
      imgList:[
        require(`@/assets/images/asiad/img1.png`),
        require(`@/assets/images/asiad/img2.png`),
        require(`@/assets/images/asiad/img3.png`),
        require(`@/assets/images/asiad/img4.png`),
        require(`@/assets/images/asiad/img5.png`),
        require(`@/assets/images/asiad/img6.png`),
        require(`@/assets/images/asiad/img7.png`),
      ],
      language: localStorage.getItem('language') || 'cn',
    }
  },
  methods: {
    // 去到固定的游戏
    to_game(i){
      if(this.publicIndex == 1){
        this.$emit('toGame', i)
      }else if(this.publicIndex == 3){
        this.$emit('toCompetingTeam', i)
      }
    }
  },
}
</script>

<style lang="less" scoped>
.publicTitle{
  .game-introduction{
    //width: 355px;
    margin: auto;
    background-image: url("~@/assets/images/asiad/yy-title.png");
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 6px;
    >span{
      text-align: center;
      font-family: HYYakuHei;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px; /* 100% */
      color: #00BBFE;
      //#258AF6, #00BBFE, #017DF7
    }
    &.notZH{
      span{
        font-size: 10px;
      }
    }
  }
  >p{
    margin-top: 6px;
    color: #F9F9F9;
    text-align: center;
    font-family: PingFang SC;
    font-size: 7px;
    font-style: normal;
    font-weight: 500;
    line-height: 7px; /* 100% */
  }
  >.imgList{
    margin-top: 16px;
    display: flex;
    align-content: center;
    justify-content: center;
    img{
      width: 42px;
      height: 42px;
      margin-right: 10px;
      &:last-child{
        margin-right: unset;
      }
    }
  }
}
</style>