<template>
    <div class="tokenInvalid">
       <common-not-data
            class="not-account-data"
            :title="$t('homePage.invalid')"
            backgroundImg="login-exception"
            paddingTop="168px" 
        ></common-not-data>
    </div>
</template>
<script>
import commonNotData from "@/views/common/commonNotData";
export default {
    components: { commonNotData },
    created(){
        if(window.mqtt_client){
            mqtt_client.end(true); // 断开链接
        }
    }
}
</script>
<style lang="less" scoped>
    .tokenInvalid{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 25px;
        color:#fff;
    }
</style>