.lang_en{
    // 输半
    .market-failure-half {
        background-image: url("~@/assets/images/i18n/en_us/market-failure-half.png");
        background-size: cover;
    }

    // 赢半
    .market-win-half {
        background-image: url("~@/assets/images/i18n/en_us/market-win-half.png");
        background-size: cover;
    }

    //胜利
    .market-win {
        background-image: url("~@/assets/images/i18n/en_us/market-win.png");
        background-size: cover;
    }

    //失败
    .market-failure {
        background-image: url("~@/assets/images/i18n/en_us/market-failure.png");
        background-size: cover;
    }

    .antData-win{
        background: url("~@/assets/images/i18n/en_us/antData-win.png") center / cover;
    }
    .antData-failure{
        background: url("~@/assets/images/i18n/en_us/antData-failure.png") center / cover;
    }

    // 走水
    .market-water {
        background-image: url("~@/assets/images/i18n/en_us/market-water.png");
        background-size: cover;
    }

    // 串字角标 左
    .cross-left{
        background-image: url("~@/assets/images/i18n/en_us/cross-left.png");
        background-size: cover;
    }

    // 串字角标 右
    .cross-right{
        background-image: url("~@/assets/images/i18n/en_us/cross-right.png");
        background-size: cover;
    }

    /** btn *  */

    // 灰色按钮
    .home-btn-gray{
        background-image: url("~@/assets/images/i18n/en_us/home-btn-gray.png");
        background-size: cover;
    }

    // 蓝色按钮
    .home-btn-blue{
        background-image: url("~@/assets/images/i18n/en_us/home-btn-blue.png");
        background-size: cover;
    }

    .home-btn-more{
        background-image: url("~@/assets/images/i18n/en_us/home-btn-more.png");
        background-size: cover;
    }

    .btn-more-red{
        background-image: url("~@/assets/images/i18n/en_us/btn-more-red.png");
        background-size: cover;
    }

    // 红色按钮
    .home-btn-red{
        background-image: url("~@/assets/images/i18n/en_us/home-btn-red.png");
        background-size: cover;
    }
    
    // 待结算标签
    .to-be-settled {
        width: 65px !important;
    }

    // 历史注单
    .order-half-win {
        width: 48px !important;
    }

    .order-half-loss{
        width: 48px !important;
    }

    .order .game-title{
        width: 200px !important;
    }

    // 购物车底部 
    .cart-meun{
        .meun-hide{
            .number {
                font-size: 12px !important;
            }
        }
        .dropdown_menu_title,.odds{
            width: 90px !important;
            padding: 0 2px !important;
        }
    }

    // 前瞻近期数据
    .data-line-group .middle-text {
        font-size: 10px !important;
        text-align: center !important;
        text-align-last: auto !important;
        //width: 76px !important;
    }

    // 前瞻小局赢
    .league-result-item .icon-win {
        background-image: url("~@/assets/images/i18n/en_us/win-big.png") !important;
        background-size: 100% 100%;
    }
    //新人教程第四步
    .dj-guide .step4 .info{
        top: 430px !important;
    }
    .lottery-enter-container {
        .enter-icon {
            background: url('~@/assets/images/common/lottery-enter-en.png') no-repeat !important;
            background-size: 100% !important;
        }
    }
    
    .chase-detail-lol .trace-details .details-list li span:first-child {
        white-space: nowrap;
        width: 100px;
    }
    // .report-details-page-lol .lol-table-detail .lol-table-header {
    //     .betContent {
    //         width: 60px;
    //     }
    //     .amount {
    //         white-space: nowrap;
    //         width: 100px;
    //     }
    //     .result {
    //         white-space: nowrap;
    //     }
    // }
    .report-details-page-lol .lol-table-detail .result{
        width: 75px;
    }
    // .report-details-page-lol .lol-table-detail .lol-table-body {
    //     .betContent {
    //         width: 60px;
    //     }
    // }

    .time-tab {

        > span {
            min-width: auto!important;
            padding-right: 15px;

            &:last-child {
                padding-right: 0px;
            }
        }
    }


    .asiad-game .asiad-title .words1{
        font-size: 13px;
    }

}