.lang_ni{
    // 输半
    .market-failure-half {
        background-image: url("~@/assets/images/i18n/ni/market-failure-half.png");
        background-size: cover;
    }

    // 赢半
    .market-win-half {
        background-image: url("~@/assets/images/i18n/ni/market-win-half.png");
        background-size: cover;
    }

    //胜利
    .market-win {
        background-image: url("~@/assets/images/i18n/ni/market-win.png");
        background-size: cover;
    }

    //失败
    .market-failure {
        background-image: url("~@/assets/images/i18n/ni/market-failure.png");
        background-size: cover;
    }

    .antData-win{
        background: url("~@/assets/images/i18n/ni/antData-win.png") center / cover;
    }
    .antData-failure{
        background: url("~@/assets/images/i18n/ni/antData-failure.png") center / cover;
    }
    // 走水
    .market-water {
        background-image: url("~@/assets/images/i18n/ni/market-water.png");
        background-size: cover;
    }

    // 串字角标 左
    .cross-left{
        background-image: url("~@/assets/images/i18n/ni/cross-left.png");
        background-size: cover;
    }

    // 串字角标 右
    .cross-right{
        background-image: url("~@/assets/images/i18n/ni/cross-right.png");
        background-size: cover;
    }

    /** btn *  */

    // 灰色按钮
    .home-btn-gray{
        background-image: url("~@/assets/images/i18n/ni/home-btn-gray.png");
        background-size: cover;
    }

    // 蓝色按钮
    .home-btn-blue{
        background-image: url("~@/assets/images/i18n/ni/home-btn-blue.png");
        background-size: cover;
    }

    .home-btn-more{
        background-image: url("~@/assets/images/i18n/ni/home-btn-more.png");
        background-size: cover;
    }

    .btn-more-red{
        background-image: url("~@/assets/images/i18n/ni/btn-more-red.png");
        background-size: cover;
    }

    // 红色按钮
    .home-btn-red{
        background-image: url("~@/assets/images/i18n/ni/home-btn-red.png");
        background-size: cover;
    }
    
    // 待结算标签
    .to-be-settled {
        width: 65px !important;
    }

    // 历史注单
    .order-half-win {
        width: 48px !important;
    }

    .order-half-loss{
        width: 48px !important;
    }

    .order .game-title{
        width: 200px !important;
    }

    // 购物车底部 
    .cart-meun{
        .meun-hide{
            .number {
                font-size: 12px !important;
            }
        }
        .dropdown_menu_title,.odds{
            width: 90px !important;
            padding: 0 2px !important;
        }
    }

    // 主播盘开售中标签
    .anchor-item{
        .live-box{
            width: 65px !important;
            .words{
                width: 65px !important;
                line-height: 16px !important;
                padding-bottom: 3.2px !important;
            }
        }
    }

    // 购物车
    .cart-tabs-content {
        .cart-tab{
            font-size: 14px;
            &:nth-child(2){
                text-align: right !important;
            }
        }
    }


     /** 注单页面 *  */
     .order{
        .order-nav-content {
            margin: 0 !important;
            .order-nav-btn {
                font-size: 12px;
                // margin: 1.06667vw 2.66667%;
            }   
        }

        .order-half-win {
            width: 70px !important;
            font-size: 12px !important;
        }

        .order-half-loss {
            width: 80px !important;
            font-size: 12px !important;
        }

        .order-cancel,.order-refund {
            width: 80px !important;
        }

        .order-win {
            width: 50px !important;
            font-size: 12px !important;
        }

        .order-failure {
            width: 37px !important;
            font-size: 12px !important;
        }

        .order-water {
            width: 70px !important;
        }

        .game-title{
            width: 195px !important;
        }

        .order-content .order-list .item-order .order-row .type .odds {
            margin-left: 0 !important;
        }
    }

    // 赛事详情 玩法分类标签
    .play-type{
        .type-btn-1{
            writing-mode: vertical-rl;
            transform: rotate(180deg);
        }
    }
    .item-col{
        .tournament_name{
            max-width: 85px;
            width: auto !important;
        }
    }

    // 前瞻近期数据
    .data-line-group .middle-text {
        font-size: 10px !important;
        text-align: center !important;
        width: 82px !important;
        text-align-last: auto !important;
        line-height: 12px !important;
    }
    
    // 前瞻小局赢
    .league-result-item .icon-win {
        background-image: url("~@/assets/images/i18n/ni/win-big.png") !important;
        background-size: 100% 100%;
    }
    //新人教程第四步
    .dj-guide .step4 .info{
        top: 430px !important;
    }
    .right-recommend{
        width: 70px;
        text-align: right;
        align-items: center;
        justify-content: center;
    }
    .lottery-enter-container {
        .enter-icon {
            background: url('~@/assets/images/common/lottery-enter-en.png') no-repeat !important;
            background-size: 100% !important;
        }
    }

    .lol-table .lol-table-header .result {
        white-space: nowrap;
        letter-spacing: -1px;
    }

    .chase-detail-lol .trace-details .details-list li span:first-child {
        white-space: nowrap;
        width: 124px;
    }

    .report-details-page-lol .lol-table-detail .lol-table-header {
        font-size: 10px;

        .betContent {
            width: 60px;
        }
        .orderId {
        }
        .amount {
            white-space: nowrap;
            width: 80px;
        }
        .result {
            white-space: nowrap;
        }
        .rate {
            white-space: nowrap;
        }
    }

    .lol-table .lol-table-body .table-tr .result {
        position: relative;
        word-break: break-all;
    }

    .lol-table .lol-table-body .table-tr .van-icon {
        position: absolute;
        top: 52%;
        right: 0px;
        transform: translateY(-50%);
    }

    .lol-table .lol-table-header .time {
        word-break: break-all;
        flex: 1.1 !important;
    }

    .lol-table .lol-table-header .juhao {
        flex: 0.9;
        word-break: break-all;
    }

    .each-trace-lol .trace-ul li .trace-checkbox .van-checkbox__label .trace-bottom span:nth-child(2) {
        word-break: break-all;
        line-height: 100%;
        padding-left: 12px;
    }
    .trace-modal-lol .gap16{
        padding: 0 !important;
    }

    .lol-table .lol-table-body .table-tr .result {
        flex: 1.3 !important;
    }
    .asiad-game .asiad-title .words1{
        font-size: 13px;
    }
  
}