.lang_th{
    // 输半
    .market-failure-half {
        background-image: url("~@/assets/images/i18n/th/market-failure-half.png");
        background-size: cover;
    }

    // 赢半
    .market-win-half {
        background-image: url("~@/assets/images/i18n/th/market-win-half.png");
        background-size: cover;
    }

    //胜利
    .market-win {
        background-image: url("~@/assets/images/i18n/th/market-win.png");
        background-size: cover;
    }

    //失败
    .market-failure {
        background-image: url("~@/assets/images/i18n/th/market-failure.png");
        background-size: cover;
    }

    .antData-win{
        background: url("~@/assets/images/i18n/th/antData-win.png") center / cover;
    }
    .antData-failure{
        background: url("~@/assets/images/i18n/th/antData-failure.png") center / cover;
    }

    // 走水
    .market-water {
        background-image: url("~@/assets/images/i18n/th/market-water.png");
        background-size: cover;
    }

    // 串字角标 左
    .cross-left{
        background-image: url("~@/assets/images/i18n/th/cross-left.png");
        background-size: cover;
    }

    // 串字角标 右
    .cross-right{
        background-image: url("~@/assets/images/i18n/th/cross-right.png");
        background-size: cover;
    }

    /** btn *  */

    // 灰色按钮
    .home-btn-gray{
        background-image: url("~@/assets/images/i18n/th/home-btn-gray.png");
        background-size: cover;
    }

    // 蓝色按钮
    .home-btn-blue{
        background-image: url("~@/assets/images/i18n/th/home-btn-blue.png");
        background-size: cover;
    }

    .home-btn-more{
        background-image: url("~@/assets/images/i18n/th/home-btn-more.png");
        background-size: cover;
    }

    .btn-more-red{
        background-image: url("~@/assets/images/i18n/th/btn-more-red.png");
        background-size: cover;
    }

    // 红色按钮
    .home-btn-red{
        background-image: url("~@/assets/images/i18n/th/home-btn-red.png");
        background-size: cover;
    }

    // 待结算标签
    .to-be-settled {
        width: 100px !important;
    }

    // 首页联赛筛选位置
    .right-btn {
        //width: 40% !important;
        .league-select{
            //width: 80px !important;
        }
    }
    

    .date-model {
        .date-type {
            width: 135px !important;
        }
        .date-confirm{
            width: 80px !important;
        }
    }

    /** 注单页面 *  */
    .order{
        .order-nav-content {
            margin: 0 !important;
            .order-nav-btn {
                font-size: 12px;
                // margin: 1.06667vw 2.66667%;
            }   
        }

        .order-half-win {
            width: 55px !important;
            font-size: 12px !important;
        }

        .order-half-loss {
            width: 55px !important;
            font-size: 12px !important;
        }

        .order-refund {
            width: 107px !important;
        }

        .order-win {
            width: 37px !important;
            font-size: 12px !important;
        }

        .order-failure {
            width: 37px !important;
            font-size: 12px !important;
        }

        .order-water {
            width: 60px !important;
        }

        .game-title{
            width: 195px !important;
        }

        .order-content .order-list .item-order .order-row .type .odds {
            margin-left: 0 !important;
        }
    }
    /** 更换头像 **/
    .avatar {
        .title {
            width: 131px !important;
        }
        .confirm {
            width: 82px !important;
        }
    }
    // 主播盘开售中标签
    .anchor-item{
        .live-box{
            width: 48px !important;
            .words{
                width: 48px !important;
            }
        }
    }

    .match-item .live-box {
        width: 48px !important;
        .words {
            width: 48px !important;
        }
    }

    // 个人中心弹出框
    .user-center-popup{
        width: 80% !important;
    }

    .league-collapse .league-list>li .game {
        font-size: 12px !important;
    }

    //账变记录
    .account .common-account-list .short_name {
        font-family: PingFangSC-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, 
        Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    }

    // 购物车
    .bet-cart{

        // 局内串关购物车
        .station-cart{
            .cross{
                width: 140px !important;
            }
            .common-input{
                width: 100px !important;
            }
            .item-input{
                width: auto !important;
            } 
        }

        .cart-tabs-content {
            .cart-tab{
                font-size: 14px;
                &:nth-child(2){
                    text-align: right !important;
                }
            }
        }

        .cart{
            .common-input{
                width: 100px !important;
            }
    
            .item-input{
                width: 100px !important;
            } 
        }
        
        // 购物车底部 
        .cart-meun{
            .meun-hide{
                .number {
                    font-size: 12px !important;
                }
            }
            .dropdown_menu_title,.odds{
                width: 100px !important;
                padding: 0 2px !important;
            }
        }

        .invalid{
            width: 80px !important;
        }
    }

    // 公告
    .notice {
        .handle{
            .tip{
                width: 80px !important;
            }
        }
    }

    // 前瞻近期数据
    .data-line-group .middle-text {
        font-size: 10px !important;
        text-align: center !important;
        text-align-last: auto !important;
        line-height: 12px !important;
        width: 66px !important;
    }

    // 前瞻小局赢
    .league-result-item .icon-win {
        background-image: url("~@/assets/images/i18n/th/win-big.png") !important;
        background-size: 100% 100%;
    }
    //新人教程第四步
    .dj-guide .step4 .info{
        top: 430px !important;
    }
    .lottery-enter-container {
        .enter-icon {
            background: url('~@/assets/images/common/lottery-enter-en.png') no-repeat !important;
            background-size: 100% !important;
        }
    }
    
    .lol-table .lol-table-header .result {
        white-space: nowrap;
    }

    .chase-detail-lol .trace-details .details-list li span:first-child {
        white-space: nowrap;
        width: 120px;
    }

    .report-details-page-lol .lol-table-detail .lol-table-header {
        font-size: 10px;
        align-items: center;
        line-height: 1.2;
    }

    .lol-table .lol-table-body .table-tr .last {
        padding-right: 5px !important;
    } 
    .asiad-game .asiad-title .words1{
        font-size: 13px;
    }

} 