.lang_zh{
    // 输半
    .market-failure-half {
        background-image: url("~@/assets/images/i18n/zh_tw/market-failure-half.png");
        background-size: cover;
    }
    // 赢半
    .market-win-half {
        background-image: url("~@/assets/images/i18n/zh_tw/market-win-half.png");
        background-size: cover;
    }
    //胜利
    .market-win {
        background-image: url("~@/assets/images/i18n/zh_tw/market-win.png");
        background-size: cover;
    }
    //失败
    .market-failure {
        background-image: url("~@/assets/images/i18n/zh_tw/market-failure.png");
        background-size: cover;
    }
    .antData-win{
        background: url("~@/assets/images/i18n/zh_tw/antData-win.png") center / cover;
    }
    .antData-failure{
        background: url("~@/assets/images/i18n/zh_tw/antData-failure.png") center / cover;
    }
    // 红色按钮
    .home-btn-red{
        background-image: url("~@/assets/images/i18n/zh_tw/home-btn-red.png");
        background-size: cover;
    }
    .home-btn-more{
        background-image: url("~@/assets/images/i18n/zh_tw/home-btn-more.png");
        background-size: cover;
    }
    .btn-more-red{
        background-image: url("~@/assets/images/i18n/zh_tw/btn-more-red.png");
        background-size: cover;
    }

    // 前瞻小局赢
    .league-result-item .icon-win {
        background-image: url("~@/assets/images/i18n/zh_tw/win-big.png") !important;
        background-size: 100% 100%;
    }
}