<template>
    <div class="market" id="market">
        <marketHeader
            v-if="virtualMatch.match_team && virtualMatch.match_detail && virtualMatch.match_detail.length > 0"
            :fromName ="fromName"
        />
        <template v-if="!recordShow">
            <template v-if="!marketLoading">
                <!-- 盘口列表 -->
                <template v-if="virtualMatch.match_detail && virtualMatch.match_detail.length > 0">
                    <div class="match-tabs">
                        <div :class="['toggle-collapse', {'collapse': !collapseAll}]" @click="toggleCollapseAll"></div>
                        <div class="line-ver"></div>
                        <ul class="play-option" ref="playOptionScroll">
                            <li v-for="(ele,key) in virtualMatch.match_detail"
                                :class="['option-name', key === activeMenu ? 'active' : '']"
                                :key="key"
                                @click="onTabClick($event, key)">
                                {{ ele.name }}
                            </li>
                            <div class="active-line" :style="activeLine"></div>
                        </ul>
                        <div class="line-ver"></div>
                        <div class="match-statistics" v-if="virtualMatch.status < 6" @click="showRecord"></div>
                    </div>
                    <div class="market-vsports-list" ref="marketsScroll">
                        <listItem 
                            v-show="market.visible"
                            v-for="(market, index) in marketList"
                            :market="market" 
                            :matchs="virtualMatch"
                            :key="market.id" 
                            :collapseAll="collapseAll"
                            @toTop="toTop($event, index)"
                        />
                    </div>
                </template> 
                <!-- 无盘口信息 -->
                <common-not-data
                    v-else
                    class="not-account-data"
                    :title="i18n.zanwu"
                    :subTitle="i18n.zanwutishi"
                    backgroundImg="not-data-match"
                    paddingTop="30px">
                </common-not-data>
            </template>
            <list-load class="market-loading" v-else/>
        </template>
        <virtualSportsStatistic 
            v-else
            @hideRecord="hideRecord" />
    </div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import mixAddCart from "@/views/common/mixins/mixAddCart.js";
import mixMatchStatus from "@/views/common/mixins/mixMatchStatus.js";
import mixBetStatus from "@/views/common/mixins/mixBetStatus.js";
import commonNotData from "@/views/common/commonNotData";
import listItem from "./listItem"
import marketHeader from "./market-header"
import listLoad from "@/views/common/listLoad"
import virtualSportsStatistic from "@/views/marketsVSports/virtualSportsStatistic"

export default {
    mixins: [ mixAddCart, mixMatchStatus, mixBetStatus],
    components:{ commonNotData, marketHeader, listItem, listLoad, virtualSportsStatistic},
    data(){
        return{
            activeMenu: 0,
            marketLoading: true,
            fromName: '', // 详情页入口页面
            i18n: this.$t('marketPage.index'),
            offsetLeft: 12,
            collapseAll: false,
            recordShow: false,
        }
    },

    created(){
        const {id} =this.$route.params;
        this.getMarketList(id)
    },

    computed:{
        ...mapGetters(["virtualMatch", "virtualGame"]),
        marketList(){
            console.log('this.virtualMatch.match_detail',this.virtualMatch.match_detail,this.marketLoading)
            return this.virtualMatch.match_detail[this.activeMenu].market_data;
        },
        activeLine(){
            return `transform: translateX(${this.offsetLeft}px); transition-duration: 0.3s;`
        }
    },
    watch:{
        "virtualGame.is_open_match"(v, ov) {
            if(!v){
                this.$store.commit("SET_DAILY_TAB", 'live'); // 切换赛事标签
                this.$store.commit("SET_MATCH_FLAG", 3);  
                console.log('赛事隐藏')
                this.$router.replace('/home');
            }
        },
    },
    methods:{
        ...mapActions(["fetchVirtualMatchDetail",]),
        // 获取赛事盘口详情
        getMarketList(match_id){
            this.marketLoading = true;
            this.fetchVirtualMatchDetail({
                match_id,
                matchStatus: 0,
            }).then( res => {
                this.marketLoading = false;
            })
        },
        onTabClick: function(event, activeMenu){
            if (activeMenu !== this.activeMenu) {
                this.activeMenu = activeMenu;
            }
            const {offsetLeft, clientWidth} = event.currentTarget;
            // 滑块居中
            const centerPX = (clientWidth - 28) / 2;
            this.offsetLeft = offsetLeft + centerPX;
        },
        toggleCollapseAll(){
            this.collapseAll = !this.collapseAll;
        },
        showRecord(){
            this.recordShow = true;
        },
        hideRecord(){
            this.recordShow = false;
        },
    },

    beforeDestroy() {
        this.$store.commit("SET_VIRTUAL_MATCH",{});
    },
    beforeRouteEnter(to, from, next) {
        console.log('beforeRouteEnter');
        next((vm) => {
            vm.fromName = from.name;
        });
    },
}
</script>

<style lang="less" scoped>
    .flip-list-move {
        transition: transform .5s;
    }
    .market{
        overflow-x: hidden;
        overflow-y: auto;
        padding-top: 49px;
        display: flex;
        flex-direction: column;
        // scroll-behavior: smooth;
        .match-tabs{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            flex: 0 0 40px;
            background: hsla(0,0%,100%,.1);
            backdrop-filter: blur(10.66667vw);
            .toggle-collapse{
                width: 24px;
                height: 24px;
                margin: 0 8px;
                flex: 0 0 24px;
                background-image: url("~@/assets/images/vsports/expand.png");
                background-size: contain;
                &.collapse{
                    background-image: url("~@/assets/images/vsports/collapse.png");
                    background-size: contain;
                }
            }
            .line-ver{
                background: rgba(255,255,255,0.20);
                border-radius: 1px;
                width: 1px;
                height: 12px;
            }
            .play-option{
                opacity: 0.6;
                font-size: 14px;
                color: #FFFFFF;
                text-align: center;
                font-weight: 500;
                display: flex;
                overflow: auto;
                position: relative;
                height: 40px;
                align-items: center;
                .option-name{
                    font-size: 14px;
                    text-align: center;
                    font-weight: 600;
                    margin:0 12px;
                    flex: 0 0 auto;
                    &.active{
                        color: #0095FF;
                    }
                }
                .active-line{
                    width: 28px;
                    height: 4px;
                    background-color:linear-gradient(180deg, rgba(31,219,255,0.00) 1%, rgba(76,175,245,0.36) 100%);
                    border-bottom: 2px solid #4caff5;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }
            }
            .match-statistics{
                width: 24px;
                height: 24px;
                margin: 0 8px;
                flex: 0 0 24px;
                background-image: url("~@/assets/images/vsports/statistics.png");
                background-size: contain;
            }
        }
        .market-vsports-list{
            flex: 1 1 0;
            padding: 8px 8px 56px;
            backdrop-filter: blur(40px);
            @supports not (backdrop-filter: blur()){
                background: #1E2329;
            }
            position: relative;
            border-radius: 8px;
            border: 1px solid rgba(255,255,255,0.1);
            overflow: auto;
            .market-line{
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 0 20px;
                &.round-active .words{
                    color: #1fa2ff;
                }
                &::before{
                    content: "";
                    flex: 1;
                    height: 1px;
                    background: rgba(255,255,255,0.06);
                }
                &::after{
                    content: "";
                    flex: 1;
                    height: 1px;
                    background: rgba(255,255,255,0.06);
                }
                .words{
                    width: 76px;
                    font-size: 14px;
                    color: rgba(255,255,255,0.6);
                    text-align: center;
                }
            }
            .list-item:not(:last-child) {
                margin-bottom: 8px;
            }
        }
        .market-header-box{
            height: 210px;
            flex: 0 0 210px;
        }
        .market-loading{
            margin-top: 30px;
        }
    }
</style>