<template>
    <div class="list-item">
        <div class="market-name" @click="toggleCollapse">
            <b class="words"> {{ market.name }} </b>
        </div>
        <!-- 盘口未结算 -->
        <transition name="collapse" v-if="matchs.matchStatus < 2">
            <div :class="{'item-info': market.option_type !== 5, 'col3' : market.option_type == 6}"  v-show="!collapse">
                <!-- 布局一: 左右布局,隐藏的投注项自动顶上来 -->
                <template v-if="![5,6].includes(market.option_type)">
                    <div class="info-left">
                        <BetItem
                            v-for="item in market.odds.filter( (e, idx) =>  idx % 2 == 0)"
                            :key="item.id"
                            position="left"
                            v-show="item.visible == 1"
                            :info="{
                                itemid: item.id,
                                marketid: market.id,
                                matchid: matchs.id,
                                match: matchs,
                                market:market,
                                item: item,
                            }"
                            :isVr="true"
                            :showCrossIcon="true"
                            crossClass="detail-cross"
                        >
                            <template #itemName>
                                <div class="item-name-box" v-html="getTeams(item.name)"></div>
                            </template>
                        </BetItem>
                    </div>
                    <div class="info-right">
                        <BetItem
                            v-for="item in market.odds.filter( (e, idx) =>  idx % 2 != 0)"
                            :key="item.id"
                            position="right"
                            v-show="item.visible == 1"
                            :info="{
                                itemid: item.id,
                                marketid: market.id,
                                matchid: matchs.id,
                                match: matchs,
                                market:market,
                                item: item,
                            }"
                            :isVr="true"
                            :showCrossIcon="true"
                            crossClass="detail-cross"
                        >
                            <template #itemName>
                                <div class="item-name-box" v-html="getTeams(item.name)"></div>
                            </template>
                        </BetItem>
                    </div>
                </template>
                <!-- 布局二: 三个投注项并排 -->
                <template v-else-if="market.option_type === 6">
                    <div
                        v-for="(item, index) in market.odds"
                        :key="item.id"
                        :class="`info-${['left','middle','right'][index]}`">
                        <BetItem
                            :key="item.id"
                            :position="['left','middle','right'][index]"
                            :info="{
                                itemid: item.id,
                                marketid: market.id,
                                matchid: matchs.id,
                                match: matchs,
                                market:market,
                                item: item,
                            }"
                            :showCrossIcon="true"
                            :isVr="true"
                            crossClass="detail-cross"
                        >
                            <template #itemName>
                                {{ getTeams(item.name) }}
                            </template>
                        </BetItem>
                    </div>
                </template>
                <!-- 布局三: 波胆三个投注项并排 -->
                <template v-else>
                    <div
                        class="item-info col3"
                        v-for="row in 14" 
                        :key="row">
                        <div
                            v-for="(item, index) in market.odds"
                            :key="index"
                            :class="`info-${['left','middle','right'][index]}`">
                            <BetItem
                                v-if="item[row-1]"
                                :key="item[row-1].id"
                                :position="['left','middle','right'][index]"
                                :info="{
                                    itemid: item[row-1].id,
                                    marketid: market.id,
                                    matchid: matchs.id,
                                    match: matchs,
                                    market:market,
                                    item: item[row-1],
                                }"
                                :showCrossIcon="true"
                                :isVr="true"
                                crossClass="detail-cross"
                            >
                                <template #itemName>
                                    {{ getTeams(item[row-1].name) }}
                                </template>
                            </BetItem>
                        </div>
                    </div>
                </template>
            </div>
        </transition>
        <!-- 盘口结算完成 -->
        <div class="sell-out-match" v-else v-show="!collapse">
            <div :class="['sellout-box', i % 2 == 0 ? 'left': 'right']" v-for="(item,i) in market.odds" :key="item.id">
                <span class="sellout-name" v-html="getTeams(item.name)"></span>
                <span class="sellout-winner">
                    <i v-show="item.is_winner == 0" class="winner-icon market-failure"></i>
                    <i v-show="item.is_winner == 1" class="winner-icon market-win"></i>
                    <i v-show="item.is_winner == 2" class="winner-icon market-win-half"></i>
                    <i v-show="item.is_winner == 3" class="winner-icon market-failure-half"></i>
                    <i v-show="item.is_winner == 4" class="winner-icon market-water"></i>
                </span>
            </div>
        </div>
    </div>    

</template>
<script>
import BetItem from "@/views/common/BetItem";
import mixBetStatus from "@/views/common/mixins/mixBetStatus.js";
import { oddStrTrans } from '@/assets/scripts/utils.js';
export default {
    mixins:[ mixBetStatus ],
    props:["market", "matchs", "collapseAll", ],
    components:{
        BetItem
    },
    data(){
        return {
            collapse: false,
        }
    },
    methods:{
        toggleCollapse(){
            console.log('toggleCollapse')
            this.collapse = !this.collapse;
        },
        getTeams(oddName){
            if(oddName){
                const team = this.matchs.match_team.split(',');
                return oddStrTrans(oddName).replace(/@T1/g,team[0]).replace(/@T2/g,team[1]);
            }
        }
    },
    watch:{
        'collapseAll'(v){
            this.collapse = v;
        },
    }
}
</script>
<style lang="less" scoped>
.collapse-enter-active, .collapse-leave-active {
  transition: max-height .5s;
  max-height: 2000px;
}
.collapse-enter, .collapse-leave-to {
  max-height: 0;
}
.list-item{
    background: rgba(0,0,0,0.20);
    border-radius: 4px;
    border: 1px solid rgba(255,255,255,0.1);
    &:not(:last-child){
        margin-bottom: 20px;
    }
    &.list-visible {
        display: none;
    }
}

.market-name{
    padding: 0 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 16px;
    padding: 12px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    .words{
        font-size: 12px;
        color: rgba(255,255,255,1);
        padding-left: 8px;
        position: relative;
        flex: 1;
        &::after{
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            width: 2px;
            height: 10px;
            background: #E7BB02;
            border-radius: 5px;
            transform: translateY(-50%);
        }
    }
    .to-top{
        width: 24px;
        height: 24px;
        background-image: url("~@/assets/images/vsports/toTop.png");
        background-size: contain;
        &.active{
            background-image: url("~@/assets/images/vsports/toToped.png");
            background-size: contain;
        }
    }
}

.item-info{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    //max-height: 2000px;
    // transition: max-height .5s;
    // transition-delay: 0s;
    overflow: hidden;
    // &.collapse{
    //     max-height: 0;
    //     // transition: max-height 1.5s;
    //     // transition-delay: 0s;
    // }
    &.col3{
        .info-left,.info-right,.info-middle{
            width: 111px;
            .BetItem-box{
                width: auto !important;
            }
        }
        & /deep/ .item-name{
            max-width: 100px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .item-odds{
        font-size: 14px;
        margin-top: 0;
    }
    
    .BetItem-box.middle{
        width: 111px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        margin-top: 8px;

        &:nth-child(1){
            border-radius: 0 4px 4px 0;
            border: none;
            &:after{
                border: none;
                width: 100%;
                height: 100%;
                background-image: url("~@/assets/images/market/odds-right-default.png");
                background-size: 100% 100%;
                transform: scale(1);
                border-radius: 0;
            }
        }

        &:nth-child(3){
            border-radius: 4px 0 0 4px;
            border: none;
            &:after{
                border: none;
                width: 100%;
                height: 100%;
                background-image: url("~@/assets/images/market/odds-left-default.png");
                background-size: 100% 100%;
                transform: scale(1);
                border-radius: 0;
            }
        }

        &.box-active{
            &:nth-child(1)::after{
                background-image: url("~@/assets/images/market/odds-right-true.png");
                background-position: right top;
            }               
            &:nth-child(3)::after{
                background-image: url("~@/assets/images/market/odds-left-true.png");
                background-position: left top;
            }
        }

        .item-name {
            width: 100%;
            font-size: 12px;
            color: rgba(255,255,255,0.6);
            text-align: center;
            word-break: break-all;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .bubbles-box{
            transform: scale(101/528, 48/152);
        }
    }
    .info-left,.info-right{
        width: 171px;
        .BetItem-box{
            display: flex;
            justify-content: space-between;
            align-content: center;
            margin: 8px 0;
            &.left,&.right{
                width: 171px;
                height: 40px;
            }
            &.left{
                flex-direction: row;
                border-radius: 0 4px 4px 0;
                border: none;
                &:after{
                    border: none;
                    width: 100%;
                    height: 100%;
                    background-image: url("~@/assets/images/market/odds-right-default.png");
                    background-size: 100% 100%;
                    transform: scale(1);
                    border-radius: 0;
                }
            }
            &.right{
                flex-direction: row-reverse;
                border-radius: 4px 0 0 4px;
                border: none;
                &:after{
                    border: none;
                    width: 100%;
                    height: 100%;
                    background-image: url("~@/assets/images/market/odds-left-default.png");
                    background-size: 100% 100%;
                    transform: scale(1);
                    border-radius: 0;
                }
                .item-name{
                    text-align: right;
                }
            }
            &.box-active{
                &.left::after{
                    background-image: url("~@/assets/images/market/odds-right-true.png");
                }               
                &.right::after{
                    background-image: url("~@/assets/images/market/odds-left-true.png");
                }
            }
            .item-name {
                max-width: 100px;
                font-size: 12px;
                color: rgba(255,255,255,0.6);
                // word-break: break-word;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                .item-name-box{
                    font-size: 12px;
                    color: rgba(255,255,255,0.6);
                    width: 100%;
                    word-break: break-all;
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    line-height: 15px;
                    -webkit-line-clamp: 2;
                    overflow:hidden;
                    /*! autoprefixer: off */
                    -webkit-box-orient: vertical;
                }
            }
            .bubbles-box{
                transform: scale(151/528, 48/152);
            }
        }
    }

}
.sell-out-match{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .sellout-box{
        width: 171px;
        height: 40px;
        // background: rgba(0,0,0,0.10);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 12px;
        margin: 8px 0;
        position: relative;
        
        &.left{
            flex-direction: row;
            .sellout-winner{
                margin-right: -8px;
            }
            &:after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: url("~@/assets/images/market/odds-right-false.png");
                background-size: 100% 100%;
            }
        }
        &.right{
            flex-direction: row-reverse;
            .sellout-name{
                text-align: right;
            }
            .sellout-winner{
                margin-left: -8px;
            }
            &:after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-image: url("~@/assets/images/market/odds-left-false.png");
                background-size: 100% 100%;
            }
        }
        .sellout-name {
            max-width: 90px;
            font-size: 12px;
            color: rgba(255,255,255,0.6);

            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            overflow:hidden;
            /*! autoprefixer: off */
            -webkit-box-orient: vertical;

        }
        .sellout-winner{
            width: 32px;
            height: 32px;
            margin-top: -7px;
            i{
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    }
}

.hide-item{
    display: none;
}
</style>