<template>
    <div>
        <!-- 顶部 -->
        <div class="header-top" >
            <div 
                @click="goBack" 
                class="left common-go-back">
            </div>
            <div class="header-info">
                <div class="team-name home"> {{ virtualMatch.match_team.split(',')[0] }} </div>
                <TeamImage class="logo-left" :url="global.TeamImages[virtualMatch.team_id.split(',')[0]]" />
                <div class="vs">vs</div>
                <TeamImage class="logo-right" :url="global.TeamImages[virtualMatch.team_id.split(',')[1]]" />
                <div class="team-name"> {{ virtualMatch.match_team.split(",")[1] }} </div>
            </div>
        </div>
        <!-- 倒计时视频 -->
        <div class="stage-wrapper">
          <virtualSportsStage 
            v-if="virtualMatch.sid"
            from="detail"
            :key="`detail-${virtualMatch.sid}`">
          </virtualSportsStage>
        </div>
    </div>
</template>
<script>
import { mapGetters } from "vuex";
import virtualSportsStage from "@/views/common/virtualSportsStage.vue";
export default {
    name:"market-header-v",
    components:{
        virtualSportsStage
    },
    props:[
        "fromName",
    ],
    data(){
        return {
            global,
        }
    },
    computed:{
        ...mapGetters([
            "virtualMatch",
        ]),
    },
    methods:{
        goBack(){
            this.$router.replace('/vSports/1001')
        },
    }
}
</script>
<style lang="less" scoped>
    .header-top{
        width: 100%;
        height: 49px;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1001;
        background-size: 100% auto;
        background-color: #1E2635;
        display: flex;
        justify-content: center;
        align-items: center;
        .left{
            width: 24px;
            height: 24px;
            position: absolute;
            left: 16px;
            top: 50%;
            transform: translateY(-50%);
        }
        .header-info{
            display: flex;
            justify-content: center;
            align-items: center;
            .team-name{
                width: 90px;
                font-size: 12px;
                color: #FFFFFF;
                font-weight: 400;
                &.home{
                    display: flex;
                    justify-content: flex-end;
                }
            }
            .team-logo-image{
                width: 24px;
                height: 24px;
                margin: 0 4px 0 16px;
                &.logo-left{
                    margin: 0 16px 0 4px;
                }
            }
        }
    }
    .stage-wrapper{
        width: 351px;
        height: 198px;
        margin: 0 auto;
    }

</style>