<template>
  <div class="c-match-startistic">
    <!-- 历史战绩 -->
    <div class="historical-record">
        {{this.$t('virtualSports.detail.historyRecord')}}
        <div class="close" @click="hideRecord"></div>
    </div>
    <!-- 比分板 -->
    <div class="score-list">
      <div
        v-for="(score, index) in scoreList"
        :key="index+'-'"
        class="score-item"
      >
        <div class="info home">
          <span
            :class="['line home', score.home == 0 && 'line0']"
            :style="`width:${score.home * 10}%`"
          ></span>
          <span class="score">{{ score.home }}</span>
        </div>
        <div class="separate"></div>
        <div class="info away">
          <span
            :class="['line away', score.away == 0 && 'line0']"
            :style="`width:${score.away * 10}px`"
          ></span>
          <span class="score">{{ score.away }}</span>
        </div>
      </div>
    </div>
    <!-- 胜负百分比 -->
    <div class="result-wrap">
      <div class="home item">
        <div class="win-percent">{{ virtualMatch.home_win }}%</div>

        <div class="result-list home">
          <div
            v-for="(val, index) in virtualMatch.home_status"
            :key="index"
            :class="['result-item', 'item-' + val]"
          >
            {{ getWLD(val) }}
          </div>
        </div>
      </div>

      <div class="away item">
        <div class="win-percent">{{ virtualMatch.away_win }}%</div>

        <div class="result-list">
           <div
            v-for="(val, index) in virtualMatch.away_status"
            :key="index"
            :class="['result-item', 'item-' + val]"
          >
            {{ getWLD(val) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
 
<script>
import { mapGetters } from "vuex"
export default {
  data() {
    return {
      scoreList: [],
    };
  },
  computed:{
    ...mapGetters([
      'virtualMatch',
    ]),
  },
  created() {
    this.getScoreList();
  },

  methods: {
    getScoreList() {
        let { history_score } = this.virtualMatch;
        // 比分
        let scoreList = [];
        history_score.forEach(item => {
            let score = item.split(":");
            let { 0: home, 1: away } = score;
            scoreList.push({
                home,
                away,
            });
        });
        this.scoreList = scoreList;
    },
    getWLD(val){
      let wld = 'D'
      switch(val){
        case -1:
          wld = 'L';
          break;
        case 1:
          wld = 'W';
          break;
        default:
          wld = 'D';
      }
      return wld;
    },
    hideRecord(){
        this.$emit('hideRecord')
    }
  },
};
</script>

<style lang="less" scoped>
.c-match-startistic{
    .historical-record{
        font-size: 14px;
        color: #0095FF;
        text-align: center;
        font-weight: 500;
        background: #ffffff1a;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .close{
            position: absolute;
            width: 16px;
            height: 16px;
            background-image: url("~@/assets/images/vsports/close.png");
            background-size: contain;
            top: 12px;
            right: 12px;
        }
    }
    .score-list{
        margin-top: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .score-item{
            display: flex;
            align-items: center;
            width: 100%;
            .info{
                flex: 1;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                &.away{
                    flex-direction: row-reverse;
                }
                .line{
                    height: 3px;
                    border-radius: 1.5px;
                    &.home{
                        background: #FF4B34;
                        margin-right: 8px;
                    }
                    &.away{
                        background: #006AFF;
                        margin-left: 8px;
                    }
                    &.line0{
                      width: 2px !important;
                    }
                }
                .score{
                    font-size: 14px;
                    color: #FFFFFF;
                    line-height: 26px;
                    font-weight: 700;
                }

            }
            .separate{
                width: 10px;
                height: 2px;
                margin: 0 12px;
                background: #FFFFFF4d;
                border-radius: 2px;
            }
        }
    }
    .result-wrap{
        margin-top: 12px;
        padding:0 55px;
        display: flex;
        .item{
            flex: 1;
            &.home{
                margin-right: 17px;
                .win-percent{
                    text-align: right;
                }
            }
            &.away{
                margin-left: 17px;
            }
            .win-percent{
                font-size: 12px;
                color: #FFFFFF;
                font-weight: 700;
            }
            .result-list{
                margin-top: 8px;
                display: flex;
                flex-wrap: wrap;
                &.home{
                    justify-content: flex-end;
                }
                .result-item{
                    color:#FFFFFF;
                    width: 16px;
                    height: 16px;
                    margin: 0 4px 4px 0;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 12px;
                    border-radius: 2px;
                    &:not:last-of-type{
                        margin-right: 4px;
                    }
                    &.item-1{
                        background-color:rgb(223, 60, 61);
                    }
                    &.item-0{
                        background-color:rgb(238, 103, 35);
                    }
                    &.item--1{
                        background-color:rgb(81, 99, 135);
                    }
                } 
            }
        }
    }
}

</style>

