<template>
    <span
        v-show="localShow"
        class="mk-tooltip-g"
        :class="[className ? className : '']"
        :style="tooltipOffset ? `left: ${tooltipOffset}` : ''"
        @click.stop.prevent="clickOnTip"
    >
        <component
            v-if="subComponent"
            :is="subComponent"
            v-bind="data"
            v-on="listener"
            @close="close"
        ></component>
        <slot v-else>
            <!-- 默认元素 -->
            {{ message }}
            <span v-show="showKnow" class="inner-btn" @click.stop.prevent="close">{{$t('yxzh.components.ack')}}</span>
        </slot>
        <span class="carrot" :style="carrotOffset ? `left: ${carrotOffset}` : ''"></span>
       
    </span>
</template>

<script>
export default {
    name: 'Tooltip',
    model: {
        prop: 'show',
        event: 'toggleShow',
    },
    props: {
        show: {
            type: Boolean,
            default: true,
        },
        autoClose: Number,
        subComponent: Object,
        data: Object,
        listener: Object,
        message: String,
        trigger: {}, // 触发元素的事件 or 触发的元素
        tooltipOffset: {
            type: String,
            default: '',
        },
        carrotOffset: {
            type: String,
            default: '',
        },
        showKnow: {
            type: Boolean,
            default: true,
        },
        // 点击其他元素不隐藏
        globleAlone: {
            type: Boolean,
            defaut: false,
        },
        className: {
            type: String,
            default: ''
        }
    },

    data() {
        return {
            localShow: this.show,
        }
    },

    created() {
        window.addEventListener('click', this.clickOutMe, true)
    },

    methods: {
        close() {
            this.$emit('toggleShow', false)
            this.localShow = false
            this.listener && this.listener.close && this.listener.close()
        },
        temporarilyClose(){
            this.localShow = false
        },
        clickOnTip() {
            if (this.globleAlone) {
                return
            }

            this.$emit('toggleShow', false)
            this.localShow = false
            this.listener && this.listener.click && this.listener.click()
        },

        clickOutMe(event) {
            if (this.$el && !this.$el.contains(event.target) && !this.globleAlone) {
                this.$emit('toggleShow', false)
                this.localShow = false
            }
        },
    },

    destroyed() {
        window.removeEventListener('click', this.clickOutMe, true)
    },

    watch: {
        show: {
            handler(v) {
                this.localShow = v
                // if(this.localShow){
                //     this.$nextTick(()=>{
                //         let dom= document.querySelector(".mk-tooltip-g");
                //         let compStyles = window.getComputedStyle(dom);
                //         let h=compStyles.getPropertyValue('height');
                //         dom.style.marginTop=-parseFloat(h)+'px';
                //     })
                // }

                if (this.timerHandler) {
                    clearTimeout(this.timerHandler)
                    this.timerHandler = null
                    this.$emit('toggleShow', false)
                    this.localShow = false
                }

                if (v && this.autoClose) {
                    this.timerHandler = setTimeout(() => {
                        this.$emit('toggleShow', false)
                        this.localShow = false
                    }, this.autoClose)
                }
            },
            immediate: true,
        },
    },
}
</script>

<style lang="scss">
.mk-tooltip-g {
    $backgroundColor: #5f7cea;
    position: absolute;
    top: -10px;
    left: 50%;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 30px;
    transform:rotate(0) translate(-50%,-100%);
    background-color: $backgroundColor;
    color: #fff;
    font-size: 12px;
    line-height: normal;
    z-index: 99999;

    .inner-btn {
        border: 1px solid #e5e5e5;
        border-radius: 25px;
        line-height: 25px;
        padding: 0 1em;
        display: inline-block;
    }

    .carrot {
        position: absolute;
        left: 50%;
        bottom: -13px;
        display: block;
        width: 0px;
        height: 0px;
        padding:0;
        margin-left:-5px;
        border: 8px solid transparent;
        border-top-color: $backgroundColor !important;
        &.left {
            right: none;
            left: 20px;
        }
    }

    // @at-root .ios & .carrot {
    //     bottom: -15.3px;
    // }
}
</style>
