<template>
  <div class="data-reference">
    <div class="right" ref="playTypeRight">
        <transition name="fade" mode="out-in">
            <statistics-map v-show="imgIndex === 1"></statistics-map>
        </transition>
        <transition name="fade" mode="out-in">
            <div v-show="imgIndex === 2" class="transition-box">
              <mk-canvas
                  @getPredict="getPredict"
                  @scrollLeft="scrollLeft('nn')"
                  :marginXY="23"
                  template="dalu"
                  :dataList="nnArr"
                  :minXY="14"
                  ref="nn"
                  :ratioRender="true"
                  borderStrokeStyle="#47516a"
              />
            </div>
        </transition>
        <transition name="fade" mode="out-in">
            <div v-show="imgIndex === 3" class="transition-box">
              <mk-canvas
                  @getPredict="getPredict"
                  @scrollLeft="scrollLeft('yj')"
                  :marginXY="23"
                  template="dalu"
                  :dataList="yjArr"
                  :minXY="14"
                  ref="yj"
                  :ratioRender="true"
                  borderStrokeStyle="#47516a"
              />
            </div>
        </transition>
        <transition name="fade" mode="out-in">
            <div v-show="imgIndex === 4" class="transition-box">
              <mk-canvas
                  @getPredict="getPredict"
                  @scrollLeft="scrollLeft('ty')"
                  :marginXY="23"
                  template="lolty"
                  :dataList="tyArr"
                  :minXY="19"
                  ref="ty"
                  :ratioRender="true"
                  borderStrokeStyle="#47516a"
              />
            </div>
        </transition>
    </div>
    <div class="left">
      <img @click="imgIndex = 1" :src="
        imgIndex === 1 ? require('@/assets/images/tese-lol/tb/lz_tj_active.png') : require('@/assets/images/tese-lol/tb/lz_tj.png')" />
      <img @click="imgIndex = 2" :src="
        imgIndex === 2 ? require('@/assets/images/tese-lol/tb/lz_nn_active.png') : require('@/assets/images/tese-lol/tb/lz_nn.png')" />
      <img @click="imgIndex = 3" :src="
        imgIndex === 3 ? require('@/assets/images/tese-lol/tb/lz_yj_active.png') : require('@/assets/images/tese-lol/tb/lz_yj.png')" />
      <img @click="imgIndex = 4" :src="
        imgIndex === 4 ? require('@/assets/images/tese-lol/tb/lz_ty_active.png') : require('@/assets/images/tese-lol/tb/lz_ty.png')" />
    </div>
  </div>
</template>

<script>
import {
    mapState,
} from 'vuex'
import StatisticsMap from './StatisticsMap.vue'
import mkCanvas from '@/views/lottery/wayMap/mk-canvas/mkCanvas'
import lottery from '@/views/lottery/wayMap/mk-canvas/lottery'
import { get } from 'lodash'
export default {
    name: 'DataReference',
    components: {
      StatisticsMap,
      mkCanvas,
    },
    data() {
      return {
        isAnimation: false,
        predict: [],
        historyList: [],
        lotteryOpenNum: [],
        yjArr: [],
        tyArr: [],
        nnArr: [],
        floatView: false
      }
    },

    computed: {
      ...mapState({
          currentOpenNumHistory: (state) => state.lottery.currentOpenNumHistory || [],
      }),
      imgIndex: {
        get() {
          return this.$store.state.setting.imgIndex || 1
        },
        set(v) {
          this.$store.commit('setImgIndex', v)
        }
      }
    },
    watch: {
      currentOpenNumHistory() {
        this.mathRules()
        setTimeout(()=> {
          switch(this.imgIndex) {
            case 2:
              this.$refs.nn.canvans.animationActionLol()
              break
            case 3:
              this.$refs.yj.canvans.animationActionLol()
              break
            case 4:
              this.$refs.ty.canvans.animationActionLol()
              break
          }
        }, 100)
      },
      imgIndex(v) {
        let mp = {
          2: 'nn',
          3: 'yj',
          4: 'ty',
        }
        this.$nextTick(() => {
          this.scrollLeft(mp[v])
        })
      }
    },
    methods: {
      // 寻找列表右侧滚动
      scrollLeft(ref) {
        let cv = get(this.$refs, [ref, 'canvans', 'canvas'])
        if(cv) {
          const MaxWidth = cv.parentElement.clientWidth
          const $left = cv.clientWidth - MaxWidth
          cv.parentElement.scrollLeft = $left >= 0 ? $left : 0
        }
      },
      // 预测下一颗出啥
      getPredict(row) {
          if (row.map === 'red') {
              if (row.text === 'red') {
                  this.$set(this.predict[0], row.codeName, 'red')
              } else {
                  this.$set(this.predict[0], row.codeName, 'blue')
              }
          } else {
              if (row.text === 'red') {
                  this.$set(this.predict[1], row.codeName, 'red')
              } else {
                  this.$set(this.predict[1], row.codeName, 'blue')
              }
          }
      },
      // 计算规则
      mathRules() {
        let historyList = this.currentOpenNumHistory.map(v => v.code)
        lottery.setTSLOLYJ.call(this, historyList).then(r => {
          this.yjArr = r
        })
        lottery.setTSLOLNN.call(this, historyList).then(r => {
          this.nnArr = r
        })
        lottery.setTSLOLTY.call(this, historyList).then(r => {
          this.tyArr = r
        })
      },
      resize(){
        const w = document.documentElement.clientWidth;
        const h = document.documentElement.clientHeight;
        const dpi = 9/16;
        console.log( w/h,  dpi)
        if( (w/h) > dpi ){
          this.floatView = true;
          this.$store.commit('setImgIndex', -1)
          this.$emit('resize', true);
        }else{
          this.floatView = false;
          this.$emit('resize', false);
          this.$store.commit('setImgIndex', 1)
        }
      }
    },
    created(){
      this.resize();
    },
    mounted() {
      this.mathRules();
      window.addEventListener('resize', () => this.resize(), false);

      document.addEventListener("touchstart", (e) => {
        if( this.floatView ){
          let playType = this.$refs.playTypeRight;
          if ( playType && playType.contains && !(playType.contains(e.target))) {
            this.$store.commit('setImgIndex', -1)
          }
        }
      },true);
    }

}
</script>

<style lang="less" scoped>
.data-reference {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    
  
    .left {
      background:url(~@/assets/images/tese-lol/tb/bg-data-right.png) no-repeat;
      border-left: none;
      height: 150px;
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 32px;
      align-items: center;
      background-size: 100%;
      background-position: 0 0;
      padding: 6px 0px;

      img {
        display: block;
        cursor: pointer;
        width: 22px ;
        height: 22px ;
      }
    }
    .right {
      margin-left: 8px;
      margin-right: 15px;
      width: 100%;
      height: 142px;
      flex: 1;
      position: relative;
      
      .transition-box {
        position: absolute;
        left: 0;
        margin-top: 2.5%;
        width: 334px;
        overflow-x: auto;
        overflow-y: hidden;
        height: 90%;
        background-color: rgb(27 22 45 / 30%);
        canvas {
          height: 100%;
          border-bottom: 0.7px solid #47516a; // canvas 底部神奇消失，模拟那线
          background: rgba(216,216,216, 5%);
        }
      }
    }
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
