<template>
    <span class="card">
      <div class="left">
        <div class="ro nv">
          <span>
            <span class="img-wrapper">
              <img ref="nv" :src="require('@/assets/images/tese-lol/tb/icon_female.png')" />
            </span>
            <span style="color: #fff">{{ $t('yxzh.staMap.role[0]') }}</span>
          </span>
          <span>{{data.gender[2]}}</span>
        </div>
        <div class="ro nan">
          <span>
            <span class="img-wrapper">
            <img ref="nan" :src="require('@/assets/images/tese-lol/tb/icon_male.png')" />
            </span>
            <span style="color: #fff">{{ $t('yxzh.staMap.role[1]') }}</span>
            </span>
          <span>{{data.gender[1]}}</span>
        </div>
        <div class="ro">
          <span>
            <span class="img-wrapper">
            <img ref="jin" :src="require('@/assets/images/tese-lol/tb/melee-icon2.png')" />
            </span>
            <span>{{ $t('yxzh.staMap.distance[0]') }}</span>
          </span>
          <span>{{data.jy[0]}}</span>
        </div>
        <div class="ro">
          <span>
            <span class="img-wrapper">
            <img ref="yuan" :src="require('@/assets/images/tese-lol/tb/remote-icon2.png')" />
            </span>
            <span>{{ $t('yxzh.staMap.distance[1]') }}</span>
          </span>
          <span>{{data.jy[1]}}</span>
        </div>
      </div>
      <div class="right">
        <svg width="200" height="80" viewBox="0 0 200 80">
          <defs>
            <linearGradient id="grad1" x1="0%" y1="0%" x2="0%" y2="100%">
              <stop offset="0%" style="stop-color:#fff;stop-opacity:.3" />
              <stop offset="100%" style="stop-color:#fff;stop-opacity:.02" />
            </linearGradient>
            <linearGradient id="grad2" x1="0%" y1="0%" x2="0%" y2="100%">
              <stop offset="0%" style="stop-color:#fff;stop-opacity:.04" />
              <stop offset="100%" style="stop-color:#fff;stop-opacity:0.04" />
            </linearGradient>
          </defs>
          <g class="yAxis">
            <line x1="15" :y1="getYNumber(0)" x2="100%" :y2="getYNumber(0)" style="stroke:rgba(255, 255, 255, 0.2); stroke-width: 2px;"></line>
          </g>
          <g class="bar" v-for="(x, i) in data.x" :key="i">
            <text :x="i * 29 + 33" :y="getYNumber(data.yMax + 2)" fill="rgba(255,255,255,0.8)">{{maxNumFilter(x)}}</text>
            <image :style="`transform-origin: ${i * 29 + 33}px 80px`" ref="tbImg" :x="imgX(i)" y="88" :xlink:href="zyImgs[i]" height="15"></image>
            
            <g class="stack-block" v-for="(block, i) of stackBlocks(x, i)" :key="i">
              <rect :x="block[0]" :y="block[1]"  :width="block[2]" :height="block[3]" :fill="block[4]"/>
            </g>

          </g>
        </svg>
      </div>
    </span>
</template>

<script>
import {  mapState } from 'vuex'
import { lolMap1, lolMap2 } from '@/views/lottery/util/lottery';

// <rect :x="i * 29 + 28" :y="(1 - getHeight(x)) * 100" :height="(getHeight(x)) * 100" width="11" rx="3" ry="3" fill="url(#grad1)"></rect>

function bounce(ref) {
  ref.classList.add('scale-draw')
  setTimeout(() => {
    ref.classList.remove('scale-draw')
  },8000)
}
export default {
    name: 'dataCard',
    data() {
        return {
          baseHeight: 100 - 20,
          baseWidth: 200,
          zyImgs: [
            require('@/assets/images/tese-lol/tb/tank.png'),
            require('@/assets/images/tese-lol/tb/warrior.png'),
            require('@/assets/images/tese-lol/tb/assassin.png'),
            require('@/assets/images/tese-lol/tb/mage.png'),
            require('@/assets/images/tese-lol/tb/support.png'),
            require('@/assets/images/tese-lol/tb/archer.png')
          ],
          maxYxis: 30,
        }
    },
    computed: {
      ...mapState({
          currentOpenNumHistory: (state) => state.lottery.currentOpenNumHistory || [],
      }),
      data() {
        let historyList = this.currentOpenNumHistory.map(v => v.code)
        let data = {
          jy: [0, 0],
          gender: [null, 0, 0],
          tb: [0,0,0,0,0,0],
        }
        if(historyList.length > 0) {
          historyList.forEach(v => {
            let type1 = lolMap1[Number(v.slice(0,2))]
            let type2 = lolMap2[Number(v.slice(0,2))]
            let gender = Number(v.slice(6))
            data.tb[type1]++
            data.jy[type2]++
            data.gender[gender]++
          })
          if(this.$refs.yuan && this.$refs.tbImg) {
            let v = historyList[0]
            let type1 = lolMap1[Number(v.slice(0,2))]
            let type2 = lolMap2[Number(v.slice(0,2))]
            let gender = Number(v.slice(6))
            type2 == 1 ? bounce(this.$refs.yuan) : bounce(this.$refs.jin)
            gender == 1 ? bounce(this.$refs.nan) : bounce(this.$refs.nv)
            bounce(this.$refs.tbImg[type1])
          }

          let t = Math.max(...data.tb)
          let len = Math.ceil(t % 5 === 0 ? t / 5 + 1 : t / 5) + 1
          data.yAxis = Array(len || 1).fill(0).map((v,i) => i * 5).filter(v => v<= this.maxYxis)
          data.xAxis = ['0','1','2','3','4','5',]
          data.x = data.xAxis.map(v => data.tb[v])
          data.yMax = Math.max(...data.yAxis)
        }
        return data
      },
    },
    methods: {
      getYNumber(y) {
        return (this.baseHeight - (y / this.data.yMax) * this.baseHeight ) || 0
      },
      getHeight(x) {
        return ( (x > this.maxYxis ? this.maxYxis : x) / this.data.yMax) || 0
      },
      maxNumFilter(v) {
        return v > this.maxYxis ? this.maxYxis + '+' : v
      },
      imgX (i) {
        let shift = [0,0,0,0,0,0]
        return i * 29 + 28 - shift[i]
      },
      // 堆块数组
      stackBlocks(x, i) {
        let totalHeight = this.baseHeight;
        let maxY = this.data.yMax;
        let blockWidth = 12, blockHeight = 2, gap = 1;
        // 深色堆块
        let dstartAxisY = (1 - this.getHeight(x)) * totalHeight;
        let axisX = i * 29 + 28;
        let maxHeight = this.getHeight(x) * totalHeight;
        let numd = Math.round( ( maxHeight + gap ) / (blockHeight + gap) );
        let dblocks = [];
        for (let i = 0; i < numd; i++) {
          let y = (blockHeight + gap ) * i + dstartAxisY;
          dblocks.push([axisX, y , blockWidth, blockHeight, 'url(#grad1)']);
        }
        let lblocks = [];
        let numl = Math.round( totalHeight / ( blockHeight + gap ) ) - numd;
        for (let i = 0; i < numl; i++) {
          let y = 0 + ( blockHeight + gap ) * i;
          lblocks.push( [axisX, y, blockWidth, blockHeight, 'url(#grad2)'] );
        }
        return lblocks.concat(dblocks);
      },

    },
}
</script>

<style lang="less" scoped>

img {
    max-width: 100%;
    height: auto;
}

.card {
  display: flex;
  flex-direction: row!important;
  font-size: 12px;
  align-items: center;
  // background: #161B2D;
  .left {
    width: 115px;
    .ro {
      margin-bottom: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100px;
      &:last-child {
        margin-bottom: 0px;
      }
      .img-wrapper {
        width: 23px;
        height: 23px;
        margin-right: 8px;
        border-radius: 5px;
        border-radius: 5px;
        // border: 1px solid #3b4c5f;
        // background: rgba(71,80,107,0.85);
        img {
          padding: 5px;
        }
      }
      &.nv {
        color: #FF6F71;
      }
      &.nan {
        color: #4FC1DE;
      }
      >span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:last-child {
          margin-right: 10px;
        }
      }
      >span:last-of-type(1) {
        float: right;
      }
    }
  }
  .right {
    font-size: 12px;
    svg {
      width: 200px;
      height: 140px;
      .yAxis {
        font-size: 8px;
      }
      .bar {
        text {
          text-anchor: middle;
          font-family: FZXBSK--GBK1-0;
          font-size: 12px;
          color: rgba(255,255,255,0.80);
        }
      }
      line {
        shape-rendering: crispEdges;
      }
    }
  }
  @keyframes scaleDraw {
      0% {
          transform: scale(1);
      }
      10% {
        transform: scale(1.4);
      }
      30% {
        transform: scale(1.2);
      }
      50% {
        transform: scale(1.4);
      }
      70% {
        transform: scale(1.2);
      }
      80% {
        transform: scale(1.4);
      }
      100% {
        transform: scale(1);
      }
  }
  .scale-draw {
    animation: scaleDraw 3s linear 0s;
  }
}
</style>
