<template>
    <div class="match anchor">
        <van-list
            v-if="hasMatch"
            v-model="loading"
            :finished="finished"
            :finished-text="i18n.finished"
            :immediate-check="false"
            @load="getMoreMatch"
            loading-text="loading..."
        >
            <ListItem 
                v-for="match in matchList.slice(0, matchLen)" 
                :key="match.id" 
                :match="match"
            />
        </van-list>
        <common-not-data
            v-else
            class="not-account-data"
            :title="i18n.notData"
            showLive="true"
            :subTitle="i18n.notDataSub"
            backgroundImg="not-data-match"
            paddingTop="90px">
        </common-not-data>
    </div>
</template>
<script>
import { mapGetters } from "vuex";
import commonNotData from "@/views/common/commonNotData";
import ListItem from "../ListItem/listItem";
export default {
    name:"anchor",
    components:{ 
        commonNotData,
        ListItem
    },
    data() {
        return {
            finished: false,
            loading: false,
            matchLen: 20,
            i18n: this.$t('homePage.list'),
        }
    },
    computed:{
        ...mapGetters([
            "matchList",
        ]),
        // 判断是否有赛事
        hasMatch(){
            const has = this.matchList.filter( ele => ele.visible ).length > 0
            return has;
        }
    },
    watch: {
        matchList(arr, oldArr) {
            if (arr.length <= 20) {
                this.finished = true
                this.matchLen = 20
            } else if (arr.length !== oldArr.length) {
                this.finished = false
                this.loading = false
                this.matchLen = 20
            }
        }
    },
    methods: {
        getMoreMatch() {
            const len = this.matchList.length;
            if (this.matchLen >= len) {
                this.finished = true;
                return;
            }
            setTimeout(() => {
                this.loading = false;
                this.matchLen = this.matchLen + 20
            }, 300);
        },
    }
}
</script>
<style lang="less">
.anchor{
    .match-item .item-col .tournament_name{
        max-width: 85px;
    }
}

</style>
