<template>
    <div class="match champion">
        <van-list
            v-model="loading"
            :finished="true"
            v-if="hasMatch" 
            :finished-text="i18n.finished"
            loading-text="loading..."
        >
            <template #loading>
                <listLoad />
            </template>

            <div class="match-list">
                <ListItem 
                    :scrollElement="scrollElement"
                    v-for="match in matchList" 
                    :key="match.id" 
                    :matchObj="match"
                    v-show="mqMatch[match.id].visible"
                />
            </div>
        </van-list>

        <common-not-data
            v-else
            :title="i18n.notData"
            showLive="true"
            :subTitle="i18n.notDataSub"
            backgroundImg="not-data-match"
            paddingTop="66px">
        </common-not-data>
    </div>
</template>
<script>
import { mapGetters } from 'vuex';
import commonNotData from "@/views/common/commonNotData";
import listLoad from "@/views/common/listLoad"
import ListItem from "../ListItem/championItem";
export default {
    name: 'champion',
    components:{ 
        ListItem,
        commonNotData, 
        listLoad 
    },

    data(){
        return {
            finished: false,
            loading: false,
            i18n: this.$t('homePage.list'),
        }
    },

    computed:{
        ...mapGetters([
            "sourceMatch",
            "matchList", 
            "page_size",
            "teamWords",
            "matchTeams",
            "mqMatch"
        ]),

        scrollElement(){
            return document.querySelector('.match-tabs .van-tabs__content')
        },

        // 判断是否有赛事
        hasMatch(){
            const has = this.matchList.filter( ele => ele.visible).length > 0
            return has;
        },
    },
}
</script>
