<template>
    <div class="match daily">
        <div v-if="hasMatch" class="match-list">
            <ListItem 
                v-for="match in collectList" 
                :key="match.id" 
                :match="match"
            />
            
            <div class="no-more">
                {{ i18n.finished }}
            </div>
        </div>
        <common-not-data
            v-else
            class="not-account-data"
            :title="i18n.collectNotData"
            showLive="true"
            :subTitle="i18n.collectNotDataSub"
            backgroundImg="no-data-collect"
            paddingTop="90px">
        </common-not-data>
    </div>
</template>
<script>
import { mapGetters } from 'vuex';
import commonNotData from "@/views/common/commonNotData";
import ListItem from "../ListItem/listItem";
import * as gameApi from "@/api/game.js";
import lodash from "lodash";
import { formatH5Bg } from '@/assets/scripts/utils'

export default {

    components:{ 
        commonNotData,
        ListItem
    },

    data(){
        return {
            i18n: this.$t('homePage.list'),
        }
    },
    
    computed:{
        ...mapGetters([
            "collects", 
            "gameSortCode",
            "images",
            "teamWords",
            "mqMatch"
        ]),

        // 判断是否有赛事
        hasMatch(){
            const has = this.collects.filter( ele => ele.visible ).length > 0
            return has;
        },

        curCollects() {
            let arr = [];
            const mqMatch = this.mqMatch;
            this.collects.forEach( (ele) => {
                arr.push({
                    ...ele,
                    ...mqMatch[ele.id]
                })
            });
            return arr
        },

    
        // 塞选已经开盘和未被隐藏的收藏赛事显示
        collectList(){
            let list = lodash.cloneDeep(this.curCollects.filter( ele => ele.status == 5 && ele.visible ));
            /***
             * 赛事排序
             * 有滚球比赛  赛事等级 ＞ 游戏序号 ＞ 赛事时间
             * 没有滚球   赛事时间 ＞ 赛事等级 ＞ 游戏序号
             * */
            // console.log( list )
            const liveMth = list.filter( ele => ele.is_live == 2 );
            const noLiveMth =  list.filter( ele => ele.is_live != 2 );

            liveMth.sort((a, b) => {
                const gameSortA = Number(this.gameSortCode[a.game_id]) || 1000;
                const gameSortB = Number(this.gameSortCode[b.game_id]) || 1000;
                return a.match_level_sort - b.match_level_sort || gameSortA - gameSortB || a.start_time - b.start_time || a.id - b.id;;
            })

            noLiveMth.sort((a, b) => {
                const gameSortA = Number(this.gameSortCode[a.game_id]) || 1000;
                const gameSortB = Number(this.gameSortCode[b.game_id]) || 1000;
                return a.start_time - b.start_time || a.match_level_sort - b.match_level_sort || gameSortA - gameSortB || a.id - b.id;;
            })
        
            list = [
                ...liveMth,
                ...noLiveMth
            ]
            list =  formatH5Bg(list, global.GameImages);
            list = list.filter( ele =>  {
                return ele.lower_team.includes(this.teamWords.toLowerCase())
            }); // 收藏赛事搜索
            return list;
        },

    },

    created(){
        // 切换收藏更新时间
        let liveData = this.collects.filter( ele => ele.is_live == 2 && ele.status == 5 ); // 滚球中的列表
        if(liveData.length == 0){ return }
        // // 数组对象根据ID去重
        // let hash = {};
        // liveData = liveData.reduce(function(item, next) {
        //     hash[next.id] ? '' : hash[next.id] = true && item.push(next);
        //     return item
        // }, [])

        // const ids = liveData.map( ele => ele.id);
        // const category = liveData.map( ele => ele.category);
        
        // gameApi.requestTimer().then( res => {
        //     if(res.data.status == "true"){
        //         this.$store.commit( "SET_MATCH_TIMER", res.data.data )
        //     }
        // });
        this.$store.dispatch("fetchTimer")
    },
}
</script>
