<template>
    <div class="match cross">
        <van-list
            v-if="hasMatch"
            v-model="loading"
            :finished="finished"
            :finished-text="i18n.finished"
            @load="onLoad"
            loading-text="loading..."
        >
            <template #loading>
                <listLoad />
            </template>
            <ListItem 
                v-for="match in matchList.slice(0, matchLen)" 
                :key="match.id" 
                :match="match"
            />
        </van-list>
        <common-not-data
            v-else
            class="not-account-data"
            :title="i18n.notData"
            showLive="true"
            :subTitle="i18n.notDataSub"
            backgroundImg="not-data-match"
            paddingTop="90px">
        </common-not-data>
    </div>
</template>
<script>
import { mapGetters } from "vuex";
import commonNotData from "@/views/common/commonNotData";
import ListItem from "../ListItem/listItem";
import listLoad from "@/views/common/listLoad"
export default {
    name:"match-cross",
    components:{ 
        commonNotData,
        ListItem,
        listLoad
    },
    props:["dateKey"],
    data() {
        return {
            finished: false,
            loading: false,
            matchLen: 20,
            i18n: this.$t('homePage.list'),
        }
    },
    computed:{
        ...mapGetters([
            "sourceMatch",
            "matchList",
            "crossDate",
            "page_size",
            "gameID",
            "teamWords"
        ]),
        // 判断是否有赛事
        hasMatch(){
            const has = this.matchList.filter( ele => ele.visible ).length > 0
            return has;
        }
    },
    watch: {
        matchList(arr, oldArr) {
            if (this.crossDate === -1) {
                this.matchLen =  this.matchList.length
            } else {
                if (arr.length <= 20) {
                    this.finished = true
                    this.matchLen = 20
                } else if (arr.length !== oldArr.length) {
                    this.finished = false
                    this.loading = false
                    this.matchLen = 20
                }
            }
        },
        // 改变页码
        dateKey(key, oldkye){
            if (key === -1) {
                this.$store.commit("SET_PAGE_SIZE", 30);
                this.finished = false;
                this.loading = false;
            }
            this.$store.commit("SET_CROSS_DATE", key);
        },
    },
    methods: {
        onLoad() {
            const len = this.matchList.length;

            // 全部数据
            if (this.crossDate === -1 && !this.teamWords) {
                if( len <  this.page_size){
                    this.finished = true;
                }else{
                    const { crossDate , gameID} = this;
                    this.$store.commit("SET_PAGE_SIZE", this.page_size + 30);
                    let datares = {   
                        game_id: gameID,
                        flag: 4,
                        day: crossDate,
                        page_size: this.page_size
                    };
                    this.$store.dispatch("fetchMatchList", datares).then( res => {
                        this.loading = false;
                        if( res.data.status == "true"  ) {
                            const data = res.data.data || []
                            if(data.length <  this.page_size){
                                this.finished = true;
                            }
                        }else {
                            this.finished = true;
                        }
                    })
                }
            } else {
                if (this.matchLen >= len) {
                    this.finished = true;
                    return;
                }
                setTimeout(() => {
                    this.loading = false;
                    this.matchLen = this.matchLen + 20
                }, 300);
            }
        },
    }
}
</script>
