<template>
  <div class="datetime-picker">
    <div class="title">
      <div
        class="flex y-center dj-btn"
        :class="!currentDateIndex && 'disabled-btn'"
        @click="prev"
      >
        <i class="common-icon-left" />
        <span class="text"> {{ i18n.shangyitian }} </span>
      </div>
      <div
        class="middle-date flex y-center x-center"
        @click.stop="showDateList = !showDateList"
      >
        <i class="calendar common-calendar" />
        <span class="date">{{ currentDate }}</span>
      </div>
      <div
        class="flex y-center dj-btn"
        :class="currentDateIndex === dateArr.length - 1 && 'disabled-btn'"
        @click="next"
      >
        <span class="text"> {{ i18n.xiayitian }} </span>
        <i class="common-icon-right" />
      </div>
    </div>
    <div class="bj" v-show="showDateList"></div>
    <ul class="content" :class="showDateList && 'show-date-list'">
      <li
        v-for="(item, index) in dateArr"
        :key="item.key"
        class="date-time dj-btn"
        :class="currentDateIndex === index && 'active-date-time'"
        @click="changeDatetime(index,item.key)"
      >
        <span>{{ item.name }}</span>
        <span class="ml8">{{ item.subname }}</span>
      </li>
    </ul>
  </div>
</template>

<script>
import { getNDate, getxingqi } from "@/assets/scripts/utils";
export default {
  name: "DatetimePicker",
  props: {
    value: 0,
    keys: {
      type: Array,
      required: true,
      default() {
        return [];
      },
    },
    isReverse: {
      type: Boolean,
      default: false,
    },
    allDays:{
      type: Boolean,
      default: false,
    },
    dailyTab: String,
  },
  data() {
    return {
      currentDateIndex: 0,
      dateArr: [],
      showDateList: false,
      i18n: this.$t('homePage.chooseDate'),
    };
  },
  computed: {
    gameID() {
      return this.$store.getters.gameID;
    },
    currentDate() {
      const date = this.dateArr[this.currentDateIndex];
      console.log( this.dateArr, this.currentDateIndex )
      return date ? date.name : "";
    },
  },
  watch: {
    // gameID() {
    //   this.init();
    // },
    currentDateIndex(i) {
      const date = this.dateArr[i];
      date && this.$emit("input", date.key);
    },
  },
  created() {
    this.init();
    this.$bus.$on("changeTabDateInte", () => {
      this.init();
    })
    document.documentElement.addEventListener("click", this.closed, false);
  },
  beforeDestroy() {
    this.$bus.$off("changeTabDateInte")
    document.documentElement.removeEventListener("click", this.closed);
  },
  methods: {
    init() {
      /**
       * 每次切换游戏或者切换赛事导航时更新时间，
       * 避免长时间未刷新页面，凌晨过后时间显示错误
       */
      const dateArr = [];
      const len = this.keys.length
      for (let i = 0; i < len; i++) {
        const item = this.keys[i];
        if( item.key === 999 || item.key === -1 ){
          dateArr.push({
            name: item.date,
            subname: "",
            key: item.key,
          });
        } else {
          dateArr.push({
            name: getNDate(item.date),
            subname: item.date === 0 ? this.i18n.jinri : getxingqi(item.date),
            key: item.key,
          });
        }

        !i && this.$emit("input", item.key)
      }
      if (!this.isReverse) {
        if( this.allDays ){
          this.currentDateIndex = 0;
        }else{
          this.currentDateIndex = 1;
        }
        this.dateArr = dateArr
      } else {
        this.currentDateIndex = len - 1;
        this.dateArr = dateArr.reverse()
      }
    },
    changeDatetime(index,itemKey) {
      this.trackDate(itemKey);
      if (index !== this.currentDateIndex) {
        this.$store.commit("SET_MATCH_LIST", []); // 清除上次的赛事列表
      }
      this.currentDateIndex = index;
    },
    prev() {
      this.trackDate();
      const l = this.dateArr.length;
      let i = this.currentDateIndex;
      if (i === 0) return;
      this.currentDateIndex = --i;
      this.$store.commit("SET_MATCH_LIST", []); // 清除上次的赛事列表
    },
    next() {
      this.trackDate();
      const l = this.dateArr.length;
      let i = this.currentDateIndex;
      if (i === l - 1) return;
      this.currentDateIndex = ++i;
      this.$store.commit("SET_MATCH_LIST", []); // 清除上次的赛事列表
    },
    closed() {
      this.showDateList = false;
    },
    trackDate(itemKey){
      switch(this.dailyTab){
        case "endGame":
            // 赛果界面的时间选择点击次数（即周一至周七的点击）统计
            // this.$store.commit("SET_TRACK", { tab: 24, page: 3 });
            break;
        default:
            // 赛事界面的时间选择点击次数（即周一至周七的点击）统计
            // this.$store.commit("SET_TRACK", { tab: 15, page: 2 });
      }
    }
  },
};
</script>

<style lang="less" scoped>
.datetime-picker {
  background: #3a424a;
  position: relative;
  .bj {
    position: absolute;
    left: 0;
    right: 0;
    height: calc(100vh - 32px - 38px - 50px);
    background: black;
    opacity: 0.6;
  }
  .title {
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    .common-icon-left,
    .common-icon-right {
      width: 16px;
      height: 16px;
    }
    .middle-date {
      flex: 1;
      .date {
        line-height: 1.4em;
      }
    }
    .text {
      font-size: 10px;
      opacity: 0.6;
      padding: 0 4px;
    }
    .calendar {
      width: 16px;
      height: 16px;
      // background: url("~@/assets/images/common/calendar.png") no-repeat center;
      // background-size: cover;
      margin-right: 6px;
    }
    .disabled-btn {
      opacity: 0.4;
    }
  }
  .content {
    height: 0;
    overflow: auto;
    background: #2b2f35;
    transition: height 0.3s ease;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    .date-time {
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.6;
      font-size: 14px;
      height: 36px;
      line-height: 36px;
      &:first-of-type {
        margin-top: 8px;
      }
      &.active-date-time {
        font-size: 16px;
        opacity: 1;
      }
    }
    &.show-date-list {
      height: 268px;
    }
  }
}
</style>