
<template>
    <div class="match">
        <van-list
            v-model="loading"
            :finished="finished"
            v-if="hasMatch" 
            :finished-text="i18n.finished"
            @load="onLoad"
            loading-text="loading..."
        >
            <template #loading>
                <listLoad />
            </template>

            <div class="match-list">
                <ListItem 
                    v-for="match in matchList" 
                    :key="match.id" 
                    :match="match"
                />
            </div>
        </van-list>

        <common-not-data
            v-else
            :title="i18n.notData"
            showLive="true"
            :subTitle="i18n.notDataSub"
            backgroundImg="not-data-match"
            paddingTop="66px">
        </common-not-data>
        
    </div>
</template>
<script>
import { mapGetters } from 'vuex';
import commonNotData from "@/views/common/commonNotData";
import listLoad from "@/views/common/listLoad"
import ListItem from "../ListItem/listItem";
export default {
    name: 'early',
    components:{ 
        ListItem,
        commonNotData, 
        listLoad 
    },
    props: {
        dateKey: {
            type: Number,
            default: 0
        },
    },
    data(){
        return {
            finished: false,
            loading: false,
            i18n: this.$t('homePage.list'),
        }
    },

    computed:{
        ...mapGetters([
            "sourceMatch",
            "matchList", 
            "earlyDate",
            "page_size",
            "gameID"
        ]),

        // 判断是否有赛事
        hasMatch(){
            const has = this.matchList.filter( ele => ele.visible ).length > 0;
            
            return has;
        }
    },
    watch: {
        dateKey: "changeSwipe"
    },
    methods:{
        // 改变页码
        changeSwipe(key){
            this.$store.commit("SET_PAGE_SIZE", 30);
            this.finished = false;
            this.loading = false;
            this.$store.commit("SET_EARLY_DATE", key);
        },

        // 加载更多
        onLoad(){
            if( this.matchList.length <  this.page_size){
                this.finished = true;
            }else{
                const { earlyDate , gameID} = this;
                this.$store.commit("SET_PAGE_SIZE", this.page_size + 30);
                let datares = {   
                    game_id: gameID,
                    flag: 2,
                    day: earlyDate,
                    page_size: this.page_size
                };
                this.$store.dispatch("fetchMatchList", datares).then( res => {
                    this.loading = false;
                    if( res.data.status == "true"  ) {
                        const data = res.data.data || []
                        if(data.length <  this.page_size){
                            this.finished = true;
                        }
                    }else {
                        this.finished = true;
                    }
                })
            }
        }
    }
}
</script>
