<template>
  <div class="end-game">
    <van-list
      v-model="loading"
      :finished="finished"
      v-if="hasMatch"
      :finished-text="i18n.finished"
      @load="onLoad"
      loading-text="loading..."
    >
      <template #loading>
        <listLoad />
      </template>

      <ul class="match-list">
        <li
          :class="['match-item','dj-btn',{'anchor-item': match.category==5}]"
          v-for="match in matchList"
          v-show="mqMatch[match.id].visible"
          @click="goMarkets(match)"
          :key="match.id"
        >
          <!-- 背景 -->
          <div
            class="bj"
            v-once
            :style="`background-image: url('${match.h5_bg ? UPLOAD_URL + match.h5_bg : ''}')`"
          ></div>
          <!-- 赛事信息 -->
          <div class="item-col flex y-center">
            <span class="flex y-center">
              <div class="game-logo">
                <span
                  :class="['logo', 'game-logo-sprite', logoCls(match.game_id)]"
                >
                </span>
              </div>
              <b class="bo" v-show="showHost(match.category)"> {{i18n.zhubosaishi}} </b>
              <b class="tournament_name">
                <b v-show="!hideBo(match.category) && match.bo != 0">{{ 'BO' + match.rel_bo  }} </b>
                {{ match.tournament_name }}
              </b>
            </span>
            <div class="match-count">
              <b class="icon common-match-more"></b><b class="count">{{ match.count }}</b>
            </div>
          </div>

          <!-- 队伍信息  -->
          <div class="item-col team-col">
            <div class="team-logo">
              <team-image :url="global.TeamImages[match.home_team]" />
              <span class="team-logo-name ellipsis">{{ i18nTransMatchTeam(match).split(",")[0] }}</span>
            </div>
            <div class="team-logo">
              <team-image :url="global.TeamImages[match.away_team]" />
              <span class="team-logo-name ellipsis">{{ i18nTransMatchTeam(match).split(",")[1] }}</span>
            </div>
            
            <div class="match-status score y-center">
              <div class="status-score" :class="['match-status', 'score', 'y-center', { 'cancel': match.status === 9 || match.status === 6 }]">
                <template v-if="showScore(match) && !hideScore(match.category)">
                  <b class="DIN" > {{ mqMatch[match.id].home_score }} </b>
                  <i class="icon-common common-teams-line"></i>
                  <b class="DIN"> {{ mqMatch[match.id].away_score }} </b>
                </template>

                <i class="cancel-text" v-else>
                  <span class="text" v-show="match.status === 9">{{i18n.yiquxiao}}</span>
                  <span class="text" v-show="match.status === 7 || match.status === 6">{{i18n.yijieshu}}</span>
                </i>
              </div>
              <div class="status-time">
                <div class="d DIN"> {{ timetrans(match.start_time).d }} </div>
                <div class="m DIN"> {{ timetrans(match.start_time).m }} </div>
              </div>
            </div>
          </div>
          <!-- 投注项 9已取消 7已结算-->
          <div class="bet-item">
            <div class="flex between y-center" v-if="false">
              <div class="team-name ellipsis">
                {{ i18nTransMatchTeam(match).split(",")[0] }}
              </div>
              <span class="no-vw-f12" v-if="match.hasping">{{i18n.ping}}</span>
              <div class="team-name ellipsis">
                {{ i18nTransMatchTeam(match).split(",")[1] }}
              </div>
            </div>
            <div class="result flex between">
              <div
                class="result-bj"
                :class="
                  (match.status === 9 || match.status === 6 || !showTeams(match) || isWinnerItem(match.m) )
                    ? ''
                    : getOddsItem(match.m, 0)
                    
                "
              ></div>
              <div
                v-if="match.hasping"
                class="result-bj"
                :class="
                  (match.status === 9 || match.status === 6 || !showTeams(match) || isWinnerItem(match.m))
                    ? ''
                    : getOddsItem(match.m, 1)
                   
                "
              ></div>
              <div
                class="result-bj"
                :class="
                  (match.status === 9 || match.status === 6 || !showTeams(match) || isWinnerItem(match.m))
                    ? ''
                    : getOddsItem(match.m, 2)
                   
                "
              ></div>
            </div>
          </div>
        </li>
      </ul>
    </van-list>

    <common-not-data
      v-else
      :title="i18n.notData"
      showLive="true"
      :subTitle="i18n.notDataSub"
      backgroundImg="no-data-collect"
      paddingTop="66px"
    >
    </common-not-data>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import mixBetStatus from "@/views/common/mixins/mixBetStatus.js";
import mixAddCart from "@/views/common/mixins/mixAddCart.js";
import mixMatchStatus from "@/views/common/mixins/mixMatchStatus.js";
import transitionOdds from "@/views/common/transitionOdds";
import commonNotData from "@/views/common/commonNotData";
import listLoad from "@/views/common/listLoad";
import { timetrans } from "@/assets/scripts/utils";

export default {
  name: "endGame",
  mixins: [mixBetStatus, mixAddCart, mixMatchStatus],
  components: { transitionOdds, commonNotData, listLoad },
  props: {
    dateKey: {
      type: Number,
      default: 1,
    },
  },
  data() {
    return {
      finished: false,
      loading: false,
      global,
      UPLOAD_URL: UPLOAD_URL,
      i18n: this.$t('homePage.endGame'),
    };
  },
  computed: {
    ...mapGetters([
      "sourceMatch",
      "gameID",
      "matchList",
      "betItemId",
      "endDate",
      "images",
      "page_size",
      "teamWords",
      "mqMatch"
    ]),

    // 判断是否有赛事
    hasMatch() {
      const has = this.matchList.filter((ele) => ele.visible).length > 0;
      return has;
    },
  },
  watch: {
    dateKey: "changeSwipe",
  },
  methods: {
    timetrans,
    // 跳转盘口页面
    goMarkets(match) {
      if(!match.is_open_match){
        this.$toast({
            message: this.i18n.servicing,
            duration: 2000,
        });
        return;
      }
      // 在赛果列表里点击赛事的点击次数统计
      // this.$store.commit("SET_TRACK", { tab: 25, page: 2 });
      this.$store.commit("SET_MATCH_ID", match.id);
      this.$router.push(`/markets/${match.id}`);
    },

    // 判断赛事的第一个盘口是否都是无赛果、
    isWinnerItem(market){
      return market.odds.every( ele => ele.is_winner == 0 )
    },

    // 计算投注项
    getOddsItem(market, n) {
      const lens = market.odds.length;
      const _newArray = market.odds.slice(0);
      const matchOddArray = _newArray;
      let is_winner = "";
      let classStr = ""
      if (lens == 3) {
        is_winner =  matchOddArray[n].is_winner;
      } else {
        if (n == 2) {
          is_winner = matchOddArray[n - 1].is_winner;
        } else {
          is_winner = matchOddArray[n].is_winner;
        }
      }

      switch (is_winner) {
          case 0: classStr = 'market-failure'
              break;
          case 1: classStr = 'market-win'
              break;
          case 2: classStr = 'market-win-half'
              break;
          case 3: classStr = 'market-failure-half'
              break;
          case 4: classStr = 'market-water'
          default: ''
              break;
      }
      return classStr
    },

    // 是否只显示队伍名称
    showTeams(row) {
      return row.m.is_default;
    },
    // 已取消且比分为0的时候，不显示比分
    showScore({ status, home_score, away_score }) {
      if (status==9||status==6) {
        return Boolean( home_score || away_score )
      }else{
        return true
      };
    },

    // 改变页码
    changeSwipe(key) {
      this.$store.commit("SET_PAGE_SIZE", 30);
      this.finished = false;
      this.loading = false;
      this.$store.commit("SET_ENDGAME_DATE", key);
    },

    // 加载更多
    onLoad() {
      console.log( this.teamWords )
      if (this.matchList.length < this.page_size) {
        this.finished = true;
      } else {
        const { endDate, gameID, sourceMatch } = this;
        this.$store.commit("SET_PAGE_SIZE", this.page_size + 30);
        let datares = {
          game_id: gameID,
          flag: 5,
          page_size: this.page_size,
        };

        if( this.teamWords ){
          this.$store.dispatch("fetchMatchTeamSearch", {
            ...datares,
            page: 1,
            page_size: this.page_size,
            team_name: this.teamWords,
            date: endDate
          }).then((res) => {
            this.loading = false;
            console.log(res.data)
            if (res.data.status == "true") {
              const data = res.data.data || [];
              if (data.length < this.page_size) {
                this.finished = true;
              }
            } else {
              this.finished = true;
            }
          });
        }else{
          this.$store.dispatch("fetchMatchList", {
            ...datares,
            day: endDate,
          }).then((res) => {
            this.loading = false;
            if (res.data.status == "true") {
              const data = res.data.data || [];
              if (data.length < this.page_size) {
                this.finished = true;
              }
            } else {
              this.finished = true;
            }
          });
        }
      }
    },
  },
};
</script>
<style lang="less">
.end-game {
  .match-list {
    padding: 8px 12px;
    .bj {
      z-index: -1;
      position: absolute;
      bottom: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 8px;
    }
    .match-item {
      padding: 8px;
      .team-col {
        //margin: 12px 0 0;
        .match-status{
          flex-direction: column;
          height: 50px;
            .status-score{
              position: relative;
              height: 24px;
            }
            .status-time{
              // width: 30px;
              // margin-top: -8px;
              margin-bottom: 8px;
              display: flex;
              align-items: center;
              justify-content: center;
              // flex-direction: column;
              .d{
                  font-size: 12px;
                  color: rgba(255, 255, 255, 1);
              }
              .m{
                  font-size: 12px;
                  color: rgba(255, 255, 255, 1);
                  margin-left: 8px;
                  // zoom: 0.83;
              }
            
            }
        }
      }
      .match-count {
          width: 28px;
          height: 18px;
          background: rgba(255,255,255,0.10);
          border: 1px solid rgba(255,255,255,0.15);
          border-radius: 2px;
          margin-left: 8px;
          font-size: 12px;
          color: rgba(255,255,255,0.6);
          text-align: center;
          line-height: 16px;
          display: flex;
          align-items: center;
          justify-content: center;
          .icon{
              width: 10px;
              height: 10px;
          }
          b{
              font-family: DIN;
              font-size: 12px;
          }
      }
      .cancel-text {
        width: 52px;
        height: 24px;
        line-height: 24px;
        color: white;
        border-radius: 12px;
        font-size: 12px;
        display: flex;
        justify-content: center;
        &::after {
          content: "";
          position: absolute;
          width: inherit;
          height: inherit;
          opacity: 0.1;
          background: white;
          border-radius: inherit;
        }
        .text {
          margin-right: 3px;
          color: rgba(255,255,255,0.6);
        }
      }
      .bet-item {
        font-size: 14px;
        color: hsla(0, 0%, 100%, 0.8);
        text-align: center;
        .team-name {
          width: 42%;
        }
        .result {
          padding: 0 24px;
          margin-top: 6px;
          .result-bj {
            width: 80px;
            height: 32px;
            border-radius: 4px;
            background-color: rgba(0, 0, 0, 0.2);
            border: 1px solid rgba(255, 255, 255, 0.1);
            background-size: 28px;
            background-repeat: no-repeat;
            background-position: center top;
          }
        }
      }
      &.anchor-item{
        .result{
          display: none;
        }
        .match-status {
          .status-icon {
            display: none;
          }
          .status { 
            bottom: -12px;
            height: 14px;
          }
          .no-live {
            bottom: -12px !important;
          }
        }
        .team-col{
          margin-top: 30px;
        }
        .team-name {
          color: rgba(255, 255, 255, 0.8);
          font-size: 14px;
        }
      }
    }
  }
}
</style>
<style lang="less" scoped>
.team-logo{
  width: unset!important;
  height: 60px!important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  .team-logo-image{
    width: 30px;
    height: 30px;
    &/deep/ .van-image__img{
      width: 30px;
      height: 30px;
    }
  }
  .team-logo-name{
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translate(-50%,0);
    width: 100px;
    text-align: center;
    font-size: 12px;
  }
}
</style>