<template>
    <div class="end-game-tips">
        <div class="man">
            <div class="close common-close-small1" @click="closeTips"></div>
        </div>
        <div class="tips">
            <div>{{$t('virtualSports.endGame.tips1')}}</div>
            <i18n path="virtualSports.endGame.tips2" tag="div">
                <span class="hightlight">“{{$t('common.menu.specials')}}”</span>
            </i18n>
        </div>
        <div class="not-again">
            <div :class="['check-box', isChecked ? 'common-checkbox-true' : 'common-checkbox-false']" @click="handleCheck"></div>
            <div class="not-again-text">{{$t('virtualSports.endGame.tips3')}}</div>
        </div>
    </div>
</template>
<script>
export default {
    name:"endGameTips",
    data() {
        return {
            isChecked: false,
            i18n: this.$t('homePage.list'),
        }
    },
    methods: {
        handleCheck(){
            this.isChecked = !this.isChecked
        },
        closeTips() {
            this.isChecked ? localStorage.setItem('notShowEndGameTips',this.isChecked) : "";
            this.$emit('closeTips');
        },
    }
}
</script>
<style lang="less" scpoed>
    .end-game-tips{
        position: fixed;
        top:0;
        left:0;
        z-index: 4;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        background: #000000;
        display: flex;
        align-items: center;
        flex-direction: column;
        .man{
            width: 290px;
            height: 234px;
            position: relative;
            background-image: url("~@/assets/images/common/man.png");
            background-size: cover;
            margin-top: 213px;
            .close{
                width: 25px;
                height: 25px;
                position: absolute;
                top:0;
                right:0;
                transform: transalte(-50%,-50%);
            }
        }
        .tips{
            width: 343px;
            height: 40px;
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: 0;
            text-align: center;
            font-weight: 400;
            margin-top: 16px;
            .hightlight{
                color: #E7BB02;
            }
        }
        .not-again{
            margin-top: 16px;
            display: flex;
            .check-box{
                width: 24px;
                height: 24px;
                margin-right: 4px;
            }
            .not-again-text{
                font-size: 14px;
                color: #FFFFFF;
                letter-spacing: 0;
                text-align: center;
                font-weight: 400;
            }
        }
    }
</style>