<template>
    <div class="game-type game-list-row" >
        <GameDropdown 
            defText="电竞赛事"
            defId="0"
            :value="gameID"
            :options="curGameList"
            refName="all"
            @change="changeGame"
            :showCount="true"
            />
        <GameDropdown 
            :defText="$t('common.menu.specials')"
            defId="00"
            :value="gameID"
            :options="vrList"
            refName="virtual"
            @change="changeGame"
            />
    </div>
</template>
<script>
import { mapGetters } from "vuex";
import GameDropdown from "./gameDropdown";
import { initLoL } from '@/assets/scripts/lolApiDomainRace.js'

export default {
    components:{ 
        GameDropdown,
    },
    data(){
        return {
            gamesShow: false,
        }
    },
    computed:{
        ...mapGetters([
            "gameList",
            "gameID",
            "userInfo",
            "virtualGameShow",
            "slotGameList"
        ]),

        curGameList(){
            if(this.userInfo.tester == 2 || this.userInfo.tester == 3){
                const arr =  ['258337013509741','257733146228414']; // 信用网不显示 电竞篮球 电竞足球   
                return this.gameList.filter( ele => !arr.includes(String(ele.id)))
            }
            return this.gameList
        },
        vrList(){
            return this.slotGameList.filter (item => Number(item.is_open_entrance) === 0)
        }
    },

    methods:{
        changeGame(id) {
            // 关闭所有下拉框
            this.$children.forEach(child => {
                child.closeDropdown();
            });
            // VR游戏跳转页面
            const VRGames = ['1001']
            if(VRGames.includes(id)){
                this.$store.commit('SET_BET_ACTIVE_TYPE','isSingle')
                this.$router.push(`/vSports/${id}`);
            }
            // 电竞彩-英雄召唤
            if(id === '10158428472914228'){
                initLoL().then(()=>{
                    this.$router.push(`/lottery`);
                })
                return;
            }
            this.$store.commit("SET_MATCH_LIST", []); // 清除上次的赛事列表,必须在更改游戏ID前端清空，否则loading状态无效
            this.$store.commit("SET_GAME_ID", id);
        },
        toggleGames(){
            this.gamesShow = !this.gamesShow;
        }
    },
}
</script>
<style lang="less">
    .game-type{
        display: flex;
        padding: 8px 12px 0;
        justify-content: space-between;
        font-size: 12px;
    }
</style>