<template>
    <div class="game-type-d-c">
        <div :class="{'game-type-d':true,'disabled': !options.length}">
            <div class="game-type-item game-dj" @click.stop="toggleDropdown(defId)">
                <div class="game-logo">
                    <div class="logo game-logo-sprite" :class="logo"></div>
                </div>
                <div class="name ellipsis">{{name || defText}}</div>
                <div class="count" v-if="showCount">{{ count || 0 }}</div>
                <div class="arrow"></div>
            </div>
        </div>
        <div class="game-list drop-list" :ref="refName">
            <ul class="game-list-row">
                <li @click.stop="changeDropdown(option.id)" :class="['list-main', value == option.id && 'game-active' ]" v-for="(option, i) in options" :key="i">
                    <div class="game-logo">
                        <div class="logo game-logo-sprite" :class="logoCls(option.id)"></div>
                    </div>
                    <div class="name ellipsis">{{ option.name }}</div>
                    <div class="count" v-if="showCount">{{ option.count || 0 }}</div>
                    <div class="placeholder"></div>
                </li>
            </ul>
        </div>
    </div>   
</template>
<script>
export default {
    props:["defText","defId","value","options","refName","showCount"],
    computed:{
        name(){
            return this.options.find(item => item.id === this.value)?.name
        },
        logo(){
            const target = this.options.find(item => item.id === this.value)
            return target ? this.logoCls(this.value) : this.logoCls(this.defId);
        },
        count(){
            return this.options.find(item => item.id === this.value)?.count
        },
    },
    methods:{
        changeDropdown(id) {
            this.toggleDropdown();
            this.$emit('change',id);
        },
        toggleDropdown(){
            if(!this.options.length) return
            this.$nextTick(()=>{
                const current = this.$refs[this.refName]
                const show = current.style.display == "block"
                const list = document.getElementsByClassName("drop-list")
                for(var i = 0; i < list.length; i++){
                    list[i].style.display = "none"
                    list[i].parentElement.classList.remove('show')
                }
                if(!show){
                    current.style.display = "block"
                    current.parentElement.classList.add("show")
                }
            })
        },
        closeDropdown(){
            this.$nextTick(()=>{
                const list = document.getElementsByClassName("drop-list")
                for(var i = 0; i < list.length; i++){
                    list[i].style.display = "none"
                    list[i].parentElement.classList.remove('show')
                }
            })
        },
        handleScroll(){
            this.closeDropdown()
        }
    },
    mounted(){
        window.addEventListener('click', this.handleScroll)
        
    },
    beforeDestroy(){
        this.closeDropdown()
        window.removeEventListener('click', this.handleScroll)
    }
}
</script>
<style lang="less" scoped>
    .game-type-d-c{
        width: 170px;
        height: 32px;
        position: relative;
        &.show{
            .game-type-d{
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                border-bottom: 0;
            }
        }
        .game-type-d{
            width: 100%;
            height: 100%;
            border: 1px solid rgba(255,255,255,0.2);
            padding: 0 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            background: rgba(0,0,0,0.30);
            
            &.disabled{
                filter: brightness(0.5);
                .arrow{
                    display: none;
                }
            }
        }
        .game-type-item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .count{
                flex: 1 1 24px;
                margin-right: 10px;
                text-align: right;
            }
            .arrow{
                width: 16px;
                height: 16px;
                background: url("~@/assets/images/common/arrows-down.png") no-repeat center;
                background-size: cover;
                transition: transform 0.4s;
            }
        }
        .game-logo{
            width: 20px;
            height: 20px;
            .logo{
                display: block;
                width: 120px;
                height: 120px;
                transform-origin: 0 0;
                transform: scale(20/120);
            }
        }
        .name{
            width: 84px;
            margin: 0 8px;
            line-height: 20px;
            flex: 1 1 48px;
        }
        .game-list{
            display: none;
            box-sizing: border-box;
            width: 100%;
            max-height: 338px;
            overflow: scroll;
            position: absolute;
            top: 100%;
            z-index: 9;
            background: rgba(0,0,0,0.90);
            backdrop-filter: blur(30px);
            @supports not (backdrop-filter: blur()){
                background: #1E2329;
            }
            border: 1px solid rgba(255,255,255,0.2);
            border-top: 0;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            padding: 0 16px;
            .list-main{
                display: flex;
                justify-content: center;
                padding:7px 0;
                color: rgba(255,255,255,0.6);
                .count{
                    flex: 1 1 24px;
                    margin-right: 10px;
                    text-align: right;
                }
                .placeholder{
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }
</style>