<template>
  <transition name="collapse-popup">
    <div class="game-collapse" v-show="visible" :style="styleObj">
      <div class="bj" @click.stop="closed"></div>
      <ul class="game-list">
        <li
          v-for="(game, i) in gameList"
          :key="i"
          class="dj-btn"
          v-show="testerShow(game.id)"
          :class="gameID === game.id && 'game-active'"
          @click.stop="changeGame(game.id)"
        >
          <div class="game_logo">
            <span class="logo game-logo-sprite" :class="logoCls(game.id)"></span>
          </div>
          <div class="cn-name ellipsis">{{ game.name }}</div>
          <div class="game-count DIN"> {{ game.count }}</div>
        </li>
        <!-- 占位 -->
        <li class="game-empty"></li>
        <li class="game-empty"></li>
      </ul>
    </div>
  </transition>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "GameCollapse",
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
    styleObj:{
      type: Object,
      default: function() {return {}}
    }
  },
  computed: {
    ...mapGetters(["gameList", "gameID", "matchNum", "userInfo"]),
  },
  methods: {
    changeGame(id) {
      // 游戏选择点击次数统计
      // this.$store.commit("SET_TRACK", { tab: 1, page: 1 });
      if(id){
        // 游戏点击统计 全选、清除、游戏联赛勾选
        // this.$store.commit("SET_TRACK", { gameId: id, page: 1 });
      }
      this.$store.commit("SET_MATCH_LIST", []); // 清除上次的赛事列表,必须在更改游戏ID前端清空，否则loading状态无效
      this.$store.commit("SET_GAME_ID", id);
      this.closed()
    },
    closed() {
      this.$emit("update:visible", false);
    },
    // 判断是否显示
    testerShow(id){
      if(this.userInfo && (this.userInfo.tester == 2 || this.userInfo.tester == 3 )){
        const arr =  ['258337013509741','257733146228414']; // 信用网不显示 电竞篮球 电竞足球
        if( arr.includes(String(id)) ){
            return false
        }
      }
      return true
    }
  },
};
</script>

<style lang="less" scoped>
.stripe {
  content: "";
  display: block;
  width: inherit;
  height: 8px;
}
.game-collapse {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  padding-top: 8px;
  overflow: hidden;
  &::before {
    .stripe();
    background: #2B2F35;
  }
  &::after {
    .stripe();
    width: 100%;
    height: 200px;
    position: relative;
    bottom: 198px;
    box-shadow: inset 0 -2px rgb(43, 47, 53), inset 0 -40px 40px -20px rgb(43, 47, 53);
    pointer-events: none;
  }
  .bj {
    width: inherit;
    height: inherit;
    opacity: 0.6;
    background: #000000;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
  }
  .game-list {
    width: 100vw;
    height: 60vh;
    background-color: #2B2F35;
    padding: 0 12px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    li {
      width: 82px;
      height: 72px;
      margin-bottom: 8px;
      background: #ffffff1a;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 4px;
      color: #FFFFFF;
      .game_logo {
        width: 24px;
        height: 24px;
        margin: 4px auto 0;
        .logo {
          display: inline-block;
          width: 120px;
          height: 120px;
          transform-origin: 0 0;
          transform: scale(24/120);
        }
      }
      .cn-name {
        font-size: 10px;
        opacity: 0.6;
        margin: 3px 0;
      }
      .game-count {
        font-size: 12px;
      }
      &.game-active {
        background: rgba(0, 149, 255, 0.1);
        border-color: #0095FF;
      }
      &.game-empty {
        background: none;
        border: none;
      }
    }
  }
}
</style>