<template>
    <div @touchmove.stop>
        <ul class="game-type-row">
            <li 
                @click.stop="changeGame(type.component)"
                :class="['list-main', resultType == type.component && 'game-active' ]" 
                v-for="(type, i) in gameType"
                :key="i"
             >
                <!-- <div class="game_logo">
                    <span class="logo game-logo-sprite" :class="logoCls(game.id)"></span>
                </div> -->
                <div class="cn-name ellipsis">{{ type.name }}</div>
            </li>
        </ul>
    </div>  
</template>
<script>
import { mapGetters } from "vuex";
export default {
    data(){
        return {
            gameType:[
                { component: "djMatch", name: this.$t('homePage.gameType.common') },
                { component: "VSoccer", name: this.$t('homePage.gameType.football') },
            ],
            currentContent: 'djMatch',
        }
    },
    
    computed:{
        ...mapGetters([
            'resultType',
        ]),
    },
    methods:{
        changeGame(value) {
            this.$store.commit("SET_RESULT_TYPE", value);
        },
    },
}
</script>
<style lang="less">
    .game-type-row{
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        display: flex;
        padding: 0 12px;
        margin: 8px 0;
        height: 32px;
        .list-main{
            margin-right: 8px;
            display: flex;
            align-items: center;
            padding: 2px 8px;

            background: rgba(0,0,0,0.30);
            border: 1px solid rgba(255,255,255,0.20);
            border-radius: 8px;
            &.game-active{
                background: rgba(0,149,255,0.30);
                border: 1px solid #0095FF;
                border-radius: 8px;
                .cn-name{
                    color: #FFFFFF;
                }
            }
        }
        .game_logo {
            width: 20px;
            height: 20px;
            .logo {
                display: inline-block;
                width: 120px;
                height: 120px;
                transform-origin: 0 0;
                transform: scale(20/120);
            }
        }
        .cn-name{
            color: rgba(255,255,255,0.6);
            font-size: 12px;
            margin-left: 4px;
        }
    }
</style>