<template>
  <header class="home-head">
    <!-- 头部菜单 -->
     <div class="menus">
      <div class="game-list" v-if="!showNotice">
        <div
          :class="['games', { gameActive: gameID === item.id }]"
          v-for="item in topFiveGames"
          @click="changeGameID(item.id)"
          :key="item.id"
        >
          <span class="game-logo">
            <span :class="['logo', 'game-logo-sprite', logoCls(item.id)]"> </span>
          </span>
          <div class="game-count">
            <div class="count">{{ item.count }}</div>
          </div>
        </div>

        <div
          class="game-select"
          :class="showGameList && 'show-game-list'"
          @click="changeShowGame"
        ></div>
      </div>
      <!--<div class="notice-list" v-else>
        <notice/>
      </div>-->

      <!--<div class="right-btn" :style="{'width':changeWidth}">-->
      <div class="right-btn">
        <div
          class="league-select"
          :class="showLeagueList && 'show-league-list'"
          @click="changeShowLeague"
        > {{ $t('homePage.searchInput.league') }}</div>
        <div class="search-btn" @click="changeShowSearch" v-show="matchFlag != 8" ></div>
        <!-- 简体中文环境下==>才显示活动入口 -->
        <div class="bulletin" @click="goPage('/notice')"></div>
        <div class="text-bet" @click="openRecord">{{ $t('homePage.bet') }}</div>
        <div class="activity-btn" v-if="gameLength" @click="goToActivity"></div>
        <div class="user-btn" @click="changeShowUser"></div>
      </div>
    </div>
    <!-- 游戏筛选 -->
    <game-collapse :visible.sync="showGameList" :styleObj="styleObj"/>
    <!-- 联赛筛选 -->
    <league-collapse :visible.sync="showLeagueList" :styleObj="styleObj"/>
    <!-- 战队搜索-->
    <search-input :visible.sync="searchActive"/>
    <!-- 用户中心 -->
    <van-popup
      v-model="showUser"
      class="user-center-popup"
      position="left"
      :duration="0.3"
      :close-on-click-overlay="true"
      overlay-class="user-cente-overlay"
      get-container="body"
      :style="{ height: '100%', width: '80%' }"
    >
      <user @closeUser="closeUser"></user>
    </van-popup>
    <recommend 
        @done="getMarket"
        @hide="showRecommend = false"
        :visible.sync="showRecommend"
    />
    <record
        :type="calcRecordType()" 
        @done="getMarket"
        @hide="showRecord = false"
        :visible.sync="showRecord"
        :isShow="true"
    />
  </header>
</template>

<script>
import { mapGetters } from "vuex";
import user from "@/views/user";
import gameCollapse from "./gameCollapse";
import leagueCollapse from "./leagueCollapse";
import searchInput from "./searchInput";
import notice from "./notice.vue"
import record from "@/views/markets/record"
import recommend from "@/views/markets/recommend"
export default {
  name: "HomeHead",
  components: {
    user,
    gameCollapse,
    leagueCollapse,
    searchInput,
    notice,
    record,
    recommend
  },
  props:["showNotice"],
  data() {
    return {
      topFiveGames: [],
      showGameList: false,
      showLeagueList: false,
      showUser: false,
      styleObj: {
        top: "50px",
        height: "calc(100vh - 50px)"
      },
      showRecord: false,
      showRecommend: false,
    };
  },

  // activated() {
  //   const notShowLeftMeun = this.$route.params.notShowLeftMeun;
  //   if(notShowLeftMeun){
  //     this.showUser = false;
  //   }
  // },
  computed: {
    ...mapGetters(["gameList", "gameID", "activityEntrance", "tyOssData", "userInfo", "searchActive", "matchFlag", "playVideo"]),
    // 语言类型
    languageType(){
      return (localStorage.getItem('language') || 'cn') == 'cn'
    },
    changeWidth(){
      return (this.activityEntrance && (localStorage.getItem('language') || 'cn') == 'cn') ? '52%' : '45%'
    },
    gameLength() {
      if(this.activityEntrance && this.languageType && this.userInfo.tester != 2 && this.userInfo.tester != 3){
        this.topFiveGames = this.gameList.slice(0,  4)
        return true
      }else{
        this.topFiveGames = this.gameList.slice(0,  5)
        return false
      }
    }
  },
  watch: {
    gameList: {
      handler(list) {
        this.topFiveGames = list.slice(0, this.gameLength ? 4 : 5) ;
      },
      immediate: true,
    },
    gameID(id) {
      if (!id) {
        // 切换全部游戏，则恢复默认排序
        this.topFiveGames = this.gameList.slice(0, this.gameLength ? 4 : 5)
        return
      }
      const len = this.topFiveGames.filter((a) => a.id === this.gameID).length;
      if (!len) {
        const gameList = this.gameList;
        for (let i = 0; i < gameList.length; i++) {
          if (gameList[i].id === id) {
            this.topFiveGames = [gameList[0]].concat(gameList[i], gameList.slice(1,  this.gameLength ? 3 : 4) )
            break;
          }
        }
      }
    },
    "tyOssData.pendant":{
        handler(res){
            if(res){
              this.styleObj = {
                  top: "90px",
                  height: "calc(100vh - 90px)"
              }
            }
        }
    },

    $route(to,from){
      if( 
          to.name == 'home' 
          && (
              from.name == "rules"
            || from.name == "accountChange"
            || from.name == "selectLanguage"
            || from.name == "historyOrder"
            || from.name == "guide"
          ) ){
            this.showUser = true;
      }
    }



  },
  methods: {
    // 切换当前游戏
    changeGameID(id) {
      // 游戏选择点击次数统计
      // this.$store.commit("SET_TRACK", { tab: 1, page: 1 });
      if(id){
        // 游戏点击统计 全选、清除、游戏联赛勾选
        // this.$store.commit("SET_TRACK", { gameId: id, page: 1 });
      }
      this.$store.commit("SET_MATCH_LIST", []); // 清除上次的赛事列表,必须在更改游戏ID前端清空，否则loading状态无效
      this.$store.commit("BET_CART_VISIBLE", false);
      this.$store.commit("SET_GAME_ID", id);
      this.closedGameList();
      this.closedLeagueList();
    },
    changeShowGame() {
      this.$store.commit("BET_CART_VISIBLE", false);
      this.showGameList = !this.showGameList;
      this.closedLeagueList();
    },
    changeShowLeague() {
      this.$store.commit("BET_CART_VISIBLE", false);
      this.showLeagueList = !this.showLeagueList;
      this.closedGameList();
    },
    closedGameList() {
      this.showGameList = false;
    },
    goPage(path){
      this.$router.push({ path: path });
    },
    closedLeagueList() {
      this.showLeagueList = false;
    },
    changeShowSearch() {
      this.$store.commit("SET_SEARCH_STATUS", true);
      this.closedGameList();
      this.closedLeagueList();
    },
    changeShowUser() {
      // 进入个人中心
      // this.$store.commit("SET_TRACK", { tab: 16, page: 1 });
      this.$store.commit("BET_CART_VISIBLE", false);
      this.showUser = true;
      this.closedGameList();
      this.closedLeagueList();
    },
    closeUser(){    
      this.showUser = false;
    },
    // 进入活动页面
    goToActivity(){
      this.$router.push("/operateActivity");
    },
    // 打开投注历史记录
    openRecord(){
      console.log('注单')
      this.showRecord = true
    },
    calcRecordType() {
        // if (this.playVideo) {
        //     return 1
        // }
        // if (this.smallHeader) {
        //     return 2
        // } else {
        //     return 0
        // }
        if (this.playVideo) {
            return 1
        }else {
            return 0
        }
    },
    getMarket(){
      this.showRecommend = false;
    },
  },
  
};
</script>

<style lang="less" scoped>
.arrows {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("~@/assets/images/common/arrows-down.png") no-repeat center;
  background-size: cover;
  transition: transform 0.4s;
}
.home-head {
  background-color: #1E2329;
  padding: 5px 10px 0;
  height: 50px;
  .menus {
    display: flex;
    align-items: center;
    height: 40px;
    .notice-list{
      width: 180px;
    }
    .user-btn {
      width: 24px;
      height: 24px;
      background: url("~@/assets/images/common/user.png") no-repeat center;
      background-size: 100%;
      margin-left: 5px;
    }
    .game-list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0;
      .games {
        flex-shrink: 0;
        padding:0 1px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 6px;
        &.gameActive {
          border: 1px solid #0095FF;
          padding: 2px 1px;
        }
        .game-logo {
          .logo {
            display: block;
            width: 22px;
            height: 22px;
          }
        }
        .game-count {
          width: 20px;
          height: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          .count{
            font-weight: 700;
            font-size: 20px;
            transform: scale(.5);
            transform-origin: center;
            color: rgba(255, 255, 255, 0.6);
          }
        }
        .game-count {
          width: 20px;
          height: 12px;
          display: flex;
          justify-content: center;
          align-items: center;
          .count{
            font-weight: 700;
            font-size: 20px;
            transform: scale(.5);
            transform-origin: center;
            color: rgba(255, 255, 255, 0.6);
          }
        }
      }
      .game-select {
        width: 16px;
        height: 24px;
        position: relative;
        margin-right: 8px;
        &::after {
          content: "";
          display: inline-block;
          width: 100%;
          height: 100%;
          border-radius: 8px;
          opacity: 0.1;
          background: #FFFFFF;
          position: absolute;
        }
        &::before {
          .arrows();
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
        }
        &.show-game-list::before {
          transform: translateY(-50%) rotate(-180deg);
        }
      }
    }
    .right-btn {
      display: flex;
      justify-content: space-between;
      .league-select {
        width: 50px;
        height: 24px;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 24px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding-left: 4px;
        opacity: 0.6;
        font-size: 12px;
        color: #FFFFFF;
        text-align: center;
        margin-right: 6px;
        &::after {
          .arrows();
        }
        &.show-league-list {
          border-color: #0095FF;
          &::before {
            opacity: 1;
            color: #0095FF;
          }
          &::after {
            transform: rotate(-180deg);
          }
        }
      }
      .search-btn {
        width: 24px;
        height: 24px;
        background: url("~@/assets/images/common/search.png") no-repeat center;
        background-size: cover;
      }
      .activity-btn {
        width: 22px;
        height: 24px;
        margin: 0 0 0 5px;
        background: url("~@/assets/images/common/activity-logo.png") no-repeat center;
        background-size: cover;
      }
      .bulletin{
        width: 24px;
        height: 24px;
        background: url("~@/assets/images/common/bulletin.png") no-repeat center;
        background-size: cover;
        position: relative;
        margin: 0 5px;
        &:after {
          content: '';
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: #E84A4B;
          right: 0;
          top: 0;
        }
      }
      .text-bet{
        width: 36px;
        height: 24px;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 24px;
        font-size: 12px;
        color: hsla(0,0%,100%,.6);
        text-align: center;
        line-height: 24px;
        font-weight: 400;
      }
    }
    
  }
}
</style>