<template>
    <transition name="collapse-popup">
        <div class="league-collapse" v-show="visible" :style="styleObj"> 
            <div class="bj" @click="closed"></div>
            <ul class="league-list">
                <li v-for="(game, i) in gameAll" :key="i" v-show="testerShow(game.id)">
                    <div class="dj-btn game" @click.stop="leagueOpen(game)">
                        <div class="flex y-center">
                            <div class="game_logo">
                                <span 
                                    class="logo game-logo-sprite"
                                    :class="logoCls(game.id)"
                                >
                                </span>
                            </div>
                            <span class="mlr8 game-name">{{ game.name }}</span>
                            <span>{{ game.count }}</span>
                        </div>
                        <div class="flex y-center" v-if="game.count > 0">
                            <div class="flex y-center lh40 all-chack" @touchstart.prevent="checkAll(game)">
                                <i :class="['checkbox', { 'check-all': isAllCheck(game) }]">  </i>
                                <span class="checkbox-text">{{ i18n.quanxuan }}</span>
                            </div>
                            <i 
                                :class="['arrows', { 'arrows-up' : curGameID == game.id }]" >
                            </i>
                        </div>
                    </div>
                    <ul class="league" v-show="curGameID == game.id">
                        <li 
                            class="dj-btn" 
                            @click.stop="checkOne(game.id, league.tourId)"
                            v-for="league in (tour[curGameID] || [])" :key="league.tourId">
                            <span class="dj-btn-text">
                                {{ tournamentName[league.tourId] || ''  }}
                            </span>
                            <span class="flex y-center">
                                {{ league.matchId.length }}
                                <i :class="['checkbox', 'ml8', { 'check-all': league.checked }]"/>
                            </span>
                        </li>
                    </ul>
                    <div class="van-hairline--bottom"></div>
                </li>

            </ul>
            <div class="btns">
                <van-button class="clear" hairline @click.stop="clearAll">{{ i18n.qingchu }}</van-button>
                <button class="dj-btn confirm" @click.stop="confirm">{{ i18n.queding }}</button>
            </div>
        </div>
    </transition>
</template>
<script>
import { mapGetters } from "vuex";
import lodash from 'lodash';

export default {
    name: "LeagueCollapse",
    props: {
        visible: {
            type: Boolean,
            default: false,
        },
        styleObj:{
            type: Object,
            default: function() {return {}}
        }
    },
    data(){
        return {
            curGameID: 0,
            i18n: this.$t('homePage.gameCollapse')
        }
    },
    watch:{
        visible(v, ov){
            if(!v){
                this.clearAll();
                this.curGameID = 0;
            }
        }
    },
    computed:{
        ...mapGetters([
            "gameList",
            "tour",
            "tournamentName",
            "gameID"
        ]),
        gameAll(){
            if( this.gameID ){
                return this.gameList.filter( ele =>  Number(ele.id) && Number(ele.id) == Number(this.gameID) )
            }else{
                return this.gameList.filter( ele => Number(ele.count) && Number(ele.id) )
            }
        },
    },
    methods:{
        // 关闭联赛筛选弹框
        closed() {
            this.$emit("update:visible", false);
        },

        // 打开当前游戏赛事
        leagueOpen(game){
            if( this.curGameID != game.id ){
                this.curGameID = game.id;
                if( !this.tour[game.id] ){
                    this.$store.dispatch("fetchMatchTour", game.id)
                }
            }else{
                this.curGameID = 0;
            }
        },

        isAllCheck(game){
            const list = this.tour[game.id] || [];
            return list.length && list.every( ele => ele.checked )
        },

        // 全选
        checkAll(game){
            // 联赛勾选点击次数统计
            // this.$store.commit("SET_TRACK", { tab: 2, page: 1 });
            // 游戏点击统计 全选、清除、游戏联赛勾选
            // this.$store.commit("SET_TRACK", { gameId: game.id, page: 7 });
            if( this.tour[game.id] ){
                let tourList = lodash.cloneDeep(this.tour);
                for( let key in  tourList ){
                    if( key == game.id ){
                        tourList[key].forEach(element => {
                            element.checked = !this.isAllCheck(game);
                        });
                    }
                }
                this.$store.commit("UPDATE_TOUR_LIST", tourList)
            }else{
                this.$store.dispatch("fetchMatchTour", game.id).then( res => {
                    let tourList = lodash.cloneDeep(this.tour);
                    for( let key in  tourList ){
                        if( key == game.id ){
                            tourList[key].forEach(element => {
                                element.checked = !this.isAllCheck(game);
                            });
                        }
                    }
                    this.$store.commit("UPDATE_TOUR_LIST", tourList)
                })
            }
        },

        // 单选
        checkOne(gameId, tourId){
            // 联赛勾选点击次数统计
            // this.$store.commit("SET_TRACK", { tab: 2, page: 1 });
            // 游戏点击统计 全选、清除、游戏联赛勾选
            // this.$store.commit("SET_TRACK", { gameId, page: 7 });
            let tourList = lodash.cloneDeep(this.tour);
            for( let key in  tourList ){
                if( key == gameId ){
                    tourList[key].forEach(element => {
                        if( element.tourId == tourId ){
                            element.checked = !element.checked;
                        }
                    });
                }
            }
            this.$store.commit("UPDATE_TOUR_LIST", tourList)
        },
        
        // 清空
        clearAll(){
            // 游戏点击统计 全选、清除、游戏联赛勾选
            //this.gameID && this.$store.commit("SET_TRACK", { gameId: this.gameID, page: 7 });
            let tourList = lodash.cloneDeep(this.tour);
            for( let key in  tourList ){
                tourList[key].forEach(element => {
                    element.checked = false;
                });
            }
            this.$store.commit("UPDATE_TOUR_LIST", tourList)
        },

        // 筛选出来的联赛
        confirm(){
            let arr = [];
            for( let key in this.tour ){
                this.tour[key].forEach( ele => {
                    arr.push(ele)
                })
            }
            arr = arr.filter( ele => ele.checked );
            this.$store.commit("SET_LEAGUECHECKEDS", arr)
            this.closed()
            arr.length && this.$router.push({ path: '/matchFilter' })
            // console.log(arr)
        },
        // 判断是否显示
        testerShow(id){
            if(this.userInfo && (this.userInfo.tester == 2 || this.userInfo.tester == 3 )){
                const arr =  ['258337013509741','257733146228414']; // 信用网不显示 电竞篮球 电竞足球
                if( arr.includes(String(id)) ){
                    return false
                }
            }
            return true
        }
    }
}
</script>

<style lang="less" scoped>
.stripe {
    content: "";
    display: block;
    width: inherit;
    height: 8px;
    background: #2B2F35;
}
.league-collapse {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    padding-top: 8px;
    overflow: hidden;
    &::before {
        .stripe();
    }
    .bj {
        width: inherit;
        height: inherit;
        opacity: 0.6;
        background: #000000;
        position: absolute;
        left: 0;
        right: 0;
        z-index: -1;
    }
    .league-list {
        width: 100vw;
        max-height: 60vh;
        background-color: #2B2F35;
        padding: 0 12px;
        overflow-y: auto;
        overflow-x: hidden;
        text-align: center;
        font-size: 14px;
        & > li {
            .game {
                height: 40px;
                background: #ffffff1a;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 12px;
                .game_logo {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    .logo {
                        display: inline-block;
                        width: 120px;
                        height: 120px;
                        transform-origin: 0 0;
                        transform: scale(24/120);
                    }
                }
                .game-name {
                    white-space:nowrap;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    max-width: 38vw;
                    text-align: left;
                }
                .checked-num {
                color: #E7BB02;
                &::after {
                    content: '/';
                    color: white;
                    margin: 0 1px;
                }
                }
                .checkbox-text {
                    opacity: 0.6;
                    font-size: 12px;
                    padding: 0 8px;
                    white-space:nowrap;
                    overflow:hidden;
                    text-overflow:ellipsis;
                    max-width: 22vw;
                    text-align: left;
                }
                .arrows {
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    background: url("~@/assets/images/common/common-pick-down.png")
                        no-repeat center;
                    background-size: cover;
                    transition: transform 0.4s;
                    &.arrows-up {
                        transform: rotate(180deg);
                    }
                }
            }
            .van-hairline--bottom:after {
                opacity: 0.06;
                background: #FFFFFF;
            }
            .dj-btn-text {
                padding-right: 8px;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
        .checkbox {
            display: inline-block;
            width: 16px;
            height: 16px;
            background: url("~@/assets/images/common/common-checkbox-false.png")
                no-repeat center;
            background-size: cover;
            &.check-all {
                background-image: url("~@/assets/images/common/common-checkbox-true.png");
            }
        }
        .league {
            padding: 8px 0;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0.06;
                background: #FFFFFF;
            }
            & > li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: 28px;
                padding: 0 12px;
            }
            .checked-league {
                color: rgba(255,255,255,.6);
            }
        }
    }
    .btns {
        padding: 12px 12px 14px;
        background: #2B2F35;
        display: flex;
        justify-content: space-between;
        .clear {
            color: white;
            width: 162px;
            height: 36px;
            border: none;
            background: rgba(255, 255, 255, 0.2);
            border-radius: 4px;
            &::after {
                border-radius: 8px;
                border-color: rgba(255,255,255, .32);
            }
        }
        .confirm {
            width: 162px;
            height: 36px;
            border: none;
            background-image: linear-gradient(
                180deg,
                #61C5FF 8%,
                #0271BD 55%,
                #027ED0 100%
            );
            border-radius: 4px;
        }
    }
}
.all-chack{
    padding-left: 10px;
}
</style>
