<template>
    <div class="match live">
        <van-list
            v-if="hasMatch"
            v-model="loading"
            :finished="finished"
            :finished-text="i18n.finished"
            :immediate-check="false"
            @load="getMoreMatch"
            loading-text="loading..."
        >
            <template #loading>
                <listLoad />
            </template>
            <div class="match-list">
                <ListItem 
                    v-for="match in matchList" 
                    :key="match.id" 
                    :match="match"
                />
            </div>
        </van-list>
        <common-not-data
            v-else
            class="not-account-data"
            :title="i18n.notData"
            :subTitle="i18n.notDataSub"
            backgroundImg="not-data-match"
            paddingTop="90px">
        </common-not-data>
    </div>
</template>
<script>
import { mapGetters } from "vuex";
import commonNotData from "@/views/common/commonNotData";
import ListItem from "../ListItem/listItem";
import listLoad from "@/views/common/listLoad"
export default {
    name:"match-live",
    components:{ 
        commonNotData,
        ListItem,
        listLoad
    },
    data() {
        return {
            finished: false,
            loading: false,
            matchLen: 20,
            i18n: this.$t('homePage.list'),
        }
    },
    computed:{
        ...mapGetters([
            "sourceMatch",
            "matchList", 
            "page_size"
        ]),
        // 判断是否有赛事
        hasMatch(){
            const has = this.matchList.filter( ele => ele.visible ).length > 0
            return has;
        }
    },
    watch: {
        matchList(arr, oldArr) {
            if (arr.length <= 20) {
                this.finished = true
                this.matchLen = 20
            } else if (arr.length !== oldArr.length) {
                this.finished = false
                this.loading = false
                this.matchLen = 20
            }
        }
    },
    methods: {
        getMoreMatch() {
            const len = this.matchList.length;
            if (this.matchLen >= len) {
                this.finished = true;
                return;
            }
            setTimeout(() => {
                this.loading = false;
                this.matchLen = this.matchLen + 20
            }, 300);
        },
    }
}
</script>
