<template>
    <div class="dialog" v-if="isShow && tyOssData.dialog">
        <div class="content">
            <img :src="tyOssData.dialog" alt="" class="banner" @click="jumpLink(tyOssData, 5)">
            <img src="@/assets/images/activity/close.png" alt="" class="close" @click.stop="isShow = false">
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex"
export default {
    computed:{
        ...mapGetters(["tyOssData"])
    },
    data(){
        return {
            isShow: true,
            env:''
        }
    }
}
</script>

<style lang="less" scoped>
.dialog{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(.3,.3,.3,.5);
    // pointer-events: none;
    .content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        .banner{
            width: 300px;
            height: 400px;
            margin-bottom: 20px;
        }
        .close{
            width: 30px;
            height: 30px;
        }
    }
}
</style>>
