<template>
    <van-notice-bar
        class="home-notice"
        color="rgba(255,255,255,0.6)"
        background="#1e2329"
        scrollable
        @click="goPage('/notice')">
        <template v-slot:left-icon>
            <i class="notice"></i>
        </template>
        <span
            v-for="(notice,index) in noticeList"
            :key="index"
            class="notice-item">
            <span class="no-vw-f14" v-html="formatNoticeTitle(notice.title)"></span>
        </span>
    </van-notice-bar>
</template>
<script>
import * as userApi from "@/api/user.js";
export default {
    data(){
        return {
            noticeList:[]
        }
    },
    created(){
        this.getNoticeList();
    },
    methods:{
        //公告列表
        getNoticeList() {
            userApi.requestNoticeList({
                page:1,
                page_size:10
            }).then((res) => {
                if (res.data.status == "true") {
                    this.noticeList = (res.data.data.d || []);
                }
            });
        },
        goPage(path){
            // this.$store.commit("SET_TRACK", { tab: 3, page: 1 });
            this.$router.push({ path: path });
        },

        formatNoticeTitle(title) {
            // 公告标题替换换行符 <br/>
            return title.replace(/<br(\/>|>)/g, '');
        }
    }
}
</script>
<style lang="less">
.home-notice{
    height: 32px;
    padding: 0 12px;
    .notice {
        width: 16px;
        height: 16px;
        margin-right: 8px;
        background: url("~@/assets/images/common/notice.png") no-repeat center;
        background-size: cover;
    }
    .notice-item {
        display: inline-block;
        min-width: 190px;
        padding-right: 100px;
        font-size: 12px;
    }
}
</style>