<template>
    <div class="pendant" v-if="tyOssData.pendant" :style="{backgroundImage: `url('${tyOssData.pendant}')`}" @click="jumpLink(tyOssData, 4)"></div>
</template>

<script>
import cryptoJS from '@/views/common/mixins/crypto.js'
import { mapGetters } from "vuex"
export default {
    computed:{
        ...mapGetters(["tyOssData"])
    },
    mixins:[cryptoJS]
}
</script>

<style lang="less" scoped>
.pendant{
    width: 375px;
    height: 40px;
    background-size: cover;
}
</style>