<template>
  <!-- 冠军盘不显示战队搜索 -->
  <div class="search" v-show="visible && matchFlag != 8">
    <div class="input-wrap">
      <input
        ref="input"
        class="input"
        type="text"
        :placeholder="i18n.search"
        v-model.trim="searchValueTemp"
        @blur="searchBlur"
        @input="changeVal"
      />
      <span
        class="clean-btn"
        :class="!searchValueTemp && 'hide-clean'"
        @click="clearHandle"
      ></span>
      <div class="btn-search" @click="changeSearchContent">{{ i18n.searchBtn }}</div>
    </div>
    <div class="cancel-btn" @click="closed">{{i18n.cancel}}</div>

    <div class="search-more" v-show="showMore">
      <div 
        class="more-item" 
        v-for="item in moreList" 
        @click="changeName(searchName(item))"
        :key="item.id + item.sid">
          {{ searchName(item) }}
      </div>
    </div>

  </div>
</template>

<script>
import { mapGetters } from 'vuex';
import * as gameApi from "@/api/game.js";
export default {
  name: "SearchInput",
  props: {
    visible: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      i18n: this.$t('homePage.searchInput'),
      moreList:[],
      showMore: false,
      lang: localStorage.getItem('language') || 'cn'
    };
  },
  computed: {
    ...mapGetters(["matchFlag"]),
    // 只是输入框显示得内容，未点击
    searchValueTemp: {
      get () {
        return this.$store.state.game.searchValueTemp
      },
      set (value) {
        this.$store.commit('SET_SEARCH_WORDSINPUT', value)
      }
    }
  },
  watch: {
    visible(v) {
      if (!v) return;
      this.$nextTick(() => {
        this.$refs.input.focus();
      });
    },
  },
  deactivated() {
    if (!this.searchValueTemp) {
      // 跳转页面后关闭战队搜索
      this.closed()  
    }
  },
  methods: {
    changeSearchContent() {
       this.showMore = false
      // 战队搜索点击统计
      // this.$store.commit("SET_TRACK", { tab: 14, page: 1 });
      this.$store.commit("SET_SEARCH_WORDS", this.searchValueTemp);
      if( this.searchValueTemp.replace(/\s*/g,"") ){
          this.$bus.$emit("changeTabDateInte");
          this.$store.commit("SET_MATCH_FLAG", this.matchFlag);

          
          // this.$store.dispatch("updateSearchMatchList")
      }
    },
    clearHandle() {
      this.showMore = false
      this.searchValueTemp = "";
      this.$nextTick(() => {
        this.$refs.input.focus();
      });
    },
    closed() {
      this.showMore = false
      this.searchValueTemp = "";
      this.$store.commit("SET_SEARCH_WORDS", "");
      this.$store.commit("SET_SEARCH_STATUS", false);
      this.$store.dispatch("updateMatchList")
    },
    searchBlur() {
      this.$store.commit("BET_CART_VISIBLE", false);
    },

    changeName(short_name){
      this.showMore = false;
      this.searchValueTemp = short_name
    },

    searchName(item){
      return this.lang == 'cn' ? item.cn_name  : item.en_name
    },

    changeVal(){

      if( !this.searchValueTemp ){
        this.showMore = false
        this.moreList =  [];
        return;
      }
      
      gameApi.requestTeamIndex({
        team_name: this.searchValueTemp ,
      }).then( (res) => {
        if( res.data.status == "true" ){
          this.moreList =  res.data.data.D;
          if( this.moreList.length > 0 ){
            this.showMore = true
          }
        }else{
          this.moreList =  [];
        }
      }).catch( (err) => {
        this.moreList =  [];
      })
     
    }
   
  },
};
</script>

<style lang="less" scoped>
.search {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #1e2329;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  .input-wrap {
    width: 307px;
    height: 24px;
    padding: 0 0 0 4px;
    background: #2b3036;
    border: 1px solid rgba(240, 240, 240, 0.4);
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url("~@/assets/images/common/search.png") no-repeat center;
      background-size: cover;
    }
    .input {
      width: 78%;
      height: 100%;
      font-size: 12px;
      user-select: auto; // 修复ios safari无法输入内容
      background: inherit;
    }
    .clean-btn {
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url("~@/assets/images/common/common-close-small.png")
        no-repeat center;
      background-size: cover;
      &.hide-clean {
        height: 0;
      }
    }
    .btn-search {
      background-image: linear-gradient(180deg, #61C5FF 8%, #0271BD 55%, #027ED0 100%);
      border-radius: 0px 12px 12px 0px;
      height: 24px;
      line-height: 24px;
      font-size: 13px;
      color: #FFFFFF;
      padding: 0 13px 0 8px;
      word-break: keep-all;
      font-weight: 400;
      margin: 0 -1px 0 5px;
    }
  }
  .cancel-btn {
    font-size: 14px;
  }
  .search-more{
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: #232323;
    z-index: 99;
    border-radius:0 0 10px 10px;
    overflow: scroll;
    .more-item{
      width: 100%;
      height: 30px;
      line-height: 30px;
      padding: 0 12px;
      cursor: pointer;
      font-size: 14px;
      color: rgba(255,255,255,0.8);
    }
  }
}
</style>