<template>
	<div class="sports-end-game">
		<div class="end-game-container">
			<div class="league-name" v-if="leagueList.length>0" @touchmove.stop>
				<ul class="league-list-row">
					<li :class="['list', { 'active': virtualLeague.id == league.id } ]"  @click="changeLeague(league)" v-for="(league, i) in leagueList" :key="i">
						{{ league.name }}
					</li>
				</ul>
			</div>
			<van-list
			v-model="loading"
			:finished="finished"
			:finished-text="i18n.finished"
			@load="onLoad"
			loading-text="loading..."
			:immediate-check="false"
			v-if="roundList.length > 0"
			>
				<template #loading>
					<listLoad />
				</template>

				<ul class="sports-match">
					<li
						class="match-list"
						v-for="(round,i) in roundList"
						:key="i"
					>
						<div class="round">{{ round.round_no }} <span class="batch">{{ $t('homePage.sportsEndGame.qi', {no :round.batch_no} )}}</span></div>
						<div class="time"> {{ timetrans(round.start_time).m }} {{ timetrans(round.start_time).d }} </div>
						<div v-for="(game,index) in round.game_data" :key="index" class="item-c">
                            <div class="item">
                                <div class="team team-home">
									<span class="team-name left ellipsis"> {{game.team_name.split(',')[0]}} </span>
									<div class="team-logo">
										<team-image :url="global.TeamImages[game.team_id.split(',')[0]]" />
									</div>
								</div>
								<div class="score-content">
									<span class="score DIN"> {{game.score.split(':')[0]}} </span>
									<span class="score-line common-teams-line"></span>
									<span class="score DIN"> {{game.score.split(':')[1]}} </span>
								</div>
								<div class="team team-away">
									<div class="team-logo">
										<team-image :url="global.TeamImages[game.team_id.split(',')[1]]" />
									</div>
									<span class="team-name ellipsis"> {{game.team_name.split(',')[1]}} </span>
								</div>
                            </div>
                            <div class="item" v-if="game.penaltyScore">
                                <div class="team team-home">
									<span class="team-name left ellipsis" />
									<div class="team-logo penalty" />
								</div>
                                <div class="score-content">
                                    <span class="score DIN"> {{game.penaltyScore.split(':')[0]}} </span>
                                    <span class="score-line common-teams-line"></span>
                                    <span class="score DIN"> {{game.penaltyScore.split(':')[1]}} </span>
                                </div>
                                <div class="team team-home" />
                            </div>
							
						</div>
                       
					</li>
				</ul>
			</van-list>

			<common-not-data
				v-if="roundList.length == 0 && loading == true"
				:title="i18n.notData"
				showLive="true"
				:subTitle="i18n.notDataSub"
				backgroundImg="no-data-collect"
				paddingTop="66px"
				paddingBottom="66px"
			>
			</common-not-data>
		</div>
	</div>
</template>
<script>
import { mapGetters } from "vuex";
import commonNotData from "@/views/common/commonNotData";
import listLoad from "@/views/common/listLoad";
import { timetrans } from "@/assets/scripts/utils";
import * as virtualSportsApi from "@/api/virtualSports.js";
export default {
	name: "endGame",
	components: { commonNotData, listLoad },
	props: {
		dateKey: {
			type: Number,
			default: 1,
		},
	},
	data() {
		return {
			finished: false,
			loading: false,
			global,
			leagueList: [],//联赛列表
			i18n: this.$t('homePage.sportsEndGame'),
			roundList: [],
			page: 1,
		};
	},
	computed: {
		...mapGetters([
			"endDate",
			"virtualGame",
            "virtualLeague",
		]),
	},
	watch: {
		dateKey: "changeSwipe",
		endDate(o,ov){
			if(o != ov) {
				this.page = 1;
				this.getList();
			}
		},
        'virtualLeague.updata'(){
            this.page = 1;
			this.roundList = [];
			this.getList();
		},
	},
	created(){
        // this.$store.commit("SET_VIRTUAL_GAME",{game_id: '1001', is_open_match: 1,});
        this.getSportsTour();
    },
    mounted(){
        setTimeout( () => {
            const targetLeague = document.querySelector(".league-list-row .active");
			if(targetLeague){
				targetLeague.scrollIntoView(false);
			}
        }, 1000)
    },
	methods: {
		timetrans,
		getSportsTour(){
			const {game_id} = this.virtualGame;
			virtualSportsApi.requestSportsTour({ game_id }).then((res) => {
				if(res.data.status == "true"){
					this.leagueList = res.data.data || []
                    this.$store.commit("SET_VIRTUAL_LEAGUE", res.data.data[0]);
					this.$nextTick(() => {
						this.getList();
					})
				}
			}).catch(err => {
				this.loading=true;
				console.error(err)
			})
		},

		// 切换联赛
        changeLeague(targetLeague){
			this.page = 1;
			this.roundList = [];
            this.$store.commit("SET_VIRTUAL_LEAGUE", targetLeague);
            this.getList();
        },

		// 改变页码
		changeSwipe(key) {
			this.$store.commit("SET_PAGE_SIZE", 30);
			this.finished = false;
			this.loading = false;
			this.page = 1;
			this.roundList = [];
			this.$store.commit("SET_ENDGAME_DATE", key);
		},

		// 获取赛果列表
		getList(){
			const {game_id} = this.virtualGame;
            const {id} = this.virtualLeague;
			this.finished = false;
			this.loading = false;
			let datares = {
				game_id,
				day: this.endDate,
				tour_id: id,
				// page_size: this.page_size,
				page: this.page,
			};
			virtualSportsApi.requestSportsResult(datares).then((res) => {
				this.loading=true;
				if(res.data.status == "true"){
					const data = res.data.data || [];
                    // 处理点球比分
                    data?.forEach(ele => {
                        ele.game_data.forEach(match => {
                            const scoreArr = match.score.split(',');
                            match.score = scoreArr[0];
                            match.penaltyScore = scoreArr[1];
                        });
                    });
					this.roundList.push(...data)
					if(data.length >= 20){
                        this.finished = false 
						this.loading = false 
                    }else{
						this.finished = true 	
					}
				}
			}).catch(err => {
				this.loading=true;
				console.error(err)
			})
		},

		// 加载更多
		onLoad() {
			if (this.roundList.length >= this.page*20) {
				this.finished = false;
				this.page++
				this.getList()
			} else {
				this.finished = true;
			}
		},
	},
};
</script>
<style lang="less">
.sports-end-game {
 	padding: 8px 12px;
	
	.end-game-container{
		border-radius: 8px;
		border: 1px solid rgba(255,255,255,0.1);
		.league-list-row{
			width: 100%;
			overflow-y: hidden;
			overflow-x: scroll;
			display: flex;
			white-space: nowrap;
			padding: 0 12px;
			height: 40px;
			background: rgba(0,0,0,0.20);
			border-radius: 8px 8px 0 0;
			.list{
				font-family: PingFangSC-Regular;
				font-size: 12px;
				color: rgba(255,255,255,0.6);
				font-weight: 400;
				padding: 0 8px;
				line-height: 40px;
				&.active{
					color: #FFFFFF;
					font-weight: 400;
				}
			}
		} 
		.sports-match{
			
			.match-list{
				border-bottom: 1px solid rgba(255,255,255,0.1);
				padding-bottom: 7px;
			}
		}
		.round{
			font-size: 12px;
			color: #FFFFFF;
			font-weight: 400;
			text-align: center;
			margin-top: 12px;
			.batch{
				color: #0095FF;
				padding: 0 4px;
			}
		}
		.time{
			font-size: 12px;
			color: rgba(255,255,255,0.6);
			font-weight: 400;
			text-align: center;
			margin-top: 4px;
		}
        .item-c{
            display: flex;
            flex-direction: column;
            align-items: center;
            &:not(:last-of-type){
                border-bottom: 1px solid rgba(255,255,255,0.1);
            }
            .item{
                width: 100%;
                height: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .team{
                display: flex;
                align-items: center;
                width: 135px;
                &.team-home{
                    justify-content: right;
                }
                &.team-away{
                    justify-content: left;
                }
                .team-name{
                    font-size: 12px;
                    color: rgba(255,255,255,0.6);
                    font-weight: 400;
                    margin: 0 4px;
                    width: 82px;
                    &.left{
                        text-align: right;
                    }
                }
                .team-logo{
                    width: 30px;
                    height: 30px;
                    img{
                        width: 30px;
                        height: 30px;  
                    }
                    &.penalty{
                        width: 20px;
                        height: 20px;  
                        background-image: url("~@/assets/images/vsports/penalty.png");
                        background-size: contain;
                    }
                }
            }
            .score-content{
                width: 82px;
                display: flex;
                justify-content: center;
                .score-line{
                    width: 24px;
                    height: 24px;
                    margin: 0 4px;
                }
                .score{
                    font-size: 18px;
                    color: #FFFFFF;
                    font-weight: 700;
                }
            }
        }
		
	}
}
</style>