<template>
    <div class="match virtual" @touchmove.stop>
        <div class="league-name" v-if="leagueList.length>0" @touchmove.stop>
            <ul class="league-list-row">
                <li :class="['list', { 'active': virtualLeague.id == league.id } ]"  @click="changeLeague(league)" v-for="(league, i) in leagueList" :key="i">
                    {{ league.name }}
                </li>
            </ul>
        </div>
        
        <!-- 倒计时视频 -->
        <div class="stage-wrapper" v-if="matchList.length>0">
          <virtualSportsStage 
            from="list"
            :key="`list-${virtualMatch.sid}`"
            v-if="virtualMatch.sid && !this._inactive"
            :tourId="virtualLeague.id"
            @getVirtualMatches="getVirtualMatches">
          </virtualSportsStage>
        </div>
        <!-- 赛事轮|期菜单 -->
        <match-tab
            :class="['matchTab',{'isFixed':isFixed}]"
            v-if="matchList.length>0"
            @trendShow="showTrend=true"
            @changeTab="changeTab"
            ref="matchTab"
        ></match-tab>
        <van-list
            class="v-match-list"
            v-if="showTrend == false"
            v-model="loading"
            :finished="true"
            :immediate-check="false"
            loading-text="loading..."
            ref="vMatchList"
        >
            <ListItem 
                v-for="match in matchList" 
                :key="match.id" 
                :match="match"
                :batchEnd ="batchEnd"
                @changeMatch="changeMatchVideo"
            />
        </van-list>
        <common-not-data
            v-if="matchList.length == 0 && loading == true"
            class="not-account-data"
            :title="i18n.notData"
            showLive="true"
            :subTitle="i18n.notDataSub"
            backgroundImg="not-data-match"
            paddingTop="90px">
        </common-not-data>
        <football-ranking  v-if="showTrend && virtualLeague.is_cup==0" :sid="virtualLeague.id" @closeRanking="showTrend=false"></football-ranking>
        <knockout  v-if="showTrend && virtualLeague.is_cup==1" :sid="virtualLeague.id" @closeRanking="showTrend=false"></knockout>
    </div>
</template>
<script>
import { mapGetters } from "vuex";
import commonNotData from "@/views/common/commonNotData";
import ListItem from "../virtualSports/listItem";
import footballRanking from "../virtualSports/footballRanking";
import virtualSportsStage from "@/views/common/virtualSportsStage.vue";
import knockout from "../virtualSports/knockout";
import matchTab from "../virtualSports/matchTab.vue"
import * as virtualSportsApi from "@/api/virtualSports.js";
import lodash from "lodash";
import virtualSportsM from '@/views/common/mixins/virtualSports.js';
export default {
    name:"anchor",
    mixins:[virtualSportsM],
    components:{ 
        commonNotData,
        ListItem,
        footballRanking,
        knockout,
        virtualSportsStage,
        matchTab,
    },
    data() {
        return {
            loading: false,
            i18n: this.$t('homePage.list'),
            showLeague: false, // 联赛筛选列表开启状态
            showTrend: false, // 展示排行榜数据
            leagueList:[], // 联赛列表
            isFixed: false,
            Vindex: 0, 
            timer_: null,
            batchEnd: false, // 视频是否播放完成
            freshMatchListTag: null, 
        }
    },
    created(){
        this.$store.commit("SET_VIRTUAL_GAME",{game_id: '1001', is_open_match: 1,});
        this.getSportsTour();
    },
    computed:{
        ...mapGetters([
            "virtualMatchList",
            "virtualMatch",
            "serverTime",
            "localTime",
            "virtualGame",
            "matchFlag",
            "virtualLeague",
            "listScrollTop",
        ]),
        matchList(){
            return this.virtualMatchList && this.virtualMatchList[this.Vindex] && this.virtualMatchList[this.Vindex].game_data || [];
        },
        // 当前轮视频最大播放时长
        maxDuration(){
            return this.virtualMatchList && this.virtualMatchList[this.Vindex] && this.virtualMatchList[this.Vindex].maxDuration;
        }
    },
    watch: {
        $route(to,from){
            if(from.name != 'home'){
                this.Vindex = 0;
                this.getVirtualMatches();
            }
        },
        "virtualGame.is_open_match"(v, ov) {
            this.getSportsTour();
        },
        maxDuration(v, ov) {
            // 实时同步最新时间
            if(this.timer_){
                this.batchEnd = false;
                clearInterval(this.timer_);
            }
            if(this.maxDuration > 0 ){
                let mgt = Number(this.virtualMatch.start_time*1000);
                let remote_time = Number(this.serverTime);
                let local_time = Number(this.localTime);
                let current_time = (remote_time+(new Date().getTime()-local_time)-mgt);
                this.timer_= setTimeout(()=>{
                    let obj={
                        batch_no: this.virtualMatch.batch_no, 
                        tour_id: this.virtualLeague.id,
                        game_id: this.virtualGame.game_id,
                    }
                    this.$store.dispatch("fetchVirtualResult",obj)
                    this.batchEnd = true;
                },this.maxDuration*1000 - current_time)
            }
        },
    },

    mounted(){
        const dom = document.querySelector(".virtual-sports")
        dom.addEventListener("scroll",(e)=>{
            const { scrollTop } = e.target
            if( scrollTop > 223 ){
                this.isFixed = true
            }else{
                this.isFixed = false
            }
        });
        document.removeEventListener('visibilitychange', this.visibilitychangeFn);
        document.addEventListener('visibilitychange', this.visibilitychangeFn);
        const that = this;
        setTimeout( () => {
            const targetLeague = document.querySelector(".league-list-row .active");
            if(targetLeague){
                targetLeague.scrollIntoView(false);
            }
            document.querySelector(".virtual-sports").scrollTo({
                top: that.listScrollTop,
            });
        }, 1000)
    },
    methods: {
        //检查是否首轮已结束
        checkFirstRoundDel(){
            console.log('checkFirstRoundDel')
            if(this.isFirstRoundAllEnd()){// 第一轮比赛结束
                this.Vindex = 0;
                this.getVirtualMatches();
            }else{
                this.freshMatchListTag = setTimeout(this.checkFirstRoundDel,4000);
            }
        },
        visibilitychangeFn(){  
            if(
                document.visibilityState == "visible" 
                && this.$route.path.indexOf('/home') != -1 
                && this.matchFlag == 10
            ){
                this.Vindex = 0;
                this.showTrend = false;
                this.getVirtualMatches();
            }
        },

        // 获取联赛列表
        getSportsTour: lodash.debounce(function(){
            const {game_id} = this.virtualGame;
            virtualSportsApi.requestSportsTour({ game_id }).then((res) => {
                if(res.data.status == "true"){
                    this.leagueList = res.data.data || []
                    if(!this.virtualLeague.id){
                        this.$store.commit("SET_VIRTUAL_LEAGUE", res.data.data[0]);
                    }
                    this.$store.commit("SET_VIRTUAL_GAMES_STATUS", {
                        is_open_match: this.leagueList.length > 0 ? 1 : 0, 
                    });
                    this.getVirtualMatches();
                }
            }).catch(err => {
              console.error(err)
            })
        },500),

        // 获取轮数列表
        getVirtualMatches(){
            if(this.timer_){
                this.batchEnd = false;
                clearInterval(this.timer_);
            }
            if(!this.virtualLeague || !this.virtualLeague.id){
                this.loading = true;
                console.error('无虚拟体育联赛id')
                this.$store.commit("SET_VIRTUAL_MATCH_LIST", [] );
                return;
            }
            this.$store.dispatch("fetchVirtualMatches",{ game_id: this.virtualGame.game_id , tour_id: this.virtualLeague.id}).then(res => {
                this.loading = true;
                if(this.virtualMatchList.length === 0){
                    return;
                }
                this.getCurrentMatchInfo(0, 0);
            });
        },

        // 获取赛事详情
        getCurrentMatchInfo(roundIndex = 0, matchIndex = 0){
            console.log('获取赛事详情',roundIndex,matchIndex)
            const {round_no} = this.virtualMatchList[roundIndex];
            const currentMatch = this.virtualMatchList[roundIndex].game_data[matchIndex];
            this.$store.commit("SET_VIRTUAL_MATCH", {
                ...currentMatch,
                round_no,
                matchStatus: 0,
            });
        },


        // 联赛筛选列表
        openLeague() {
            this.showLeague = !this.showLeague;
        },

        //切换联赛
        changeLeague(targetLeague){
            this.Vindex = 0;
            clearTimeout(this.timer_);
            this.$store.commit("SET_VIRTUAL_LEAGUE", targetLeague);
            this.getVirtualMatches();
            this.showTrend = false;
        },

        // 轮数切换
        changeTab(key){
            if(key > -1 ){
                this.showTrend = false;
                this.Vindex = key;
                this.batchEnd = false;
                clearTimeout(this.timer_);
                this.getCurrentMatchInfo(key);
            }
            
        },
        
        changeMatchVideo(val){
            const roundIndex =this.virtualMatchList.findIndex(el=>el.batch_no == val.batch_no);
            const matchIndex = this.virtualMatchList[roundIndex].game_data.findIndex(el=>el.id == val.match_id);
            this.getCurrentMatchInfo(roundIndex, matchIndex);
        },
    },
    destroyed(){
        document.removeEventListener('visibilitychange', this.visibilitychangeFn);
        clearTimeout(this.timer_);
    },
    deactivated(){
        document.removeEventListener('visibilitychange', this.visibilitychangeFn);
        clearTimeout(this.timer_);
    },
}
</script>
<style lang="less" scoped>
.virtual{
    padding: 0 !important;
    .stage-wrapper{
        width: 351px;
        height: 198px;
        margin: 0 auto;
    }
    .league-list-row{
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        display: flex;
        white-space: nowrap;
        padding: 0 12px;
        height: 40px;
        background: rgba(0,0,0,0.20);
        border-radius: 8px 8px 0 0;
        .list{
            font-family: PingFangSC-Regular;
            font-size: 12px;
            color: rgba(255,255,255,0.6);
            font-weight: 400;
            padding: 0 8px;
            line-height: 40px;
            &.active{
                color: #FFFFFF;
                font-weight: 400;
            }
        }
    } 
    .v-match-list{
        width: 351px;
        margin: 0 auto;
    }
}
</style>