<template>
  <section class="match-filter">
    <van-sticky :offset-top="0">
      <div class="dj-common-nav-header">
        <div class="left" @click="goBack">
          <i class="common-go-back"></i>
        </div>
        <div class="nav-title">{{ i18n.matchFilter }}</div>
      </div>
    </van-sticky>
    <main class="content" ref="leagueMatchList">
      <van-sticky offset-top="13.06667vw" v-show="showNav">
        <div class="dj-common-nav-header filter-nav">
          <span 
              :class="['words', { 'active': activeNav == 'normal' } ]" 
              @click="changeNav('normal')"> 
              {{ i18n.normal }}
          </span>
          <span 
              :class="['words', { 'active': activeNav == 'champion' } ]" 
              @click="changeNav('champion')"> 
              {{ i18n.champion }}
          </span>
        </div>
      </van-sticky>
      <div v-if="leagueCheckeds.length" class="match-list" >
      <!-- finished-text="没有更多数据了～" -->
         <template v-for="match in matchList">
          <div
            :key="'title_' + match.id"
            class="league-title flex x-center y-center"
            v-show="activeNav == 'normal' && normalMatch.length > 0 && match.isFirstChild"
          >
            <div class="game_logo">
              <span
                class="logo game-logo-sprite"
                :class="logoCls(match.game_id)"
              ></span>
            </div>
            <span class="no-vw-f12">
              {{ tournamentName[match.tournament_id] || ''  }} 
            </span>
          </div>
          <template v-if="match.category != 2">
              <list-item  :match="match" :key="match.id" />
          </template>
          <template v-else>
              <championItem  :scrollElement="scrollElement" v-show="match.visible" :matchObj="match" :key="match.id" />
          </template>
        </template>
      </div>
      <common-not-data
        v-else
        :title="i18n.notData"
        :subTitle="i18n.finished"
        backgroundImg="not-data-match"
        paddingTop="66px"
      />
    </main>

    <div
      class="back_top"
      v-show="showBackTop"
      @click.stop="scrollTop('.match-filter .content', true)"
    >
      <span class="icon"> </span>
      <span class="words"> {{$t('homePage.top')}} </span>
    </div>
  </section>
</template>

<script>
import { mapGetters } from "vuex";
import commonNotData from "@/views/common/commonNotData";
import ListItem from "@/views/home/ListItem/listItem";
import championItem from "@/views/home/ListItem/championItem";
import { scrollTop, formatH5Bg } from "@/assets/scripts/utils";

export default {
  name: "matchFilter",
  components: {
    commonNotData,
    ListItem,
    championItem
  },
  data() {
    return {
      finished: false,
      loading: false,
      showBackTop: false,
      activeNav: "normal",
      i18n: this.$t('homePage.matchFilter'),
    };
  },
  watch:{
    // 动态筛选改变时，切换对应导航;
    macthNavNum:{
        handler(v, ov){
            const { normalMatchNum, championMatchNum } = v;
            if( normalMatchNum == 0 && championMatchNum != 0 ){
                this.activeNav = "champion";
            }
            if( normalMatchNum != 0 && championMatchNum == 0  ){
                this.activeNav = "normal";
            }
        },
        immediate: true
    }
  },
  computed: {
    ...mapGetters(["allMatchList", "leagueCheckeds", "tournamentName"]),
    cacheMatchList(){
      let arr = [];
      const leagues = this.leagueCheckeds;
      for( let i = 0; i < leagues.length; i++ ){
        const list = this.allMatchList.filter( ele => leagues[i].matchId.includes(ele.id) && ele.is_open_match);
        if(list[0]){ list[0]['isFirstChild'] = true }
        arr = [
          ...arr,
          ...list
        ]
      }
      return arr
    },
    scrollElement(){
      return document.querySelector(".match-filter .content")
    },
    // 正常玩法赛事
    normalMatch(){
      const arr = this.cacheMatchList.filter( ele => ele.category != 2 && ele.visible == 1)
      return arr
    },
    // 冠军玩法赛事
    championMatch(){
      const arr = this.cacheMatchList.filter( ele => ele.category == 2 && ele.visible == 1 )
      return arr
    },

    macthNavNum(){
      return {
        normalMatchNum: this.normalMatch.length,
        championMatchNum: this.championMatch.length,
      }
    },
    
    matchList(){
      if( this.activeNav == "normal" ){
        return formatH5Bg(this.normalMatch, global.GameImages)
      }else{
        return formatH5Bg(this.championMatch, global.GameImages)
      }
    },
    // 是否显示玩法导航： 正常玩法赛事 normalMatch != 0 && 冠军玩法赛事 championMatch != 0
    showNav(){
        const { normalMatch, championMatch } = this;
        return normalMatch.length != 0 && championMatch.length != 0
    }
  },
  beforeRouteEnter(to, from, next) {
    next((vm) => {
      if (from.name == "markets") {
        const dom = document.querySelector(".match-filter .content");
        dom.scrollTop = sessionStorage.matchFilterScrollTop || 0;
      }
    });
  },
  beforeRouteLeave(to, from, next) {
    if (to.name == "markets") {
      const dom = document.querySelector(".match-filter .content");
      sessionStorage.matchFilterScrollTop = dom.scrollTop;
    }
    next();
  },
  created() {
    this.init();
  },
  mounted() {
    this.$nextTick(() => {
      const dom = document.querySelector(".match-filter .content");
      dom.addEventListener("scroll", (e) => {
        const { scrollTop } = e.target;
        this.showBackTop = scrollTop > 500;
      });
    });
  },
  methods: {
    scrollTop,
    init() {
      let matchId = [];
      this.$store.dispatch("fetchMatchTour", this.leagueCheckeds[0].gameID).then( () => {
        this.leagueCheckeds.forEach( ele => {
          matchId = [
            ...matchId,
            ...ele.matchId
          ] 
        });
        this.$store.dispatch("fetchMatchTourList", {
          matchId: matchId,
        }).then( res => {
          // this.matchList = formatH5Bg(this.cacheMatchList.slice(0, 20), global.GameImages);
          // console.log( this.matchList )
        })
      })
    },
    // getMatchList(tournament_id) {
    //   return this.allMatchList.filter((a) => {
    //     const notResult = a.status !== 7 && a.status !== 9;
    //     return a.tournament_id === tournament_id && notResult;
    //   });
    // },
    // getMoreMatch() {
    //   const len = this.matchList.length;
    //   const cmatchs = this.cacheMatchList;
    //   if (len >= cmatchs.length) {
    //     this.finished = true;
    //     return;
    //   }
    //   setTimeout(() => {
    //     this.loading = false;
    //     let list = cmatchs.slice(0, len + 20);
    //     list = formatH5Bg(list, global.GameImages);
    //     this.matchList = list;
    //   }, 300);
    // },
    goBack() {
      this.$router.go(-1);
      this.$store.commit("SET_LEAGUECHECKEDS", [])
    },

    // 切换导航
    changeNav(navStr){
      this.$refs.leagueMatchList.scrollTop = 0;
      this.activeNav = navStr;
    }
  },
};
</script>

<style lang="less" scoped>
.match-filter {
  height: 100%;
  .match-list{
    padding: 8px 12px 56px;
  }
  .filter-nav{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    padding-right: 0;
    .words{
        text-align: center;
        position: relative;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.6);
        text-shadow: 0 1px 0 rgba(0,0,0,0.50);
        font-weight: 400;
        cursor: pointer;
        padding-bottom: 8px;
        flex: 1;
        &.active{
            color: #1FA2FF;
            font-weight: 500;
            &::after{
                content: "";
                width: 40px;
                height: 2px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                background: #1FA2FF;
            }
        }
    }
  }
  .content {
    // padding: 8px 12px 56px;
    height: calc(100% - 50px);
    overflow-y: auto;
    .league-title {
      height: 32px;
      border-radius: 4px;
      margin-bottom: 8px;
    }
    .game_logo {
      display: inline-block;
      width: 16px;
      height: 16px;
      margin-right: 4px;
      .logo {
        display: inline-block;
        width: 120px;
        height: 120px;
        transform-origin: 0 0;
        transform: scale(16/120);
      }
    }
  }
}
</style>