<template>
    <div class="page page-lol" id="tese-lol">
        <div class="card-area-container">
            <CardArea :showSetting.sync="showSetting"/>
        </div>
        <div :class="['data-reference-container', {'container-float': floatMap}]">
            <DataReference @resize="resize" />
        </div>
        <div class="play-betting-container">
            <PlayBetting :showSetting.sync="showSetting" />
        </div>
    </div>
</template>

<script>
import {
    mapState,
    mapGetters,
    mapActions,
} from 'vuex'
import CardArea from './CardArea'
import DataReference from './DataReference'
import PlayBetting from './PlayBetting'
import store from '@/store'
import * as LotteryApi from '@/api/teselol'
import Tooltip from './common/tooltip'
import TipModal from './common/tipmodal/tipmdal'
import MKNumberKeyboard from './common/number-keyboard'
import ComLoad from './common/common-loading'
import commonInputplugIn from './common/common-input'
import CommonModal from './common/common-modal'
import Vue from 'vue'

Vue.use(Tooltip)
Vue.use(TipModal)
Vue.use(MKNumberKeyboard)
Vue.use(ComLoad)
Vue.use(commonInputplugIn)
Vue.use(CommonModal)

import * as GolbalCounter from '@/views/lottery/scripts/globalCounter'
import { initLoL } from '@/assets/scripts/lolApiDomainRace'

export default {
    components: {
        CardArea,
        DataReference,
        PlayBetting
    },
    data() {
        return {
            imgIndex: 0,
            show: true,
            swiperOption: {
                slidesPerView: 1,
                spaceBetween: 0,
                pagination: {
                    clickable: true
                },
            },
            showSetting: false,
            floatMap: false
        }
    },
    created() {
        this.$store.dispatch("getCurrentOpenNumHistory")
    },
    beforeDestroy() {
    },
    computed: {
        ...mapState({
            ticketId: state => state.lottery.ticketId,
            pushData: state => state.lottery.pushData,
        }),
        ...mapGetters([
            'ticketName',
            'currentIssue',
            'balance',
        ]),
    },
    watch: {
        pushData({type, data}) {
            if (type == 'EVENT_OPEN_PRIZE' && data.ticketId == 268) {
                this.$store.dispatch("getCurrentOpenNumHistory");
            }
        },
    },
    mounted(){
        GolbalCounter.init()
        this.getTicketCfg();
        this.fetchUserConfig();
        this.$store.commit("setlastBetData",[])

        this.initHeight();

    },
    methods: {
        ...mapActions(['fetchUserConfig']),
        getTicketCfg(){
            LotteryApi.getTicketCfg("268").then(res => {
                const ticketInfo  = res.data.data;
                this.$store.commit('setTicketInfo', ticketInfo)
            })
        },

        // 初始化时候，设定投注区域高度
        initHeight(){
            var h1 = document.querySelector('#tese-lol').clientHeight
            var h2 = document.querySelector('.card-area-container').clientHeight
            var h3 = document.querySelector('.data-reference-container').clientHeight

            document.querySelector('.play-betting-container').style.height = `${h1 - h2 - h3}px`
        },

        // 是否悬浮路子图
        resize(type){
            this.floatMap = type
        }
    },

    beforeRouteEnter(to, from, next) {
        console.log('从当前路由中获取彩种id：', to.params.id)
        // 1. 页面刷新 2. 大厅进入 3. 第三方进入
        const id = to.params.id || "268"
        if (id) {
            store.commit('setTicketId', id)
        }
        document.body.classList.add('tese-lol')

        initLoL().then(()=>{
            next()
        });
    },

    // 组件复用
    beforeRouteUpdate(to, from, next) {
        // 手动切换 彩种
        if (to.params.id && to.params.id != this.ticketId) {
            this.$store.commit('setTicketId', to.params.id)
        }

        next()
    },
    // 组件复用
    beforeRouteLeave(to, from, next) {
        document.body.classList.remove('tese-lol')
        next()
    },
}
</script>

<style lang="less">
.page-lol {
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
    background-image: url(~@/assets/images/tese-lol/lol-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;

    >div {
        position: relative;
    }
    .card-area-container {
        height: 240px;
        background-image: url(~@/assets/images/tese-lol/lol-bg-head.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .data-reference-container {
        position: relative;
        height: 150px;
        background-image: linear-gradient(180deg, rgba(0,0,0,0.25) 0%, rgba(0,0,0,0.25) 100%);
        // z-index: 10;
        &::after {
            display: none;
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-image: url(~@/assets/images/tese-lol/lol-bg-line.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }
        &.container-float{
            position: fixed;
            right: 0;
            top: 240px;
            z-index: 1;
            
            .data-reference .right{
                margin: 0;
                .transition-box{
                    top: 6px;
                    left: -343px;
                    width: 343px;
                    background-color: #272930;
                }
                .card{

                    width: 343px;
                    background-color: #272930;
                }
            }
            .data-reference .left{
                background-color: #272930;
                border-radius: 8px 0 0 8px;
            }
        }
    }
    .play-betting-container {
        flex: 1;
    }
}

// 处理弹窗css
body.tese-lol {
    .tooltip{
        font-size: 12px !important;
    }
    .tooltip.visible {
        background: #3E5D71;
        border-radius: 3px;
    }
    .tooltip .tooltip-arrow {
        border-top-color: #3E5D71!important;
    }


    .van-dialog {
        color: white;
        background: rgba(35,50,60,0.80);
        border: 1px solid rgba(255,255,255,0.15);
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.63);
        border-radius: 3px;
        .van-dialog__header {
            color: white;
        }
        .van-dialog__message {
            color: white;
            font-weight: 300;
        }
        .van-dialog__footer {
            background: rgba(35,50,60,0.80);
            justify-content: space-evenly;
            padding-bottom: 16px;
            &:after {
                display: none;
            }
            .van-button {
                font-size: 12px;
                &:before, &:after {
                    display: none;
                }
            }
            .van-button--default {
                background: rgba(255,255,255,0.04) !important; 
                border: 1px solid rgba(255,255,255,0.2);
                flex: none;
                width: 106px;
                height: 32px;
                line-height: 32px;
            }
            .van-dialog__confirm {
                
                background-image: linear-gradient(180deg, rgba(0,149,255,0.16) 2%, rgba(0,149,255,0.30) 100%) !important;
                border: 1px solid rgba(0,149,255,1);

                .van-button__text {
                    color: #fff;
                }
            }
            .van-dialog__cancel {
                .van-button__text {
                    background-image: unset!important;
                    color: #637289!important;
                }
            }
        }
        border: 1px solid rgba(255,255,255,0.15);
    }
    .mk-tooltip-g {
        background-color: #3E5D71!important;
        .carrot {
            border-top-color: #3E5D71!important;
        }
    }
    .van-popup{
        border-radius: 3px !important;
    }
    .trace-check-modal {
        background: url(~@/assets/images/tese-lol/bg-popup.png) no-repeat;
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.63);
        border-radius: 3px;
        .play-list-item, .title, .top, .summary, .modal-title {
            color: white!important;
        }
        .middle {
            border: unset;
            .title {
                background-color: rgba(0,0,0,0.2)!important;
                background-image: unset!important;
                border-bottom: unset;
                color: #BCBEC2!important;
                font-size: 12px;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }
        }
        .mk-button {
            background-image: unset!important;
            border: 1px solid #637289;
            color: #8590AE!important;
            font-size: 12px;
            font-weight: 500;
            &.lg-w {
                color: white!important;
            }
        }
        .modal-title {
            background: transparent !important;
            border: 1px solid rgba(151,151,151,0.15) !important;
        }
        .important-color {
            color: #FF7070;
        }
        .play-list {
            border-bottom: 1px solid rgba(151,151,151,0.15);;
        }
        .modal-btns {
            box-shadow: unset;
            justify-content: space-around !important;
            .mk-button:first-child{
                background: rgba(255,255,255,0.04);
                border: 1px solid rgba(255,255,255,0.2);
                border-radius: 1px !important;
            }
            .mk-button:last-child{
                background: hsla(0,0%,100%,.04)!important;
                background-image: linear-gradient(180deg, rgba(0,149,255,0.16) 2%, rgba(0,149,255,0.30) 100%) !important;
                border: 1px solid rgba(0,149,255,1);
                border-radius: 1px;
            }
        }
        .content-issue {
            font-weight: 300;
            font-size: 12px;
        }
    }
    .pop-header {
        border-bottom: unset;
    }
    .win_modal-box {
        background: #5B637B;
    }
}

// // 路子图是否显示弹框样式
// @media (min-aspect-ratio: 9/16) {
//     .page-lol{
//         .data-reference-container{
//             position: absolute;
//             left: 0;
//             top: 240px;
//             z-index: 999999;
//             background-color: red;
//         }
//     }
// }


</style>
