<template>
    <div id="toast" :class="crossTip ? 'cross-toast-box' : 'success-toast-box'" v-show="visible">
         <template v-if="crossTip">
            <!-- 串关提示语 -->
            <div class="cross-toast">
                <div class="toast-msg">
                    {{ message }}
                </div>
                <p> {{i18n.closeMessage}} <p>
                <div class="close" @click="visible=false">
                    {{i18n.close}}
                </div>
            </div>
         </template>
         <template v-else>
            <!-- 成功 -->
            <div class="success-toast">
                <div class="toast-icon">
                    <div class="right-hook">
                    </div>
                </div>
                <div class="toast-msg" v-html="message">
                </div>
            </div>
        </template>
        
    </div>
</template>
<script>
import i18n from "@/assets/i18n/index.js"
export default {
    data () {
        return {
            visible: false,
            message: '',
            crossTip: false,
            i18n: i18n.t('common.message'),
        }
    }
}
</script>
<style lang="less" scoped>

@keyframes dgLeft{
    0%{
        top:-100%}
    100%{
        top:0%
    }
}
		
@keyframes dgRight{
    0%{
        left:-100%
    }
    100%{
        left:0%
    }
}

@keyframes dgZoom{
    0%{
        transform: scale(0, 0);
    }
    100%{
        transform: scale(1, 1);
    }
}

@keyframes dgOpacity{
    0%{
        opacity: 0;
        margin-left: -120px;
    }
    100%{
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes dgTransform{
    0%{
        top: 50%;
        left: 50%;
        transform: scale(1, 1);
    }
    100%{
        top: 0;
        left: 100%;
        opacity: 0;
        transform: scale(0.1, 0.1);
    }
}

.success-toast-box{
    position: fixed;
    z-index: 100;
    top: 65%;
    left: 50%;
    margin: -60px 0 0 -57px;
    width: 120px;
    height: 114px;
    animation: dgTransform 0.3s linear 1.5s 1 both;
}

.success-toast{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 120px;

   
    .toast-icon{
        width: 66px;
        height: 66px;
        border-radius: 66px;
        background: #1FA2FF;
        position: relative;
        animation: dgZoom 0.3s linear 0s 1 both;
        .right-hook{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: rotate(-45deg);
            width: 30px;
            height: 20px;
            margin: -14px 0 0 -13px;
            overflow: hidden;
            
            &::after{
                content: "";
                position: absolute;
                background: #fff;
                border-radius: 3px;
                width: 30px;
                height: 3px;
                bottom: 0;
                animation: dgRight 0.3s linear 0.6s 1 both;
            }
            &::before{
                content: "";
                position: absolute;
                background: #fff;
                border-radius: 3px;
                width: 3px;
                height: 20px;
                left: 0;
                animation: dgLeft 0.3s linear 0.3s 1 both;
            }
        }
    }
    .toast-msg{
        padding:2px 4px;
        border-radius: 32px;
        background: #0095FF;
        color: #fff;
        font-size: 13px;
        margin-top: 16px;
        padding: 4px 12px;
        text-align: center;
        margin-left: -60px;
        animation: dgOpacity 0.3s linear 0s 1 both;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
.cross-toast-box{
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cross-toast{
    background: #2B2F35;
    border: 1px solid rgba(255,255,255,0.20);
    border-radius: 8px;
    width: 327px;
    height: 156px;
    padding: 16px;
    .toast-msg {
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #FFFFFF;
        line-height: 26px;
        font-weight: 400;
    }
    p {
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #FFFFFF;
        opacity: 0.6;
        font-weight: 400;
        padding-top: 16px;
    }
    .close {
        width: 295px;
        height: 32px;
        line-height: 32px;
        background-image: linear-gradient(180deg, #61C5FF 8%, #0271BD 55%, #027ED0 100%);
        border-radius: 4px;
        font-size: 16px;
        color: #FFFFFF;
        text-align: center;
        font-weight: 500;
        position: inherit;
    }
}

</style>