<template>
    <span
        :class="['ButtonSelect', { active: showPopover || active, addon: addon }, position,styleClass]"
    >
        <div class="warning-text" v-if="warningText">{{warningText}}</div>
        <span class="button-select" @click="openPopover" >
            <span
                class="small-btn-sub"
                :class="{ disabled: isSubtractDisabled }"
                v-show="addon"
                @click.stop.prevent="sub"
                 
            >
                <i class="iconfont mk-subtract">-</i>
            </span>
                <span
                    v-if="value.value"
                    class="text"
                    :class="{ ow: overwrite }"
                    tabindex="-1"
                    @click="enableOverwrite"
                    ref="textContent"
                >
                    <span :class="['text-can-selected', isFocus?'selected':null]" v-text="prefix+(active?value.value:value.text)"></span>
                </span>
            <i class="iconfont mk-arrow-down"></i>
            <span
                class="small-btn-add"
                :class="{ disabled: isAddDisabled }"
                v-show="addon"
                @click.stop.prevent="add"
            >
                <i class="iconfont mk-plus">+</i>
            </span>
        </span>
        <span class="popover-select" v-show="showPopover" v-if="menu && menu.length">
            <span
                v-for="(item, index) in menu"
                :key="index"
                @click.stop.prevent="onMenuClick(item)"
            >{{ item.text }}</span>
        </span>
    </span>
</template>

<script>
export default {
    name: 'ButtonSelect',
    // idx 对应列表的索引
    props: {
        menu: Array,
        value: Object,
        addon: Boolean,
        idx: Number,
        max: Number,
        position: String,
        prefix: {
            type: String,
            default: '',
        },
        active: {
            type:Boolean,
            default:()=>false
        },
        styleType: {
            default: () => 'default',
            require: false,
        },
        focusSelected:{
            default:()=>false,
            require:false
        },
        focusSelectedInputFunc: Function
    },

    data() {
        return {
            showPopover: false,
            showBtnselect: false,
            overwrite: false,
            isAddDisabled: true,
            isSubtractDisabled: true,
            isFocus:false,
            i18n: this.$t('yxzh.trace')
        }
    },

    created() {
        this.checkAddonStatus()
    },
    computed: {
        styleClass() {
            return this.styleType
        },
        warningText() {
            if (typeof this.value.text === 'number' && Number(this.value.text) > Number(this.max)) {
                return '超限调整'
            } else {
                return ''
            }
        },
    },
    mounted() {
        window.addEventListener('click', this.onClickOutMe, true)
         window.addEventListener('click', this.onBlur, true)
        if (this.addon && this.$refs.textHandler) {
            this.$refs.textHandler.setAttribute('data-aboadring-stepthree-three', '')
        }
    },
    methods: {
        // 检查 加减按钮状态
        checkAddonStatus() {
            if (this.value.value >= this.max) {
                this.isAddDisabled = true
                this.isSubtractDisabled = false
            } else if (this.value.value > 1) {
                this.isAddDisabled = false
                this.isSubtractDisabled = false
                this.showBtnselect = true
            } else {
                this.isAddDisabled = false
                this.isSubtractDisabled = true
                this.showBtnselect = false
            }
        },
        enableOverwrite(event) {
            if(this.focusSelected){
                this.isFocus=true;
            }
            // 非输入模式不加覆盖样式
            if (!this.addon) {
                return
            }
            this.overwrite = !this.overwrite
        },

        disableOverwrite() {
           this.isFocus=false;
            // 非输入模式不加覆盖样式
            if (!this.addon) {
                return
            }
            this.overwrite = false
        },

        onMenuClick(item) {
            this.showPopover = false
            this.$emit('input', item, this.idx)
        },

        onClickOutMe(event) {
            if (!this.$el.contains(event.target)) {
                this.showPopover = false
            }
            // this.showBtnselect = false
        },
        onBlur(e) {
            if(this.$refs&&this.$refs.textContent&&this.$refs.textContent.contains){
                if(!this.$refs.textContent.contains(e.target)){
                    setTimeout(()=>{
                        this.isFocus=false;
                    },200)
                return;
                }
                
            }
        },
        openPopover() {
            if (this.menu && this.menu.length) {
                this.showPopover = !this.showPopover
            } 
            // else {
            //     this.showBtnselect = true
            // }
        },

        sub() {
            this.isFocus=false;
            if (this.value.value > 1) {
                const value = String(this.value.value - 1)
                // const text = value + this.value.text.substr(-1)
                let text = '';
                let prefix = this.value.text.replace(/(\d+)/, '');

                if (/\d/.test(this.value.text.charAt(0))) {
                    text = value + prefix;
                } else {
                    text = prefix + value;
                }

                const key = this.value.key

                this.$emit(
                    'input',
                    {
                        text,
                        value,
                        key,
                    },
                    this.idx
                )
                this.$emit('updateKeybordValue', value)
            }
            this.$emit('btnSelected')
            this.$emit("updateIdx",this.idx)
        },
        add() {
            this.isFocus=false;
            let val = parseInt(this.value.value) + 1
            if (val > this.max) {
                val = this.max
                // this.$toast(`最大不能超过${val}`)
                this.$toast(this.$t('yxzh.trace.maxiumTrace', [val]));
            }
            const value = String(val)

            // let text = value + this.value.text.substr(-1)
            // 多语言修改, 中文1倍, 1期, 英文顺序 X1, 1 draw,  原来的逻辑不适用了
            let text = '';
            let prefix = this.value.text.replace(/(\d+)/, '');

            if (/\d/.test(this.value.text.charAt(0))) {
                text = value + prefix;
            } else {
                text = prefix + value;
            }
            const key = this.value.key
            this.$emit(
                'input',
                {
                    text,
                    value,
                    key,
                },
                this.idx
            )
            this.$emit('updateKeybordValue', value)
            this.$emit('btnSelected')
             this.$emit("updateIdx",this.idx)
        },
        isFousSelectedInput(newV){
            //如果是获取焦点，就选中所有数字并截取最后一个作为新值
            if(this.focusSelected&&this.isFocus){
                 let v=String(newV.value)[String(newV.value).length-1];
                 this.$nextTick(() => {
                    this.$emit('updateKeybordValue', v);
                 })
            }
            else{
                if(newV.value<=0||newV.value==""||isNaN(Number(newV.value))){
                    this.$emit('updateKeybordValue', 1)
                }
                if(newV.value>this.max){
                    this.$emit('updateKeybordValue', this.max)
                
                };
            }
            this.isFocus=false;
        }
    },

    destroyed() {
        window.removeEventListener('click', this.onClickOutMe, true)
        window.removeEventListener('click', this.onBlur,true)
    },

    watch: {
        value: {
            handler(v, ov) {
                if (v && ov && ov.value != v.value) {
                    this.checkAddonStatus()
                    // todo 这个地方focus设计不太好，以后可以优化
                    if(this.focusSelectedInputFunc) {
                        this.focusSelectedInputFunc(v, ov, this)
                    } else {
                        this.isFousSelectedInput(v, ov);
                    }
                }
            },
            deep: true,
            immediate: true,
        },
    },
}
</script>

<style lang="less" scoped="scoped">
//默认样式

.inline-vertical(@height) {
    height: @height;
    line-height: @height;
}

.ButtonSelect.default {
    position: relative;
    width: 132px;
    height: 28px;
    display: flex;
    .warning-text {
        display: none;
    }
    &.active {
        .button-select {
            border-color: #678cf0;
        }
        .popover-select {
            border-bottom-color: transparent;
            border-radius: 5px 5px 0 0;
            border-color: #678cf0;
        }
    }
    .button-select .text{
         align-items: center;
            height: 100%;
    }
    &.addon.active {
        .button-select {
            box-shadow: 0 2px 0 0 #f5f7fe;
            border: solid 1px #678cf0;
            background-image: linear-gradient(
                to bottom,
                #ffffff,
                #f7f8fd 15%,
                #f9fafe 43%,
                #ffffff
            );
           
            .text {
                border:none;
                border-left:1px solid #678cf0;
                 border-right:1px solid #678cf0;
                color: #678cf0;
            }

            .small-btn-sub,
            .small-btn-add {
                display: flex;
                align-content: center;
                align-items: center;
                justify-content: center;
                line-height: 28px;
                color: #678cf0;

                &.disabled {
                    color: #bdc6dd;
                }
            }
            .text-can-selected.selected {
                position: relative;
                background-color: #6593f5;
                color: #fff;

                &::after {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    width: 1px;
                    height: 18px;
                    animation: blink 1s infinite steps(1, start);
                }
                

                @keyframes blink {
                    0% {
                        background-color: white;
                    }
                    50% {
                        background-color: #cacaca;
                    }
                    100% {
                        background-color: white;
                    }
                }
            }
        }
    }

    &.addon {
        .small-btn-sub,
        .small-btn-add {
            display: flex;
            color: #bdc6dd;
        }

        .mk-arrow-down {
            display: none;
        }

        .text {
            border-left: 1px solid #e0e1f0;
            border-right: 1px solid #e0e1f0;
            display: flex;
            justify-content: center;
        }
    }

    &.down {
        .popover-select {
            border-bottom-color: inherit;
            border-radius: 0 0 5px 5px;
            transform: translateY(20px);
        }

        &.active {
            .button-select {
                border-top-color: inherit;
                border-radius: 5px;
            }
        }
    }
    .button-select {
        position: relative;
        font-size: 13.2px;
        display: flex;
        text-align: right;
        color: #666666;
        overflow: hidden;
        width: 100%;
        display: flex;
        align-items: center;
        border: solid 0.5px #d8dcdf;
        background-color: #f9f9fb;
        box-shadow: none;
        .inline-vertical('28px');

        .small-btn-sub,
        .small-btn-add {
            color: #bcc5dc;
            display: none;
            text-align: center;
            width: 23%;
            font-size: 20px;
            justify-content: center;
            align-items: center;
            display: flex;
            justify-content: center;
            align-items: center;
            > .iconfont {
                font-size: 12px;
            }
            &.disabled {
                opacity: 0.7;
            }
        }

        .text {
            flex: 1;
            text-align: center;
            // display: inline-block;
            user-select: none;
            outline: none;
            border-right: 1px solid #e0e1f0;
            color: #535d76;
        }

        .mk-arrow-down {
            margin: 0 5px;
            align-self: center;
            color: #bcc5dc;
        }
    }

    .popover-select {
        position: absolute;
        top: -7px;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: visible;
        background-color: #fff;
        color: #535d76;
        z-index: 111;
        border-radius: 5px;
        span {
            display: inline-block;
            width: 100%;
            height: 30px;
            line-height: 30px;
            text-align: center;
            border-bottom: 1px solid #e0e1f0;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}
.ButtonSelect.statisticsBottom {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 5.5px;
    &.multiple {
        width: 115px;
    }
    .warning-text {
        position: absolute;
        width: 62px;
        height: 23px;
        background-color: #ff6464;
        top: -31px;
        text-align: center;
        border-radius: 4px;
        left: 26px;
        color: #ffffff;
        font-size: 11px;
        &::after {
            position: absolute;
            display: block;
            content: '';
            width: 0;
            height: 0;
            top: 23px;
            left: 24px;
            border: 5px solid transparent;
            border-top: 5px solid #ff6464;
        }
    }

    .mk-arrow-down {
        transform: rotate(180deg);
    }
    &.active {
        .button-select {
            // border-top-color: transparent;
            // border-radius: 0 0 5px 5px;
            // border-color: #678cf0;
            .text {
                //   border-color: #678cf0;
                color: #678cf0;
            }
            .mk-arrow-down {
                color: #678cf0;
            }
            .text-can-selected.selected {
                position: relative;
                background-color: #6593f5;
                color: #fff;

                &::after {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    width: 1px;
                    height: 18px;
                    animation: blink 1s infinite steps(1, start);
                }
                

                @keyframes blink {
                    0% {
                        background-color: white;
                    }
                    50% {
                        background-color: #cacaca;
                    }
                    100% {
                        background-color: white;
                    }
                }
            }
        }

        .popover-select {
            // border-bottom-color: transparent;
            // border-radius: 5px 5px 0 0;
            // border-color: #678cf0;
        }
    }

    &.addon.active {
        .button-select {
            border-radius: 8px;
            box-shadow: 0 2px 0 0 #f5f7fe;
            border: solid 1px #678cf0;
            background-image: linear-gradient(
                to bottom,
                #ffffff,
                #f7f8fd 15%,
                #f9fafe 43%,
                #ffffff
            );
            .text {
                border-color: #678cf0;
                border: solid 0.5px #678cf0;
                color: #678cf0;
            }

            .small-btn-sub,
            .small-btn-add {
                color: #678cf0;

                &.disabled {
                    color: #bdc6dd;
                }
            }
        }
    }

    &.addon {
        .small-btn-sub,
        .small-btn-add {
            display: flex;
            color: #bdc6dd;
        }

        .mk-arrow-down {
            display: none;
        }

        .text {
            border-left: 1px solid #e0e1f0;
            border-right: 1px solid #e0e1f0;
            display: flex;
            justify-content: center;
        }
    }

    &.down {
        .popover-select {
            border-bottom-color: inherit;
            border-radius: 0 0 5px 5px;
            transform: translateY(20px);
        }

        &.active {
            .button-select {
                // border-top-color: inherit;
                border-radius: 5px;
            }
        }
    }
    .button-select {
        position: relative;
        border-radius: 5px;
        font-size: 13.2px;
        display: flex;
        text-align: right;
        color: #666666;
        overflow: hidden;
        width: 100%;
        display: flex;
        align-items: center;
        border: solid 1.1px #d8dcdf;
        background-color: #f9f9fb;
        background-image: linear-gradient(to bottom, #ffffff, #f7f8fd 15%, #f9fafe 43%, #ffffff);
        .inline-vertical(27px);

        .small-btn-sub,
        .small-btn-add {
            color: #bcc5dc;
            display: none;
            text-align: center;
            width: 23%;
            font-size: 20px;
            justify-content: center;
            align-items: center;
            display: flex;
            justify-content: center;
            align-items: center;
            > .iconfont {
                font-size: 12px;
            }
            &.disabled {
                opacity: 0.7;
            }
        }

        .text {
            flex: 1;
            text-align: center;
            display: inline-block;
            user-select: none;
            outline: none;
            border-right: 1px solid #e0e1f0;
            font-size: 13.2px;
            color: #666666;
        }
        .mk-arrow-down {
            margin: 0 5px;
            align-self: center;
            color: #bcc5dc;
        }
    }

    .popover-select {
        position: absolute;
        // border: 1px solid #e0e1f0;
        // border-radius: 5px;
        transform: translateY(-100%);
        top: -7px;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: visible;
        background-color: #fff;
        color: #535d76;
        z-index: 111;
        box-shadow: 0 0 5px 0 #bcc5dc;
        border: solid 0.5px #e1e1f0;
        border-radius: 5px;
        &::after {
            position: absolute;
            bottom: -12px;
            left: 50%;
            margin-left: -11px;
            z-index: 10;
            content: '';
            display: block;
            width: 22px;
            height: 12px;
            background: url('~@/assets/images/tese-lol/popoverArrow@3x.png') no-repeat center top;
            background-size: cover;
        }
        span {
            display: inline-block;
            width: 100%;
            height: 30px;
            line-height: 30px;
            text-align: center;
            // border-bottom: 1px solid #e0e1f0;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}
.ButtonSelect.basket {
    position: relative;
    width: 92px;
    height: 27px;
    display: flex;
    border-radius: 5.5px;
     .text-can-selected.selected {
                position: relative;
                background-color: #6593f5;
                color: #fff;

                &::after {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    width: 1px;
                    height: 18px;
                    animation: blink 1s infinite steps(1, start);
                }
                

                @keyframes blink {
                    0% {
                        background-color: white;
                    }
                    50% {
                        background-color: #cacaca;
                    }
                    100% {
                        background-color: white;
                    }
                }
            }
    &.multiple {
        width: 115px;
    }
    .warning-text {
        position: absolute;
        width: 62px;
        height: 23px;
        background-color: #ff6464;
        top: -31px;
        text-align: center;
        border-radius: 4px;
        left: 26px;
        color: #ffffff;
        font-size: 11px;
        &::after {
            position: absolute;
            display: block;
            content: '';
            width: 0;
            height: 0;
            top: 23px;
            left: 24px;
            border: 5px solid transparent;
            border-top: 5px solid #ff6464;
        }
    }
    &.active {
        .button-select {
            // border-top-color: transparent;
            border-radius: 0 0 5px 5px;
            border-color: #678cf0;
            .text {
                border-color: #678cf0;
            }
            .mk-arrow-down {
                color: #678cf0;
            }
        }

        .popover-select {
            border-bottom-color: transparent;
            border-radius: 5px 5px 0 0;
            border-color: #678cf0;
        }
        
    }

    &.addon.active {
        .button-select {
            border-radius: 8px;
            box-shadow: 0 2px 0 0 #f5f7fe;
            border: solid 1px #42a2f9;
            background-image: linear-gradient(
                to bottom,
                #ffffff,
                #f7f8fd 15%,
                #f9fafe 43%,
                #ffffff
            );
            .text {
                border-color: #678cf0;
                border: solid 0.5px #398cd8;
                // color: #678cf0;
                color: #57acf9;
            }

            .small-btn-sub,
            .small-btn-add {
                color: #678cf0;

                &.disabled {
                    color: #bdc6dd;
                }
            }
        }
    }

    &.addon {
        .small-btn-sub,
        .small-btn-add {
            display: flex;
            color: #bdc6dd;
        }

        .mk-arrow-down {
            display: none;
        }

        .text {
            border-left: 1px solid #e0e1f0;
            border-right: 1px solid #e0e1f0;
            display: flex;
            justify-content: center;
        }
    }

    &.up {
        .popover-select {
            transform: translateY(20px);
        }
    }

    &.down {
        .popover-select {
            border-bottom-color: inherit;
            border-radius: 0 0 5px 5px;
            transform: translateY(20px);
        }

        &.active {
            .button-select {
                // border-top-color: inherit;
                border-radius: 5px;
            }
        }
    }
    .button-select {
        position: relative;
        border-radius: 5px;
        font-size: 13.2px;
        display: flex;
        text-align: right;
        color: #666666;
        overflow: hidden;
        width: 100%;
        display: flex;
        align-items: center;
        border: solid 1.1px #d8dcdf;
        background-color: #f9f9fb;
        .inline-vertical(27px);
        &.active {
            border: solid 1.1px #678cf0;
        }

        .small-btn-sub,
        .small-btn-add {
            color: #bcc5dc;
            display: none;
            text-align: center;
            width: 23%;
            font-size: 20px;
            justify-content: center;
            align-items: center;
            display: flex;
            justify-content: center;
            align-items: center;
            > .iconfont {
                font-size: 12px;
            }
            &.disabled {
                opacity: 0.7;
            }
            &.active {
                color: #678cf0;
            }
        }

        .text {
            flex: 1;
            text-align: center;
            display: inline-block;
            user-select: none;
            outline: none;
            border-right: 1px solid #e0e1f0;
            font-size: 13.2px;
            color: #666666;
            word-break: keep-all;
            &.active {
                border-left: solid 1.1px #678cf0;
                border-right: solid 1.1px #678cf0;
            }
        }
        .mk-arrow-down {
            margin: 0 5px;
            align-self: center;
            color: #bcc5dc;
        }
    }

    .popover-select {
        position: absolute;
        // border: 1px solid #e0e1f0;
        // border-radius: 5px;
        // transform: translateY(-100%);
        top: 2px;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: visible;
        background-color: #fff;
        color: #535d76;
        z-index: 111;
        padding: 15px 0 10px;
            background: url('~@/assets/images/tese-lol/bet/money_select.png');
            background-size: 100% 100%;
        span {
            display: inline-block;
            width: 100%;
            height: 30px;
            line-height: 30px;
            text-align: center;
            // border-bottom: 1px solid #e0e1f0;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}
</style>
