@font-face{
    font-family: 'DIN';
    src : url('~@/assets/fonts/DIN.ttf');
}

@font-face{
    font-family: 'DIANJING';
    src : url('~@/assets/fonts/DIANJING.ttf');
}

.DIN{
    font-family: 'DIN';
}

.DIANJING{
    font-family: 'DIANJING';
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select:none;
    -webkit-overflow-scrolling : touch;
    &::-webkit-scrollbar {
        display: none;
    }
    
}
html,body{
    color: #FFF;
    font-family: PingFangSC-Regular, -apple-system, BlinkMacSystemFont, Segoe UI, 
        Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    box-sizing: border-box;
    height: 100%;
    -webkit-font-smoothing: antialiased; //  苹果字体变粗体问题
    overflow: hidden;
    background-color: #1E2329;
}
.app{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 10;
    &>div{
        height: 100%;
    }
}
.home{
    height: 100%;
}
.hp100 {
    height: 100%;
}
.w24 { width: 24px; }
.w28 { width: 28px; }
.w40 { width: 40px; }
.w80 { width: 80px; }
.mw200 { max-width: 200px; }
.h18 { height: 18px; }
.h24 { height: 24px; }
.h32 { height: 32px; }
.h40 { height: 40px; }
.lh40 {
    line-height: 40px;
}
ul > li {
    list-style: none;
}
i {
    font-style: normal;
}
b{
    font-weight: normal;
}
input{
    border: none;
}
.no-vw-f10 { font-size: 10px; }
.no-vw-f12 { font-size: 12px; }
.no-vw-f14 { font-size: 14px; }
.no-vw-f18 { font-size: 18px; }
.mauto { margin: auto; }
.ml8 {
    margin-left: 8px;
}
.ml12 {
    margin-left: 12px;
}
.mb8 { margin-bottom: 8px; }
.flex {
    display: flex;
}
.y-center {
    align-items: center;
}
.x-center {
    justify-content: center;
}
.between {
    justify-content: space-between;
}
.mlr8 {
    margin-left: 8px;
    margin-right: 8px;
}
.tc {
    text-align: center;
}
// 超过省略号
.ellipsis{
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ellipsis-2{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
}

.ellipsis-4{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    /*! autoprefixer: off */
    -webkit-box-orient: vertical;
}



/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
    transition: all 0.5s;
}

.fade-transform-enter {
    opacity: 0;
    transform: translateX(-30px);
}

.fade-transform-leave-to {
    opacity: 0;
    transform: translateX(30px);
}


.dj-common-nav-header {
    width: 100%;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 49px;
    background: #1e2329;
    .left {
        height: 49px;
        width: 49px;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
            width: 24px;
            height: 24px;
        }
    }
    .nav-title {
        width: 100%;
        text-align: center;
        color: #f0f0f0;
    }
}
// 折叠面弹出隐藏板动效
.collapse-popup-enter-active {
    animation: collapse-popup-in .3s;
}

@keyframes collapse-popup-in {
    0% {
        transform: translate3d(0, -30px, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.collapse-popup-down-enter-active {
    animation: collapse-popup-in-down .3s;
}

@keyframes collapse-popup-in-down {
    0% {
        transform: translate3d(0, 100px, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

// 按钮点击时默认样式
.dj-btn {
    position: relative;
    &:active::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        background-color: #000;
        border: inherit;
        border-color: #000;
        border-radius: inherit;
        transform: translate(-50%,-50%);
        opacity: 0.08;
    }
}
// 回到顶部
.back_top{
    position: absolute;
    bottom: 60px;
    right: 12px;
    background-color: rgba(31,162,255,0.20);
    border: 1px solid rgba(31,162,255,0.40);
    border-radius: 8px;
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    &:hover{
        background-color: rgba(31,162,255,0.20) !important;
        opacity: 0.8;
    }
    .icon{
        width: 24px;
        height: 24px;
        background: url("~@/assets/images/common/back-top.png") no-repeat center;
        background-size: cover;
    }
    .words{
        font-size: 12px;
        color: #FFFFFF;
    }
}

.data-team-vs {
    width: 26px;
    height: 26px;
    display: inline-block;
    background-image: url("~@/assets/images/data/vs.png");
    background-size: 100% 100%;
}

.data-foresight-win {
    color: #ED6112 !important;
}

@keyframes tiltShaking {
    0%,75% {transform: rotate(0deg);} // 产品要求：动画1s 停顿5s ............

    78.125% { transform: rotate(2deg); }
    81.25% { transform: rotate(-2deg); }
    84.375% { transform: rotate(2deg); }
    87.5% { transform: rotate(-2deg); }
    90.625% { transform: rotate(2deg); }
    93.75% { transform: rotate(-2deg); }
    96.875% { transform: rotate(2deg); }
    100% { transform: rotate(0deg); }
}

// 全屏投注 样式横屏
.market-header .isFullscreen{
    .live {
        display: inline-block;
    }
    
    .item-input{
        width: 120px !important;
    }
    .common-input{
        width: 120px;
    }
    .station-cart {
        .item-input{
            width: 100% !important;
        }
    }
} 



.confirmed-Loading{
  width: 20px;
  margin-right: 4px;
  /*animation (动画) :绑定选择器, 4s完成动画 linear(匀速) infinite(循环) */
  animation: loading 3s linear infinite;
}
/*通过@keyframes规则,能够创建动画 , que 定义动画的名称 可自己定义*/
@keyframes loading {
  /*以百分比来规定改变发生的时间 也可以通过"from"和"to",等价于0% 和 100%*/
  0% {
    /*rotate(2D旋转) scale(放大或者缩小) translate(移动) skew(翻转)*/
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//.living-bg{
//  animation: flips 4s cubic-bezier(.12, 0, .39, 0) infinite;
//  &:hover {
//    animation:unset;
//  }
//}
@keyframes flips { //先转个圈圈
  0% {
    -webkit-transform: perspective(1200px) translateZ(0) rotateY(-1turn);
    transform: perspective(1200px) translateZ(0) rotateY(-1turn);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  //再来个圈圈并加点变化
  40% {
    -webkit-transform: perspective(1200px) translateZ(150px) rotateY(-190deg);
    transform: perspective(1200px) translateZ(150px) rotateY(-190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(1200px) translateZ(150px) rotateY(-170deg);
    transform: perspective(1200px) translateZ(150px) rotateY(-170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  80% {
    -webkit-transform: perspective(1200px) scale3d(0.95, 0.95, 0.95) translateZ(0) rotateY(0deg);
    transform: perspective(1200px) scale3d(0.95, 0.95, 0.95) translateZ(0) rotateY(0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  to {
    -webkit-transform: perspective(1200px) translateZ(0) rotateY(0deg);
    transform: perspective(1200px) translateZ(0) rotateY(0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}

.play-icon {
  //animation-timing-function: ease;
  //animation: pulse 2s infinite;
  //border-radius: 50%;
}
@keyframes pulse {
  0% {
    transform: scale(1, 1);box-shadow: 0 0 0 0 rgba(255,193,7,0.7);
  }
  25% {
    transform: scale(1, 1);box-shadow: 0 0 0 5px rgba(255,193,7,0);
  }
  50% {
    transform: scale(1.2, 1.2);  box-shadow: 0 0 0 8px rgba(255,193,7,0);
  }
  100% {
    transform: scale(1, 1);box-shadow: 0 0 0 rgba(255,193,7,0);
  }
}


// 让分 大小 合并样式
.option_type_list{
    border-radius: 8px;
    overflow: hidden;
    .list-item{
        margin-bottom: 0 !important;
        border-radius: 0 !important;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        margin-top: 0 !important;
        .market-name{
            display: none !important;
        }
        &:first-child{
            .market-name{
                display: flex !important;
            }
        }
        &:last-child{
            margin-bottom: 0px !important;
            border-radius:0 0 8px 8px !important;
        }
    }
}

