// qpp 背景图片
.app-bg {
    background-image: url("~@/assets/images/home/home-bg.jpg");
    background-size: cover;
    // background-size: 100% auto;
}

.game-logo-sprite{
    // background-image: url("~@/assets/images/common/game-logo-sprite.png");
    // background-size: 4320px 120px;
}
.AoV{background-image: url("~@/assets/images/common/logo/logo_AoV.png");background-size: 100% 100%;}
.Basketball{background-image: url("~@/assets/images/common/logo/logo_Basketball.png");background-size: 100% 100%;}
.CF{background-image: url("~@/assets/images/common/logo/logo_CF.png");background-size: 100% 100%;}
.COD{background-image: url("~@/assets/images/common/logo/logo_COD.png");background-size: 100% 100%;}
.CRL{background-image: url("~@/assets/images/common/logo/logo_CRL.png");background-size: 100% 100%;}
.CSGO{background-image: url("~@/assets/images/common/logo/logo_CSGO.png");background-size: 100% 100%;}
.DCL{background-image: url("~@/assets/images/common/logo/logo_DCL.png");background-size: 100% 100%;}
.DOTA2{background-image: url("~@/assets/images/common/logo/logo_DOTA2.png");background-size: 100% 100%;}
.FIFA{background-image: url("~@/assets/images/common/logo/logo_FIFA.png");background-size: 100% 100%;}
.Fortnite{background-image: url("~@/assets/images/common/logo/logo_Fortnite.png");background-size: 100% 100%;}
.Hearthstone{background-image: url("~@/assets/images/common/logo/logo_Hearthstone.png");background-size: 100% 100%;}
.KoG{background-image: url("~@/assets/images/common/logo/logo_KoG.png");background-size: 100% 100%;}
.LOL{background-image: url("~@/assets/images/common/logo/logo_LOL.png");background-size: 100% 100%;}
.ML{background-image: url("~@/assets/images/common/logo/logo_ML.png");background-size: 100% 100%;}
.MTG{background-image: url("~@/assets/images/common/logo/logo_MTG.png");background-size: 100% 100%;}
.NBA2K{background-image: url("~@/assets/images/common/logo/logo_NBA2K.png");background-size: 100% 100%;}
.OW{background-image: url("~@/assets/images/common/logo/logo_OW.png");background-size: 100% 100%;}
.PUBG{background-image: url("~@/assets/images/common/logo/logo_PUBG.png");background-size: 100% 100%;}
.PUBGM_CN{background-image: url("~@/assets/images/common/logo/logo_PUBGM_CN.png");background-size: 100% 100%;}
.QQ_Speed{background-image: url("~@/assets/images/common/logo/logo_QQ_Speed.png");background-size: 100% 100%;}
.Quake{background-image: url("~@/assets/images/common/logo/logo_Quake.png");background-size: 100% 100%;}
.PUBGM_CN{background-image: url("~@/assets/images/common/logo/logo_PUBGM_CN.png");background-size: 100% 100%;}
.R6{background-image: url("~@/assets/images/common/logo/logo_R6.png");background-size: 100% 100%;}
.RL{background-image: url("~@/assets/images/common/logo/logo_RL.png");background-size: 100% 100%;}
.SC{background-image: url("~@/assets/images/common/logo/logo_SC.png");background-size: 100% 100%;}
.SC2{background-image: url("~@/assets/images/common/logo/logo_SC2.png");background-size: 100% 100%;}
.SF{background-image: url("~@/assets/images/common/logo/logo_SF.png");background-size: 100% 100%;}
.SMITE{background-image: url("~@/assets/images/common/logo/logo_SMITE.png");background-size: 100% 100%;}
.Smash{background-image: url("~@/assets/images/common/logo/logo_Smash.png");background-size: 100% 100%;}
.Soccer{background-image: url("~@/assets/images/common/logo/logo_Soccer.png");background-size: 100% 100%;}
.V_Soccer{background-image: url("~@/assets/images/common/logo/logo_V_Soccer.png");background-size: 100% 100%;}
.Valorant{background-image: url("~@/assets/images/common/logo/logo_Valorant.png");background-size: 100% 100%;}
.Warcraft3{background-image: url("~@/assets/images/common/logo/logo_Warcraft3.png");background-size: 100% 100%;}
.Wild_Rift{background-image: url("~@/assets/images/common/logo/logo_Wild_Rift.png");background-size: 100% 100%;}
.WoW{background-image: url("~@/assets/images/common/logo/logo_WoW.png");background-size: 100% 100%;}
.all{background-image: url("~@/assets/images/common/logo/logo_all.png");background-size: 100% 100%;}
.YXZH{background-image: url("~@/assets/images/common/logo/logo_YXZH.png");background-size: 100% 100%;}
.V{background-image: url("~@/assets/images/common/logo/logo_V.png");background-size: 100% 100%;}
.M3G{background-image: url("~@/assets/images/common/logo/m3logo.png");background-size: 100% 100%;}

/******** common icon ********/

// 游戏菜单图标
.common-game-meun {
    background-image: url("~@/assets/images/common/common-game-meun.png");
    background-size: cover;
}
// 搜索图标
.common-game-search {
    background-image: url("~@/assets/images/common/common-search.png");
    background-size: cover;
}
// 用户头像
.common-user-logo {
    background-image: url("~@/assets/images/common/common-user-logo.png");
    background-size: cover;
}
// vs vs
.common-teams-vs {
    background-image: url("~@/assets/images/common/common-teams-vs.png");
    background-size: cover;
}

// vs 横杆
.common-teams-line {
    background-image: url("~@/assets/images/common/common-teams-line.png");
    background-size: cover;
}

// 暂停锁
.common-suspended {
    background-image: url("~@/assets/images/common/common-suspended.png");
    background-size: cover;
}
// 滚球中
.common-live-true {
    background-image: url("~@/assets/images/common/common-live-true.png");
    background-size: cover;
}
// 非滚球
.common-live-false {
    background-image: url("~@/assets/images/common/common-live-false.png");
    background-size: cover;
}
// 未收藏
.common-collection-false {
    background-image: url("~@/assets/images/common/common-collection-false.png");
    background-size: cover;
}
// 已收藏
.common-collection-true {
    background-image: url("~@/assets/images/common/common-collection-true.png");
    background-size: cover;
}
// 日历
.common-calendar{
    background-image: url("~@/assets/images/common/calendar.png");
    background-size: cover;
}
// 左按钮
.common-icon-left{
    background-image: url("~@/assets/images/common/common-icon-left.png");
    background-size: cover;
}
// 右按钮
.common-icon-right{
    background-image: url("~@/assets/images/common/common-icon-right.png");
    background-size: cover;
}
// 关闭按钮
.common-close{
    background-image: url("~@/assets/images/common/common-close.png");
    background-size: cover;
}
// 小号关闭按钮
.common-close-small{
    background-image: url("~@/assets/images/common/common-close-small.png");
    background-size: cover;
}
.common-close-small1{
    background-image: url("~@/assets/images/common/common-close-small1.png");
    background-size: cover;
}
// 赔率下降
.common-odds-down{
    background-image: url("~@/assets/images/common/common-odds-down.png");
    background-size: cover;
}
// 赔率上升
.common-odds-up{
    background-image: url("~@/assets/images/common/common-odds-up.png");
    background-size: cover;
}
// 箭头上
.common-pick-up{
    background-image: url("~@/assets/images/common/common-pick-up.png");
    background-size: cover;
}
// 箭头下
.common-pick-down{
    background-image: url("~@/assets/images/common/common-pick-down.png");
    background-size: cover;
}
.common-switch{
    background-image: url("~@/assets/images/common/common-switch.png");
    background-size: cover;
}
// 键盘删除
.common-board-delete{
    background-image: url("~@/assets/images/common/common-board-delete.png");
    background-size: cover;
}
// 赛事数量
.common-game-count{
    background-image: url("~@/assets/images/common/common-game-count.png");
    background-size: cover;
}

// 计时器
.common-live-timer{
    background-image: url("~@/assets/images/common/common-live-timer.gif");
    background-size: cover;
}

// 返回
.common-go-back {
    background-image: url("~@/assets/images/common/common-go-back.png");
    background-size: cover;
}
//单选对勾
.common-select{
    background-image: url("~@/assets/images/common/common-select.png");
    background-size: cover;
}

// 清除
.common-clear {
    background-image: url("~@/assets/images/common/common-clear.png");
    background-size: cover;
}

// checkbox选中
.common-checkbox-true {
    background-image: url("~@/assets/images/common/common-checkbox-true.png");
    background-size: cover;
}

// checkbox未选中
.common-checkbox-false {
    background-image: url("~@/assets/images/common/common-checkbox-false.png");
    background-size: cover;
}

/** btn *  */

// 红色按钮
.home-btn-red{
    background-image: url("~@/assets/images/home/home-btn-red.png");
    background-size: cover;
}

// 灰色按钮
.home-btn-gray{
    background-image: url("~@/assets/images/home/home-btn-gray.png");
    background-size: cover;
}

// 蓝色按钮
.home-btn-blue{
    background-image: url("~@/assets/images/home/home-btn-blue.png");
    background-size: cover;
}
.home-btn-more{
    background-image: url("~@/assets/images/home/home-btn-more.png");
    background-size: cover;
}
.btn-more-red{
    background-image: url("~@/assets/images/home/btn-more-red.png");
    background-size: cover;
}


// 人物背景
// .game-figure-all {
//     background-image: url("~@/assets/images/common/game-figure-all.png");
//     background-size: cover;
// }


// 图片背景
.game-bg-all{
    background-image: url("~@/assets/images/common/game-bg-all.jpg");
    background-size: cover;
}


// logo
// .game-logo {
//     background-image: url("~@/assets/images/common/game-logo.png");
//     background-size: cover;
// }


/******** common icon ********/
.user-head-bg {
    background-image: url("~@/assets/images/home/user-title.jpg");
    background-size: cover;
}
//注单-赢
.order-win {
    background-image: url("~@/assets/images/user/order-win.png");
    background-size: cover;
}
//注单-败
.order-failure {
    background-image: url("~@/assets/images/user/order-failure.png");
    background-size: cover;
}
.account-results-back{
    background-image: url("~@/assets/images/user/account-results-back.png");
    background-size: cover;
}

/******** user icon ********/
//投注记录
.user-bet {
    background-image: url("~@/assets/images/user/user-bet.png");
    background-size: cover;
}
//帐变记录
.user-account-change {
    background-image: url("~@/assets/images/user/user-account-change.png");
    background-size: cover;
}
//查看公告
.user-notice {
    background-image: url("~@/assets/images/user/user-notice.png");
    background-size: cover;
}
//玩法规则
.user-rules {
    background-image: url("~@/assets/images/user/user-rules.png");
    background-size: cover;
}
//新人引导
.user-guide {
    background-image: url("~@/assets/images/user/user-guide.png");
    background-size: cover;
}
// 运营活动
.user-activity {
    background-image: url("~@/assets/images/activity/user-activity.png");
    background-size: cover;  
}
//选择语言
.user-language{
    background-image: url("~@/assets/images/user/user-language.png");
    background-size: cover;
}
//选择盘口
.user-handicap{
    background-image: url("~@/assets/images/user/user-handicap.png");
    background-size: cover;
}


// qpp 背景图片
// .team-logo{
//     background-image: url("~@/assets/images/common/logo.png");
//     background-size: cover;
// }

//视频直播开始按钮
.market-play{
    background-image: url("~@/assets/images/market/market-play.png");
    background-size: cover;
}

.donghua-play{
    background-image: url("~@/assets/images/data/donghua-video.png");
    background-size: cover;
}

//胜利
.market-win {
    background-image: url("~@/assets/images/market/market-win.png");
    background-size: cover;
}
//失败
.market-failure {
    background-image: url("~@/assets/images/market/market-failure.png");
    background-size: cover;
}
.antData-win{
    background: url("~@/assets/images/market/antData-win.png") center / cover;
}
.antData-failure{
    background: url("~@/assets/images/market/antData-failure.png") center / cover;
}
// 走水
.market-water {
    background-image: url("~@/assets/images/market/market-water.png");
    background-size: cover;
}
// 输半
.market-failure-half {
    background-image: url("~@/assets/images/market/market-failure-half.png");
    background-size: cover;
}
// 赢半
.market-win-half {
    background-image: url("~@/assets/images/market/market-win-half.png");
    background-size: cover;
}




// 滚球直播按钮
.common-live {
    background-image: url("~@/assets/images/common/common-live.png");
    background-size: cover;
}

// 订单无数据
.not-data-order {
    background-image: url("~@/assets/images/notData/not-data-order.png");
    background-size: cover;
}

// 帐变无数据
.not-data-account {
    background-image: url("~@/assets/images/notData/not-data-account.png");
    background-size: cover;
}

// 公告无数据
.not-data-notice {
    background-image: url("~@/assets/images/notData/not-data-notice.png");
    background-size: cover;
}

//登录异常
.login-exception{
    background-image: url("~@/assets/images/notData/login-exception.png");
    background-size: cover;
}

// 赛事无数据
.not-data-match{
    background-image: url("~@/assets/images/notData/not-data-match.png");
    background-size: cover;
}

// 收藏无数据
.no-data-collect{
    background-image: url("~@/assets/images/notData/no-data-collect.png");
    background-size: cover;
}

// 搜索无数据
.not-data-search {
    background-image: url("~@/assets/images/notData/not-data-search.png");
}
.select-avatar-bg{
    background-image: url("~@/assets/images/user/select-avatar-bg.png");
    background-size: cover;
    
}
.avatar01{
    background-image: url("~@/assets/images/avatar/avatar01.png");
    background-size: cover;
}
.avatar02{
    background-image: url("~@/assets/images/avatar/avatar02.png");
    background-size: cover;
}
.avatar03{
    background-image: url("~@/assets/images/avatar/avatar03.png");
    background-size: cover;
}
.avatar04{
    background-image: url("~@/assets/images/avatar/avatar04.png");
    background-size: cover;
}
.avatar05{
    background-image: url("~@/assets/images/avatar/avatar05.png");
    background-size: cover;
}
.avatar06{
    background-image: url("~@/assets/images/avatar/avatar06.png");
    background-size: cover;
}
.avatar07{
    background-image: url("~@/assets/images/avatar/avatar07.png");
    background-size: cover;
}
.avatar08{
    background-image: url("~@/assets/images/avatar/avatar08.png");
    background-size: cover;
}
.avatar09{
    background-image: url("~@/assets/images/avatar/avatar09.png");
    background-size: cover;
}
.avatar10{
    background-image: url("~@/assets/images/avatar/avatar10.png");
    background-size: cover;
}
.avatar11{
    background-image: url("~@/assets/images/avatar/avatar11.png");
    background-size: cover;
}
.avatar12{
    background-image: url("~@/assets/images/avatar/avatar12.png");
    background-size: cover;
}
.avatar13{
    background-image: url("~@/assets/images/avatar/avatar13.png");
    background-size: cover;
}
.avatar14{
    background-image: url("~@/assets/images/avatar/avatar14.png");
    background-size: cover;
}
.avatar15{
    background-image: url("~@/assets/images/avatar/avatar15.png");
    background-size: cover;
}
.avatar16{
    background-image: url("~@/assets/images/avatar/avatar16.png");
    background-size: cover;
}
.avatar17{
    background-image: url("~@/assets/images/avatar/avatar17.png");
    background-size: cover;
}
.avatar18{
    background-image: url("~@/assets/images/avatar/avatar18.png");
    background-size: cover;
}
.avatar19{
    background-image: url("~@/assets/images/avatar/avatar19.png");
    background-size: cover;
}
.avatar20{
    background-image: url("~@/assets/images/avatar/avatar20.png");
    background-size: cover;
}

//游戏图标  dota2
.game-logo-dota2{
    background-image: url("~@/assets/images/common/game-logo-dota2.png");
    background-size: cover;
}
//游戏图标  lol
.game-logo-lol{
    background-image: url("~@/assets/images/common/game-logo-lol.png");
    background-size: cover;
}
//游戏图标  csgo
.game-logo-csgo{
    background-image: url("~@/assets/images/common/logo/logo_CSGO.png");
    background-size: cover;
}
//游戏图标  aov
.game-logo-aov{
    background-image: url("~@/assets/images/common/game-logo-aov.png");
    background-size: cover;
}
//游戏图标  basketball
.game-logo-basketball{
    background-image: url("~@/assets/images/common/game-logo-basketball.png");
    background-size: cover;
}
//游戏图标  football
.game-logo-football{
    background-image: url("~@/assets/images/common/game-logo-football.png");
    background-size: cover;
}

.game-logo-fifa{
    background-image: url("~@/assets/images/common/game-logo-fifa.png");
    background-size: cover;
}

.game-logo-Valorant{
    background-image: url("~@/assets/images/common/logo/logo_Valorant.png");
    background-size: cover;
}

// 战队默认图标
.team-logo-default{
    background-image: url("~@/assets/images/common/team-logo-default.png");
    background-size: cover;
}

.market-recommend{
    background-image: url("~@/assets/images/market/market-recommend.png");
    background-size: cover;
}

.common-match-more{
    background-image: url("~@/assets/images/common/common-match-more.png");
    background-size: cover;
}

.common-question{
    background-image: url("~@/assets/images/common/common-question.png");
    background-size: cover;
}

.common-switch-open{
    background-image: url("~@/assets/images/common/common-switch-open.png");
    background-size: cover;
}

.common-switch-close{
    background-image: url("~@/assets/images/common/common-switch-close.png");
    background-size: cover;
}

.cart-tab-header-bg1-1{
    background-image: url("~@/assets/images/home/cart1-1.png");
    background-size: cover;
}

.cart-tab-header-bg1-2{
    background-image: url("~@/assets/images/home/cart1-2.png");
    background-size: cover;
}

.cart-tab-header-bg2-1{
    background-image: url("~@/assets/images/home/cart2-1.png");
    background-size: cover;
}

.cart-tab-header-bg2-2{
    background-image: url("~@/assets/images/home/cart2-2.png");
    background-size: cover;
}
.common-close-not-border{
    background-image: url("~@/assets/images/common/common-close-no-border.png");
    background-size: cover;
}
.common-close-small-not-border{
    background-image: url("~@/assets/images/common/common-close-small-no-border.png");
    background-size: cover;
}
.common-video-lock{
    background-image: url("~@/assets/images/market/video-lock.png");
    background-size: cover;
}
.common-video-unlock{
    background-image: url("~@/assets/images/market/video-unlock.png");
    background-size: cover;
}

.no-data-recommend{
    background-image: url("~@/assets/images/notData/no-data-recommend.png");
    background-size: cover;
}

.cross-left{
    background-image: url("~@/assets/images/common/cross-left.png");
    background-size: cover;
}
.cross-right{
    background-image: url("~@/assets/images/common/cross-right.png");
    background-size: cover;
}
.common-refresh{
    background-image: url("~@/assets/images/common/common-refresh.png");
    background-size: cover;
}
.market-player-full{
    background-image: url("~@/assets/images/market/market-player-full.png");
    background-size: cover;
}
.common-arrow-down{
    background-image: url("~@/assets/images/common/common-arrow-down.png");
    background-size: cover;
}
.common-activity-rule{
    background-image: url("~@/assets/images/activity/activity-rule.png");
    background-size: cover;
}
.common-rule-close{
    background-image: url("~@/assets/images/activity/activity-rule-close.png");
    background-size: cover;  
}

.show-trend-icon{
    background-image: url("~@/assets/images/market/trend-icon.png");
    background-size: cover; 
}

.close-trend-icon{
    background-image: url("~@/assets/images/market/close-trend-icon.png");
    background-size: cover; 
}

.common-trophy-icon{
    background-image: url("~@/assets/images/common/common-trophy-icon.png");
    background-size: cover; 
}

.match-video-pause{
    background-image: url("~@/assets/images/common/video-pause.png");
    background-size: cover; 
}

.match-video-play{
    background-image: url("~@/assets/images/common/video-play.png");
    background-size: cover; 
}

.vsports-whistle{
    background-image: url("~@/assets/images/vsports/whistle.png");
    background-size: cover; 
}

.vsports-playing{
    background-image: url("~@/assets/images/vsports/playing.png");
    background-size: cover; 
}

.common-arrow-right{
    background-image: url("~@/assets/images/common/common-arrow-right.png");
    background-size: cover;
}

.common-arrow-left{
    background-image: url("~@/assets/images/common/common-arrow-left.png");
    background-size: cover;
}

.common-arrow-left-full{
    background-image: url("~@/assets/images/common/common-arrow-left-full.png");
    background-size: cover;
}

.not-data-schedule{
    background-image: url("~@/assets/images/data/no-data.png");
    background-size: cover; 
}
