.round-tabs .van-tabs__content{
    padding: 0;
}
.round-market{
    overflow: hidden;
    // padding-top: 49px;
    display: flex;
    flex-direction: column;
    height: 100%;
    // 向下/向上快速滑动页面的时候，页面会出现空白，等滑动结束后内容显示
    backface-visibility: hidden;
   
    .schedule, .data-foresight, .wrap-data{
        backdrop-filter: blur(50px);
        position: relative;
        flex: 1;
        overflow-y: scroll;
    }
    .market-blank{
        width: 100%;
        padding-top: 49px;
    }
    .market-header-box{
        height: 210px;
        flex: 0 0 210px;
    }
    .fixed{
        position: fixed;
    } 
    .market-loading{
        margin-top: 30px;
    }
    .play-type{
        width: 36px;
        height: 105px;
        position: fixed;
        top: 50%;
        right: 8px;
        background: #03426e;
        border: 1px solid rgba(31,162,255,0.40);
        border-radius: 4px;
        cursor: pointer;
        z-index: 99;
        .type-btn-1{
            width: 34px;
            height: 83px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 0px 20px 0px;
            color: #ffffff;
            font-size: 14px;
            word-break: break-all;
            text-align: center;
        }
        .type-icon{
            width: 34px;
            height: 20px;
            background: rgba(0, 0, 0, 0.3);
            border-radius: 0 0 3px 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            .icon{
                width: 18px;
                height: 18px;
            }
        }
        .type-list{
            width: 100px;
            height: auto;
            position: absolute;
            top: 50%;
            left: -108px;
            background: #3c3c3c;
            border: 1px solid rgba(255,255,255,0.10);
            border-radius: 4px;
            transform: translateY(-50%);
            .item{
                width: 100px;
                height: 40px;
                font-size: 14px;
                color: rgba(255,255,255,.6);
                text-align: center;
                line-height: 40px;
                font-weight: 400;
                cursor: pointer;
                &.active{
                    background: rgba(255,255,255,0.1);
                    color: #FFFFFF;
                    font-weight: 500;
                }
            }
        }
    }

    .line{
        width: 100%;
        padding: 0.5px 0;
        background: rgba(255,255,255,0.10);
        backdrop-filter: blur(40px); 
        @supports not (backdrop-filter: blur()){
            background: #1E2329;
        }
    }
    .host-tips-box{
        height: 36px;
        flex: 0 0 36px;
    }
    .host-tips{
        top: 49px;
        left: 0;
        right: 0;
        z-index: 99;
        height: 36px;
        flex: 0 0 36px;
        &.lock-tips{
            top: 210px;
        }
        &.lock-tips.fixed{
            top: 259px;
        }
        .van-notice-bar{
            height: 36px;
            font-size: 12px;
            color: #FF4B34;
            .icon{
                margin-left: 8px;
                display: block;
                width: 16px;
                height: 16px;
            }
        }
    }
    
    .station-box{
        height: 28px;
        z-index: 100;
    }
    .ant-nav{
        z-index: 88;
        height: 36px;
        width: 100%;
        background: rgba(255,255,255,0.10);
        backdrop-filter: blur(5px); 
        @supports not (backdrop-filter: blur()){
            background: #1E2329;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 28px;
        position: relative;
        .ant-description{
            position: absolute;
            width: 20px;
            height: 20px;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
        }
        span{
            width: 98px;
            height: 36px;
            text-align: center;
            // line-height: 36px;
            color: rgba( 255, 255, 255, 0.6);
            font-size: 14px;
            display: flex;
            align-items: center;
            justify-content: center;
            &.active{
                color: #0095FF;
                position: relative;
                opacity: 1;
                &::after{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 56px;
                    height: 2px;
                    background-image: linear-gradient(135deg, #1DDAFF 0%, #0095FF 100%);
                }
            }
        }
    }

    .station-order-content{
        height: 28px;
        width: 100%;
        background: rgba(255,255,255,0.10);
        backdrop-filter: blur(5px); 
        @supports not (backdrop-filter: blur()){
            background: #1E2329;
        }
        top: 49px;
        left: 0;
        right: 0;
        &.sticky-top{
            top: 210px;
        }
        &.host-top{
            top: 85px;
        }
        &.host-top.sticky-top{
            top: 246px;
        }
        &.sticky-top.fixed.host-top{
            top: 295px;
        }
        &.fixed.sticky-top{
            top: 259px;
        }
        .video-lock{
            height: 28px;
            line-height: 28px;
            font-size: 12px;
            color: #FFFFFF;
            font-weight: 400;
            float: left;
            display: flex;
            align-items: center;
            i{
                display: inline-block; 
                width: 24px;
                height: 23px;
                margin-left: 8px;
            }
        }
        .station-order{
            float: right;
            display: flex;
            align-items: center;
            .station-switch{
                height: 28px;
                line-height: 28px;
                font-size: 12px;
                color: rgba(255,255,255,0.5);
                font-weight: 400;
                display: flex;
                i{
                    display: inline-block; 
                    width: 28px;
                    height: 28px;
                    margin-right: 4px;
                }
            }
            .description{
                width: 20px;
                height: 20px;
                line-height: 20px;
                font-size: 10px;
                color: #FFFFFF;
                font-weight: 400;
                margin-left: 4px;
                margin-right: 8px;
            }
        }
    }
    .maket-tabs{
        flex: 1;
        z-index: 0;
        background-color: #1E2329;
    }
    .load-more{
        width: 100px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        background-color: #1E2329;
        // margin-bottom: 168px;
        position: fixed;
        left: 50%;
        bottom: 4px;
        transform: translateX(-50%);
        z-index: 9;
        border-radius: 30px;
        &.has-cart{
            bottom: 60px;
        }
        .more-bg{
            width: 100px;
            height: 30px;
            background-image: url("~@/assets/images/common/load-more.png");
            background-size: cover;
            cursor: pointer;
            text-align: center;
            line-height: 26px;
            color: #e7bb02;
            font-size: 12px;
            animation: tiltShaking 6s infinite; 
            backdrop-filter: blur(10px);
            &:hover{
                animation-play-state: paused;
            }
        }
    }
    .header{
        width: 100%;
        height: auto;
        background: rgba(255,255,255,0.10);
        backdrop-filter: blur(40px);
        padding-top: 49px;
    }
    .market-list{
        position: relative;
        margin-bottom: 12px;
        padding: 4px 0 12px 0;
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.2);
        border: 1px solid rgba(255,255,255,0.1);
    }     
          
    .anchor-info{
        .anchor-head{
            height: 33px;
            overflow: hidden;
            position: relative;
            .head-center{
                text-align: center;
                opacity: 0.6;
                font-size: 12px;
                color: #FFFFFF;
                text-align: center;
                font-weight: 400;
                line-height: 33px;
            }
            .head-right{
                font-size: 12px;
                color: rgba(255,255,255,0.5);
                text-align: right;
                float: right;
                font-weight: 400;
                height: 33px;
                line-height: 33px;
                display: flex;
                align-items: center;
                position: absolute;
                right: 11px;
                top: 0;
                i{
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    &.active{
                        transform: rotate(180deg);
                    }
                }
                
            }
        }
        .end-game-swipe {
            width: 100%;
            color: #fff;
            font-size: 20px;
            text-align: center;
            height: 105px;
            .end-game-list{
                width: 100%;
                height: 93px;
                display: flex;
                justify-content: space-between;
                padding: 0 11px;
                .end-game-item{
                    border-radius: 4px;
                    height: 93px; 
                    position: relative;
                    background-color: hsla(0,0%,100%,.04);
                    .end-game-image{
                        width: 165px;
                        height: 93px; 
                        border-radius: 4px;
                        object-fit: contain;
                    }
                    .end-game-text{
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        background: rgba(0, 0, 0, 0.5);
                        font-size: 12px;
                        color: rgba(255, 255, 255, 0.8);
                        font-weight: 400;
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }
                    
                } 
                .no-data-recommend-item{
                    width: 165px;
                    border-radius: 4px;
                    height: 93px; 
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: rgba( 255, 255, 255, 0.04);
                    .icon{
                        display: inline-block;
                        width: 100%;
                        height: 36px;
                        background-position: center;
                        background-size: 36px 36px;
                        background-repeat: no-repeat;
                    }
                    .words{
                        opacity: 0.6;
                        font-size: 12px;
                        color: #FFFFFF;
                        letter-spacing: 0;
                        text-align: center;
                        font-weight: 400;
                    }
                } 
            }
            .van-swipe__indicator--active {
                width: 20px !important;
                height: 4px;
            }
            .van-swipe__indicator{
                width: 6px;
                height: 4px;
                border-radius: 2px;
            }
            .van-swipe__indicators{
                bottom: 0;
            }
        }
    }
    
    &.cross-makert{
        background: rgba(0, 0, 0, 0);
        border: 1px solid rgba(255, 255, 255, 0);
        padding: 4px 0 0 0;
        margin-bottom: 0;
    }
    .list-page{
        flex: 1;
        overflow-y: auto;
        padding: 0 8px;
        padding-bottom: 300px;
    }
    .market-line{
        width: 100%;
        height: 50px;
        padding: 10px 8px 10px 11px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #1E2329;
        .words{
            font-size: 14px;
            color: rgba(255,255,255,0.6);
        }

    }
    .market-option{
        width: 100%;
        height: 50px;
        padding: 8px 8px 8px 11px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #1E2329;
        .btn-content{
            display: flex;
            align-items: center;
            justify-content: center;
            .btn{
                padding: 0 12px;
                height: 30px;
                text-align: center;
                line-height: 28px;
                font-size: 14px;
                color: rgba(255,255,255,0.6);
            }
            .active{
                background: rgba(0,149,255,0.20);
                border: 1px solid #0095FF;
                border-radius: 4px;
                color: #FFFFFF;
            }
        }
    }

    .groups{
        background: rgba(0,0,0,0.20);
        border-radius: 8px;
        // border: 1px solid rgba(255,255,255,0.1);
        margin-bottom: 8px;
        padding-top: 8px;
        .list-item{
            &:not(:last-child){
                margin-bottom: 12px;
            }
            &.last-item{
                margin-bottom: 0;
            }
        }
        .groups-tips{
            height: 34px;
            font-size: 12px;
            color: #ECC903;
            text-align: center;
            line-height: 34px;
        }
    }

    .list-item{
        &.list-visible {
            display: none;
        }
        margin-top: 8px;
        background-color: rgba( 0, 0, 0, 0.3);
        overflow: hidden;
        border-radius: 8px;
        .market-name{
            margin-top: 8px;
        }
        .item-info{
            margin-bottom: 8px;
        }
    }

    .market-name{
        padding: 0 11px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 16px;
        .words{
            font-size: 12px;
            color: rgba(255,255,255,1);
            padding-left: 8px;
            position: relative;
            flex: 1;
            &::after{
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                width: 2px;
                height: 10px;
                background: #E7BB02;
                border-radius: 5px;
                transform: translateY(-50%);
            }
        }
        .collection{
            width: 24px;
            height: 24px;
        }
        .to-be-settled {
            font-family: PingFangSC-Regular;
            font-size: 12px;
            color: #00FF3B;
            font-weight: 400;
            width: 68px;
            padding-left: 12px;
            text-align: right;
        }
    }

    .item-info{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .item-odds{
            font-size: 14px;
            margin-top: 0;
        }
        &.col3 {
            .info-left,.info-right,.info-middle {
            width: 111px;
            .BetItem-box {
                width: auto !important;
            }
            }
        }
        &.col1{
            display: flex;
            flex-direction: column;
            .info-left{
                width: 100% !important;
                .BetItem-box {
                    width: auto !important;
                    .item-name{
                        white-space:normal;
                        max-width: 280px;
                    }
                }
            }
        }
        .BetItem-box.middle{
            width: 111px;
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-content: center;
            flex-direction: row;
            margin-top: 8px;

            &:nth-child(1){
                border-radius: 0 4px 4px 0;
                border: none;
                &:after{
                    border: none;
                    width: 100%;
                    height: 100%;
                    background-image: url("~@/assets/images/market/odds-right-default.png");
                    background-size: 100% 100%;
                    transform: scale(1);
                    border-radius: 0;
                }
            }

            &:nth-child(3){
                border-radius: 4px 0 0 4px;
                border: none;
                &:after{
                    border: none;
                    width: 100%;
                    height: 100%;
                    background-image: url("~@/assets/images/market/odds-left-default.png");
                    background-size: 100% 100%;
                    transform: scale(1);
                    border-radius: 0;
                }
            }

            &.box-active{
                &:nth-child(1)::after{
                    background-image: url("~@/assets/images/market/odds-right-true.png");
                    background-position: right top;
                }               
                &:nth-child(3)::after{
                    background-image: url("~@/assets/images/market/odds-left-true.png");
                    background-position: left top;
                }
            }

            .item-name {
                width: 100%;
                font-size: 12px;
                color: rgba(255,255,255,0.6);
                text-align: left;
                word-break: break-all;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .bubbles-box{
                transform: scale(101/528, 48/152);
            }
        }
        .info-left,.info-right{
            width: 171px;
            .BetItem-box{
                display: flex;
                justify-content: space-between;
                align-content: center;
                margin-top: 4px;
                &:nth-child(n-2){
                    margin-top: 8px;
                }
                &.left,&.right{
                    width: 171px;
                    height: 40px;
                }
                &.left{
                    flex-direction: row;
                    border-radius: 0 4px 4px 0;
                    border: none;
                    &:after{
                        border: none;
                        width: 100%;
                        height: 100%;
                        background-image: url("~@/assets/images/market/odds-right-default.png");
                        background-size: 100% 100%;
                        transform: scale(1);
                        border-radius: 0;
                    }
                }
                &.right{
                    flex-direction: row-reverse;
                    border-radius: 4px 0 0 4px;
                    border: none;
                    &:after{
                        border: none;
                        width: 100%;
                        height: 100%;
                        background-image: url("~@/assets/images/market/odds-left-default.png");
                        background-size: 100% 100%;
                        transform: scale(1);
                        border-radius: 0;
                    }
                    .item-name{
                        text-align: right;
                    }
                }
                &.box-active{
                    &.left::after{
                        background-image: url("~@/assets/images/market/odds-right-true.png");
                    }               
                    &.right::after{
                        background-image: url("~@/assets/images/market/odds-left-true.png");
                    }
                }
                .item-name {
                    max-width: 100px;
                    font-size: 12px;
                    color: rgba(255,255,255,0.6);
                    // word-break: break-word;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    .item-name-box{
                        font-size: 12px;
                        color: rgba(255,255,255,0.6);
                        width: 100%;
                        word-break: break-all;
                        display: block;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        line-height: 15px;
                        -webkit-line-clamp: 2;
                        overflow:hidden;
                        /*! autoprefixer: off */
                        -webkit-box-orient: vertical;
                    }
                }
                .bubbles-box{
                    transform: scale(151/528, 48/152);
                }
            }
        }

    }
    .sell-out-match{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .sellout-box{
            width: 171px;
            height: 40px;
            // background: rgba(0,0,0,0.10);
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 12px;
            margin-top: 8px;
            position: relative;
            
            &.left{
                flex-direction: row;
                .sellout-winner{
                    margin-right: -8px;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-image: url("~@/assets/images/market/odds-right-false.png");
                    background-size: 100% 100%;
                }
            }
            &.right{
                flex-direction: row-reverse;
                .sellout-name{
                    text-align: right;
                }
                .sellout-winner{
                    margin-left: -8px;
                }
                &:after{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-image: url("~@/assets/images/market/odds-left-false.png");
                    background-size: 100% 100%;
                }
            }
            .sellout-name {
                max-width: 90px;
                font-size: 12px;
                color: rgba(255,255,255,0.6);

                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                overflow:hidden;
                /*! autoprefixer: off */
                -webkit-box-orient: vertical;

            }
            .sellout-winner{
                width: 32px;
                height: 32px;
                margin-top: -7px;
                i{
                    width: 100%;
                    height: 100%;
                    display: block;
                }
            }
        }
    }

    .hide-item{
        display: none;
    }
    .more-mkt-btn{
        width: 100%;
        color: rgba(255,255,255,.6);
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 12px;
        padding-bottom: 8px;
        background-color: #1E2329;
        b{
            color: #00FF3B;
            margin: 0 4px;
        }      
        i{
            width: 16px;
            height: 16px;
            margin-right: 4px;
            transition: all 0.3s;
            &.rote{
                transform: rotate(180deg);
            }
        }
    }

}
.description-pop{
    position: absolute;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 181;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate3d(0,0,0);
    .marginTop{
        margin-top: 250px;
    }
    .description-model{
        width: 327px;
        height: auto;
        background: #2B2F35;
        border-radius: 8px;
        .pop-title{
            height: 40px;
            line-height: 40px;
            background: rgba(255,255,255,0.1);
            font-size: 14px;
            font-weight: 500;
            display: flex;
            justify-content: space-between;
            padding-left: 16px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            i{
                display: inline-block;
                width: 40px;
                height: 40px;
                background-size: 16px 16px;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
        .pop-content{
            padding: 16px;
            font-size: 14px;
            line-height: 20px;
            color: rgba(255,255,255,0.8);
            font-weight: 400;
            .rule-content-remark {
                font-size: 14px;
                color: rgba(255,75,52,0.8);
                font-weight: 400;
                margin: 8px 0 24px;
            }
        }
        .close-description{
            width: 295px;
            height: 36px;
            line-height: 36px;
            background-image: linear-gradient(180deg, #61C5FF 8%, #0271BD 55%, #027ED0 100%);
            border-radius: 4px; 
            font-size: 16px;
            color: #FFFFFF;
            text-align: center;
            font-weight: 400;
        }
    }
}
.market-nodata-host{
    height: 100%;
    overflow: auto;
    .data-nav{
        text-align: center;
        margin: 12px 0 8px 0;
        font-size: 12px;
        color: #F0F0F0;
        text-align: center;
        font-weight: 400;
    }
    .recommend{
        position: relative;
        top: 0;
        .recommend-list{
            padding: 0 12px;
        }
    }
}