.match {
    padding: 0 12px;
    margin: 8px 0 72px 0;
    .match-list {
        background-color: transparent;
    }
    .no-more{
        margin-top: 24px;
        margin-bottom: 24px;
        text-align: center;
        font-size: 14px;
        color: rgba(255,255,255, .6);
    }
   
}