/*vant*/
.van-nav-bar{
    background-color: transparent;
    &::after{
        border: 0px solid #0a0c16;
    }
    .van-nav-bar__title{
        color: #ffffff;
    }

}


.dj-tabs{
    .van-tabs__wrap{
        .van-tabs__nav{
            background-color: transparent;
        }
    
        &::after{
            border: 0px solid #0a0c16;
        }
        .van-tab{
            position: relative;
            .van-tab__text{
                font-size: 14px;
                color: rgba(255,255,255,0.6);
                display: flex;
                align-items: center;
                justify-content: center;
                b{
                    display: inline-block;
                    width: 27px;
                    text-align: center;
                    margin-left: 2px;
                }
            }
            &.van-tab--active{
                .van-tab__text{
                    color: #FFFFFF;
                    b{
                        color: #0095FF;
                    }
                }
            }
            // 最后一个选项不显示竖线
            &:nth-last-of-type(2)::after {
                display: none;
            }
            &::after{
                content: "";
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 1px;
                height: 12px;
                background: rgba(255,255,255,0.20);
            }
        }
        .van-tabs__line{
            // width: 28px !important;
            height: 6px;
            background-image: linear-gradient(180deg, rgba(31,219,255,0.00) 1%, rgba(76,175,245,0.36) 100%);
            background-color: transparent;
            border-radius: 0;
            border-bottom: 2px solid #4CAFF5;
            bottom: 15px;
        }
    }
}

.dj-tabs{
    z-index: 1;
    .van-tabs__wrap{
        background: rgba(255,255,255,0.10);
        backdrop-filter: blur(5px);
        @supports not (backdrop-filter: blur()){
            background: #1E2329;
        }
        height: 40px;
        .van-tabs__line{
            bottom: 4vw;
        }
        .van-tab{
            position: relative;
            &.van-tab--active{
                .van-tab__text{
                    color: #0095FF;
                }
            }
        } 
    }
   
    .van-tab__text{
        font-weight: bold;
    }

    .van-tabs__content{
        padding: 8px;
        backdrop-filter: blur(40px);
        @supports not (backdrop-filter: blur()){
            background: #1E2329;
        }
    }
}

.match-tabs{
    .van-tabs__content{
        padding: 0;
    }
}

.van-popup--bottom.van-popup--round{
    background-color: #121723;
    color: #ffffff;
}
.van-action-sheet__cancel, .van-action-sheet__item{
    background-color: #121723;
    color: #758bb5;
}
.van-action-sheet__cancel:active, .van-action-sheet__item:active{
    background-color: #121723;
    color: #758bb5;
}
.van-action-sheet__gap{
    background-color: #0a0c16;
}

.van-overlay{
    background-color: rgba(0,0,0,.4);
}

.van-toast{
    background: #0095FF;
    border-radius: 20px;
}

.van-list__finished-text{
    color: rgba(255,255,255,0.6);
}

.van-popover__wrapper{
    width: 100%;
    height: 100%;
}
.van-popover{
    max-width: 200px;
    .van-popover__arrow{
        color: rgba(0,0,0,0.8);
    }
    .van-popover__content{
        background: rgba(0,0,0,0.8);
        .popover{
            font-size: 12px;
            padding: 8px;
            word-wrap: break-word;
            word-break: normal;
        }
    }
}
.user .van-popover__wrapper{
    width: auto;
}