<template>
  <div :class="['data-line', { rtl: type === 2 }]">
    <div :class="['line-container', { round }]">
      <div
        :class="[
          'line',
          {
            'light-right': light && type === 1,
            'light-left': light && type === 2,
          },
        ]"
        :style="`width:${ratio}%`"
      ></div>
    </div>
    <div class="text DIN">{{ label }}</div>
  </div>
</template>
<script>
export default {
  props: {
    ratio: {
      type: Number,
      default: 0,
    },
    label: {
      type: [String, Number],
      default: "",
    },
    type: {
      type: Number,
      default: 1, // 1=label内容在右边；2=label内容在左边
    },
    light: {
      type: Boolean,
      default: false,
    },
    round: {
      type: Boolean,
      default: false,
    },
  },
};
</script>
<style lang="less" scoped>
.data-line {
  display: flex;
  flex-direction: row;
  height: 19px;
  align-items: center;
  flex: 1;
  .text {
    width: 50px;
    flex-shrink: 0;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    padding-left: 14px;
    font-family: 'DIN';
  }
  .line-container {
    height: 8px;
    flex: 1;
    background: rgba(255, 255, 255, 0.1);
    position: relative;
    .line {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.5);
      &.light-right {
        background: #df3c3d;
      }
      &.light-left {
        background: #1fa2ff;
      }
    }
    &.round {
      border-radius: 8px;
      .line {
        border-radius: 8px;
      }
    }
  }
  &.rtl {
    direction: rtl;
    .text {
      padding-right: 14px;
      padding-left: 0;
      text-align: right;
      direction: ltr;
    }
    .line-container {
      .line {
        left: auto;
        right: 0;
      }
    }
  }
}
</style>
