<template>
  <div class="data-line-group">
    <data-line
      :type="2"
      :ratio="data.leftRatio"
      :label="data.leftLabel"
      :light="data.leftLight"
      :round="round"
    ></data-line>
    <div class="middle-text">{{ title }}</div>
    <data-line
      :ratio="data.rightRatio"
      :label="data.rightLabel"
      :light="data.rightLight"
      :round="round"
    ></data-line>
  </div>
</template>
<script>
import DataLine from "./dataLine.vue";
export default {
  components: { DataLine },
  props: {
    title: {
      type: String,
      default: "",
    },
    data: {
      type: Object,
      default: () => {},
    },
    round: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {};
  },
};
</script>
<style lang="less" scoped>
.data-line-group {
  display: flex;
  flex-direction: row;
  height: 19px;
  align-items: center;
  margin: 9px 0;
  .middle-text {
    width: 60px;
    margin: 0 14px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    text-align: center;
    flex-shrink: 0;
    text-align-last: justify;
  }
}
</style>
