<template>
  <div :class="['game-line-panel', {csgo : isCSGO}]">
    <data-line-group
      v-for="item in lineInfo"
      :key="item.key"
      :title="item.label"
      :round="round"
      :data="createData(item.key)"
    ></data-line-group>
  </div>
</template>
<script>
import DataLineGroup from "./dataLineGroup.vue";
import { number2Time } from "@/assets/scripts/utils";
import i18n from "@/assets/i18n/index.js"
const CMi18n = i18n.t('antDataSource');
// 场均击杀基准最大值
const KILL_AVG_MAX = 25;
// 场均总时长基准最大值
const TIME_AVG_MAX = 50 * 60;
// 英雄联盟
const LOL = [
  { label: CMi18n.GlobalConference, key: "win_rate" },
  { label: CMi18n.SingleConference, key: "race_win_rate" },
  { label: CMi18n.FirstBloodRate, key: "first_blood_rate" },
  { label: CMi18n.FirstTowerRate, key: "first_turret_rate" },
  { label: CMi18n.FirstCrystalRate, key: "first_inhibitors_rate" },
  { label: CMi18n.PentakillRate, key: "five_kills_rate" },
  { label: CMi18n.DecakillRate, key: "ten_kills_rate" },
  { label: CMi18n.FirstBaronRate, key: "first_drakes_rate" },
  { label: CMi18n.FirstDragonRate, key: "first_nashors_rate" },
  { label: CMi18n.AverageKill, key: "kill_avg" },
  { label: CMi18n.AverageTotalDuration, key: "duration_avg" },
]

const DOTA2 = [
  { label: CMi18n.GlobalConference, key: "win_rate" },
  { label: CMi18n.SingleConference, key: "race_win_rate" },
  { label: CMi18n.FirstBloodRate, key: "first_blood_rate" },
  { label: CMi18n.FirstTowerRate, key: "first_turret_rate" },
  { label: CMi18n.FirstBarrackRate, key: "first_barrack_rate" },
  { label: CMi18n.PentakillRate, key: "five_kills_rate" },
  { label: CMi18n.DecakillRate, key: "ten_kills_rate" },
  { label: CMi18n.FirstMeatMountain, key: "first_nashors_rate" },
  { label: CMi18n.AverageKill, key: "kill_avg" },
  { label: CMi18n.AverageTotalDuration, key: "duration_avg" },
]

const KOG = [
  { label: CMi18n.GlobalConference, key: "win_rate" },
  { label: CMi18n.SingleConference, key: "race_win_rate" },
  { label: CMi18n.FirstBloodRate, key: "first_blood_rate" },
  { label: CMi18n.FirstTowerRate, key: "first_turret_rate" },
  { label: CMi18n.PentakillRate, key: "five_kills_rate" },
  { label: CMi18n.DecakillRate, key: "ten_kills_rate" },
  { label: CMi18n.FirstTyrantRate, key: "first_drakes_rate" },
  { label: CMi18n.FirstOverlordRate, key: "first_nashors_rate" },
  { label: CMi18n.AverageKill, key: "kill_avg" },
  { label: CMi18n.AverageTotalDuration, key: "duration_avg" },
]

const CSGO = [
  { label: CMi18n.GlobalConference, key: "win_rate" },
  { label: CMi18n.R1Gunwin, key: "first_blood_rate" },
  { label: CMi18n.R16Gunwin, key: "r_16_win_rate" },
  { label: CMi18n.The1sWin5Rounds, key: "five_kills_rate" },
  { label: CMi18n.The1stWin10Rounds, key: "ten_kills_rate" },
  { label: CMi18n.RoundNum265, key: "round_num_26_5" },
]

const GAME_MAP = {
  "257154660915053": LOL,
  "257289795134339": DOTA2,
  "257561197207055": KOG,
  "257578064923863": CSGO
}
export default {
  components: { DataLineGroup },
  props: {
    data: {
      type: Object,
      default: () => {},
    },
    round: {
      type: Boolean,
      default: false,
    },
    gameId: {
      type: [String, Number],
      default: 0,
    },
    dataType: {
      type: Number,
      default: 0, // 0=近期；1=历史
    }
  },
  data() {
    return {
      lineInfo: this.createLineInfo(),
    };
  },
  computed: {
    isCSGO() {
      return this.gameId == "257578064923863"
    }
  },
  watch: {
    dataType(n) {
      this.lineInfo = this.createLineInfo()
    }
  },
  methods: {
    createLineInfo() {
    
      let _data = [];
      if (GAME_MAP[this.gameId]) {
        _data = [...GAME_MAP[this.gameId]]
      }

      // csgo历史交手特殊处理
      if (this.isCSGO && this.dataType === 1) {
        _data.pop()
      }
      // console.log('this.gameId', this.gameId, GAME_MAP[this.gameId])
      return _data;
    },
    // 统一标准格式化
    formateLabel(v) {
      return v.toFixed(1);
    },
    createData(key) {
      const isRate = key.includes("_rate") || key === 'round_num_26_5' ? true : false;
      const homeValue = this.data.t1[key] || 0;
      const awayValue = this.data.t2[key] || 0;
      if (isRate) {
        return {
          leftRatio: homeValue * 100,
          leftLabel: parseInt(homeValue * 100) + "%",
          leftLight: homeValue > awayValue,
          rightRatio: awayValue * 100,
          rightLabel: parseInt(awayValue * 100) + "%",
          rightLight: homeValue < awayValue,
        };
      } else {
        let _max, _formateFunc;
        switch (key) {
          // 场均击杀
          case "kill_avg":
            _max = KILL_AVG_MAX;
            _formateFunc = this.formateLabel;
            break;
          // 场均总时长
          case "duration_avg":
            _max = TIME_AVG_MAX;
            _formateFunc = number2Time;
            break;
          default:
            _max = 100;
            _formateFunc = this.formateLabel;
        }
        const leftRatio = (homeValue * 100) / _max;
        const rightRatio = (awayValue * 100) / _max;
        return {
          leftRatio: leftRatio > 100 ? 100 : leftRatio,
          leftLabel: _formateFunc(homeValue),
          leftLight: homeValue > awayValue,
          rightRatio: rightRatio > 100 ? 100 : rightRatio,
          rightLabel: _formateFunc(awayValue),
          rightLight: homeValue < awayValue,
        };
      }
    },
  },
};
</script>
<style lang="less">
.data-line {
  display: flex;
  flex-direction: row;
  height: 19px;
  align-items: center;
  flex: 1;
}
.game-line-panel {
  .data-line-group {
    .middle-text {
      margin: 0 6px;
      width: 70px;
    }
  }
}
</style>
