<template>
  <div class="history-grips">
    <div v-for="item in infoDatas" :key="item.key" class="history-grips-item">
      <div class="value DIN">{{ parseInt(Math.formatAmount((score[item.key] || 0) * 100)) }} %</div>
      <div class="desc">{{ item.label }}</div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    gameId: {
      type: [Number, String],
      default: 0,
    },
    score: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    const GAME_INFO = {
      // 英雄联盟LOL
      "257154660915053": [
        { key: "kill_num_26_5", label: this.$t('antDataSource.Kill265') },
        { key: "time_num_33", label: this.$t('antDataSource.GameTimeOver33') },
      ],
      // DOTA2
      "257289795134339": [
        { key: "kill_num_47_5", label: this.$t('antDataSource.Kill475') },
        { key: "time_num_35", label: this.$t('antDataSource.GameTimeOver35') },
      ],
      // 王者荣耀
      "257561197207055": [
        { key: "kill_num_23_5", label: this.$t('antDataSource.Kill235') },
        { key: "time_num_19", label: this.$t('antDataSource.GameTimeOver19') },
      ],
      // CSGO
      "257578064923863": [
        { key: "round_num_26_5", label: this.$t('antDataSource.More265Rounds')},
        { key: "overtime_rate", label: this.$t('antDataSource.EnterTheOT') },
      ],
    };
    return {
      infoDatas: GAME_INFO[this.gameId],
    };
  },
};
</script>
<style lang="less" scoped>
.history-grips {
  height: 68px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 14px;
  .history-grips-item {
    flex: 1;
    text-align: center;
    position: relative;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    &:first-child {
      border-left: 0;
    }
    .desc {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.5);
      font-weight: 400;
    }
    .value {
      font-size: 20px;
      color: #ffffff;
      font-weight: 700;
    }
  }
}
</style>
