<template>
  <div
    :class="[
      'history-team-header',
      {
        'df-home': headerData.matchGameType === 1 && headerData.type === 1,
        'df-away': headerData.matchGameType === 1 && headerData.type === 2,
        'df-home-away': headerData.matchGameType === 1 && headerData.type === 3,
      },
    ]"
  >
    <div class="team-box">
      <div class="team-info">
        <span class="team-logo">
          <TeamImage :url="headerData.data[0].logo" />
        </span>
        <span class="team-name">{{headerData.data[0].teamName}}</span>
      </div>
      <div class="team-winLost" v-if="headerData.matchGameType === 1">
        <result-flag :type="1" :content="headerData.data[0].win"></result-flag>
        <result-flag :type="2" :content="headerData.data[0].lose"></result-flag>
        <result-flag :type="3" :content="calcPecent(headerData.data[0].win, headerData.data[0].lose)"></result-flag>
      </div>
    </div>
    <div class="team-box away" v-if="headerData.type === 3">
      <div class="team-info">
        <span class="team-name">{{headerData.data[1].teamName}}</span>
        <span class="team-logo">
          <TeamImage :url="headerData.data[1].logo" />
        </span>
      </div>
      <div class="team-winLost" v-if="headerData.matchGameType === 1">
        <result-flag :type="3" :content="calcPecent(headerData.data[1].win, headerData.data[1].lose)"></result-flag>
        <result-flag :type="2" :content="headerData.data[1].lose"></result-flag>
        <result-flag :type="1" :content="headerData.data[1].win"></result-flag>
      </div>
    </div>
  </div>
</template>
<script>
import ResultFlag from "./resultFlag.vue";
export default {
  components: { ResultFlag },
  props: {
    headerData: {
      type: Object,
      default: () => {},
    },
  },
  methods: {
    calcPecent(win, lose) {
      if (!win && !lose) {
        return '0%'
      } else {
        return Math.formatAmount(win * 100 / (win + lose), 0) + '%'
      }
    }
  }
};
</script>
<style lang="less" scoped>
.history-team-header {
  height: 36px;
  background-image: linear-gradient(270deg, rgba(255,255,255,0.00) 3%, rgba(255,255,255,0.10) 96%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  //margin-bottom: 8px;
  box-sizing: border-box;
  transform: translateX(-8px);
  width: calc(100% + 16px);
  .team-box {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 8px;
    box-sizing: border-box;
    &.away {
      .team-info {
        justify-content: flex-end;
      }
      .team-winLost {
        //direction: rtl;
        padding: 0 0 0 12% !important;
        ::v-deep .result-flag{
          justify-content: flex-end;
        }
      }
    }
  }
  &.df-home {
    background-image: linear-gradient(
      270deg,
      rgba(0, 149, 255, 0) 3%,
      rgba(0, 149, 255, 0.16) 96%
    );
  }
  &.df-away {
    background-image: linear-gradient(
      270deg,
      rgba(223, 60, 61, 0) 3%,
      rgba(223, 60, 61, 0.16) 96%
    );
  }
  &.df-home-away {
    height: 62px;
    background-image: linear-gradient(
      270deg,
      rgba(223, 60, 61, 0.16) 3%,
      rgba(107, 106, 162, 0) 51%,
      rgba(0, 149, 255, 0.16) 96%
    );
    .team-box {
      flex-direction: column;
      justify-content: center;
      .team-winLost {
        padding: 0 12% 0 0;
        margin-top: 5px;
        width: auto;
      }
    }
  }
  .team-winLost {
    //flex: 1;
    width: 50%;
    //padding-left: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .team-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    .team-logo {
      width: 25px;
      height: 25px;
      margin-right: 2px;
    }
    .team-name {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.8);
      font-weight: 500;
    }
  }
}
</style>
