<template>
  <div class="data-foresight">
    <div class="df-tab">
      <span
        v-for="item in dataTypeGroup"
        :key="item.value"
        :class="[{ active: item.value === dataType }]"
        @click="() => changeDataType(item.value)"
        >{{ item.title }}</span
      >
    </div>
    <template v-if="dataType !== 2">
      <div class="df-filter">
        <div>
          <span>{{ $t("antDataSource.GameStat") }}</span>
          <fd-select
            :list="statisticsMatchOptions"
            v-model="statisticsMatchTimes"
            @changeValue="changeMatchTimes"
            class="df-select"
          ></fd-select>
        </div>
        <div
          @click="toggleLeagueFilter"
          :class="['df-radio-container', { active: onlyCurrentLeague === 1 }]"
        >
          <span class="df-radio"></span>{{ $t("antDataSource.OnlyCurrentLg") }}
        </div>
      </div>
      <div class="df-content">
        <div class="df-content-left">
          <div class="df-title">
            {{
              dataType === 0
                ? $t("antDataSource.RecentStat")
                : $t("antDataSource.FightData")
            }}
          </div>
          <div class="teams-container">
            <div class="team-item home">
              <div class="team-info">
                <span class="team-title text-r">{{ matchs.home_name }}</span>
                <span class="team-logo">
                  <TeamImage
                    v-if="matchs.home_team"
                    :url="global.TeamImages[matchs.home_team]"
                  />
                </span>
              </div>
              <div class="team-winLost">
                <result-flag
                  :type="2"
                  :content="foresightData.t1.race_lose"
                  rtl
                ></result-flag>
                <result-flag
                  :type="1"
                  :content="foresightData.t1.race_win"
                  rtl
                ></result-flag>
              </div>
            </div>
            <div class="vs">
              <i v-if="dataType === 1" class="data-team-vs"></i>
              <span v-else class="line"></span>
            </div>
            <div class="team-item">
              <div class="team-info">
                <span class="team-logo">
                  <TeamImage
                    v-if="matchs.away_team"
                    :url="global.TeamImages[matchs.away_team]"
                  />
                </span>
                <span class="team-title">{{ matchs.away_name }}</span>
              </div>
              <div class="team-winLost">
                <result-flag
                  :type="1"
                  :content="foresightData.t2.race_win"
                ></result-flag>
                <result-flag
                  :type="2"
                  :content="foresightData.t2.race_lose"
                ></result-flag>
              </div>
            </div>
          </div>
          <game-line-panel
            :data="foresightData"
            :gameId="matchs.game_id"
            :dataType="dataType"
            round
          ></game-line-panel>
          <game-history-grips
            v-if="dataType === 1"
            :gameId="matchs.game_id"
            :score="foresightData.t1"
          ></game-history-grips>
        </div>
        <div
          v-if="
            (dataType === 0 &&
              (t1SeriesMatches.length ||
                t2SeriesMatches.length ||
                t1RaceStats.length ||
                t2RaceStats.length)) ||
              (dataType === 1 && (fightRecord.length || raceStatsHistory.length))
          "
          class="df-content-right"
        >
          <div class="history-header">
            <div class="df-title">{{ $t("antDataSource.FightMatchRecord") }}</div>
            <div class="df-game-type">
              <div
                :class="['item-btn', 'left', { active: matchGameType === 1 }]"
                @click="() => changeMatchGameType(1)"
              >
                {{ $t("antDataSource.BigBattle") }}
              </div>
              <div
                :class="['item-btn', 'right', { active: matchGameType === 2 }]"
                @click="() => changeMatchGameType(2)"
              >
                {{ $t("antDataSource.SmallBattle") }}
              </div>
            </div>
          </div>
          <div class="list-container">
            <!-- 大局 -->
            <template v-if="matchGameType === 1">
              <!-- 近期数据 -->
              <template v-if="dataType === 0">
                <div v-if="t1SeriesMatches.length || t2SeriesMatches.length">
                  <template v-if="t1SeriesMatches.length">
                    <history-team-header
                      :headerData="createListHeaderData(1)"
                    ></history-team-header>
                    <div
                      v-for="(item, i) in t1SeriesMatches"
                      :key="`da_t1_series_${i}`"
                    >
                      <div class="league-name">{{ item.series_name }}</div>
                      <league-result-item
                        v-for="(match, _i) in item.matches"
                        :key="`da_t1_match_${_i}`"
                        :data="match"
                        :teamInfo="getTeamInfo()"
                      ></league-result-item>
                    </div>
                  </template>
                  <template v-if="t2SeriesMatches.length">
                    <history-team-header
                      :headerData="createListHeaderData(2)"
                    ></history-team-header>
                    <div
                      v-for="(item, i) in t2SeriesMatches"
                      :key="`da_t2_series_${i}`"
                    >
                      <div class="league-name">{{ item.series_name }}</div>
                      <league-result-item
                        v-for="(match, _i) in item.matches"
                        :key="`da_t2_match_${_i}`"
                        :data="match"
                        :teamInfo="getTeamInfo()"
                      ></league-result-item>
                    </div>
                  </template>
                </div>
                <div v-else class="no-data">{{ $t("antDataSource.NoData") }}</div>
              </template>
              <!-- 历史交手 -->
              <template v-else>
                <div v-if="fightRecord.length">
                  <history-team-header
                    :headerData="createListHeaderData(3)"
                  ></history-team-header>
                  <div 
                    v-for="(item, i) in fightRecord" 
                    :key="`da_lishi_series_${i}`">
                    <div class="league-name">{{ item.series_name }}</div>
                    <league-result-item
                      v-for="(match, _i) in item.matches"
                      :key="`da_lishi_match_${_i}`"
                      :data="match"
                      :teamInfo="getTeamInfo()"
                    ></league-result-item>
                  </div>
                </div>
                <div v-else class="no-data">{{ $t("antDataSource.NoData") }}</div>
              </template>
            </template>
            <!-- 小局 -->
            <template v-else>
              <!-- 近期数据 -->
              <template v-if="dataType === 0">
                <div v-if="t1RaceStats.length || t2RaceStats.length">
                  <history-team-header
                    :headerData="createListHeaderData(1)"
                  ></history-team-header>
                  <div v-for="(match, i) in t1RaceStats" :key="`xiao_t1_match_${i}`">
                    <div class="league-name">{{ match.series_name }}</div>
                    <league-result-small-item
                      :data="match"
                      :gameId="matchs.game_id"
                    ></league-result-small-item>
                  </div>
                  <history-team-header
                    :headerData="createListHeaderData(2)"
                  ></history-team-header>
                  <div v-for="(match, i) in t2RaceStats" :key="`xiao_t2_match_${i}`">
                    <div class="league-name">{{ match.series_name }}</div>
                    <league-result-small-item
                      :data="match"
                      :gameId="matchs.game_id"
                    ></league-result-small-item>
                  </div>
                </div>
                <div v-else class="no-data">{{ $t("antDataSource.NoData") }}</div>
              </template>
              <!-- 历史交手 -->
              <template v-else>
                <div v-if="raceStatsHistory.length">
                  <div v-for="(match, index) in raceStatsHistory" 
                  :key="`xiao_lishi_match_${index}`"
                  >
                    <div class="league-name">{{ match.series_name }}</div>
                    <league-result-small-item
                      :data="match"
                      :gameId="matchs.game_id"
                    ></league-result-small-item>
                  </div>
                </div>
                <div v-else class="no-data">{{ $t("antDataSource.NoData") }}</div>
              </template>
            </template>
          </div>
        </div>
      </div>
    </template>
    <!-- 联赛数据 -->
    <template v-else>
      <div id="leagueFilter" class="league-filter">
        <fd-select
          :list="oldLeagueOptions"
          v-model="currentLeague"
          @changeValue="getLeagueData"
          class="league-select"
        ></fd-select>
      </div>
      <div class="league-content">
        <div class="league-table-wrap">
          <table class="league-table" v-if="leagueDataList.length > 0" :style="{'width':leagueTableLabel.length <= 4 ? '100%' : ''}">
            <thead>
              <tr>
                <th style="text-align: left;">{{ rankingTeamLabel.name }}</th>
                <th v-for="(item, i) in leagueTableLabel" :key="i">{{ item.name }}</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(row, j) in leagueDataList" :key="j">
                <td style="text-align: left;" :style="{'width':leagueTableLabel.length <= 4 ? '100%' : '120px'}">
                  <span 
                    v-if="[1,2,3].includes(row.rank)"
                    :class="`ranking-icon ranking-icon${row.rank}`">
                  </span> 
                  <span class="ranking-icon" v-else>{{row.rank}}</span>
                  <span class="team-logo"> 
                    <TeamImage :src="global.TeamImages[row.team_id]" />
                  </span>
                  <span class="ranking-text">{{row.team_name}}</span>
                </td>
                <td v-for="(item, k) in leagueTableLabel" :key="k">{{ row[item.en_name] }}</td>
              </tr>
            </tbody>
          </table>
          <div v-else class="league-noData">
            {{ $t("antDataSource.NoData") }}
          </div>
        </div>
      </div>
    </template>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import LeagueResultItem from "./leagueResultItem.vue";
import LeagueResultSmallItem from "./leagueResultSmallItem.vue";
import ResultFlag from "./resultFlag.vue";
import fdSelect  from "../../common/select/index.vue";
import HistoryTeamHeader from "./historyTeamHeader.vue";
import GameHistoryGrips from "./gameHistoryGrips.vue";
import GameLinePanel from "./gameLinePanel.vue";
import { requestForesightComplete, requestForesightFight, requestLeague, requestLeagueData } from "@/api/data.js";
import { getAntDataGameId } from '@/assets/scripts/utils'
export default {
  components: {
    GameLinePanel,
    LeagueResultItem,
    ResultFlag,
    HistoryTeamHeader,
    LeagueResultSmallItem,
    GameHistoryGrips,
    fdSelect ,
  },
  data() {
    return {
      global,
      // 数据类型 0=近期；1=历史
      dataType: 0,
      dataTypeGroup: [
        {
          title: this.$t("antDataSource.RecentData"),
          value: 0,
        },
        {
          title: this.$t("antDataSource.HistoryFight"),
          value: 1,
        },
      ],
      // 统计场次
      statisticsMatchTimes: {name: 10, code: 10},
      statisticsMatchOptions: [
        {name: 3, code: 3},
        {name: 6, code: 6},
        {name: 10, code: 10},
      ],
      // 只看当前联赛 0-否 1-是
      onlyCurrentLeague: 0,
      // 2=小局；1=大局
      matchGameType: 1,
      foresightData: {
        t1: {},
        t2: {},
      },
      // 主队系列赛
      t1SeriesMatches: [],
      // 客队系列赛
      t2SeriesMatches: [],
      // 交手历史
      fightRecord: [],
      // 近期数据主队小局
      t1RaceStats: [],
      // 近期数据客队小局
      t2RaceStats: [],
      // 历史交手小局
      raceStatsHistory: [],
      global,
      // 联赛数据
      isCN: ['cn', 'zh'].includes(localStorage.getItem('language') || 'cn'),
      currentLeague: {},
      oldLeagueOptions: [],
      leagueTableHeight: 250,
      rankingTeamLabel: {},
      leagueTableLabel:[],
      leagueDataList: [],
    };
  },
  computed: {
    ...mapGetters(["matchs"]),
  },
  mounted() {
    this.getForesightComplete();
    this.getLeague();
  },
  watch: {
    dataType(n) {
      if (n === 0) {
        this.getForesightComplete();
      } else if(n === 1){
        this.getForesightFight();
      } else{//联赛数据
        this.getLeagueData();
        // this.$nextTick( () => {
        //     this.getTableHeight();
        // })
        // this.$refs.leagueTable.doLayout();
      }
    },
    matchs(n) {
      if (n.id) {
        this.getForesightComplete();
      }
    },
  },
  methods: {
    changeDataType(type) {
      this.dataType = type;
    },
    getTeamInfo() {
      return {
        t1: {
          teamName: this.matchs.home_name,
          team: this.matchs.home_team,
          logo: this.global.TeamImages[this.matchs.home_team],
        },
        t2: {
          teamName: this.matchs.away_name,
          team: this.matchs.away_team,
          logo: this.global.TeamImages[this.matchs.away_team],
        },
      };
    },
    // 列表头部数据生成
    createListHeaderData(type) {
      //type 1=主队； 2=客队; 3=主客队
      let data = [];
      const homeData = {
        ...this.getTeamInfo().t1,
        win: this.foresightData.t1.win,
        lose: this.foresightData.t1.lose,
      };
      const awayData = {
        ...this.getTeamInfo().t2,
        win: this.foresightData.t2.win,
        lose: this.foresightData.t2.lose,
      };
      if (type === 1) {
        data = [homeData];
      } else if (type === 2) {
        data = [awayData];
      } else {
        data = [homeData, awayData];
      }
      return {
        type,
        matchGameType: this.matchGameType,
        data,
      };
    },
    changeMatchTimes() {
      if (this.dataType === 0) {
        this.getForesightComplete();
      } else {
        this.getForesightFight();
      }
    },
    // 只看联赛过滤
    toggleLeagueFilter() {
      this.onlyCurrentLeague = this.onlyCurrentLeague === 1 ? 0 : 1;
      if (this.dataType === 0) {
        this.getForesightComplete();
      } else {
        this.getForesightFight();
      }
    },
    // 大小局切换
    changeMatchGameType(type) {
      this.matchGameType = type;
    },
    // 获取历史交手
    getForesightFight() {
      requestForesightFight({
        num: this.statisticsMatchTimes.code,
        current_tour_only: this.onlyCurrentLeague,
        id: this.matchs.id,
        game_id: getAntDataGameId(this.matchs.game_id),
      })
        .then((res) => {
          console.log("res.data Fight", res.data);
          if (res.data.data) {
            const data = res.data.data;
            this.foresightData = {
              t1: data.t1.stats,
              t2: data.t2.stats,
            };
            this.fightRecord = data.fight_record || [];
            this.raceStatsHistory = data.race_stats || [];
          }
        })
        .catch((err) => {
          console.error(err);
        });
    },
    // 计算表格高度
    getTableHeight(){
      let rsHeight = document.getElementById("rightScroll").offsetHeight;
      let rnHeight = document.getElementById("rightNav").offsetHeight;
      let dfTabHeight = document.getElementById("dfTab").offsetHeight;
      // 下拉框高度
      let lfHeight = document.getElementById("leagueFilter").offsetHeight;
      this.leagueTableHeight = rsHeight - rnHeight - dfTabHeight - lfHeight - 30;
    },
    // 获取联赛
    getLeague() {
      requestLeague({
        tournament_id: this.matchs.tournament_id,
      })
        .then((res) => {
          if (res.data.status === "true" && res.data.data) {
            const oldLeagueOptions = [];
            res.data.data.forEach(item => {
              oldLeagueOptions.push({
                code: item.id,
                name: item.name,
              })
            })
            this.oldLeagueOptions = oldLeagueOptions;
            if(this.oldLeagueOptions.length > 0){
              this.currentLeague = {
                code: res.data.data[0].id,
                name: res.data.data[0].name,
              };
              this.dataTypeGroup.push({
                title: this.isCN ? '联赛数据' : 'League data',
                value: 2,
              });
            }
          }
        })
        .catch((err) => {
          console.error(err);
        });
    },
    // 获取联赛数据
    getLeagueData() {
      if(!this.currentLeague.code){
        return;
      }
      requestLeagueData({
        tournament_history_id: this.currentLeague.code,
        // tournament_history_id: '76163305939632',
      })
        .then((res) => {
          if (res.data.status === "true" && res.data.data) {
            const data = res.data.data;
            this.rankingTeamLabel = {
              cn_name: '排行/战队',
              en_name: 'ranking/team',
              name: this.isCN ? '排行/战队' : 'ranking/team',
              sort: '0',
            }
            this.leagueTableLabel = data.columns;
            // console.log('leagueTableLabel',this.leagueTableLabel);
            const leagueDataList = [];
            data.list.forEach((row) => {
              const leagueData = row;
              data.columns.forEach((item, index) => {
                leagueData[item.en_name] = row.data[index]
              })
              leagueDataList.push(leagueData);
            })
            this.leagueDataList = leagueDataList;
            // console.log('leagueDataList',this.leagueDataList);
          }
        })
        .catch((err) => {
          console.error(err);
        });
    },
    // 获取近期数据
    getForesightComplete() {
      requestForesightComplete({
        num: this.statisticsMatchTimes.code,
        current_tour_only: this.onlyCurrentLeague,
        id: this.matchs.id,
        game_id: getAntDataGameId(this.matchs.game_id),
      })
        .then((res) => {
          console.log("res.data", res.data);
          if (res.data.data) {
            this.handleForesightCompleteData(res.data.data);
          }
        })
        .catch((err) => {
          console.error(err);
        });
    },
    handleForesightCompleteData(data) {
      this.foresightData = {
        t1: data.t1.stats,
        t2: data.t2.stats,
      };
      this.t1SeriesMatches = data.t1.series_matches || [];
      this.t2SeriesMatches = data.t2.series_matches || [];
      this.t1RaceStats = data.t1.race_stats || [];
      this.t2RaceStats = data.t2.race_stats || [];
      this.$bus.$emit("foresightData", data);
    },
  },
};
</script>
<style lang="less">
.data-foresight {
  width: 100%;
  margin: 0 auto;
  padding: 8px;
  box-sizing: border-box;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  .league-name {
    // width: 111px;
    height: 17px;
    line-height: 17px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    margin: 6px;
  }

  .no-data {
    flex: 1;
    height: 300px;
    background: url("~@/assets/images/data/no-data.png") no-repeat;
    background-size: auto 108px;
    background-position: center 110px;
    padding-top: 238px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    font-weight: 400;
  }

  .history-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .df-game-type {
      margin-bottom: 8px;
      .item-btn {
        width: 72px;
        height: 28px;
        line-height: 28px;
        text-align: center;
        display: inline-block;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.3);
        font-weight: 400;
        cursor: pointer;
        &.left {
          background-image: url("~@/assets/images/data/btn-left-bg.png");
          background-size: 100% 100%;
          margin-right: -9px;
        }
        &.right {
          background-image: url("~@/assets/images/data/btn-right-bg.png");
          background-size: 100% 100%;
        }
        &.active {
          color: #ffffff;
          font-weight: 600;
          &.left {
            background-image: url("~@/assets/images/data/btn-left-bg-select.png");
            background-size: 100% 100%;
          }
          &.right {
            background-image: url("~@/assets/images/data/btn-right-bg-select.png");
            background-size: 100% 100%;
          }
        }
      }
    }
  }
  .teams-container {
    display: flex;
    flex-direction: row;
    .team-item {
      flex: 1;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.8);
      font-weight: 500;
      .team-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 16px;
        .team-title {
          &.text-r {
            text-align: right;
          }
        }
        .team-logo {
          width: 25px;
          height: 25px;
          margin-right: 2px;
        }
      }
      .team-winLost {
        display: flex;
        flex-direction: row;
        padding: 0 30% 0 0;
      }
      &.home {
        .team-info {
          justify-content: flex-end;
        }
        .team-logo {
          margin: 0 0 0 2px;
        }
        .team-winLost {
          padding: 0 0 0 30%;
        }
      }
    }
    .vs {
      width: 60px;
      margin: 0 14px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      .line {
        display: inline-block;
        width: 1px;
        height: 12px;
        background: rgba(255, 255, 255, 0.2);
        margin-top: 8px;
      }
    }
  }
  .df-radio-container {
    cursor: pointer;
    .df-radio {
      border: 1px solid rgba(151, 151, 151, 0.3);
      background: rgba(151, 151, 151, 0.1);
      border-radius: 50%;
      width: 16px;
      height: 16px;
      display: inline-block;
      vertical-align: middle;
      margin: -3px 8px 0 0;
      position: relative;
    }
    &.active {
      .df-radio {
        background: #1fa2ff;
      }
    }
  }

  .df-select {
    height: 30px;
    margin-left: 10px;
    .el-input--mini {
      .el-input__inner {
        background: transparent;
        border: 1px solid rgba(151, 151, 151, 0.3);
        color: #fff;
      }
    }
    .el-select__caret {
      color: #fff !important;
    }
  }
  .df-title {
    height: 17px;
    line-height: 17px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 8px;
    position: relative;
    margin-bottom: 8px;
    &:before {
      width: 2px;
      height: 10px;
      border-radius: 2px;
      background: #e7bb02;
      position: absolute;
      left: 0;
      top: 4px;
      content: "";
    }
  }
  .df-content {
    display: flex;
    flex-direction: column;
    .df-content-left,
    .df-content-right {
      width: 100%;
      flex-shrink: 0;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      margin-bottom: 6px;
      padding: 8px 8px 0 8px;
    }
    .df-content-left {
    }
    .df-content-right {
      .list-container {
        width: 100%;
      }
    }
  }
  .df-filter {
    margin: 6px 0;
    height: 30px;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
    color: rgba(255, 255, 255, 0.5);
  }
  .df-tab {
    width: 100%;
    margin: 0 0 8px;
    display: flex;
    span {
      display: inline-block;
      text-align: center;
      line-height: 27px;
      flex: 1 1 0;
      font-size: 12px;
      font-size: rgba(255, 255, 255, 0.6);
      cursor: pointer;
      &.active {
        background: rgba(0, 149, 255, 0.3);
        border: 1px solid rgba(0, 149, 255, 1);
        border-radius: 8px;
        color: #ffffff;
      }
    }
  }
  .league-filter{
    display: flex;
    justify-content: flex-end;
    padding: 0 0 8px 0;
    .league-select{
      height: 30px;
      // width: 206px;
      .el-input--mini {
        .el-input__inner {
          background: transparent;
          border: 1px solid rgba(151, 151, 151, 0.3);
          color: #fff;
        }
      }
      .el-select__caret {
        color: #fff !important;
      }
    }
  }
  .league-content {
    display: flex;
    position: relative;
    overflow: hidden;
    flex: 1 1 0;
    .slide-icon {
        width: 18px;
        height: 18px;
        position: absolute;
        top: 50%;
        margin-top: -9px;
        right: -12px;
        &:after {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: block;
          content: "";
          background: url("~@/assets/images/common/slide-icon.png") no-repeat 50% /
            cover;
        }
        &.animate-effect {
          animation: dir_right_remind_animate 1.4s
            cubic-bezier(0.49, 0.49, 0.61, 0.59) infinite;
        }
        &.slide-icon-l {
          &:after {
            transform: scaleY(-1);
          }
          &.animate-effect {
            animation: dir_left_remind_animate 1.4s
              cubic-bezier(0.49, 0.49, 0.61, 0.59) infinite;
          }
        }
      }
    .league-table-wrap{
      width: 100%;
      max-height: 100%;
      overflow: scroll;
    }
  }
  .league-table{
    // width: 100%;
    background-color: transparent;
    border-radius: 5px;
    color:rgba(255, 255, 255, 0.8);
    font-size: 12px;
    border-collapse: collapse;
    table-layout: fixed;
    tr {
      border-bottom: 1px solid rgba(255,255,255,0.10);
    }
    td, th {
      color: rgba(255,255,255,0.8);
      box-sizing: border-box;
      background-color: #1B1D24;
      font-size: 12px;
      text-align: center;
      padding: 18px 6px;
      white-space: nowrap;
    }
    td {
      line-height: 23px;
    }
    th {
      background: #262A2F;
      color: #999;
      font-weight: normal;
      padding: 6px 10px;
    }
    // 固定首列
    td:first-child,
    th:first-child {
      position:sticky;
      left:0;
      z-index:1;
      padding-left: 5px;
    }
    td:first-child{
      // width: 120px;
      display: inline-block;
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    // 固定表头
    thead tr th {
      position:sticky;
      top:0;
    }
    th:first-child{
      z-index:2;
    }
    th:first-child{
      z-index:2;
    }
    .ranking-icon{
      display: inline-block;
      width: 18/16rem;
      height: 18/16rem;
      vertical-align: middle;
      text-align: center;
      line-height: 18/16rem;
    } 
    .ranking-icon1{
      background: url("~@/assets/images/data/rank1.png");
      background-size: cover;
    }
    .ranking-icon2{
      background: url("~@/assets/images/data/rank2.png");
      background-size: cover;
    }
    .ranking-icon3{
      background: url("~@/assets/images/data/rank3.png");
      background-size: cover;
    }
    .team-logo{
      display: inline-block;
      width: 22/16rem;
      height: 22/16rem;
      line-height: 22/16rem;
      vertical-align: middle;
    }
    .ranking-text{
      vertical-align: middle;
    }
  }
  .league-noData{
    text-align: center;
    padding: 20px
  }
}
</style>
