<template>
  <div class="league-result-item">
    <div class="bo-time">
      <div class="detail-item bo">BO{{ data.bo }}</div>
      <div class="detail-item">{{ timetrans(data.start_time).y }}</div>
    </div>
    <div class="lri-team">
      <div class="detail-item">
        <span class="team-logo">
          <TeamImage :url="global.TeamImages[data.teams[0].dj_team_id]" />
        </span>
        <div :class="[{ 'data-foresight-win': data.teams[0].is_win }]">
          {{ data.teams[0].team_name }}
        </div>
        <div v-if="data.teams[0].is_win" class="icon-win"></div>
      </div>
      <div class="detail-item">
        <span class="team-logo">
          <TeamImage :url="global.TeamImages[data.teams[1].dj_team_id]" />
        </span>
        <div :class="[{ 'data-foresight-win': data.teams[1].is_win }]">
          {{ data.teams[1].team_name }}
        </div>
        <div v-if="data.teams[1].is_win" class="icon-win"></div>
      </div>
    </div>
    <div class="lri-score">
      <div
        :class="[
          'detail-item',
          'number',
          'DIN',
          { 'data-foresight-win': data.teams[0].is_win },
        ]"
      >
        {{ data.teams[0].score }}
      </div>
      <div
        :class="[
          'detail-item',
          'number',
          'DIN',
          { 'data-foresight-win': data.teams[1].is_win },
        ]"
      >
        {{ data.teams[1].score }}
      </div>
    </div>
    <div class="lri-ratio">
      <div class="detail-item number DIN">
        {{ formatWinRate(data.teams[0].win_rate) }}
      </div>
      <div class="detail-item number DIN">
        {{ formatWinRate(data.teams[1].win_rate) }}
      </div>
    </div>
  </div>
</template>
<script>
import { timetrans } from "@/assets/scripts/utils";
import { mapGetters } from "vuex";
export default {
  props: {
    data: {
      type: Object,
      default: () => {},
    },
    teamInfo: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      global
    }
  },
  computed:{
      ...mapGetters(["images"])
  },
  methods: {
    timetrans,
    formatWinRate(win_rate) {
      return win_rate ? parseInt(Math.formatAmount(win_rate * 100, 0)) + '%' : '-'
    }
  },
};
</script>
<style lang="less" scoped>
.league-result-item {
  background: rgba(20, 20, 20, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 6px;
  .team-logo {
    height: 24px;
    width: 24px;
    margin-right: 12px;
  }
  .detail-item {
    height: 24px;
    margin-top: 9px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    display: flex;
    align-items: center;
    &:first-child {
      margin-top: 0;
    }
    &.number {
      justify-content: center;
      text-align: center;
      font-size: 15px;
      line-height: 20px;
      color: #ffffff;
      text-align: center;
      font-weight: 700;
    }
    .icon-win {
      width: 16px;
      height: 22px;
      background-image: url("~@/assets/images/data/win-big.png");
      background-size: 100% 100%;
      display: inline-block;
      margin-left: 10px;
    }
    &.bo {
      color: #f0f0f0;
    }
  }
  .bo-time {
    width: 70px;
    flex-shrink: 0;
  }
  .lri-team {
    flex: 3;
  }
  .lri-score {
    flex: 1;
  }
  .lri-ratio {
    flex: 1.5;
    position: relative;
    &:before {
      width: 1px;
      height: 43px;
      background: rgba(255, 255, 255, 0.1);
      position: absolute;
      left: 0;
      top: 7px;
      content: "";
    }
  }
}
</style>
