<template>
  <div class="leagueResult-small-item">
    <div class="leagueResult-header">
      <div class="teams">
        <span
          :class="[
            'team-home',
            { 'data-foresight-win': isHomeWin(data.stats) },
          ]"
          >{{ data.team_name }}</span
        >
        <i class="data-team-vs"></i>
        <span
          :class="[
            'team-away',
            { 'data-foresight-win': !isHomeWin(data.stats) },
          ]"
          >{{ data.competitor_name }}</span
        >
      </div>
      <div class="time">{{ timetrans(data.start_time).y }}</div>
    </div>
    <div class="leagueResult-content">
      <div
      :class="['score-detail', { csgo: isCSGO() }]"
        v-for="(item, index) in data.stats"
        :key="index"
      >
        <span v-if="isCSGO()" class="time">
          <i class="map-logo"></i>{{ item.map_name }}
        </span>
        <span v-else class="time">
          <i class="icon-time"></i>{{ number2Time(item.duration) }}
        </span>
        <span class="score DIN">
          <span
            :class="[
              { 'data-foresight-win': isHomeWin(data.stats) },
            ]"
            >{{ item.score }}</span
          >:
          <span
            :class="[
              { 'data-foresight-win': !isHomeWin(data.stats) },
            ]"
            >{{ item.competitor_score }}</span
          >
        </span>
        <span v-if="isCSGO()">
          <i :class="['score-icon', 'csgo5', { active: item.five_kills }]"></i>
          <i :class="['score-icon', 'csgo10', { active: item.ten_kills }]"></i>
          <i :class="['score-icon', 'r1', { active: item.first_blood }]"></i>
          <i :class="['score-icon', 'r16', { active: item.r16_win }]"></i>
        </span>
        <span v-else>
          <i :class="['score-icon', 'blood', { active: item.first_blood }]"></i>
          <i :class="['score-icon', 'towl', { active: item.first_towers }]"></i>
          <i :class="['score-icon', 'kill5', { active: item.five_kills }]"></i>
          <i :class="['score-icon', 'kill10', { active: item.ten_kills }]"></i>
          <i v-if="isLol()" :class="['score-icon', 'xl', { active: item.first_drakes }]"></i>
          <i v-if="isLol()" :class="['score-icon', 'dl', { active: item.first_nashors }]"></i>
        </span>
      </div>
    </div>
  </div>
</template>
<script>
import { timetrans, number2Time } from "@/assets/scripts/utils";
export default {
  props: {
    teamInfo: {
      type: Object,
      default: () => {},
    },
    data: {
      type: Object,
      default: () => {},
    },
    gameId: {
      type: [Number, String],
      default: 0,
    },
  },
  data() {
    return {};
  },
  methods: {
    timetrans,
    number2Time,
    isHomeWin(data) {
      let _data = [...data]
      _data = _data.sort((a, b) => b.duration - a.duration)
      if (_data[0]) {
        return _data[0].win_team
      } else {
        return false
      }
    },
    isLol() {
      return this.gameId == '257154660915053'
    },
    isCSGO() {
      return this.gameId == '257578064923863'
    }
  },
};
</script>
<style lang="less" scoped>
.leagueResult-small-item {
  background: rgba(20, 20, 20, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 6px;
  .leagueResult-header {
    height: 37px;
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px 8px 0 0;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    .teams {
      display: flex;
      flex-direction: row;
      align-items: center;
      .data-team-vs {
        margin: 2px 7px 0;
      }
    }
  }
  .leagueResult-content {
    .score-detail {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      margin: 10px 0;
      height: 18px;
      font-size: 13px;
      color: rgba(255, 255, 255, 0.5);
      font-weight: 400;
      &.csgo {
        .time {
          width: 100px;
        }
        .score {
          width: 70px;
        }
      }
      .time {
        width: 70px;
      }
      .score {
        color: #f0f0f0;
        font-size: 14px;
        font-weight: 700;
        width: 80px;
        text-align: center;
      }
      .score-icon {
        width: 16px;
        height: 16px;
        display: inline-block;
        margin-left: 6px;
        &.blood {
          background-image: url("~@/assets/images/data/icon-blood.png");
          background-size: 100% 100%;
          &.active {
            background-image: url("~@/assets/images/data/icon-blood-active.png");
            background-size: 100% 100%;
          }
        }
        &.towl {
          background-image: url("~@/assets/images/data/icon-towl.png");
          background-size: 100% 100%;
          &.active {
            background-image: url("~@/assets/images/data/icon-towl-active.png");
            background-size: 100% 100%;
          }
        }
        &.kill5 {
          background-image: url("~@/assets/images/data/icon-kill5.png");
          background-size: 100% 100%;
          &.active {
            background-image: url("~@/assets/images/data/icon-kill5-active.png");
            background-size: 100% 100%;
          }
        }
        &.kill10 {
          background-image: url("~@/assets/images/data/icon-kill10.png");
          background-size: 100% 100%;
          &.active {
            background-image: url("~@/assets/images/data/icon-kill10-active.png");
            background-size: 100% 100%;
          }
        }
        &.xl {
          background-image: url("~@/assets/images/data/icon-xl.png");
          background-size: 100% 100%;
          &.active {
            background-image: url("~@/assets/images/data/icon-xl-active.png");
            background-size: 100% 100%;
          }
        }
        &.dl {
          background-image: url("~@/assets/images/data/icon-dl.png");
          background-size: 100% 100%;
          &.active {
            background-image: url("~@/assets/images/data/icon-dl-active.png");
            background-size: 100% 100%;
          }
        }
        &.r1 {
          background-image: url("~@/assets/images/data/icon-r1.png");
          background-size: 100% 100%;
          &.active {
            background-image: url("~@/assets/images/data/icon-r1-active.png");
            background-size: 100% 100%;
          }
        }
        &.r16 {
          background-image: url("~@/assets/images/data/icon-r16.png");
          background-size: 100% 100%;
          &.active {
            background-image: url("~@/assets/images/data/icon-r16-active.png");
            background-size: 100% 100%;
          }
        }
        &.csgo5 {
          background-image: url("~@/assets/images/data/icon-csgo5.png");
          background-size: 100% 100%;
          &.active {
            background-image: url("~@/assets/images/data/icon-csgo5-active.png");
            background-size: 100% 100%;
          }
        }
        &.csgo10 {
          background-image: url("~@/assets/images/data/icon-csgo10.png");
          background-size: 100% 100%;
          &.active {
            background-image: url("~@/assets/images/data/icon-csgo10-active.png");
            background-size: 100% 100%;
          }
        }
      }
      .icon-time {
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: bottom;
        background-image: url("~@/assets/images/data/icon-time.png");
        background-size: 100% 100%;
        margin-right: 3px;
      }
      .map-logo {
        width: 12px;
        height: 12px;
        display: inline-block;
        vertical-align: middle;
        background-image: url("~@/assets/images/data/icon-map.png");
        background-size: 100% 100%;
        margin-right: 4px;
      }
    }
  }
}
</style>
