<template>
  <div :class="['result-flag', { rtl }]">
    <div
      :class="[
        'rf-icon',
        { win: type === 1, lose: type === 2, percent: type === 3 },
      ]"
    ></div>
    <div class="content DIN">{{ content || 0 }}</div>
  </div>
</template>
<script>
export default {
  props: {
    type: {
      type: Number,
      default: 0, // 1=赢；2=败；3=百分比
    },
    rtl: {
      type: Boolean,
      default: false,
    },
    content: {
      type: [Number, String],
      default: "",
    },
  },
};
</script>
<style lang="less" scoped>
.result-flag {
  display: flex;
  flex-direction: row;
  height: 16px;
  align-items: center;
  flex: 1;
  .rf-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    &.win {
        background-image: url("~@/assets/images/data/win.png");
        background-size: 100% 100%;
    }
    &.lose {
        background-image: url("~@/assets/images/data/lose.png");
        background-size: 100% 100%;
    }
    &.percent {
        background-image: url("~@/assets/images/data/percent.png");
        background-size: 100% 100%;
    }
  }
  .content {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 700;
    margin-left: 8px;
  }
  &.rtl {
    direction: rtl;
    .content {
        margin: 0 8px 0 0;
    }
  }
}
</style>
