<template>
    <div class="full-market" >
           <div class="full-fixed">
                <div class="station-box"  v-if="canStation">
                    <div class="station-order-content">
                        <div class="station-order" v-if="canStation">
                            <div class="station-switch"><i :class="stationOpen?'common-switch-open':'common-switch-close'" @click="stationSwitch"></i>{{i18n.station}}</div> 
                        </div>
                    </div>
                </div>
                <!-- 盘口列表 scrollspy-->
                <van-tabs 
                    v-if="marketRound.length > 0"
                    class="maket-tabs dj-tabs"
                    v-model="activeMenu"  
                    @click="onTabClick"
                >
                    <van-tab
                        v-for="ele in marketRound" 
                        :key="ele.key">
                        <template #title>
                            <span class="round-name">  {{ ele.value }} </span>
                        </template>
                        
                    </van-tab>
                </van-tabs>
           </div>

            <div class="fullscroll-container" ref="scrollContainer" v-if="marketRound.length">
                <div class="market-list cross-makert" :id="`marketName_${ele.key}`" v-for="ele in marketRound" :key="ele.key">
                    
                        <div  :class="['market-line', { 'round-active': activeMenu == ele.key }]"  v-show="!(stationOpen && marketRound.length == 1)">
                            <b class="words">  {{ ele.value }} </b>
                        </div>
                        <div class="anchor-info" v-if="showHost(matchs.category)">
                            <div class="anchor-head" v-if="getHostTimer(ele.key)||(picList(ele.key)&&picList(ele.key).length > 0)">
                                <div class="head-center" v-if="getHostTimer(ele.key)">
                                    {{ getHostTimer(ele.key) }}
                                </div>
                                <div class="head-right" @click="handlerPic(ele.key)"  v-if="picList(ele.key).length > 0">
                                    {{i18n.result}}
                                    <i :class="['icon', 'market-recommend', { 'active': showPic[ele.key] } ]"></i>
                                </div>
                            </div>
                            <van-swipe class="end-game-swipe" indicator-color="white" v-if="showPic[ele.key] && picList(ele.key) && picList(ele.key).length > 0">
                                <van-swipe-item v-for="(image, index) in chunkFn(picList(ele.key))" :key="index" class="end-game-list">
                                    <div class="end-game-item" 
                                        @click="bigPictureFn(picList(ele.key))"
                                        v-for="(img, index) in image"
                                        :key="index"
                                        >
                                        <img :src="`${UPLOAD_URL + img.images}`" class="end-game-image" alt=""/>
                                        <div class="end-game-text ellipsis-4">{{img.remark}}</div>
                                    </div>
                                    <div class="no-data-recommend-item" v-if="image.length!=2">
                                        <span class="icon no-data-recommend"></span>
                                        <span class="words"> {{i18n.noresult}} </span>
                                    </div>
                                </van-swipe-item>
                            </van-swipe>
                        </div>
                        
                    
                        <div v-if="!stationOpen" class="groups">
                        
                            <listItem 
                                v-show="market && (market.visible || market.option_type === 6) && matchs.visible"
                                v-for="market in ele.listShow"
                                :market="market" 
                                :matchs="matchs"
                                :key="market.market_id" 
                            />
                            <div class="more-mkt-btn" v-show="isShowMktBtn(ele)" @click="handlerMkt(ele.key)"> 
                                <i :class="[{ 'rote': showMkt[ele.key]}, 'common-arrow-down' ]"></i>
                                {{ showMkt[ele.key] ? i18n.shouqi : i18n.zhankai }}
                                <b> {{i18n.jiesuan}} </b> 
                                {{i18n.market}}
                            </div>
                    
                            <listItem 
                                v-show="market && (market.visible || market.option_type === 6) && matchs.visible"
                                v-for="market in ele.listHide"
                                :class="{'hide-item': isShowMktBtn(ele) && !showMkt[ele.key]}"
                                :market="market" 
                                :matchs="matchs"
                                :key="market.market_id" 
                            />
                        </div>

                    
                        <template v-else>


                            <div 
                                class="groups" 
                                v-show="group.listShow.length"
                                v-for="group in ele.groups" 
                                :key="group.tag">

                                
                                <listItem
                                    v-show="market && (market.visible || market.option_type === 6) && matchs.visible"
                                    v-for="(market, n) in group.listShow"
                                    :class="{ 'last-item': n == group.list.length - 1 }" 
                                    :market="market" 
                                    :matchs="matchs"
                                    :key="market.market_id" 
                                />
                                <p class="groups-tips" v-show="!Number(group.tag)"> {{  i18n.huchuan }} </p>    
                                <p class="groups-tips" v-show="Number(group.tag)">  {{  i18n.same }} </p>
                            </div>
                            
                            <div class="groups" v-if="ele.listHide.length">
                                <div class="more-mkt-btn" @click="handlerStaMkt(ele.key)"> 
                                    <i :class="[{ 'rote': showMktStation[ele.key]}, 'common-arrow-down' ]"></i>
                                    {{ showMktStation[ele.key] ? `${i18n.shouqi}` : `${i18n.zhankai}` }}  
                                    <b>  {{ i18n.jiesuan }} </b> 
                                    {{ i18n.market }}  
                                </div>
                                <listItem 
                                    v-show="markets && (markets.visible || markets.option_type === 6) && matchs.visible"
                                    v-for="(markets, n) in ele.listHide"
                                    :class="{ 'last-item': n == ele.listHide.length - 1, 'hide-item': !showMktStation[ele.key] }" 
                                    :market="markets" 
                                    :matchs="matchs"
                                    :key="markets.market_id" 
                                />
                            </div>

                        </template>
                </div>
            </div>



            <!-- 无盘口信息 -->
            <common-not-data
                v-else
                class="not-account-data"
                :title="i18n.zanwu"
                :subTitle="i18n.zanwutishi"
                backgroundImg="not-data-match"
                paddingTop="30px">
            </common-not-data>
           
           
            <van-popup v-model="descriptionShow" class="description-pop" get-container=".app"  >
                <div :class="['description-model',{'marginTop': lockVideo && AndroidOS}]">
                    <div class="pop-title">
                        <span>{{i18n.shuoming}}</span>
                        <i @click="descriptionShow=false" class="common-close-not-border"></i>
                    </div>
                    <div class="pop-content">
                        <p v-for="(des,i) in description" :key="i">
                            {{des.key}}.{{des.value}}
                        </p>
                        <br/>
                        <p> *{{ i18n.chuanguanzuhe }} </p>
                        <br/>
                        <div class="close-description" @click="descriptionShow=false">{{i18n.iknow}}</div>
                    </div>
                </div>
            </van-popup> 

            <big-picture :images="bigPictureImages" v-if="bigPictureShow" :bigPictureShow="bigPictureShow" @close="bigPictureShow=false"></big-picture>
            <!-- <div class="play-type" ref="playType" v-if="matchs && showPlayListGame.includes(String(matchs.game_id)) && (hasPlayList1 || hasPlayList2 || hasPlayList3 || hasPlayList4)">
                <div class="type-btn-1" @click="showPlayType = !showPlayType">
                    {{ i18nItem.type }}
                </div>
                <div class="type-icon"  @click="showPlayType = !showPlayType">
                    <i :class="['icon' , showPlayType ? 'common-arrow-right' : 'common-arrow-left']"></i>
                </div>
                <div class="type-list" v-show="showPlayType">
                    <div 
                        @click="changePlayType(item.val,item.name)"
                        :class="['item', { 'active': item.val == activePlay }]"
                        v-show="showPlayItem(item.val)"
                        v-for="item in playList" :key="item.val">
                        {{ item.name }}
                    </div>
                </div>
            </div> -->
    </div>

</template>            
<script>
import { mapActions, mapGetters } from 'vuex';
import lodash from "lodash";

import mixAddCart from "@/views/common/mixins/mixAddCart.js";
import mixMatchStatus from "@/views/common/mixins/mixMatchStatus.js";
import mixBetStatus from "@/views/common/mixins/mixBetStatus.js";
import commonNotData from "@/views/common/commonNotData";
import { groupingData,timetrans } from '@/assets/scripts/utils'
import listLoad from "@/views/common/listLoad"

import bigPicture from "../../bigPicture"
import listItem from "../../listItem"





// 拆分局内串关数据分成开盘盘口，和待结算已结算盘口
function solMktGroups (list) {
    list.forEach( ele => {
        ele["listHide"] = ele.list.filter( e => e.status != 6 );
        ele["listShow"] = ele.list.filter( e => e.status == 6 );
    })
    return list
};

export default {
    mixins: [ mixAddCart, mixMatchStatus, mixBetStatus],
    components:{ commonNotData, listItem, listLoad, bigPicture},
    data(){
        const { os } = this.Browser

        const AndroidOS = os === 'Android'
        return{
            UPLOAD_URL,
            activeMenu: 0,
            smallHeader: false,

            descriptionShow: false,
            description: this.$t('marketPage.stationtips'),
            marketLoading: true,

            // 只有四个游戏有玩法标签
            playGameArr:[
                "257154660915053", // 英雄联盟
                "257289795134339", // DOTA2
                "257561197207055", // 王者荣耀
                "257578064923863", // CSGO
            ],
            lockVideo: false,//锁定视频
            AndroidOS,
            bigPictureShow: false,
            descriptionShow1: false,
            bigPictureImages: [],
            // 主播盘口是否显示图片
            showPic:{
                1: true,
                2: true,
                3: true,
                4: true,
                5: true,
                6: true,
                7: true,
                8: true,
                9: true,
                10: true,
                11: true,
            },
            // 正常盘口控制待结算已结算盘口显示隐藏
            showMkt:{
                0: false,
                1: false,
                2: false,
                3: false,
                4: false,
                5: false,
                6: false,
                7: false,
                8: false,
                9: false,
                10: false,
                11: false,
                100: false,
            },

            // 局内串关控制待结算已结算盘口显示隐藏
            showMktStation:{
                0: false,
                1: false,
                2: false,
                3: false,
                4: false,
                5: false,
                6: false,
                7: false,
                8: false,
                9: false,
                10: false,
                11: false,
                100: false,
            },
         
            i18n: this.$t('marketPage.index'),
            i18nItem:  this.$t('homePage.listItem'),
            i18nA: this.$t("antDataSource"),
            showPlayType: false, // 是否显示玩法分类
            playList:[ // 玩法分类
                { val: 0, name: this.$t("homePage.listItem.common") },
                { val: 1, name: this.$t("homePage.listItem.trend") },
                { val: 2, name: this.$t("homePage.listItem.special") },
                // { val: 3, name: this.$t("homePage.listItem.mix") },
                { val: 4, name: this.$t("homePage.listItem.hoPTarlay") },
            ],
            
            showPlayListGame: [
                "257154660915053", // 英雄联盟
                "257289795134339", // DOTA2
                "257561197207055", // 王者荣耀
                "257578064923863", // CSGO
                // "257697372071315", // 篮球
                // "21363218739142692", // 激斗峡谷
            ],
        }
    },

   



    computed:{
        ...mapGetters([
            "matchs", 
            "marketList", 
            "stationOpen" ,
            "stationList", 
            "betCart", 
            "anchorInfo", 
            "showHostTips", 
            "activePlay", 
            "isFullscreen"
        ]),

        // 是否又热门玩法        
        hasPlayList1(){
            let arr = this.marketList.filter( ele => ele.detail_type == 1);
            return arr.length > 0
        },

        // 是否又特殊玩法        
        hasPlayList2(){
            let arr = this.marketList.filter( ele => ele.detail_type == 2);
            return arr.length > 0
        },

        // 是否又复合玩法       
        hasPlayList3(){
            let arr = this.marketList.filter( ele => ele.detail_type == 3);
            return arr.length > 0
        },

        // 是否又复热门局内串关     
        hasPlayList4(){
            let arr = this.marketList.filter( ele => ele.detail_type == 4);
            return arr.length > 0
        },

        // 组装数据第几局 [];
        marketRound(){
            console.log( this.marketList )
            if( this.marketList.length > 0 ){ 
                let newArr = lodash.cloneDeep(this.roundList);
                let marketList = lodash.cloneDeep(this.marketList);
                // const isMTS = ['258337013509741','257733146228414'].includes(this.matchs.game_id);
                //筛选合法盘口status = 6: 盘口开盘, status = 9:已经结算, status = 7:已关盘, status = 8:待结算, status = 10:赛果驳回;
                const showArr = [6, 9, 7, 8, 10]; 


                // detail_type 详情页玩法分类 0-普通玩法,1-热门玩法,2-特别玩法,3-复合玩法
                if( this.activePlay  ){ // 复合玩法
                    marketList = marketList.filter( ele => ele.detail_type == this.activePlay );
                }

                if(this.stationOpen){
                    // 全场, 上半场不可以形成串关
                    newArr = newArr.filter( ele =>  ![ 0, 100 ].includes(ele.key) );
                    // 局内串关筛选出盘口能串关的数据
                    marketList = marketList.filter( ele => ele.is_pass_off == 2 );
                }




                // 局内串关，过滤掉全局盘口 && this.playGameArr.includes(this.matchs.game_id)
                if(this.stationOpen){
                    marketList = marketList.filter( ele => ele.option_type != 12 && ele.option_type != 23  ); // 复合玩法不参与局内串关
                    // 盘口排序
                    marketList.sort((a, b) => {
                        const splitNameA = Number(a.odds[0].name.split(">")[1]);
                        const splitNameB = Number(b.odds[0].name.split(">")[1]);
                        const splitTypeA = Number(a.odds[0].name.split("+")[1]) || -Number(a.odds[0].name.split("-")[1]);
                        const splitTypeB = Number(b.odds[0].name.split("+")[1]) || -Number(b.odds[0].name.split("-")[1]);
                        let statusSort = a.status - b.status;
                        // 已结算位于本局最后，所有stauts:6, 7, 8, 10, 9
                        if(a.status == 9 && b.status == 10){
                            statusSort = 1;
                        }
                        if(a.status == 10 && b.status == 9){
                            statusSort = -1;
                        }
                        return a.round - b.round || statusSort || a.tag_code - b.tag_code || a.sort_code - b.sort_code|| Number(a.odd_type_id) - Number(b.odd_type_id) || splitNameA - splitNameB || splitTypeA - splitTypeB;
                    });
                }else{
                    // 盘口排序
                    marketList.sort((a, b) => {
                        const splitNameA = Number(a.odds[0].name.split(">")[1]);
                        const splitNameB = Number(b.odds[0].name.split(">")[1]);
                        const splitTypeA = Number(a.odds[0].name.split("+")[1]) || -Number(a.odds[0].name.split("-")[1]);
                        const splitTypeB = Number(b.odds[0].name.split("+")[1]) || -Number(b.odds[0].name.split("-")[1]);
                        let optionTypeSort = 0
                        // 复合玩法位于本局最后
                        if(a.option_type == 12 && b.option_type != 12){
                            optionTypeSort = 1;
                        }
                        if(a.option_type != 12 && b.option_type == 12){
                            optionTypeSort = -1;
                        }
                        let statusSort = a.status - b.status;
                        // 已结算位于本局最后，所有stauts:6, 7, 8, 10, 9
                        if(a.status == 9 && b.status == 10){
                            statusSort = 1;
                        }
                        if(a.status == 10 && b.status == 9){
                            statusSort = -1;
                        }
                        return a.round - b.round || statusSort || optionTypeSort || a.comp_sub_num - b.comp_sub_num || a.sort_code - b.sort_code || Number(a.odd_type_id) - Number(b.odd_type_id) || splitNameA - splitNameB || splitTypeA - splitTypeB;
                    })
                }

                newArr.forEach( item => {
                    // 胜负平的盘口特殊处理，当visible为0时也显示： option_type = 6为胜负平的盘口
                    const list = marketList.filter( ele =>
                        ele.round == item.key && ele.visible != 0
                    );
                    const groupSplice = groupingData(list, 'tag');
                    const isOpen = list.some( ele => ele.status == 6 );

                    this.$set( item, "list", list );
                    this.$set( item, "listShow", list.filter( e => e.status == 6 ) ); // 正常盘口
                    this.$set( item, "listHide", list.filter( e => e.status != 6 ) ); // 待结算已结算盘口
                    this.$set( item, "groups", solMktGroups(groupSplice) );
                    this.$set( item, 'isOpen', isOpen ? 0 : 1 );
                });

                let arr = newArr.filter( ele => ele.list.length > 0 );
                //局数排序
                arr.sort((a,b) => {
                    return a.isOpen - b.isOpen
                })
                return arr
            }else{
                return []
            }
        },
        stationID(){
            let arr = [];
            for( let key in this.stationList ){
                arr = [
                    ...arr,
                    ...this.stationList[key].list
                ]
            };
            return arr.map( ele => ele.item_id );
        },
        
        // 是否可以局内串关
        canStation(){
            const matchs = this.matchs;
            return matchs && matchs.is_pass_off==2 && matchs.visible==1 && matchs.status ==5
        },




    },

    methods:{
        timetrans,

        ...mapActions(["fetchAnchorInfo",]),


      
        // 背景图片
        h5sec(){
            const img = global.GameImages[this.matchs.game_id];
            return UPLOAD_URL + (img ? img.h5_sec : "")
        },
 
        onTabClick: lodash.throttle(function(computedName) {
            this.activeMenu = computedName;
        
            console.log( `#marketName_${computedName}`, this.$refs.scrollContainer )
            this.$scrollTo(`#marketName_${computedName}`, {
                container: this.$refs.scrollContainer,
            })

            // this.$scrollTo(dom, 0, {
            //     force: true,
            //     cancelable: true,
            //     // x: true,
            //     // y: false,
            // })
        }, 300),
        
        //切换局内
        stationSwitch:lodash.throttle(function() {
            // 局内串关开关点击次数统计
            // this.$store.commit("SET_TRACK", { tab: 20, page: 2 });
            this.$store.commit("SET_STATION_DELL");
            this.$store.commit("SET_STATION_STATUS", !this.stationOpen);

            if (this.stationOpen){
                if(Object.keys(this.stationList).length>0){
                    this.$store.commit("SET_BETCART_TYPE", "stationOrder" )
                }
                this.$toast({
                    message: this.i18n.openStation,
                    duration: 2000,
                    customClass: 'bet-status-tips',
                    getContainer: () => this.isFullscreen ? document.querySelector('#full') : ''
                });

                setTimeout(()=>{
                    // 2s之后手动关闭
                    this.$toast.clear()
                }, 2000)
            }else{
                if( this.betCart.length > 0 ){
                    this.$store.commit("SET_BETCART_TYPE", "betOrder" )
                }
            }
        }, 300),


        //主播盘信息
        getAnchorInfo(matchID){
            this.fetchAnchorInfo({ids: matchID})
        },

        getAnchorDetail(key){
            const obj = this.anchorInfo.find( ele => ele.round == key );
            return obj || {};
        },

        // 主播盘每局时间
        getHostTimer(key){
            const timeNum = Number(this.getAnchorDetail(key).start_time);
            if(timeNum){
                const time = timetrans(timeNum)
                return time.y + time.d
            }else{
                return ""
            }
        },

        chunkFn(val){
            return lodash.chunk(val,2)
        },

        picList(key){
            const anchorInfo = lodash.cloneDeep(this.anchorInfo);
            let pic = (anchorInfo.find( ele => ele.round == key ) || {}).images;
            (pic || []).sort( (a, b) => {
                return a.sort_code - b.sort_code
            })
            return pic
        },

        bigPictureFn(obj){
            this.bigPictureImages = obj
            this.bigPictureShow = true
        },

         // 图片显示隐藏
        handlerPic(key){
            this.showPic[key] = !this.showPic[key];
        },

        // 待结算/已结算 显示隐藏
        handlerMkt(key){
            this.showMkt[key] = !this.showMkt[key];
        },

        handlerStaMkt(key){
            const isShow =  this.showMktStation[key]
            this.$set(this.showMktStation, key, !isShow )
        },

        // 判断是否显示查看待结算已结算按钮
        isShowMktBtn(ele){
            const { listShow, listHide } = ele;
            return listShow.length > 0 && listHide.length > 0;
        },


        changePlayType(type,name){
            this.$store.commit("SET_ACTIVE_PLAY", type)
        },

        // 是否显示玩法分类项
        showPlayItem(val){
            if( val == 1 ){
                return this.hasPlayList1
            }
            if( val == 2 ){
                return this.hasPlayList2
            }
            if( val == 3 ){
                return this.hasPlayList3
            }
            if( val == 4 ){
                return this.hasPlayList4
            }
            return true
        },

    },



}
</script>

<style lang="less" >
.full-market{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .fullscroll-container{
        flex: 1;
        overflow: auto;
    }
    .play-type{
        z-index: 111;
    }
    .full-fixed{
        // position: fixed;
        // width: 375px;
        // top: 0;
        // right: 48px;
        // z-index: 111;
        background-color: #141414;
    }
}
</style>