<template>
    <div class="station-full">
        <div class="station-box"  v-if="canStation">
            <div class="station-order-content">
                <div class="station-order" v-if="canStation">
                    <div class="station-switch"><i :class="stationOpen?'common-switch-open':'common-switch-close'" @click="stationSwitch"></i>{{i18n.station}}</div> 
                </div>
            </div>
        </div>
        <van-tabs 
            class="dj-tabs round-tabs"
            v-model="activeMenu"
            @click="onTabClick"
            v-if="matchs.visible == 1"
        >
            <van-tab
                v-for="ele in roundListNew"
                :name="ele.key"
                :key="ele.key"
            >
                <template #title>
                    <span class="round-name">  {{ ele.value }} </span>
                </template>
            </van-tab>
        </van-tabs>
        <div class="line"></div>
        <template v-if="!marketLoading">
                
            <template v-if="marketRoundNew.list.length && matchs.visible == 1">
                
                    
                        <!-- 盘口第几局 -->
                        <div  :class="['market-line', { 'round-active': activeMenu == marketRoundNew.key }]" >
                            <b class="words">  {{ marketRoundNew.value }} </b>
                        </div>
                        <div class="anchor-info" v-if="showHost(matchs.category)">
                            <div class="anchor-head" v-if="getHostTimer(marketRoundNew.key)||(picList(marketRoundNew.key)&&picList(marketRoundNew.key).length > 0)">
                                <div class="head-center" v-if="getHostTimer(marketRoundNew.key)">
                                    {{ getHostTimer(marketRoundNew.key) }}
                                </div>
                                <div class="head-right" @click="handlerPic(marketRoundNew.key)"  v-if="picList(marketRoundNew.key).length > 0">
                                    {{i18n.result}}
                                    <i :class="['icon', 'market-recommend', { 'active': showPic[marketRoundNew.key] } ]"></i>
                                </div>
                            </div>
                            <van-swipe class="end-game-swipe" indicator-color="white" v-if="showPic[marketRoundNew.key] && picList(marketRoundNew.key) && picList(marketRoundNew.key).length > 0">
                                <van-swipe-item v-for="(image, index) in chunkFn(picList(marketRoundNew.key))" :key="index" class="end-game-list">
                                    <div class="end-game-item" 
                                        @click="bigPictureFn(picList(marketRoundNew.key))"
                                        v-for="(img, index) in image"
                                        :key="index"
                                        >
                                        <img :src="`${UPLOAD_URL + img.images}`" class="end-game-image" alt=""/>
                                        <div class="end-game-text ellipsis-4">{{img.remark}}</div>
                                    </div>
                                    <div class="no-data-recommend-item" v-if="image.length!=2">
                                        <span class="icon no-data-recommend"></span>
                                        <span class="words"> {{i18n.noresult}} </span>
                                    </div>
                                </van-swipe-item>
                            </van-swipe>
                        </div>
                        
                        <!-- 盘口列表 -->
                        <template v-if="!stationOpen">
                            <virtual-list class="list-page scroll-touch" ref="vsl"
                                :data-key="'id'"
                                :data-sources="marketSources"
                                :data-component="normalItem"
                                :keeps="20"
                                :item-class="'list-item-page'"
                                :page-mode="false"

                                :extra-props="{
                                    marketRoundNew,
                                    matchs
                                }"
                            >
                               
                            </virtual-list>
                        </template>

                        <!-- 串关列表 -->
                        <template v-else>

                            <virtual-list class="list-page scroll-touch" ref="vsl"
                                :data-key="'id'"
                                :data-sources="marketSourceStation"
                                :data-component="stationItem"
                                :keeps="20"
                                :item-class="'list-item-page'"
                                :page-mode="false"
                               
                                :extra-props="{
                                    marketRoundNew,
                                    matchs
                                }"
                            />
                            

                        </template>
            
            </template>
            
            <!-- 无盘口信息 -->
            <common-not-data
                v-else
                class="not-account-data"
                :title="i18n.zanwu"
                :subTitle="i18n.zanwutishi"
                backgroundImg="not-data-match"
                paddingTop="30px">
            </common-not-data>
            <div :class="['load-more', { 'has-cart': showCart }]">
                <div 
                    class="more-bg" 
                    @click="onTabClick(nextRound.key)">
                    {{ nextRound.name }}
                </div>
            </div>
        </template>
        <list-load class="market-loading" v-else/>


        <big-picture :images="bigPictureImages" v-if="bigPictureShow" :bigPictureShow="bigPictureShow" @close="bigPictureShow=false"></big-picture>
            
    </div>
</template>
<script>

import lodash from "lodash";


import VirtualList from 'vue-virtual-scroll-list';
import normalItem from "@/views/markets/marketList/normalItem.vue"
import stationItem from "@/views/markets/marketList/stationItem.vue"

import { mapGetters } from 'vuex';
import mixAddCart from "@/views/common/mixins/mixAddCart.js";
import mixMatchStatus from "@/views/common/mixins/mixMatchStatus.js";
import mixBetStatus from "@/views/common/mixins/mixBetStatus.js";
import commonNotData from "@/views/common/commonNotData";
import { groupingData, formatOptionType } from '@/assets/scripts/utils'
import listLoad from "@/views/common/listLoad"
import bigPicture from "@/views/markets/bigPicture"
import listItem from "@/views/markets/listItem"


// 拆分局内串关数据分成开盘盘口，和待结算已结算盘口
function solMktGroups (list) {
    list.forEach( ele => {
        ele["listHide"] = ele.list.filter( e => e.status != 6 );
        ele["listShow"] = ele.list.filter( e => e.status == 6 );
    })
    return list
};

export default {
    mixins: [ mixAddCart, mixMatchStatus, mixBetStatus],
    components:{
        VirtualList, commonNotData, listItem, listLoad, bigPicture
    },
    data(){
        return {
            normalItem: normalItem,
            stationItem: stationItem,

            UPLOAD_URL,
            activeMenu: 0,
            smallHeader: false,

            marketLoading: true,

     
            lockVideo: false,//锁定视频

            bigPictureShow: false,

            bigPictureImages: [],
            // 主播盘口是否显示图片
            showPic:{
                1: true,
                2: true,
                3: true,
                4: true,
                5: true,
                6: true,
                7: true,
                8: true,
                9: true,
                10: true,
                11: true,
            },
            // 正常盘口控制待结算已结算盘口显示隐藏
            showMkt:{
                0: false,
                1: false,
                2: false,
                3: false,
                4: false,
                5: false,
                6: false,
                7: false,
                8: false,
                9: false,
                10: false,
                11: false,
                100: false,
            },

            // 局内串关控制待结算已结算盘口显示隐藏
            showMktStation:{
                0: false,
                1: false,
                2: false,
                3: false,
                4: false,
                5: false,
                6: false,
                7: false,
                8: false,
                9: false,
                10: false,
                11: false,
                100: false,
            },

            i18n: this.$t('marketPage.index'),
        }
    },
    computed:{
        ...mapGetters(["matchs", "marketList", "betItemId", "stationOpen" ,"stationList", "betCart",  "activePlay", "gameList", "matchTimer"]),

        showCart(){
            return this.betCart.length || Object.keys(this.stationList).length
        },
        roundListNew(){
            const { visible, category } = this.matchs;
            if( visible == 0 ){
                return []
            };
            if( category == 4 ){
                return this.basketball;
            }
            if( category == 6 ){
                return this.football
            }
            let bo = this.matchs ? Number(this.matchs.bo || 0) : 0 ;
            bo === 0 && (bo = 9) // BO0的赛制默认显示9局。与BO9显示一样
            const round = this.round.filter(ele => {
                // 添加排序规则，并且赛事正在进行中，当前局之前除了全局全部排在后面
                if( this.matchs.is_live == 2 && this.matchs.status == 5 ){
                    const curRound = Number(this.matchTimer[this.matchs.id].round)
                    ele['sordEnd'] =  ele.key < curRound && ele.key != 0 ? -1 : 1;
                }else{
                    ele['sordEnd'] = 0;
                }
                // 隐藏全局： 主播盘和局内串关
                if( category == 5 || this.stationOpen ){ 
                    return ele.key <= bo && ele.key != 0 // 主播盘无全局
                }else{
                    return ele.key <= bo
                }
            });
            // 局数排序，当前局之前得都排序到最后；
            round.sort( (a,b) => {
                return b.sordEnd - a.sordEnd;
            });
            return round
        },
        // 盘口按局加载
        marketRoundNew(){
            if( this.marketList.length > 0 ){ 
                let obj = {
                    ...this.roundListNew.find( ele => ele.key == this.activeMenu),
                    list:[],
                    listShow:[],
                    listHide:[],
                    groups:[]
                };
                let marketList = lodash.cloneDeep(this.marketList);
            
                // 详情页玩法分类 detail_type  0-普通玩法,1-热门玩法,2-特别玩法,3-复合玩法
                if( this.activePlay  ){ 
                    marketList = marketList.filter( 
                        ele => ele.detail_type == this.activePlay 
                    );
                }
                       
                // 局内串关，过滤掉全局盘口 
                if(this.stationOpen){
                    marketList = marketList.filter( ele => 
                        ele.is_pass_off == 2            // 可以行成串关得盘口
                        && ele.option_type != 12        // 普通复合玩法不可以形成串关
                        && ele.option_type != 23        // 局内复合玩法不可以形成串关
                        && ele.round != 0               // 全场不可以形成串关
                        && ele.round != 100             // 全场不可以形成串关
                    ); // 复合玩法不参与局内串关
                   
                    // 盘口排序
                    marketList.sort((a, b) => {
                        const splitNameA = Number(a.odds[0].name.split(">")[1]);
                        const splitNameB = Number(b.odds[0].name.split(">")[1]);
                        const splitTypeA = Number(a.odds[0].name.split("+")[1]) || -Number(a.odds[0].name.split("-")[1]);
                        const splitTypeB = Number(b.odds[0].name.split("+")[1]) || -Number(b.odds[0].name.split("-")[1]);
                        let statusSort = a.status - b.status;
                        // 已结算位于本局最后，所有stauts:6, 7, 8, 10, 9
                        if(a.status == 9 && b.status == 10){
                            statusSort = 1;
                        }
                        if(a.status == 10 && b.status == 9){
                            statusSort = -1;
                        }
                        return (
                            a.round - b.round 
                            || statusSort 
                            || a.tag_code - b.tag_code 
                            || a.sort_code - b.sort_code
                            || Number(a.odd_type_id) - Number(b.odd_type_id) 
                            || splitNameA - splitNameB 
                            || splitTypeA - splitTypeB
                        );
                    });
                }else{
                    // 盘口排序
                    marketList.sort((a, b) => {
                        const splitNameA = Number(a.odds[0].name.split(">")[1]);
                        const splitNameB = Number(b.odds[0].name.split(">")[1]);
                        const splitTypeA = Number(a.odds[0].name.split("+")[1]) || -Number(a.odds[0].name.split("-")[1]);
                        const splitTypeB = Number(b.odds[0].name.split("+")[1]) || -Number(b.odds[0].name.split("-")[1]);
                        let optionTypeSort = 0
                        // 复合玩法位于本局最后
                        if(a.option_type == 12 && b.option_type != 12){
                            optionTypeSort = 1;
                        }
                        if(a.option_type != 12 && b.option_type == 12){
                            optionTypeSort = -1;
                        }
                        let statusSort = a.status - b.status;
                        // 已结算位于本局最后，所有stauts:6, 7, 8, 10, 9
                        if(a.status == 9 && b.status == 10){
                            statusSort = 1;
                        }
                        if(a.status == 10 && b.status == 9){
                            statusSort = -1;
                        }
                        return (
                            a.round - b.round 
                            || statusSort 
                            || optionTypeSort 
                            || a.comp_sub_num - b.comp_sub_num 
                            || a.sort_code - b.sort_code 
                            || Number(a.odd_type_id) - Number(b.odd_type_id) 
                            || splitNameA - splitNameB 
                            || splitTypeA - splitTypeB
                        );
                    })
                }


                const groupSplice = groupingData(marketList, 'tag');
                obj.list = marketList;
                obj.listShow = marketList.filter( e => e.status == 6 );
                obj.listHide = marketList.filter( e => e.status != 6 );
                obj.groups = solMktGroups(groupSplice);
                obj.listShow = formatOptionType(obj.listShow)
                obj.listHide = formatOptionType(obj.listHide)
                return obj
            }else{
                return []
            }
        },
        nextRound(){
            const curRound = this.activeMenu;
            const obj = {
                key:0,
                name: ""
            };
            const round = this.roundListNew;
            if( round.length == 0 ){
                return obj
            }
            if( round[round.length-1].key == curRound ){ // 最后一局
                obj.key = round[0].key;
            }else{
                const $index = round.findIndex( ele => ele.key ==  curRound)
                obj.key = round[$index + 1].key;
            }
            if( matchs.category == 4 || matchs.category == 6 ){
                obj.name =  this.i18n[`toNext${obj.key}`]
            }else{
                obj.name =  this.i18n[`nextRound${obj.key}`]
            }
            // obj.name =  this.i18n[`nextRound${obj.key}`]
            return obj;
        },

        // 虚拟列表数据组装
        marketSources(){
            let arr = [];
            const obj = this.marketRoundNew;

            arr = [
                ...obj.listShow,
                { id:"more-mkt-btn", status: "888" },
                ...obj.listHide
            ]
            return arr
        },

        marketSourceStation(){
            let arr = [];
            const obj = this.marketRoundNew;

            obj.groups.forEach( ele => {
                if( ele.listShow.length != 0 ){
                    ele.listShow = formatOptionType(ele.listShow)
                    arr = [
                        ...arr,
                        ...ele.listShow,
                        { id: "groups-tips", status: "999", tag: ele.tag }
                    ]
                }
            })
            
            obj.listHide = formatOptionType(obj.listHide)
            arr = [
                ...arr,
                { id:"more-mkt-btn", status: "888" },
                ...obj.listHide
            ]
            return arr
        },
        // 是否可以局内串关
        canStation(){
            const matchs = this.matchs;
            return matchs && matchs.is_pass_off==2 && matchs.visible==1 && matchs.status ==5
        },
    },
    created() {
        this.getMarketList(this.activeMenu);
        this.$bus.$on("updateMktList", () => {
            console.log("MQTT通知成功组件按局加载")
            this.getMarketList(this.activeMenu, true);
        });
        // 切换浏览器标签 通知更新赛事盘口列表
        this.$bus.$on("locationChange", () => {
            this.getMarketList(this.activeMenu, true);
        });

    },

    methods: {
        // 获取赛事盘口详情
        getMarketList(stage_id, type){
      
            const matchID = this.$route.params.id;
            if( !type ){
                this.$store.commit("SET_MARKES_LIST", []);
                this.marketLoading = true;
            }
            this.$store.dispatch("fetchMarketList", {
                match_id: matchID,
                stage_id: stage_id, 
            }).then( res => {
                this.marketLoading = false;
            });
        },
        onTabClick: lodash.throttle(function(computedName) {
            console.log( computedName )
            if(this.matchs.status === 7){
                // 赛果局数切换
                // this.$store.commit("SET_TRACK", { tab: 26, page: 3 });
            }else{
                // 赛事局数切换
                // this.$store.commit("SET_TRACK", { tab: 19, page: 2 });
            }
            this.$store.commit("SET_ACTIVE_PLAY", 0);
            this.activeMenu = computedName;
            this.getMarketList(this.activeMenu);
            // this.tmp && clearTimeout(this.tmp)
            // this.tmp = setTimeout(() => {
            //     if (computedName !== this.activeMenu) {
            //         this.activeMenu = computedName
            //     }
            // }, 380)
        }, 300),
        //切换局内
        stationSwitch:lodash.throttle(function() {
            // 局内串关开关点击次数统计
            // this.$store.commit("SET_TRACK", { tab: 20, page: 2 });
            this.$store.commit("SET_STATION_DELL");
            this.$store.commit("SET_STATION_STATUS", !this.stationOpen);
            // 获取游戏类型
            const gameTpye = this.gameList.filter(item => item.id == this.matchs.game_id)[0].name
            if (this.stationOpen){
                if(Object.keys(this.stationList).length>0){
                    this.$store.commit("SET_BETCART_TYPE", "stationOrder" )
                }
                this.$toast({
                    message: this.i18n.openStation,
                    duration: 2000,
                    customClass: 'bet-status-tips',
                });

                setTimeout(()=>{
                    // 2s之后手动关闭
                    this.$toast.clear()
                }, 2000)
            }else{
                if( this.betCart.length > 0 ){
                    this.$store.commit("SET_BETCART_TYPE", "betOrder" )
                }
            }
            if( this.activeMenu == 0 ){ // 全局切换到当前局   注意：合并全屏投注代码。有冲突用这段
                const liveTimeObj = this.matchTimer[this.matchs.id];
                // 非滚球，无matchTimer 赛事时间，开启局内串关，直接显示第一局；
                if( liveTimeObj ){
                    this.activeMenu = String(liveTimeObj.round)
                }else{
                    this.activeMenu = "1";
                }
                this.getMarketList(this.activeMenu);
            }
        }, 300),

        chunkFn(val){
            return lodash.chunk(val,2)
        },

        picList(key){
            const anchorInfo = lodash.cloneDeep(this.anchorInfo);
            let pic = (anchorInfo.find( ele => ele.round == key ) || {}).images;
            (pic || []).sort( (a, b) => {
                return a.sort_code - b.sort_code
            })
            return pic
        },

        bigPictureFn(obj){
            this.trackPic();
            this.bigPictureImages = obj
            this.bigPictureShow = true
        },

         // 图片显示隐藏
        handlerPic(key){
            this.trackPic();
            this.showPic[key] = !this.showPic[key];
        },
    },
    beforeDestroy(){
        this.$bus.$off('locationChange');
        this.$bus.$off('updateMktList');
    },
    
}
</script>

<style lang="less" >
@import url("~@/assets/less/market.less");
</style>