<template>
    <div class="list-match match-champion" v-if="allItemVisible">
        <!-- 标题 -->
        <div class="champion-title">
            <div class="title-tour">
                <span class="game-logo">  
                    <span :class="['logo', 'game-logo-sprite' , logoCls(match.game_id) ]" > </span>
                </span>
                <span class="tour-words"> 
                    {{ match.tournament_name }}
                </span>
            </div>
            <div class="title-time">
                {{ i18n.jiezhi }}：
                {{ timetrans(match.close_time).y }}
                {{ timetrans(match.close_time).d }}
            </div>
        </div>
        <!-- 盘口-->
        <div 
            class="market-item"
            v-for="market in match.ms"
            v-show="[6, 9, 12].includes(Number(mqMarket[market.id].status)) && mqMarket[market.id].visible"
            :key="market.id"
        >
            <div class="market-name">
                <span class="line"></span>
                <span class="name">{{ market.name }}</span>
            </div>
            <div 
                :class="[
                    'item-odds-content', 
                    { 'odds-more' : showMore[market.id] && showMore[market.id].open}
                ]">
                <div 
                    :class="['odds-content', { 'content-row':  !layoutLine.includes(Number(market.option_type))}]" 
                    v-for="(item, m) in market.odds"
                    :key="m">
                  
                    <div class="bet-content-line" v-if="layoutLine.includes(Number(market.option_type))">
                        <div class="content-logo" v-if="showLogoType.includes(Number(market.option_type))">
                            <TeamImage :url="global.TeamImages[item.team_id]" />
                        </div>
                        <div class="content-name">
                            {{ getTeams(match, item) }}
                        </div>
                        <!-- 盘口已结算 -->
                        <div class="content-end" v-if="mqMarket[market.id].status == 9">
                            <i v-show="mqOdds[item.id].is_winner == 0" class="winner-icon market-failure"></i>
                            <i v-show="mqOdds[item.id].is_winner == 1" class="winner-icon market-win"></i>
                            <i v-show="mqOdds[item.id].is_winner == 2" class="winner-icon market-win-half"></i>
                            <i v-show="mqOdds[item.id].is_winner == 3" class="winner-icon market-failure-half"></i>
                            <i v-show="mqOdds[item.id].is_winner == 4" class="winner-icon market-water"></i>
                        </div>
                        <!-- 盘口已取消 -->
                        <div class="content-end" v-else-if="mqMarket[market.id].status == 12">
                        
                        </div>
                        <div class="content-normal" v-else>
                            <BetItem
                                position="right"
                                :info="{
                                    matchid: match.id,
                                    marketid: market.id,
                                    itemid: item.id
                                }"
                            >
                            </BetItem>
                        </div>
                    </div>
              
                    <!-- 盘口未结算 -->
                    <div class="bet-content-row" v-else>
                        <div :class="['content-end', m % 2 == 0 ? 'left' : 'right']" v-if="mqMarket[market.id].status == 9">
                            <span class="end-name" v-html="oddName(getTeams(match, item), market )">
                            </span>
                            <span class="end-icon">
                                <i v-if="item.is_winner == 1" class="winner-icon market-win"> </i>
                                <i v-else class="winner-icon market-failure">  </i>
                            </span>
                        </div>
                        <BetItem
                            v-else
                            :position="m % 2 == 0 ? 'left' : 'right'"
                            :info="{
                                matchid: match.id,
                                marketid: market.id,
                                itemid: item.id
                            }"
                        >   
                            <template #itemName>
                                <div class="item-name-box" v-html="oddName(getTeams(match, item), market )"></div>
                            </template>
                        </BetItem>
                    </div>
                </div>
            </div>
            <div
                @click="changeMore(market.id)"
                class="item-more" 
                v-show="showMoreBtn(market.odds)">
                <span class="more-words"> {{ showMore[market.id] && showMore[market.id].open ? i18n.dianjishouqi: i18n.chakangengduo }}  </span> 
                <i :class="['more-icon', showMore[market.id] && showMore[market.id].open ? 'common-pick-up': 'common-pick-down']">  </i>
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters } from "vuex";
import BetItem from "@/views/common/BetItem.vue";
import { timetrans } from "@/assets/scripts/utils";
import mixBetStatus from "@/views/common/mixins/mixBetStatus.js";
import lodash from "lodash"
export default {
    name:"match-champion",
    mixins:[ mixBetStatus ],

    components: { 
        BetItem,
    },
    props:{
        matchObj:{   
            type: Object,
            default: {}
        },
        scrollElement:{
            type: HTMLElement 
        }
    },
    data(){
        return {
            showLogoType: [10, 11],
            layoutLine:[10, 11, 4],
            showMore:{},
            global,
            i18n: this.$t('homePage.listItem'),
        }
    },
    watch:{
        match: {
            handler(v, ov) {
                v.ms.forEach(element => {
                    if( element.odds.length > 8 ){
                       const hasKey = this.showMore.hasOwnProperty(element.id);
                       if( !hasKey ){
                           this.$set(this.showMore, element.id, {
                               open: false,
                               top: 0
                           })
                       }
                    } 
                });
            },
            immediate: true,
            deep: true
        }
    },
    computed: {
        ...mapGetters([
            "images",
            "matchTeams",
            "mqMatch",
            "mqMarket",
            "mqOdds"
        ]),
        match(){
            const match = lodash.cloneDeep(this.matchObj);
            match.ms.sort((a, b) => {
                const splitNameA = Number(a.odds[0].name.split(">")[1]);
                const splitNameB = Number(b.odds[0].name.split(">")[1]);
                const splitTypeA = Number(a.odds[0].name.split("+")[1]) || -Number(a.odds[0].name.split("-")[1]);
                const splitTypeB = Number(b.odds[0].name.split("+")[1]) || -Number(b.odds[0].name.split("-")[1]);
                return a.status - b.status || a.sort_code - b.sort_code || Number(a.odd_type_id) - Number(b.odd_type_id) || splitNameA - splitNameB || splitTypeA - splitTypeB;
            });
            match.ms.forEach( (ele, i) => {
                // 盘口开盘的赛事
                if( ele.status == 6 ){
                    ele.odds = ele.odds.filter( item => item.visible == 1 );
                    const allOddsVisible = ele.odds.every( item => item.visible == 0 );
                    match.ms[i]["allOddsVisible"] = allOddsVisible;
                }
            });
            // 赛事状态：5 开盘中 显示盘口状态 6: 已开盘； 9: 已结算
            if( match.status == 5 ){
                match.ms = match.ms.filter( ele =>  ele.visible && [6, 9].includes(Number(ele.status)) && !ele.allOddsVisible );
            }else{
                match.ms = match.ms.filter( ele =>  ele.visible && [9].includes(Number(ele.status)));
            }
            return match;
        },

        allItemVisible(){
            if( this.matchObj.status == 5 ){
                const itemVisible = this.matchObj.ms.every( item => item && item.visible == 0 );
                const itemStatus = this.matchObj.ms.filter( item => item && [6, 9].includes(Number(item.status)));
                return !itemVisible && itemStatus.length > 0;
            }else{
                const itemStatus = this.matchObj.ms.filter( item => item && item.visible && [9].includes(Number(item.status)));
                return itemStatus.length > 0
            }
        }
    },
    methods: {
        timetrans,
        showMoreBtn(odds){
            return odds.length > 8;
        },
        changeMore(id){
            const nowVal = this.showMore[id];
            const dom = this.scrollElement;
            if( nowVal.open ){
                dom.scrollTop = nowVal.top;
                this.$set(this.showMore[id], "top", 0)
            }else{
                this.$set(this.showMore[id],"top", dom.scrollTop)
            }
            this.$set(this.showMore[id],"open", !nowVal.open)
        },
        oddName (value, market){
            if( market.option_type == 2  && value){
                const arr1 = value.split(" -");
                const arr2 = value.split(" +");
                if( arr1.length == 2 ){
                    return `<p class="ellipsis"> ${arr1[0]} </p> <p> -${arr1[1]} </p>`
                }
                if( arr2.length == 2 ){
                    return `<p class="ellipsis"> ${arr2[0]} </p> <p> +${arr2[1]} </p>`
                }
            }else{
                return value
            }
        },
    }
};
</script>
<style lang="less" >
.match-champion{
    .list-match{
        margin-bottom: 12px;
    }
    .champion-title{
        width: 100%;
        padding: 0 12px;
        margin-top: 12px;
        .title-tour{
            display: flex;
            align-items: center;
            justify-content: center;
            .tour-words{
                font-size: 14px;
                color: #FFFFFF;
            }
            .game-logo {
                width: 20px;
                height: 20px;
                margin-right: 4px;
                .logo{
                    display: block;
                    width: 120px;
                    height: 120px;
                    transform-origin: 0 0;
                    transform: scale(20/120);
                }
            }
        }
        .title-time{
            font-size: 12px;
            color: rgba(255, 255, 255, 0.6);
            text-align: center;
            margin-top: 2px;
        }
    }
    .market-item{
        width: 100%;
        margin-top: 8px;
        background: rgba(0,0,0,0.20);
        border-radius: 8px;
        border: 1px solid hsla(0, 0%, 100%, 0.1);
        .market-name{
            width: 100%;
            height: 41px;
            display: flex;
            align-items: center;
            padding: 0 12px;
            border-bottom: 1px solid  rgba(216, 216, 216, 0.1);
            .line{
                width: 2px;
                height: 10px;
                background: #E7BB02;
                border-radius: 5px;
                margin-right: 6px;
            }
            .name{
                font-size: 12px;
                color: #FFFFFF;
            }
        }  
        .item-odds-content{
            max-height: 346px;
            overflow: hidden;
            padding-bottom: 12px;
            display: flex;
            flex-wrap: wrap;
            &.odds-more{
                max-height: 10000px;
            }
            .odds-content{
                width: 100%;
                height: 32px;
                margin-top: 10px;
            }
            .content-row{
                width: 50%;
                height: 32px;
                &:nth-child(odd){
                    padding: 0 10px 0 12px;
                }
                &:nth-child(even){
                    padding: 0 12px 0 10px;
                }
            }
            .bet-content-line{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 0 12px;
                .BetItem-box{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                }
                .content-logo{
                    width: 30px;
                    height: 30px;
                    margin-right: 8px;
                }
                .content-name{
                    flex: 1;
                    font-size: 12px;
                    color: rgba(255, 255, 255, 0.8);
                    margin-right: 8px;

                    word-break: break-all;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                }
                .content-end{
                    width: 80px;
                    height: 32px;
                    position: relative;
                    background: rgba(0,0,0,0.06);
                    border: 1px solid rgba(255,255,255,0.10);
                    border-radius: 4px;
                    .winner-icon{
                        position: absolute;
                        width: 28px;
                        height: 28px;
                        top: 0;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                }
                .content-normal{
                    width: 80px;
                    height: 32px;
                }

            }
            .bet-content-row{
                width: 100%;
                height: 100%;
                .BetItem-box.left{
                    display: flex;      
                    justify-content: space-between;
                    align-content: center;
                    flex-direction: row;
                    .item-name{
                        text-align: left;
                    }
                }
                .BetItem-box.right{
                    display: flex;      
                    justify-content: space-between;
                    align-content: center;
                    flex-direction: row-reverse;
                    .item-name{
                        text-align: right;
                    }
                }
                .item-name{
                    max-width: 70px;
                }
                .content-end{
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,0.06);
                    border: 1px solid rgba(255,255,255,0.10);
                    border-radius: 4px;
                    padding: 0 8px;
                    &.left{
                        display: flex;      
                        justify-content: space-between;
                        align-items: center;
                        flex-direction: row;
                    }
                    &.right{
                        display: flex;      
                        justify-content: space-between;
                        align-items: center;
                        flex-direction: row-reverse;
                        .end-name{
                            text-align: right;
                        }
                    }
                    .end-name{
                        font-size: 12px;
                        color: rgba(255, 255, 255, 0.6);
                        width: 100px;
                    }
                    .end-icon{
                        width: 28px;
                        height: 32px;
                        position: relative;
                        .winner-icon{
                            position: absolute;
                            right: 0;
                            top: 0;
                            width: 28px;
                            height: 28px;
                        }
                    }
                }
            }
        }
    }
    .item-more{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        cursor: pointer;
        padding-bottom: 12px;
        .more-words{
            font-size: 12px;
            color: rgba(255, 255, 255, 0.6);
            font-weight: 400;
            margin-right: 4px;
        }
        .more-icon{
            width: 16px;
            height: 16px;
        }
    }
    .item-name-box{
        font-size: 12px;
        color: rgba(255,255,255,0.6);
        width: 100%;
        word-break: break-all;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        line-height: 15px;
        -webkit-line-clamp: 2;
        overflow:hidden;
        /*! autoprefixer: off */
        -webkit-box-orient: vertical;
    }
}
</style>