<template>
  <div
    :class="['match-item', { 'anchor-item': showHost(match.category) }]"
    v-show="mqMatch[match.id].visible"
     @click="goMarkets(match)"
  >
    <!-- 游戏背景 -->
    <div
      v-if="showBJ"
      class="bj"
      :style="`background-image: url('${h5_bg}')`"
    ></div>
    <!-- <van-swipe
      class="match-item-swipe"
      :show-indicators="false"
      :loop="false"
      :initial-swipe="swiperShowIndex"
      @change="onChangeSwiper"
    > -->
      <!-- <van-swipe-item key="game"> -->
        <!-- 赛事信息 -->
        <div class="item-col">
          <div>
            <div class="game-logo">
              <span
                :class="['logo', 'game-logo-sprite', logoCls(match.game_id)]"
              >
              </span>
            </div>

            <span class="bo" v-show="showHost(match.category)">
              {{ i18n.zhubosaishi }}
            </span>

            <span class="tournament_name">
              <span v-show="!hideBo(match.category) && match.bo != 0">{{ "BO" + match.rel_bo }}</span> {{ match.tournament_name }}
            </span>
          </div>
          <div>
            <span class="station-order" v-if="mqMatch[match.id] && mqMatch[match.id].is_pass_off == 2">
              {{ i18n.junei }}<b class="mark">{{ i18n.chuanguan }}</b>
            </span>


            <!-- 数据源赛事 -->
            <template v-if="mqMatch[match.id].ant_match_id != 0">
              <span
                class="live-video"
                v-show="showAntVideo(match)"
              >
                <img class="living-bg" src="~@/assets/images/common/living1.png" alt="">
              </span>
              <span
                class="live-video"
                v-show="showAntVideogary(match)"
              >
                <img  src="~@/assets/images/common/living-gary.png" alt="">
              </span>
            </template>
            <!-- 正常赛事 -->
            <template v-else>
              <span
                class="live-video"
                v-show="shownormalVideo(match)"
              >
                <img class="living-bg" src="~@/assets/images/common/living1.png" alt="">
              </span>

              <span
                class="live-video"
                v-show="shownormalVideogary(match)"
              >
                <img  src="~@/assets/images/common/living-gary.png" alt="">
              </span>

              
            </template>


            <span class="more">
              <i class="icon common-match-more"></i>
              <b> {{ mqMatch[match.id].count }} </b>
            </span>
          </div>
        </div>

        <!-- 队伍信息 -->
        <div class="team-col">
          <span class="team-logo">
            <TeamImage :url="global.TeamImages[match.home_team]" />
          </span>
          <span class="team-logo">
            <TeamImage :url="global.TeamImages[match.away_team]" />
          </span>

          <!-- 赛事状态  有三个投注项-->
          <div class="match-status" v-if="makertList.length == 3">
            <!-- 滚球中 -->
            <template v-if="mqMatch[match.id].is_live == 2">
              <!-- 比分 -->
              <div :class="['score', { 'has-score-words': showBIfen(match) }]" v-if="!hideScore(match.category)">

                  <span class="score-words" v-show="showBIfen(match)" > {{ i18nMh.bifenpanding }}  </span>
                  <span class="score-home DIN" v-show="!showBIfen(match)">
                    {{ match.score.split(":")[0] }}
                  </span>

                  <div class="score-timer live-box">
                    <span class="live-gif"> </span>
                    <span class="words">
                      <b v-if="showHost(match.category)">
                        {{ i18n.kaishouzhong }}
                      </b>
                      <b v-else> {{ i18n.gunqiuzhong }} </b>
                    </span>
                  </div>

                  <span class="score-away DIN" v-show="!showBIfen(match)">
                    {{ match.score.split(":")[1] }}
                  </span>
               
              </div>
              <!-- 局数 -->
              <div class="round" v-if="!showHost(match.category)">
                <span class="round-bo" v-if="matchTimer[match.id]">
                  {{ getLiveRound(matchTimer[match.id].round, match.category) }}
                </span>

                <span
                  class="round-timer"
                  v-if="
                    matchTimer[match.id] &&
                      !hideTimer(match, matchTimer[match.id].round)
                  "
                >
                  <live-timer
                    :status="matchTimer[match.id].status"
                    :type="timerType(match)"
                    :seconds="matchTimer[match.id].time_ticket"
                  >
                  </live-timer>
                </span>
              </div>
            </template>

            <!-- 未滚球 -->
            <template v-else>
              <div class="date has-live">
                <span class="date-day DIN">
                  {{ timetrans(mqMatch[match.id].start_time).d }}
                </span>
              </div>
              <div class="status has-live">
                <span class="date-year">
                  <b> {{ timetrans(mqMatch[match.id].start_time).m }} </b>
                </span>
                <span class="status-words" v-show="mqMatch[match.id].live_support == 0">
                  {{ i18n.weikaishi }}
                </span>
                <span class="status-words" v-show="mqMatch[match.id].live_support == 1">
                  {{ i18n.tigong }} <b>{{ i18n.gunqiu }}</b>
                </span>
              </div>
            </template>
          </div>

          <!-- 赛事状态 只有二个投注项 -->
          <div class="match-status" v-else>
            <!-- 滚球中 -->
            <template v-if="mqMatch[match.id].is_live == 2">
              <!-- 比分 -->
              <div class="score no-live" v-if="!hideScore(match.category)">
                <span class="score-words" v-if="showBIfen(match)" > {{ i18nMh.bifenpanding }}  </span>
                <template v-else>
                  <span class="score-home DIN">
                    {{ match.score.split(":")[0] }}
                  </span>
                  <span
                    class="score-timer common-teams-line"
                    v-show="!showMarketName"
                  >
                  </span>
                  <span class="score-away DIN">
                    {{ match.score.split(":")[1] }}
                  </span>
                </template>

              </div>
              <!-- 局数 -->
              <div
                :class="[
                  'round', 
                  'no-live', 
                  { 'show-market': showMarketName }, 
                  { 'has-score-words': showBIfen(match)}]"
              >
               
                <div :class="['live-box', { 'box-top': !showHost(match.category) && matchTimer[match.id] }]">
                  <span class="live-gif"> </span>
                  <span class="words">
                    <b v-if="showHost(match.category)">
                      {{ i18n.kaishouzhong }}
                    </b>
                    <b v-else> {{ i18n.gunqiuzhong }} </b>
                  </span>
                </div>

                <div class="round-box" v-if="!showHost(match.category) && matchTimer[match.id]">
                  <span class="round-bo">
                    {{
                      getLiveRound(matchTimer[match.id].round, match.category)
                    }}
                  </span>
                  <span
                    class="round-timer"
                    v-if="!hideTimer(match, matchTimer[match.id].round)"
                  >
                    <live-timer
                      :status="matchTimer[match.id].status"
                      :type="timerType(match)"
                      :seconds="matchTimer[match.id].time_ticket"
                    >
                    </live-timer>
                  </span>
                </div>
              </div>
              <div class="round-makert ellipsis" v-show="showMarketName">
                {{ getLiveRound(match.m.round, match.category) }}
                {{ i18n.Winner }}
              </div>
            </template>
            <!-- 未滚球 -->
            <template v-else>
              <template v-if="match.is_predicted">
                <div class="date predicted">
                  <span class="date-day DIN">
                    {{ timetrans(mqMatch[match.id].start_time).d }}
                  </span>
                  <span>{{ i18n.yujikaisai }}</span>
                  <span class="date-year">
                    <b> {{ timetrans(mqMatch[match.id].start_time).m }} </b>
                    <span class="status-words" v-show="mqMatch[match.id].live_support == 0 && !match.is_predicted">
                      {{ i18n.weikaishi }}
                    </span>
                  </span>
                </div>
                <div class="status predicted-statu">
                  <span class="status-words">
                    {{ getLiveRound(match.m.round, match.category) }}
                    {{ i18n.Winner }}
                  </span>
                </div>
              </template>
              <template v-else>
                <template v-if="showMarketName">
                  <div class="date">
                    <span class="date-day DIN">
                      {{ timetrans(mqMatch[match.id].start_time).d }}
                    </span>
                    <span class="date-year">
                      <b> {{ timetrans(mqMatch[match.id].start_time).m }} </b>
                      <span class="status-words" v-show="mqMatch[match.id].live_support == 0">
                        {{ i18n.weikaishi }}
                      </span>
                      <span class="status-words" v-show="mqMatch[match.id].live_support == 1">
                        {{ i18n.tigong }} <b>{{ i18n.gunqiu }}</b>
                      </span>
                    </span>
                  </div>
                  <div class="status">
                    <span class="status-icon common-live-false"></span>
                    <span class="status-words">
                      {{ getLiveRound(match.m.round, match.category) }}
                      {{ i18n.Winner }}
                    </span>
                  </div>
                </template>
                <template v-else>
                  <div class="date">
                    <span class="date-day DIN">
                      {{ timetrans(mqMatch[match.id].start_time).d }}
                    </span>
                    <span class="date-year">
                      <b> {{ timetrans(mqMatch[match.id].start_time).m }} </b>
                    </span>
                  </div>
                  <div class="status">
                    <span class="status-icon common-live-false"></span>
                    <span class="status-words" v-show="mqMatch[match.id].live_support == 0">
                      {{ i18n.weikaishi }}
                    </span>
                    <span class="status-words" v-show="mqMatch[match.id].live_support == 1">
                      {{ i18n.tigong }} <b>{{ i18n.gunqiu }}</b>
                    </span>
                  </div>
                </template>
              </template>
            </template>
          </div>
        </div>

        <!-- 正常投注项 -->
        <div class="item-bet" >
          <div v-for="(item, k) in makertList" :key="item.id" >
            <span :class="['team-name', getPostionClass(makertList.length, k)]">{{ getTeams(match, item) }}</span>
            <bet-item
              :position="getPostionClass(makertList.length, k)"
              :info="{
                itemid: item.id,
                marketid: match.m.id,
                matchid: match.id,
              }"
              :showCrossIcon="true"
            >
            </bet-item>
          </div>
          <!-- 收藏 -->
          <span class="collection" :class="[{'no-handicap': makertList.length <= 0}]">
            <collectionGif
                :match="match"
                v-show="collectID.includes(match.id)"
                :animationRun="collectID.includes(match.id)"
                @addCollect="addCollect"
            />
            <i
                @click.stop="addCollect(match)"
                v-show="!collectID.includes(match.id)"
                class="icon common-collection-false"
            >
            </i>
          </span>
        </div>

      <!-- </van-swipe-item> -->
      <!-- <van-swipe-item v-if="isShowBifenData" key="data">
        <div class="list-foresight-container">
          <div class="title">
            <span class="team-logo">
              <TeamImage :url="global.TeamImages[match.home_team]" />
            </span>
            <span>{{$t("antDataSource.Last10Games")}}</span>
            <span class="team-logo">
              <TeamImage :url="global.TeamImages[match.away_team]" />
            </span>
          </div>
          <div class="scroll-content">
            <game-line-panel
              :data="foresightData"
              :gameId="match.game_id"
            ></game-line-panel>
            <div class="winLost-container">
              <div class="team-winLost">
                <result-flag
                  :type="1"
                  :content="foresightData.t1.win"
                  rtl
                ></result-flag>
                <result-flag
                  :type="2"
                  :content="foresightData.t1.lose"
                  rtl
                ></result-flag>
              </div>
              <div class="team-winLost">
                <result-flag
                  :type="1"
                  :content="foresightData.t2.win"
                ></result-flag>
                <result-flag
                  :type="2"
                  :content="foresightData.t2.lose"
                ></result-flag>
              </div>
            </div>
          </div>
        </div>
      </van-swipe-item> -->
    <!-- </van-swipe> -->
    <!-- 比分网数据按钮 -->
    <!-- <div
      v-if="isShowBifenData"
      :class="[
        'slide-icon',
        'animate-effect',
        {
          'slide-icon-l': swiperShowIndex === 0,
          'slide-icon-r': swiperShowIndex === 1,
        },
      ]"
    ></div> -->
    <!-- <div :class="['slide-bottom']" v-if="isShowBifenData">
      <i :class="['slide-bottom-item', { active: swiperShowIndex === 0 }]"></i>
      <i :class="['slide-bottom-item', { active: swiperShowIndex === 1 }]"></i>
    </div> -->
  </div>
</template>
<script>
import { mapGetters } from "vuex";
import mixBetStatus from "@/views/common/mixins/mixBetStatus.js";
import mixAddCart from "@/views/common/mixins/mixAddCart.js";
import mixMatchStatus from "@/views/common/mixins/mixMatchStatus.js";
import { timetrans } from "@/assets/scripts/utils";
import liveTimer from "@/views/common/liveTimer.vue";
import BetItem from "@/views/common/BetItem";
import GameLinePanel from "@/views/markets/foresight/gameLinePanel.vue";
import resultFlag from "@/views/markets/foresight/resultFlag.vue";
import { requestListForesightData } from "@/api/data.js";
import collectionGif from "./collectionGif";

export default {
  name: "list-item",
  props: {
    showBJ: {
      type: Boolean,
      default: true,
    },
    match: {
      type: Object,
      default: {},
    },
    isReplace: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      global,
      UPLOAD_URL: UPLOAD_URL,
      i18n: this.$t("homePage.listItem"),
      i18nMh: this.$t('marketPage.marketHeader'),
      swiperShowIndex: 0,
      // 前瞻数据
      foresightData: {
        t1: {},
        t2: {},
      },
    };
  },

  mixins: [mixBetStatus, mixAddCart, mixMatchStatus],

  components: {
    liveTimer,
    BetItem,
    collectionGif,
    GameLinePanel,
    resultFlag,
  },

  computed: {
    ...mapGetters([
      "betItemId",
      "collectID",
      "matchTimer",
      "images",
      "bifenBtnStatus",
      "mqMatch"
    ]),

    // 投注项为三个，不是开盘时,只显示2个被锁住的投注项
    makertList() {
      const Itemlens = this.match.m.odds.length;
      const MthVisible = this.match.m.visible;
      const MthStatus = this.match.m.status;

      // 排序
      let _newArray = this.match.m.odds.slice(0);
     

      if (Itemlens == 3 && MthStatus != 6) {
        return _newArray.filter((e, i) => i != 1);
      } else {
        return _newArray;
      }
    },

    // 背景图片
    h5_bg() {
      const bg = this.match.h5_bg;
      return bg ? this.UPLOAD_URL + bg : "";
    },

    // 是否显示盘口名称
    showMarketName() {
      return (
        this.makertList.length == 2 &&
        !this.showHost(this.match.category) &&
        this.match.status == 5 &&
        this.match.m.status == 6
      );
    },
    mounted() {
      if (this.swiperShowIndex === 1) {
        this.getForesightData();
      }
    },
    // 是否显示比分网近10场数据
    isShowBifenData() {
        // console.log(this.match, this.bifenBtnStatus)
      return (
        this.match.ant_match_id != 0 &&
        this.bifenBtnStatus.analyse_status &&
        this.match.prospective_analysis_lock
      );
    },
  },
  methods: {
    timetrans,
    // 跳转盘口页面
    goMarkets(match) {
      this.$store.commit("SET_MATCH_GAME_ID", match.game_id);
      this.$store.commit("SET_MATCH_ID", match.id);
      this.isReplace
        ? this.$router.push({
          path: `/markets/${match.id}`,
          replace: true
        })
        : this.$router.push(`/markets/${match.id}`);
      this.$emit("goDone");
      // if( this.isReplace ){
      //   location.reload()
      // }
    },
    onChangeSwiper(index) {
      this.swiperShowIndex = index;
      if (index === 1) {
        this.getForesightData();
      }
    },
    // 获取前瞻数据
    getForesightData() {
      requestListForesightData({ match_num: 10, id: this.match.id })
        .then((res) => {
          console.log("res", res);
          const _data = res.data.data;
          if (_data) {
            this.foresightData = {
              t1: _data[0] || {},
              t2: _data[1] || {},
            };
          }
        })
        .catch((err) => {
          console.error(err);
        });
    },
  },
};
</script>

<style lang="less" scoped>
.match-item{
  .item-col{
    height: 28px;
  }
}
</style>
<style lang="less">
.match-item {
  width: 100%;
  height: 148px;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 8px;
  position: relative;
  z-index: 0;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  .match-item-swipe {
    width: 100%;
  }
  .van-swipe-item {
    padding: 0 8px;
    &:first-child {
      padding: 8px;
    }
  }
  .bj {
    z-index: -1;
    position: absolute;
    bottom: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
  }
  .collection {
    position: absolute;
    width: 22px;
    height: 22px;
    right: -5px;
    bottom: 3px;
    .icon {
      display: block;
      width: 100%;
      height: 100%;
    }
    &.no-handicap{
      bottom: -55px;
    }
  }

  .item-col {
    display: flex;
    position: relative;
    justify-content: space-between;
    z-index: 66;
    & > div {
      display: flex;
      align-items: center;
    }
    .game-logo {
      width: 16px;
      height: 16px;
      margin-right: 4px;
      .logo {
        display: block;
        width: 120px;
        height: 120px;
        transform-origin: 0 0;
        transform: scale(16/120);
      }
    }
    .tournament_name {
      width: 115px;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.8);
      margin: 0 4px;
      text-overflow: -o-ellipsis-lastline;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      zoom: 0.9; // 11px
    }
    .bo {
      //width: 60px;
      font-size: 12px;
      color: #ffffff;
      margin: 0 8px 0 0px;
      position: relative;
      font-weight: bolder;
      text-align: center;
      &::after {
        content: "";
        position: absolute;
        right: -4.5px;
        top: 50%;
        transform: translateY(-50%);
        width: 1px;
        height: 10px;
        background: rgba(255, 255, 255, 0.2);
      }
    }
    .more {
      width: 28px;
      height: 18px;
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid rgba(255, 255, 255, 0.15);
      border-radius: 2px;
      margin-left: 4px;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.6);
      text-align: center;
      line-height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        width: 10px;
        height: 10px;
      }
      b {
        font-family: DIN;
        font-size: 12px;
      }
    }

    .live-video {
      width: 28px;
      height: 18px;
      //background: rgba(231, 187, 2, 0.1);
      //border: 1px solid rgba(231, 187, 2, 0.5);
      border-radius: 2px;
      text-align: center;
      line-height: 14px;
      margin-left: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      /*b {
        font-family: DIN;
        font-size: 12px;
        zoom: 0.83;
        color: #e7bb02;
      }*/
      img{
        position: absolute;
        width: 20px;
      }
    }
    .station-order {
      min-width: 52px;
      padding: 0 2px;
      height: 18px;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 2px;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.6);
      text-align: center;
      line-height: 17px;
      font-weight: 400;
      b {
        font-size: 12px;
        color: #e7bb02;
        text-align: center;
        line-height: 17px;
      }
    }
  }
  .team-col {
    margin: 2px 0 0;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 38px;
    .team-logo {
      width: 40px;
      height: 40px;
      img {
        width: 40px;
        height: 40px;
      }
    }
    .match-status {
      position: absolute;
      width: 110px;
      min-height: 40px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      .score {
        width: 80px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: 0 auto;
        &.no-live {
          height: 40px;
        }
        &.has-score-words{
          .score-words{
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
          }
          .live-box{
            margin-top: -44px;
          }
        }
        .score-words{
          color: #E7BB02;
          font-size: 12px;
        }
        .score-home,
        .score-away {
          font-size: 20px;
          color: #ffffff;
          line-height: 40px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .score-home {
          margin-left: -36px;
        }
        .score-away {
          margin-left: 36px;
        }
        .score-timer {
          width: 38px;
          height: 38px;
          position: relative;
          overflow: hidden;
          margin-top: -20px;
          &.common-teams-line {
            width: 24px;
            height: 24px;
            margin-top: 0;
          }
          .words {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 38px;
            height: 14px;
            background: #ff4b34;
            border-radius: 7px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          b {
            font-size: 12px;
            zoom: 0.83;
          }
        }
      }
      .round-makert {
        position: absolute;
        width: 80px;
        height: 56px;
        bottom: -58px;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: column;
        line-height: 76px;
        text-align: center;
        font-size: 12px;
        color: rgba(255, 255, 255, 0.6);
        // zoom: 0.83;
      }
      .round {
        width: 100%;
        height: 14px;
        margin: 0 auto;
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        &.has-score-words{
          .live-box{
            margin-top: -44px;
          }
          .box-top{
            margin-top: 0;
          }
          .round-box{
            margin-top: 18px !important;
          }
        }


        .round-bo {
          zoom: 0.83;
          color: rgba(255, 255, 255, 0.6);
        }
        .round-timer {
          margin-left: 2px;
          zoom: 0.83;
          color: rgba(255, 255, 255, 0.6);
        }
        &.no-live {
          position: absolute;
          width: 80px;
          height: 56px;
          // top: -15px;
          bottom: -58px;
          left: 50%;
          transform: translateX(-50%);
          flex-direction: column;
          .round-box {
            margin-top: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        &.show-market {
          top: -15px;
          bottom: inherit;
        }
      }

      .date {
        width: 100%;
        height: 40px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .date-day {
          font-size: 18px;
          color: rgba(255, 255, 255, 0.6);
        }
        .date-year {
          font-size: 12px;
          height: 14px;
          color: rgba(255, 255, 255, 0.6);
          b {
            zoom: 0.83;
          }
          .status-words {
            font-size: 12px;
            zoom: 0.83;
            color: rgba(255, 255, 255, 0.6);
            b {
              zoom: 1;
              color: #0095ff;
              margin-left: 2px;
            }
          }
        }
        &.has-live {
          height: 30px;
        }
      }
      .status {
        position: absolute;
        width: 80px;
        height: 40px;
        bottom: -58px;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: column;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .status-icon {
          width: 24px;
          height: 24px;
          margin-bottom: 2px;
        }
        .status-words {
          font-size: 12px;
          zoom: 0.83;
          color: rgba(255, 255, 255, 0.6);
          b {
            color: #0095ff;
            margin-left: 2px;
          }
        }
        .match-status{
          position: absolute;
          width: 110px;
          height: 40px;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);
          
          .score{
              width: 80px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              position: relative;
              margin: 0 auto;
              &.no-live{
                  height: 40px;
              }
              &.has-score-words{
                .score-words{
                  width: 100%;
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  text-align: center;
                }
                .live-box{
                  margin-top: -44px;
                }
              }
              .score-words{
                color: #E7BB02;
                font-size: 12px;
              }
              .score-home,.score-away{
                  font-size: 20px;
                  color: #FFFFFF;
                  line-height: 40px;
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
              }
              .score-home{
                  margin-left: -36px;
              }
              .score-away{
                  margin-left: 36px;
              }
              .score-timer{
                  width: 38px;
                  height: 38px;
                  position: relative;
                  overflow: hidden;
                  margin-top: -20px;
                  &.common-teams-line{
                      width: 24px;
                      height: 24px;
                      margin-top: 0;
                  }
                  .words{
                      position: absolute;
                      bottom: 0;
                      left: 0;
                      width: 38px;
                      height: 14px;
                      background: #FF4B34;
                      border-radius: 7px;
                      text-align: center;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                  }
                  b{
                      
                      font-size: 12px;
                      zoom: 0.83;
                  }
              }
          }
          .round-makert{
              position: absolute;
              width: 90px;
              height: 56px;
              bottom: -58px;
              left: 50%;
              transform: translateX(-50%);
              flex-direction: column;
              line-height: 76px;
              text-align: center;
              font-size: 12px;
              color: rgba(255, 255, 255, 0.6);
              // zoom: 0.83;
              
          }
          .round{
              width: 100%;
              height: 14px;
              margin: 0 auto;
              font-size: 12px;
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;
              &.has-score-words{
                .live-box{
                  margin-top: -44px;
                }
              }
              .round-bo{
                  zoom: 0.83;
                  color: rgba(255, 255, 255, 0.6);
              }
              .round-timer{
                  margin-left: 2px;
                  zoom: 0.83;
                  color: rgba(255, 255, 255, 0.6);
              }
              &.no-live{
                  position: absolute;
                  width: 80px;
                  height: 56px;
                  // top: -15px;
                  bottom: -58px;
                  left: 50%;
                  transform: translateX(-50%);
                  flex-direction: column;
                  .round-box{
                      margin-top: 4px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                  }
              }
              &.show-market{
                  top: -15px;
                  bottom: inherit;
              }

          }


          .date{
              width: 100%;
              height: 40px;
              margin: 0 auto;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              .date-day{
                  font-size: 18px;
                  color: rgba(255,255,255,0.6);
              }
              .date-year{
                  font-size: 12px;
                  height: 14px;
                  color: rgba(255,255,255,0.6);
                  b{
                      zoom: 0.83;
                  }
                  .status-words{
                      font-size: 12px;
                      zoom: 0.83;
                      color: rgba(255,255,255,0.6);
                      b{
                          zoom: 1;
                          color: #0095FF;
                          margin-left: 2px;
                      }
                  }
              }
              &.has-live{
                  height: 30px;
              }
          }
          .status{
              position: absolute;
              width: 100%;
              height: 40px;
              bottom: -58px;
              left: 50%;
              transform: translateX(-50%);
              flex-direction: column;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              .status-icon{
                  width: 24px;
                  height: 24px;
                  margin-bottom: 2px;
              }
              .status-words{
                  font-size: 12px;
                  zoom: 0.83;
                  color: rgba(255,255,255,0.6);
                  b{
                      color: #0095FF;
                      margin-left: 2px;
                  }
              }
  
              &.has-live{
                  width: 100%;
                  height: 14px;
                  bottom: -2px;
                  flex-direction: row;
                  .date-year{
                      font-size: 12px;
                      zoom: 0.83;
                      margin-right: 4px;
                      color: rgba(255,255,255,0.6);
                  }
              }
          }
        }
        &.has-live {
          width: 100%;
          height: 14px;
          bottom: -2px;
          flex-direction: row;
          .date-year {
            font-size: 12px;
            zoom: 0.83;
            margin-right: 4px;
            color: rgba(255, 255, 255, 0.6);
          }
        }
      }
      .predicted{
        width: 92px;
        height: 92px;
        color: rgba(255, 255, 255, 0.6);
        background: url("~@/assets/images/common/jijikaisai.png") center / cover no-repeat;
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 12px;
        .date-day{
          font-size: 20px;
        }
      }
      .predicted-statu{
        height: auto;
      }
      &.score {
        width: 80px;
        display: flex;
        justify-content: center;
        b {
          font-size: 20px;
          color: #ffffff;
          line-height: 40px;
          padding-bottom: 3px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          &:nth-child(1) {
            margin-left: -24px;
          }
          &:nth-child(3) {
            margin-left: 24px;
          }
        }
        &.cancel {
          b {
            &:nth-child(1) {
              margin-left: -36px;
            }
            &:nth-child(3) {
              margin-left: 36px;
            }
          }
        }
        .icon-common {
          width: 24px;
          height: 24px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .words-common {
          font-size: 12px;
          width: 40px;
          text-align: center;
        }
      }
      &.time {
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .days {
          opacity: 0.6;
          font-size: 20px;
        }
        .years {
          opacity: 0.6;
          font-size: 12px;
          .words {
            zoom: 0.83;
            b {
              color: #0095ff;
              margin-left: 2px;
            }
          }
        }
      }
    }
  }
  .item-bet {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 0 18px;
    .team-name {
      width: 80px;
      line-height: 14px;
      height: 27px;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.8);
      text-align: center;
      overflow : hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      margin-top: 2px;
      &.middle{
        line-height: 27px;
      }
    }
    .BetItem-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
      &.left,
      &.right {
        width: 80px;
        height: 32px;
      }
      &.middle {
        width: 80px;
        height: 32px;
      }
      .bubbles-box {
        transform: scale(92/528, 48/152);
      }
      .item-odds {
        margin-top: 1px;
      }
    }

    .live-icon {
      width: 68px;
      height: 48px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 12px;

      &.live-top {
        display: block !important;
        top: -35px;
      }
      .has-live,
      .not-live {
        width: 68px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      .live {
        width: 24px;
        height: 24px;
      }
      .not-live {
        .word {
          margin-top: 4px;
          font-size: 12px;
          color: rgba(255, 255, 255, 0.6);
          text-align: center;
          b {
            color: #e7bb02;
          }
        }
      }
      .has-live {
        position: relative;
        .timer {
          position: absolute;
          top: -13px;
          width: 57px;
          height: 45px;
          .liveTimer-box {
            position: absolute;
            top: 22px;
            left: 50%;
            transform: translateX(-50%);
            font-size: 14px;
            color: #000000;
          }
        }
        .word {
          position: absolute;
          bottom: 0px;
          left: -20px;
          right: -20px;
          font-size: 12px;
          color: #e7bb02;
          transform: scale(0.9);
          text-align: center;
        }
      }
    }
  }

  .live-box {
    width: 38px;
    height: 38px;
    position: relative;
    overflow: hidden;
    &.hide-live-box{
      opacity: 0;
    }
    .live-gif {
      width: 28px;
      height: 28px;
      position: absolute;
      bottom: 8px;
      left: 50%;
      transform: translateX(-50%);
      background: url("~@/assets/images/common/fire.gif") no-repeat
        rgba(0, 0, 0, 0);
      background-size: contain;
    }
    .words {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 38px;
      height: 14px;
      background: #ff4b34;
      border-radius: 7px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    b {
      font-size: 12px;
      zoom: 0.83;
    }
  }
  &.anchor-item {
    .BetItem-box {
      display: none;
    }
    .match-status {
      .status-icon {
        display: none;
      }
      .status {
        bottom: -12px;
        height: 14px;
      }
      .round {
        top: 14px !important;
      }
    }
    .team-col {
      margin-top: 30px;
    }
    .team-name {
      color: rgba(255, 255, 255, 0.8);
      font-size: 14px;
    }
  }

  .slide-icon {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    margin-top: -9px;
    right: -12px;
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      content: "";
      background: url("~@/assets/images/common/slide-icon.png") no-repeat 50% /
        cover;
    }
    &.animate-effect {
      animation: dir_right_remind_animate 1.4s
        cubic-bezier(0.49, 0.49, 0.61, 0.59) infinite;
    }
    &.slide-icon-l {
      &:after {
        transform: scaleY(-1);
      }
      &.animate-effect {
        animation: dir_left_remind_animate 1.4s
          cubic-bezier(0.49, 0.49, 0.61, 0.59) infinite;
      }
    }
  }

  .slide-bottom {
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    text-align: center;
    .slide-bottom-item {
        margin: 0;
        width: 6px;
        height: 3px;
        background:rgba(255,255,255,0.3);
        display: inline-block;
        border-radius: 6px;
        &.active {
            background: #E7BB02;
            width: 13px;
        }
    }
  }

  .list-foresight-container {
    height: 100%;
    overflow-y: auto;
    .data-line .line-container {
      height: 4px;
    }
    .title {
      width: 100%;
      height: 30px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      color: rgba(255, 255, 255, 0.5);
      padding: 0 15px;
      margin: 0;
      .team-logo {
        width: 25px;
        height: 25px;
      }
    }
    .scroll-content {
      height: 110px;
      overflow-y: auto;
    }
    .winLost-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .team-winLost {
        flex: 1 0;
        display: flex;
        flex-direction: row;
        padding: 10px 0 10px 45px;
        &:first-child {
          padding: 10px 40px 10px 0;
          justify-content: flex-end;
          flex-direction: row-reverse;
        }
      }
    }
  }
}

@keyframes dir_right_remind_animate {
  0% {
    transform: translateX(-9px) rotate(180deg);
    opacity: 0;
  }
  60% {
    transform: translateX(-6px) rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: translateX(0) rotate(180deg);
    opacity: 0;
  }
}

@keyframes dir_left_remind_animate {
  0% {
    transform: translateX(0);
    opacity: 0;
  }
  60% {
    transform: translateX(-6px);
    opacity: 1;
  }
  100% {
    transform: translateX(-9px);
    opacity: 0;
  }
}
</style>
