<template>
    <div class="account">
        <van-sticky :offset-top="0">
            <div class="dj-common-nav-header">
                <div class="left" @click="goBack">
                    <i class="common-go-back"></i>
                </div>
                <div class="nav-title">{{i18n.accountChange}}</div>
            </div>
        </van-sticky>
        <div class="common-select-list">
            <div class="all-type" @click="showSelectTypeModel">
                {{type?getState(type): i18n.all }}
                <i :class="!show?'common-pick-down': 'common-pick-up'"></i>
            </div>
            <div class="date" @click="showSelectDateModel">
                {{showDate?showDate: i18n.riqi }}
                <i class="common-calendar"></i>
            </div>
        </div>
        <van-popup v-model="show" position="top" class="typeList">
            <div class="common-account-list">
                <div
                    :class="['account-list', { accountActive: type == item.value }]"
                    v-for="item in typeList"
                    @click="typeChange(item.value)"
                    :key="item.value"
                >
                    <span class="short_name"> {{ item.text }} </span>
                </div>
            </div>
        </van-popup>
        <datetime-picker 
            :date="selectDate" 
            :dateShow="dateShow"
            :isSelectMonth="isSelectMonth"
            @confirm="confirmTime"
            @changeSelectMonth="changeSelectMonth"
            @cancel="cancelFn"
        >
        </datetime-picker>
        <common-not-data
            class="not-account-data"
            :title="i18n.zanwu"
            :subTitle="i18n.zanwutishi"
            backgroundImg="not-data-account"
            paddingTop="43px"
           v-show="!loading&&accountList.length==0" 
        ></common-not-data>
        <van-list
            v-model="loading"
            :finished="finished"
            :finished-text="!loading&&accountList.length==0 ? '': i18n.null"
            @load="onLoad"
            class="account-data-list"
            loading-text="loading..."
        >
            <div class="item" v-for="item in accountList" :key="item.id">
                <div class="detail-title-row">
                    <span>
                        {{ item.icon }}
                        {{ getState(item.trade_type) }}
                    </span>
                    <span
                        :class="[
                            'DIN',
                            item.trade_type == 2 || item.trade_type == 3 || item.trade_type == 8 || item.trade_type == 13 || item.trade_type == 14 ? '' : 'yellow',
                        ]"
                    >
                        {{ item.trade_type == 2 || item.trade_type == 3 || item.trade_type == 8 || item.trade_type == 13 || item.trade_type == 14 ? "-" : "+"}}{{ Math.formatAmount(item.amount) }}
                    </span>
                </div>
                <div class="detail-row">
                    <span> 
                        {{i18n.liushui}}&nbsp;&nbsp;{{ item.id }}
                        <b class="copy" @click="copyText(item.id)"> <i> {{i18n.fuzhi}} </i>  </b>
                    </span>
                </div>
                <div class="time-row">
                    <span>
                        {{ timetrans(item.created_time/1000 || 0).y }}
                        {{ timetrans(item.created_time/1000 || 0).d }}:{{
                            timetrans(item.created_time/1000 || 0).s
                        }}
                    </span>
                </div>
            </div>
        </van-list>
    </div>
</template>
<script>
import i18n from "@/assets/i18n/index.js";
const t = i18n.t('userPage.accountChange.status')
const typeList = [
    { value: '', text: t.all },
    { value: 1, text: t.zhuanru, icon: "account-transfer-into" },
    { value: 2, text: t.zhuanchu, icon: "account-roll-out" },
    { value: 3, text: t.bet, icon: "account-bet" },
    { value: 4, text: t.winning, icon: "account-winning" },
    { value: 10, text: t.zoushui, icon: "account-results-back" },
    { value: 11, text: t.shuban, icon: "account-results-back" },
    { value: 5, text: t.cancelbet, icon: "account-cancel-bet" },
    { value: 6, text: t.betfailure, icon: "account-bet-failure" },
    { value: 7, text: t.betrevoke, icon: "account-bet-revoke" },
    { value: 8, text: t.resultsback, icon: "account-results-back" },
    { value: 12, text: t.activity, icon: "account-activity-bonus" },
    { value: 13, text: t.resultsRollback, icon: "account-results-back" },
    { value: 14, text: t.betrevokeRollback, icon: "account-results-back" }
];
import { timetrans,getNDate  } from "@/assets/scripts/utils";
import * as userApi from "@/api/user.js";
import commonNotData from "@/views/common/commonNotData";
import datetimePicker from "@/views/user/datetimePicker";
import copy from "@/views/common/mixins/copy.js";
export default {
    mixins:[copy],
    components: { commonNotData,datetimePicker },
    data() {
        return {
            typeList,
            orderList: [],
            loading: false,
            finished: false,
            filter: {
                page: 1,
                page_size: 20,
                date: [`${getNDate(29)} 00:00:00`,`${getNDate(0)} 23:59:59`]
            },
            accountList: [],
            type: '',//选择的帐变类型
            show:false,
            dateShow:false,
            isSelectMonth:false,
            showDate:`${getNDate(29)} ${this.$t('userPage.accountChange.zhi')} ${getNDate(0)}`,
            selectDate:[getNDate(29),getNDate(0)],//已选择的日期
            i18n: this.$t('userPage.accountChange'),
        };
    },
    created() {
        this.loading=true;
        this.getList();
    },
    methods: {
        timetrans,
        onLoad() {
            // 加载状态结束
            this.loading = true;
            // 数据全部加载完成
            this.filter.page++;
            this.getList();
        },
        goBack() {
            this.$router.go(-1);
        },
        getList() {
            this.loading=true;
            let filter={...this.filter};
            filter.begin_time=filter.date[0];
            filter.end_time=filter.date[1];
            delete filter.date
            userApi
                .requestFundList({
                    ...filter,
                    type: this.type
                })
                .then((res) => {
                    this.loading=false;
                    this.finished = true 
                    if (res.data.status == "true") {
                        this.accountList.push(...res.data.data.d);
                        if(res.data.data.d.length>=20){
                            this.finished = false
                        }
                    }
                });
        },
        getState(value) {
            const type = typeList.find((ele) => ele.value == value);
            return type ? type.text : "--";
        },
        typeChange(value) {
            // 历史注单入口及历史注单详情页的点击次数统计
            // this.$store.commit("SET_TRACK", { tab: 31, page: 4 });
            this.show=false;
            this.type = value;
            this.filter.page = 1;
            this.accountList = [];
            this.loading=true;
            this.getList();
        },
        //确定时间
        confirmTime(date){
            // 历史注单入口及历史注单详情页的点击次数统计
            // this.$store.commit("SET_TRACK", { tab: 31, page: 4 });
            this.dateShow=false
            this.selectDate=date;
            if(date.length==1){
                this.showDate=`${date[0]}`;
                let nowMonth=this.timetrans(new Date()/1000).y.substr(0,7);
                let nowDate=this.timetrans(new Date()/1000).y.substr(8,9);
                let day='';
                if(nowMonth==date[0]){
                    day=nowDate
                }else{
                    day=new Date(date[0].substr(0,4), date[0].substr(5,7), 0).getDate()
                }
                this.filter.date=[`${date[0]}-01 00:00:00`,`${date[0]}-${day} 23:59:59`]  
            }else if(date.length==2){
               this.showDate=`${date[0]} ${this.i18n.zhi} ${date[1]}`;
                this.filter.date=[`${date[0]} 00:00:00`,`${date[1]} 23:59:59`]
            }else{
                this.showDate='';
                this.filter.date=['','']
            }
            this.accountList = [];
            this.filter.page=1;
            this.loading=true;
            this.getList();
        },
        cancelFn(){
            this.dateShow=false;
        },
        changeSelectMonth(data){
            this.isSelectMonth=data;
        },
        showSelectDateModel(){
            this.dateShow=true;
            this.show=false;
        },
        showSelectTypeModel(){
            this.dateShow=false;
            this.show=true; 
        }
    },
};
</script>
<style lang="less">
.common-select-list{
    height: 38px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: #3A424A;
    padding: 0 16px;
    .all-type{
        font-size: 14px;
        color: #FFFFFF;
        line-height: 38px;
        display: flex;
        align-content: center;
        i{
            display: inline-block;
            width: 24px;
            height: 38px;
            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .date{
        font-size: 12px;
        line-height: 38px;
        color: rgba(255, 255, 255, 0.6);
        display: flex;
        align-content: center;
        i{
            display: inline-block;
            width: 16px;
            height: 38px;
            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-position: center;
            margin-left: 6px;
        }
    }
}
.typeList{
    height: 200px;
    .van-overlay{
        background: rgba(0, 0, 0, 0.6);
        top: 87px;
    }
    &.van-popup--top{
        background: #2B2F35;
        top: 87px;
    }
}
.account {
    background: #272C32;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .van-overlay{
        background: rgba(0, 0, 0, 0.6);
        top: 87px;
    }
    .common-account-list {
        width: auto;
        // height: 64px;
        display: flex;
        flex-wrap:wrap;
        // overflow-x: auto;
        // overflow-y: hidden;
        padding: 10px;
        align-items: center;
        .account-list {
            width: 106px;
            height: 32px;
            flex-shrink: 0;
            border: 1px solid rgba(255, 255, 255, 0.2);
            border-radius: 8px;
            margin-right: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 0;
            overflow: hidden;
            margin: 6px;
            word-break: break-word;
            text-align: center;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                backdrop-filter: blur(30px);
                z-index: -1;
                border-radius: 8px;
            }
            &.accountActive {
                background-color: rgba(0, 149, 255, 0.3);
                border: 1px solid #1fdbff;
            }
        }
        .short_name {
            opacity: 0.6;
            font-family: PingFangSC-Regular;
            font-size: 12px;
            color: #ffffff;
        }
    }
    .account-data-list {
        height: calc(100% - 88px);
        overflow-y: auto;
        .item {
            border-bottom: 1px solid rgba(255, 255, 255, 0.06);
            position: relative;
            padding-top: 9px;
            .detail-title-row {
                display: flex;
                height: 38px;
                line-height: 38px;
                color: #fff;
                padding: 0 16px;
                font-size: 20px;
                span:nth-child(1) {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    color: #ffffff;
                    .type-icon {
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        margin-right: 8px;
                    }
                }
            }
            .yellow {
                color: #e7bb02;
            }
            .detail-row {
                display: flex;
                font-size: 14px;
                line-height: 20px;
                padding: 0 16px;
                color: rgba(255, 255, 255, 0.6);
                .copy{
                    display: inline-block;
                    margin-left: 4px;
                    width: 40px;
                    height: 18px;
                    background-color: rgba(255,255,255,0.1);
                    border-radius: 18px;
                    
                    color: #fff;
                    line-height: 18px;
                    text-align: center;
                    i{
                        display: inline-block;
                        font-size: 12px;
                        transform: scale(0.83);
                    }
                }
            }
            .time-row {
                font-size: 12px;
                line-height: 25px;
                padding: 0 16px;
                color: rgba(255, 255, 255, 0.6);
                padding-bottom: 8px;
            }
        }
    }
}
</style>
