<template>
        <van-popup v-model="dateShow" position="top" class="date-model" :close-on-click-overlay="false" @click-overlay="cancelSelect" :style="{ height: '278px' }">
            <div class="select-title">
                <div class="date-type" @click="changeType">
                    {{isSelectMonth===true ? i18n.anyue : i18n.anri}}
                    <i class="common-switch"></i>
                </div>
                <div class="date-operating">
                    <!-- <span class="clear" @click="clear">清除</span> -->
                    <span class="date-confirm" @click="confirm">{{ i18n.confirm }}</span>
                </div>
            </div>
            <div class="show-date" v-if="!isSelectMonth">
                <input :value="yearMonthDate[0]" readonly="readonly"  :class="selectIndex==0?'select':''" @click="changeTime(0)" :placeholder="i18n.startTime"/>
                <span class="date-to">{{ i18n.zhi }}</span>
                <input :value="yearMonthDate[1]"  readonly="readonly"  :class="selectIndex==1?'select':''" @click="changeTime(1)" :placeholder="i18n.endTime"/>
            </div>
            <div class="show-month" v-else>
                <input :value="yearMonth[0]" readonly="readonly" :placeholder="i18n.startTime"/>
            </div>
            <div class="select-date">
                <van-datetime-picker
                    v-model="currentDate"
                    :show-toolbar="false"
                    :type="isSelectMonth?'year-month':'date'"
                    :min-date="minDate"
                    :max-date="maxDate"
                    :visible-item-count="5"
                    item-height="35"
                />
            </div>
        </van-popup>
</template>
<script>
import { timetrans,getNDate } from "@/assets/scripts/utils";
export default {
    data() {
        return {
            minDate: '',
            maxDate: new Date(),
            currentDate: '',
            selectIndex:0,//1:开始时间,2：结束时间
            yearMonthDate:[],
            yearMonth: [],
            i18n: this.$t('userPage.datetimePicker'),
            i18nCom: this.$t('common.tips')
        };
    },

    watch:{
        currentDate(value,ov){
            if(value){
                let time=this.timetrans(this.currentDate/1000).y;
                if(this.isSelectMonth){
                    this.yearMonth[0]= time.substr(0,7);
                }else{
                    this.yearMonthDate[this.selectIndex]= time.substr(0,10);
                }
            }
        },
    },
    created(){
        var dt = timetrans(new Date().setMonth( new Date().getMonth()- 3 )/1000 + 24*60*60 ).y.split('-')
        if (this.defaultMinDate) {
            this.minDate= new Date(this.defaultMinDate)
        } else {
            this.minDate= new Date(dt[0], dt[1]-1, dt[2])
        } 
        let time=this.timetrans(new Date()/1000).y;
        this.yearMonth[0]= time.substr(0,7);
        this.yearMonthDate=this.date;
        this.currentDate=new Date(this.yearMonthDate[0]);
    },
    props:{
        //当前选择的日期
        date:{
            type:Array,
            default: () => [],
        },
        dateShow:{
            type:Boolean,
            default: false, 
        },
        isSelectMonth:{
            type:Boolean,
            default: false, 
        },   
        defaultMinDate: {
            type: String,
            default: ''
        }
    },

    methods: {
        timetrans,
        //切换时间
        changeTime(index){
            this.selectIndex=index;
            this.currentDate=this.yearMonthDate[index]?new Date(this.yearMonthDate[index].replace(/-/g,'/')):new Date();
        },
        //确认
        confirm(){
            if(!this.isSelectMonth){
                if((this.yearMonthDate[0]&&!this.yearMonthDate[1])||(!this.yearMonthDate[0]&&this.yearMonthDate[1])){
                    this.$toast({
                        message: `${this.i18n.bixuan}`,
                        duration: 1500,
                    });
                    return
                }else if(new Date(this.yearMonthDate[0])>new Date(this.yearMonthDate[1])){
                    this.$toast({
                        message: `${this.i18n.daxiao}`,
                        duration: 1500,
                    });
                    return
                }else if(new Date(this.yearMonthDate[1]) - new Date(this.yearMonthDate[0]) > 30*24*3600*1000 ){
                    this.$toast({
                        message: this.i18nCom.max30days,
                        duration: 1500,
                    });
                    return
                }  
            }
            let date=this.isSelectMonth?this.yearMonth:this.yearMonthDate;
            if(date.length==0){
                date=[getNDate(29),getNDate(0)]
            }
            this.$emit("confirm",date)
        },
        //取消选择
        cancelSelect(){
            this.$emit("cancel")
        },
        //切换日期选择类型
        changeType(){
            if(this.isSelectMonth){
                this.currentDate=this.yearMonthDate[this.selectIndex]?new Date(this.yearMonthDate[this.selectIndex].replace(/-/g,'/')):new Date();
            }else{
                this.currentDate=this.yearMonth[0]?new Date(this.yearMonth[0]):new Date();
            }
            this.$emit('changeSelectMonth', this.isSelectMonth?false:true)
        },
        clear(){
            if(this.isSelectMonth){
                this.yearMonth=[];
            }else{
                this.yearMonthDate=[];
            }
        }
    },
};
</script>
<style lang="less">
.date-model{
    &.van-overlay{
        background: rgba(0, 0, 0, 0.6);
        top: 87px;
    }
    &.van-popup--top{
        background: #2B2F35;
        top: 87px;
    }
    .select-title{
        display: flex;
        justify-content: space-between;
        align-content: center;
        height: 52px;
        padding: 12px 16px;
        .date-type{
            width: 96px;  
            height: 28px;
            line-height: 28px;
            border-radius: 14px;
            background: rgba(255, 255, 255, 0.1);
            font-size: 12px;
            color: #FFFFFF;
            display: flex;
            justify-content: center;
            i{
                display: inline-block;
                width: 28px;
                height: 28px;
                background-size: 16px 16px;
                background-repeat: no-repeat;     
                background-position: center;
            }
        }
        .date-operating{
            display: flex;
            align-content: center;
             .date-confirm{
                width: 52px;
                height: 28px;
                background-image: linear-gradient(132deg, #1DDAFF 0%, #0095FF 100%);
                border-radius: 14px;
                font-size: 14px;
                color: #FFFFFF;
                text-align: center;
                line-height: 28px;
                display: block;
            }
            .clear {
                font-size: 14px;
                position: relative;
                margin-right: 16px;
                color: #FFFFFF;
                opacity: 0.6;
                line-height: 28px;
                &::before {
                    content: '';
                    background-image: url("~@/assets/images/common/common-clear.png");
                    background-size: cover;
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    left: -20px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
      
    }
    .show-date{
        height: 36px;
        line-height: 36px;
        padding: 0 16px;
        display: flex;
        .date-to{
            font-size: 16px;
            color: #FFFFFF;
            width: 40px;
            text-align: center;
        }
        input{
            border: none;
            border-radius: 0;
            width: 147px;
            font-size: 16px;
            text-align: center;
            background: transparent;
            border-bottom:1px solid rgba(255, 255, 255, 0.06);
            color: #fff;
        }
        .select{
            color: #0095FF;
            border-bottom:1px solid #0095FF;
        }
    }
    .show-month{
        padding: 0 16px;
        height: 36px;
        line-height: 36px;
        display: flex;
        input{
            width: 100%;
            font-size: 16px;
            text-align: center;
            background: transparent; 
            color: #0095FF;
            border: none;
            border-bottom:1px solid #0095FF;
            border-radius: 0;
        }
    }
    .select-date{
       
       .van-picker{
            background: #2B2F35;
            .van-picker-column__item{
                color: rgba(255, 255, 255, 0.4);    
            }
            .van-picker-column__item--selected{
                font-size: 16px;
                color: #fff;
                // height: 35.2px !important;
                
            }
            .van-picker__mask{
                background: transparent;
            }
                 [class*=van-hairline]:after {
                        border: none;
                    }
       }
    }
}
</style>
