<template>
    <div class="notice">
        <van-sticky :offset-top="0">
            <div class="dj-common-nav-header">
                <div class="left" @click="goBack">
                    <i class="common-go-back"></i>
                </div>
                <div class="nav-title">{{i18n.guide}}</div>
            </div>
        </van-sticky>
        <common-not-data
            class="not-account-data"
            :title="i18n.zanwu"
            :subTitle="i18n.zanwutishi"
            backgroundImg="not-data-notice"
            paddingTop="44px"
            v-show="list.length==0" 
        ></common-not-data>
        <div class="guide-list" v-if="!show">
            <div class="item-box" @click="showGuide(item)" v-for="(item, key) in list" :key="key">
                <img class="cover" :src="require(`@/assets/images/guide/${ImgType?item.img:item.img2}`)" >
                <!-- <img v-else class="cover" :src="require(`@/assets/images/guide/${item.img}`)" > -->
                <div class="des">{{ item.des }}</div>
            </div>
        </div>
        <div class="guide-container">
            <guide ref="guide" @closeGuide="closeGuide" :withHead="true" :beginStep="beginStep" :endStep="endStep"/>
        </div>
    </div>
</template>
<script>
import commonNotData from "@/views/common/commonNotData";
import guide from "@/views/guide";
export default {
    components: { commonNotData, guide },
    data() {
        return {
            orderList: [],
            list: [
                {
                    des: this.$t('userPage.guide.gongneng'),
                    img: 'side1.png',
                    img2: 'side1en.png',
                    beginStep: 1,
                    endStep: 8,
                },
                {
                    des: this.$t('userPage.guide.junei'),
                    img: 'side3.png',
                    img2: 'side3en.png',
                    beginStep: 9,
                    endStep: 12,
                },
                {
                    des: this.$t('userPage.guide.championSummon'),
                    img: 'side4.png',
                    img2: 'side4en.png',
                    beginStep: 13,
                    endStep: 21,
                }
            ],
            show: false,
            beginStep: 1,
            endStep: 99,
            i18n: this.$t('userPage.guide'),
        };
    },
    computed: {
        ImgType () {
            let languageType = localStorage.getItem('language') || 'cn';
            if(languageType == 'cn' || languageType == 'zh') {
                return true
            } else {
                return false
            }
        }
    },
    methods: {
        goBack() {
            this.$router.go(-1);
        },
        showGuide({beginStep, endStep}) {
            this.show = true;
            this.beginStep = beginStep;
            this.endStep = endStep;
            this.$nextTick( () => {
                this.$refs.guide.showGuide();
            });
        },
        closeGuide(){
            this.show = false;
        }
    },
};
</script>
<style lang="less">
.notice {
    background: #272C32;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .guide-list {
        padding: 16px;
        height: calc(100% - 50px);
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        .item-box {
            margin-right: 15px;
            height: 306px;
            &:nth-of-type(2n){
                margin-right: 0;
            }
            .cover{
                width: 164px;
                height: 260px;
            }
            .des{
                font-size: 12px;
                color: #FFFFFF;
                text-align: center;
                font-weight: 400;
                margin-top: 8px;
                margin-bottom: 24px;
                width: 164px;
            }
        }
    }
    .guide-container{
        width: 100%;
        height: calc(100% - 50px);
        position: relative;
        .footer-btn{
            top: 74px;
        }
    }
}
</style>
