<template>
    <div class="user ">
        <div class="user-head user-head-bg">
            <p class="user-logo" @click="routerPush({path:'./selectAvatar'})">
                <i :class="userAvatar"></i>
            </p>
            <p class="user-name">
                <span>{{$t('userPage.tabMenu.Welcome')}}</span>
                <van-popover v-model="usernamePopup" theme="dark" trigger="click">
                    <span class="popover">{{ userInfo.act }}</span>
                    <template #reference>
                        <span class="ellipsis name">{{ userInfo.act }}</span>
                    </template>
                </van-popover>
            </p>
            <p class="user-balance DIN">{{  Math.formatAmount(userInfo.balance) }}</p>
        </div>
        <ul class="user-content">
            <template v-for="(item, index) in meun">
                <li
                    v-if="item.icon != 'user-activity' || (activityEntrance && languageType)"
                    :key="index"
                    class="item-list"
                    @click="routerPush(item)"
                >
                    <p class="name">
                        <i :class="item.icon"></i>
                        {{ item.name }}
                    </p>
                    <p class="select">
                        <span v-if="item.icon == 'user-language'" class="lang-wrap">
                            <img :src="langBg" class="lang-bg" alt="">
                            <span>{{curLang}}</span>
                        </span>
                        <i class="common-icon-right icon-right"></i>
                    </p>
                </li>
            </template>
        </ul>

        <div class="theme-toggle" @click="openThemeToggle()" v-if="theme_status">
            <i></i>
            {{ i18n.theme.themeToggle}}
        </div>
        <van-dialog v-model="showThemeToggle" get-container="body" :showConfirmButton="false">
            <themeToggle @closeThemeToggle="showThemeToggle = false"/>
        </van-dialog>
    </div>
</template>
<script>
import { mapState,mapGetters} from "vuex";
import i18n from "@/assets/i18n/index.js"

import themeToggle from "@/views/user/themeToggle.vue";
import * as userApi from "@/api/user.js";

const meun = [
    { name: i18n.t('userPage.tabMenu.historyOrder'), path: "/historyOrder", icon: "user-bet" },
    { name: i18n.t('userPage.tabMenu.accountChange'), path: "/accountChange", icon: "user-account-change" },
    { name: i18n.t('userPage.tabMenu.notice'), path: "/notice", icon: "user-notice" },
    { name: i18n.t('userPage.tabMenu.rules'), path: "/rules", icon: "user-rules" },
    { name: i18n.t('userPage.tabMenu.guide'), path: "/guide", icon: "user-guide" },
    { name: i18n.t('userPage.tabMenu.activity'), path: "/operateActivity", icon: "user-activity" },
    {
        name: i18n.t('userPage.tabMenu.selectLanguage'),
        path: "/selectLanguage",
        icon: "user-language",
    },
    // {
    //     name: "选择盘口",
    //     path: "./selectHandicap",
    //     icon: "user-handicap",
    //     select: "香港盘",
    // },
];
import {langMap} from "@/assets/i18n/index.js";
export default {
    data() {
        let localLangId = localStorage.getItem('language') || 'cn';
        // 修复老版本本地保存的key值不对应
        if (!langMap[localLangId]) {
            localStorage.language = 'cn'
        }
        return {
            meun,
            langMap,
            usernamePopup: false,
            theme_status: false,
            showThemeToggle: false,
            i18n: this.$t('userPage'),
        };
    },
    props:['closeUser'],
    computed: {
        ...mapState({
            userInfo: (state) => state.user.userInfo,
        }),
        ...mapGetters(["userAvatar","activityEntrance"]),

        curLang(){
            let localLangId = localStorage.getItem('language') || 'cn';
            return this.langMap[localLangId].title
        },
        // 语言类型
        languageType(){
            return (localStorage.getItem('language') || 'cn') == 'cn'
        },
        langBg(){
            let localLangId = localStorage.getItem('language') || 'cn';
            return require(`@/assets/images/common/lang-${localLangId}.png`)
        }
    },


    components: { themeToggle },

    created(){
        this.getThemeStatus();
    },

    methods: {
        getThemeStatus(){
            userApi.getThemeStatus().then(res => {
                if(res.data.status == 'true') {
                    this.theme_status = res.data.data.theme_status == 1
                }
            }).catch(err => {
                console.error(err)
            })
        },

        openThemeToggle(){
            this.showThemeToggle = true
        },

        routerPush(item) {
            const {path} = item;
            let tab = 28; // 头像更换入口及头像更换界面的点击统计
            switch(path){
                case "/historyOrder":
                    // 历史注单入口及历史注单详情页的点击次数统计
                    tab = 30;
                    break;
                case "/accountChange":
                    // 账变记录入口及账变记录详情页的点击次数统计
                    tab = 31;
                    break;
                case "/notice":
                    // 查看公告入口及查看公告详情页的点击次数统计
                    tab = 32;
                    break;
                case "/rules":
                    // 玩法规则入口及玩法规则详情页的点击次数统计
                    tab = 33;
                    break;
            }
            // this.$store.commit("SET_TRACK", { tab, page: 4 });
            this.$emit('closeUser');
            this.$router.push({ path });
        },
    }
};
</script>
<style lang="less">
.user-center-popup {
  background: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(36px);
    z-index: -1;
  }
}
.user-cente-overlay {
  background-color: transparent;
}
.user {
    height: 100%;
    width: 100%;
    overflow: hidden;
    .user-head {
        height: 194px;
        text-align: center;
        color: #fff;
        display: flex;
        flex-direction: column;
        padding: 24px 0;
        .user-logo {
            width: 72px;
            height: 72px;
            margin: 0 auto;
            border-radius: 50%;
            position: relative;
             box-sizing: border-box;
            border: 2px solid #0095ff;
            i {
                width: 77px;
                height: 77px;
                display: inline-block;
                position: absolute;
                top: -10px;
                left: -4px;
                bottom: 5px;
                right: 0;
            }
        }
        .user-name {
            font-size: 14px;
            color: rgba(255, 255, 255, 0.6);
            line-height: 20px;
            padding-top: 14px;
            display: flex;
            justify-content: center;
            .name{
                display: inline-block;
                text-align: left;
                max-width: 154px;
            }
        }
        .user-balance {
            font-size: 20px;
            color: #e7bb02;
            line-height: 28px;
        }
    }
    .user-content {
        height: calc(100% - 194px);
        padding-left: 23px;
        padding-bottom: 10px;
        overflow-y: auto;
        .item-list {
            width: 100%;
            height: 56px;
            color: #fff;
            border-bottom: 1px solid rgba(255, 255, 255, 0.06);
            display: flex;
            align-items: center;
            font-weight: normal;
            justify-content: space-between;
            .name {
                display: flex;
                align-items: center;
                font-size: 16px;
                i {
                    width: 24px;
                    height: 24px;
                    display: inline-block;
                    margin-right: 16px;
                }
            }
            .select {
                display: flex;
                align-items: center;
                font-size: 14px;
                color: rgba(225, 225, 225, 0.6);
                .icon-right {
                    width: 16px;
                    height: 16px;
                    display: inline-block;
                    margin-right: 20px;
                    margin-left: 8px;
                }
                .lang-wrap{
                    display: flex;
                    align-items: center;
                    .lang-bg{
                        width: 24px;
                        height: 24px;
                        margin-right: 8px;
                    }
                }
            }
        }
        @supports not (backdrop-filter: blur()){
            background-image: url("~@/assets/images/home/home-bg.jpg");
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    .theme-toggle {
        height: 28px;
        line-height: 28px;
        padding: 0 10px;
        border-radius: 100px;
        background: linear-gradient(90deg, #3E65FF 0%, #10B9C3 100%);
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 12px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        cursor: pointer;
        i {
            height: 14px;
            width: 14px;
            background: url("~@/assets/images/common/theme-toggle.png") no-repeat center;
            background-size: contain;
            margin-right: 4px;
        }
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){ 
    .user-center-popup {
        background: #252c35;
    }
}
</style>
