<!--一键强制刷新弹窗-->
<template>
    <div class="shadow" v-if="kickOutVisble">
        <div class="kickout-container">
            <div class="bg">
                <div class="title">{{ $t("userPage.systemHint.hint" ) }}</div>
                <div class="des">{{ $t("userPage.systemHint.enforceRefreshDes" ) }}</div>
            </div>
            <div class="btn" @click="closeDialog">{{ $t("userPage.systemHint.getIt" ) }}</div>
        </div>
    </div>
</template>
  
<script>
  import { mapGetters} from "vuex";

  export default {
    name: 'kickOut',
    data() {
      return {
        kickOutVisble: false,
      }
    },
    computed: {
        ...mapGetters([
            'kickOut',
        ]),
    },
    watch:{
        kickOut(event){
            this.kickOutVisble = true;
        }
    },
    methods: {
      // 关闭提示弹窗
      closeDialog() {
        this.kickOutVisble = false;
        location.reload();
      },
    }
  }
  
</script>
<style scoped lang="less">
  .shadow {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 150;
    z-index: 800000 !important;
    .kickout-container{
        width: 320px;
        height: 320px;
        .bg{
            background-image: url("~@/assets/images/user/kickout.png");
            background-size: contain;
            width: 320px;
            height: 266px;
            position: relative;
            .title{
                position: absolute;
                top: 81px;
                right: 27px;
                font-size: 20px;
            }
            .des{
                position: absolute;
                top: 168px;
                width: 100%;
                height: 78px;
                line-height: 1.5;
                padding:5px 20px;
                font-size: 13px;
                display: flex;
                align-items: center;
            }
        }
        .btn{
            margin-top: 15px;
            width: 320px;
            height: 40px;
            background: url("~@/assets/images/user/btn-bg.png") no-repeat;
            background-size: cover;
            line-height: 40px;
            text-align: center;
            font-size: 18px;
        }
    }
  }
</style>