<template>
    <div class="notice">
        <van-sticky :offset-top="0">
            <div class="dj-common-nav-header">
                <div class="left" @click="goBack">
                    <i class="common-go-back"></i>
                </div>
                <div class="nav-title">{{i18n.notice}}</div>
            </div>
        </van-sticky>
        <div class="date"  @click="showSelectDateModel">
            {{showDate ? showDate : $t('history.index.date')}}
            <i class="common-calendar"></i>
        </div>
        <datetime-picker
            :date="selectDate"
            :dateShow="dateShow"
            :isSelectMonth="isSelectMonth"
            :defaultMinDate="minDate"
            @confirm="confirmTime"
            @changeSelectMonth="changeSelectMonth"
            @cancel="cancelFn"
        >
        </datetime-picker>
        <van-dropdown-menu  class="notice-nav-dropdown">
            <van-dropdown-item ref="vanDropDownMenu" :title="typeActiveName">
                <div class="nav-content">
                    <div :class="['nav-btn', {active: typeActive === item.id}]"
                         @click="typeSelected(item)"
                         v-for="item in gameList"
                         :key="item.id">
                        <div class="game_logo">
                            <span class="logo game-logo-sprite" :class="logoCls(item.id)"></span>
                        </div>
                        <span class="game_name">{{ item.name }}</span>
                    </div>
                </div>
            </van-dropdown-item>
        </van-dropdown-menu>
        <common-not-data
            class="not-account-data"
            :title="i18n.zanwu"
            :subTitle="i18n.zanwutishi"
            backgroundImg="not-data-notice"
            paddingTop="44px"
           v-show="!loading&&list.length==0" 
        ></common-not-data>
        <van-list
            v-model="loading"
            :finished="finished"
            :finished-text="!loading&&list.length==0 ? '' : i18n.null"
            @load="onLoad"
            class="notice-list"
            loading-text="loading..."
        >
            <div class="item-box" v-for="(item,key) in list" :key="key">
                <p class="time">
                    {{ timetrans(item.time || 0).y }}
                    {{ timetrans(item.time || 0).d }}:{{ timetrans(item.time || 0).s }}
                </p>
                <div class="item">
                    <div class="name-row">
                        <span class="game-logo">
                             <span :class="['logo', 'game-logo-sprite' , logoCls(item.game_id) ]" > </span>
                        </span>
                        <span class="title" v-html="formatNoticeTitle(item.title)">
                        </span>
                    </div>
                    <div :class="['detail-row',!item.showAll?'text-ellipsis':'']" v-html="item.content.indexOf('<') !== -1?item.content:ubb2html(item.content)">
                    </div>
                    <div class="handle">
                        <div class="tip" v-if="item.top">{{i18n.attention}}</div>
                        <div class="button-row">
                            <span @click="item.showAll=!item.showAll">{{!item.showAll ? i18n.chakanxiangqing : i18n.shouqi}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </van-list>
    </div>
</template>
<script>
import commonNotData from "@/views/common/commonNotData";
import { timetrans,ubb2html,getNDate,getLastMonthTime } from "@/assets/scripts/utils";
import datetimePicker from "@/views/user/datetimePicker";
import * as userApi from "@/api/user.js";
import i18n from "@/assets/i18n/index.js"
import {mapGetters} from "vuex";
const typeMenu = [
    { type: 'type', value: "", label: i18n.t('historyOrder.typeMenu.all') },
    { type: 'type', value: "1", label:i18n.t('historyOrder.typeMenu.single') },
    { type: 'type', value: "2", label:i18n.t('historyOrder.typeMenu.cross') },
    { type: 'match_type', value: "2", label: i18n.t('historyOrder.typeMenu.guanjun') },
    { type: 'type', value: "4", label: i18n.t('historyOrder.typeMenu.fuhe')},
    { type: 'type', value: "3", label: i18n.t('historyOrder.typeMenu.junei') },
    { type: 'match_type', value: "7", label: i18n.t('historyOrder.typeMenu.zuqiu') },
];
export default {
    components: { commonNotData, datetimePicker },
    data() {
        const preMonthDay = getLastMonthTime(new Date(getNDate(0)));
        const preMonth = preMonthDay + ' 00:00:00'
        return {
            orderList: [],
            loading: false,
            finished: false,
            fliter: {
                page: 1,
                page_size: 20,
            },
            list: [],
            type: "",
            i18n: this.$t('userPage.notice'),
            dateShow: false,
            isSelectMonth: false,
            showDate: `${preMonthDay} ${this.$t('historyOrder.index.zhi')} ${getNDate(0)}`,
            selectDate: [preMonth,getNDate(0)],//已选择的日mi
            filterDate: [],//筛选日期
            minDate: preMonth,
            typeMenu,
            typeActive: 0,
            typeActiveName: this.$t('common.mixins.all'),
        };
    },
    computed: {
        gameList() {
            return [
                ...this.$store.getters.gameList,
                ...this.$store.getters.slotGameList,
            ]
        }
    },
    created() {
        this.getList();
    },
    methods: {
        timetrans,
        ubb2html,
        onLoad() {
            // 加载状态结束
            this.loading = false;
                this.fliter.page++;
                this.getList();
        },
        goBack() {
            this.$router.go(-1);
        },
        confirmTime(date){
            this.dateShow=false
            this.selectDate=date;
            if(date.length==1){
                this.showDate=`${date[0]}`;
                let nowMonth=this.timetrans(new Date()/1000).y.substr(0,7);
                let nowDate=this.timetrans(new Date()/1000).y.substr(8,9);
                let day='';
                if(nowMonth==date[0]){
                    day=nowDate
                }else{
                    day=new Date(date[0].substr(0,4), date[0].substr(5,7), 0).getDate()
                }
                this.filterDate=[`${date[0]}-01 00:00:00`,`${date[0]}-${day} 23:59:59`]
            }else if(date.length==2){
                this.showDate=`${date[0]} ${this.$t('historyOrder.index.zhi')} ${date[1]}`;
                this.filterDate=[`${date[0]} 00:00:00`,`${date[1]} 23:59:59`]
            }else{
                this.showDate='';
                this.filterDate=['','']
            }
            this.getList(true);
        },
        cancelFn(){
            this.dateShow=false;
        },
        changeSelectMonth(data){
            this.isSelectMonth=data;
        },
        showSelectDateModel(){
            this.dateShow=true;
        },
        typeSelected(type) {
            this.typeActiveName = type.name;
            this.typeActive = type.id;
            this.$refs.vanDropDownMenu.toggle();
            this.getList(true);
        },
        getList(reload = false) {
            this.loading=true;
            let filter={...this.filter};
            let filterDate = {
                start_time: this.selectDate[0] + ' 00:00:00',
                end_time: this.selectDate[1] + ' 23:59:59',
            }
            if (this.filterDate.length) {
                filterDate.start_time = this.filterDate[0]
                filterDate.end_time = this.filterDate[1]
            }

            userApi
                .requestNoticeList({
                    ...this.filter,
                    game_id: this.typeActive,
                    ...filterDate
                })
                .then((res) => {
                    this.loading=false;
                    this.finished = true 
                    if (res.data.status == "true") {
                        let list = res.data.data.d || [];
                        if (reload) {
                            const _list = []
                            list.forEach(element => {
                                _list.push({
                                    ...element,
                                    showAll:false
                                })
                            });
                            this.list = _list
                        } else {
                            let data = list.forEach(element => {
                                this.list.push({
                                    ...element,
                                    showAll:false
                                });
                            });
                        }
                        
                        if(list.length>=20){
                            this.finished = false
                        }
                    }
                });
        },

        formatNoticeTitle(title) {
            // 公告标题替换换行符 <br/>
            return title.replace(/<br(\/>|>)/g, '');
        }
    },
};
</script>
<style lang="less">
.notice {
    background: #272C32;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .date{
        position: absolute;
        z-index:99;
        line-height: 38px;
        right:16px;
        color: rgba(255, 255, 255, 0.6);
        display: flex;
        font-size: 12px;
        align-content: center;
        i{
            display: inline-block;
            width: 16px;
            height: 38px;
            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-position: center;
            margin-left: 6px;
        }
    }
    .nav-content {
        
        margin: 0;
        background: #2B2F35;
        padding: 8px;
        display: flex;
        flex-wrap: wrap;

        .nav-btn {
            display: flex;
            background: rgba(255,255,255,0.04);
            color: rgba(255, 255, 255, 0.6);
            font-size: 12px;
            width: 29%;
            height: 32px;
            line-height: 32px;
            text-align: center;
            border-radius: 5px;
            border: 1px solid rgba(255,255,255,0.20);
            margin: 6px calc(13% / 6);
            padding: 0 4px 0 8px;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            &.active{
                background: rgba(0,149,255,0.30);
                border: 1px solid #0095FF;
                color: #FFFFFF;
            }

            .game_name {
                text-align: left;
                width: calc(100% - 20px);
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .game_logo {
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 4px;
                // margin: 4px auto 0;
                .logo {
                    display: inline-block;
                    width: 120px;
                    height: 120px;
                    transform-origin: 0 0;
                    transform: scale(20/120);
                }
            }
        }
    }
    .notice-nav-dropdown {
        height: 38px;
        background: #3A424A;
        flex-shrink: 0;
        // width: 43.73333vw;

        .van-dropdown-menu__bar {
            background: transparent;
            box-shadow: none;
            height: 38px;

            .van-dropdown-menu__item {
                justify-content: flex-start;
                padding-left: 16px;
            }

            .van-dropdown-menu__title {
                color: #ffffff;
                font-size: 14px;
                max-width: 70px;
            }
        }

        .van-popup {
            background: transparent;
            overflow-y: auto;
            overflow-x: hidden;
        }
    }
    .notice-list {
        padding: 0 16px;
        height: calc(100% - 50px);
        overflow-y: auto;
        .time{
            color: rgba(255, 255, 255, 0.6);
            font-size: 12px;
            line-height: 17px;
            text-align: center;
            padding-bottom: 8px;
            padding-top: 16px;
        }
        .item-box {
            .item {
                border: #fde1e11a 1px solid;
                position: relative;
                background: rgba(255, 255, 255, 0.06);
                border-radius: 8px;
                padding: 16px 12px 12px 12px;
                .name-row{
                    font-size: 18px;
                    padding-bottom: 12px;
                    line-height: 20px;
                    color: #fff;
                    font-size: 16px;
                    word-break: break-all;
                    display: flex;

                    .game-logo{
                        width: 16px;
                        height: 16px;
                        margin-right: 8px;
                        padding-top: 2px;
                        .logo{
                            display: block;
                            width: 120px;
                            height: 120px;
                            transform-origin: 0 0;
                            transform: scale(16/120);
                        }
                    }
                    .title{
                        flex: 1;
                        user-select: text;
                    }
                }
                .detail-row {
                    font-size: 14px;
                    line-height: 22px;
                    color: rgba(255, 255, 255, 0.6) !important;
                    word-wrap: break-word;
                    user-select: text;
                    *{
                        user-select: text;
                    }
                    &>*{
                        word-wrap: break-word; 
                        word-break: normal;
                        width: 100%; 
                        font-size: 14px !important;
                        letter-spacing: 0px !important;
                        background-color: transparent !important;
                        color: rgba(255, 255, 255, 0.6) !important;
                    }
                    strong{
                        font-weight: normal !important;
                    }
                }
                .text-ellipsis{
                    width: 100%; 
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    max-height: 70px;
                    -webkit-box-orient: vertical;
                     &>*{
                        width: 100%;
                        max-height: 70px; 
                        overflow: hidden;
                        text-overflow: ellipsis;
                        display: -webkit-box;
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                    }
                }
                .handle{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 6px;
                    .tip{
                        font-size: 12px;
                        color: #FF4B34;
                        font-weight: 400;
                        background: rgba(255,75,52,0.10);
                        border: 1px solid #FF4B34;
                        border-radius: 2px;
                        width: 72px;
                        height: 24px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .button-row{
                        color: #0095FF;
                        flex: 1;
                        text-align: right;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
</style>
