<!--
 * @Author: Supermark
 * @Date: 2022-03-29 11:12:42
 * @Description: 告知用户多久后系统维护的弹窗
-->
<template>
  <div class="system-hint" @click.self="closeDialog">
    <div class="fixed-center">
      <div :class="reminderBg"></div>
      <div class="txt-info">
        <div class="dear-user">{{ $t("userPage.systemHint.dearUser" )}}</div>
        <!-- 系统将在M分钟后进入维护 -->
        <p>{{ $t("userPage.systemHint.systemPerfor").replace(/{}/,excessTime) }}</p>
        <!-- 知道了 -->
        <p class="know" @click="closeDialog">{{ $t("userPage.systemHint.confrim") }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'reminder',
   props: ["excessTime"],
  data() {
    return {
    }
  },
  computed: {
    // 提示弹窗背景图
    reminderBg(){
      let languageType = localStorage.getItem('language') || 'cn';
      if(languageType == 'cn' || languageType == 'zh'){
        return 'reminder-expires'
      }
      if(languageType == 'vi'){
        return 'reminder-vietnam'
      }
      if(languageType == 'en'){
        return 'reminder-english'
      }
    },
  },
  methods: {
    // 关闭提示弹窗
    closeDialog() {
      this.$emit('closeDialog')
    },
  }
}

</script>
<style scoped lang="less">
.system-hint {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 150;
    z-index: 800000 !important;
  .fixed-center{
    position: relative;
    padding-top: 123px;
    width: 290px;
    border-radius: 18px;
    background-color: #FFFFFF;
    .reminder-expires {
      position: absolute;
      top: -6%;
      right: -7.6%;
      width: 334px;
      height: 140px;
      background-image: url("~@/assets/images/user/reminder-expires.png");
      background-size: 100% 100%;
    }
    .reminder-vietnam {
      position: absolute;
      top: -6%;
      right: -7.6%;
      width: 334px;
      height: 140px;
      background-image: url("~@/assets/images/user/reminder-vi.png");
      background-size: 100% 100%;
    }
    .reminder-english {
      position: absolute;
      top: -6%;
      right: -7.6%;
      width: 334px;
      height: 140px;
      background-image: url("~@/assets/images/user/reminder-en.png");
      background-size: 100% 100%;
    }
    .txt-info {
      padding-bottom: 20px;
      background-color: #FFFFFF;
      border-radius: 0 0 6px 6px;

      p:not(:last-child) {
        margin: 0 26px 10px 36px;
        position: relative;
        font-size: 14px;
        color: #666666;
        line-height: 20px;
        &:after {
          content: "";
          display: block;
          position: absolute;
          width: 5px;
          height: 5px;
          left: -7px;
          top: 6.5px;
          transform: translateX(-50%);
          border-radius: 50%;
          background-image: linear-gradient(-45deg, #666666 0%, #D6D6D6 100%);
        }
      }
    }
    .dear-user {
      margin-left: 26px;
      margin-bottom: 14px;
      font-size: 18px;
      color: #333333;
      height: 30px;
      line-height: 30px;
      font-weight: 600;
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 34px;
        height: 3px;
        left: 43px;
        transform: translateX(-50%);
        border-radius: 1.5px;
        background-image: linear-gradient(270deg, #4EA0F8 0%, rgba(78,160,248,0.00) 100%);
      }
    }
    .know {
      background-image: linear-gradient(0deg, #F7F8F8 0%, #E3E3E3 31%, #FFFFFF 100%);
      border: 1px solid #D3D3D3;
      width: 159px;
      height: 43px;
      line-height: 43px;
      margin: 0 auto;
      margin-top: 26px;
      text-align: center;
      font-size: 16px;
      color: #333333;
      border-radius: 21.5px;
      font-weight: 600;
    }
  }
}
</style>