<template>
    <div class="rules">
        <van-sticky :offset-top="0" ref="ruleHeader">
            <div class="dj-common-nav-header">
                <div class="search-input" v-if="showSearchInput">
                    <div class="input-content">
                        <i class="input-search"></i>
                        <input 
                            :placeholder="keywordsSearchPlaceholder" 
                            type="text" 
                            class="input"
                            v-model="rulesKeyWrods"
                            @keyup="changeRulesKeyWords"
                        >
                        <i v-show="rulesKeyWrods" class="input-del" @click="rulesKeyWrods = ''"></i>
                    </div>
                    <div class="input-btn" @click="delSearch">{{cencelSearch}}</div>
                </div>
                <template v-else>
                    <div class="left" @click="goBack">
                        <i class="common-go-back"></i>
                    </div>
                    <div class="nav-title">{{i18n.youxiguize}}</div>
                    <div class="search-btn">
                        <i class="search-icon" @click="showSearchInput = true"></i>
                    </div>
                </template>
            </div>
        </van-sticky>
        <div class="contents">
        <van-tabs
            @change="changeTab"
            @click="changeTab"
            scrollspy
            sticky
            :offset-top="49" >
            <van-tab v-for="(tab,index) in tabList" :key="index" :name="tab.key" :title="tab.value" class="content" >

                 <div class="basic-rule" v-if="index === 0">
                        <p class="button"> {{ tabList[0].value  }} </p>
                        <div 
                            class="rule-des"
                            v-html="keyLight(basicRule, rulesKeyWrods)">
                        </div>
                    </div>
                    <div class="championBet-rule" v-if="index === 1">
                        <p class="button"> {{ tabList[1].value  }} </p>
                        <div 
                            class="rule-des"
                            v-html="keyLight(championBet, rulesKeyWrods)">
                        </div>
                    </div>
                    <div class="cross-rule" v-if="index === 2">
                        <p class="button"> {{ tabList[2].value  }} </p>
                        <div 
                            class="rule-des"
                            v-html="keyLight(cross, rulesKeyWrods)">
                        </div>
                    </div>
                    <div class="live-rule" v-if="index === 3">
                        <p class="button"> {{ tabList[3].value  }} </p>
                        <div 
                            class="rule-des"
                            v-html="keyLight(live, rulesKeyWrods)">
                        </div>
                    </div>
                    <div class="ESportsSettlementRules-rule" v-if="index === 4">
                        <p class="button"> {{ tabList[4].value  }} </p>
                        <div 
                            class="rule-des"
                            v-html="keyLight(ESportsSettlementRules, rulesKeyWrods)">
                        </div>
                    </div>
                    <div class="gameShows-rule" v-if="index === 5">
                        <p class="button"> {{ tabList[5].value  }} </p>
                        <div 
                            class="rule-des"
                            v-html="keyLight(gameShows, rulesKeyWrods)">
                        </div>
                    </div>
                    <div class="gamePlay-rule" v-if="index === 6">
                        <p class="button"> {{ tabList[6].value  }} </p>
                        <div v-for="(rule,index) in gamePlay" :key="index"  class="game-content">
                            <p class="game-title"><i :class="rule.icon"></i>{{rule.title}}</p>
                            <p v-html="keyLight(rule.value, rulesKeyWrods)" class="game-des"></p>
                        </div>
                    </div>
                    <div class="gameHostPlay-rule" v-if="index === 7">
                        <p class="button"> {{ tabList[7].value  }} </p>
                        <div v-for="(rule,index) in zhuboPan" :key="index"  class="game-content">
                            <p class="game-title">{{rule.title}}<i :class="rule.icon" v-if="rule.icon"></i></p>
                            <p v-html="keyLight(rule.value, rulesKeyWrods)" class="game-des"></p>
                        </div>
                    </div>
            </van-tab>
        </van-tabs>
        </div>
    </div>
</template>
<script>

import lodash from "lodash";
import i18n from "@/assets/i18n/index.js"
let tabList = [
    { key: 0, value: i18n.t('rulesPage.tabMenu.jibenguize') },
    { key: 1, value: i18n.t('rulesPage.tabMenu.guanjuntouzhu') },
    { key: 2, value: i18n.t('rulesPage.tabMenu.chuanguan') },
    { key: 3, value: i18n.t('rulesPage.tabMenu.gunqiu') },
    { key: 4, value: i18n.t('rulesPage.tabMenu.jiesuanguize') },
    { key: 5, value: i18n.t('rulesPage.tabMenu.wanfashuoming') },
    { key: 6, value: i18n.t('rulesPage.tabMenu.youxiwanfa') },
    // { key: 7, value: i18n.t('rulesPage.tabMenu.zhubowanfa') },
];

let basicRule = i18n.t('rulesPage.basicRule');  
let championBet = i18n.t('rulesPage.championBet');
let cross = i18n.t('rulesPage.cross');
let live = i18n.t('rulesPage.live');
let ESportsSettlementRules = i18n.t('rulesPage.ESportsSettlementRules');    
let gameShows = i18n.t('rulesPage.gameShows'); 
let gamePlay = i18n.t('rulesPage.gamePlay');
let zhuboPan = i18n.t('rulesPage.zhuboPan');
let keywordsSearchPlaceholder = i18n.t('rulesPage.keywordsSearch');
let cencelSearch = i18n.t('homePage.searchInput').cancel;

export default {
    data() {
        return {
            tabList,
            basicRule,
            championBet,
            cross,
            live,
            gameShows,
            gamePlay,
            zhuboPan,
            ESportsSettlementRules,
            active: 0,
            i18n: this.$t('rulesPage.tabMenu'),
            showSearchInput: false, // 是否显示搜索框
            rulesKeyWrods: "", // 被搜索得关键字
            keywordsSearchPlaceholder,
            cencelSearch,
        };
    },
    mounted() {
    },
    watch:{
        rulesKeyWrods(v){
            this.$nextTick( () => {
                const dom = document.querySelector(".key-light");
                if(dom){
                    document.querySelector('.contents').scrollTo({
                        top: dom.offsetTop - 100
                    })
                }
            })
        }
    },
    methods: {
        goBack() {
            this.$router.go(-1);
        },
        // 设置防抖快速切换导致页面奔溃 问题：手势切换0.3s
        changeTab: lodash.debounce(function(item){
            // 玩法规则入口及玩法规则详情页的点击次数统计
            // this.$store.commit("SET_TRACK", { tab: 33, page: 4 });
            this.active = item;
        }, 300),

        delSearch(){
            this.showSearchInput = false;
            this.rulesKeyWrods = "";
        },

        // 关键字搜索变高亮文字
        keyLight(element, key){
            let sText = element;
            if( key ){
                const sKey = "<span class='key-light'>"+key+"</span>";
                let num = -1;
                const rStr = new RegExp(key, "g");
                const rHtml = new RegExp("\<.*?\>","ig"); //匹配html元素
                const aHtml = sText.match(rHtml); //存放html元素的数组
                sText = sText.replace(rHtml, '{~}');  //替换html标签
                sText = sText.replace(rStr,sKey); //替换key
                sText = sText.replace(/{~}/g,function(){  //恢复html标签
                    num++;
                    return aHtml[num];
                });
            }
            return sText
        },
        // 禁止输入.符号
        changeRulesKeyWords(){
            this.rulesKeyWrods = String(this.rulesKeyWrods).replace(/\./g , '')
        },
    },
};
</script>
<style lang="less">
.rules {
    background: #272C32;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    .key-light{
        background-color:  #E7BB02;
        color: #FFFFFF !important; 
    }
    .dj-common-nav-header{
        position: relative;
        .search-btn{
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            width: 49px;
            height: 49px;
            display: flex;
            align-items: center;
            justify-content: center;
            .search-icon{
                width: 24px;
                height: 24px;
                background: url("~@/assets/images/common/search.png") no-repeat center;
                background-size: cover;
            }
        }
        .search-input{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 49px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 12px;
            .input-content{
                width: 307px;
                height: 24px;
                background: rgba(255,255,255,0.06);
                border: 1px solid rgba(240,240,240,0.40);
                border-radius: 12px;
                padding: 0 12px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .input-search{
                    width: 16px;
                    height: 16px;
                    background: url("~@/assets/images/common/search.png") no-repeat center;
                    background-size: cover;
                }
                .input{
                    flex: 1;
                    background-color: transparent;
                    font-size: 12px;
                    color: #FFFFFF;
                    margin: 0 8px;
                    user-select: auto; // 修复ios safari无法输入内容
                    &::-webkit-input-placeholder {
                        color: rgba(255,255,255,0.4);
                        font-size: 12px;
                    }
                }
                .input-del{
                    width: 16px;
                    height: 16px;
                    background: url("~@/assets/images/common/common-close-small.png")
                        no-repeat center;
                    background-size: cover;
                }
            }
            .input-btn{
                font-size: 14px;
                color: #FFFFFF;
            }
        }
    }
    .van-tabs__nav{
        height: 38px;
        background: #3A424A;
        .van-tab{
            font-size: 14px;
            color: rgba(225, 225, 225, 0.6);
            height: 40px !important;
        }
        .van-tab--active{
            color: #0095FF;
            font-size: 14px;
        }
        .van-tabs__line{
            background-color: #0095FF;
            bottom:10px !important;
        }  
    }
    [class*=van-hairline]:after{
        display: none !important;
    }
    .contents{
        height: calc(100% - 50px);
        overflow-y: auto;
        .van-sticky--fixed {
            top: 49px !important; // 修复vant UI此属性无法自适应
        }
    }
    .content {
        padding:0 16px;
        font-size: 14px;
        line-height: 20px;
        color: rgba(225, 225, 225, 0.6);
        .button {
            background-image: linear-gradient(135deg, #1ddaff 0%, #0095ff 100%);
            font-size: 14px;
            border-radius: 16.5px;
            color: #ffffff;
            display: inline-block;
            min-width: 80px;
            height: 28px;
            text-align: center;
            line-height: 28px;
            margin: 16px 0;
            padding: 0 12px;
        }
        .rule-des{
            font-size: 14px;
            h1{
                line-height: 20px;
                margin-bottom: 12px; 
                font-size: 14px;   
            }
            p{
                    color: rgba(255,255,255, 0.6);
                    font-size: 14px;
                    color: #FFFFFF;
                    line-height: 20px;
                    font-weight: 400;
                }
                .item{
                    //&:not(:last-of-type){
                        margin-bottom: 16px;
                    //}
                    .item-title{
                        font-size: 16px;
                        color: #FFFFFF;
                        font-weight: 400;
                        margin-bottom: 4px;
                    }
                    .item-content{
                        font-size: 14px;
                        color: rgba(255,255,255, 0.6);
                        font-weight: 400;
                        p{
                            color: rgba(255,255,255, 0.6);
                        }
                    }
                }
        }
        .gamePlay-rule{
 
            .game-content{
               background: rgba(225, 225, 225, 0.04);
               margin-bottom: 24px;
               border-radius: 4px;
               .game-title{
                    font-size: 16px;
                    height: 40px;
                    line-height: 40px;
                    color: #FFFFFF;
                    padding-left: 14px;
                    background: rgba(225, 225, 225, 0.1);
                    border-radius: 8px 8px 0px 0px;
                    display: flex;
                    align-items: center;
                    i{
                        width: 24px;
                        height: 24px;
                        display: inline-block;
                        margin-right: 8px;
                    }
                } 
                .game-des{
                    padding: 16px 12px;
                    border-radius: 0px 0px 4px 4px;
                    p{
                        font-size: 14px;
                        color: rgba(255,255,255, 0.6);
                        line-height: 20px;
                        font-weight: 400;
                        .label{
                            font-weight: 600;
                        }
                    }
                }
            }
            .game-content:last-child{
                margin-bottom: 0;
            }
        }
        .gameHostPlay-rule {
            font-size: 14px;
            margin-bottom: 18px;
            .title{
                color: #fff !important;  
                line-height: 26px !important;
            }
            .game-title{
                font-size: 16px;
                height: 40px;
                line-height: 40px;
                color: #FFFFFF;
                display: flex;
                align-items: center;
                i{
                    width: 24px;
                    height: 24px;
                    display: inline-block;
                    margin-left: 3px;
                }
            }
            .game-des{
                border-radius: 0px 0px 4px 4px;
                p{
                    font-size: 14px;
                    color: rgba(255, 255, 255, 0.6);
                    line-height: 20px;
                    font-weight: 400;
                    .label{
                        font-weight: 600;
                    }
                }
               
            }
            .rules-image{
                margin: 8px 0 4px 0;
            }
            .rules1{
                width: 343px;
                height: 34px;
                background-image: url("~@/assets/images/rules/rules-1.jpg");
                background-size: cover;
            }
            .rules2{
                width: 343px;
                height: 209px;
                background-image: url("~@/assets/images/rules/rules-2.jpg");
                background-size: cover;
            }
            .rules3{
                width: 343px;
                height: 216px;
                background-image: url("~@/assets/images/rules/rules-3.jpg");
                background-size: cover;
            }
            .rules4{
                width: 343px;
                height: 126px;
                background-image: url("~@/assets/images/rules/rules-4.jpg");
                background-size: cover;
            }
            .rules5{
                width: 343px;
                height: 239px;
                background-image: url("~@/assets/images/rules/rules-5.jpg");
                background-size: cover;
            }
            .rules6{
                width: 343px;
                height: 203px;
                background-image: url("~@/assets/images/rules/rules-6.jpg");
                background-size: cover;
            }
            .rules7{
                width: 343px;
                height: 256px;
                background-image: url("~@/assets/images/rules/rules-7.jpg");
                background-size: cover;
            }
            .rules8{
                width: 343px;
                height: 223px;
                background-image: url("~@/assets/images/rules/rules-8.jpg");
                background-size: cover;
            }
            .rules9{
                width: 343px;
                height: 163px;
                background-image: url("~@/assets/images/rules/rules-9.jpg");
                background-size: cover;
            }
            .rules10{
                width: 343px;
                height: 194px;
                background-image: url("~@/assets/images/rules/rules-10.jpg");
                background-size: cover;
            }
            .rules11{
                width: 343px;
                height: 171px;
                background-image: url("~@/assets/images/rules/rules-11.jpg");
                background-size: cover;
            }
            .rules12{
                width: 343px;
                height: 192px;
                background-image: url("~@/assets/images/rules/rules-12.jpg");
                background-size: cover;
            }
        }
    }
}
</style>
