<template>
    <div class="language">
        <van-sticky :offset-top="0">
            <div class="dj-common-nav-header">
                <div class="left" @click="goBack">
                    <i class="common-go-back"></i>
                </div>
                <div class="nav-title">{{ $t('userPage.selectLanguage.title') }}</div>
            </div>
        </van-sticky>
        <div class="item-box" v-for="(item,key) in typeList" :key="key" @click="selectFn(key)">
            <div class="item">
                <img :src="key | langBg" class="lang-bg" alt="">
                <p class="title-row">
                    {{item.title}}
                </p>
                <!-- <p class="sub-title-row">
                     {{item.subTitle}}
                </p> -->
            </div>
            <p class="common-select-icon common-select" v-if="key==language">
            </p>
        </div>
    </div>
</template>
<script>
import * as userApi from "@/api/user.js";
import {langMap} from "@/assets/i18n/index.js";

export default {
    data() {
        let localLangId = localStorage.getItem('language') || 'cn';
        // 修复老版本本地保存的key值不对应
        if (!langMap[localLangId]) {
            this.language = 'cn'
            localStorage.language = 'cn'
        }
        return {
            typeList: langMap,
            language: localLangId,
        };
    },
    created() {
        
    },
    methods: {
        goBack() {
            this.$router.go(-1);
        },
        selectFn(language) {
            userApi.langSet({'lang': language}).then(res => {
                this.language = language;
                localStorage.language = language;           
                location.reload()
           }).catch(err => {
               console.error(err)
            })
        },
    },
    filters:{
        langBg(val){
            return require(`@/assets/images/common/lang-${val}.png`)
        }
    }
};
</script>
<style lang="less">
.language {
    background: #272C32;
    min-height: 100%;
        .item-box {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom:1px solid rgba(255, 255, 255, 0.06);
            padding: 16px;
            .item {
                height: 30px;
                display: flex;
                align-items: center;
                .title-row{
                    font-size: 16px;
                    line-height: 30px;
                    color: #fff;
                }
                .lang-bg{
                    width: 24px;
                    height: 24px;
                    margin-right: 16px;
                }
            }
            .common-select-icon{
                width: 24px;
                height: 24px; 
            }
        }
    
}
</style>
