<template>
    <div class="handicap">
        <van-sticky :offset-top="0">
            <div class="dj-common-nav-header">
                <div class="left" @click="goBack">
                    <i class="common-go-back"></i>
                </div>
                <div class="nav-title">选择语言</div>
            </div>
        </van-sticky>
        <div class="item-box" v-for="item in typeList" :key="item.value">
            <div class="item">
                <p class="title-row">
                    {{item.title}}
                </p>
                <p class="sub-title-row">
                     {{item.subTitle}}
                </p>
            </div>
            <p class="common-select-icon common-select" v-if="item.value==type">
            </p>
        </div>
    </div>
</template>
<script>
const typeList = [
    { value: 1, title: "欧洲盘", subTitle:'结算金额=本金*赔率，含本金一起结算'},
    { value: 2, title: "香港盘", subTitle:'结算金额=本金+本金*赔率'},
];
import { timetrans } from "@/assets/scripts/utils";
import * as userApi from "@/api/user.js";
export default {
    data() {
        return {
            typeList,
            type: 2,
        };
    },
    created() {
    },
    methods: {
        goBack() {
            this.$router.go(-1);
        },
    },
};
</script>
<style lang="less">
.handicap {
    background: #272C32;
    min-height: 100%;
        .item-box {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom:1px solid rgba(255, 255, 255, 0.06);
            padding: 16px;
            .item {
                 height: 43px;
                .title-row{
                    font-size: 16px;
                    line-height: 22px;
                    color: #fff;
                }
                .sub-title-row{
                    line-height: 17px;
                    font-size: 12px;
                    padding-top: 4px;
                    color: rgba(255, 255, 255, 0.6);
                }
            }
            .common-select-icon{
                width: 24px;
                height: 24px; 
            }
        }
    
}
</style>
