<template>
    <div class="avatar">
        <van-sticky
            class="header select-avatar-bg"
            :class="isScroll && 'title-bj'"
            :offset-top="0">
            <span class="back common-go-back" @click="goBack"> </span>
            <span class="title" v-if="isScroll">{{i18n.changeAvatar}}</span>
            <span class="confirm" @click="confirm">{{i18n.confirm}}</span>
        </van-sticky>
        <div class="content"  ref="content" @scroll="getScroll">
            <div class="avatar-header select-avatar-bg">
                <div class="user-avatar">
                    <i :class="userAvatar"></i>
                </div>
                <p class="avatar-title">{{i18n.nowAvatar}}</p>
            </div>
            <div class="avatar-list ">
                <p class="avatar-list-title">{{i18n.selectAvatar}}</p>
                <div class="item-box">
                    <div
                        :class="['item', { avatarActive: item.select }]"
                        @click="changeAvatar(index)"
                        v-for="(item, index) in avatarList"
                        :key="index"
                    >
                        <i :class="item.avatar"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from "vuex";
var avatarList = [
    {
        select: false,
        avatar: "avatar01",
    },
    {
        select: false,
        avatar: "avatar02",
    },
    {
        select: false,
        avatar: "avatar03",
    },
    {
        select: false,
        avatar: "avatar04",
    },
    {
        select: false,
        avatar: "avatar05",
    },
    {
        select: false,
        avatar: "avatar06",
    },
    {
        select: false,
        avatar: "avatar07",
    },
    {
        select: false,
        avatar: "avatar08",
    },
    {
        select: false,
        avatar: "avatar09",
    },
    {
        select: false,
        avatar: "avatar10",
    },
    {
        select: false,
        avatar: "avatar11",
    },
    {
        select: false,
        avatar: "avatar12",
    },
    {
        select: false,
        avatar: "avatar13",
    },
    {
        select: false,
        avatar: "avatar14",
    },
    {
        select: false,
        avatar: "avatar15",
    },
    {
        select: false,
        avatar: "avatar16",
    },
    {
        select: false,
        avatar: "avatar17",
    },
    {
        select: false,
        avatar: "avatar18",
    },
    {
        select: false,
        avatar: "avatar19",
    },
    {
        select: false,
        avatar: "avatar20",
    },
];
export default {
    data() {
        return {
            orderList: [],
            loading: false,
            finished: false,
            fliter: {
                page: 1,
                page_size: 20,
            },
            avatarList,
            type: "",
            isScroll:false,
            i18n: this.$t('userPage.selectAvatar'),
        };
    },
    computed: {
        ...mapGetters(["userAvatar"]),
    },
    created() {
        this.clearSelect();
        let $index = this.avatarList.findIndex(
            (e) => e.avatar == this.userAvatar
        );
        this.avatarList[$index].select = true;
    },
    mounted() {
        window.addEventListener('scroll', this.getScroll);
    },
    destroyed(){
        window.removeEventListener('scroll', this.getScroll);
    },
    methods: {
        goBack() {
            this.$router.go(-1);
        },
        // 切换头像
        changeAvatar(index) {
            this.clearSelect();
            this.avatarList[index].select = true;
        },
        confirm() {
            // 头像更换入口及头像更换界面的点击统计
            // this.$store.commit("SET_TRACK", { tab: 28, page: 4 });
            let $index = this.avatarList.findIndex((e) => e.select == true);
            this.$store.commit(
                "SET_USER_AVATAR",
                this.avatarList[$index].avatar
            );
            this.$toast({
                message: this.i18n.success,
                duration: 1500,
            });
        },
        //监听滚动
        getScroll(){
            if (this.$refs.content.scrollTop > 0){            
                this.isScroll=true
            }else{
                this.isScroll=false
            }
        },
        //清除选择
        clearSelect(){
            this.avatarList.forEach((element) => {
                element.select = false;
            });
        },
    },
};
</script>
<style lang="less">
.avatar {
    background: #272C32;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .header {
        width: 100%;
        height: 50px;
        padding: 0 16px;
        position: relative;
        display: flex;
        align-items: center;
        z-index: 1;
        background-position: bottom 70px right 50%;
        &.title-bj {
            background: #1E2329;
        }
        .title{
            width: 100px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
            color: #f0f0f0;
        }
        .back {
            width: 24px;
            height: 24px;
            position: absolute;
            left: 16px;
            top: 50%;
            transform: translateY(-50%);
        }
        .confirm {
            width: 52px;
            height: 28px;
            line-height: 28px;
            position: absolute;
            right: 16px;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            background-image: linear-gradient(132deg, #1ddaff 0%, #0095ff 100%);
            border-radius: 14px;
            font-size: 14px;
            color: #ffffff;
        }
    }
    .content {
        height: calc(100% - 50px);
        overflow-y: auto;
        width: 100%;
        .avatar-header {
            text-align: center;
            width: 100%;
            padding-top: 40px;
            background-position-x: center;
            background-repeat:no-repeat;
            background-position: bottom 74px right 50%;
            .user-avatar {
                width: 104px;
                height: 104px;
                margin: 0 auto;
                box-sizing: border-box;
                border: 2px solid #0095ff;
                border-radius: 50%;
                position: relative;
                i {
                    width: 112px;
                    height: 112px;
                    display: inline-block;
                    position: absolute;
                    top: -15.3px;
                    left: -5.3px;
                    bottom: 5px;
                    right: 0;
                }
            }
            .avatar-title {
                color: rgba(255, 255, 255, 0.6);
                font-size: 14px;
                padding-top: 12px;
                margin-bottom: 32px;
            }
        }
        .avatar-list {
            padding: 0 9.5px 20px 9.5px;
            .avatar-list-title {
                font-size: 16px;
                color: #ffffff;
                padding-left: 6.5px;
            }
            .item-box {
                display: flex;
                flex-wrap: wrap;
                .item {
                    background: rgba(255, 255, 255, 0.06);
                    border: 1px solid rgba(255, 255, 255, 0.1);
                    border-radius: 4px;
                    border-radius: 8px;
                    width: 76px;
                    height: 76px;
                    margin: 0 6.5px;
                    margin-top: 12px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i {
                        display: inline-block;
                        width: 65px;
                        height: 65px;
                    }
                    &.avatarActive {
                        border: 1px solid #1ddaff;
                        background: rgba(0, 149, 255, 0.1);
                        border-radius: 4px;
                    }
                }
            }
        }
    }
}
</style>
