<template>
    <div class="theme-toggle-content">
        <div class="theme-toggle-title">{{ i18n.themeToggle}}</div>
        <div class="common-close" @click="closeModal()"></div>
        <div class="theme-list">
            <div class="old" :class="{active: theme=='old_theme'}" @click="choose('old_theme')">
                <div class="title">{{ i18n.oldTheme}}</div>
                <div class="bg"></div>
                <div class="changeTheme" @click="changeTheme('old_theme')">{{ i18n.switchOldTheme}}</div>
            </div>
            <div class="new" :class="{active: theme=='new_theme'}" @click="choose('new_theme')">
                <div class="title">{{ i18n.newTheme}}</div>
                <div class="bg"></div>
                <div class="changeTheme" @click="changeTheme('new_theme')">{{ i18n.switchNewTheme}}</div>
            </div>
        </div>
    </div>
</template>

<script>
import * as userApi from "@/api/user.js";
export default {

    props: {
        layerid: {
            type: String,
            default: ""
        },
    },

    data(){
        return {
            theme: '',
            i18n: this.$t('userPage.theme'),
        }
    },

    created(){
        this.theme = sessionStorage.theme
    },

    methods: {
        choose(theme){
            this.theme = theme;
        },

        changeTheme(theme){
            userApi.themeSet(theme).then(res => {
                if(res.data.status == 'true') {
                    let originTheme = sessionStorage.theme;
                    let themeUrlParam = JSON.parse(sessionStorage.themeUrlParam)

                    let searchParam = sessionStorage.searchParam.replace(originTheme, theme)
                    let domain = theme == 'new_theme' ? themeUrlParam[1] : themeUrlParam[0];
                    let url = domain + searchParam;

                    window.location.href = url;
                }
            }).catch(err => {
                console.error(err)
            })
        },

        closeModal(){
            this.$emit('closeThemeToggle')
        }

    }
}
</script>

<style lang="less" scoped>
.theme-toggle-content {
    padding: 20px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background-color: rgba(24, 26, 33, 0.90);
    position: relative;
    
    .common-close {
        position: absolute;
        right: 16px;
        top: 16px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
    .theme-toggle-title {
        color: rgba(255, 255, 255);
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
        text-align: center;
        line-height: 22px;
    }
    .theme-list {
        width: 100%;
        &>div {
            background-repeat: no-repeat;
            background-size: contain;
            height: 140px;
            border-radius: 6px;
            border: 1px solid rgba(255, 255, 255, 0.05);
            background: rgba(255, 255, 255, 0.03);
            position: relative;


            &:first-child {
                margin-bottom: 10px;
            }

            .title {
                margin: 6px 0;
                color: #fff;
                font-size: 12px;
                width: 60%;
                text-align: center;
            }
            
            .bg {
                width: 60%;
                height: 100%;
                cursor: pointer;
                border: 1px solid transparent;
                position: absolute;
                top: 0;
                left: 0;
                background-size: contain;
                background-position: center bottom;
                background-repeat: no-repeat;
            }
            &.old .bg {
                background-image: url("~@/assets/images/theme/theme-bg-1.png");
            }

            &.new .bg {
                background-image: url("~@/assets/images/theme/theme-bg-2.png");
            }

            &.active{
                border: 1px solid #3E65FF;
                .changeTheme {
                    display: block;
                }
            }
            
            .changeTheme {
                display: none;
                width: fit-content;
                font-size: 12px;
                color: #fff;
                padding: 5px 10px;
                border-radius: 100px;
                background: linear-gradient(90deg, #3E65FF 0%, #10B9C3 100%);
                text-align: center;
                cursor: pointer;
                position: absolute;
                right: 22px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
</style>