<template>
    <div class="mk-number-keyboard" v-show="showKeyboard">
        <div class="top" v-if="hideArrow === 'top'">
            <div class="quick-wrap">
                <!-- <div
                    class="quick-tip"
                    v-show="doubleBetQuickConfirmDialog === false"
                    @click="enableQuickConfirm"
                >
                    <span>去开启</span>
                    <span class="quick-btn">立即投注确认弹窗</span>
                </div> -->
            </div>
            <div class="icon-wrap" @click="hide">
                <VanIcon name="arrow-down"></VanIcon>
            </div>
        </div>
        <NumberKeyboard
            v-model="inputValue"
            @blur="hide"
            :extra-key="extraKey"
            :show="showKeyboard"
            :transition="false"
            :hide-on-click-outside="false"
            @delete="onDelete"
        >
            <template v-if="hideArrow === 'bottom'" slot="extra-key">
                <span @click="hide">
                    <VanIcon name="arrow-down"></VanIcon>
                </span>
            </template>
            <template slot="extra-key">
                <span class="fenggefu">{{ numberKeyboardOrder!==2?'   ':'分隔符'}}</span>
            </template>
        </NumberKeyboard>
    </div>
</template>

<script>
import { mapState } from 'vuex'
import { NumberKeyboard } from 'vant'

export default {
    name: 'MKNumberKeyboard',
    props: {
        show: Boolean,
        value: String,
        numberKeyboardOrder: {
            type: Number,
            default: ()=>0,
        } ,
        autoHide: {
            type: Boolean,
            default: true,
        },
       noExtraSlot:{
            type:Boolean,
            default:false
        },
        hideArrow:{
            type:String,
            default:'top'
        },
    },
    components: {
        NumberKeyboard,
    },

    data() {
        return {
            showKeyboard: false,
            inputValue: '',
            extraKey:this.numberKeyboardOrder===2?';':''
        }
    },
    computed: {
        ...mapState({
            doubleBetQuickConfirmDialog: state => state.setting.betQuickConfirmDialog,
        }),
    },

    created() {
        if (this.numberKeyboardOrder === 2) {
            this.inputValue = String(this.value)
        }
        window.addEventListener('click', this.clickOutMe.bind(this), true)
    },

    methods: {
        hide() {
            // 避免tap穿透,触发单式的页面的几个按钮
            if (this.showKeyboard && this.autoHide) {
                this.showKeyboard = false
            }
        },

        clickOutMe(event) {
            if (!this.$el.contains(event.target)) {
                this.hide()
            }
        },

        enableQuickConfirm() {
            this.$store.commit('setBetQuickConfirmDialog', true)
            this.$toast('已开启立即投注确认弹框')
        },

        onDelete() {
            if(this.inputValue === '') {
                this.$emit('input', '')
            }
        }
    },

    watch: {
        showKeyboard(v) {
            // 同步到父组件
            this.$emit('update:show', v)
        },

        show: {
            handler(v) {
                // 同步到子组件
                this.showKeyboard = v
            },
            immediate: true,
        },

        value: {
            handler(v) {
                // 单式空格符可以输出“;”
                if (this.numberKeyboardOrder === 2) {
                    v = v.replace(/;/g, ' ')
                }
                this.inputValue = String(v)
            },
            immediate: true
        },

        inputValue(v) {
            // 单式空格符可以输出“;”
            if (this.numberKeyboardOrder === 2) {
                v = v.replace(/\s/g, ';')
            }
            this.$emit('input', v)
        },
        numberKeyboardOrder(v){
            if(v===2) {
                this.extraKey=";"
            }
        }
    },

    destroyed() {
        window.removeEventListener('click', this.clickOutMe.bind(this), true)
    },
}
</script>

<style lang="scss">
.mk-number-keyboard {
    position: relative;
    z-index: 1001;
    .fenggefu {
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .van-number-keyboard--default{
        background-color: #cfd3d9;
        padding: 0% 0% 2% 2%;
    }

    .top {
        height: (129px/3);
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        &:before {
            top: 0;
        }
        &:after {
            bottom: 0;
        }

        .icon-wrap {
            padding: 0 10px;
            color: #666666;
            font-size: 20px;
        }

        .quick-tip {
            color: #aaaaaa;
            font-size: 12px;
            display: flex;
            align-items: center;
        }

        .quick-btn {
            border: 1px solid #d7d7d7;
            padding: 2px;
            margin-left: 5px;
        }
    }
    .van-number-keyboard__body {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        &:after {
            position: absolute;
            left: 0;
            bottom: 0;
            // content: ' ';
            width: 100%;
            height: 1px;
            background-color: #ddd;
            transform: scaleY(0.5);
        }

        [class*='van-hairline']::after {
            display: inline-block;
        }
        [class*='van-hairline']:nth-child(1)::after,
        [class*='van-hairline']:nth-child(2)::after,
        [class*='van-hairline']:nth-child(3)::after {
            border-top: none;
        }
        [class*='van-hairline']:after {
            border: 0 solid #dfe2f2;
        }
        .van-key {
            // width: 30%;
            height: 42px;
            line-height: 42px;
            margin: 2% 2% 0 0;
            background-color: #fff;
            border-radius: 4px;
            box-shadow: 0 1px 0 0 #b7babf;
        }
        .van-key:after {
            // border-width: 1px 1px 0 0;
        }
    }
    .van-number-keyboard {
        position: relative;
        bottom: -1px;
        padding-bottom: 0px;
        color: #333333;
    }

    // 数字键盘样式覆盖
    .van-key--gray {
        background-color: #aab0bb !important;

        &.van-key--active {
            background-color: #f2f3f5;
        }
    }

    .van-key--delete {
        background: url(~@/assets/images/tese-lol/icon/chexiao@3x.png) no-repeat;
        background-color: #aab0bb !important;
        background-size: (72px/3) (52px/3);
        background-position: center;

        &.van-key--active {
            background-color: #f2f3f5;
        }
    }
}
</style>
