<template>
    <div
        class="double-fscheck-modal"
        :style="{
            maxHeight: checkModalHeight,
        }"
    >
        <div class="check-bet-fscontent modal-content" ref="modalContent" v-if="localBetData">
            <section>
                <div
                    class="section-body"
                    ref="sectionBody"
                    :style="`maxHeight:${checkContentHeight}`"
                >
                    <div class="sumary">
                        <div class="play-name">{{ playName }}</div>
                        <div class="right">
                            <span class="betnum">
                                {{bet.gong}}
                                <span class="important-color">{{ totalBets }}</span>
                                {{bet.zu}}
                            </span>
                            <span
                                :class="['drop-down', { show: showDetail }]"
                                @click="showDetail = !showDetail"
                            >
                                {{bet.zhankaimingxi}}
                                <VanIcon name="arrow-down"></VanIcon>
                            </span>
                        </div>
                    </div>

                    <div class="content" v-if="!showDetail">
                        {{ localBetData.list[0].playItemName }}
                    </div>
                    <div class="content" v-else>
                        <div class="header list-item">
                            <span class="id">{{bet.zuhao}}</span>
                            <span class="num">{{bet.haomazuhe}}</span>
                            <span class="money">{{bet.jine}}</span>
                        </div>

                        <List
                            class="combinate-list"
                            @load="onLoad"
                            :offset="10"
                            v-model="loading"
                            :finished="loadFinished"
                            :immediate-check="false"
                        >
                            <Cell
                                class="list-item"
                                v-for="(item, idx) of pagedCombinationList"
                                :key="idx"
                            >
                                <span class="id">{{ idx + 1 }}</span>
                                <span class="num">{{ item.join ? item.join(',') : item }}</span>
                                <span class="money">{{ amount }}</span>
                            </Cell>
                        </List>
                    </div>

                    <div class="amount">
                        <span>{{bet.meizujine}}</span>
                        <common-input
                            :value.sync="amount"
                            ref="commonInput"
                            selectText
                            class="plain-text"
                            container=".double-fscheck-modal"
                            @isOnfocus="setInputObj()"
                            @updateKeybordValue="updateKeybordValue($event)"
                        ></common-input>
                    </div>
                </div>
                <div ref="actionFoot">
                    <p class="section-footer">
                        <span class="section-footer--left">
                            <div class="row">
                                <span>
                                    <i class="important-color">1</i>
                                    {{$t('yxzh._orders')}}
                                    <i class="important-color">{{ totalBets }}</i>
                                    {{$t('yxzh.foot.zu')}}
                                </span>
                                <span>
                                    <i class="important-color">{{ totalAmount }}</i>
                                    {{$t('yxzh.foot.yuan')}}
                                </span>
                            </div>
                            <div class="row">{{$t('yxzh.wayMap.canWinAmount')}}:{{ profit }}</div>
                        </span>
                        <label @click="notShowConfirmDialog = !notShowConfirmDialog">
                            <span>{{bet.stopConfirm}}</span>
                            <span
                                class="commonCheckbox"
                                :class="[notShowConfirmDialog ? 'checked' : 'notChecked']"
                            >
                                <i v-if="notShowConfirmDialog" class="border-icon"></i>
                            </span>
                        </label>
                    </p>
                    <MKNumberKeyboard
                        ref="keyboard"
                        v-model="keyboardValue"
                        :show.sync="showNumberKeyboard"
                    ></MKNumberKeyboard>
                    <div class="modal-btns" ref="modalBtns">
                        <button
                            class="mk-button"
                            :class="{ disabled: mkButtonDisabled }"
                            @click="submit()"
                        >
                            {{$t('yxzh.wayMap.confirmBet')}}
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import combinate from '@/views/lottery/configure/mixin/combinate'
import winformate from '@/views/lottery/configure/mixin/winformate'
import { List, Cell } from 'vant'
import { calcWinMoney, format0ToMax,C } from '@/views/lottery/util'
import i18n from '@/assets/i18n'

const bet = i18n.t('yxzh.bet');

export default {
    mixins: [combinate, winformate],
    props: ['methodName', 'defaultMoney'],
    components: {
        List,
        Cell,
    },

    data() {
        // prettier-ignore
        return {
            bet,
            localBetData: null,
            showNumberKeyboard:false,
            mkButtonDisabled: true, // 提交按钮状态
            keyboardValue:'',
            minCheckModalHeight:'0px',
            checkModalHeight: '0px',
            checkContentHeight: '0px',
            showDetail: false,
            amount            : null,
            loading           : false,   // 列表数据发是否在加载
            showDetailLength  : 20,      // 目前展示的记录数
            showDetailPageSize: 20,      // 每页展示的大小
            loadFinished      : false,   // 数据是否加载完成
            betBallsNum:0,
        }
    },

    computed: {
        ...mapState({
            ticketId: state => state.lottery.ticketId,
            doubleDefaultAmount: state => state.lottery.doubleDefaultAmount,
            clearDoubleData: state => state.lottery.clearDoubleData,
            ticketInfo: state => state.lottery.ticketInfo,
            subCatalog: state => state.lottery.subCatalog,
            doubleSeries: state => state.lottery.doubleSeries,
        }),
        ...mapGetters(['isJKC']),
        doubleBetQuickConfirmDialog: {
            get() {
                return this.$store.state.setting.betQuickConfirmDialog
            },
            set(v) {
                this.$store.commit('setBetQuickConfirmDialog', v)
            },
        },
        notShowConfirmDialog: {
            get() {
                return !this.doubleBetQuickConfirmDialog
            },

            set(v) {
                this.doubleBetQuickConfirmDialog = !v
            },
        },
        doubleBetData: {
            get() {
                return this.$store.state.lottery.doubleBetData
            },
            set(v) {
                this.$store.commit('setDoubleBetData', v)
            },
        },

        totalBets() {
            return this.localBetData.totalBets
        },

        totalAmount() {
            return this.localBetData.totalAmount
        },

        profit() {
            let realOdds = 0
            let winValue = 0
            let fushiItem = {}
            let betBallsNum = 0
            this.localBetData.list &&
                this.localBetData.list.forEach(betItem => {
                    betBallsNum = betItem.betNum.split(/\s|,/).length
                    fushiItem = betItem
                    const { playItemOdds } = betItem
                    if (playItemOdds instanceof Array && playItemOdds && playItemOdds.length) {
                        // 获取最大的赔率
                        playItemOdds.forEach(oddsItem => {
                            if (oddsItem.odds > realOdds) {
                                realOdds = oddsItem.odds
                            }
                        })
                    } else {
                        realOdds = playItemOdds
                    }
                })
       
            if(this.cmv[this.subCatalog.playCode] ) {
                const configInfo = this.cmv[this.subCatalog.playCode]
                if(configInfo.limit && betBallsNum>=configInfo.limit ) {
                    betBallsNum = configInfo.limit 
                }
                if(typeof configInfo === 'string') {
                       return this[configInfo](fushiItem,betBallsNum)
                }
         
                if(!configInfo.fn) {
                    return Math.formatAmount3(fushiItem.defaultAmount * C(betBallsNum,configInfo.m)*fushiItem.playItemOdds-  fushiItem.amount, 3)
                } else {
                    return this[configInfo.fn](fushiItem,betBallsNum)
                }
            } else {
                return Math.formatAmount3(fushiItem.defaultAmount * this.localBetData.totalBets*realOdds-  fushiItem.amount, 3)
            }
           
            
        },
   
        isDataChanged() {
            const oldData = JSON.stringify(this.doubleBetData)
            const newData = JSON.stringify(this.localBetData)

            return oldData !== newData
        },

        // 排列组合
        combinationList() {
            const betNum = this.localBetData.list[0].betNum
            let ballNumArr
            if (betNum.indexOf('|') !== -1) {
                ballNumArr = betNum.split('|')
            } else if (betNum.indexOf(',') !== -1) {
                if (this.ticketInfo.ticketType === 'LHC') {
                    if (this.subCatalog.playCode === 'zixuanbuzhong') {
                        // 自选不中只有一组
                        return [betNum]
                    }
                    // 连肖 用的 ,分割
                    ballNumArr = [betNum.replace(/,/g, ' ')]
                } else {
                    ballNumArr = betNum.split(',')
                }
            } else {
                // 只有一个位置
                ballNumArr = [betNum]
            }

            if (
                this.ticketInfo.ticketType === 'LHC' &&
                (this.subCatalog.playCode.indexOf('lianxiao') !== -1 ||
                    this.subCatalog.playCode.indexOf('hexiao') !== -1)
            ) {
                ballNumArr = ballNumArr.map(ele => {
                    let balls = ele.split(' ')

                    balls = balls.map(ele => {
                        const idx = global.sxCode.indexOf(ele) // 生肖code的位置
                        const name = global.sxArray[idx]
                        return name
                    })

                    return balls
                })
            } else if (
                this.ticketInfo.ticketType === 'LHC' &&
                this.subCatalog.playCode.indexOf('lianwei') !== -1
            ) {
                ballNumArr = ballNumArr.map(ele => {
                    let balls = ele.split(' ')

                    balls = balls.map(ele => {
                        const name = global.lianweiMap[ele]
                        return name
                    })

                    return balls
                })
            } else {
                ballNumArr = ballNumArr.map(ele => ele.split(' '))
            }

            if (this.$el && !this.$el.clientHeight) {
                // 没有显示
                return []
            }

            return this.getCombinateListByPlay(ballNumArr, this.subCatalog)
        },

        pagedCombinationList() {
            return this.combinationList.slice(0, this.showDetailLength)
        },
        playName() {
            if (this.methodName) {
                return this.methodName
            } else if (
                this.localBetData.list &&
                this.localBetData.list[0] &&
                this.localBetData.list[0].playLocationName
            ) {
                return this.localBetData.list[0].playLocationName
                    .replace(/\|/g, ',')
                    .replace(/ /g, '')
            } else {
                return ''
            }
        },
    },

    created() {
        // 防止修改父级的betData对象
        this.localBetData = JSON.parse(JSON.stringify(this.doubleBetData))
        this.amount = this.defaultMoney

        const vm = this
        this.$listeners.setRightClick(() => {
            // 1. 假如数量超过了2， 提示是否清空
            if (vm.localBetData.list.length >= 2) {
                vm.$dialog
                    .confirm({
                        title: bet.qingkong,
                        message: bet.querenqingkong,
                    })
                    .then(() => {
                        vm.clearBetData()
                    })
                return
            }

            vm.clearBetData()
        })

        this.$listeners.setLeftClick(parent => {
            // 收起确认框 1. 若用户修改过”投注确认“的金额，导致金额跟底栏不一致。
            // 收起弹框后，会自动帮用户修正为统一的底栏金额，但会给出轻提示
            if (this.isDataChanged) {
                this.$toast(`${bet.jinetongyiwei}${this.doubleDefaultAmount}元`)
            }
            parent.hide()
        })

        // 初始化 列表状态
        if (this.showDetailLength >= this.combinationList.length) {
            this.loadFinished = true
        }
    },
    mounted() {
        this.initCheckModalHeight()
    },
    methods: {
        calcWinMoney,
        toggleModal() {
            if (this.doubleBetQuickConfirmDialog) {
                this.$dialog
                    .confirm({
                        title: bet.tingyong.title,
                        message: bet.tingyong.message,
                    })
                    .then(() => {
                        this.doubleBetQuickConfirmDialog = false
                        this.$emit('clearPlateData')
                    })
            } else {
                this.doubleBetQuickConfirmDialog = true
            }
        },

        submit() {
            if (this.mkButtonDisabled) {
                this.$toast(bet.needAmount)
                return
            }
            this.$emit(
                'onConfirm',
                Object.assign(this.localBetData, {
                    totalBets: this.totalBets,
                    totalAmount: this.totalAmount,
                    isJKC: this.isJKC,
                })
            )
            this.close()
        },
        setInputObj(inputObj, idx) {
            // show keyboard
            this.keyboardValue = String(this.amount)
            this.showNumberKeyboard = true
            this.$nextTick(() => {
                this.initCheckModalHeight()
            })
        },
        deleteBetItem(ballItem) {
            const list = this.localBetData.list
            const deletedIdx = list.indexOf(ballItem)
            if (deletedIdx !== -1) {
                list.splice(deletedIdx, 1)
            }

            // 假如已经没有投注内容了，则收起
            if (list.length === 0) {
                this.close()
            }

            this.$store.commit('setCancelSelectedBall', ballItem)
        },

        clearBetData() {
            this.$store.commit('setClearDoubleData', !this.clearDoubleData)
            this.close()
        },

        close() {
            this.$emit('close')
        },

        onLoad() {
            this.loading = true
            setTimeout(() => {
                this.showDetailLength += this.showDetailPageSize // 加载数据
                this.loading = false

                if (this.showDetailLength >= this.combinationList.length) {
                    this.loadFinished = true
                }
            }, 500)
        },

        changeEveryAmount() {
            this.localBetData &&
                this.localBetData.list.forEach(item => {
                    item.amount = this.amount * item.betCount
                })
        },

        changeAmount(val) {
            // 只能是数字
            val = val.replace(/[^\d]/g, '')
            this.amount = val || 1

            // 修改复式定单内的金额
            this.changeEveryAmount()

            this.$forceUpdate()
        },
        // 获取底部投注按钮的上边距与下边距(marginTop,marginBottom)
        getStyle(e, styleName) {
            let styleValue = ''
            if (document.defaultView && document.defaultView.getComputedStyle) {
                styleValue = document.defaultView
                    .getComputedStyle(e, '')
                    .getPropertyValue(styleName)
            } else if (e.currentStyle) {
                styleName = styleName.replace(/\-(\w)/g, function(strMatch, p1) {
                    return p1.toUpperCase()
                })
                styleValue = e.currentStyle[styleName]
            }
            return styleValue
        },
        initCheckModalHeight() {
            var h1 = document.querySelector('.mk-header').clientHeight
            var h2 = document.querySelector('.pop-modal .pop-header').clientHeight
            var h3 = this.$refs.actionFoot.offsetHeight
            var checkContentHeight = Number(window.innerHeight) - h1 - h2 - h3
            this.checkModalHeight = `${Number(window.innerHeight) - h1 - h2}px`
            this.checkContentHeight = `${checkContentHeight}px`
            if (checkContentHeight < 150) {
                this.checkModalHeight = `${Number(window.innerHeight) - h1 - h2 + 150}px`
                this.checkContentHeight = `${checkContentHeight + 150}px`
            }
        },
        updateKeybordValue($event) {
            this.$nextTick(() => {
                this.keyboardValue = $event
            })
        },
        checkDisabeld() {
            return !!this.amount
        },
    },

    watch: {
        amount(v) {
            // 修改投注数据
            let mkButtonDisabled
            if (this.checkDisabeld()) {
                mkButtonDisabled = false
            } else {
                mkButtonDisabled = true
            }
            setTimeout(() => {
                this.mkButtonDisabled = mkButtonDisabled
            }, 0)

            // 修改betList单项的 默认单注金额
            this.localBetData.list = this.localBetData.list.map(betItem => {
                return {
                    ...betItem,
                    amount: v * betItem.betCount,
                    defaultAmount: v,
                }
            })
            this.localBetData = {
                ...this.localBetData,
                totalAmount: v * this.totalBets,
            }
        },
        notShowConfirmDialog(val, oval) {
            if (val) {
                // this.$dialog
                //     .confirm({
                //         className: 'mk-dialog',
                //         title: '停用投注确认',
                //         message: '你可在页面上方的设置中心内再次打开',
                //         confirmButtonText: '停用',
                //     })
                //     .then(
                //         () => {
                //             this.$dialog.close()
                //         },
                //         () => {
                //             this.notShowConfirmDialog = false
                //         }
                //     )
            }
        },
        keyboardValue(v) {
            const MAX_DEFAULT_AMOUNT = 999999
            let isNeedSync = false
            if (/^[0]+/.test(v)) {
                v = v.replace(/^[0]+/, '')
                isNeedSync = true
            }
            if (Number(v) > MAX_DEFAULT_AMOUNT) {
                v = `${MAX_DEFAULT_AMOUNT}`
                isNeedSync = true
            }
            if (isNeedSync) {
                this.$nextTick(() => {
                    this.keyboardValue = v
                })
            }
            this.amount = v
        },
        showNumberKeyboard(v) {
            if (!v) {
                if (!this.amount) {
                    this.amount = '1'
                }
                this.$nextTick(() => {
                    this.keyboardValue = this.amount
                })
                if (this.$refs.commonInput && this.$refs.commonInput.isFocus) {
                    this.$refs.commonInput.onBlur()
                }
            }
            this.$nextTick(() => {
                this.initCheckModalHeight()
            })
        },
    },
}
</script>

<style lang="less">
.double-fscheck-modal {
    @include mk-modal;
    border-radius: 3px;

    .modal-content {
        padding: 0;
    }
    .modal-btns {
        padding: 5px 12px;
        // margin-top: 12px;
        //  margin-bottom: 34px;
        .mk-button {
            border-radius: 8px;
            background-image: linear-gradient(to left, #805fee, #4ec2fb);
            height: 42px;
            color: #fff;
            &.disabled {
                background-color: #e8e8e8;
                background-image: none;
                color: #bebebe;
            }
        }
    }
    .mk-number-keyboard {
        width: 100%;
        .van-number-keyboard {
            border-bottom: 1px solid #ddd;
        }
    }
}

.check-bet-fscontent {
    > section {
        .section-body {
            font-size: 14px;
            border-bottom: 1px solid #dfe2f2;
            color: #333333;
            li {
                display: flex;
                text-align: center;
                align-items: center;
                height: 60px;
                border-bottom: 1px solid #ebf0fb;
                & > span {
                    flex: 1;
                    &:nth-of-type(1) {
                        flex: 1;
                        text-align: left;
                        display: inline-block;
                        width: 140px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }
            }
            .color-black {
                color: black;
            }

            .content {
                padding-top: 16px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                .id {
                    flex: 1;
                }
                .num {
                    flex: 2;
                    word-break: break-all;
                }
                .money {
                    flex: 1;
                }
            }

            .combinate-list {
                max-height: 300px;
                overflow-x: hidden;
                overflow-y: auto;
            }
            .list-item {
                display: flex;
                padding: 5px 0;
            }

            .amount {
                display: flex;
                align-items: center;
                padding-top: 20px;
                padding-bottom: 20px;
                .plain-text {
                    margin-left: 10px;
                    border-radius: 5px;
                    box-shadow: inset 0px 1px 2px 0.1px rgba(104, 121, 180, 0.19);
                    border: solid 1px #d9ddf0;
                    background-color: #fbfcfd;
                    width: 92px;
                    height: 29px;
                }
            }

            .sumary {
                display: flex;
                .right {
                    padding-left: 16px;
                    .betnum {
                        color: #aaaaaa;
                    }

                    .drop-down {
                        display: none;
                        .van-icon {
                            transition: all 0.35s;
                        }
                        &.show {
                            .van-icon {
                                transform: rotate(-180deg);
                            }
                        }
                    }
                }
            }
            padding: 16px 10px 0px 16px;
        }
        .section-footer {
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            margin: 10px 0;
            font-size: 14px;
            align-items: center;

            &--right {
                font-size: 12px;
            }

            &--left {
                text-align: left;
            }
            padding: 16px 10px 0px 16px;
            > label {
                font-size: 0;
                color: #7c88a8;
                display: flex;
                line-height: 18px;
                height: 18px;
                align-items: center;
                > span {
                    align-self: center;
                    &:nth-of-type(1) {
                        font-size: 12px;
                    }
                }
                .commonCheckbox {
                    display: inline-block;
                    align-self: center;
                    width: 14px;
                    height: 14px;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    margin-left: 9px;
                    &.notChecked {
                        background-image: url(~@/assets/images/tese-lol/weixuanz@3x.png);
                    }
                    &.checked {
                        background-image: url(~@/assets/images/tese-lol/xuanzhong@3x.png);
                    }
                }
            }
            &> span{
                width: 90px;
            }
        }
    }
}
</style>
