<template>
    <div class="home">
        <pendant></pendant>
        <homeHead :showNotice="showNotice" />
        <van-tabs  
            class="match-tabs dj-tabs" 
            :active="dailyTab"
            :line-width="28"
            swipeable
            @change="changeTab"
            @click="changeTab" >
            
            <van-tab name="daily" >
                <template #title> <i> {{ i18nC.jinri }} </i> <b class="DIN"> {{ matchNum.today }} </b>  </template>
                <template v-if="dailyTab == 'daily'">
                    <gamaList />
                    <list-load v-show="matchLoading"/>
                    <daily v-show="!matchLoading" />
                </template>
            </van-tab>

            <van-tab name="live">
                <template #title> <i> {{ i18n.gunqiu }} </i> <b class="DIN"> {{ matchNum.live }} </b>  </template>
                <template v-if="dailyTab == 'live'">
                    <gamaList />
                    <list-load v-show="matchLoading"/>
                    <live v-show="!matchLoading" />
                </template>
            </van-tab>

            <van-tab name="early" class="early">
                <template #title> <i> {{ i18n.zaopan }} </i>  <b class="DIN"> {{ matchNum.early }} </b>  </template>
                <template v-if="dailyTab == 'early'">
                    <gamaList />
                    <datetime-picker v-model="earlyDateKey" allDays :keys="DateTimeKeys" />
                    <list-load v-show="matchLoading"/>
                    <early v-show="!matchLoading" :dateKey="earlyDateKey" />
                </template>
            </van-tab>

            <van-tab name="cross" class="cross-main">
                <template #title> <i> {{ i18n.chuanguan }} </i>  <b class="DIN"> {{ matchNum.complex }} </b>  </template>
                <template v-if="dailyTab == 'cross'">
                    <gamaList />
                    <datetime-picker v-model="crossDateKey" allDays :keys="DateTimeKeys" />
                    <list-load v-show="matchLoading"/>
                    <cross v-show="!matchLoading" :dateKey="crossDateKey"/>
                </template>
            </van-tab>

            <van-tab name="champion">
                <template #title> <i> {{ i18n.guanjun }} </i>  <b class="DIN"> {{ matchNum.champ }} </b>  </template>
                <template v-if="dailyTab == 'champion'">
                    <gamaList />
                    <list-load v-show="matchLoading"/>
                    <champion v-show="!matchLoading" />
                </template>
            </van-tab>

            <van-tab name="anchor" v-if="matchNum.anchor">
                <template #title> <i class="anchor-icon"> {{ i18n.zhubo }} </i>  <b class="DIN"> {{ matchNum.anchor }} </b>  </template>
                <template v-if="dailyTab == 'anchor'">
                    <list-load v-show="matchLoading"/>
                    <anchor v-show="!matchLoading" />
                </template>
            </van-tab>

            <!-- 虚拟体育 -->
            <!-- <van-tab  name="virtualSports" v-if="virtualGameShow && vSportMerchant">
                <template #title> <i class="virtual-sports-icon"> {{ i18n.sports }} </i> </template>
                <template v-if="dailyTab == 'virtualSports'">
                    <virtualSports/>
                </template>
            </van-tab> -->

            <van-tab  name="collect" >
                <template #title> <i> {{ i18n.shoucang }} </i>  <b class="DIN"> {{ collectLens }} </b>  </template>
                <template v-if="dailyTab == 'collect'">
                    <gamaList />
                    <collect />
                </template>
            </van-tab>

            <van-tab  name="endGame" class="end-game">
                <template #title> <i> {{ i18n.saiguo}} </i>   </template>
                <template v-if="dailyTab == 'endGame'">
                    <gamaList />
                    <datetime-picker
                        v-model="endGameDateKey"
                        :keys="DateTimeKeys"
                        allDays
                        dailyTab="endGame" />
                    <list-load v-show="matchLoading"/>
                    <endGame v-show="!matchLoading" v-if="resultType=='djMatch'" :dateKey="endGameDateKey" />
                    <sportsEndGame v-if="resultType=='VSoccer'" :dateKey="endGameDateKey" />
                </template>
            </van-tab>


        </van-tabs>
        <m-dialog></m-dialog>
        <endGameTips v-if="dailyTab == 'endGame' && showTips" @closeTips="closeTips"/>
        <div class="lottery-enter-container" v-drag v-if="!['38425828292093166', '38426215111328606'].includes(userInfo.merchant_id) && allShow">
            <van-swipe
                :autoplay="5000"
                :show-indicators="false"
                :touchable="false"
                ref="asiadCarousel"
            >
              <van-swipe-item v-if="isShowLotterEnter" >
                <img class="enter-icon" v-lazy="carousel_pictures[0]" @click.stop="goLottery(0)"/>
                <div class="enter-close" @click="closeEnter(0)"></div>
              </van-swipe-item>
              <!-- <van-swipe-item v-if="isShowAsianGamesEnter">
                <img class="enter-icon" v-lazy="['cn'].includes(language) ? carousel_pictures[1] : ['zh'].includes(language)?carousel_pictures[2] : carousel_pictures[3]"  @click.stop="goLottery(1)"/>
                <div class="enter-close" @click="closeEnter(1)"></div>
              </van-swipe-item> -->
            </van-swipe>
        </div>
        <div class="back_top" v-show="showBackTop" @click.stop="scrollTop('.match-tabs .van-tabs__content', true)">
            <span class="icon"> </span>
            <span class="words"> {{$t('homePage.top')}} </span>
        </div>
  </div>
</template>
<script>
import homeHead from "./components/homeHead";
import daily from "./components/daily";
import live from "./components/live";
import early from "./components/early";
import endGame from "./components/endGame";
import collect from "./components/collect";
import cross from "./components/cross";
import anchor from "./components/anchor";
import champion from "./components/champion"
import { mapGetters } from "vuex";
import datetimePicker from "./components/datetimePicker";
import { scrollTop } from "@/assets/scripts/utils"
import listLoad from "@/views/common/listLoad"
import lodash from "lodash";
import notice from "./components/notice.vue"
import gamaList from "./components/gamaList.vue"
import sportsEndGame from "./components/sportsEndGame";
import endGameTips from "./components/endGameTips.vue"
import mDialog from "./components/mDialog.vue"
import pendant from "./components/pendant.vue"
import moment from 'moment'
import { initLoL } from '@/assets/scripts/lolApiDomainRace.js'
import derections from "@/assets/scripts/directions";

const dishMeun = [
    { name: "今日", path: "daily", flag: 1, trackIndex: 6 },
    { name: "滚球", path: "live", flag: 3, trackIndex: 7 },
    { name: "早盘", path: "early", flag: 2, trackIndex: 8 },
    { name: "串关", path: "cross", flag: 4, trackIndex: 9},
    { name: "冠军", path: "champion", flag: 8, trackIndex: 13},
    { name: "主播", path: "anchor", flag: 7, trackIndex: 12},
    // { name: "虚拟体育", path: "virtualSports", flag: 10, trackIndex: 14},
    { name: "收藏", path: "collect", flag: 9, trackIndex: 10 },
    { name: "赛果", path: "endGame", flag: 5, trackIndex: 11},
];

export default {
    name: 'home',
    components: {
        listLoad,
        homeHead,
        daily, 
        live,
        early, 
        endGame, 
        collect, 
        cross,
        datetimePicker,
        anchor,
        // virtualSports,
        champion,
        notice,
        gamaList,
        sportsEndGame,
        endGameTips,
        mDialog,
        pendant
    },

    data() {
        return {
            showBackTop: false,
            earlyDateKey: 0,
            crossDateKey: 0,
            earlyDateTimeKeys: [
                { key: 0, date: 0 },
                { key: 1, date: -1 },
                { key: 2, date: -2 },
                { key: 3, date: -3 },
                { key: 4, date: -4 },
                { key: 5, date: -5 },
                { key: 6, date: -6 },
                { key: 7, date: -7 },

                { key: 8, date: -8 },
                { key: 9, date: -9 },
                { key: 10, date: -10 },
                { key: 11, date: -11 },
                { key: 12, date: -12 },
                { key: 13, date: -13 },
                { key: 14, date: -14 },
                { key: 999, date: this.$t('homePage.chooseDate.qitariqi') }
            ],
            // 轮播图片
            carousel_pictures: [
              require(`@/assets/images/common/lottery-enter.png`),
              require(`@/assets/images/asiad/entry-h5.png`),
              require(`@/assets/images/asiad/entry-h5-zh.png`),
              require(`@/assets/images/asiad/entry-h5-en.png`),
            ],
           
            endGameDateKey: 0,
            endGameDateTimeKeys: [
                { key: 0, date: 0 },
                { key: 1, date: 1 },
                { key: 2, date: 2 },
                { key: 3, date: 3 },
                { key: 4, date: 4 },
                { key: 5, date: 5 },
                { key: 6, date: 6 },
            ],
            showNotice: false,
            i18n: this.$t('homePage.tabMenu'),
            i18nC: this.$t('homePage.chooseDate'),
            showTips: !localStorage.getItem('notShowEndGameTips'),
            isShowLotterEnter: false,
            isShowAsianGamesEnter: false,
            language: localStorage.getItem('language') || 'cn',
        };
    },
    directives: { drag: derections.drag },
    computed:{
        ...mapGetters([
            'dailyTab',
            'collects',
            'matchNum',
            'matchLoading',
            'resultType',
            'userInfo',
            'virtualGameShow',
            'slotGameList'
        ]),

        // 未隐藏得赛事 开盘得赛事
        collectLens(){
            const lens = this.collects.filter( ele => ele.status == 5 && ele.visible );
            return lens.length;
        },
        // 屏蔽生产环境 ml bb 虚拟足球入口 ml:   76165668661774450 bb:   146072618898388514
        vSportMerchant(){
           return ![76165668661774450,146072618898388514].includes(this.userInfo.merchant_id);
        },
        // 早盘不展示今日数据
        DateTimeKeys(){
            let _dateTimeKeys = []
            if(this.dailyTab == 'early'){
                _dateTimeKeys = this.earlyDateTimeKeys.filter( ele => ele.key != 0 ); // 早盘过滤掉今日
                // _dateTimeKeys = this.earlyDateTimeKeys.slice(1,this.earlyDateTimeKeys.length);
            }else if(this.dailyTab == 'cross'){
                _dateTimeKeys = this.earlyDateTimeKeys;
            }else if(this.dailyTab == 'endGame'){
                _dateTimeKeys = this.endGameDateTimeKeys;
            }
            if (_dateTimeKeys[0].key !== -1) {
                _dateTimeKeys.unshift({ key: -1, date: this.$t('homePage.chooseDate.allriqi') })
            }
            console.log( _dateTimeKeys )
            return _dateTimeKeys
        },
        allShow(){
          let isShow = null;
          if(this.isShowLotterEnter){
            isShow = true
          }else if(this.isShowAsianGamesEnter){
            isShow = true
          }else{
            isShow = false
          }
          return isShow
        }
    },
  watch: {
        userInfo(v) {
            if (v) {
                this.isShowLotterEnter = this.getLotterEnterStatus()
            }
        },
        slotGameList(v) {
            this.isShowLotterEnter = this.getLotterEnterStatus()
        },
        matchNum:{
            handler(res){
                if(this.dailyTab == 'anchor' && res.anchor === 0 ){
                    this.changeTab('daily')
                }
            },
            immediate: true
        }
    },
    beforeRouteEnter (to, from, next) {
        next((vm) => {
            if(to.name == "home" && from.name == "markets"){
                const dom = document.querySelector(".match-tabs .van-tabs__content");
                dom.scrollTop = sessionStorage.matchScrollTop || 0;
            }
        })
    },

    beforeRouteLeave (to, from, next) {
        if(to.name == "markets" && from.name == "home"){
            const dom = document.querySelector(".match-tabs .van-tabs__content");
            sessionStorage.matchScrollTop = dom.scrollTop;
        }
        next();
    },

    mounted() {
        const dom = document.querySelector(".match-tabs .van-tabs__content")
        if (this.userInfo) {
            this.isShowLotterEnter = this.getLotterEnterStatus()
        }
        dom.addEventListener("scroll",(e)=>{
            const { scrollTop } = e.target
            this.showBackTop = scrollTop > 500;
            // if( scrollTop > 38 ){
            //     this.showNotice = false
            // }else{
            //     this.showNotice = true
            // }
        });
        
        setTimeout( () => {
            const rol  = document.querySelectorAll(".match-tabs .van-tab__text");
            rol.forEach( ele => {
                const i = ele.querySelectorAll("i")[0]
                const b = (ele.querySelectorAll("b") || [])[0];
                i && i.setAttribute("type", "range");
                b && b.setAttribute("type", "range");
                ele.setAttribute("type", "range")
            })
        })
    },
    methods: {
        scrollTop,
        goLottery(index) {
          if(index == 0){
            initLoL().then(()=>{
              this.$router.push(`/lottery`);
            })
          }else {
            this.$router.push("/asiad");
          }
        },
        getLotterEnterStatus() {
            const today = moment().format('YYYYMMDD')
            // 最近一次点击关闭日期
            const lastCloseTime = localStorage.getItem(`lotteryEnterCloseTime${this.userInfo.uid}`) || 0
            
            let openStatus = today != lastCloseTime
            const hero = this.slotGameList.find(item => String(item.id) == "10158428472914228")
            if (!(hero && Number(hero.is_open_entrance) === 0)) {
                openStatus = false
            }
            return openStatus
        },
        closeEnter(index) {
          if(index ==0){
            this.isShowLotterEnter = false
            localStorage.setItem(`lotteryEnterCloseTime${this.userInfo.uid}`, moment().format('YYYYMMDD'))
          }else{
            sessionStorage.setItem('ShowAsianGamesEnter',+new Date())
            this.isShowAsianGamesEnter = false
          }
        },
        goPage(path){
            // 公告点击次数统计
            // this.$store.commit("SET_TRACK", { tab: 3, page: 1 });
            this.$router.push({ path: path });
        },

        // 导航改变
        changeTab(item){
            console.log(item);
            //切换盘口统计
            let obj = dishMeun.find( ele => ele.path == item ) || {};
            // this.$store.commit("SET_TRACK", { tab: obj.trackIndex, page: 1 });
            this.$store.commit("SET_MATCH_LIST", []); // 清除上次的赛事列表
            this.$store.commit("SET_PAGE_SIZE", 30);
            
            this.scrollTop('.match-tabs .van-tabs__content');
            this.throttleTabs(item);
        },

        // 设置防抖快速切换导致页面奔溃 问题：手势切换0.3s
        throttleTabs: lodash.debounce(function(item){
            let obj = dishMeun.find( ele => ele.path == item ) || {};
            this.$store.commit("SET_DAILY_TAB", obj.path); // 切换赛事标签
            this.$store.commit("SET_MATCH_FLAG", obj.flag);
            gtag("event", "select_content", {
                content_type: obj.name,
                item_id: obj.path,
            });
        }, 500),
        closeTips(){
            this.showTips = false;
        }
    },
};
</script>

<style lang="less">
@import url("~@/assets/less/match.less");

.home {
    height: 100%;
    overflow: hidden;
    position: relative;
}
.lottery-enter-container {
    width: 100px;
    height: 120px;
    position: absolute;
    bottom: 110px;
    right: 5px;
    cursor: pointer;
    z-index: 99;
    .enter-icon {
        height: 120px;
        width: 100px;
        //background: url('~@/assets/images/common/lottery-enter.png') no-repeat;
        //background-size: 100%;
        z-index: 10;
        background: unset!important;
    }
    .enter-close {
        height: 20px;
        width: 20px;
        position: absolute;
        top: 8px;
        right: 8px;
        background: url('~@/assets/images/common/common-close-small.png') no-repeat;
        background-size: 100%;
        z-index: 12;
    }
}
.match-tabs{
    height: calc(100% - 50px);
    .van-tabs__wrap{
        height: 32px;
        background-color: #1E2329;
        .van-tab {
            padding: 0 6px 0 12px;
        }
    }
    .van-tabs__content{
        height: calc(100% - 32px);
        overflow-y: auto;
        overflow-x: hidden;
        // 向下/向上快速滑动页面的时候，页面会出现空白，等滑动结束后内容显示
        backface-visibility: hidden;
        transform: translate3d(0,0,0);
    }
    .van-tab__text{
        width: 100%;
        height: 100%;
    }
    .van-tab--active {
        font-weight: bold;
    }

    .cross-main, .end-game, .early{
        .game-list-row{
            margin-bottom: 8px;
        }
    }
    .virtual-sports-icon{
        padding-right: 6px;
    }
}
</style>
