<template>
    <div class="app app-bg" ref="root_frame">
        <!-- 被缓存的组件 -->
        <keep-alive>
            <template v-if="$route.meta.keepAlive" >
                <router-view key="default" name="default"></router-view>
            </template>
        </keep-alive>
        <!-- 不需要被缓存的组件 -->
        <template v-if="!$route.meta.keepAlive" >
            <router-view :key="$route.fullPath" name="default"></router-view>
        </template>
        <router-view key="a" name="a"> </router-view>
        <guide beginStep="1" endStep="8" />
        <awardAnimate v-if="showAwardAnimate" />
        <!-- 下线提示弹窗 -->
        <reminder v-if="isShowDia" @closeDialog="closeDialog" :excessTime="excessTime" />
        <!-- 电竞彩中奖提示窗 -->
        <WinModal/>
        <!-- 一键强制刷新弹窗 -->
        <KickOut />
    </div>
</template>
<script>
import { mapActions,mapState,mapGetters} from "vuex";
import WS from "@/assets/scripts/mqtt.js";
import awardAnimate from "@/views/common/awardAnimate"; // 获奖动销
import qs from "qs"
import guide from "@/views/guide";
import reminder from "@/views/user/reminder";
import {requestGameWinPrize} from "@/api/game.js";
import { canShowAwardAnimate } from '@/assets/scripts/utils.js'
import WinModal from "./views/common/winModal.vue"
import merchantApi from "@/assets/scripts/merchant.js"
import KickOut from "@/views/user/kickOut";
export default {
    components: {
        guide,
        awardAnimate,
        reminder, // 下线提示弹窗
        WinModal,
        KickOut,
    },
    data() {
        return {
            uid: "",
            merchant_ID: "",
            isShowDia: false, // 默认不显示弹窗
            excessTime: null, // 多少时间后维护
        };
    },
    watch: {
        // 监听maintain_time的值
        'userInfo.maintain_time.maintain_time'() {
            window.sessionStorage.setItem("isShowedReminder", false);
            this.maintainPop()
        },
    },
    computed: {
        ...mapState({
            showAwardAnimate: state => {
               if (state.user.showBetCart) {
                  return false
               }
               return state.user.showAwardAnimate
            },
            pushData:state => state.lottery.pushData
        }),
        ...mapGetters([
            'userInfo', // 当前用户信息
            "serverTime", // 服务器时间
            "localTime", // 存储的本地时间
            "matchID"
        ]),
    },
    created() {
        sessionStorage.removeItem('ShowAsianGamesEnter') // 快速入口 弹框
        let search = window.location.search.substring(1);
        let searchToken = qs.parse(search).token;
        const tokenInvalid = location.href;
        const token = this.$store.getters.token;
        const gameID = this.$store.getters.gameID;
        let searchGameId = qs.parse(search).gameId;
        let matchFlag = 1;
        if( tokenInvalid.indexOf("tokenInvalid") == -1 ){
            if (token && searchToken && token !== searchToken) {
                // 重新登陆时，默认显示全部游戏和滚球页面
                // this.$store.commit('SET_MATCH_FLAG', 3);
                matchFlag = 1;
                this.$store.commit('SET_DAILY_TAB', 'daily');

                this.$store.commit("SET_SHOW_HOSTTIPS", true); // 主播盘盘口详情文字提示
            }else{
                matchFlag = this.$store.getters.matchFlag
            }
            if (!searchToken && token) {
                searchToken = token;
            }
            this.$store.dispatch("getSystemTime");
            // 判断刷新页面的url游戏ID是否和存储的游戏ID一致
            if( gameID !== searchGameId ){
                if( !searchGameId ){
                    searchGameId = 0;
                }
                const allIds = this.gameIdGroups();
                if( !allIds.includes(String(searchGameId)) ){
                    searchGameId = 0
                }
                // if( allIds.includes(String(searchGameId)) ){
                //     this.$store.commit("SET_GAME_ID", searchGameId);
                // }else{
                //     this.$store.commit("SET_GAME_ID", 0);
                // }
                let hrefStr = location.href.replace(`gameId=${searchGameId}`, '')
                history.replaceState(null, null, hrefStr);
            }
            
            this.$store.commit('INIT_GAMEID_FAG', {
                gameID: searchGameId,
                matchFlag: matchFlag
            });

            this.$store.commit('SET_TOKEN', searchToken);
            
            this.$store.dispatch("fetchUserOddGroup"); // 赔率分组组别
            this.$store.dispatch("fetchAllImages");
            // this.$store.dispatch("fetchAllMatchList");
            this.fetchGameList();
            this.getUserInfo();
            this.$store.dispatch("fetchMatchState", {
                type: "collect"
            });
            // this.$store.dispatch("getParlaySet") // 请求串关超限设置
            // this.$nextTick( () => {
            //     // 在线时长统计
            //     this.onlineTimeInit();
            //     // 数据埋点统计
            //     this.trackInit();
            // })
        }
    },
    mounted(){
        document.addEventListener('visibilitychange', () => {
            if (!document.hidden) {
                this.fetchPageData();
            }
        })
        document.querySelector('#app-loading').remove();

        let beginTime = 0; //开始时间
        let differTime = 0; //时间差
        window.onunload = function () {
            differTime = new Date().getTime() - beginTime;
            // 浏览器关闭前发送统计
            if (differTime <= 5) {
                const { offlineTag, trackTag, duration, track, activeTime, offline } =
                    this.$store.getters;
                let onlineInterval = 0;
                if (offline) {
                    // 计算上一个时间段的在线时长, 并累加
                    onlineInterval = parseInt((duration + (new Date().getTime - activeTime)) / (1000 * 60), 10);
                }
                
                if (offlineTag) {
                    clearTimeout(offlineTag);
                }
                if (trackTag) {
                    clearInterval(trackTag);
                }
              
            } else {
                console.log( "刷新页面" )
            }
        };

        window.onbeforeunload = function () {
            beginTime = new Date().getTime();
        };
    },
    
    methods: {
        ...mapActions(["fetchGameList"]),
        // 关闭下线提示弹窗
        closeDialog(){
            this.isShowDia = false
        },
        fetchPageData() {
            // 推送数据，后台接口返回有延迟，切换窗口延迟800毫秒请求数据
            setTimeout( () => {
                // 更新赛事列表
                this.$store.dispatch("updateMatchList", {
                    notload: true, //是否加载赛事列表刷新动画，默认false加载
                });
                // 更新联赛赛事列表
                this.$store.dispatch("fetchMatchTour");

                // 更新盘口详情页面啊
                const locUrl =  location.href;
                if (locUrl.indexOf("market") != -1) {
                    this.$store.dispatch("fetchMarketDetails", { match_id: this.matchID, });
                    this.$bus.$emit("locationChange");
                }
            }, 800)
        },
        getUserInfo() {
            this.$store.dispatch("fetchUserInfo").then(res => {
                if( res.data.status == 'true' ){
                    this.uid = res.data.data.uid;
                    this.merchant_ID = res.data.data.merchant_id;
                    this.$store.commit("UPDATE_STATION_MAXODDS", res.data.data.round_complex_max_odd); // 局内串关赔率上限
                    this.$store.commit("UPDATE_ODDS_LIMIT", res.data.data.complex_max_odd); // 赛事串关赔率上限

                    this.getActivityState(res.data.data.merchant_id);
                    merchantApi(this.merchant_ID); //  请求页面标签logo 和titile
                    this.wsSoket = new WS(this);
                    this.wsSoket.initWebSocket();
                    gtag('config', GA_MEASUREMENT_ID, {
                        user_id: this.uid
                    })
                    // 延时执行中奖动画防止卡顿
                    // 暂时只在rmb中显示
                    if (res.data.data.currency_code === 1) {
                        this.prizeAminTimer = setTimeout(() => this.getUserWinPrize(), 10000);
                    }
                    this.maintainPop()
                    // 获取比分网数据开关
                    this.$store.dispatch("fetchBifenBtnStatus");
                }
            });
        },
        // 需求315: 新增系统维护弹框逻
        maintainPop(){
            if(!this.userInfo.maintain_time.reminder_time) return
            let currentTime = Math.round(new Date().getTime()/1000); // 当前时间
            let diffeTime = currentTime - this.localTime/1000; // 当前时间-接口成功的时间=时间差
            let localSystemTime = this.serverTime/1000;   // 本地服务器时间
            let currentSystemTime = localSystemTime + diffeTime // 当前服务器时间=本地服务器时间+时间差
            let maintainTime = this.userInfo.maintain_time.maintain_time  // 维护开始时间
            let tipTime = this.userInfo.maintain_time.reminder_time // 提示维护时间点
            let beforeDiffeTime = tipTime - currentSystemTime // 提前提示的时间差
            let currentRem = sessionStorage.getItem("isShowedReminder")
            if(beforeDiffeTime > 0 && (currentRem == 'false' || currentRem == null)){ // 当前服务器时间<提示时间
                setTimeout(()=>{
                    this.excessTime = Math.ceil((maintainTime-tipTime)/60)
                    this.isShowDia = true
                    sessionStorage.setItem("isShowedReminder", true);
                },beforeDiffeTime*1000)
            }else if(beforeDiffeTime <= 0 && (currentRem == 'false' || currentRem == null)){ // (当前服务器时间=提示时间 || 当前服务器时间>提示时间)并且该用户没有弹出过提示框
                this.excessTime = Math.ceil(Math.abs(maintainTime-currentSystemTime)/60)
                this.isShowDia = true
                sessionStorage.setItem("isShowedReminder", true);
            }
        },
        getActivityState(item) {
            if(item){
                this.$store.dispatch("fetchActivityState", {merchant: String(item)}).then(res => {
                    if( res.data.status == 'true' ){
                        this.$store.commit("SET_ACTIVITY_ENTRANCE", res.data.data !== '0');
                    }
                });
            }
        },
        getUserWinPrize() {
            requestGameWinPrize().then( res => {
                if (res.data.data) {
                    if (canShowAwardAnimate(res.data.data, this.uid)) {
                        this.$store.commit("SET_AWARD_ANIMATE_STATUS", true);
                    }
                }
            })
        },
        onlineTimeInit() {
            this.$store.commit("SET_ACTIVE_TIME", new Date().getTime());
            // 60分钟后保存一次用户数据埋点
            const offlineTag = setTimeout(() => {
                
                console.info('离线了，保存时长', `60min`); // , new Date().getTime()
                this.$store.commit("SET_OFFLINE", true);
            }, 1000 * 60 * 60);
            this.$store.commit("SET_OFFLINE_TAG", offlineTag);
        },
        trackInit() {
            // 每5分钟保存一次用户数据埋点和在线时长
            const trackTag = setInterval(() => {
                const { track, duration } = this.$store.getters;
                const onlineInterval = parseInt(duration / (1000 *60), 10);
                
                this.$store.commit("SET_DURATION", 0);
                this.$store.commit("CLEAR_TRACK", []);
                console.info('保存在线时长', `${onlineInterval}min`); // , new Date().getTime()
            }, 1000 * 60 * 3);
            this.$store.commit("SET_TRACK_TAG", trackTag);
        },
    },
    
    beforeDestroy(){
        if( this.wsSoket ){
            this.wsSoket.closeWebSocket();
        };
        this.prizeAminTimer && clearTimeout(this.prizeAminTimer)
    }
};
</script>
