<template>
  <div class="csgo">
    <div class="both-data">
        <div class="box">
            <div class="both">
                <div class="team home">
                    <div class="logo">
                    <TeamImage :url="global.TeamImages[matchs.home_team]" class="logo-image"/>
                    <div class="team-name ellipsis">{{matchs.home_name}}</div>
                    </div>
                    <div class="statu">
                        <template v-if="$lodash.get(stageData,'win_team') && $lodash.get(stageData,'status') == 'past'">
                            <i class='match-icon antData-win' v-if="stageData.win_team == $lodash.get(this.bifenMatchData,'t1.team_id')"/>
                            <i class='match-icon antData-failure' v-if="stageData.win_team != $lodash.get(this.bifenMatchData,'t1.team_id')"/>
                        </template>
                        <span class="score">{{$lodash.get(this.bifenMatchData,'t1.score') || 0}}</span>
                    </div>
                </div>
                <div class="vs"></div>
                <div class="team away">
                    <div class="statu">
                        <span class="score">{{$lodash.get(this.bifenMatchData,'t2.score') || 0}}</span>
                        <template v-if="$lodash.get(stageData,'win_team') && $lodash.get(stageData,'status') == 'past'">
                            <i class='match-icon antData-win' v-if="stageData.win_team == $lodash.get(this.bifenMatchData,'t2.team_id')"/>
                            <i class='match-icon antData-failure' v-if="stageData.win_team != $lodash.get(this.bifenMatchData,'t2.team_id')"/>
                        </template>
                    </div>
                    <div class="logo">
                    <div class="team-name ellipsis" style="text-align:right;">{{matchs.away_name}}</div>
                    <TeamImage :url="global.TeamImages[matchs.away_team]" class="logo-image"/>
                    </div>
                </div>
            </div>
            <!-- <div class="now-time">{{formatTime(bifenMatchData.time)}}</div> -->

            <div class="row df">
                <div class="df flex-1 flex-y-center">
                    <div class="flex-1 text-c">
                        <div class="num">{{$lodash.get(t1,'fh_score')}}</div>
                        <div>{{$t("antDataSource.FirstHalf")}}</div>
                    </div>
                    <div class="flex-1 text-c">
                        <div class="num">{{$lodash.get(t1,'sh_score')}}</div>
                        <div>{{$t("antDataSource.SecondHalf")}}</div>
                    </div>
                    <div class="flex-1 text-c">
                        <div class="num">{{$lodash.get(t1,'m_score')}}</div>
                        <div>{{$t("antDataSource.Overtime")}}</div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="df flex-1 flex-y-center">
                    <div class="flex-1 text-c">
                        <div class="num">{{$lodash.get(t2,'fh_score')}}</div>
                        <div>{{$t("antDataSource.FirstHalf")}}</div>
                    </div>
                    <div class="flex-1 text-c">
                        <div class="num">{{$lodash.get(t2,'sh_score')}}</div>
                        <div>{{$t("antDataSource.SecondHalf")}}</div>
                    </div>
                    <div class="flex-1 text-c">
                        <div class="num">{{$lodash.get(t2,'m_score')}}</div>
                        <div>{{$t("antDataSource.Overtime")}}</div>
                    </div>
                </div>
            </div>
            <div class="row df flex-x-beteewn line-data">
                <div class="df">
                    <!-- <div :class="['line-icon', item]" v-for="(item,index) in $lodash.get(t1,'className')" :key="`line${index}`"></div> -->
                    <div class="line-icon r1" v-if="$lodash.get(t1,'first_blood')"></div>
                    <div class="line-icon w5" v-if="$lodash.get(t1,'five_kills')"></div>
                    <div class="line-icon w10" v-if="$lodash.get(t1,'ten_kills')"></div>
                    <div class="line-icon r16" v-if="$lodash.get(t1,'r16_win')"></div>
                </div>
                <div class="df">
                    <div class="line-icon r1" v-if="$lodash.get(t2,'first_blood')"></div>
                    <div class="line-icon w5" v-if="$lodash.get(t2,'five_kills')"></div>
                    <div class="line-icon w10" v-if="$lodash.get(t2,'ten_kills')"></div>
                    <div class="line-icon r16" v-if="$lodash.get(t2,'r16_win')"></div>
                </div>
            </div>
            <div class="row df wrap-icon">
                <div class="flex-1 text-c">
                    <div class="df flex-y-center flex-x-center">
                        <span class="icon qj"></span>
                        <span>{{$t("antDataSource.Annihilation")}}</span>
                    </div>
                    <div class="num">{{$lodash.get(t1,'WinType.kill_all_win')}} ：{{$lodash.get(t2,'WinType.kill_all_win')}}</div>
                </div>
                <div class="flex-1 text-c">
                    <div class="df flex-y-center flex-x-center">
                        <span class="icon cd"></span>
                        <span>{{$t("antDataSource.BombDisposal")}}</span>
                    </div>
                    <div class="num">{{$lodash.get(t1,'WinType.bomb_win')}} ：{{$lodash.get(t2,'WinType.bomb_win')}}</div>
                </div>
                <div class="flex-1 text-c">
                    <div class="df flex-y-center flex-x-center">
                        <span class="icon bz"></span>
                        <span>{{$t("antDataSource.Explosion")}}</span>
                    </div>
                    <div class="num">{{$lodash.get(t1,'WinType.boom_win')}} ：{{$lodash.get(t2,'WinType.boom_win')}}</div>
                </div>
                <div class="flex-1 text-c">
                    <div class="df flex-y-center flex-x-center">
                        <span class="icon cs"></span>
                        <span>{{$t("antDataSource.TimeOut")}}</span>
                    </div>
                    <div class="num">{{$lodash.get(t1,'WinType.time_out_win')}} ：{{$lodash.get(t2,'WinType.time_out_win')}}</div>
                </div>
            </div>
        </div>
        <div class="row df chart box">
            <div class="df flex-col flex-x-beteewn">
                <TeamImage :url="global.TeamImages[matchs.home_team]" class="logo-image"/>
                <TeamImage :url="global.TeamImages[matchs.away_team]" class="logo-image"/>
            </div>
            <van-tabs class="match-tabs dj-tabs" ref="vantTabs">
                <van-tab v-for="(item,index) in 30" :key="`eventTyps${index}}`">
                    <template #title>
                        <div class="df flex-col flex-x-round flex-y-center item">
                            <span :class="[index < 15?'icon-red':'icon-blue', returnClass($lodash.get(t1,`eventTyps[${index}]`))]"></span>
                            <span>{{index+1}}</span>
                            <span :class="[index >= 15?'icon-red':'icon-blue', returnClass($lodash.get(t2,`eventTyps[${index}]`))]"></span>
                        </div>
                    </template>
                </van-tab>
            </van-tabs>
        </div>
        <csgo-table type="home"></csgo-table>
        <csgo-table type="away"></csgo-table>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import csgoTable from './csgoTable.vue'
export default {
  components: { csgoTable },
    computed:{
        ...mapGetters(['bifenMatchData', 'matchs', 'images']),
        t1(){
            return this.formatData('t1')
        },
        t2(){
            return this.formatData('t2')
        },
        stageData(){
            let data = {}
            if(this.bifenMatchData.match_all && this.bifenMatchData.stage){
                data = this.bifenMatchData.match_all.find(item => item.stage == this.bifenMatchData.stage)
            }
            return data
        }
    },
    data(){
        return {
            events: [
                {name: 'first_blood', className: 'r1'},
                {name: 'r16_win', className: 'r16'},
                {name: 'five_kills', className: 'w5'},
                {name: 'ten_kills', className: 'w10'},
            ],
            global
        }
    },
    methods: {
        formatData(str){
            if(!this.bifenMatchData[str]) return
            let data = JSON.parse(JSON.stringify(this.bifenMatchData[str]))
            if(data){
                data.className = []
                this.events.forEach(item => {
                    if(data[item.name]){
                        data.className.push(item.className)
                    }
                })

                data.eventTyps = []
                data.up_win instanceof Array && (data.eventTyps.push(...data.up_win))
                data.down_win instanceof Array && (data.eventTyps.push(...data.down_win))
                let scoreData = {
                    qj: 0,
                    bz: 0,
                    cd: 0,
                    cs: 0,
                }
                for(var i = 0; i < 30; i++){
                    if(data.eventTyps[i]){
                        switch (data.eventTyps[i]) {
                            case 1: scoreData.qj+=1; break;
                            case 2: scoreData.qj+=1; break;
                            case 3: scoreData.bz+=1; break;
                            case 4: scoreData.cd+=1; break;
                            case 5: scoreData.cs+=1; break;
                            default: '';
                        }
                    }
                }
                data.scoreData = scoreData
            }
            return data
        },
        returnClass(str) {
            switch (str) {
                case 1: return 'qj';
                case 2: return 'qj';
                case 3: return 'bz';
                case 4: return 'cd';
                case 5: return 'cs';
                default: return '';
            }
        }
    },

}
</script>

<style lang="less" scoped>
.csgo{
    margin: 8px;
    .df{
        display: flex;
    }
    .flex-1{
        flex: 1;
    }
    .flex-col{
        flex-direction: column;
    }
    .flex-y-center{
        align-items: center;
    }
    .flex-x-end{
        justify-content: flex-end;
    }
    .flex-x-center{
        justify-content: center;
    }
    .flex-x-round{
        justify-content: space-around;
    }
    .flex-x-beteewn{
        justify-content: space-between;
    }
    .text-c{
        text-align: center;
    }
    .both-data{
        .box{
            border: 1px solid #565860;
            border-radius: 8px;
            padding: 0 10px;
            margin-bottom: 6px;
        }
        .row{
            color: rgba(255,255,255,.3);
            font-size: 12px;
            .num{
                color: #fff;
                font-size: 16px;
                font-family: BankSansEFCY-BolCom;
                font-weight: 700;
            }
            .line{
                width: 1px;
                height: 45px;
                border: 1px solid rgba(255,255,255,0.10);
                margin: 12px 0;
            }
            &.line-data{
                height: 37px;
                padding: 10px 0;
                border-top: 1px solid rgba(255,255,255,0.10);
                border-bottom: 1px solid rgba(255,255,255,0.10);
                .line-icon{
                    width: 14px;
                    height: 14px;
                    margin-right: 12px;
                }
                .r1{
                    background: url("~@/assets/images/data/icon-r1.png") center / contain no-repeat;
                }
                .r16{
                    background: url("~@/assets/images/data/icon-r16.png") center / contain no-repeat;
                }
                .w5{
                    background: url("~@/assets/images/data/icon-csgo5.png") center / contain no-repeat;
                }
                .w10{
                    background: url("~@/assets/images/data/icon-csgo10.png") center / contain no-repeat;
                }
            }
            &.wrap-icon{
                padding: 12px 0;
                .flex-y-center();
                &>.flex-1{
                    border-right: 1px solid rgba(255,255,255,0.10);
                    &:last-child{
                        border: none;
                    }
                }
                .icon{
                    width: 12px;
                    height: 12px;
                    margin-right: 3px;
                    &.qj{
                        background: url("~@/assets/images/data/cs-qj.png") center / contain no-repeat;
                    }
                    &.cd{
                        background: url("~@/assets/images/data/cs-cd.png") center / contain no-repeat;
                    }
                    &.bz{
                        background: url("~@/assets/images/data/cs-bz.png") center / contain no-repeat;
                    }
                    &.cs{
                        background: url("~@/assets/images/data/cs-cs.png") center / contain no-repeat;
                    }
                }
                .num{
                    margin-top: 10px;
                }
            }
            &.chart{
                padding: 6px 10px;
                overflow: hidden;
                .logo-image{
                    width: 24px;
                    height: 24px;
                    margin-right: 3px;
                    border-radius: 50%;
                }
                .match-tabs{
                    flex: 1;
                    min-width: 1px;
                    ::v-deep {
                        .van-tabs__wrap{
                            background: transparent;
                            height: auto;
                        }
                        .van-tabs__nav{
                            padding: 0;
                            .van-tab{
                                padding: 0;
                                &::after{
                                    display: none;
                                }
                                .van-tab__text{
                                    color: rgba(255,255,255,.3) !important;
                                }
                            }
                        }
                        .van-tabs__line{
                            display: none;
                        }
                    }
                }
                .item{
                    margin-right: 6px;
                    .icon-blue{
                        width: 16px;
                        height: 16px;
                        &.qj{
                            background: url("~@/assets/images/data/cs-qj-blue.png") center / contain no-repeat;
                        }
                        &.cd{
                            background: url("~@/assets/images/data/cs-cd-blue.png") center / contain no-repeat;
                        }
                        &.bz{
                            background: url("~@/assets/images/data/cs-bz-blue.png") center / contain no-repeat;
                        }
                        &.cs{
                            background: url("~@/assets/images/data/cs-cs-blue.png") center / contain no-repeat;
                        }
                    }
                    .icon-red{
                        width: 16px;
                        height: 16px;
                        &.qj{
                            background: url("~@/assets/images/data/cs-qj-red.png") center / contain no-repeat;
                        }
                        &.cd{
                            background: url("~@/assets/images/data/cs-cd-red.png") center / contain no-repeat;
                        }
                        &.bz{
                            background: url("~@/assets/images/data/cs-bz-red.png") center / contain no-repeat;
                        }
                        &.cs{
                            background: url("~@/assets/images/data/cs-cs-red.png") center / contain no-repeat;
                        }
                    }
                }
            }
        }
        .both {
            padding: 8px 0;
            display: flex;
            border-bottom: 1px solid rgba(255,255,255,0.10);
            .team {
                flex: 1;
                display: flex;
                justify-content: space-between;
                overflow: hidden;
                &.home{
                    .statu{
                        justify-content: flex-end;
                        .score {
                            margin-left: 4px;
                            color: #ffffff;
                        }
                    }
                }
                &.away {
                    .statu{
                        .score {
                            margin-right: 4px;
                            color: rgba(255, 255, 255, 0.3);
                        }
                    }
                }
                .logo,
                .statu {
                    display: flex;
                    align-items: center;
                }
                .logo {
                    flex: 1;
                    overflow: hidden;
                    .logo-image {
                        width: 25px;
                        height: 25px;
                    }
                    .team-name {
                        flex: 1;
                        font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
                        font-size: 12px;
                        color: rgba(255, 255, 255, 0.8);
                    }
                }
                .statu {
                    width: 44px;
                    .match-icon {
                        display: inline-block;
                        width: 22px;
                        height: 22px;
                    }
                    .score {
                        font-size: 18px;
                    }
                }
            }
            .vs {
                width: 24px;
                height: 24px;
                background-image: url("~@/assets/images/common/vs-line.png");
                background-size: cover;
                margin: 0 9px;
            }
        }
    }
}
</style>