<template>
  <div class="wrap-table" v-if="tableData">
    <div :class="['title', 'mb-6', type]">
      <div class="team">
          <TeamImage :url="teamLogo" class="logo-image"/>
          <div class="team-name ellipsis">{{teamName}}</div>
      </div>
      <!-- <div class="kad">
        <div class="item">
          <span class="icon win"></span>
          <span>2</span>
        </div>
        <div class="item">
          <span class="icon lose"></span>
          <span>2</span>
        </div>
        <div class="item">
          <span class="icon percent"></span>
          <span>30%</span>
        </div>
      </div> -->
    </div>
    <div :class="['table', 'mb-6', type]">
      <div class="row" v-for="(item, index) in tableData" :key="index">
        <div class="data">
          <div class="hero">
            <!-- <TeamImage :url="item.logo" class="avatar"/> -->
            <img :src="item.logo" alt="" class="avatar">
          </div>
          <div class="player">
            <div class="name">{{item.name}}</div>
            <div class="sub-data">
              <div class="item">
                <span>k(hs):</span>
                <span class="score">
                  {{item.kills || 0}}({{item.headshot || 0}})
                </span>
              </div>
              <div class="item">
                <span>D:</span>
                <span class="score">{{item.deaths}}</span>
              </div>
              <div class="item">
                <span>A(f):</span>
                <span class="score">{{item.assists}}({{item.flasher}})</span>
              </div>
              <div class="item">
                <span>KAST:</span>
                <span class="score">{{item.kast}}%</span>
              </div>
              <div class="item">
                <span>KD Diff:</span>
                <span class="score">{{item.kd_diff}}</span>
              </div>
              <div class="item">
                <span>ADR:</span>
                <span class="score">{{item.adr}}</span>
              </div>
              <div class="item">
                <span>FK Diff:</span>
                <span class="score">{{item.fk_diff}}</span>
              </div>
              <div class="item">
                <span>Rating:</span>
                <span class="score">{{item.rating}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  props:{
    type: String,
  },
  data(){
    return {
      teamLogo: '',
      teamName: '',
      global
    }
  },
  computed:{
    ...mapGetters(['bifenMatchData', 'matchs']),
    tableData(){
      if( this.type == 'home') {
        return this.$lodash.get(this,"bifenMatchData.t1.players")
      } else {
        return this.$lodash.get(this, "bifenMatchData.t2.players")
      }
    },
  },
  watch:{
    type:{
      immediate: true,
      handler(res) {
        if( res == 'home') {
          this.teamLogo = global.TeamImages[this.matchs.home_team]
          this.teamName = this.matchs.home_name
        } else {
          this.teamLogo = global.TeamImages[this.matchs.away_team]
          this.teamName = this.matchs.away_name
        }
      }
    }
  }
}
</script>

<style lang="less" scoped>
.wrap-table{
  .title{
    display: flex;
    justify-content: space-between;
    padding: 6px 5px;
    height: 36px;
    border-radius: 8px;
    &.home{
      background-image: linear-gradient(270deg, rgba(0,149,255,0.00) 3%, rgba(0,149,255,0.16) 96%);
    }
    &.away{
      background-image: linear-gradient(270deg, rgba(223,60,61,0.00) 3%, rgba(223,60,61,0.16) 96%);
    }
    .team{
      display: flex;
      align-items: center;
      .logo-image{
        width: 25px;
        height: 25px;
        margin-right: 2px;
        font-size: 12px;
        color: rgba(255,255,255, .8);
      }
    }
    .kad{
      display: flex;
      justify-content: space-around;
      font-size: 14px;
      width: 50%;
      .item{
        display: flex;
        align-items: center;
        .icon {
          width: 16px;
          height: 16px;
          margin-right: 8px;
          &.win{
            background: url("~@/assets/images/data/win.png") center / cover no-repeat;
          }
          &.lose{
            background: url("~@/assets/images/data/lose.png") center / cover no-repeat;
          }
          &.percent{
            background: url("~@/assets/images/data/percent.png") center / cover no-repeat;
          }
        }
      }
    }
  }
  .table{
    color: rgba(255,255,255, .3);
    font-size: 12px;
    border-radius: 8px;
    border: 1px solid #565860;
    &.home{
      .hero .avatar{
        border: 1px solid #73b6ce;
      }
    }
    &.away{
      .hero .avatar{
        border: 1px solid #df6e63;
      }
    }
    .data{
      padding: 10px 10px 2px 10px;
      display: flex;
      border-bottom: 1px solid rgba(255,255,255,0.1);
      &.active .arrow-icon{
        transform: rotate(180deg) !important;
      }
      .hero{
        width: 34px;
        height: 34px;
        position: relative;
        .avatar{
          width: 34px;
          height: 34px;
          border-radius: 50%;
          overflow: hidden;
        }
      }
      .player{
        flex: 1;
        padding: 0 5px;
        .name{
          color: #fff;
          font-weight: 500;
        }
        .sub-data{
          display: flex;
          flex-wrap: wrap;
          margin-top: 2px;
          .item{
            display: flex;
            align-items: center;
            width: 25%;
            margin-bottom: 8px;
            .score{
              color: rgba(255,255,255, .8);
            }
          }
        }
      }
    }
  }
}
</style>