<template>
  <div class="wrap-table">
    <div :class="['title', 'mb-6', type]">
      <div class="team">
          <TeamImage :url="teamLogo" class="logo-image"/>
          <div class="team-name ellipsis">{{teamName}}</div>
      </div>
      <div class="kda-item">
        <div class="icon dz"></div>
        <span>{{$lodash.get(tableData,'kill') || 0}}/{{$lodash.get(tableData,'death') || 0}}/{{$lodash.get(tableData,'assist') || 0}}</span>
      </div>
    </div>
    <div :class="['table', 'mb-6', type]" v-if="$lodash.get(tableData, 'players')">
      <div class="row" v-for="(item, index) in tableData.players" :key="index">
        <div :class="['data',{'active': viewId == item.player_info.name}]">
          <div class="hero">
            <!-- <img :src="item.role.icon" alt="" class="avatar"> -->
            <TeamImage :url="item.role.icon" class="avatar"/>
            <span class="lv">{{item.level}}</span>
          </div>
          <div class="player">
            <div class="name" v-html="item.player_info.name"></div>
            <div class="sub-data">
              <div class="item">
                <span>{{$t("antDataSource.AchieVements")}}:</span>
                <span class="score">
                  {{item.kill || 0}}/{{item.death || 0}}/{{item.assist || 0}}
                </span>
              </div>
              <div class="item">
                <span>{{$t("antDataSource.Economy")}}:</span>
                <span class="score">
                  {{(item.gold/1000 || 0).toFixed(2)}}k
                </span>
              </div>
              <div class="item">
                <span>{{$t("antDataSource.ParticipationRate")}}:</span>
                <span class="score">{{getTeam_fight(item.team_fight)}}%</span>
              </div>
              <div class="item">
                <span>KDA:</span>
                <span class="score">{{item.kda}}</span>
              </div>
            </div>
            <div class="equipage">
              <div class="equipage-item">
                <template v-for="(equipments, j) in item.equipments">
                  <!-- <img :src="equipments.icon" alt="" v-if="equipments.type == 'item'" :key="`${equipments.id}-${j}`" /> -->
                  <template v-if="bifenMatchData.game_id == 4">
                    <TeamImage :url="equipments.icon" v-if="equipments.type == 'item'" :key="`${equipments.id}-${j}`" class="equipage-image"/>
                  </template>
                  <TeamImage :url="equipments.icon" v-else :key="`${equipments.id}-${j}`" class="equipage-image"/>
                </template>
              </div>
              <div class="skill">
                <template v-if="bifenMatchData.game_id === 1">
                  <TeamImage :url="$lodash.get(item, 'skills[0].icon')" class="equipage-image"/>
                  <TeamImage :url="$lodash.get(item, 'skills[1].icon')" class="equipage-image"/>
                </template>
                <template v-else-if="bifenMatchData.game_id === 2">
                  <TeamImage :url="$lodash.get(item, 'skills[0].icon')" class="equipage-image"/>
                </template>
                <template v-else-if="bifenMatchData.game_id === 4">
                  <template v-for="(equipments, j) in item.equipments">
                    <TeamImage :url="equipments.icon" v-if="equipments.type == 'backpack'" :key="`${equipments.id}-${j}`" class="equipage-image" />
                  </template>
                </template>
              </div>
            </div>
          </div>
          <div class="handel">
            <TeamImage :url="item.player_info.icon || defaultImage" class="avatar" />
            <div class="arrow-icon" @click="viewDatail(item.player_info.name)"></div>
          </div>
        </div>
        <div class="detail" v-if="viewId == item.player_info.name">
          <!-- lol -->
          <template v-if="bifenMatchData.game_id === 1">
            <div class="box lol">
              <div class="items">
                <van-popover v-model="infoPopover[0]" theme="dark" trigger="click">
                  <div class="popover">{{$t("antDataSource.TotalOutput")}}</div>
                  <template #reference>
                    <span class="label">{{$t("antDataSource.TotalOutput")}}:</span>
                    <span class="score">{{item.damage}}/{{getDamage(item.damage, 0)}}%</span>
                  </template>
                </van-popover>
              </div>
              <div class="items">
                <van-popover v-model="infoPopover[1]" theme="dark" trigger="click">
                  <div class="popover">{{$t("antDataSource.DamageModifierRate")}}</div>
                  <template #reference>
                    <span class="label">{{$t("antDataSource.DamageModifierRate")}}:</span>
                    <span class="score">{{item.damage_div_gold}}%</span>
                  </template>
                </van-popover>
              </div>
              <div class="items">
                <van-popover v-model="infoPopover[2]" theme="dark" trigger="click">
                  <div class="popover">{{$t("antDataSource.Healing")}}</div>
                  <template #reference>
                    <span class="label">{{$t("antDataSource.Healing")}}:</span>
                    <span class="score">{{item.heal}}</span>
                  </template>
                </van-popover>
              </div>
              <div class="items">
                <van-popover v-model="infoPopover[3]" theme="dark" trigger="click">
                  <div class="popover">{{$t("antDataSource.HeroOutput")}}</div>
                  <template #reference>
                    <span class="label">{{$t("antDataSource.HeroOutput")}}:</span>
                    <span class="score">{{item.damage_to_champions}}</span>
                  </template>
                </van-popover>
              </div>
              <div class="items">
                <van-popover v-model="infoPopover[4]" theme="dark" trigger="click">
                  <div class="popover">{{$t("antDataSource.KillMonsters")}}</div>
                  <template #reference>
                    <span class="label">{{$t("antDataSource.KillMonsters")}}:</span>
                    <span class="score">{{item.neutral_minions}}</span>
                  </template>
                </van-popover>
              </div>
              <div class="items">
                <van-popover v-model="infoPopover[5]" theme="dark" trigger="click">
                  <div class="popover">{{$t("antDataSource.LastHit")}}</div>
                  <template #reference>
                    <span class="label">{{$t("antDataSource.LastHit")}}:</span>
                    <span class="score">{{item.creep_score}}</span>
                  </template>
                </van-popover>
              </div>
              <div class="items">
                <van-popover v-model="infoPopover[6]" theme="dark" trigger="click">
                  <div class="popover">{{$t("antDataSource.VisionRemovalWard")}}</div>
                  <template #reference>
                    <span class="label">{{$t("antDataSource.VisionRemovalWard")}}:</span>
                    <span class="score">{{item.wards_placed}}/{{item.wards_destroyed}}</span>
                  </template>
                </van-popover>
              </div>
              <div class="items">
                <van-popover v-model="infoPopover[7]" theme="dark" trigger="click">
                  <div class="popover">{{$t("antDataSource.DamageTaken")}}</div>
                  <template #reference>
                    <span class="label">{{$t("antDataSource.DamageTaken")}}:</span>
                    <span class="score">{{item.tanking}}/{{getTanking(item.tanking,0)}}%</span>
                  </template>
                </van-popover>
              </div>
              <div class="items">
                <van-popover v-model="infoPopover[8]" theme="dark" trigger="click">
                  <div class="popover">{{$t("antDataSource.TrueDamage")}}</div>
                  <template #reference>
                    <span class="label">{{$t("antDataSource.TrueDamage")}}:</span>
                    <span class="score">{{item.true_damage}}</span>
                  </template>
                </van-popover>
              </div>
              <div class="items">
                <van-popover v-model="infoPopover[9]" theme="dark" trigger="click">
                  <div class="popover">{{$t("antDataSource.MagicalOutput")}}</div>
                  <template #reference>
                    <span class="label">{{$t("antDataSource.MagicalOutput")}}:</span>
                    <span class="score">{{item.magic_damage}}</span>
                  </template>
                </van-popover>
              </div>
              <div class="items">
                <van-popover v-model="infoPopover[10]" theme="dark" trigger="click">
                  <div class="popover">{{$t("antDataSource.PhysicalOutput")}}</div>
                  <template #reference>
                    <span class="label">{{$t("antDataSource.PhysicalOutput")}}:</span>
                    <span class="score">{{item.physical_damage}}</span>
                  </template>
                </van-popover>
              </div>
            </div>
            <!-- <div class="skill" v-if="item.abilities">
              <div class="label">{{$t("antDataSource.AddPoints")}}:</div>
              <div class="abilities">
                <template v-for="(abilities, j) in item.abilities">
                  <div class="item" :key="`abilities-${j}`" v-if="abilities.skill.icon" >
                    <img :src="abilities.skill.icon" alt=""/>
                    <span>{{abilities.level}}</span>
                  </div>
                </template>
              </div>
            </div> -->
          </template>
          <!-- 王者 -->
          <template v-else-if="bifenMatchData.game_id === 2">
            <div class="box">
              <div class="items">
                  <span>{{$t("antDataSource.Output")}}:</span>
                  <span class="socre">{{item.damage}}/{{getDamage(item.damage, 0)}}%</span>
              </div>
              <div class="items">
                  <span>{{$t("antDataSource.DamageTaken")}}:</span>
                  <span class="socre">{{item.tanking}}/{{$lodash.get(bifenMatchData, 'team[0].tanking')}}</span>
              </div>
            </div>
          </template>
          <!-- dota2 -->
          <template v-else-if="bifenMatchData.game_id === 4">
            <div class="box">
              <div class="items">
                  <span>{{$t("antDataSource.Output")}}:</span>
                  <span class="score">{{item.damage}}/{{getDamage(item.damage, 0)}}%</span>
              </div>
              <div class="items">
                  <span>{{$t("antDataSource.Healing")}}:</span>
                  <span class="score">{{item.heal}}</span>
              </div>
              <div class="items">
                  <span>{{$t("antDataSource.Experience")}}:</span>
                  <span class="score">{{item.exp}}</span>
              </div>
              <div class="items">
                  <span>GPM/XPM:</span>
                  <span class="score">{{item.gold_per_min}}/{{item.xp_per_min}}</span>
              </div>
              <div class="items">
                  <span>{{$t("antDataSource.LastHitDeny")}}:</span>
                  <span class="score">{{item.creep_score}}/{{item.revolt_creep_score}}</span>
              </div>
            </div>
            <div class="skill" v-if="item.abilities">
              <div class="label">{{$t("antDataSource.AddPoints")}}:</div>
              <div class="abilities">
                <template v-for="(abilities, j) in item.abilities">
                  <div class="item" :key="`abilities-${j}`" v-if="abilities.skill.icon" >
                    <TeamImage :url="abilities.skill.icon" class="abilities-image"/>
                    <span class="level">{{abilities.level}}</span>
                  </div>
                  <div class="item" :key="`abilities-${j}`" v-else-if="abilities.talent.logo" >
                    <van-popover v-model="showPopover[j]" theme="dark" trigger="click">
                      <div class="popover">{{changeLableLang(abilities.talent)}}</div>
                      <template #reference>
                        <div class="scale">{{changeLableLang(abilities.talent)}}</div>
                      </template>
                    </van-popover>
                  </div>
                </template>
              </div>
            </div>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import bifenData from '@/views/common/mixins/bifenData'
export default {
  mixins: [bifenData],
  props:{
    type: String
  },
  data(){
    return {
      teamLogo: '',
      teamName: '',
      showPopover: [],
      infoPopover: [],
      defaultImage: require("@/assets/images/data/defaultImage.png")
    }
  },
  computed:{
    tableData(){
      if( this.type == 'home') {
        return this.t1
      } else {
        return this.t2
      }
    },
  },
  watch:{
    type:{
      immediate: true,
      handler(res) {
        if( res == 'home') {
          this.teamLogo = global.TeamImages[this.matchs.home_team]
          this.teamName = this.matchs.home_name
        } else {
          this.teamLogo = global.TeamImages[this.matchs.away_team]
          this.teamName = this.matchs.away_name
        }
      }
    }
  }
}
</script>

<style lang="less" scoped>
.wrap-table{
  .title{
    display: flex;
    justify-content: space-between;
    padding: 6px 5px;
    height: 36px;
    border-radius: 8px;
    &.home{
      background-image: linear-gradient(270deg, rgba(0,149,255,0.00) 3%, rgba(0,149,255,0.16) 96%);
    }
    &.away{
      background-image: linear-gradient(270deg, rgba(223,60,61,0.00) 3%, rgba(223,60,61,0.16) 96%);
    }
    .team{
      display: flex;
      align-items: center;
      .logo-image{
        width: 25px;
        height: 25px;
        margin-right: 2px;
        font-size: 12px;
        color: rgba(255,255,255, .8);
      }
    }
    .kda-item{
      display: flex;
      align-items: center;
      .icon {
        width: 20px;
        height: 20px;
        margin-right: 3px;
        background: url("~@/assets/images/data/data-dz.png") center / cover no-repeat;
      }
    }
  }
  .table{
    color: rgba(255,255,255, .3);
    font-size: 12px;
    border-radius: 8px;
    border: 1px solid #565860;
    &.home{
      .hero .avatar{
        border: 1px solid #73b6ce;
      }
    }
    &.away{
      .hero .avatar{
        border: 1px solid #df6e63;
      }
    }
    .data{
      padding: 10px;
      display: flex;
      border-bottom: 1px solid rgba(255,255,255,0.1);
      &.active .arrow-icon{
        transform: rotate(180deg) !important;
      }
      .hero{
        width: 34px;
        height: 34px;
        position: relative;
        .avatar{
          width: 34px;
          height: 34px;
          border-radius: 50%;
          overflow: hidden;
        }
        .lv{
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
          color: #fff;
        }
      }
      .player{
        flex: 1;
        padding: 0 5px;
        .name{
          color: #fff;
          font-weight: 500;
        }
        .sub-data{
          display: flex;
          justify-content: space-between;
          margin: 2px 0 6px;
          .item{
            display: flex;
            align-items: center;
            .score{
              color: rgba(255,255,255, .8);
            }
          }
        }
        .equipage{
          display: flex;
          justify-content: space-between;
          .equipage-image{
            width: 20px;
            height: 20px;
            border-radius: 0px 4px 0px 4px;
            margin-right: 2px;
          }
        }
      }
      .handel{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .avatar{
          width: 23px;
          height: 23px;
          border-radius: 50%;
          overflow: hidden;
        }
        .arrow-icon{
          width: 16px;
          height: 16px;  
          background-image: url("~@/assets/images/common/arrows-down.png");
          background-size: cover;  
          margin-top: 10px;
        }
      }
    }
    .detail{
      padding: 10px 6px;
      background: rgba(0,0,0,0.20);
      .box{
        display: flex;
        flex-wrap: wrap;
        .items{
          width: 33.33%;
          margin-bottom: 6px;
          .label{
            word-break: break-all;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: inline-block;
            margin-right: 2px;
          }
          .score{
            color: #fff;
          }
        }
        &.lol{
          .items{
            width: 35%;
            padding-right: 2px;
            &:nth-child(3n-1){
              width: 40%
            }
            &:nth-child(3n){
              width: 25%
            }
            /deep/ .van-popover__wrapper{
              display: flex;
            }
          }
        }
      }
      .skill{
        display: flex;
        .label{
          width: 40px;
        }
        .abilities{
          flex: 1;
          display: flex;
          flex-wrap: wrap;
          .item{
            position: relative;
            width: 32px;
            height: 32px;
            font-size: 12px;
            margin: 0 2px 2px 0;
            background: rgba(255,255,255,0.16);
            .abilities-image{
              width: 100%;
              height: 100%;
              margin: 0 2px 2px 0;
            }
            .level{
              position: absolute;
              right: 0;
              bottom: 2px;
              width: 14px;
              height: 14px;
              background: rgba(0,0,0,0.6);
              color: #fff;
            }
            .popover{
              font-size: 12px;
            }
            .scale{
              transform: scale(.6);
              line-height: 1;
              width: 50px;
              height: 50px;
              margin: -9px 0 0 -9px;
              color: #fff;
              word-break: break-all;
              overflow: hidden;
              -webkit-line-clamp: 4;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-box-orient: vertical;
            }
          }
        }
      }
    }
  }
}
</style>