<template>
  <div class="echarts flex-col">
    <div v-show="!empty" id="myChart" :style="{ width: '100%', height: '100%' }"></div>
    <div v-if="empty" class="empty">{{$t('antDataSource.NoData')}}</div>
    <!-- <Empty v-show="empty" url="https://static.marsesport.com/images/1db702b0-73ba-4051-8ec2-7de70661155f_2982_858.png" /> -->
  </div>
</template>

<script>
// import moment from "moment";
import { mapGetters } from 'vuex'
export default {
  name: "echarts",
  props:{
    hasEvents: {
      type: Boolean,
      default: false 
    },
    type: {
      type: String,
      default: 'gold' 
    },
  },
  components: {
    // moment,
  },
  computed:{
    ...mapGetters(['bifenEchartsData']),
    // echartsData(){
    //   return this.bifenEchartsData
    // }
  },
  data() {
    return {
      options: {
        backgroundColor: "rgba(0,0,0,0.10)",
        tooltip: {
          show: true,
          trigger: "axis",
          formatter: "",
          extraCssText: " white-space:pre-wrap",
          textStyle:{
            color: '#fff'
          },
          backgroundColor: "rgba(0,0,0,0.36)",
          borderColor: 'transparent'
        },
        grid: {
          top: '10px',
          left: '0',
          right: '0',
          bottom: '10px',
          containLabel: true
        },
        xAxis: {
          data: [],
          axisLine: {
            show: true,
            lineStyle: {//X轴颜色
              color: "rgba(255,255,255,.1)",
            },
          },
          axisLabel: { 
            textStyle: { //X轴刻度标签颜色
              color: 'rgba(240,240,240,.5)',
              fontSize: '10'
            },
          },
          axisTick: {
            show: false,
          },
        },
        yAxis: {
          axisLine: {
            show: true,
            lineStyle: { //Y轴颜色
              color: "rgba(255,255,255,.1)",
            },
          },
          axisLabel: { 
            formatter: "",
            textStyle: { //Y轴刻度标签颜色
              color: 'rgba(240,240,240,.5)',
              fontSize: '10'
            },
          },
          splitLine: {//Y轴刻度延申线颜色
            lineStyle: {
                color: 'rgba(255,255,255,.1)'
            }
          },
        },
        visualMap: {},
        series: [
          {
            symbol: "none",
            name: "蓝方经济：",
            stack: "蓝方经济：",
            type: "line",
            data: [],
            areaStyle: {
              opacity: 0.3,
              // color: "#6F8BFF",
            },
            // lineStyle: {
            //   width: 1,
            //   type: 'solid',
            //   color: "rgba(240,240,240,.5)"
            // },
          },
          {
            data: [],
            type: "scatter",
            labelLine: {
              show: true,
            },
          },
        ],
      },
      eventMap:{
        1: require("@/assets/images/data/blue-tower_kill.png"),
        2: require("@/assets/images/data/blue-drake_kill.png"),
        3: require("@/assets/images/data/blue-baron_kill.png"),
      },
      redEventMap:{
        1: require("@/assets/images/data/red-tower_kill.png"),
        2: require("@/assets/images/data/red-drake_kill.png"),
        3: require("@/assets/images/data/red-baron_kill.png"),
      },
      empty: false,
      isInit: true
    };
  },
  methods: {
    initChart(data, type, c) {
      let chartData = this.formatData(data)
      if (!chartData) {
        this.empty = true;
        return false;
      }
      this.empty = false;

      // 1.根据type处理数据源
      // gold_diff 经济差 exp_diff  经验差
      // 2.获取time  xtitle数据
      let xTitle = [];
      let chartsData = [];
      let eventData = [];
      /*// if(chartData.gold_diff.length) {
        chartsData = chartData.rate_diff.gold_diff.map((item, index) => {
          return item.gap;
        });
        xTitle = chartData.rate_diff.gold_diff.map((item, index) => {
          return item.time;
        });
      // }
      //事件
      if(chartData.events.length && this.hasEvents) {
        let eventsDict = ['tower_kill', 'drake_kill', 'baron_nashor_kill']
        chartData.events.forEach(item => {
          if(eventsDict.includes(item.type)){
            let val = parseInt(eventsDict.indexOf(item.type))
            if(item.show_side == 1) {
              val+= 1
            } else {
              val-= 1
            }
            eventData.push(val)
            xTitle.push(item.itme)
          }
        })
        xTitle = [...new Set(xTitle)].sort((a,b) =>{
          return a-b
        })
      }*/

      chartData.forEach(item => {
        chartsData.push(type == 'gold'? item.gap : item.exp_diff)
        xTitle.push(item.time)
        eventData.push(item.events)
      })

      // 组装散点图数据
      let scatterData = eventData.map((item) => {
        return item === 0 ? null : item;
      });

      // 根据渲染画布的数据chartsData 判断 绝对值的最大值 并且设置y轴的最大最小值
      let absoluteVal = chartsData.map((item) => {
        return Math.abs(item);
      });
      let maxAbsVal = Math.max(...absoluteVal);
      //数据取整处理 以一千为单位 向上取整
      let ceilNum = Math.ceil(maxAbsVal / 1000);
      // 设置y轴最大 最小值
      this.options.yAxis.min = -(ceilNum * 1000);
      this.options.yAxis.max = ceilNum * 1000;
      // this.options.yAxis.splitNumber = 5

      // 4.y轴负值  做取绝对值处理
      this.options.yAxis.axisLabel.formatter = function (value, index) {
        return `${Math.abs(Number(value))/1000}k`;
      };
      // 5.设置x轴数据
      let xAxisArr = xTitle.map((item) => {
        return this.formatTime(item);
      });
      this.options.tooltip.formatter = (params) => {
        let str = "";
        str += params[0].axisValue + " : ";
        str += Math.abs(params[0].data);
        return str;
      };

      // 6.颜色配置
      this.options.visualMap = {
        type: "piecewise",
        show: false,
        pieces: [
          {
            gt: 0,
            lte: 99999999999999,
            // color: chartData.game_id === 4 ? "#29C979" : "#6F8BFF",
            color: "rgba(31,162,255, .8)"//上轴背景颜色
          },
          {
            lte: 0,
            color: "rgba(255,75,52, .8)",//下轴背景颜色
          },
        ],
      };

      this.options.xAxis.data = xAxisArr;
      this.options.series[0].data = chartsData;
      // 散点图渲染
      this.options.series[1].data = scatterData;

      this.options.series[1].symbol = (value, params) => {
        if (value) {
          return value > 0
            ? "image://" + this.eventMap[value]
            : "image://" + this.redEventMap[Math.abs(value)];
        }
      };
      this.options.series[1].symbolOffset = (value, params) => {
        if (value) {
          if (value > 0) {
            if (value > 1) {
              return [0, "-200%"];
            } else {
              return [0, "-100%"];
            }
          } else {
            if (value < -1) {
              return [0, "200%"];
            } else {
              return [0, "100%"];
            }
          }
        }
      };
      this.options.series[1].symbolSize = 20;

      // let showEventDatas = eventData.map((item, index) => {
      //   if (item !== 0) {
      //     return {
      //       name: "121212",
      //       xAxis: index,
      //       yAxis: chartsData[index],
      //       event: item,
      //     };
      //   } else {
      //     return null;
      //   }
      // });
      // showEventDatas = showEventDatas.filter((item) => {
      //   return item !== null;
      // });

      // showEventDatas = showEventDatas.map((item) => {
      //   return {
      //     ...item,
      //     symbol:
      //       item.event > 0
      //         ? "image://" + this.eventMap[item.event]
      //         : "image://" + this.redEventMap[Math.abs(item.event)],
      //     symbolKeepAspect: false,
      //   };
      // });
      // // 事件渲染  eventData
      // this.options.series[0].markPoint = {
      //   // symbol: 'image://https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fup.enterdesk.com%2Fedpic_source%2F53%2F0a%2Fda%2F530adad966630fce548cd408237ff200.jpg&refer=http%3A%2F%2Fup.enterdesk.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1640360629&t=f686d49ecdde5417e216ad1dbb2478ce',
      //   symbolSize: 20,
      //   data: showEventDatas
      // }

      this.$nextTick(() => {
        // 基于准备好的dom，初始化echarts实例
        let myChart = this.$echarts.init(document.getElementById("myChart"));
        // 绘制图表
        myChart.setOption(this.options);
      });
      this.isInit = false
    },
    formatData(val) {
      /*游戏事件类型: 
      lol： player_kill（击杀英雄）/tower_kill（推塔）/rift_herald_kill（击杀峡谷先锋）/drake_kill（击杀小龙）/baron_nashor_kill （击杀大龙） dota2： player_kill(击杀英雄) tower_kill(推塔) barracks_kill（推兵营） 
      王者荣耀：tower_kill（推塔） player_kill （击杀英雄）drakes_kill（击杀主宰） nashors_kill（击杀先锋） 
      CSGO: join-加入比赛，quit-离开比赛,round_start-回合开始，round-win-回合胜利，suicide-自杀，bomb-放置炸弹，kill-击杀，disarm_bomb-炸弹拆除
      */
      let data = JSON.parse(JSON.stringify(val));
      let eventsDict = ['tower_kill', 'drake_kill', 'baron_nashor_kill']
      let gold_diff = this.$lodash.get(data, 'rate_diff.gold_diff')
      let events = this.$lodash.get(data, 'events')
      if(events && events.length){
        events = events.filter(item => eventsDict.includes(item.type))
      }
      if(gold_diff && events.length && this.hasEvents) {
        for (var i = 0; i < gold_diff.length; i++ ) {
          for(var j = 0; j < events.length; j++) {
            let positions= eventsDict.indexOf(events[j].type)
            if(gold_diff[i].time == events[j].time) {
              gold_diff[i].events = events[j].show_side == 2? (++positions)*-1 : ++positions
            } else{
              if(i < gold_diff.length-1) {
                if((gold_diff[i].time < events[j].time) && (gold_diff[i+1].time > events[j].time)){
                  gold_diff.splice(i, 0, {
                    events: events[j].show_side == 2? (++positions)*-1 : ++positions,
                    time: events[j].time,
                    gap: gold_diff[i].gap,
                    exp_diff: gold_diff[i].exp_diff,
                  })
                  i++
                }
              }
            }
          }
        }

      }
      return gold_diff
    },
    formatTime(time){
        const mm = parseInt(time / 60) >= 10 ? parseInt(time / 60) : `0${parseInt(time / 60)}`;
        const ss = parseInt(time % 60) >= 10 ? parseInt(time % 60) : `0${parseInt(time % 60)}`;
        return `${mm}:${ss}`;
    },
  },
  watch: {
    type: {
      immediate: true,
      handler(val) {
        !this.isInit && this.initChart(this.bifenEchartsData, val, 'echarts type');
      },
    },
    bifenEchartsData: {
      immediate: true,
      deep: true,
      handler(val) {
        this.isInit = true
        this.initChart(val, this.type, 'echarts data');
      },
    },
  },
};
</script>
<style lang="less" scoped>
.empty{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("~@/assets/images/data/echarts-empty.png") no-repeat;
    background-size: contain;
    font-size: 12px;
}
</style>
