<template>
    <div class="info">
        <div class="border-style mb-6">
            <subHead></subHead>
            <div class="resource">
                <div class="item">
                    <div class="labels">
                        <div class="icon dl"></div>
                        <span>{{$t('antDataSource.Overlord')}}</span>
                    </div>
                    <div>{{$lodash.get(bifenMatchData, 'team[0].baron_kills') || 0}} : {{$lodash.get(bifenMatchData, 'team[1].baron_kills') || 0}}</div>
                </div>
                <div class="item">
                    <div class="labels">
                        <div class="icon xl"></div>
                        <span>{{$t('antDataSource.Tyrant')}}</span>
                    </div>
                    <div>{{$lodash.get(bifenMatchData, 'team[0].dragon_kills') || 0}} : {{$lodash.get(bifenMatchData, 'team[1].dragon_kills') || 0}}</div>
                </div>
                <div class="item">
                    <div class="labels">
                        <div class="icon jj"></div>
                        <span>{{$t('antDataSource.Economy')}}</span>
                    </div>
                    <div>{{($lodash.get(bifenMatchData, 'team[0].gold')/1000 || 0).toFixed(1)}} : {{($lodash.get(bifenMatchData, 'team[1].gold')/1000 || 0).toFixed(1)}}</div>
                </div>
                <div class="item">
                    <div class="labels">
                        <div class="icon tt"></div>
                        <span>{{$t('antDataSource.TurretTowerDive')}}</span>
                    </div>
                    <div>{{$lodash.get(bifenMatchData, 'team[0].turret_destroyed') || 0}} : {{$lodash.get(bifenMatchData, 'team[1].turret_destroyed') || 0}}</div>
                </div>
            </div>
        </div>
        <div class="border-style wrap-echarts mb-6">
            <div class="title">
                <div class="team">
                    <TeamImage :url="global.TeamImages[matchs.home_team]" class="logo-image"/>
                    <div class="team-name ellipsis">{{matchs.home_name}}</div>
                </div>
                <div class="flex">
                    <span class="name active">{{$t('antDataSource.EconomyDifference')}}</span>
                </div>
            </div>
            <div class="echarts">
                <Echarts :hasEvents="false" style="height: 100%" />
            </div>
            <div class="title">
                <div class="team">
                    <TeamImage :url="global.TeamImages[matchs.away_team]" class="logo-image"/>
                    <div class="team-name ellipsis">{{matchs.away_name}}</div>
                </div>
                <div class="num">
                    <div class="item home">
                        <span class="subname ellipsis">{{matchs.home_name}}</span>
                        <span class="money">
                            {{($lodash.get(bifenMatchData, 'team[0].gold')/1000 || 0).toFixed(1)}}k
                        </span>
                    </div>
                    <div class="item away">
                        <span class="subname ellipsis">{{matchs.away_name}}</span>
                        <span class="money">
                            {{($lodash.get(bifenMatchData, 'team[1].gold')/1000 || 0).toFixed(1)}}k
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <template v-if="Object.keys(bifenMatchData).length">
            <dataTable type="home"></dataTable>
            <dataTable type="away"></dataTable>
            <mProgress :progressData="progressData" ></mProgress>
        </template>
    </div>
</template>

<script>
import bifenData from '@/views/common/mixins/bifenData'
import dataTable from "@/views/markets/data/dataTable";
import mProgress from "@/views/markets/data/mProgress";
export default {
    mixins: [bifenData],
    components:{dataTable, mProgress},
    data(){
        return {
            progressData: [
                {name: this.$t("antDataSource.Kill"), id: 'kill'},
                {name: this.$t("antDataSource.LastHit"), id: 'creep_score'},
                {name: this.$t("antDataSource.ParticipationRate"), id: 'team_fight'}
            ]
        }
    }
}
</script>

<style lang="less" scoped>
.resource{
    .dl{
        background-image: url("~@/assets/images/data/data-dl.png");
    }
    .xl{
        background-image: url("~@/assets/images/data/data-xl.png");
    }
    .tt{
        background-image: url("~@/assets/images/data/data-fyt.png");
    }
    .jj{
        background-image: url("~@/assets/images/data/data-jj.png");
    }
}
</style>