<template>
    <div class="wrap-data">
        <div class="tab">
            <div class="item-sub" v-for="(item,index) in tab" :key="index" >
                <span  
                :class="['tab-item',{'active': tabIndex==index} ]"
                @click="changeTab(index)"
                >{{item}}</span>
            </div>
        </div>
        <component :is="gameName"></component>
    </div>
</template>

<script>
import lol from './lol.vue'
import dota from './dota.vue'
import hok from './hok.vue'
import csgo from './csgo.vue'
import { mapActions, mapGetters } from 'vuex'
import { getAntDataGameId } from '@/assets/scripts/utils'
import lodash from "lodash";
export default {
    components: {lol, dota, hok, csgo},
    data(){
        return {
            tabIndex: 0,
            matchData: {},//队伍数据
            echartsData: {},//图表
            topic: [],
            isCSGO: false,
        }
    },
    methods:{
        ...mapActions(['fetchBifenMatchData', 'fetchBifenEchartsData']),
        changeTab(index){
            if( this.tabIndex == index) return false
            this.tabIndex = index
            this.init()
        },
        init: lodash.debounce(function(){
            this.getData()
            this.chartsData()
            this.initWS()
        }, 500),
        chartsData(){
            if (this.isCSGO) return
            let stage_id = this.tabIndex + 1
            this.fetchBifenEchartsData({
                match_id: this.matchs.id,
                stage_id: stage_id,
            })
        },
        getData(){
            let stage_id = this.tabIndex + 1
            const data = {
                isCSGO: this.isCSGO,
                params: this.isCSGO? {
                    match_id: this.matchs.id,
                    stage_id: stage_id,
                } : {
                    game_id: getAntDataGameId(this.matchs.game_id),
                    match_id: this.matchs.id, 
                    stage_id: stage_id,
                    team_ids: this.matchs.team_id,
                }
            }
            this.fetchBifenMatchData(data)
        },
        initWS(){
            const _this = this
            let stage_id = this.tabIndex + 1
            this.topic = [`/match/data/${getAntDataGameId(this.matchs.game_id)}/${this.matchs.id}/${stage_id}`]
            !this.isCSGO && this.topic.push(`/match/ant/event/${this.matchs.id}/${stage_id}`)
            mqtt_client.subscribe(this.topic)
            mqtt_client.on("message", function(topic, payload) {
                if(_this.topic.includes(topic)){
                    console.log('=======wsDATA=====',new Date().toLocaleString(), JSON.parse(payload.toString()));
                }
                if( topic == _this.topic[0] ){
                    let oldData = JSON.parse(JSON.stringify(_this.bifenMatchData))
                    let reload = false
                    if(this.isCSGO){
                        reload = !oldData.t1.team_id || !oldData.t2.team_id
                    } else {
                        reload = !Object.keys(oldData).length
                    }
                    if( reload ) {
                        _this.getData()
                        return
                    }
                    const res = JSON.parse(payload.toString())
                    if(_this.isCSGO){
                        let {Msg, TeamID, Data} = res
                        if(Msg == "csgo_race") {
                            oldData.match_all.forEach(item => {
                                if(item.stage == Data.stage){
                                    Object.assign(item, Data)
                                }
                            })
                        } else if(Msg == "csgo_team") {
                            if(TeamID == oldData.t1.team_id){
                                Object.assign(oldData.t1, Data)
                            } else {
                                Object.assign(oldData.t2, Data) 
                            }
                        }
                    } else {
                        let {Data, TeamID, PlayerID} = res
                        if(res.Msg == "other") {
                            oldData.team.forEach(item =>{
                                if(item.team_info.id == TeamID) {
                                    for(var list in Data.team){
                                        if(["ban","pick", "players","team_info"].includes(list)){
                                            delete Data.team[list]
                                        }
                                    }
                                    Object.assign(item, Data.team)
                                    delete Data.team
                                }
                            })
                            Object.assign(oldData, Data)
                        } else if(["ban", "pick", "players", "team_info"].includes(res.Msg)) {
                            oldData.team.forEach(item =>{
                                if(item.team_info.id == TeamID) {
                                    item[res.Msg] = Data
                                }
                            })
                        }
                    }
                    _this.$store.commit("SET_BIFEN_MATCH_DATA",  oldData)
                } else if(topic == _this.topic[1]){
                    const res = JSON.parse(payload.toString())
                    let oldData = JSON.parse(JSON.stringify(_this.bifenEchartsData))
                    if(res.events){
                        oldData.events.push(res.events)
                    }
                    if(_this.$lodash.get(res, 'rate_diff.gold_diff')) {
                        oldData.rate_diff.gold_diff = res.rate_diff.gold_diff
                    }
                    _this.$store.commit("SET_BIFEN_ECHARTS_DATA", oldData)
                }
            })
           /*let kill = 1
            setInterval(() => {
                let res = {
                    msg: "csgo_team",
                    data: {
                        "map_name": "阿努比斯",
                        "map_logo": "https://img.esportstv.vip/csgo/maps/2fbfe03c7195719ac5a92347dd4c9bbe.jpg",
                        "round_num": 28,
                        "status": "past",
                        "team_id": 28908,
                        "team_name": "Natus Vincere Junior",
                        "team_logo": "https://img.esportstv.vip/csgo/team/2e03f792400f8680691544c923a380c5.png",
                        "side": 2,
                        "win": 0,
                        "score": 12,
                        "kills": kill,
                        "fh_score": kill,
                        "sh_score": 7,
                        "m_score": 0,
                        "first_blood": 1,
                        "five_kills": 0,
                        "ten_kills": 0,
                        "r16_win": 1,
                        "timeout_win": 0,
                        "up_win": [
                            2,
                            2,
                            0,
                            0,
                            0,
                            0,
                            0,
                            0,
                            2,
                            2,
                            0,
                            0,
                            0,
                            2,
                            0
                        ],
                        "down_win": [
                            1,
                            1,
                            4,
                            1,
                            4,
                            0,
                            0,
                            0,
                            0,
                            0,
                            4,
                            1,
                            0,
                            0,
                            0
                        ],
                        "players": [
                            {
                            "player_id": 118488,
                            "name": "yab0ku",
                            "logo": "https://img.esportstv.vip/default/player.png",
                            "kills": 16,
                            "headshot": 11,
                            "deaths": 21,
                            "assists": 2,
                            "flasher": 0,
                            "kast": 60.7,
                            "kd_diff": -5,
                            "adr": 59.7,
                            "fk_diff": -1,
                            "rating": 0.77
                            },
                            {
                            "player_id": 115749,
                            "name": "dem0n",
                            "logo": "https://img.esportstv.vip/default/player.png",
                            "kills": 22,
                            "headshot": 15,
                            "deaths": 24,
                            "assists": 5,
                            "flasher": 0,
                            "kast": 75,
                            "kd_diff": -2,
                            "adr": 80,
                            "fk_diff": -1,
                            "rating": 1.04
                            },
                            {
                            "player_id": 118408,
                            "name": "rendy",
                            "logo": "https://img.esportstv.vip/default/player.png",
                            "kills": 16,
                            "headshot": 7,
                            "deaths": 22,
                            "assists": 5,
                            "flasher": 0,
                            "kast": 60.7,
                            "kd_diff": -6,
                            "adr": 76.2,
                            "fk_diff": 2,
                            "rating": 0.87
                            },
                            {
                            "player_id": 107010,
                            "name": "unbr0ken",
                            "logo": "https://img.esportstv.vip/default/player.png",
                            "kills": 18,
                            "headshot": 8,
                            "deaths": 22,
                            "assists": 6,
                            "flasher": 1,
                            "kast": 71.4,
                            "kd_diff": -4,
                            "adr": 71.2,
                            "fk_diff": 3,
                            "rating": 0.96
                            },
                            {
                            "player_id": 115732,
                            "name": "froz1k",
                            "logo": "https://img.esportstv.vip/default/player.png",
                            "kills": 16,
                            "headshot": 7,
                            "deaths": 22,
                            "assists": 5,
                            "flasher": 1,
                            "kast": 64.3,
                            "kd_diff": -6,
                            "adr": 61.6,
                            "fk_diff": -3,
                            "rating": 0.8
                            }
                        ]
                        }
                }
                kill+= 1
                mqtt_client.publish(this.topic[0], JSON.stringify(res))
            }, 3000);*/
        },
    },
    computed:{
        ...mapGetters([ "matchs",'bifenMatchData', 'bifenEchartsData' ]),
        gameName(){
            switch (this.matchs.game_id) {
                case '257154660915053' : //lol
                    return lol;
                case '257561197207055' : //王者
                    return hok
                case '257289795134339' : //dota
                    return dota
                case '257578064923863' : //csgo
                    return csgo;
            }
        },
        tab(){
            let arr = []
            let localLangId = localStorage.getItem('language') || 'cn'
            let changeNum = localLangId == 'cn' || localLangId == 'zh'? ['一','二','三','四','五','六','七','八','九']:['1','2','3','4','5','6','7','8','9']
            for(var i = 0; i < this.matchs.bo; i++){
                arr.push(this.$t('antDataSource.RoundNo', { no: changeNum[i] }))
            }
            return arr
        }
    },
    watch:{
        matchs:{
            handler(res){
                if(res){
                    this.isCSGO = res.game_id == "257578064923863"
                    this.initWS()
                    this.getData()
                    this.chartsData()
                }
            },
            immediate: true
        },
    },
    beforeDestroy(){
        mqtt_client.unsubscribe(this.topic)
    }
}
</script>

<style lang="less">
.wrap-data{
    padding-bottom: 32px;
    font-family: 'DIN';
    .cursor{
        cursor: pointer;
    }
    .ellipsis {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .tab{
        height: 43px;
        display: flex;
        background: #2b2a2d;
        font-size: 12px;
        position: sticky;
        top: 0;
        z-index: 99;
        overflow-x: auto;
        .item-sub{
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            .tab-item{
                width: 84px;
                height: 27px;
                line-height: 27px;
                text-align: center;
                color: rgba(255,255,255,0.6);
                border: 1px solid transparent;
                &.active{
                    color: #fff;
                    background: rgba(0,149,255,0.30);
                    border-color: rgba(0,149,255,1);
                    border-radius: 8px;
                }
            }
        }
    }
    .info{
        margin: 8px;
        .resource {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 0;
            .item {
                flex: 1;
                border-right: 1px solid rgba(255,255,255,.06);
                text-align: center;
                font-size: 14px;
                color: #fff;
                &:last-child {
                    border: none;
                }
                .labels {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    color: rgba(255, 255, 255, 0.3);
                    margin-bottom: 9px;
                    .icon {
                        width: 20px;
                        height: 20px;
                        margin-right: 4px;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }
            }
        }
        .wrap-echarts{
            // padding: 15px 0 18px;
            .title{
                display: flex;
                justify-content: space-between;
                margin-bottom: 18px;
                font-size: 12px;
                .flex{
                    color: rgba(255,255,255,0.3);
                }
                .name{
                    width: 72px;
                    height: 28px;
                    line-height: 28px;
                    text-align: center;
                    border: 1px solid transparent;
                    &.active{
                        color: rgba(255,255,255,0.6);
                        background: #3f4149;
                        border-color: #6f7075;
                        border-radius: 8px;
                    }
                }
                .num{
                    display: flex;
                    justify-content: space-between;
                    width: 48%;
                    .item{
                        display: flex;
                        align-items: center;
                        color: rgba(255,255,255,0.70);
                        &.home{
                            .money{
                                color: #1FA2FF;
                                margin-left: 6px;
                            }
                        }
                        &.away{
                            .money{
                                color: #FF4B34;
                                margin-left: 6px;
                            }
                        }
                        .subname{
                            width: 46px;
                        }
                    }
                }
                .team{
                    display: flex;
                    align-items: center;
                    width: 50%;
                    .logo-image{
                        width: 25px;
                        height: 25px;
                    }
                    .team-name{
                        flex: 1;
                        font-size: 12px;
                    }
                }
            }
            .echarts{
                height: 147px;
                margin-bottom: 15px;
            }
        }
    }
    // .ctable{
    //     .theader{
    //         height: 32px;
    //         background: rgba(216,216,216,0.05);
    //         border-radius: 5px;
    //         color: rgba(255,255,255,0.3);
    //         font-size: 14px;
    //         display: flex;
    //         align-items: center;
    //         margin: 0 10px;
    //         .col:first-child{
    //             text-align: center;
    //         }
    //     }
    //     .tbody{
    //         .row{
    //             color: rgba(255,255,255,0.8);
    //             .data{
    //                 display: flex;
    //                 align-items: center;
    //                 padding: 15px 10px;
    //                 border-bottom: 1px solid rgba(255,255,255,0.1);
    //                 cursor: pointer;
    //                 .col{
    //                     font-size: 16px;
    //                     &:first-child{
    //                         display: flex;
    //                         .avatar{
    //                             width: 46px;
    //                             height: 46px;
    //                             margin-right: 10px;
    //                             border-radius: 50%;
    //                         }
    //                         .skill{
    //                             display: flex;
    //                             flex-direction: column;
    //                             justify-content: center;
    //                             margin-right: 10px;
    //                             img{
    //                                 width: 20px;
    //                                 height: 20px;
    //                                 border-radius: 0px 4px 0px 4px;
    //                                 margin-bottom: 2px;
    //                             }
    //                         }
    //                         .hero{
    //                             flex: 1;
    //                             font-size: 12px;
    //                             .name{
    //                                 font-size: 14px;
    //                                 color: #1FA2FF;
    //                             }
    //                             .local{
    //                                 display: flex;
    //                                 span{
    //                                     width: 38px;
    //                                     height: 20px;
    //                                     line-height: 20px;
    //                                     text-align: center;
    //                                     border-radius: 4px;
    //                                 }
    //                                 .grade{
    //                                     color: rgba(255,255,255,0.8);
    //                                     background: rgba(216,216,216,0.05);
    //                                 }
    //                             }
    //                         }
    //                     }
    //                     .kill{
    //                         color: #1FA2FF;
    //                     }
    //                     &:last-child{
    //                         display: flex;
    //                         align-items: center;
    //                         .equipage{
    //                             display: flex;
    //                             align-items: center;
    //                             span{
    //                                 width: 20px;
    //                                 height: 20px;
    //                                 border-radius: 0 6px 0 6px;
    //                                 margin-right: 2px;
    //                                 background-size: cover;
    //                                 background-repeat: no-repeat;
    //                             }
    //                         }
    //                         .equipage-right{
    //                             display: flex;
    //                             align-items: center;
    //                             img{
    //                                 width: 20px;
    //                                 height: 20px;
    //                             }
    //                         }
    //                         .arrow-icon{
    //                             width: 16px;
    //                             height: 16px;  
    //                             background-image: url("~@/assets/images/common/arrow-left.png");
    //                             background-size: cover;  
    //                             transform: rotate(270deg);
    //                         }
    //                     }
    //                 }
    //                 &.active .arrow-icon{
    //                     transform: rotate(90deg) !important;
    //                 }
    //             }
    //             &.blue{
    //                 .avatar{
    //                     border: 1px solid #73b6ce;
    //                 }
    //                 .hero{
    //                     color: #1FA2FF;
    //                 }
    //             }
    //             &.red{
    //                 .avatar{
    //                     border: 1px solid #df6e63;
    //                 }
    //                 .hero{
    //                     color: #FF4B34;
    //                 }
    //                 &:nth-child(6){
    //                     border-top: 1px solid rgba(255,255,255,0.63);
    //                 }
    //                 .col{
    //                     &:first-child .hero .name{
    //                         color: #FF4B34;
    //                     }
    //                     .kill{
    //                         color: #FF4B34
    //                     }
    //                 }
    //             }
    //         }
    //     }
    // }
    .flex{
        display: flex;
    }
    .border-style{
        border-radius: 8px;
        border: 1px solid #565860;
        padding: 7px 10px 0;
    }
    .mb-6{
        margin-bottom: 6px;
    }
}
</style>