<template>
  <div class="m-charts border-style">
    <div class="progress-tab">
      <span 
      :class="['item', {'active':index == activeIndex}]" 
      v-for="(item,index) in progressData" :key="index"
      @click="changeTab(index)"
      >{{item.name}}</span>
    </div>
    <div class="wrap">
      <div class="half home" v-if="$lodash.get(t1, 'players')">
        <div class="item" v-for="(item,index) in t1.players" :key="index">
          <TeamImage :url="item.role.icon" class="avatar" />
          <div class="progress-bar">
            <div class="label">
              <span class="name ellipsis">{{item.player_info.name}}</span>
              <span>{{dataKey == 'team_fight' ? `${(item[dataKey]*100).toFixed(1)}%` : item[dataKey]}}</span>
            </div>
            <div class="progress">
              <div class="content" :style="{'width': `${(item[dataKey]/t1Total)*100}%`}"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="half away" v-if="$lodash.get(t2, 'players')">
        <div class="item" v-for="(item,index) in t2.players" :key="index">
          <div class="progress-bar">
            <div class="label">
              <span class="name ellipsis">{{item.player_info.name}}</span>
              <span>{{dataKey == 'team_fight' ? `${(item[dataKey]*100).toFixed(1)}%` : item[dataKey]}}</span>
            </div>
            <div class="progress">
              <div class="content" :style="{'width': `${(item[dataKey]/t2Total)*100}%`}"></div>
            </div>
          </div>
          <TeamImage :url="item.role.icon" class="avatar" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import bifenData from '@/views/common/mixins/bifenData'
export default {
  mixins: [bifenData],
  props:{
    progressData: Array
  },
  data(){
    return{
      activeIndex: 0,
      dataKey: '',
      t1Total: 0,
      t2Total: 0,
    }
  },
  methods:{
    getTotal(data){
      let t1Total = 0
      let t2Total = 0
      let t1 = data.team[0]
      let t2 = data.team[1]
      t1.players.forEach(item => {
        t1Total += item[this.dataKey]
      })
      t2.players.forEach(item => {
        t2Total += item[this.dataKey]
      })
      this.t1Total = t1Total
      this.t2Total = t2Total
    },
    changeTab(index) {
      this.activeIndex = index
      this.dataKey = this.progressData[index].id
      this.getTotal(this.bifenMatchData)
    }
  },
  watch:{
    progressData: {
      immediate: true,
      handler(res) {
        if(res.length){
          this.dataKey = res[0].id
        }
      }
    },
    bifenMatchData: {
      immediate: true,
      handler(res) {
        if(res.team){
          this.getTotal(res)
        }
      }
    },
  }
}
</script>

<style lang="less" scoped>
.m-charts{
  .progress-tab{
    display: flex;
    margin-bottom: 18px;
    .item{
      width: 72px;
      height: 28px;
      line-height: 28px;
      text-align: center;
      border-radius: 6px;
      border: 1px solid transparent;
      color: rgba(255,255,255, .3);
      &.active{
        color: #fff;
        background: #3f4149;
        border-color: #6f7075;
      }
    }
  }
  .wrap{
    display: flex;
    .half{
      flex: 1;
      font-size: 14px;
      color: #fff;
      overflow: hidden;
      &.home{
        margin-right: 14px;
        .avatar{
          border: 1px solid #73b6ce;
          margin-right: 4px;
        }
        .name{
          color: #1FA2FF;
        }
        .content{
          background: #1FA2FF;
        }
      }
      &.away{
        .avatar{
          margin-left: 4px;
          border: 1px solid #df6e63;
        }
        .name{
          color: #FF4B34;
        }
        .content{
          background: #FF4B34;
        }
        .progress .content{
          right: 0;
        }
      }
      .item{
        display: flex;
        margin-bottom: 12px;
        .avatar{
          width: 36px;
          height: 36px;
          border-radius: 50%;
          overflow: hidden;
        }
        .progress-bar{
          display: flex;
          flex-direction: column;
          justify-content: center;
          flex: 1;
          overflow: hidden;
          .label{
            display: flex;
            justify-content: space-between;
            margin-bottom: 4px;
            .name{
              font-size: 12px;
            }
          }
          .progress{
            width: 100%;
            height: 4px;
            background: rgba(255,255,255,0.05);
            position: relative;
            .content{
              position: absolute;
              top: 0;
              height: 4px;
              width: 10%;
            }
          }
        }
      }
    }
  }
}
</style>