<template>
  <div class="wrap">
    <div class="both">
      <div class="team home">
        <div class="logo">
          <!-- <img :src="$lodash.get(t1,'team_info.icon') || defaultImage" alt="" /> -->
          <TeamImage :url="global.TeamImages[matchs.home_team]" class="logo-image"/>
          <div class="team-name ellipsis">{{matchs.home_name}}</div>
        </div>
        <div class="statu">
          <template v-if="bifenMatchData.win_team">
            <i class="match-icon antData-win" v-if="bifenMatchData.win_team == $lodash.get(t1,'team_info.id')" />
            <i class="match-icon antData-failure" v-if="bifenMatchData.win_team != $lodash.get(t1,'team_info.id')" alt="" />
          </template>
          <span class="score">{{$lodash.get(t1,'kill')}}</span>
        </div>
      </div>
      <div class="vs"></div>
      <div class="team away">
        <div class="statu">
          <span class="score">{{$lodash.get(t2,'kill')}}</span>
          <template v-if="bifenMatchData.win_team">
            <i class="match-icon antData-win" v-if="bifenMatchData.win_team == $lodash.get(t2,'team_info.id')" />
            <i class="match-icon antData-failure" v-if="bifenMatchData.win_team != $lodash.get(t2,'team_info.id')" alt="" />
          </template>
        </div>
        <div class="logo">
          <div class="team-name ellipsis" style="text-align:right;">{{matchs.away_name}}</div>
          <TeamImage :url="global.TeamImages[matchs.away_team]" class="logo-image"/>
          <!-- <img :src="$lodash.get(t2,'team_info.icon') || defaultImage" alt="" /> -->
        </div>
      </div>
    </div>

    <!-- <div class="now-time">{{formatTime(bifenMatchData.time)}}</div> -->

    <div class="hero">
      <div class="hero-item ban">
        <div class="imgs home">
          <div v-for="(item, index) in $lodash.get(t1,'ban')" :key="index">
            <TeamImage :url="item.logo" />
            <!-- <img :src="item.logo" :class="{'defaultImage': item.type == 'default'}" alt=""/> -->
          </div>
        </div>
        <div class="label">BAN</div>
        <div class="imgs away">
          <div v-for="(item, index) in $lodash.get(t2,'ban')" :key="index">
            <!-- :style="{'margin': bifenMatchData.game_id == 4? '0':'-16px'}" -->
            <!-- <img :src="item.logo" :class="{'defaultImage': item.type == 'default'}" alt=""/> -->
            <TeamImage :url="item.logo" />
          </div>
        </div>
      </div>
      <div class="hero-item pick">
        <div class="imgs home">
          <div v-for="(item, index) in $lodash.get(t1,'pick')" :key="index">
            <TeamImage :url="item.icon" />
            <!-- <img :src="item.icon" :class="{'defaultImage': item.type == 'default'}" alt=""/> -->
          </div>
        </div>
        <div class="label">PICK</div>
        <div class="imgs away">
          <div v-for="(item, index) in $lodash.get(t2,'pick')" :key="index">
            <!-- <img :src="item.icon" :class="{'defaultImage': item.type == 'default'}" alt=""/> -->
            <TeamImage :url="item.icon" />
          </div>
        </div>
      </div>
    </div>

    <div class="both-data">
      <div class="events">
        <div class="home item">
          <span class="key-events first_blood" v-if="$lodash.get(t1, 'key_events.first_blood')"></span>
          <span class="key-events first_turret" v-if="$lodash.get(t1, 'key_events.first_turret')"></span>
          <span class="key-events five_kills_first" v-if="$lodash.get(t1, 'key_events.five_kills_first')"></span>
          <span class="key-events ten_kills_first" v-if="$lodash.get(t1, 'key_events.ten_kills_first')"></span>
          <span class="key-events first_dragon" v-if="$lodash.get(t1, 'key_events.first_dragon')"></span>
          <span class="key-events first_baron" v-if="$lodash.get(t1, 'key_events.first_baron')"></span>
        </div>
        <div class="label"></div>
        <div class="away item">
          <span class="key-events first_blood" v-if="$lodash.get(t2, 'key_events.first_blood')"></span>
          <span class="key-events first_turret" v-if="$lodash.get(t2, 'key_events.first_turret')"></span>
          <span class="key-events five_kills_first" v-if="$lodash.get(t2, 'key_events.five_kills_first')"></span>
          <span class="key-events ten_kills_first" v-if="$lodash.get(t2, 'key_events.ten_kills_first')"></span>
          <span class="key-events first_dragon" v-if="$lodash.get(t2, 'key_events.first_dragon')"></span>
          <span class="key-events first_baron" v-if="$lodash.get(t2, 'key_events.first_baron')"></span>
        </div>
      </div>
      
      <div class="kda">
        <div class="home item">
          <div class="kda-item">
            <div class="icon jj"></div>
            <span>{{($lodash.get(t1,'gold')/1000 || 0).toFixed(1)}}k</span>
          </div>
          <div class="kda-item">
            <div class="icon dz"></div>
            <span>{{$lodash.get(t1,'kill') || 0}}/{{$lodash.get(t1,'death') || 0}}/{{$lodash.get(t1,'assist') || 0}}</span>
          </div>
        </div>
        <div class="away item">
          <div class="kda-item">
            <div class="icon dz"></div>
            <span>{{$lodash.get(t2,'kill') || 0}}/{{$lodash.get(t2,'death') || 0}}/{{$lodash.get(t2,'assist') || 0}}</span>
          </div>
          <div class="kda-item">
            <div class="icon jj"></div>
            <span>{{($lodash.get(t2,'gold')/1000 || 0).toFixed(1)}}k</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  data() {
    return {
      defaultImage: require("@/assets/images/data/defaultImage.png"),
      global
    }
  },
  computed:{
    ...mapGetters(['bifenMatchData', 'matchs', 'images']),
    t1(){
      let t1 = this.$lodash.cloneDeep(this.$lodash.get(this.bifenMatchData, 'team[0]'))
      if( t1 ) {
        t1.ban = this.fillImage(t1.ban, 'ban')
        t1.pick = this.fillImage(t1.pick)
      } else {
        t1 = {
          ban: this.fillImage([]),
          pick: this.fillImage([]),
        }
      }
      return t1
    },
    t2(){
      let t2 = this.$lodash.cloneDeep(this.$lodash.get(this.bifenMatchData, 'team[1]'))
      if(t2){
        t2.ban = this.fillImage(t2.ban, 'ban')
        t2.pick = this.fillImage(t2.pick)
      } else {
        t2 = {
          ban: this.fillImage([], 'ban'),
          pick: this.fillImage([]),
        }
      }
      return t2
    },
  },
  methods:{
    formatTime(time){
      if( !time )return '00:00'
      const date = new Date(time*1000)
      // let MM = (date.getMonth()+1).toString().padStart(2, '0')
      // let DD = date.getDate().toString().padStart(2, '0')
      let mm = date.getMinutes().toString().padStart(2, '0')
      let ss = date.getSeconds().toString().padStart(2, '0')
      return `${mm}:${ss}`;
    },
    fillImage(data, type) {
      let length = this.$lodash.get(this.bifenMatchData, 'game_id') == 4 && type == 'ban'? 7 : 5
      for(var i =0; i<length; i++) {
        if(data[i]) {
          if(type == 'ban') {
            if(!data[i].logo) {
              data[i].logo = this.defaultImage
              data[i].type = 'default'
            }
          } else {
            if(!data[i].icon) {
              data[i].logo = this.defaultImage
              data[i].icon = 'default'
            }
          }
        } else {
          let obj = { 
            logo: this.defaultImage,
            icon: this.defaultImage,
            type: 'default'
          }
          data[i] = obj
        }
      }
      return data
    }
  }
};
</script>

<style lang="less" scoped>
.wrap {
  .both {
    // height: 82px;
    display: flex;
    .team {
      flex: 1;
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      &.home .score {
        margin-left: 4px;
        color: #ffffff;
      }
      &.away {
        .statu{
          justify-content: flex-end;
          .score {
            margin-right: 4px;
            color: rgba(255, 255, 255, 0.3);
          }
        }
      }
      .logo,
      .statu {
        display: flex;
        align-items: center;
      }
      .logo {
        flex: 1;
        overflow: hidden;
        .logo-image {
          width: 25px;
          height: 25px;
        }
        .team-name {
          flex: 1;
          font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
          font-size: 12px;
          color: rgba(255, 255, 255, 0.8);
        }
      }
      .statu {
        width: 44px;
        .match-icon {
          display: inline-block;
          width: 22px;
          height: 22px;
        }
        .score {
          font-size: 18px;
        }
      }
    }
    .vs {
      width: 24px;
      height: 24px;
      background-image: url("~@/assets/images/common/vs-line.png");
      background-size: cover;
      margin: 0 9px;
    }
  }
  .now-time {
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
    padding: 10px 0;
  }
  .hero {
    .hero-item {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .imgs {
        display: flex;
        flex: 1;
        &>div{
          flex: 1;
          overflow: hidden;
          margin-right: 2px;
          text-align: center;
          border-radius: 4px;
        }
        img {
          width: 100%;
          height: 100%;
          // object-fit: cover;
          // margin-top: -4px;
          &.defaultImage{
            height: 100%;
            width: auto;
            margin: 0 !important;
          }
          // &:last-child {
          //   margin: 0;
          // }
        }
      }
      .label {
        padding: 0 9px;
        text-align: center;
        font-size: 12px;
        color: rgba(240, 240, 240, 0.5);
      }
      &.ban {
        margin-bottom: 8px;
        .imgs>div {
          height: 20px;
          position: relative;
          filter: grayscale(100%);
        }
      }
      &.pick {
        margin-bottom: 8px;
        .imgs>div {
          height: 20px;
        }
        .label{
          color: #F0F0F0 ;
        }
      }
      .home>div{
        transform: skewX(6deg);
        border: 1px solid #73b6ce;
        img{
          transform: skewX(-6deg);
        }
      }
      .away>div{
        transform: skewX(-6deg);
        border: 1px solid #df6e63;
        img{
          transform: skewX(6deg);
        }
      }
    }
    ::v-deep .team-logo-default{
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .both-data {
    .events{
      display: flex;
      margin-bottom: 13px;
      height: 24px;
      .item{
        flex: 1;
        display: flex;
        &.home{
          justify-content: flex-end;
        }
        .key-events{
          width: 24px;
          height: 24px;
        }
        .first_blood{
          background: url("~@/assets/images/data/first_blood.png") center / cover no-repeat;
        }
        .first_turret{
          background: url("~@/assets/images/data/first_turret.png") center / cover no-repeat;
        }
        .five_kills_first{
          background: url("~@/assets/images/data/five_kills_first.png") center / cover no-repeat;
        }
        .ten_kills_first{
          background: url("~@/assets/images/data/ten_kills_first.png") center / cover no-repeat;
        }
        .first_dragon{
          background: url("~@/assets/images/data/first_dragon.png") center / cover no-repeat;
        }
        .first_baron{
          background: url("~@/assets/images/data/first_baron.png") center / cover no-repeat;
        }
      }
      .label{
        width: 47px;
      }
    }
    .kda{
      display: flex;
      align-items: center;
      height: 28px;
      border-top: 1px solid rgba(255,255,255,.06);
      border-bottom: 1px solid rgba(255,255,255,.06);
      padding: 0 4px;
      font-size: 12px;
      .item{
        height: 20px;
        flex: 1;
        display: flex;
        &.home{
          border-right: 1px solid rgba(255,255,255,.06);
        }
        &.away{
          justify-content: flex-end;
        }
        .kda-item{
          display: flex;
          align-items: center;
          &:first-child {
            margin-right: 15px;
          }
          .icon {
            width: 20px;
            height: 20px;
            margin-right: 3px;
            &.jj{
              background: url("~@/assets/images/data/data-jj.png") center / cover no-repeat;
            }
            &.dz{
              background: url("~@/assets/images/data/data-dz.png") center / cover no-repeat;
            }
          }
        }
      }
    }
  }
}
</style>