<template>
    <div class="big-picture">
        <van-overlay :show="bigPictureShow" @click="close">
            <van-swipe class="big-picture-swipe"  indicator-color="white" @click="close"  @change="onChange">
                <van-swipe-item v-for="(image, index) in images" :key="index">
                    <img :src="`${UPLOAD_URL + image.images}`" alt=""/>
                </van-swipe-item>
                 <template #indicator>
                    <div class="custom-indicator">
                        <p class="current">{{ indicator.current }}/{{ images.length }}</p>
                        <p class="remark">{{ indicator.remark }}</p>
                    </div>
                </template>
            </van-swipe>
        </van-overlay>
    </div>
</template>
<script>
export default {
    props:["images","bigPictureShow"],
    data(){
        return{
            indicator:{
                current: 1,
                remark: this.images && this.images.length >0 ? this.images[0].remark:[]
            },
            UPLOAD_URL,
        }
    },
    created(){
        this.indicator={
            current: 1,
            remark: this.images[0].remark
        }
    },
    methods:{
        close(){
            this.$emit("close")
        },
        onChange(index) {
            this.indicator = {
                current: index +1 ,
                remark: this.images[index].remark
            };
        },
    }
}
</script>
<style lang="less" >
.big-picture{
    .van-overlay{
        background-color: rgba(0,0,0,1);
        z-index: 100;
    }

    .big-picture-swipe{
        height: 100%;
    }
    img{
        position: absolute;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    .custom-indicator{
        opacity: 0.8;
        font-family: PingFangSC-Regular;
        font-size: 14px;
        color: #FFFFFF;
        font-weight: 400;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 12px 42px 12px;
        .current{
            text-align: center;
            padding-bottom: 20px;
        }
    }
}
</style>
