<template >
    <div class="mkt-component">
        <listLoad class="component-nodata" v-if="componentLoading" />
        <roundMaket v-else />
    </div>
</template>
<script>
    import roundMaket from "./marketList/roundMaket.vue";
    import listLoad from "@/views/common/listLoad"
    export default {
        components:{
            roundMaket,
            listLoad
        },
        data(){
            return {
                componentLoading: false
            }
        },
        created() {
            const matchID = this.$route.params.id;
            this.$store.commit("SET_MATCH_ID", matchID);
            this.componentLoading = true;
            this.$store.dispatch("fetchMarketDetails", {  match_id: matchID, }).then( () => {
                this.componentLoading = false;
            });
        },
    }

</script>
<style lang="less" scoped>
    .mkt-component{
        width: 100%;
        height: 100%;
        overflow-y: overlay;
    }
    .component-nodata{
        width: 100%;
        height: 100%;
        background-color: #10151C;
        // background-image: url("~@/assets/images/common/market-bg.png");
        background-size: 100% 1010px;
        background-position: top center;
        background-image: none;
    }
</style>