<template>
    <div :class="[
        'list-item',
        { 'list-visible': listVisible }
        ]">
        <div class="market-name" v-if="mqMarket[market.id]">
            <b class="words"> {{ getTeams(matchs,market.name) }} </b>
            <div class="to-be-settled" v-show="marketClosed(market)">{{$t('marketPage.tobesettled')}}</div>
        </div>

        <!-- 盘口未结算 -->
        <div 
            :class="[
                'item-info', 
                { 'col3' : market && market.option_type == 6 },
                { 'col1' : market && market.option_type == 23 }
            ]" 
            v-if="mqMarket[market.id] && mqMarket[market.id].status != 9"
        >

            <!-- 布局一: 显示1列 从上到下排列，隐藏盘口向上补齐 -->
            <template  v-if="market.option_type == 23">
                <div 
                    class="info-left"
                    v-for="(item, index) in odds"
                    :key="item.id"
                    v-show="item.visible == 1"
                >
                    <BetItem
                        :key="item.id"
                        position="left"
                        :info="{
                            itemid: item.id,
                            marketid: market.id,
                            matchid: matchs.id,
                        }"
                        :showCrossIcon="true"
                        crossClass="detail-cross"
                    >
                        <template #itemName>
                            {{ oddName(getTeams(matchs, item), market ) }}
                        </template>
                    </BetItem>
                </div>
            </template>

            <!-- 布局二: 显示2列 从左到右排列 隐藏盘口向左补齐 -->
            <template v-else-if="market.option_type == 6">
              <div
                    v-for="(item, index) in odds"
                    :key="item.id"
                    :class="`info-${['left','middle','right'][index]}`">
                    <BetItem
                        :key="item.id"
                        :position="['left','middle','right'][index]"
                        :info="{
                            itemid: item.id,
                            marketid: market.id,
                            matchid: matchs.id,
                        }"
                        :showCrossIcon="true"
                        crossClass="detail-cross"
                    >
                        <template #itemName>
                            {{ oddName(getTeams(matchs, item), market ) }}
                        </template>
                    </BetItem>
              </div>
            </template>

            <!-- 布局三: 显示2列 从上到下排列，隐藏盘口向上补齐 -->
            <template v-else >
                <div class="info-left">
                    <BetItem
                        v-for="item in odds.filter( (e, idx) =>  idx % 2 == 0)"
                        :key="item.id"
                        position="left"
                        v-show="item.visible == 1"
                        :info="{
                            itemid: item.id,
                            marketid: market.id,
                            matchid: matchs.id,
                        }"
                        :showCrossIcon="true"
                        crossClass="detail-cross"
                    >
                        <template #itemName>
                            <div class="item-name-box" v-html="oddName(getTeams(matchs, item), market )"></div>
                        </template>
                    </BetItem>
                </div>
                <div class="info-right">
                    <BetItem
                        v-for="item in odds.filter( (e, idx) =>  idx % 2 != 0)"
                        :key="item.id"
                        position="right"
                        v-show="item.visible == 1"
                        :info="{
                            itemid: item.id,
                            marketid: market.id,
                            matchid: matchs.id,
                        }"
                        :showCrossIcon="true"
                        crossClass="detail-cross"
                    >
                        <template #itemName>
                            <div class="item-name-box" v-html="oddName(getTeams(matchs, item), market )"></div>
                        </template>
                    </BetItem>
                </div>
            </template>

        </div>
        <!-- 盘口结算完成 -->
        <div class="sell-out-match" v-if="market && market.status == 9">
            <div :class="['sellout-box', i % 2 == 0 ? 'left': 'right']" v-for="(item,i) in market.odds" :key="item.id">
                <span class="sellout-name" v-html="oddName(getTeams(matchs, item), market )"></span>
                <span class="sellout-winner">
                    <i v-show="item.is_winner == 0" class="winner-icon market-failure"></i>
                    <i v-show="item.is_winner == 1" class="winner-icon market-win"></i>
                    <i v-show="item.is_winner == 2" class="winner-icon market-win-half"></i>
                    <i v-show="item.is_winner == 3" class="winner-icon market-failure-half"></i>
                    <i v-show="item.is_winner == 4" class="winner-icon market-water"></i>
                </span>
            </div>
        </div>
  
    </div>    

</template>
<script>
import BetItem from "@/views/common/BetItem";
import mixBetStatus from "@/views/common/mixins/mixBetStatus.js";
import { mapGetters } from "vuex"
export default {
    mixins:[ mixBetStatus ],
    props:["market", "matchs"],
    components:{
        BetItem
    },
    computed:{
        ...mapGetters([ "mqMarket", "mqOdds" ]),
        odds({ mqOdds }){
            let arr = [];
            if(this.market && Number(this.market.id)){
                this.market.odds.forEach( ele =>  {
                    arr.push( mqOdds[ele.id] )
                })
            }
            return arr
        },

        listVisible({ market, mqMarket, odds }){
            return market && Number(market.id) && (!mqMarket[market.id].visible || this.hideVisible(odds))
        }
    },
    methods:{
        oddName (value, market){
            if( market.option_type == 2  && value){
                const arr1 = value.split(" -");
                const arr2 = value.split(" +");
                if( arr1.length == 2 ){
                    return `<p class="ellipsis"> ${arr1[0]} </p> <p> -${arr1[1]} </p>`
                }
                if( arr2.length == 2 ){
                    return `<p class="ellipsis"> ${arr2[0]} </p> <p> +${arr2[1]} </p>`
                }
            }else{
                return value
            }
        },
    }
}
</script>