<template>
    <div :class="['market-header', { 'header-video': playVideo },{'market-anchor-header':matchs.category==5}, {'market-header-small': smallHeader}]">
        <!-- 背景图 -->
        <div 
            class="game-bg" 
            v-if="global.GameImages[matchs.game_id]"
            v-show="!smallHeader"
            :style="`background-image: url('${h5sec()}')` ">
        </div>

        <!-- 顶部 -->
        <div class="header-top" :style="`backgroundImage:  url('${h5sec()}')` ">
            <div 
                @click="goBack" 
                class="left common-go-back">
            </div>
            <div class="mid" v-show="!smallHeader && !playVideo">
                <div class="game_logo">
                    <span :class="['logo', 'game-logo-sprite' , logoCls(matchs.game_id) ]" > </span>     
                </div>
                <span class="tournament_name">
                    <template v-show="!hideBo(matchs.category) && matchs.bo != 0">BO{{ matchs.rel_bo }}</template>
                    {{ matchs.tournament_name }}
                </span>
               
            </div>
            <div class="right">
                <div 
                    class="right-recommend" 
                    @click="openRecommend" 
                    v-show="!smallHeader && !playVideo && matchs.status != 7 && matchs.status != 9">
                    {{ i18n.hot }}
                    <i :class="['icon', 'market-recommend', { 'active': showRecommend } ]"> </i>
                </div>
                <div class="right-record" @click="openRecord">{{ $t('homePage.bet') }}</div>
            </div>
        </div>

        <div :class="['info-box', { 'info-video': playVideo }, { 'info-video': playVideo }]" >
            <div :class="{ 'info-small': smallHeader || playVideo }">
                <!-- 主队 -->
                <div class="teams home-team"> 
                    <span class="logo"> 
                        <TeamImage 
                            :url="global.TeamImages[matchs.home_team]" 
                        />
                    </span>
                    <b class="word"> {{ i18nTransMatchTeam(matchs).split(",")[0] }} </b>
                </div>
                <!-- 赛事结束 赛事取消 -->
                <div class="live end-match-score" v-show="matchs.status == 7 || matchs.status == 9 || matchs.status == 6">
                    <span class="has-live" v-show="matchs.status == 7">
                        <b class="score DIN"> {{ matchs.score.split(":")[0] }} </b>
                        <i class="vs"> {{ i18n.yijieshu }} </i>
                        <b class="score DIN"> {{ matchs.score.split(":")[1] }} </b>
                    </span>
                    <span class="has-live" v-show="matchs.status == 9 || matchs.status == 6">
                        <b class="score DIN" v-show="!(matchs.home_score == 0 && matchs.away_score == 0)"> {{ matchs.home_score }} </b>
                        <i class="vs" v-show="matchs.status == 9"> {{ i18n.yiquxiao }} </i>
                        <i class="vs" v-show="matchs.status == 6"> {{ i18n.yijieshu }} </i>
                        <b class="score DIN" v-show="!(matchs.home_score == 0 && matchs.away_score == 0)"> {{ matchs.away_score }} </b>
                    </span>
                    <span class="not-live">
                        <b class="y DIN"> {{ timetrans(matchs.start_time).y }} </b>
                        <b class="d DIN"> {{ timetrans(matchs.start_time).d }} </b>
                    </span>
                </div>
                <!-- 正常赛事 -->
                <div :class="['live',{'video-live': showAntVideo(matchs)}]" v-show="matchs.status == 5">
                    <template v-if="matchs.is_predicted">
                        <span class="not-live predicted">
                            <b class="d DIN"> {{ timetrans(matchs.start_time).d }} </b>
                            <b>{{ $t("homePage.listItem.yujikaisai") }}</b>
                            <b class="y DIN"> {{ timetrans(matchs.start_time).m }} </b>
                        </span>
                    </template>
                    <template v-else>

                        <template v-if="matchs.is_live == 2">    
                            <template v-if="matchs.ant_match_id != 0">
                                <span class="has-live" >
                                    <b class="ant-live-words" v-if="showBIfen(matchs)"> {{ i18n.bifenpanding }} </b>
                                    <template v-else>
                                        <b class="score DIN"> {{ matchs.score.split(":")[0] }} </b>
                                        <img v-if="smallHeader && showAntVideo(matchs)" @click="antVideoPlay" class="market-play play-icon" src="~@/assets/images/common/living1.png" alt="">
                                        <i class="vs common-teams-line" v-else></i>
                                        <b class="score DIN"> {{ matchs.score.split(":")[1] }} </b>
                                    </template>
                                </span> 
                            
                                <div class="has-video-box" v-show="showAntVideo(matchs)">
                                    <span class="has-video" @click="videoPlay(1)" v-show="showVideoLS(matchs)">
                                        <img class="market-play play-icon" src="~@/assets/images/common/living1.png" alt="">
                                        <b class="ellipsis">{{ i18nA.VideoLS }}</b>
                                    </span>
                                    <span class="has-video" @click="videoPlay(2)" v-show="showAnimationLS(matchs)">
                                        <b class="ellipsis">{{ i18nA.AnimationLS }}</b>
                                        <i class="donghua-play"></i>
                                    </span>
                                </div>

                                <span class="live-info" >
                                    <span class="round-bo" v-if="matchTimer[matchs.id] && matchs.category != 5">  
                                        {{ getLiveRound(matchTimer[matchs.id].round,matchs.category) }}&nbsp;
                                    </span>
                                    
                                    <span class="round-timer" v-if="matchTimer[matchs.id] && !hideTimer(matchs, matchTimer[matchs.id].round)">
                                        <live-timer 
                                            :status="matchTimer[matchs.id].status"
                                            :type="timerType(matchs)"
                                            :seconds="matchTimer[matchs.id].time_ticket">
                                        </live-timer>
                                    </span>
                                    <span class="round-bo" v-if="matchs.category == 5 && matchTimer[matchs.id]">  
                                        <span v-show="matchTimer[matchs.id].round && matchTimer[matchs.id].status != 3"> 
                                            {{ getLiveRound(matchTimer[matchs.id].round, matchs.category) }} 
                                        </span>
                                        <b v-show="matchTimer[matchs.id].status == 0">{{ i18n.zhunbei }}</b>
                                        <b v-show="matchTimer[matchs.id].status == 1">{{ i18n.jinxing }}</b>
                                        <b v-show="matchTimer[matchs.id].status == 2">{{ i18n.youxiao }}</b>
                                        <b v-show="matchTimer[matchs.id].status == 3" class="error">{{ i18n.wuxiao }}</b>
                                    </span>
                                </span>
                            </template>

                            <template v-else>
                                <span   :class="['has-live', { 'no-score': showBIfen(matchs) }]" >
                                    <b class="live-words" v-show="showBIfen(matchs)">{{ i18n.bifenpanding }}</b>
                                    <b class="score DIN" v-show="!showBIfen(matchs)"> {{ matchs.score.split(":")[0] }} </b>
                                    <img class="market-play market-play-vs play-icon" src="~@/assets/images/common/living1.png" alt="" @click="videoPlay(1)" v-if="shownormalVideo(matchs)">
                                    <i :class="['vs', 'common-teams-line']" v-else></i>
                                    <b class="score DIN" v-show="!showBIfen(matchs)"> {{ matchs.score.split(":")[1] }} </b>
                                </span> 
                                <span class="live-info" >
                                    <span class="round-bo" v-if="matchTimer[matchs.id] && matchs.category != 5">  
                                        {{ getLiveRound(matchTimer[matchs.id].round,matchs.category) }}&nbsp;
                                    </span>
                                    
                                    <span class="round-timer" v-if="matchTimer[matchs.id] && !hideTimer(matchs, matchTimer[matchs.id].round)">
                                        <live-timer 
                                            :status="matchTimer[matchs.id].status"
                                            :type="timerType(matchs)"
                                            :seconds="matchTimer[matchs.id].time_ticket">
                                        </live-timer>
                                    </span>
                                    <span class="round-bo" v-if="matchs.category == 5 && matchTimer[matchs.id]">  
                                        <span v-show="matchTimer[matchs.id].round && matchTimer[matchs.id].status != 3"> 
                                            {{ getLiveRound(matchTimer[matchs.id].round, matchs.category) }} 
                                        </span>
                                        <b v-show="matchTimer[matchs.id].status == 0">{{ i18n.zhunbei }}</b>
                                        <b v-show="matchTimer[matchs.id].status == 1">{{ i18n.jinxing }}</b>
                                        <b v-show="matchTimer[matchs.id].status == 2">{{ i18n.youxiao }}</b>
                                        <b v-show="matchTimer[matchs.id].status == 3" class="error">{{ i18n.wuxiao }}</b>
                                    </span>
                                </span>                        
                            </template>
                        </template>
                        <span v-else class="not-live">
                            <b class="d DIN"> {{ timetrans(matchs.start_time).d }} </b>
                            <b class="y DIN"> {{ timetrans(matchs.start_time).y }} </b>
                            <b class="status"> <timer :className="smallHeader ? 'col':'row' " :remain="remain" /> </b>
                            <!-- <span class="live-tip" v-if="matchs.category == 5">  
                                当前可投注的盘口非直播比赛的盘口
                            </span> -->
                        </span>
                    </template>
                </div>
                <!-- 客队 -->
                <div class="teams away-team">
                    <span class="logo">  
                        <TeamImage :url="global.TeamImages[matchs.away_team]" />
                    </span>
                    <b class="word"> {{ i18nTransMatchTeam(matchs).split(",")[1] }} </b>
                </div>
            </div>
        </div>

        <!-- 
            还原全屏投注代码
            <div  class="video-wrap-box" v-if="playVideo">
            <fullScreen
                :lockVideo="lockVideo"
                :video_url="video_url"
                :liveVideo="liveVideo"
                @closeVideo="closeVideo"
            />
        </div> -->

        <div  class="video-wrap-box" v-if="playVideo">
            <div :class="['video-wrap',{'fixed':lockVideo}]" ref="videoWrap">
                <span @click="closeVideo" @touchstart.stop class="close common-close-small1"> </span>
                <!-- <span @click="screenfullFuc" v-show="AndroidOS" @touchstart.stop class="full-screen market-player-full"> </span> -->
                <iframe
                    :src="videoURL(matchs)"
                    allow="autoplay; encrypted-media; fullscreen"
                    frameborder="0" 
                    scrolling="no"  
                    width="100%"
                    height="100%"
                    allowfullscreen="true"
                    mozallowfullscreen="true"
                    msallowfullscreen="true"
                    oallowfullscreen="true"
                    webkitallowfullscreen="true">
                </iframe>
            </div>
        </div>


        <recommend 
            class="hot-recommend"
            @done="getMarket"
            @hide="showRecommend = false"
            :visible.sync="showRecommend"
        />
        <record
            :type="calcRecordType()" 
            @done="getMarket"
            @hide="showRecord = false"
            :visible.sync="showRecord"
        />
    </div>
</template>
<script>
import { mapGetters } from "vuex";
import { timetrans } from "@/assets/scripts/utils";
import recommend from "./recommend"
import record from "./record"
import mixBetStatus from "@/views/common/mixins/mixBetStatus.js";
import mixMatchStatus from "@/views/common/mixins/mixMatchStatus.js";
import liveTimer from "@/views/common/liveTimer.vue";
import fullScreen from "./fullScreen";


import * as dataApi from "@/api/data.js";
import timer from "./timer.vue";

import screenfull from "screenfull";
import qs from "qs";
 
const langMap = {
    'cn': '',    // 简体
    'zh': '',    // 繁体
    'en': '/en',  // 英语
    'vi': '/vi',  // 越南
    'ml': '/ms',  // 马来  
    'th': '/th',  // 泰语
    'ni': '/id',    // 印尼
}


export default {
    mixins: [ mixBetStatus, mixMatchStatus],
    name:"market-header",
    components:{
        recommend,
        record,
        liveTimer,
        timer,
        fullScreen
    },
    props:[
        "smallHeader",
        "lockVideo",
        "AndroidOS",
        "fromName",
    ],
    computed:{
        ...mapGetters([
            "images",
            "playVideo",
            "matchs",
            "matchsArr",
            "matchTimer",
            "serverTime", // 服务器时间
            "localTime", // 存储的本地时间
            "bifenBtnStatus"
        ]),
        



        remain(){
            const time = Number(this.matchs.start_time) - this.systemTime;
            if( time > 0 && this.systemTime ){
                return time;
            }
            return 0
        }
    },
    watch: {
        matchs: {
            handler(v,ov) {
                if (v.status != 5 || v.is_live == 1 || (!v.user_video_url && !v.admin_video_url)) {
                    // this.closeVideo();
                }
                if( v.video_type == 5 && this.liveVideo == 1 && this.playVideo ){
                    this.videoPlay(2); 
                }
            },
            deep: true,
        },
        "matchs.start_time":{
            handler(v,ov) {
                if( v != ov ){
                    this.getSystemTime();
                }
            },
            deep: true
        },
        'matchs.is_open_video'(v){
            !v ? this.$store.commit("SET_VIDEO_PLAY", !!v) : '';
        },
       
    },
   
    mounted(){
        this.getSystemTime();
        // 切换标签更新时间
        document.addEventListener('visibilitychange', this.changeTime);
        // 1分钟更新一次当前时间
        this.updateTime = setInterval( () => {
            this.getSystemTime();
        }, 1000*60 );
        console.log('==44',this.matchTimer[this.matchs.id],this.matchs.id)
    },
    data(){
        return {
            showRecommend: false,
            showRecord: false,
            systemTime: 0,
            global,
            i18n: this.$t('marketPage.marketHeader'),
            i18nA: this.$t("antDataSource"),
            video_url:{}, // 视频播放地址
            liveVideo: 1, // 1；视频直播  2： 动画直播
        }
    },
    created() {
        const matchID = this.$route.params.id;
        dataApi.requestBifenAntVideoUrl({
            match_id: matchID
        }).then( res => {
            if( res.data.status == "true" ){
                this.video_url = JSON.parse(res.data.data);
            }
        })
    },
    methods:{
        timetrans,
        calcRecordType() {
            if (this.playVideo) {
                return 1
            }
            if (this.smallHeader) {
                return 2
            } else {
                return 0
            }
        },
        getMarket(){
            this.showRecommend = false;
            // this.$store.commit("SET_MARKES_LIST", []); // 清除盘口数据
            // this.$store.commit("SET_MARKET_DETAIL", []); // 清除盘口详情数据
            // this.$store.dispatch("fetchMarketList",{
            //     match_id: this.matchs.id
            // })
        },
        
        // 背景图片
        h5sec(){
            const img = global.GameImages[this.matchs.game_id];
            return UPLOAD_URL + (img ? img.h5_sec : "")
        },

        goBack(){
            this.$toast.clear();
            this.$router.go(-1);
        },

        //直播开始
        videoPlay(type){
            this.liveVideo = type;
            this.$store.commit("SET_VIDEO_PLAY", true);
            this.$emit('lock')
        },
        antVideoPlay(){
            if( this.showVideoLS(this.matchs) ){
                this.videoPlay(1)
            }else{
                this.videoPlay(2)
            }
        },
        closeVideo(){
            this.$store.commit("SET_VIDEO_PLAY", false);
            this.$emit("closeLockVideo");
        },
        // 打开关闭热门游戏modal
        openRecommend(){
            this.showRecommend = !this.showRecommend;
        },

        // 打开投注历史记录
        openRecord() {
            this.showRecord = true;
        },


        // 获取服务器时间
        getSystemTime(){
            let currentTime = this.serverTime + (new Date().getTime()- this.localTime);
            this.systemTime = currentTime/1000;
        },

        changeTime(){
            const visibilityState =  document.visibilityState;
            if(visibilityState == "visible"){
                this.getSystemTime();
            }
        },


         meURL(matchs){
             if(matchs.sid !== "0"){
                 // 体育单独获取视频地址
                 const {sid, admin_video_url} = matchs;
                 const urlArr = admin_video_url.split('|');// 播放器地址|视频接口地址|视频接口token
                 let tyParams = {
                     isTY: 1,
                     sid,
                     videoUrl: urlArr[1],
                     requestId: urlArr[2],
                     "device":"H5",
                 }
                 tyParams = qs.stringify(tyParams);
                 return `${urlArr[0]}${tyParams}`;
             }else if( matchs.video_type == 2){
                 if( (/(iPhone|iPad|iPod|iOS)/i.test(navigator.userAgent))){
                     return matchs.user_video_url
                 }else{
                     return matchs.admin_video_url
                 }
             }else{
                 return matchs.user_video_url
             }
         },
 
         // 蚂蚁数据源直播地址 url ? url + '&hideFullScreen=1' : url 
         videoURL(matchs){
             if( matchs.ant_match_id != 0 ){
                 if( this.liveVideo == 1 ){
                     if( matchs.video_type == 4 || matchs.priority_live != 0 ){
                        const url = this.video_url.flv || this.video_url.m3u8 || this.meURL(matchs);
                        return url // 蚂蚁直播源
                     }else{
                        const url = this.meURL(matchs);
                        return url // 蚂蚁直播源
                     }
                 }else{
                     let videoUrl = this.video_url.anime_h5 || '';
                     const lang = localStorage.getItem('language') || 'cn';
                     videoUrl =  videoUrl.replace(/\/{@lang}/g, langMap[lang]);
                     return videoUrl
                 }
             }else{
                const url = this.meURL(matchs);
                return url // 蚂蚁直播源
             }
         },
 
         screenfullFuc(){
             const ele = this.$refs.videoWrap;
             screenfull.toggle(ele, {navigationUI: 'show'});
         }


    },
    destroyed(){
        window.removeEventListener('visibilitychange', this.changeTime);
        clearInterval(this.updateTime);
    }
}
</script>
<style lang="less" >
    .market-header{
        width: 100%;
        height: 104px;
        padding: 0 16px;
        background-color: #1E2635;
        .video-wrap-box{
            height: 210px;
            width: 100%;
            flex: 0 0 210px;
            .video-wrap{
                // transform: translateZ(20px);
                // z-index: 1000;
                &.fixed{
                    position: fixed;
                    top: 49px;
                    left: 0;
                    right: 0;
                    z-index: 99;
                }
            }
        }
        
        &.header-video{
            height: 210px;
            padding: 0;
            flex: 0 0 210px;
        }
        &.market-header-small{
            height: 49px;
            overflow: hidden;
            flex: 0 0 45px;
        }
        .teams{
            width: 90px;
            // height: 104px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            position: relative;
            z-index: 1;
            .logo{
                width: 48px;
                height: 48px;
                img{
                    width: 48px;
                    height: 48px;
                }
            }
            .word{
                margin-top: 4px;
                // height: 42px;
                font-size: 12px;
                color: rgba(255,255,255,0.6);
                height: 30px;
                line-height: 15px;
                text-align: center;
                overflow : hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }
        .live{
            display: flex;
            align-items: center;
            flex-direction: column;
            position: relative;
            z-index: 1;
            &.video-live{
                height: 48px;
            }
            .has-live,.not-live{
                height: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
            }
            .has-video-box{
                display: flex;
            }
            .no-score{
                .market-play{
                    margin-top: 18px;
                }
            }
            .live-words{
                color: #E7BB02;
                font-size: 12px;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translate(-50%);
                width: 100px;
                text-align: center;
            }
            .ant-live-words{
                color: #E7BB02;
                font-size: 12px;
            }
            .has-video{
                width: 77px;
                height: 23px;
                background: rgba(0,0,0,0.30);
                
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                position: relative;
                .market-play{
                    width: 16px;
                    height: 16px;
                    margin: 0 ;
                }
                .donghua-play{
                    
                    width: 16px;
                    height: 16px;
                    margin: 0 ;
                }
                b{
                    font-size: 12px;
                    color: rgba(255,255,255,0.6);
                    // margin-left: 2px;
                }
                &:nth-child(1){
                    margin-right: 4px;
                    border-radius: 77px 32px 32px 77px;
                    b{
                        margin-left: 8px;
                    }
                }
                &:nth-child(2){
                    border-radius: 32px 77px 77px 32px;
                    b{
                        margin-right: 16px;
                    }
                }
            }
            .live-info{
                position: absolute;
                top: 52px;
                width: 150px;
                font-size: 12px;
                color: #E7BB02;
                display: flex;
                align-items: center;
                justify-content: center;
                .round-bo{
                    zoom: 0.83;
                    .error{
                        color: #FF4B34;
                    }
                }
            }
            .vs{
                width: 24px;
                height: 24px;
                margin: 0 20px;
            }
            .market-play-vs{
                width: 23px;
                height: 21px;
                margin: 0 16px;
                border-radius: unset;
            }
            .score{
                font-size: 24px;
                color: #FFFFFF;
            }
            .not-live{
                height: 48px;
                flex-direction: column;
                .y{
                    opacity: 0.6;
                    font-size: 12px;
                    color: #FFFFFF;
                }
                .d{
                    font-size: 24px;
                    color: #FFFFFF;
                }
                .status{
                    position: absolute;
                    top: 68px;
                    font-size: 14px;
                    color: #0095FF;
                }
                .live-tip{
                    position: absolute;
                    top: 58px;
                    color: #FFFFFF;
                    font-size: 12px;
                    width: 100px;
                    opacity: 0.6;
                    transform: scale(0.8);
                }
            }
            .predicted{
                width: 92px;
                height: 92px;
                background: url("~@/assets/images/common/jijikaisai.png") center / cover no-repeat;
                font-size: 12px;
                .d{
                    font-size: 20px;
                }
            }
            &.end-match-score{
                .not-live{
                    flex-direction: row;
                    height: 20px;
                    .y,.d{
                        opacity: 0.6;
                        font-size: 12px;
                        color: #FFFFFF;
                    }
                    .d{
                        margin-left: 8px;
                    }
                }
                .has-live{
                    .vs{
                        font-size: 12px;
                        width: auto;
                        height: auto;
                        margin: 0 12px;
                    }
                }
            }
        }
        .info-box{
            width: 100%;
            height: 104px;
            &>div{
                display: flex;
                justify-content: space-between;
            }
            &.info-video{
                height: 0;
            }
        }
        .info-small{
            position: fixed;
            top: 0;
            left: 54px;
            right: 54px;
            height: 49px;
            z-index: 1002;
            .teams{
                align-items: center;
                &.home-team{
                    flex-direction: row-reverse;
                    .word{
                        text-align: right;
                        margin-right: 4px;
                    }
                }
                &.away-team{
                    flex-direction: row;
                    .word{
                        text-align: left;
                        margin-left: 4px;
                    }
                }
                .logo{
                    width: 24px;
                    height: 24px;
                    img{
                        width: 24px;
                        height: 24px;
                    }
                }
                .word{
                    width: 64px;
                    height: 17px;
                    line-height: 17px;

                    word-break: break-all;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            .live-info{
                display: none;
            }
            .has-video{
                display: none;
            }
            .live-words{
                display: none;
            }
            .live{
                .market-play{
                    width: 24px;
                    height: 24px;
                    margin: 0 4px;
                }
                .vs{
                    margin: 0 4px;
                }
                .score{
                    font-size: 18px;
                }
            }
            .not-live{
                .status{
                    width: 55px;
                    top: 50%;
                    text-align: center;
                    transform: translateY(-50%);
                }
                .d, .y{
                    // font-size: 18px;
                    display: none
                }
            }
            .end-match-score{
                .not-live{
                    display: none;
                }
                .has-live .score{
                    display: none;
                }
            }
        }
        // &.market-anchor-header{
        //     .score{
        //         // display: none;
        //     }
        // }
        
        .hot-recommend{
            position: fixed;
            top: 45px;
            left: 0;
            right: 0;
            bottom: 150px;
            z-index: 99;
            overflow: scroll;
            .recommend-list{
                padding: 0 12px;
            }
        }

    }
    .header-top{
        width: 100%;
        height: 45px;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1001;
        background-size: 100% auto;
        background-color: #1E2635;
        .left{
            width: 24px;
            height: 24px;
            position: absolute;
            left: 12px;
            top: 50%;
            transform: translateY(-50%);
        }
        .right{
            position: absolute;
            right: 4px;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            font-size: 12px;
            color: #ffffff;
            align-items: center;
            .right-recommend {
                display: flex;
                .icon{
                    width: 16px;
                    height: 16px;
                    transition: all 0.3s;
                    &.active{
                        transform: rotate(180deg);
                    }
                }
            }
            .right-record {
                width: 40px;
                height: 24px;
                border-radius: 24px;
                border: 1px solid rgba(255, 255, 255, 0.20);
                background: rgba(255, 255, 255, 0.10);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .mid{
            width: 200px;
            height: 100%;
            margin-left: 40px;
            display: flex;
            align-items: center;
            .game_logo{
                width: 20px;
                height: 20px;
                .logo{
                    display: block;
                    width: 120px;
                    height: 120px;
                    transform-origin: 0 0;
                    transform: scale(20/120);
                }
            }
            .tournament_name{
                margin-left: 4px;
                color: rgba(255,255,255, 0.5);
                font-family: PingFang SC;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-overflow: -o-ellipsis-lastline;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
            .bo{
                margin: 0 4px 0 6px;
                font-size: 14px;
                color: rgba(255,255,255,0.6);
                font-weight: bolder;
            }
        }
    }
    .game-bg{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 152px;
        // background-color: #2b2f35;
        // background-image: url("http://dl1.zxjlbvip.org/upload/images/base_app_detail/dota2_257289795134339_h5_sec.png");
        background-size: cover; 
        background-repeat: no-repeat;

    }
</style>
<style lang="less" scoped>
.play-icon{
  background: unset;
  border-radius: unset;
}
</style>