<template >
    <transition name="collapse-popup">
        <div class="recommend" v-show="visible" @click="$emit('hide')">
            <div              
                class="recommend-list  app-bg" 
                v-if="recommend.length > 0 && visible">
                <ListItem
                    isReplace
                    @goDone="$emit('done')"
                    v-for="match in recommendList" 
                    :key="match.id" 
                    :match="match"
                    :showBJ="false"
                />
            </div>
            <common-not-data
                v-show="recommend.length == 0"
                class="not-recommend-data"
                :title="i18n.zanwu"
                :subTitle="i18n.zanwutishi"
                backgroundImg="not-data-match">
            </common-not-data>
        </div>
    </transition>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import commonNotData from "@/views/common/commonNotData";
import lodash from 'lodash';
import ListItem from "@/views/home/ListItem/listItem"

export default {
    name:"recommend",

    components:{
        commonNotData,
        ListItem
    },

    props: {
        visible: {
            type: Boolean,
            default: false,
        },
    },

    watch:{
        visible(val,oldVal) {
            if(val){
                document.getElementById("market").style.overflow='hidden';
            }
            else{
                document.getElementById("market").style.overflow='';
            }
       }
    },

    computed:{
  
        ...mapGetters([
            "matchList", 
            "recommend",
            "mqMatch"
        ]),
        curRecommend() {
            let arr = [];
            const mqMatch = this.mqMatch;
            this.recommend.forEach( (ele) => {
                arr.push({
                    ...ele,
                    ...mqMatch[ele.id]
                })
            });
            return arr
        },
        // 实际渲染推荐赛事的列表
        recommendList(){
            let recommend = lodash.cloneDeep(this.curRecommend);
            // 排序
            // recommend.sort((a, b) => {
            //     return Number(a.rec) - Number(b.rec) || Number(a.start_time) - Number(b.start_time);
            // });
            // // ele.visible == 1 赛事是显示  ele.status == 5 赛事开盘
            // recommend = recommend.filter(ele => ele.visible && ele.status == 5 && ele.rec != 0);
            // 系统赛事
            // ele.visible == 1 赛事是显示  ele.status == 5 赛事开盘
            const systemMatch = recommend.filter(ele => ele.visible && ele.status == 5 && ele.rec != 0 && ele.rec == 1)
            systemMatch.sort((a, b) => {
                return Number(a.match_level_sort) - Number(b.match_level_sort) || Number(a.sort_code) - Number(b.sort_code) || Number(a.start_time) - Number(b.start_time) || a.id - b.id;;
            });
            // 操盘手赛事
            // ele.visible == 1 赛事是显示  ele.status == 5 赛事开盘
            const operaterMatch = recommend.filter(ele => ele.visible && ele.status == 5 && ele.rec != 0 && ele.rec != 1)
            operaterMatch.sort((a, b) => {
                return Number(a.rec) - Number(b.rec) || Number(a.match_level_sort) - Number(b.match_level_sort) || Number(a.sort_code) - Number(b.sort_code) || Number(a.start_time) - Number(b.start_time) || a.id - b.id;;
            });

            let _operater = [...operaterMatch];
            if (_operater.length > 2) {
                _operater = _operater.slice(0,2);
            }

            let _systems = [...systemMatch];
            _systems = _systems.slice(0,5 - _operater.length)
            // console.log('matchs', _systems, _operater)
            return [..._systems, ..._operater];
        },
    },

    created(){
        this.fetchMatchRecommend();
    },

    methods:{
        ...mapActions(["fetchMatchRecommend"]),
    },

    data(){
        return {
            i18n: this.$t('marketPage.recommend'),
        }
    },

}
</script>
<style lang="less">
    .not-recommend-data{
        background: #2B2F35;
        padding: 30px 0 90px 0;
    }

</style>