<template >
    <transition name="collapse-popup-down">
        <div :class="['record', `type${type}`]" v-show="visible">
            <history-order :mode="1" @closeRecord="closeRecord"></history-order>
        </div>
    </transition>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import lodash from 'lodash';
import historyOrder from "../user/historyOrder/index.vue";

export default {
    name:"record",
    components: {
        historyOrder
    },
    props: {
        type: {
            type: Number,
            default: 0 // 0=默认；1=视频；2=滚动
        },
        visible: {
            type: Boolean,
            default: false,
        },
        isShow: {
            type: Boolean,
            default: false,
        },
    },

    watch:{
        visible(val,oldVal) {
            if(!this.isShow){
                if(val){
                document.getElementById("market").style.overflow='hidden';
                }
                else{
                    document.getElementById("market").style.overflow='';
                }
            }
            
       }
    },

    computed:{
    },

    created(){
    },
    methods: {
        closeRecord(){
            this.$emit('hide')
        }
    }
}
</script>
<style lang="less">
    .record{
        position: fixed;
        left: 0;
        //top: 49px;
        bottom: 0;
        width: 100%;
        height: calc(100% - 138px);
        overflow: hidden;
        background-color: rgba(0,0,0,0.6);
        z-index: 101;
        .date-model.van-popup--top {
            top: 224px;
        }
        .order .van-overlay {
            top: 140px;
        }
        &.type1 {
            height: calc(100% - 259px);
            .order .van-overlay {
                top: 140px;
            }
            .date-model.van-popup--top {
                top: 346px;
            }
        }
        &.type2 {
            height: calc(100% - 49px);
            // .order .van-overlay {
            //     top: 140px;
            // }
            // .date-model.van-popup--top {
            //     top: 259px;
            // }
        }
    }
</style>