<template >
    <div :class="['makert-timer', className]">
        <h1> {{ i18n.kaipan }} </h1>
        <div class="timer-box">
            <span class="timer timer-d"> {{ day }} </span>
            <b> {{ i18n.day }} </b>
            <span class="timer timer-h"> {{ hour }} </span>
            <b> {{ i18n.hour }} </b>
            <span class="timer timer-m"> {{ minute }} </span>
            <b> {{ i18n.minute }} </b>
            <span class="timer timer-s"> {{ second }} </span>
            <b> {{ i18n.second }} </b>
        </div>
    </div>
</template>
<script>
export default {
    props: [ "remain", "className" ],
    data(){
        return {
            remainTime: 0,
            i18n: this.$t('marketPage.timer'),
        }
    },
    computed:{
        day(){
            let t = parseInt(this.remainTime / (60 * 60 * 24));
            let _t =  t < 10 ? ('0' + t) : t;
            return _t
        },
        hour(){
            let t = parseInt(this.remainTime / (60 * 60) % 24);
            let _t =  t < 10 ? ('0' + t) : t;
            return _t
        },
        minute(){
            let t = parseInt(this.remainTime / 60 % 60);
            let _t =  t < 10 ? ('0' + t) : t;
            return _t
        },
        second(){
            let t = parseInt(this.remainTime % 60);
            let _t =  t < 10 ? ('0' + t) : t;
            return _t
        }
    },
    watch:{
        remain(v) {
            this.initRemain();
        },
    },
    created(){
        this.initRemain();
    },
    methods:{
        initRemain(){
            this.remainTime = this.remain;
            this.setCountInterval();
        },
        setCountInterval() {
            clearInterval(this.interval);
            this.interval = setInterval(() => {
                this.remainTime--;
                if(this.remainTime <= 0 ){
                    if(this.interval){ clearInterval(this.interval) } ;
                    this.remainTime = 0;
                }
            }, 1000);
        },
    }
}
</script>
<style lang="less">
    .makert-timer{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 150px;
        transform: scale(0.78, 0.78) translateY(-50%);
        margin-left: -75px;
        display: flex;
        align-items: center;
        justify-content: center;
        &.col{
            flex-direction: column;
            .timer-box{
                transform: scale(0.9, 0.9);
            }
        }
        .timer-box{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        h1{
            font-size: 12px;
            color: rgba(255,255,255,0.6);
            text-align: center;
            font-weight: 400;
            margin-right: 4px;
        }
        b{
            font-size: 12px;
            color: #0095FF;
            font-family: "DIN";
        }
    }
</style>