<template>
     <div :class="['cart' ,{ 'top-not-blur': showBetCart }]" >
        <div class="bet-list">
            <div class="max-lens" v-show="isbetMax10">
                {{ i18n.betMax }}
            </div>
            <div class="list-scroll" ref="listScroll">
                <!-- 单注列表  -->
                <div class="cart-list">
                    <div 
                        :class="[
                            'list',
                            { 'same-match': item.same_match && cartLen > 1 }
                        ]"  
                        v-for="(item,i) in betCart" 
                        :key="i">

                        <div class="list-content">
                            <div class="list-content-top">
                                <div class="item item-info">
                                    <span class="item_name">
                                        <i class="game-name game-logo"> 
                                            <span :class="['logo', 'game-logo-sprite' , logoCls(item.game_id) ]" > </span>
                                        </i>
                                        <b class="name"> 
                                            {{ getTeams(item, i18nTransGameNameKey(item, 'item_')) }}  
                                        </b>
                                    </span>
                                    <span class="item_round">
                                        <b class="round"> {{getLiveRound(item.round,item.category) }} </b>
                                        <b class="live"> {{ item.is_live | getStage }}  </b>
                                        <b class="cn_name"> {{ getTeams(item, item.name) }} </b>
                                    </span>
                                    <span class="item_tournament_name"> 
                                        {{ item.tournament_name }}
                                        {{ item.round_no }}
                                    </span>
                                </div>

                                <div class="item item-odds">
                                    <span v-if="!cartIssuspended(item)">
                                        <transitionOdds
                                            position="left"
                                            class="odds DIN"
                                            :notIcon="true"
                                            :keys="item.item_id"
                                            @update="changeodds($event, item, i)"
                                            :odds="item.odds">
                                            @{{ Math.formatAmount(item.odds,3) }}
                                        </transitionOdds>
                                    </span>
                        
                                    <span v-else class="iconfont common-suspended"></span>
                                </div>

                                <div class="item item-input" v-if=" item.bet_type === 'isSingle'">
                                    <span>
                                        <common-input 
                                            :placeholder="i18n.placeholder"
                                            :value="item.bet_amount"
                                            :i="i"
                                            :isFocus="activeSingleBoard === i"
                                            @focus="focus(i)"
                                            :keyMin="getSingleLimit('min_bet', 0)"
                                            :keyMax="getSingleLimit('max_bet', 0)"
                                            :limit_succeed="item.limit_succeed"
                                            :quotaLoading="quotaLoading"
                                        />
                                    </span>
                                    <div :class="['profitable', { 'tester': userInfo.tester == 2 || userInfo.tester == 3 }]">
                                        <span class="profitable-content">
                                            <b class="words"> {{i18n.return}} </b>
                                            <b :class="['number', 'DIN', {'red': item.profitable < item.relProfitable }]"> 
                                                {{ Math.formatAmount(item.profitable) }}
                                            </b>
                                        </span>
                                    </div>
                                    <!-- 虚拟体育倒计时 -->
                                    <timer :mgt="item.start_time*1000" v-if="item.batch_no"></timer>
                                </div>
                            </div>
                            <div class="item_teams" v-show="item.category != 2"> 
                                {{ item.T1 }} - VS - {{ item.T2 }}
                            </div>
                            <i
                                @click="delOder(item.item_id)" 
                                class="colse-list common-close-small"> 
                            </i>

                        </div>
                        <number-board  
                            v-if="activeSingleBoard === i && item.bet_type === 'isSingle'"
                            :keyMax="getSingleLimit('max_bet', 0)"
                            :keyMin="getSingleLimit('min_bet', 0)"
                            :value="item.bet_amount"
                            @updateNumber="updateNumber($event, i, item)"
                            :limit_succeed="item.limit_succeed"
                        />
                    </div>
                </div>

                <!-- 串注列表 -->
                <div class="cross-list" v-show="hasCross">

                    <div class="cross-header" @click="showCross = !showCross">
                        <span class="words"> {{i18n.corssOptions}} </span>
                        <span class="pick" >
                            <i v-if="showCross" class="common-pick-up"> </i>
                            <i v-else class="common-pick-down"> </i>
                        </span>
                    </div>

                    <div 
                        class="cross-main"
                        v-show="showCross || item.alwaysShow"
                        v-for="(item,i) in cross"
                        :key="i">

                        <div class="main-content">
                            <div class="cross-top">
                                <span class="name">
                                    {{ item.name }}
                                </span>
                                <span class="odds DIN" v-show="item.odds">
                                    <transitionOdds
                                        position="left"
                                        class="odds DIN"
                                        :odds="item.odds"
                                        @update="changeCrossOdds($event, item, i)"
                                    >
                                        <span :class="[{'odd_red': item.isOVerLimtOdd }]">
                                            @<i class="DIN">{{ Math.formatAmount(item.odds,3) }} </i>
                                        </span>
                                    </transitionOdds>
                                </span>
                            </div>
                            <div class="cross-bottom">
                                <span class="profitable">
                                    <b class="words">  {{i18n.return}} </b>
                                    <b :class="['number','DIN',  { 'red': item.profitable < item.relProfitable }]"> {{ Math.formatAmount(item.profitable) }} </b>
                                </span>
                                <span class="odds-input">
                                    <b class="number DIN"> {{ item.bet_num }}x </b>
                                    <common-input 
                                        :placeholder="i18n.placeholder"
                                        :value="item.bet_amount"
                                        :i="i"
                                        :isFocus="activeCrossBoard === i"
                                        :keyMin="getCrossLimit('min_bet', item)"
                                        :keyMax="getCrossLimit('max_bet', item)"
                                        @focus="corssFocus(i)"
                                        :quotaLoading="quotaLoading"
                                    />
                                </span>
                            </div>
                        </div>

                        <number-board  
                            v-if="activeCrossBoard === i"
                            :keyMax="getCrossLimit('max_bet', item)"
                            :keyMin="getCrossLimit('min_bet', item)"
                            :value="item.bet_amount"
                            @updateNumber="updateCrossNumber($event, i, item)"
                            @updateLimit="updateCorssLimit"
                        />

                    </div>
                </div>
            </div>

            <div class="list-tips">
                <p v-show="hasLight"> {{i18n.hasLight}} </p>
                <p v-show="oddsChange"> {{i18n.oddsChange}} </p>
                <p v-show="userInfo.balance < Number(tolBetAcount)"> {{i18n.balance}} </p>
                <p v-show="showLimitBalance && betActiveType === 'isSingle'"> 
                    {{ i18n.showLimit5 }}
                </p>
                <p v-show="showCrossLimitBalance && betActiveType === 'isCross'"> 
                    {{ i18n.showLimit5 }}
                </p>
                 <p v-show="isOVerLimtOdd && betActiveType === 'isCross'">{{ si18n.tips4  }}</p>
                <p v-show="showLimit && betActiveType === 'isSingle'">  {{i18n.showLimit1}} </p>
                <p v-show="crossTipsType == 1 && betActiveType === 'isCross'"> {{i18n.showLimit2}} </p>
                <p v-show="crossTipsType == 2"> {{i18n.showLimit3}} </p>
                <p v-show="crossTipsType == 3"> {{i18n.daily}}{{ canCrossCart.length }}{{i18n.corss}}{{ canCrossCart.length > 5 ? 1 : "N" }}{{i18n.showLimit4}} </p>
                <p v-show="betActiveType === 'isCross'&& (betCart.length < 2 || !hasCross)">{{i18n.length2}}</p>
            </div>
        </div>
        <div class="cart-meun">
            <div class="meun-hide">
                <div class="info">
                    <span class="tolBetAcount">
                        <b class="words"> {{i18n.total}} </b>
                        <b class="number DIN"> 
                            {{ Math.formatAmount(tolBetAcount) }} 
                        </b>
                    </span>
                    <span class="tolProfitable">
                        <b class="words"> {{i18n.maxReturn}} </b>
                        <b class="number DIN"> 
                            {{ Math.formatAmount(tolProfitable) }} 
                        </b>
                    </span>
                </div>
                <select-odds
                    :value="acceptOddType"
                    :list="acceptOdds"
                    @input="updateType"></select-odds>
                <div class="btn">
                    <span 
                        class="btn-changeodds home-btn-red" 
                        v-if="oddsChange" 
                        @click="acceptOddsFuc">  
                    </span>
                    <span 
                        v-else
                        :class="[
                            'btn-submit',
                            tolBetAcount ? 'home-btn-blue': 'home-btn-gray',
                        ]" 
                        @click="goBet"> 
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex';
import { digit } from "@/views/common/directive/input"
import mixMatchStatus from "@/views/common/mixins/mixMatchStatus.js";
import mixBetStatus from "@/views/common/mixins/mixBetStatus.js";
import mixAddCart from "@/views/common/mixins/mixAddCart.js"
import { hasJiZhunFen } from "@/assets/scripts/utils";
import transitionOdds from "@/views/common/transitionOdds";
import commonInput from "@/views/common/commonInput";
import numberBoard from "@/views/common/numberBoard";
import selectOdds from "@/views/common/selectOdds";
import qs from "qs"
import timer from "./timer.vue";
import * as gameApi from "@/api/game.js";
import * as userApi from "@/api/user.js";
import { Except } from "@/assets/scripts/precision";
import lodash from "lodash"

export default {
    name:"betOrder",
    components:{transitionOdds, commonInput, numberBoard, selectOdds, timer},
    mixins:[mixMatchStatus, mixBetStatus, mixAddCart],
    directives:{ digit },
    props:['showBetCart'],
    data(){
        return{
            oddsChange:false,
            showCross: false,
            acceptOdds: [
                { value: 1, text: this.$t('betCart.betOrder.acceptOdds1') },
                { value: 2, text: this.$t('betCart.betOrder.acceptOdds2') },
                { value: 3, text: this.$t('betCart.betOrder.acceptOdds3') },
            ],
            activeSingleBoard: -1, // 当前聚焦的单注数字软键盘
            activeCrossBoard: -1, // 当前聚焦的串注数字软键盘

            crossShowTips: {},

            i18n: this.$t('betCart.betOrder'),
            si18n: this.$t('betCart.stationOrder'),
            

            showLimitBalance: false, // 单注 会员单日剩余派彩金额 超限提示
            showCrossLimitBalance: false, // 串注 会员单日剩余派彩金额 超限提示

            quotaLoading: false,
            quota503: false,
        }
    },

    computed:{
        ...mapGetters([
            "betCart", 
            "cross", 
            "userInfo", 
            "tolBetAcount", 
            "tolProfitable", 
            "betLimit", 
            "acceptOddType",
            "isbetMax10",
            "betCartVisible",
            "betActiveType",
            "userBetOpen",
            "userBetAcount",
            "crossParlaySet",
        ]),
        
        cartLen(){
            const betCart = this.betCart;
            return betCart.length
        },
        hasCross(){
            const cross = this.cross || [];
            return cross.length > 0
        },



        // 计算被锁的投注项
        hasissuspended() {
            const betCart = this.betCart;
            const hasArr = betCart.filter(ele => this.cartIssuspended(ele));
            return hasArr.length;
        },

        // 购彩蓝的不合法的投注项
        // 购彩蓝的不合法的投注项
        notLegal(){
            let num = 1;
            const betCart = this.betCart;
            betCart.forEach( ele => {
                // 盘口显示
                if( ele.match_visible != 1 ){
                    num++
                }
                // 盘口显示
                if( ele.market_visible != 1 ){
                    num++
                }
                // 盘口显示
                if( ele.match_status != 5 ){
                    num++
                }
                // 盘口显示
                if( ele.market_status != 6 ){
                    num++
                }
                // 盘口显示
                if( ele.visible != 1 ){
                    num++
                }
                // 盘口显示
                if( ele.suspended != 0 ){
                    num++
                }
                // 盘口显示
                if( ele.match_suspended != 0 ){
                    num++
                }
                // 盘口显示
                if( ele.market_suspended != 0 ){
                    num++
                }
                // 赔率小于1.01
                if( ele.odds < 1.001 ){
                    num++
                }
            });
            return num;
        },

        // 购彩蓝的不合法的投注项
        notLegalLimit(){
            const betCart = this.betCart;
            const arr = betCart.filter(ele => 
                ele.match_visible != 1 ||  // 赛事显示
                ele.market_visible != 1 || // 盘口显示
                ele.match_status != 5 || // 赛事开盘
                ele.market_status != 6 ||   // 盘口开盘
                ele.visible != 1  // 投注项显示
                || (ele.batch_id && ele.suspended== 1) // 虚拟体育暂停盘口
                || (ele.odds < 1.001 ) // 赔率小于1.01
            );
            return arr;
        },


        // 可以投注得合法投注项购物车
        legalLimit(){
            const arr = this.betCart.filter(
                ele => !this.cartIssuspended(ele)
            );
            return arr;
        },

        // 是否有加亮选项
        hasLight(){
            const betCart = this.betCart.filter( ele => ele.same_match );
            return betCart.length > 0 && this.betCart.length > 1
        },
        
        // 串关长度
        passLens() {
            const betCart = this.betCart;
            const hasArr = betCart.filter(ele => ele.is_pass_off != 0 && ele.market_pass_off != 0 );
            return hasArr.length;
        },

        // 是否显示限额
        showLimit(){
            let show = false;

            // 普通投注 
            for( let key in this.betCart ){
                if( this.betCart[key].limit_succeed == false){
                    break;
                }
                if( this.getSingleLimit('max_bet', 0) < this.getSingleLimit('min_bet', 0) ){
                    show = true
                    break;
                }
            }
            return show
        },

        canLimtCross(){
            let obj = {};
            const betLimit = this.betLimit;
            const ids = (this.betCart.filter( ele => !ele.same_match ) || []).map( ele => ele.item_id );
            for( let key in betLimit ){
                if( ids.includes(key)  ){
                    obj = {
                        ...obj,
                        [key]: betLimit[key]
                    }
                }
            }
            return obj
        },

        // 可行成串关的注单
        canCrossCart(){
            const arr = this.betCart.filter( ele => !ele.same_match ) || [];
            return arr
        },

        // 串注最大投注额
        corssLimit(){
            let limit = { 
                min_limit: 10,
            };
            for(let x in this.canLimtCross) {
                limit.min_limit = this.canLimtCross[x].complex_min;
            }
            return limit
        },

        crossAcountOdd(){
            let obj = {
                alwaysShowAcount: 0, // 串关金额互斥 --- 单串
                alwaysShowOdd: 0, // 串关赔率 --- 单串
                isAllCrossAcount: 0,  // 串关金额互斥 --- 总串
                isAllCrossOdd: 0, // 串关赔率 --- 总串
            };
            const allOdds = []; // 所有赔率
            
            this.cross.forEach( ele => {
                if( ele.alwaysShow ){
                    obj.alwaysShowAcount = ele.bet_amount || 0;
                    ele.list.forEach( item => {
                        obj.alwaysShowOdd = item.reduce((pre, row) => {
                            return pre * Number(row.odds)
                        }, 1) || 0; 
                    })
                };
                if( ele.isAllCross ){
                    obj.isAllCrossAcount = ele.bet_amount || 0;
                    ele.list.forEach( item => {
                        const odd = item.reduce((pre, row) => {
                            return pre * Number(row.odds)
                        }, 1) || 0; 
                        allOdds.push( odd );
                    })   
                }
            });
            obj.isAllCrossOdd = allOdds.reduce((pre, row) => {
                return pre + Number(row - 1)
            }, 0) || 0;
            return obj;
        },


        danMinLimit(){
            let min_limit = 10;
   
            let min = -Infinity;
            const obj = this.betLimit;

            for( let key in obj ) {
                min = obj[key].simple_min > min ? obj[key].simple_min : min;
            }

            if( min != -Infinity){
                min_limit = min;
            }
            return min_limit 
        },


        // 单注动态金额
        danStageBet(){
            let stage_bet_setting = {}
            const obj = this.betLimit;
            for( let key in obj ) {
                stage_bet_setting = obj[key].stage_bet_setting
            }
            return stage_bet_setting
        },

        showCartData(){
            return {
                cartLen: this.cartLen,
                isbetMax10: this.isbetMax10
            }
        },

        notLegalData(){
            return {
                lens: this.betCart.length,
                notLegal: this.notLegal
            }
        },

  
        // 剩余派彩金额
        limitBalance(){
            let obj = {
                win_balance: Infinity, // 会员单日剩余派彩金额
            }
            const limitObj = this.betLimit;

            for( let key in limitObj ) {
                obj.win_balance =  Number(limitObj[key].win_balance) < obj.win_balance ? Number(limitObj[key].win_balance) : obj.win_balance;
            };
            return  obj.win_balance
        },

        // 剩余亏损金额
        limitLeft(){
            let obj = {
                vip_left: Infinity, // 会员剩余亏损金额:  single_left： 单注  comp_left： 串注
            }
            const limitObj = this.betLimit;

            for( let key in limitObj ) {
                if( limitObj[key].merchant_loss_limit_status == 1 && this.betActiveType === 'isSingle' ){
                    obj.vip_left =  Number(limitObj[key].single_left) < obj.vip_left ? Number(limitObj[key].single_left) : obj.vip_left;
                }
                if( limitObj[key].merchant_loss_limit_status == 1 && this.betActiveType === 'isCross' ){
                    obj.vip_left =  Number(limitObj[key].comp_left) < obj.vip_left ? Number(limitObj[key].comp_left) : obj.vip_left;
                }
            };
            return  obj.vip_left
        },
        // 会员单日串关剩余赔付额度   complex_prize_balance
       complexLimitBalance(){
            let obj = {
                complex_prize_balance: Infinity,
            }
            const limitObj = this.betLimit;
            for( let key in limitObj ) {
                obj.complex_prize_balance =  Number(limitObj[key].complex_prize_balance) < obj.complex_prize_balance ? Number(limitObj[key].complex_prize_balance) : obj.complex_prize_balance;
            };
            return obj.complex_prize_balance;
        },

        upDateCross(){
            return {
                hasissuspended: this.hasissuspended,
                passLens: this.passLens,
                crossOddMax: this.crossOddMax
            }
        }
    },

    watch:{

        legalLimit(v, ov){
            if( this.betActiveType === 'isSingle' && v.length){
                this.quotaLoading = true;
                this.getGameLimit(v)
            };
            if( this.betActiveType === 'isCross' && v.length >= 2){
                this.quotaLoading = true;
                this.getGameLimit(v)
            }
        },

        upDateCross(){
            this.addCross();
        },

        betCart:{
             handler(v, ov){
                if( v.length == 0 ){
                    this.oddsChange = false;
                }
                if( this.betActiveType=='isSingle' ){
                    if(v[0]){
                        const { profitable, relProfitable } = v[0];
                        this.showLimitBalance = profitable < relProfitable;
                    }else{
                        this.showLimitBalance = false;
                    }
                }else{
                    this.showLimitBalance = false;
                }
                if (v.length == 1) {
                    this.$nextTick(() => {  this.focus(0) })
                }else{
                    this.$nextTick(() => {  this.focus(-1) })
                }
             },
            deep: true,
        },

        cross: {
             handler(v, ov){
                if( this.betActiveType=='isCross' ){
                    for( let key in v ){
                        if( v[key].profitable < v[key].relProfitable ){
                            this.showCrossLimitBalance = true;
                            break;
                        }else{
                            this.showCrossLimitBalance = false;
                        }
                    }
                }else{
                    this.showCrossLimitBalance = false;
                }
             },
            deep: true,
         },


        showBetCart(v){
            if(v){
                 this.focus(0)
            }
        },
        notLegalData(v,ov){
            if(v.notLegal > ov.notLegal && ov.lens != 0){
                this.oddsChange = true;
            }
        },
        $route(to,from){
            this.$store.commit("SET_BET_MAXTEN", false);
        },
        //赔率发生变化
        oddsChange(v,ov){
            if(v!=ov){
                this.$emit('oddsChange',v)
            }
        },

    },

    methods:{
        // 设置用户常用金额
        setUserBetAcount(){
            if( 
                
                this.userBetOpen   // 用户金额开关开打
                && this.userBetAcount > 0 // 用户金额有数据
                && this.betActiveType=='isSingle'  // 单注投注
               
            ){
                this.addAmount(
                    this.userBetAcount,
                    this.betCart[0],
                    0
                )
            }
         
            if( 
                
                this.userBetOpen   // 用户金额开关开打
                && this.userBetAcount > 0 // 用户金额有数据
                && this.betActiveType=='isCross'  // 串注投注
               
            ){
                const $idx = this.cross.findIndex( ele => ele.alwaysShow );
                const item = this.cross.find( ele => ele.alwaysShow );
                this.addCrossAmount(
                    this.userBetAcount,
                    item,
                    $idx
                )
            }
        },

         // 请求限额
         getGameLimit: lodash.debounce( function (list, noSet) {

            const requestData = {
                types: 1,
                order_type: 1,
                data:[]
            };

            list.forEach( (ele) => {
                requestData.data.push({
                    match_id: ele.match_id,
                    market_id: ele.market_id,
                    odd_id: ele.item_id,
                    odds: Number(ele.odds),
                })
            });

            // 判断赛事是正常赛事还是虚拟赛事
            if( list[0].game_id == '1001' ){
                requestData.types = 2;
            }else{
                requestData.types = 1;
            };

            // 判断注单类型 1-普通注单 2-普通串关注单 3-局内串关注单 4-复合玩法注单
            if( this.betActiveType == 'isSingle' ){
                requestData.order_type = 1; // 普通串关注单
            }else{
                requestData.order_type = 2; // 普通串关注单
                let bet_amount_list = []
                this.cross.forEach( ele => {
                    bet_amount_list.push({
                        "key": `${ele.type}-${ele.num}`,
                        "bet_amount": ele.bet_amount
                    })
                })
                requestData['bet_amount_list'] = bet_amount_list;
            }

            if( list[0].option_type == 12 || list[0].option_type == 23 ){
                requestData.order_type = 4; // 复合玩法注单
            }
            
            gameApi.requestGameLimit(requestData).then( res => {
                this.quota503 = false;
                if( res.data.status == "true" ){
                    this.$store.commit("SET_BET_LIMIT", res.data.data);
                    if( !noSet ){
                        this.setUserBetAcount();
                    }
                }else{
                    this.$store.commit("SET_BET_LIMIT", {});
                }
                this.quotaLoading = false;
            }).catch( () => {
                this.quota503 = true;
                this.quotaLoading = false;
                this.$store.commit("SET_BET_LIMIT", {});
            });   
        }, 200),


        // 单注限额
        getSingleLimit(type, i){
            if(this.quota503) {
                return this.getSingleLimit503(type, i);
            }
            const list = this.betLimit.list || [];
            if( this.betLimit && this.betLimit.win_balance == 0 ){  // 累计派彩金额为0 不让投注
                return 0;
            }else{
                return list[i] ? list[i][type] : 0
            }
        },
        
        // 单注限额
        // 以下为限额接口503，临时解决方案，设置最小值为5，最大值为500
        getSingleLimit503(type, i){
            const list = this.betLimit.list || [];
            if( this.betLimit && this.betLimit.win_balance == 0 ){  // 累计派彩金额为0 不让投注
                return 0;
            }else{
                if(list[i] && list[i][type]){
                    return list[i] ? list[i][type] : 0
                } else if(type == 'min_bet') {
                    return 5
                } else if(type == 'max_bet') {
                    return 500
                }
            }
        },
        
        // 串关限额
        getCrossLimit(name,item){
            if(this.quota503) {
                return this.getCrossLimit503(name, item)
            }
            const { isAllCross, type } = item;
            const list = this.betLimit.list || [];
            const limit = {
                min_bet: [],
                max_bet: [],
            }

            if( isAllCross ){
                const all = list.find( ele => ele.match_id == "all" )
                if( all ){
                    limit.min_bet.push(all.min_bet || 0);
                    limit.max_bet.push(all.max_bet || 0); 
                }else{
                    limit.min_bet.push(0);
                    limit.max_bet.push(0);
                }
            }else{
                let len = 0
                list.forEach( ele => {
                    const num = ele.match_id.split('_').length;
                    if( num == type ){
                        len ++;
                        limit.min_bet.push(ele.min_bet || 0);
                        limit.max_bet.push(ele.max_bet || 0);
                    }
                }) 
                if( item.bet_num != len ){ // 确保串注都有限额 如果没有直接超出
                    limit.min_bet.push(0);
                    limit.max_bet.push(0);
                }
            }
            // }

            if(limit[name].length == 0 || (this.betLimit && this.betLimit.win_balance == 0) ){  // 累计派彩金额为0 不让投注
                return 0
            }

            // console.log( name, limit[name] )
            return Math.min(...limit[name]) 
        },

        // 串关限额
        // 以下为限额接口503，临时解决方案，设置最小值为5，最大值为500
        getCrossLimit503(name,item){
            const { isAllCross, type } = item;
            const list = this.betLimit.list || [];
            const limit = {
                min_bet: [],
                max_bet: [],
            }

            if( isAllCross ){
                const all = list.find( ele => ele.match_id == "all" )
                if( all ){
                    limit.min_bet.push(all.min_bet || 0);
                    limit.max_bet.push(all.max_bet || 0); 
                }else{
                    limit.min_bet.push(5);
                    limit.max_bet.push(500);
                }
            }else{
                let len = 0
                list.forEach( ele => {
                    const num = ele.match_id.split('_').length;
                    if( num == type ){
                        len ++;
                        limit.min_bet.push(ele.min_bet || 0);
                        limit.max_bet.push(ele.max_bet || 0);
                    }
                }) 
                if( item.bet_num != len ){ // 确保串注都有限额 如果没有直接超出
                    limit.min_bet.push(5);
                    limit.max_bet.push(500);
                }
            }
            // }

            if(limit[name].length == 0 || (this.betLimit && this.betLimit.win_balance == 0) ){  // 累计派彩金额为0 不让投注
                return 0
            }

            // console.log( name, limit[name] )
            return Math.min(...limit[name]) 
        },


       // 赔付扣减
       limitSimpleMax(item){
            
            const { name } = item;
            const arr = this.cross.filter( ele => ele.name != name); // 除了当前串关其他串关的列表
    
            // 已用完得串关赔付
            const useCompleLimitBalance = arr.reduce( (pre1, row) => {
                let allOdds = [];
                row.list.forEach( ele => {
                const odd = ele.reduce((pre, row1) => {
                    return pre * Number(row1.odds);
                }, 1);
                    allOdds.push( odd );
                });
                const useSimple = allOdds.reduce((pre,row2)=>{
                    return pre + (row2 - 1)*Number((row.bet_amount || 0));
                },0)
                return pre1 + useSimple
            }, 0);
            return useCompleLimitBalance
        },






        // 串注被限额提示
        corssDisable(item){
            const max = this.getCrossLimit('max_bet', item) ;
            const min = this.getCrossLimit('min_bet', item)
            return ( max < min || max <= 0 )
        },

        // 赛事串关限额提示
        crossTipsType(){
            let type = 0; // 0：不提示； 1：赛事限额 ；2：单注限额 3：串关限额；
            const item = this.cross.find( ele => ele.alwaysShow )
            if(item){
                const min =  this.getCrossLimit('min_bet', item);
                const max =  this.getCrossLimit('max_bet', item);
                if( max < min || max <= 0){
                    type = 1
                }else{
                    type = 0
                }
            }
            return type
        },

        // 接受赔率
        acceptOddsFuc(){
            this.oddsChange = false;
            
            // 更新最新的合法投注项
            this.$store.commit("UPDATE_BET_CART");
        },

        // 赔率发生改变
        changeodds($event, item, i){

            // 接受赔率变化
            const actions = new Map([
                ['up_1', false ],       // 赔率变大， 自动接受最新赔率
                ['up_2', false ],       // 赔率变大， 自动接受更高赔率
                ['up_3', true ],        // 赔率变大， 永不接受赔率变动
                ['down_1', false ],     // 赔率变小， 自动接受最新赔率
                ['down_2', true ],      // 赔率变小， 自动接受更高赔率
                ['down_3', true ],      // 赔率变小， 永不接受赔率变动
            ]);
            const a = actions.get(`${$event}_${this.acceptOddType}`)
            typeof a === 'boolean' && a !== this.oddsChange && (this.oddsChange = a)

            // // 重新计算最大投注额度
            // // console.log( item )
            // const { odds, item_id } = item;
            // this.$store.commit("UPDATE_BETLIMIT", {
            //     odds: odds,
            //     id: item_id
            // });

            // 通知串关变化赔率
            const cross = [
                ...this.betCart.filter(
                    ele => !ele.same_match && !this.cartIssuspended(ele)
                )
            ];
            this.$store.commit("SET_CROSS_ODDS", cross);

            this.getGameLimit( this.legalLimit )
        },

        // 串注最大限额更新
        changeCrossOdds($event, item, i){
            if( item.bt != 1 ){
                const maxLimit = this.getCrossLimit('max_bet', item);
                if( item.bet_amount > maxLimit ){
                    this.updateCrossNumber(maxLimit, i, item)
                }
            }
        },

        // 设置接收赔率规则方式
        updateType(val) {
            // 自动接受赔率选择的点击次数统计，含局内串关
            // this.$store.commit("SET_TRACK", { tab: 38, page: 5 });
            userApi.getUpdateType({odd_update_type: val}).then(res => {
                if (res.data.status !== "true") return
                this.$store.commit('SET_ACEPT_ODDS', val)
            }).catch(err => {
                console.error(err)
            })
        },
        // 删除订单
        delOder(id){
            // 删除十条警告提示
            this.$store.commit("SET_BET_MAXTEN", false);
            
            // 删除订单统计
            // this.$store.commit("SET_TRACK", { tab: 36, page: 5 });
            this.$store.commit("SET_BET_LIMIT", {});

            // 删除购物篮订单
            this.$store.commit("SET_BET_CART",{
                isAdd: false,
                row: {
                    item_id: id
                }
            });

            // 计算串注
            this.addCross();
        },

        // 删除全部
        delAll(){
            this.$store.commit("SET_DEL_CART")
        },

        // 单注 获得焦点
        focus(i){
            // this.$store.commit("SET_TRACK", { tab: 34, page: 5 });
            this.activeSingleBoard = i
        },

        // 串注 获得焦点
        corssFocus(i){
            // this.$store.commit("SET_TRACK", { tab: 34, page: 5 });
            this.activeCrossBoard = i
        },

        // 更新输入框
        updateNumber(value, i, item){
            const { odds, item_id, option_type } = item;
            const profitable =  parseInt(value) * Number(odds);
            const limitBalance = Number(this.betLimit.win_balance) + parseInt(value);
            // (option_type == 12 || option_type == 23 ) ? profitable : ( profitable > this.limitBalance + value ? this.limitBalance + value : profitable ),
            this.$store.commit("SET_BET_AMOUNT", {
                bet_amount: parseInt(value),
                profitable: profitable > limitBalance ? limitBalance : profitable,
                relProfitable: profitable,
                i: i,
                item_id: item_id,
            });
            
        },

        // 更新串关投注金额
        updateCrossNumber(number, i, item){
            
            const value = Number(number) || 0;
            this.$store.commit("SET_CROSS_AMOUNT",{
                bet_amount:value,
                i:i,
                amount: value * item.bet_num, // 本金
            })
            // this.getGameLimit(this.legalLimit)
        },
        updateCorssLimit(){
            this.getGameLimit(this.legalLimit, true)
        },

        // 点击普通快捷金额
        addAmount(val, item, i){
            // 判断最低限额是否可以投注
            const min = this.getSingleLimit('min_bet', 0);
            const max = this.getSingleLimit('max_bet', 0);
            if( max < min || max <= 0 ){
                return
            }
            const { bet_amount, odds, item_id } = item
            const account = Number(val) + Number(bet_amount || 0);
            let value = account >= max ? max : account;
            const balance = this.userInfo.balance;
            value = Number(balance) < Number(value) ? parseInt(balance) : value;
            // 当前输入框有金额，不需要继续添加
            if( !Number(bet_amount)  ){
                this.updateNumber(value, i, item);
            }
        },


         // 点击串关快捷金额
        addCrossAmount(val, item, i){
            // 判断最低限额是否可以投注 + Number(bet_amount || 0);
            const { bet_amount } = item
            const account = Number(val) 

            const min = this.getCrossLimit('min_bet', item);
            const max = this.getCrossLimit('max_bet', item);
            if( (max < min) || max <= 0 ){
                return
            }
            let value = account >= max ? max : account;

            const balance = this.userInfo.balance;
            value = Number(balance) < Number(value) ? parseInt(balance) : value;
            // 当前输入框有金额，不需要继续添加
            if( !Number(bet_amount)  ){
                this.updateCrossNumber(value, i, item)
            }
        },

        /**
         * @投注接口
         * @param data
         * @param {String} mch 赛事id
         * @param {String} mkt 盘口id
         * @param {String} item 投注项目id
         * @param {String} odds 赔率
         * @param {String} a 投注金额
         * 
         */

        // 打包有效数据
        packagedata(){
            let betData = [];
            const betCart = this.betCart; // 单注
            const cross = this.cross; // 串注

            const crossDan = cross[0] || {};

            if( !crossDan.profitable ){
                // 普通注单
                betCart.forEach(element => {
                    const { 
                        match_id,  
                        market_id,  
                        item_id,  
                        odds,  
                        bet_amount,  
                        profitable,
                        option_type
                    } = element;
                    const issuspended =  this.cartIssuspended( element );
                    if(profitable && !issuspended && bet_amount){
                        let _betItem = {
                          mch: match_id,
                          mkt: market_id,
                          oid: item_id,
                          odd: odds,
                          a: bet_amount,
                          bt:(option_type == 12 || option_type == 23) ? 4 : 1,
                        }
                        if (hasJiZhunFen(element)) {
                          _betItem.score_benchmark = element.score_benchmark
                        }
                        betData.push(qs.stringify(_betItem))
                    }
                });
            }

            // 串注 单注 组合数据
            cross.forEach(element => {
                const { profitable, b, bet_amount, num} = element;
                if(profitable){
                    b.forEach( item => {
                        let _betItem = {
                          ...item,
                          a: bet_amount,
                          num: num
                        }
                        if (hasJiZhunFen(element)) {
                          _betItem.score_benchmark = element.score_benchmark
                        }
                        betData.push( qs.stringify(_betItem, {encode:false }))
                    })
                }
            })
            return betData
        },
        
        // 去投注
        goBet(){
            // 金额输入框点击统计
            // this.$store.commit("SET_TRACK", { tab: 37, page: 5 });
            // types: 正常：1 ， 虚拟：2
            const types = ['1001'].includes(this.betCart[0]?.game_id) ? 2 : 1;
            this.submitBet( this.packagedata(), types, (obj, arr) => {
                this.$store.commit("SET_BET_LIMIT", {});

                this.$store.commit("SET_BET_MAXTEN", false);
                if( this.betCart.length == 0  ){
                    this.$store.commit("SET_BETCART_SHOW", false)
                };
                const acount = qs.parse(obj).a;
                // 投注成功，只要常用金额开关打开，保存最后一次投注常用金额
                if( this.userBetOpen ){
                    this.$store.commit("SET_USER_BETACOUNT", acount)
                } 
            })
        },
    },
    
}
</script>
<style lang="less">
    .cart{
        background-color: rgba(255,255,255,0.04);
        backdrop-filter: blur(15px);
        &.top-not-blur{
            background-color: rgba(0,0,0,0.6);
        }
        .item_teams{
            font-size: 12px;
        }
        .cart-meun{
            height: 56px;
            overflow: hidden;
            padding: 0 12px;
            .meun-hide{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .info{
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 12px;
                    span{
                        height: 20px;
                        line-height: 20px;
                    }
                    .tolBetAcount{
                        .words{
                            opacity: 0.6;
                            font-size: 12px;
                            color: #F0F0F0;
                        }
                        .number{
                            font-size: 14px;
                            color: #F0F0F0;
                        }
                    }
                    .tolProfitable{
                        .words{
                            opacity: 0.6;
                            font-size: 12px;
                            color: #F0F0F0;
                        }
                        .number{
                            font-size: 14px;
                            color: #E7BB02;
                        }
                    }
                }
                .btn{
                    width: 120px;
                    height: 36px;
                    .btn-submit,.btn-changeodds{
                        display: block;
                        width: 120px;
                        height: 36px;
                        text-align: center;
                        line-height:36px ;
                        font-size: 16px;
                        color: #FFFFFF;
                    }
                } 
            }
        }

        .bet-list{
            .list-scroll{
                max-height: 320px;
                overflow: auto;
            }

            .cart-list{
                background: rgba(255,255,255,0.1);
                .list{
                    position: relative;
                    border-bottom: 1px solid rgba(255,255,255,0.06);

                    &.same-match{
                        &::after{
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 14.5px;
                            width: 4px;
                            height: 78px;
                            background: #FF4B34;
                        }
                    }

                    .list-content{
                        position: relative;
                        padding: 12px 12px 12px 36px;
                        .list-content-top{
                            display: flex; 
                        }  
                    }

                    .item{
                        display: flex;
                        flex-direction: column;
                    }
                    
                    .item-info{
                        flex: 1;
                        .item_teams,.item_tournament_name{
                            margin-top: 6px;
                            font-size: 12px !important;
                            color: rgba(255,255,255,0.6);
                            max-width: 145px;
                        }
                        .item_name{
                            display: flex;
                            .game-name{
                                width: 16px;
                                height: 16px;
                                margin-right: 4px;
                                &.game-logo{
                                    margin-top: 2px;
                                    .logo{
                                        display: block;
                                        width: 120px;
                                        height: 120px;
                                        transform-origin: 0 0;
                                        transform: scale(16/120);
                                    }
                                }
                            }
                            .name{
                                flex: 1;
                                font-size: 14px;
                                color: #FFFFFF;
                                word-break: break-word;
                            }
                        }
                        .item_round{
                            margin-top: 6px;
                            font-size: 12px;
                            .round{
                                padding: 0 2px 0 6px;
                                border-radius: 2px;
                                background: rgba(255,255,255,0.1);
                                font-size: 12px;
                                color: #ffffff;
                                text-align: center;
                            }
                            .live{
                                margin: 0 4px;
                            }
                            .live,.cn_name{
                                opacity: 0.6;
                                color: #FFFFFF;
                            }
                            .cn_name{
                                max-width: 75px;
                            }
                        }
                    }
                    .item_teams{
                        margin-top: 6px;
                        font-size: 12px !important;
                        color: rgba(255,255,255,0.6);
                        max-width: 145px;
                    }

                    .item-odds{
                        width: 78px;
                        margin: 0 8px;
                        text-align: right;
                        font-size: 16px;
                        color: #0095FF;
                        line-height: 28px;
                        flex-direction: row;
                        justify-content: flex-end;
                        .iconfont{
                            display: inline-block;
                            width: 16px;
                            height: 16px;
                            margin-top: 6px;
                        }
                    }

                    .item-input{
                        width: 80px;
                        position: relative;
                        .profitable{
                            position: absolute;
                            top: 36px;
                            right: 0;
                            width: 160px;
                            text-align: right;

                            .profitable-content{
                                padding-right: 2px;
                                font-size: 12px;
                                display: block;
                            }
                            .words{
                                opacity: 0.6;
                                color: #FFFFFF;
                                margin-right: 4px;
                            }
                            .number{
                                color: #E7BB02;
                                &.red{
                                    color: #FF4B34;
                                }
                            }
                        }
                        .tester{
                            width: 130px;
                            .profitable-content{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                            }
                        }
                    }

                    .colse-list{
                        position: absolute;
                        top: 14px;
                        left: 12px;
                        width: 16px;
                        height: 16px;
                    }

                }
            }

            .cross-list{
                
                .cross-header{
                    width: 100%;
                    height: 40px;
                    margin-bottom: 1px;
                    padding: 0 12px;
                    line-height: 40px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 14px;
                    .words{
                        opacity: 0.6;
                        font-size: 14px;
                        color: #FFFFFF;
                        padding-left: 6px;
                        position: relative;
                        &::after{
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 2px;
                            height: 12px;
                            opacity: 0.6;
                            background: #F0F0F0;
                        }
                    }
                    .pick{
                        i{
                            display: block;
                            width: 16px;
                            height: 16px;
                        }
                    }
                    // span:nth-child(1){
                    //     flex: 1;
                    // }
                }
                .cross-main{
                    background: rgba(255,255,255,0.1);
                    border-bottom: 1px solid rgba(255,255,255,0.1);
                }
                .main-content{
                    height: 72px;
                    padding: 12px ;
                }
                .cross-top{
             
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    span{
                        display: flex;
                        align-items: center;
                    }
                    .name{
                        font-size: 14px;
                        color: #FFFFFF;
                    }
                    .odds{
                        font-size: 16px;
                        color: #0095FF;
                    }
                    .odd_red{
                        border-bottom: 1px solid #FF4B34;
                        color: #FF4B34;
                    }

                }
                .cross-bottom{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .profitable{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .words{
                            opacity: 0.6;
                            font-size: 14px;
                            color: #FFFFFF;
                            margin-right: 4px;
                        }
                        .number{
                            font-size: 16px;
                            color: #E7BB02;
                            &.red{
                                color: #FF4B34;
                            }
                        }
                    }
                    .odds-input{
                        margin-top: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .number{
                            line-height: 28px;
                            margin-right: 12px;
                        }
                    }

                }
            }

            .list-tips{
                background: rgba(255,255,255,0.04);
                p{
                    font-size: 14px;
                    color: #FF4B34;
                    width: 100%;
                    min-height: 44px;
                    border-bottom: 1px solid rgba(255,255,255,0.06);
                    // line-height: 44px;
                    padding: 0 16px 0 22px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    &::after{
                        content: "";
                        position: absolute;
                        width: 2px;
                        height: 12px;
                        left: 16px;
                        top: 50%;
                        transform: translateY(-50%);
                        background: #FF4B34;
                    }
                }
            }
            .max-lens{
                width: 100%;
                height: 40px;
                background: rgba(255,75,52,0.30);
                text-align: center;
                line-height: 40px;
                font-size: 14px;
                color: #FFFFFF;
            }
        }

        @supports not (backdrop-filter: blur()){
            background-color:#1E2635;
            background-image: linear-gradient(to bottom right, #3c3c37, #333 , #4b4b45);
            &::before, &::after {
                display: none;
            }
            .list-header {
                background-image: linear-gradient(to bottom right, #336683, #87b7d2);
            }
            .cart-meun {
                background-color:#333;
                background-image: linear-gradient(to bottom right, #3c3c37, #333 , #4b4b45);
            }
        }
    }
</style>