<template>
    <div 
        class="bet-cart"
        v-show="cartLen || Object.keys(stationList).length">
  
        <div :class="['cart-tabs', tabBkd.bg1 ]" v-show="showBetCart">
            <div :class="['cart-tabs-content', tabBkd.bg2 ]">
                <div class="cart-tab" v-show="cartLen > 0" @click="changeTab('betOrder')">{{i18n.betOrder}}</div>
                <div class="cart-tab" v-show="stationOrderLen >0" @click="changeTab('stationOrder')">{{i18n.stationOrder}}</div>
                <div class="list-header" >
                    <span class="header-left" @click="delAll">  
                        <b class="cart-len DIN"> 
                            {{ betType == "betOrder" ? cartLen : stationOrderLen}} 
                        </b>
                        <b class="del-all"> {{i18n.delAll}} </b>
                    </span>
                    <span class="header-right">  
                        <b class="words"> {{i18n.balance}} </b>
                        <b class="balance DIN" @click.stop="setUserBalance"> 
                            {{ Math.formatAmount(userInfo.balance) }} 
                            <i v-show="userInfo.tester == 2 || userInfo.tester == 3" :class="['balance-refresh', 'common-refresh', { 'rotate360': refresh }]" />
                        </b>
                        <i  class="close common-close" @click="closeCart"> </i>
                    </span>
                </div>
            </div>
        </div>

        <bet-order 
            v-show="(betType == 'betOrder') && showBetCart" 
            :showBetCart="showBetCart"
            @oddsChange="oddsChangeFn">
        </bet-order>

        <station-order 
            v-show="(betType == 'stationOrder') && showBetCart" 
            :showBetCart="showBetCart"
            @oddsChange="oddsChangeFn">
        </station-order>

        <div class="cart-meun cart-bg" v-show="!showBetCart">
            <div class="meun-show" @click="showBetCartFn">
                <span class="show-left" v-if="cartLen">  
                    <b> {{i18n.betOrder}} </b>
                    <b class="cartLen DIN"> {{ cartLen }} </b>
                </span>
                <span class="show-left" v-if="stationOrderLen">  
                    <b> {{i18n.stationOrder}} </b>
                    <b class="cartLen DIN"> {{ stationOrderLen }} </b>
                </span>
                <span class="show-right">
                    <span :class="['meun-btn', oddsChange ? 'btn-more-red' : 'home-btn-more' ]"> </span>
                </span>
            </div>
        </div>

    </div>
</template>
<script>
import { mapGetters } from 'vuex';
import stationOrder from "./stationOrder";
import betOrder from "./betOrder";
export default {
    name:"bet",
    components:{ stationOrder, betOrder},
    data(){
        return{
            oddsChange:false,
            activeSingleBoard: -1, // 当前聚焦的单注数字软键盘
            activeCrossBoard: -1, // 当前聚焦的串注数字软键盘
            refresh: false, 
            i18n: this.$t('betCart.index'),
        }
    },

    computed:{
        ...mapGetters([
            "betCart", 
            "userInfo", 
            "isbetMax10",
            "stationList",
            "stationOpen",
            'stationOrderMax',

            'showBetCart',  // 是否显示投注注单弹框
            'betType', 
        ]),
        
        cartLen(){
            const betCart = this.betCart;
            return betCart.length
        },
        stationOrderLen(){
            const stationList = this.stationList;
            return Object.keys(stationList).length
        },

        tabBkd(){
            const cartLen = this.cartLen;
            const stationOrderLen = this.stationOrderLen;
            if( 
                (cartLen == 0 && stationOrderLen > 0) ||
                (cartLen > 0 && stationOrderLen == 0)
            ){
                return {
                    bg1: "cart-tab-header-bg2-1",
                    bg2: "cart-tab-header-bg2-1",
                }
            }else{
                if( this.betType == "betOrder" ){
                    return  {
                        bg1: "cart-tab-header-bg2-2",
                        bg2: "cart-tab-header-bg2-1",
                    }
                }else{
                    return {
                        bg1: "cart-tab-header-bg1-1",
                        bg2: "cart-tab-header-bg1-2",
                    }
                }
            }
        },
        

        hasCross(){
            const cross = this.cross || [];
            return cross.length > 0
        },

        showCartData(){
            return {
                cartLen: this.cartLen,
                stationOrderLen: this.stationOrderLen,
            }
        }
    },

    watch:{
        betCart(v,ov){
            if( v.length == 0 ){
                this.oddsChange = false;
            } else if (v.length === 1) {
                this.$nextTick(() => { this.focus(0) })
            }

        },

        $route(to,from){
            this.$store.commit("SET_BETCART_SHOW",false)
            this.$store.commit("SET_BET_MAXTEN", false);
        },

        showCartData(v,ov){
            const { cartLen , stationOrderLen } = v;
            if( cartLen > 0 &&  stationOrderLen == 0){
                this.$store.commit("SET_BETCART_TYPE",'betOrder')
            }else if( cartLen == 0 && stationOrderLen > 0 ){
                this.$store.commit("SET_BETCART_TYPE",'stationOrder')
            }else if( stationOrder == 0 && cartLen == 0 ){
                this.$store.commit("SET_BETCART_SHOW",false)
            }
        }
    },

    methods:{
        // 删除全部
        delAll(){
            // 删除全部统计
            // this.$store.commit("SET_TRACK", { tab: 39, page: 5 });
            if(this.betType=='betOrder'){
                this.$store.commit("SET_DEL_CART");
                if(this.stationOrderLen>0){
                    this.$store.commit("SET_BETCART_TYPE",'stationOrder')
                }else{
                    this.$store.commit("SET_BETCART_SHOW",false)
                }
            }else{
                this.$store.commit("SET_STATION_MAX", false);
                this.$store.commit("DEL_STATION_ALL")
                if(this.cartLen>0){
                    this.$store.commit("SET_BETCART_TYPE",'betOrder')
                }else{
                    this.$store.commit("SET_BETCART_SHOW",false)
                }
            }
        },

        //赔率变化
        oddsChangeFn(oddsChange){
            this.oddsChange= oddsChange;
        },

        //切换注单类型
        changeTab(value){
            if(value==='stationOrder'){
                // 局内串关标签的点击次数统计
                // this.$store.commit("SET_TRACK", { tab: 40, page: 5 });
            }
            this.$store.commit("SET_BETCART_TYPE", value)
        },

        // 单注 获得焦点
        focus(i){
            this.activeSingleBoard = i
        },

        showBetCartFn(){
            this.$store.commit("SET_BETCART_SHOW", true);
        },

        closeCart(){
            // 购物车最下方“收起”的点击次数统计
            // this.$store.commit("SET_TRACK", { tab: 42, page: 5 });
            this.$store.commit("SET_BETCART_SHOW", false);
            this.$store.commit('SET_BET_MAXTEN', false)
        },

        async setUserBalance(){
            this.refresh = true;
            await this.$store.dispatch("fetchUserInfo");
            setTimeout( () => {
                this.refresh = false;
            }, 300)
        },
    },
    
}
</script>
<style lang="less">
@keyframes transformRotate360 {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.bet-cart{
    position: fixed;
    height: auto !important;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 105;
    overflow: hidden;
    
    .cart{
        background-color: rgba(255,255,255,0.04);
        backdrop-filter: blur(15px);
        &.top-not-blur{
            background-color: rgba(0,0,0,0.6);
        }
    }
    
    .item_teams{
        font-size: 12px;
    }
    .cart-meun{
        height: 56px;
        overflow: hidden;
        padding: 0 12px;
        &.cart-bg{
            background-color: rgba(255,255,255,0.04);
            backdrop-filter: blur(15px);
        }
        .meun-show{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .show-left{
                flex: 1;
                font-size: 14px;
                color: #FFFFFF;
                .cartLen{
                    font-size: 14px;
                    color: #FBC903;
                }
            }
            .show-right{
                margin-left: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                .meun-btn{
                    width: 120px;
                    height: 36px;
                    text-align: center;
                    line-height:36px ;
                    font-size: 16px;
                    color: #FFFFFF;
                }
            }
        }
        @supports not (backdrop-filter: blur()){
            background-color:#1E2635;
            background-image: linear-gradient(to bottom right, #3c3c37, #333 , #4b4b45);
            &::before, &::after {
                display: none;
            }
            .list-header {
                background-image: linear-gradient(to bottom right, #336683, #87b7d2);
            }
            .cart-meun {
                background-color:#333;
                background-image: linear-gradient(to bottom right, #3c3c37, #333 , #4b4b45);
            }
        }
    }
    .cart-tabs{
        height: 64px;
        width: 100%;
        .cart-tabs-content{
            height: 64px;
            display: flex;
            width: 100%;
            .cart-tab{
                width: 110px;
                text-align: center;
                line-height: 32px;
                height: 32px;
            }
        }
    }
.list-header{
        // background-color: rgba(0, 149, 255,0.3);
        height: 32px;
        width: 100%;
        display: flex;
        font-size: 14px;
        line-height: 30px;
        position: absolute;
        top: 32px;
        // border-top: 1px solid #1FDBFF;
        // border-radius: 8px 8px 0 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 12px;
        &::after{
            content: "";
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
            backdrop-filter: blur(30px);
            z-index: -1;
            border-radius: 8px 8px 0 0;
        }
        .header-right,.header-left{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .cart-len{
            padding: 0 8px;
            border-radius: 8px;
            background: #ffffff;
            font-size: 14px;
            color: #0095FF;
            line-height: 16px;
            margin-right: 8px;
        }
        .del-all{
            opacity: 0.6;
            font-size: 14px;
            color: #F0F0F0;
        }
        .words{
            margin-right: 4px;
            color: #F0F0F0;
            font-size: 14px;
            opacity: 0.6;
        }
        .balance{
            margin-right: 34px;
            font-size: 16px;
            color: #F0F0F0;
            position: relative;
            display: flex;
            align-items: center;
            .balance-refresh{
                width: 20px;
                height: 20px;
                margin-left: 6px;
            }
            .rotate360{
                animation: transformRotate360 0.5s linear infinite;
            }
            &::after{
                content: "";
                position: absolute;
                right: -17px;
                top: 50%;
                width: 1px;
                height: 16px;
                transform: translateY(-50%);
                opacity: 0.2;
                background: #F0F0F0;
            }
        }
        .close{
            width: 16px;
            height: 16px;
        }
    }
}
</style>