<template>
<!-- class="station-cart" -->
    <div :class="['station-cart' ,{ 'top-not-blur': showBetCart }]">
        <div class="bet-list">
            <div class="max-lens" v-show="stationOrderMax">
                {{i18n.stationTips}}
            </div>
            <div class="list-scroll" ref="listScroll">
                    <!-- 单注列表  -->
                <div class="cart-list">
                    <div 
                        :class="[
                            'list',
                            { 'same-match': item.same_match && stationOrderLen > 1 }
                        ]"  
                        v-for="(item,i) in stationList" 
                        :key="i">

                        <div class="list-content">
                            <div class="list-content-top">
                                <div class="item item-info">
                                    <span class="item_name">
                                        <i class="game-name game-logo"> 
                                            <span :class="['logo', 'game-logo-sprite' , logoCls(item.game_id) ]" > </span>
                                        </i>
                                        <b class="item_tournament_name"> 
                                             {{ item.tournament_name }} 
                                        </b>
                                        <b class="item-line"></b>
                                         <b class="item_teams"> 
                                            {{ item.T1 }} - VS - {{ item.T2 }}
                                        </b>
                                        <b class="is_live"> {{ item.is_live | getStage }} </b>
                                        <b class="round"> {{ getLiveRound ( item.round,item.category) }} </b>
                                    </span>
                                </div>
                                <div class="item item-betItem">
                                    <div 
                                        class="betItem" 
                                        v-for="betItem in item.list" 
                                        :key="betItem.item_id">
                                        
                                        <div class="betItem-left">
                                            <span :class="['circle-status', { 'circle-red':notCross(betItem) }]"> </span>
                                            <span :class="['cn_name', { 'line-red': notCross(betItem) } ]"> 
                                                <b> {{ getTeams(betItem, betItem.name) }} </b>
                                                <b>{{ getTeams(betItem, i18nTransGameNameKey(betItem, 'item_')) }}</b>
                                            </span>
                                        </div>

                                        <div class="betItem-right">
                                            <span class="bet-full" v-show="betItem.isFull && !isCredit">{{i18n.full}}</span>
                                            <span class="icon common-suspended" v-show="cartIssuspended(betItem)"> </span>
                                            
                                            <span @click="delOneOrder(item.round, betItem.item_id)" class="betItem-close common-close-small-not-border"></span>   
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <i
                                @click="delGroupOder(item.round)" 
                                class="colse-list common-close-small"> 
                            </i>
                        </div>   
                        <p class="order-tips" v-show="item.canStation.includes(1)"> {{i18n.tips1}} </p>
                        <p class="order-tips" v-show="item.canStation.includes(2)"> {{i18n.tips2}} </p>
                        <p class="order-tips" v-show="item.canStation.includes(3)"> {{i18n.tips3}} </p> 
                        <p class="order-tips" v-show="item.canStation.includes(4)"> {{i18n.tips4}} </p>
                        <p class="order-tips" v-show="hasFullItem(item.list) && !isCredit"> {{i18n.tips5}} </p>
                        <div class="list-bet" v-if="item.canCross">
                            <div class="list-bet-odds">
                                <div class="cross">
                                    {{item.cross_name}}{{i18n.corss}}
                                </div>
                                <transitionOdds
                                    position="right"
                                    :class="['odds', 'DIN', { 'maxOdds': item.maxOdds }]"
                                    :notIcon="true"
                                    :keys="item.item_id"
                                    @update="changeodds($event, item, i)"
                                    :odds="item.odds">
                                     @{{ Math.formatAmount(item.odds,3) }}
                                </transitionOdds>
                            </div>
                            <div class="item item-input">
                                <span class="profitable">
                                    <b class="words"> {{i18n.return}} </b>
                                    <b :class="[ 'number', 'DIN', {'red': item.bet_amount && item.profitable < item.relProfitable }]"> 
                                        {{ Math.formatAmount(item.profitable) }} 
                                    </b>
                                </span>
                                <span class="input">
                                    <common-input 
                                        :placeholder="i18n.placeholder"
                                        :value="item.bet_amount"
                                        :i="i"
                                        :oddsLimit="item.oddLimit"
                                        :isFocus="activeSingleBoard === i"
                                        @focus="focus(i)"
                                        :keyMin="getSingleLimit('min_bet', item.round)"
                                        :keyMax="getSingleLimit('max_bet', item.round)"
                                    />
                                </span>
                            </div>
                        </div>
                        
                        <number-board  
                            v-if="!item.canStation.includes(1) && item.oddLimit ? false : activeSingleBoard == item.round"
                            :value="item.bet_amount"
                            :keyMax="getSingleLimit('max_bet', item.round)"
                            :keyMin="getSingleLimit('min_bet', item.round)"
                            @updateNumber="updateNumber($event, item)"
                        />

                    </div>
                </div>
            </div>
             <div class="list-tips">
                <p v-show="oddsChange"> {{i18n.oddsChange}} </p>
                <p class="order-change"  v-show="showStationLimitBalance"> 
                    {{ i18n.showLimit5 }}
                </p>
                <!-- <p class="order-change" v-show="limitOver"> {{i18n.limitOver}} </p> -->
            </div>
        </div>
        <div class="cart-meun">
           <div class="meun-hide">
                 <div class="info">
                    <span class="tolBetAcount">
                        <b class="words"> {{i18n.total}} </b>
                        <b class="number DIN"> 
                            {{ Math.formatAmount(tolBetAcount) }} 
                        </b>
                    </span>
                    <span class="tolProfitable">
                        <b class="words"> {{i18n.maxReturn}} </b>
                        <b class="number DIN"> 
                            {{ Math.formatAmount(tolProfitable) }} 
                        </b>
                    </span>
                </div>
                <div class="odds" v-html="i18n.oddsNew"></div>
                <div class="btn">
                    <span 
                        class="btn-changeodds home-btn-red" 
                        v-if="oddsChange" 
                        @click="acceptOddsFuc">  
                    </span>
                  
                    <span 
                        v-else
                        :class="[
                            'btn-submit',
                            tolBetAcount ? 'home-btn-blue': 'home-btn-gray',
                        ]" 
                        @click="goBet"> 
                    </span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapGetters } from 'vuex';
import mixMatchStatus from "@/views/common/mixins/mixMatchStatus.js";
import mixBetStatus from "@/views/common/mixins/mixBetStatus.js";
import mixAddCart from "@/views/common/mixins/mixAddCart.js"
import selectOdds from "@/views/common/selectOdds";
import transitionOdds from "@/views/common/transitionOdds";
import commonInput from "@/views/common/commonInput";
import numberBoard from "@/views/common/numberBoard";
import lodash from "lodash";
import * as gameApi from "@/api/game.js";

export default {
    name:"betOrder",
    mixins:[mixMatchStatus, mixBetStatus, mixAddCart],
    components:{selectOdds,transitionOdds,commonInput, numberBoard,},
    data(){
        return{
            oddsChange:false,
            showCross: false,
            activeSingleBoard: -1, // 当前聚焦的单注数字软键盘
            i18n: this.$t('betCart.stationOrder'),
            showStationLimitBalance: false, // 局内串关 会员单日剩余派彩金额 超限提示
            quota503: false,
        }
    },
    props:['showBetCart'],
    computed:{
        ...mapGetters([
            'userInfo',
            'stationList',
            "acceptOddType",
            "stationOrderMax",
            "betCart",
            "stationOddMax",
            "corssCreditLimit",
            "crossParlaySet",
            "stationBetLimit"
        ]),

         // 是否有局内串关超限
         limitOver(){
            let hasOver = false;
            for( let key in this.stationList ){
                const { canCross, round } = this.stationList[key];
                const complex_min = this.getSingleLimit('min_bet', round);
                const complex_max = this.getSingleLimit('max_bet', round);
                if(canCross && ( complex_max < complex_min || complex_max <= 0  )){
                    hasOver = true;
                    break;
                }
            }
            return hasOver;
        },

        stationOrderLen(){
            const stationList = this.stationList;
            return Object.keys(stationList).length
        },

         // 总投注额
        tolBetAcount(){
            let acount = 0;
            for( let key in this.stationList){
                acount += Number( this.stationList[key].bet_amount )
            }
            return acount
        },
        // 总返还额
        tolProfitable(){
            let profitable = 0;
            for( let key in  this.stationList){
                profitable += Number( this.stationList[key].profitable )
            }
            return profitable
        },

        // 购彩蓝的不合法的投注项
        notLegal(){
            let arr = [];
            for( let key in this.stationList ){
                const list = this.stationList[key].list.filter(ele => 
                    ele.match_visible != 1 ||  // 赛事显示
                    ele.match_status != 5 || // 赛事开盘
                    ele.match_suspended != 0 || // 赛事暂停

                    ele.market_visible != 1 || // 盘口显示
                    ele.market_status != 6 ||   // 盘口开盘
                    ele.market_suspended != 0 || // 盘口暂停
                    
                    ele.visible != 1  || // 投注项显示暂停 隐藏
                    ele.suspended != 0  || // 投注项显示暂停 隐藏
                    ele.is_pass_off != 2  ||// 是否开启局内串关
                    ele.market_pass_off != 2 || // 是否开启局内串关
                    (ele.odds < 1.001 ) // 投注项小于1.01
                );
                arr = [
                    ...arr,
                    ...list
                ]
            }

            return arr
        },
        //判断是不是信用网会员
        isCredit(){
            const {  tester, credit_status } = this.userInfo;
            return tester == 2 && credit_status == 0 ? true : false ;
        }
    },

    watch:{
        notLegal(v,ov){
            if(v.length > ov.length){
                this.oddsChange = true;
            }
        },

        //赔率发生变化
        oddsChange(v,ov){
            if(v!=ov){
                this.$emit('oddsChange',v)
            }
        },
        
        stationList:{
            handler(v, ov){
                let changeRound = 0; // 当前添加注单改变得第几局数据
                for( let key in v ){

                    const { profitable, relProfitable, bet_amount } = v[key];
                    if(profitable < relProfitable && bet_amount){
                        this.showStationLimitBalance = true;
                        break;
                    }else{
                        this.showStationLimitBalance = false;
                    }

                    if( !ov[key] ){ // 添加第一个注单
                        break;
                    }
                    if( ov[key].list.length != v[key].list.length ){
                        changeRound = key;
                        break;
                    }else{
                        const ovId = ov[key].list.map( ele => ele.item_id ).join('_');
                        const vId = v[key].list.map( ele => ele.item_id ).join('_');
                        if(ovId != vId){ // 自由互串判断id是否相等
                            changeRound = key;
                            break;
                        }
                    }
                }

                for( let key in ov ){
                    if( !v[key] ){
                        this.$store.commit("DEL_STATIONBET_LIMIT", key)
                        break;
                    }
                }

                
                this.getGameLimit(v, changeRound);
            },
            deep: true
        }

    },

    methods:{

        getGameLimit(obj, type){
            if( type == 0 ){
                return     
            }
            const requestData = {
                types: 1,
                order_type: 3,
                data:[]
            };

            // 判断赛事是正常赛事还是虚拟赛事
            if( this.matchs.game_id == '1001' ){
                requestData.types = 2;
            }else{
                requestData.types = 1;
            };

            
            const list = obj[type].list.filter( ele => 
                ele.match_visible == 1 &&  // 赛事显示
                ele.market_visible == 1 && // 盘口显示
                ele.match_status == 5 && // 赛事开盘
                ele.market_status == 6 && // 盘口开盘
                ele.market_suspended == 0 && // 盘口不暂停
                ele.match_suspended == 0 && // 赛事不暂停
                ele.visible == 1 && // 投注项显示
                ele.suspended == 0 && // 投注项暂停
                ele.is_pass_off == 2  &&// 可以串关
                ele.market_pass_off == 2 // 盘口允许串关
            );
            list.forEach( ele => {
                requestData.data.push({
                    match_id: ele.match_id,
                    market_id: ele.market_id,
                    odd_id: ele.item_id,
                    odds: Number(ele.odds),
                })
            });
            if( requestData.data.length <= 1 ){ // 局内串关最少形成一注 注单才请求接口
                return 
            }
            gameApi.requestGameLimit(requestData).then( res => {
                this.quota503 = false;
                if( res.data.status == "true" ){
                    this.$store.commit("SET_STATIONBET_LIMIT", {
                        name: type,
                        resJson: res.data.data
                    });
                }else{
                    this.$store.commit("DEL_STATIONBET_LIMIT", type)
                }
            }).catch(()=>{
                this.quota503 = true;
            })
        },

        // 单注限额
        getSingleLimit(type, round){
            if(this.quota503) {
                return this.getSingleLimit503(type, round)
            }
            const obj = this.stationBetLimit[round] || {};
            const list = obj.list || [];
            if( list[0] ){
                return list[0][type];
            }else{
                return 0
            }
        },

        // 单注限额
        // 以下为限额接口503，临时解决方案，设置最小值为5，最大值为500
        getSingleLimit503(type, round){
            const obj = this.stationBetLimit[round] || {};
            const list = obj.list || [];
            if( list[0] ){
                return list[0][type];
            }else if(type == 'min_bet') {
                return 5
            } else if(type == 'max_bet') {
                return 500
            }
        },


        hasFullItem(list){
            let hasOver = false;
            for( let i in list ){
                if( list[i].isFull ){
                    hasOver = true;
                    break;
                }
            }
            return hasOver;
        },

        //投注
        goBet(){
            const list = this.stationList;
            let b = []; // 注单数据
            // 生成注单数据
            for( let key in list ){
                // 符合串注的数据 market_not_cross: 同盘口； type_not_cross: 同盘口类型； not-status： 盘口状态是否正常
                const profitable = Number( list[key].profitable ); // 有投注金额
                const newList = list[key].list.filter( ele => !ele.market_not_cross && !ele.type_not_cross && profitable &&!this.cartIssuspended(ele));
                const newArr = newList.map( item => {
                    return `${item.match_id},${item.market_id},${item.item_id},${this.getOddGroupCart(item)}`
                });
                const lens = newList.length; // 几串几
                const a = list[key].bet_amount; // 投注金额
                if( lens >= 2 ){
                    b.push(`bt=3&b=${newArr.join('|')}&t=${lens}&a=${a}&num=1`)
                }
            }
            // types: 正常：1 ， 虚拟：2
            this.submitBet(b, 1, () => {
                let newlist = lodash.cloneDeep(list);
                // 删除已经投注的订单
                for( let key in newlist ){
                    const arr = newlist[key].list;
                    if(  Number( newlist[key].profitable ) ){
                        this.$store.commit("DEL_STATION_GROUPS", key)
                    }
                };
                 this.$store.commit("SET_STATION_MAX", false);
            });
            if( Object.keys(this.stationList).length == 0  ){
                this.$store.commit("SET_BETCART_SHOW", false)
            }
        },
          // 删除局内串关一个投注项订单
        delOneOrder(key, id){
            // this.$store.commit("SET_TRACK", { tab: 36, page: 5 });
            this.$store.commit("DEL_STATION_ONE", {
                key: key,
                id: id
            })
        },

        // 删除局内串关一局订单
        delGroupOder(key){
            this.$store.commit("DEL_STATION_GROUPS", key)
            this.$store.commit("DEL_STATIONBET_LIMIT", key)
        },

        // 更新输入框
        updateNumber(number, item){
            const value = Number(number) || 0;
            this.$store.commit("UPDATE_STATION_AMOUNT", {
                key: item.round,
                amount: value,
                odds: item.odds,
                win_balance: this.stationBetLimit[item.round].win_balance
            });
        },

        // 单注 获得焦点
        focus(i){
            // this.$store.commit("SET_TRACK", { tab: 34, page: 5 });
            this.activeSingleBoard = i
        },

        // 接受赔率
        acceptOddsFuc(){
            this.oddsChange = false;
            // 更新最新的合法投注项
            this.$store.commit("UPDATE_STATION_CART");
            if(this.stationOrderLen==0){
                if(this.betCart.length>0){
                    this.$store.commit("SET_BETCART_TYPE",'betOrder')
                }else{
                    this.$store.commit("SET_BETCART_SHOW",false)
                }
            }
        },

        changeodds(e, item, i){
            this.$watch( "stationOddMax", (v, ov) => {
                if( v < item.relOdds ){
                    this.$store.commit( "UPDATE_ODDS_LIMIT",  {
                        key: item.round,
                        isLimit: true,
                    })
                }else{
                    this.$store.commit( "UPDATE_ODDS_LIMIT",  {
                        key: item.round,
                       isLimit: false,
                    })
                }
            });

            if( item.relOdds <=  this.stationOddMax ){
                this.$store.commit( "UPDATE_ODDS_LIMIT",  {
                    key: item.round,
                    isLimit: false,
                })
            }

            // 比较当前金额和限额
            const maxLimit = this.getSingleLimit('max_bet', item.round);
            if( item.bet_amount > maxLimit ){
                this.updateNumber(maxLimit, item)
            }
        },

        notCross(betItem){
            return betItem.type_not_cross || betItem.market_not_cross || betItem.is_pass_off != 2 || betItem.market_pass_off != 2
        }

    },    
}
</script>
<style lang="less" scoped>
    .station-cart{
        background-color: rgba(255,255,255,0.04);
        backdrop-filter: blur(15px);
        &.top-not-blur{
            background-color: rgba(0,0,0,0.6);
        }
        .item_teams{
            font-size: 12px;
        }
        .cart-meun{
            height: 56px;
            overflow: hidden;
            padding: 0 12px; 
            background-color: rgba(255,255,255,0.04);
            backdrop-filter: blur(15px);
            border-radius: 8px 8px 0 0;
            .meun-hide{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                .info{
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    font-size: 12px;
                    span{
                        height: 20px;
                        line-height: 20px;
                    }
                    .tolBetAcount{
                        .words{
                            opacity: 0.6;
                            font-size: 12px;
                            color: #F0F0F0;
                        }
                        .number{
                            font-size: 14px;
                            color: #F0F0F0;
                        }
                    }
                    .tolProfitable{
                        .words{
                            opacity: 0.6;
                            font-size: 12px;
                            color: #F0F0F0;
                        }
                        .number{
                            font-size: 14px;
                            color: #E7BB02;
                        }
                    }
                }
                .odds{
                    width: 72px;
                    height: 36px;
                    border: 1px solid #fff;
                    border-radius: 4px; 
                    opacity: 0.6;
                    font-size: 12px;
                    color: #E0EAEF;
                    font-weight: 400;
                    text-align: center;
                    margin-right: 8px;
                }
                .btn{
                    width: 120px;
                    height: 36px;
                    .btn-submit,.btn-changeodds{
                        display: block;
                        width: 120px;
                        height: 36px;
                        text-align: center;
                        line-height:36px ;
                        font-size: 16px;
                        color: #FFFFFF;
                    }
                } 
            }
        }

        .bet-list{
              .cart-list{
                background: rgba(255,255,255,0.1);
                .list{
                    position: relative;
                    border-bottom: 1px solid rgba(255,255,255,0.06);
                    &.same-match{
                        &::after{
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 14.5px;
                            width: 4px;
                            height: 78px;
                            background: #FF4B34;
                        }
                    }
                    .list-content{
                        position: relative;
                        padding: 12px 12px 0 36px;
                    }
                    .item{
                        display: flex;
                        flex-direction: column;
                    }
                    .item-info{
                        flex: 1;
                        .item_name{
                            .item_teams{
                                font-size: 12px !important;
                            }
                            .item_tournament_name{
                                font-size: 14px !important;
                            }
                            .item-line{
                                display: inline-block;
                                width: 1px;
                                height: 10px;
                                background: rgba(255,255,255,0.20);
                                border-radius: 1px; 
                                margin: 0 5px;
                            }
                            .game-name{
                                width: 16px;
                                height: 16px;
                                margin-right: 4px;
                                &.game-logo{
                                    margin-top: 2px;
                                    float: left;
                                    .logo{
                                        display: block;
                                        width: 120px;
                                        height: 120px;
                                        transform-origin: 0 0;
                                        transform: scale(16/120);
                                    }
                                }
                            }
                            .is_live{
                                margin-left: 12px;
                                font-size: 12px;
                                color: #ffffff;
                            }
                            .round{
                                padding: 0 2px 0 6px;
                                border-radius: 2px;
                                background: rgba(255,255,255,0.1);
                                font-size: 12px;
                                color: #ffffff;
                                text-align: center;
                                width: auto;
                                height: 16px;
                                padding: 0 4px;
                                line-height: 16px;
                                margin-left: 12px;
                                white-space: nowrap;
                            }
                        }  
                    }
                    .item-betItem{
                         margin: 8px 0;
                        .betItem{
                            display: flex;
                            justify-content: space-between;
                            min-height: 25px;
                            align-items: center;
                            padding: 4px 0;
                            position: relative;
                            &::after{
                                content: "";
                                position: absolute;
                                left: 3px;
                                height: 100%;
                                top: 15px;
                                width: 1px;
                                opacity: 0.4;
                                background: #FFFFFF;
                            }

                            &:last-child{
                                margin-bottom: 0;
                                &::after{
                                    display: none;
                                }
                            }
                            .betItem-left{
                                width: 230px;
                                display: flex;
                                .circle-status{
                                    display: inline-block;
                                    width: 7px;
                                    height: 7px;
                                    background: rgba(255,255,255,0.8);
                                    border-radius: 50%;
                                    margin-right: 12px;
                                    margin-top: 5px;
                                    &.circle-red{
                                        background: #FF4B34;
                                    }
                                }
                                .cn_name{
                                    color: rgba(255,255,255,0.6);
                                    font-size: 12px;
                                    font-weight: 400;
                                    line-height: 17px;
                                    width: 210px;
                                    &.line-red{
                                        b{
                                            border-bottom: 1px solid #FF4B34;
                                        }
                                       
                                    }
                                }
                            }
                            .betItem-right{
                                font-size: 12px;
                                color: rgba(255,255,255,0.8);
                                font-weight: 400;
                                display: flex;
                                align-items: center;
                                .bet-full{
                                    font-size: 12px;
                                    color: #FF4B34;
                                    margin-right: 8px;
                                    font-weight: 400;
                                }
                                .is_live{
                                    height: 16px;
                                }
                                .icon{
                                    width: 16px;
                                    height: 16px;
                                    margin-right: 8px;
                                }
                                .betItem-close{
                                    display: inline-block;
                                    width: 16px;
                                    height: 16px;
                                    margin-left: 16px;
                                }
                            }
                        }
                    }
                    .list-bet{
                        background: rgba(255,255,255,0.1);
                        border-radius: 4px;
                        padding: 8px 8px 4px 12px;
                        margin: 8px 12px 12px 12px;
                        .list-bet-odds{
                            display: flex;
                            justify-content: space-between;
                            padding-bottom: 5px;
                            .cross{
                                width: 97px;
                                height: 17px;
                                font-size: 12px;
                                color: #FFFFFF;
                                font-weight: 500; 
                            }
                            .odds{
                                color: #1FA2FF;
                            }
                            .maxOdds{
                                border-bottom: 1px solid #FF4B34;
                            }
                        }
                        
                    }
                    .item-odds{
                        width: 78px;
                        margin: 0 8px;
                        text-align: right;
                        font-size: 16px;
                        color: #0095FF;
                        line-height: 28px;
                        flex-direction: row;
                        justify-content: flex-end;
                        .iconfont{
                            display: inline-block;
                            width: 16px;
                            height: 16px;
                            margin-top: 6px;
                            // float: right;
                        }
                    }

                    .item-input{
                        height: 28px;
                        position: relative;
                        .profitable{
                            position: absolute;
                            top: 4px;
                            left: 0;
                            padding-right: 2px;
                            font-size: 14px;
                            text-align: right;
                            display: flex;
                            align-items: center;
                            .words{
                                opacity: 0.6;
                                color: #FFFFFF;
                                margin-right: 4px;
                            }
                            .number{
                                color: #E7BB02;
                                &.red{
                                    color: #FF4B34;
                                }
                            }
                        }
                        .input{
                            position: absolute;
                            right: 0;
                            
                        }
                    }

                    .colse-list{
                        position: absolute;
                        top: 14px;
                        left: 12px;
                        width: 16px;
                        height: 16px;
                    }

                }
                .order-tips{
                    height: 30px;
                    font-size: 12px;
                    color: #FF4B34;
                    text-align: center;
                    font-weight: 400;
                    padding-top: 8px;
                    // display: none;
                }
            }

            .list-scroll{
                max-height: 320px;
                overflow: auto;
            }
            .list-tips{
                background: rgba(255,255,255,0.04);
                p{
                    font-size: 14px;
                    color: #FF4B34;
                    width: 100%;
                    min-height: 44px;
                    border-bottom: 1px solid rgba(255,255,255,0.06);
                    // line-height: 44px;
                    padding: 0 16px 0 22px;
                    position: relative;
                    display: flex;
                    align-items: center;
                    &::after{
                        content: "";
                        position: absolute;
                        width: 2px;
                        height: 12px;
                        left: 16px;
                        top: 50%;
                        transform: translateY(-50%);
                        background: #FF4B34;
                    }
                }
            }
            .max-lens{
                width: 100%;
                height: 40px;
                background: rgba(255,75,52,0.30);
                text-align: center;
                line-height: 40px;
                font-size: 14px;
                color: #FFFFFF;
            }
        }

        @supports not (backdrop-filter: blur()){
            background-color:#1E2635;
            background-image: linear-gradient(to bottom right, #3c3c37, #333 , #4b4b45);
            &::before, &::after {
                display: none;
            }
            .list-header {
                background-image: linear-gradient(to bottom right, #336683, #87b7d2);
            }
            .cart-meun {
                background-color:#333;
                background-image: linear-gradient(to bottom right, #3c3c37, #333 , #4b4b45);
            }
        }
    }
</style>