<template>
	<div class="timer DIN" :class="[{'timer2':less_min},{'invalid':invalid}]" v-show="time">
		{{ time }}
	</div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
	data() {
		return {
			time: '',  //时间
			less_min: false, //是否小于1分钟
			timer_: null,  //计时器
			invalid: false, //失效
		};
	},
	mounted(){
		this.timerFormat();
	},
	computed:{
		...mapGetters([
			"serverTime",
			"localTime"
		])
	},
	watch: {
        mgt(v, ov) {
            this.timerFormat();
        },
    },
	props: ['mgt'],
	methods: {
		/**
		 * 倒计时
		 * @param {Number} remainingTime
		 */
		timerFormat(){
			const currentSysTime = (this.serverTime + (new Date().getTime() - this.localTime));
            let remainingTime = Number(this.mgt) - currentSysTime;
			if (remainingTime < 0) {
				this.$emit('time_over');
				return
			}

			//毫秒格式化为: 分钟'秒''
			const timeObj = new Date(Number(remainingTime));
			const minutes = String(timeObj.getMinutes()).padStart(2,'0');
            const seconds = String(timeObj.getSeconds()).padStart(2,'0');

			if (minutes == '00'){    //小于1分钟
				this.less_min = true;
			}
			if (minutes == '00'&& seconds < 11){    //小于10秒
				this.invalid = true;
				this.time = this.$t('betCart.timer.Invalid');
				clearTimeout(this.timer_)
				this.timer_ = null;
			}else{
				this.time = `${minutes}'${seconds}"`;
			}
			
			if(remainingTime > 0){
				this.timer_ = setTimeout(() => {
					this.timerFormat();
				},300);
			}
		}
	},
	destroyed() {
		clearTimeout(this.timer_)
		this.timer_ = null;
	},
}

</script>
<style lang="less" scoped>
.timer {
	width: 50px;
	height: 24px;
	background: #0095FF;
	border-radius: 4px;
	position: absolute;
	top: 58px;
	right: 0;
	font-size: 14px;
	color: #F0F0F0;
	text-align: center;
	line-height: 24px;
	&.timer2 {
		background: #FF4B34;
		border-radius: 4px;
	}
	&.invalid{
		background: rgba(255, 255, 255, 0.2);
		font-family: PingFangSC-Regular;
	}

}

</style>