<template>
  <transition name="fade">
    <div class="awardAnimate">
      <audio :src="awardMP3" controls="controls" ref="awardSound" hidden />
      <div class="AnimateContainer">
        <img src="@/assets/images/award/img_7.png" class="acBg" />
        <img src="@/assets/images/award/img_6.png" class="acManLeft" />
        <img src="@/assets/images/award/img_5.png" class="acManRight" />
        <div class="acWordTop">
          <div class="wordLine" v-html="$t('common.awardAnimate.jibai')"></div>
        </div>
        <div class="acWordBottom">
          <div class="wordLine" v-html="$t('common.awardAnimate.qiji')"></div>
        </div>
        <img src="@/assets/images/award/img_0.png" class="acBunLeft" />
        <img src="@/assets/images/award/img_0.png" class="acBunRight" />
        <div class="bubbleContainer"></div>
      </div>
    </div>
  </transition>
</template>

<script>
import awardMP3 from '@/assets/audios/award.mp3'
export default {
  name: "awardAnimate",
  data() {
    return {
      awardMP3
    }
  },
  created() {
    this.bubblesTimer = setInterval(this.createBubble, 60);
    this.bubblesNumbers = 0
    const {userInfo} = this.$store.state.user
    window.localStorage.setItem(`AWARD_ANIMATE_LAST_TIME_${userInfo.uid}`, new Date().getTime())
  },
  mounted() {
    this.$nextTick(() => {
      const body = document.querySelector('body');
      if (body.append) {
        body.append(this.$el)
      } else {
        body.appendChild(this.$el)
      }
      this.$refs.awardSound.currentTime = 0
      this.$refs.awardSound.play()
      this.closeTimer = setTimeout(() => this.$store.commit('SET_AWARD_ANIMATE_STATUS', false), 3000)
    })
  },
  beforeDestroy() {
    if (this.bubblesTimer) {
      clearInterval(this.bubblesTimer);
      this.bubblesTimer = null;
    }
    if (this.closeTimer) {
      clearTimeout(this.closeTimer);
      this.closeTimer = null;
    }
  },
  methods: {
    createBubble() {
      this.bubblesNumbers ++;
      if (this.bubblesNumbers > 25) {
        clearInterval(this.bubblesTimer);
        this.bubblesNumbers = 0
        return false;
      }
      const bubbleContainer = document.querySelector('.bubbleContainer');
      const bubble = document.createElement('span');
      const size = 1 + Math.random() * 5;
      bubble.style.width = size + 'px';
      bubble.style.height = size + 'px';
      bubble.style.left = Math.random() * 80 + 'vw';
      bubble.style.bottom = Math.random() * 5 + 'px';
      bubble.style.animationDuration = 1.6 - Math.random() * 0.6 +'s'
      bubble.style.animationDelay = 0.6 + Math.random() * 0.3 + 's';
      bubble.className = 'bubble'
      bubbleContainer.append(bubble)
      // setTimeout(() => bubble.remove(), 2000)
    }
  }
}
</script>

<style lang="less">
@baseWidth : 100vw;
@animTimes : 3s;
.awardAnimate {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.6);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  .AnimateContainer {
    position: relative;
    width: @baseWidth;
    height: @baseWidth;
    .acBg {
      width: @baseWidth;
      margin-top: 0.1 * @baseWidth;
      animation: bgAnim @animTimes ease-in-out;
      opacity: 0;
    }

    .acManLeft {
      position: absolute;
      left: 0;
      top: 0.01 * @baseWidth;
      z-index: 2;
      width: 0.52 * @baseWidth;
      animation: manLeftAnim @animTimes ease-in-out;
      opacity: 0;
    }
    .acManRight {
      position: absolute;
      right: -0.04 * @baseWidth;
      top: 0;
      z-index: 4;
      width: 0.73 * @baseWidth;
      animation: manRightAnim @animTimes ease-in-out;
      opacity: 0;
    }
    .acWordTop, .acWordBottom {
      font-family: DIN;
      color: #121212;
      font-size: 0.90 * 0.259 * 0.52 * @baseWidth;
      font-weight: bold;
      .wordLine {
        transform: rotate(-4deg);
        span {
          margin: -7px;
          display: inline-block;
          opacity: 0;
          animation: wordAnim 2s ease-in;
        }
      }
    }
    .acWordTop {
      width: 0.90 * @baseWidth;
      height: 0.90 * 0.259 * @baseWidth;
      line-height: 0.90 * 0.259 * 0.88* @baseWidth;
      box-sizing: border-box;
      padding-left: 0.90 * 0.06 * @baseWidth;
      text-align: left;
      background: url('~@/assets/images/award/img_2.png') no-repeat;
      background-size: 100%;
      position: absolute;
      left: 0.05 * @baseWidth;
      top: 0.53 * @baseWidth;
      z-index: 6;
      animation: wordTopAnim @animTimes ease-in-out;
      opacity: 0;

      span {
        &:nth-child(1) {
          animation-delay: 0.9s;
        }
        &:nth-child(2) {
          animation-delay: 0.95s;
        }
        &:nth-child(3) {
          animation-delay: 1s;
        }
        &:nth-child(4) {
          animation-delay: 1.1s;
        }
        &:nth-child(5) {
          animation-delay: 1.2s;
        }
      }
    }
    .acWordBottom {
      width: 0.7 * @baseWidth;
      height: 0.7 * 0.346 * @baseWidth;
      line-height: 0.7 * 0.346 * @baseWidth;
      box-sizing: border-box;
      padding-right: 0.90 * 0.03 * @baseWidth;
      text-align: right;
      background: url('~@/assets/images/award/img_1.png') no-repeat;
      background-size: 100%;
      position: absolute;
      left: 0.15 * @baseWidth;
      top: 0.68 * @baseWidth;
      z-index: 8;
      animation: wordBottomAnim @animTimes ease-in-out;
      opacity: 0;
      span {
        &:nth-child(1) {
          animation-delay: 1.1s;
        }
        &:nth-child(2) {
          animation-delay: 1.15s;
        }
        &:nth-child(3) {
          animation-delay: 1.2s;
        }
        &:nth-child(4) {
          animation-delay: 1.3s;
        }
        &:nth-child(5) {
          animation-delay: 1.4s;
        }
      }

    }
    .acBunLeft, .acBunRight {
      width: 0.18 * @baseWidth;
      height: 0.18 * 0.8 * @baseWidth;
      position: absolute;
      top: 0.83 * @baseWidth;
      left: 0.06 * @baseWidth;
      z-index: 10;
      opacity: 0;
    }
    .acBunLeft {
      animation: bunAnim 1.7s;
      animation-delay: 1.1s;
    }
    .acBunRight {
      top: 0.64 * @baseWidth;
      left: 0.8 * @baseWidth;
      animation: bunAnim 2s;
      animation-delay: 0.8s;
    }
    .bubbleContainer {
      width: 0.8 * @baseWidth;
      height: 0.65 * @baseWidth;
      position: absolute;
      top: -0.05 * @baseWidth;
      left: 0.1 * @baseWidth;
      z-index: 12;
      opacity: 0;
      animation: bubbleContainerAnim @animTimes ease-in-out;
      .bubble {
        display: block;
        position: absolute;
        bottom: 0;
        border-radius: 50%;
        // animation: bubbleAnim 1.3s linear;
        // animation-delay: 0.6s;
        animation-name: bubbleAnim;
        animation-timing-function: linear;
        background: #ffff00;
        opacity: 0;
        box-shadow: 0 0 5px #c67f08;
      }
    }
  }
}

@keyframes bgAnim {
  0% {
    opacity: 0;
    transform: translateX(-@baseWidth);
  }
  25% {
    opacity: 1;
    transform: translateX(0);
  }
  75% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(@baseWidth);
  }
}

@keyframes manLeftAnim {
  0% {
    opacity: 0;
    transform: translateX(-@baseWidth);
  }
  25% {
    opacity: 1;
    transform: translateX(0);
  }
  33% {
    opacity: 1;
    transform: translateY(-8px);
  }
  49% {
    transform: translateY(8px);
  }
  62% {
    transform: translateY(-4px);
  }
  78% {
    transform: translateY(4px);
  }
  80% {
    opacity: 1;
    transform: translateX(0) translateY(2px);
  }
  100% {
    opacity: 0;
    transform: translateX(-@baseWidth);
  }
}

@keyframes manRightAnim {
  0% {
    opacity: 0;
    transform: translateX(@baseWidth);
  }
  25% {
    opacity: 1;
    transform: translateX(0);
  }
  33% {
    opacity: 1;
    transform: translateY(-8px);
  }
  49% {
    transform: translateY(8px);
  }
  62% {
    transform: translateY(-4px);
  }
  78% {
    transform: translateY(4px);
  }
  80% {
    opacity: 1;
    transform: translateX(0) translateY(2px);
  }
  100% {
    opacity: 0;
    transform: translateX(@baseWidth);
  }
}

@keyframes wordTopAnim {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  22% {
    opacity: 1;
  }
  88% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(@baseWidth);
  }
}

@keyframes wordBottomAnim {
  0% {
    opacity: 0;
    transform: translateX(@baseWidth / 2);
  }
  15% {
    opacity: 0;
    transform: translateX(@baseWidth / 2);
  }
  22% {
    transform: translateX(0);
    opacity: 1;
  }
  88% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-@baseWidth);
  }
}

@keyframes bunAnim {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes bubbleAnim {
  0% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-@baseWidth*0.60);
  }
}

@keyframes bubbleContainerAnim {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  78% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes wordAnim {
  0% {
    opacity: 1;
    transform: scale(1.2);
  }
  10% {
    transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}
</style>